<template>
  <q-page>
    <!-- <q-btn-group push>
      <q-btn color="primary" push label="Acción 1" icon="timeline" />
      <q-btn push label="Acción 2" icon="visibility" />
      <q-btn text-color="primary" push label="Acción 3" icon="update" />
    </q-btn-group> -->
    <q-card class="q-pa-md">
      <FormHeader :title="title" :subtitle="subtitle"></FormHeader>
      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-input color="primary" v-model="form.name" label="Permiso" error-message="Ingrese un permiso de al menos 5 caracteres"
            :error="$v.form.name.$error" @blur="$v.form.name.$touch()" placeholder="Guardar usuario" outlined
            autofocus>
            <template v-slot:prepend>
              <q-icon color="primary" name="mail" />
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-input color="primary" v-model="form.description" label="Descripción" @blur="$v.form.description.$touch()"
          error-message="Ingrese descripción de al menos 10 caracteres" :error="$v.form.description.$error" placeholder="Permiso para guardar usuarios"
          outlined>
            <template v-slot:prepend>
              <q-icon color="primary" name="vpn_key" />
            </template>
          </q-input>
        </div>
      </div>
      <q-separator />

      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../mixins/form'
import FormHeader from 'components/FormHeader'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      title: 'Permisos',
      subtitle: 'Nuevo permiso',
      route: 'permissions',
      form: {
      }
    }
  },
  validations () {
    return {
      form: {
        name: { required, minLength: minLength(5), maxLength: maxLength(60) },
        description: { required, minLength: minLength(10), maxLength: maxLength(60) }
      }
    }
  }
}
</script>
