<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row q-pr-md">
            <div class="col-md-11 col-sm-11">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-1 col-sm-1" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.27')" label="guardar" rounded color="primary" size="md" @click="save">
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card-section class="q-pa-sm row">
        <q-card flat class="q-pa-sm row" style="width: 100%">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <!-- <q-input v-model="shrimp.name" label="Camaronera" outlined readonly /> -->
            <q-select v-model="form.shrimp_id" label="Camaronera" outlined :readonly="shrimpReadOnly" :options="shrimps"
            emit-value map-options option-label="name" option-value="id"/>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <!-- <q-input color="primary" label="Zona" outlined v-model="shrimp.zone.name" readonly/> -->
            <q-input color="primary" label="Zona" outlined :value="zoneName" readonly/>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-select v-model="form.applicant_id" color="primary" label="Solicitante" outlined
              error-message="Seleccione solicitante" :error="$v.form.applicant_id.$error"
              @blur="$v.form.applicant_id.$touch()" :options="applicants" emit-value map-options option-label="full_name"
              option-value="id"/>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="date" v-model="form.analysis_date" label="Fecha de análisis" outlined
              error-message="Ingrese fecha de análisis" stack-label
              :error="$v.form.analysis_date.$error" @blur="$v.form.analysis_date.$touch()">
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="date" v-model="form.delivery_date" label="Fecha de entrega" outlined
              error-message="Ingrese fecha de entrega válida" stack-label
              :error="$v.form.delivery_date.$error" @blur="$v.form.delivery_date.$touch()">
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="date" v-model="form.sampling_reception_date" label="Fecha de recepción de la muestra" outlined
              error-message="Ingrese fecha de recepción válida" stack-label
              :error="$v.form.sampling_reception_date.$error" @blur="$v.form.sampling_reception_date.$touch()">
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="textarea" v-model="form.observations" label="Observaciones" outlined stack-label
              :error-message="`Ingrese observaciones de hasta 1000 caracteres. ${form.observations ? form.observations.length : 0} caracteres ingresados.`"
              :error="$v.form.observations.$error" @blur="$v.form.observations.$touch()" autogrow
              >
                <template v-slot:hint>
                  {{ form.observations ? form.observations.length : 0 }}/1000 caracteres
                </template>
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="textarea" v-model="form.recommendations" label="Recomendaciones" outlined stack-label
              :error-message="`Ingrese observaciones de hasta 1000 caracteres. ${form.recommendations ? form.recommendations.length : 0} caracteres ingresados.`"
              :error="$v.form.recommendations.$error" @blur="$v.form.recommendations.$touch()" autogrow
              >
                <template v-slot:hint>
                  {{ form.recommendations ? form.recommendations.length : 0 }}/1000 caracteres
                </template>
            </q-input>
          </div>
        </q-card>
        <q-card v-show="canAddPool" class="q-pa-sm row" style="width: 100%" :bordered="false" flat>
          <div class="col-md-12 col-sm-12" style="text-align: end">
            <q-btn-dropdown v-if="can('2.1.1.1.27')" color="primary" icon="add" label="Añadir nueva piscina" rounded>
              <q-list>
                <q-item v-for="(pool, index) in pools" clickable v-close-popup :key="index"
                :disable="pool.disable" @click="addPool(pool)">
                  <q-item-section>
                    <q-item-label>{{ pool.description }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
        </q-card>
        <!-- <q-card v-for="(pool, index) in form.pools" flat class="q-pa-sm col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" :key="index">
          <div class="row">
            <div class="col-sm-11 col-md-11 col-lg-11">
              <q-btn color="primary" rounded :icon-right="pool.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
            @click="pool.expanded = !pool.expanded" :label="`${pool.description}`"/>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.27')" color="primary" round icon="delete" @click="deletePool(index)"></q-btn>
            </div>
          </div>
          <q-slide-transition>
            <div v-if="pool.expanded">
              <q-card flat class="my-card q-pa-md q-mt-md">
                <div class="row">
                  <div class="col-sm-2 col-md-2">
                    <label for="">
                      <b>Parámetros</b>
                      <q-icon name="help" color="primary" size="sm">
                        <q-tooltip>
                          Rangos óptimos
                          <table>
                            <tr>
                              <td>pH</td>
                              <td>7.5 - 8.5</td>
                            </tr>
                            <tr>
                              <td>Materia orgánica (%)</td>
                              <td>2.0 - 3.5</td>
                            </tr>
                          </table>
                        </q-tooltip>
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-sm">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input :color="pool.ph >= 7.5 && pool.ph <= 8.5 ? 'primary' : 'negative'" type="number" v-model.number="pool.ph" label="pH" outlined stack-label
                          error-message="Ingrese pH"
                          :error="$v.form.pools.$each[index].ph.$error"
                          @blur="$v.form.pools.$each[index].ph.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input :color="pool.organic_material >= 2 && pool.organic_material <= 3.5 ? 'primary' : 'negative'"
                          type="number" v-model.number="pool.organic_material" label="Materia orgánica (%)" outlined stack-label
                          error-message="Ingrese materia orgánica"
                          :error="$v.form.pools.$each[index].organic_material.$error"
                          @blur="$v.form.pools.$each[index].organic_material.$touch()"
                          />
                      </div>
                    </q-card>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <label for="">
                      <b>Observaciones</b>
                      <q-icon name="" color="primary" size="sm">
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-sm">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="textarea" v-model="pool.observations" label="Observaciones" outlined stack-label
                          :error-message="`Ingrese observaciones de hasta 1000 caracteres. ${pool.observations ? pool.observations.length : 0} caracteres ingresados.`"
                          :error="$v.form.pools.$each[index].observations.$error"
                          @blur="$v.form.pools.$each[index].observations.$touch()" autogrow
                        >
                        <template v-slot:hint>
                          {{ pool.observations ? pool.observations.length : 0 }}/1000 caracteres
                        </template>
                        </q-input>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                       <q-input type="textarea" v-model="pool.recommendations" label="Recomendaciones" outlined stack-label
                        :error-message="`Ingrese recomendaciones de hasta 1000 caracteres. ${pool.recommendations ? pool.recommendations.length : 0} caracteres ingresados.`"
                        :error="$v.form.pools.$each[index].recommendations.$error"
                        @blur="$v.form.pools.$each[index].recommendations.$touch()" autogrow
                      >
                      <template v-slot:hint>
                        {{ pool.recommendations ? pool.recommendations.length : 0 }}/1000 caracteres
                      </template>
                       </q-input>
                      </div>
                    </q-card>
                  </div>
                </div>
              </q-card>
            </div>
        </q-slide-transition>
        </q-card> -->
        <q-card class="q-pa-sm col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <q-tabs v-model="tab" dense class="text-grey" active-color="primary" indicator-color="primary"
            align="justify" narrow-indicator>
            <q-tab v-for="(pool, index) in form.pools" :key="pool.pool_id" :name="pool.pool_id" :label="pool.description" v-touch-hold.mouse="showPoolOptions(index)"/>
          </q-tabs>
          <q-separator />
          <q-tab-panels v-model="tab" animated>
            <q-tab-panel v-for="(pool, index) in form.pools" :key="pool.pool_id" :name="pool.pool_id">
              <div class="row">
              <div class="col-sm-8">
                <h6 class="text-grey">Nombre de piscina {{ pool.description }} Área: {{ pool.area }}</h6>
                <q-btn round color="primary" icon="help" @click="showHint = !showHint"/>
              </div>
              <div v-if="showHint" class="col-sm-4">
                <q-card flat bordered class="my-card">
                <q-card-section>
                  <div class="text-h6">Rangos óptimos</div>
                </q-card-section>

                <q-card-section class="q-pt-none">
                  <table>
                    <tr>
                              <td>pH</td>
                              <td>7.5 - 8.5</td>
                            </tr>
                            <tr>
                              <td>Materia orgánica (%)</td>
                              <td>2.0 - 3.5</td>
                            </tr>
                    <tr>
                              <td>Potencial Redox(mv)</td>
                              <td>>30</td>
                            </tr>
                            <tr>
                              <td>Sulfuros SH2(mg/L)</td>
                              <td>{{ sulfidesRange }}</td>
                            </tr>
                            <tr>
                              <td>Hierro(mg/L)</td>
                              <td>{{ ironRange }}</td>
                            </tr>
                  </table>
                </q-card-section>
              </q-card>
              </div>
            </div>
              <q-tabs v-model="tab2" dense class="text-grey" active-color="primary" indicator-color="primary"
                align="justify" narrow-indicator>
                <q-tab name="parameters" label="Parámetros" />
                <!-- <q-tab name="observations" label="Observaciones" /> -->
              </q-tabs>
              <q-separator />
              <q-tab-panels v-model="tab2" animated>
                <q-tab-panel name="parameters">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input :color="pool.ph >= 7.5 && pool.ph <= 8.5 ? 'primary' : 'negative'" type="number" v-model.number="pool.ph" label="pH" outlined stack-label
                          error-message="Ingrese pH"
                          :error="$v.form.pools.$each[index].ph.$error"
                          @blur="$v.form.pools.$each[index].ph.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input :color="pool.organic_material >= 2 && pool.organic_material <= 3.5 ? 'primary' : 'negative'"
                          type="number" v-model.number="pool.organic_material" label="Materia orgánica (%)" outlined stack-label
                          error-message="Ingrese materia orgánica"
                          :error="$v.form.pools.$each[index].organic_material.$error"
                          @blur="$v.form.pools.$each[index].organic_material.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <!-- <q-input :color="pool.redox_potential > 30 ? 'primary' : 'negative'"
                          type="number" v-model.number="pool.redox_potential" label="Potencial Redox(mv)" outlined
                          stack-label error-message="Ingrese Potencial Redox(mv)"
                          :error="$v.form.pools.$each[index].redox_potential.$error"
                          @blur="$v.form.pools.$each[index].redox_potential.$touch()"
                          /> -->
                          <q-field :color="pool.redox_potential > 30 ? 'primary' : 'negative'" outlined
                            v-model="pool.redox_potential" label="Potencial Redox(mv)"
                            error-message="Ingrese Potencial Redox(mv)" stack-label
                          :error="$v.form.pools.$each[index].redox_potential.$error"
                          @blur="$v.form.pools.$each[index].redox_potential.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <!-- <q-input :color="pool.sulfides < 0.1 ? 'primary' : 'negative'"
                          type="number" v-model.number="pool.sulfides" label="Sulfuros SH2(mg/L)" outlined stack-label
                          error-message="Ingrese Sulfuros SH2(mg/L)"
                          :error="$v.form.pools.$each[index].sulfides.$error"
                          @blur="$v.form.pools.$each[index].sulfides.$touch()"
                          /> -->
                          <q-field :color="pool.sulfides < 0.1 ? 'primary' : 'negative'" outlined
                            v-model="pool.sulfides" label="Sulfuros SH2(mg/L)" stack-label
                            error-message="Ingrese Sulfuros SH2(mg/L)"
                          :error="$v.form.pools.$each[index].sulfides.$error"
                          @blur="$v.form.pools.$each[index].sulfides.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <!-- <q-input :color="pool.iron < 0.3 ? 'primary' : 'negative'"
                          type="number" v-model.number="pool.iron" label="Hierro(mg/L)" outlined stack-label
                          error-message="Ingrese Hierro(mg/L)"
                          :error="$v.form.pools.$each[index].iron.$error"
                          @blur="$v.form.pools.$each[index].iron.$touch()"
                          /> -->
                          <q-field :color="pool.iron < 0.3 ? 'primary' : 'negative'" outlined
                            v-model="pool.iron" label="Hierro(mg/L)" stack-label
                            error-message="Ingrese Hierro(mg/L)"
                          :error="$v.form.pools.$each[index].iron.$error"
                          @blur="$v.form.pools.$each[index].iron.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                  </div>
                </q-tab-panel>
                <!-- <q-tab-panel name="observations">
                  <div class="row">
                     <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="textarea" v-model="pool.observations" label="Observaciones" outlined stack-label
                          :error-message="`Ingrese observaciones de hasta 1000 caracteres. ${pool.observations ? pool.observations.length : 0} caracteres ingresados.`"
                          :error="$v.form.pools.$each[index].observations.$error"
                          @blur="$v.form.pools.$each[index].observations.$touch()" autogrow
                        >
                        <template v-slot:hint>
                          {{ pool.observations ? pool.observations.length : 0 }}/1000 caracteres
                        </template>
                        </q-input>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 q-pb-md q-pr-md">
                       <q-input type="textarea" v-model="pool.recommendations" label="Recomendaciones" outlined stack-label
                        :error-message="`Ingrese recomendaciones de hasta 1000 caracteres. ${pool.recommendations ? pool.recommendations.length : 0} caracteres ingresados.`"
                        :error="$v.form.pools.$each[index].recommendations.$error"
                        @blur="$v.form.pools.$each[index].recommendations.$touch()" autogrow
                      >
                      <template v-slot:hint>
                        {{ pool.recommendations ? pool.recommendations.length : 0 }}/1000 caracteres
                      </template>
                       </q-input>
                      </div>
                  </div>
                </q-tab-panel> -->
              </q-tab-panels>
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import { required, maxLength } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../mixins/form'
import { mapGetters } from 'vuex'
export default {
  mixins: [FormMixin],
  components: {
  },
  data () {
    return {
      customerID: this.$route.params.id,
      shrimpId: this.$route.params.shrimpId !== 'undefined' ? this.$route.params.shrimpId : undefined,
      title: 'Análisis físico y químico de suelo',
      route: 'floor_analysis',
      form: {
        pools: []
      },
      customer: {},
      zones: [],
      shrimp: {
        zone: {}
      },
      shrimpReadOnly: false,
      shrimps: [],
      tab: '',
      tab2: 'parameters',
      showHint: false,
      sulfidesRange: '<0.1',
      ironRange: '<0.3',
      money2: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 2,
        masked: false
      }
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    canAddPool () {
      const pools = this.form.shrimp_id && this.shrimps.length ? (this.shrimps.find(val => val.id === parseInt(this.form.shrimp_id))).pools : []
      return this.form.pools.length < pools.length
    },
    zoneName () {
      return this.form.shrimp_id && this.shrimps.length ? this.shrimps.find(val => val.id === this.form.shrimp_id).zone.name : ''
    },
    applicants () {
      return this.form.shrimp_id && this.shrimps.length ? this.shrimps.find(val => val.id === this.form.shrimp_id).contacts : []
    },
    pools () {
      // Obtengo las piscinas de la camaronera seleccionada
      const pools = this.form.shrimp_id && this.shrimps.length ? (this.shrimps.find(val => val.id === parseInt(this.form.shrimp_id))).pools : []
      const added = []
      this.form.pools.forEach(element => {
        pools.forEach(element2 => {
          if (element.pool_id === element2.id) {
            added.push(element.pool_id)
          }
        })
      })
      // Retorno las piscinas disponibles
      return pools.filter(val => added.indexOf(val.id) === -1)
    }
  },
  validations () {
    return {
      form: {
        zone_id: { },
        applicant_id: { required },
        analysis_date: { required },
        delivery_date: {
          required,
          minValue: (value) => {
            return value >= this.form.analysis_date
          }
        },
        sampling_reception_date: {},
        observations: { maxLength: maxLength(1000) },
        recommendations: { maxLength: maxLength(1000) },
        pools: {
          $each: {
            pool_id: { required },
            ph: {},
            organic_material: {},
            redox_potential: {},
            sulfides: {},
            iron: {}
          }
        }
      }
    }
  },
  async mounted () {
    this.getShrimp()
  },
  methods: {
    showPoolOptions (index) {
      const vm = this
      return function (props) {
        vm.$q.bottomSheet({
          message: 'Acciones sobre piscina',
          actions: [
            {
              color: 'primary',
              label: 'Eliminar',
              icon: 'delete',
              id: 'deletePool'
            }
          ]
        }).onOk(action => {
          console.log('Action chosen:', action.id)
          vm[action.id](index)
        })
      }
    },
    deletePool (index) {
      this.$q.dialog({
        title: 'Confirmar',
        message: '¿Realmente desea eliminar la piscina del análisis?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.form.pools.splice(index, 1)
      })
    },
    afterSave (response = undefined) {
      if (response) {
        this.$api.get(`floor_analysis_print/${response.id}`).then(res => {
        })
      }
    },
    afterGetRecord () {
      // Si ya hay piscinas guardadas asignar al tab la primera que encuentre
      this.tab = this.form.pools.length ? this.form.pools[0].pool_id : ''
    },
    async getShrimp () {
      /* this.$api.get(`shrimps/${this.shrimpId}`).then(res => {
        if (res) {
          this.shrimp = res
          this.applicants = res.contacts
        }
      }) */
      this.shrimps = await this.$api.getData('shrimps')
      if (this.shrimpId) {
        this.$set(this.form, 'shrimp_id', parseInt(this.shrimpId))
        this.shrimpReadOnly = true // Si se recibió la camaronera para el análisis colocar el campo de solo lectura
      }
    },
    addPool (pool) {
      this.form.pools.unshift({
        pool_id: pool.id,
        description: pool.description,
        expanded: true,
        area: pool.area
      })
      this.tab = pool.id
      // this.setAvailablePools()
    }
  }
}
</script>
