<template>
  <q-page>
    <q-card class="q-pa-md">
      <FormHeader :title="title" :subtitle="subtitle" :save="save" />
      <br>
      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pt-md">
          <q-card flat bordered>
            <q-card-section class="">
              <div class="text-subtitle2" :style="$v.form.roles.$error ? 'color: red' : 'color: black'">Roles <small>Seleccione al menos un rol</small></div>
            </q-card-section>
            <q-list>
              <q-item tag="label" v-ripple v-for="(role, index) in roles" :key="index">
                <q-item-section avatar>
                  <q-checkbox v-model="form.roles" :val="role.id" color="primary" @input="verifySelectedRoles" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ role.name }}</q-item-label>
                  <q-item-label caption>{{ role.description }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-card>
        </div>
        <div v-if="isTechnicalAdvisor && insert" class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pt-md">
          <q-select color="primary" v-model="form.technical_advisor" :options="technicalAdvisors" label="Asesor técnico"
            emit-value map-options outlined hint="Seleccione un asesor técnico" error-message="Seleccione un asesor técnico"
            use-input input-debounce="0" @filter="technicalAdvisorsFilterFn" :error="$v.form.technical_advisor.$error"
            @blur="$v.form.technical_advisor.$touch()" option-label="full_name" option-value="id" hide-selected fill-input
            @input="changeTechnicalAdvisor">
          </q-select>
        </div>
        <div v-if="isTechnicalChief && insert" class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pt-md">
          <q-select color="primary" v-model="form.technical_chief" :options="technicalChiefs" label="Jefe técnico"
            emit-value map-options outlined hint="Seleccione un jefe técnico" error-message="Seleccione un jefe técnico"
            use-input input-debounce="0" @filter="technicalChiefsFilterFn" :error="$v.form.technical_chief.$error"
            @blur="$v.form.technical_chief.$touch()" option-label="full_name" option-value="id" hide-selected fill-input
            @input="changeTechnicalChief"
            >
          </q-select>
        </div>
        <div v-if="isCustomer && insert" class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pt-md">
          <q-select color="primary" v-model="form.customer" :options="customers" label="Cliente"
            emit-value map-options outlined hint="Seleccione un cliente" error-message="Seleccione un cliente"
            use-input input-debounce="0" @filter="customersFilterFn" :error="$v.form.customer.$error"
            @blur="$v.form.customer.$touch()" option-label="legal_name" option-value="id" hide-selected fill-input
            @input="changeCustomer"
            >
          </q-select>
        </div>
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-input type="email" color="primary" v-model="form.email" label="Correo" error-message="Ingrese correo válido"
            :error="$v.form.email.$error" @blur="$v.form.email.$touch()" placeholder="correo@example.com" @input="toLow"
            hint="Ingrese correo válido" outlined autofocus :disable="isTechnicalAdvisor || isTechnicalChief">
            <template v-slot:prepend>
              <q-icon color="primary" name="mail" />
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-input type="password" color="primary" v-model="form.password" label="Contraseña" @blur="$v.form.password.$touch()"
          error-message="Ingrese contraseña mayor a 6 caracteres" :error="$v.form.password.$error" placeholder="********"
          hint="Ingrese contraseña mayor a 6 caracteres" outlined>
            <template v-slot:prepend>
              <q-icon color="primary" name="vpn_key" />
            </template>
          </q-input>
        </div>
      </div>
      <q-separator />

      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { required, requiredIf, email, minLength, maxLength } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../mixins/form'
import FormHeader from 'components/FormHeader'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      title: 'Usuarios',
      subtitle: 'Nuevo usuario',
      route: 'users',
      form: {
        roles: []
      },
      roles: [],
      technicalAdvisors: [],
      stringTechnicalAdvisors: [],
      technicalChiefs: [],
      stringTechnicalChiefs: [],
      customers: [],
      stringCustomers: []
    }
  },
  computed: {
    isTechnicalChief () {
      return this.form.roles.find(val => val === 2) !== undefined
    },
    isTechnicalAdvisor () {
      return this.form.roles.find(val => val === 3) !== undefined
    },
    isCustomer () {
      return this.form.roles.find(val => val === 4) !== undefined
    }
  },
  validations () {
    return {
      form: {
        email: { required, email },
        password: { required, minLength: minLength(6), maxLength: maxLength(60) },
        roles: { required },
        technical_advisor: {
          required: requiredIf(function (model) {
            return this.isTechnicalAdvisor && this.insert
          })
        },
        technical_chief: {
          required: requiredIf(function (model) {
            return this.isTechnicalChief && this.insert
          })
        },
        customer: {
          required: requiredIf(function (model) {
            return this.isCustomer && this.insert
          })
        }
      }
    }
  },
  mounted () {
    this.getRoles()
    this.getTechnicalAdvisors()
    this.getTechnicalChiefs()
    this.getCustomers()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Usuarios',
        icon: 'person',
        to: '/users'
      },
      {
        label: 'Nuevo Usuario',
        icon: 'person',
        to: 'users/form'
      }
    ])
  },
  methods: {
    getRoles () {
      this.$api.get('roles').then(res => {
        if (res) {
          this.roles = res
        }
      })
    },
    getTechnicalAdvisors () {
      this.$api.get('technical_advisors', { params: { status: true, user_id: 0 } }).then(res => {
        if (res) {
          this.technicalAdvisors = res
          this.stringTechnicalAdvisors = res
        }
      })
    },
    getTechnicalChiefs () {
      this.$api.get('technical_chiefs', { params: { status: true, user_id: 0 } }).then(res => {
        if (res) {
          this.technicalChiefs = res
          this.stringTechnicalChiefs = res
        }
      })
    },
    getCustomers () {
      this.$api.get('customers', { params: { user_id: 0 } }).then(res => {
        if (res) {
          this.customers = res.data
          this.stringCustomers = res.data
        }
      })
    },
    technicalAdvisorsFilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.technicalAdvisors = this.stringTechnicalAdvisors
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.technicalAdvisors = this.stringTechnicalAdvisors.filter(v => v.full_name.toLowerCase().indexOf(needle) > -1)
      })
    },
    technicalChiefsFilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.technicalChiefs = this.stringTechnicalChiefs
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.technicalChiefs = this.stringTechnicalChiefs.filter(v => v.full_name.toLowerCase().indexOf(needle) > -1)
      })
    },
    customersFilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.customers = this.stringCustomers
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.customers = this.stringCustomers.filter(v => v.comercial_name.toLowerCase().indexOf(needle) > -1)
      })
    },
    verifySelectedRoles () {
      // Verifico si marco al mismo tiempo los roles de asesor y jefe. Esto no es posible
      const res = this.form.roles.filter(val => val === 2 || val === 3 || val === 4)
      if (res.length >= 2) {
        this.$q.notify({
          type: 'info',
          position: 'center',
          message: 'Un usuario no puede ser Asesor técnico, Jefe técnico o cliente al mismo tiempo. Solo un rol a la vez'
        })
        this.form.roles.pop()
      }
    },
    changeTechnicalAdvisor () {
      this.form.email = (this.technicalAdvisors.find(val => val.id === this.form.technical_advisor)).company_mail
    },
    changeTechnicalChief () {
      this.form.email = (this.technicalChiefs.find(val => val.id === this.form.technical_chief)).company_mail
    },
    toLow (value) {
      this.form.email = value.toLowerCase()
    }
  }
}
</script>
