<template>
  <q-page>
    <div>
      <listable :title="title" :buttons="buttons" :cols="cols" route="claimsByIdSale"/>
    </div>
  </q-page>
</template>

<script>
import Listable from 'components/Listable'
export default {
  components: { Listable },
  data () {
    return {
      title: 'Reclamos',
      buttons: [
        {
          label: 'Nuevo', icon: 'add', color: 'primary', url: '/claims/new/', action: ''
        }
      ],
      cols: [
        { name: 'description', required: true, label: 'Descripcion', align: 'left', field: 'description', sortable: true },
        { name: 'deductibleUsaIn', required: true, label: 'Deducible dentro de USA', align: 'left', field: 'deductibleUsaIn', sortable: true },
        { name: 'deductibleUsaOut', required: true, label: 'Deducible fuera de USA', align: 'left', field: 'deductibleUsaOut', sortable: true },
        { name: 'total', required: true, label: 'Total', align: 'left', field: 'total', sortable: true }
      ]
    }
  },
  mounted () {
  }
}
</script>
<style>
</style>
