<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11 col-sm-10">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }}</b></div>
            </div>
            <div class="col-md-1 col-sm-2 q-pr-lg" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.29.8')" label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar proyección
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card-section class="q-pa-sm row">
        <q-card flat class="q-pa-sm row" style="width: 100%">
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
            <q-select v-model="form.shrimp_id" label="Camaronera" outlined filled :options="shrimps" option-value="id"
            option-label="name" emit-value map-options @input="resetPool"
            error-message="Seleccione camaronera" :error="$v.form.shrimp_id.$error"
              @blur="$v.form.shrimp_id.$touch()"/>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
            <q-select v-model="form.pool_id" label="Piscina" outlined filled :options="pools" option-value="id"
            option-label="description" emit-value map-options error-message="Seleccione piscina"
            :error="$v.form.pool_id.$error"
              @blur="$v.form.pool_id.$touch()"/>
          </div>
          <!-- <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
            <q-input v-model="pool.description" label="Piscina" outlined readonly filled bg-color="light-green-3" />
          </div> -->
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
              <q-input color="primary" label="Hectáreas" outlined :value="poolHa" readonly filled bg-color="light-green-3"/>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
            <q-input type="date" v-model="form.report_date" color="primary" label="Fecha reporte" outlined
              error-message="Ingrese valor" :error="$v.form.report_date.$error"
              @blur="$v.form.report_date.$touch()" stack-label/>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
            <q-input type="date" v-model="form.seedtime" label="Fecha de siembra" outlined
              error-message="Ingrese fecha de siembra" stack-label
              :error="$v.form.seedtime.$error" @blur="$v.form.seedtime.$touch()">
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
            <!-- <q-input v-model="form.density" label="Densidad" outlined
              error-message="Ingrese cantidad válida" stack-label
              :error="$v.form.density.$error" @blur="$v.form.density.$touch()">
            </q-input> -->
            <q-field
              color="primary"
              outlined
              v-model="form.density"
              label="Densidad"
              :error="$v.form.density.$error" error-message="Ingrese cantidad válida"
              @blur="$v.form.density.$touch()"
            >
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                  <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                </template>
              </q-field>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
            <q-input type="number" v-model="form.sowing_weight" label="Peso siembra" outlined
            :error="$v.form.sowing_weight.$error" @blur="$v.form.sowing_weight.$touch()" error-message="Ingrese peso de siembra" />
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
              <q-input :value="days" label="Días" outlined readonly filled bg-color="light-green-3"/>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
              <q-input type="number" v-model.number="form.dry_days" label="Días seco" outlined
            :error="$v.form.dry_days.$error" @blur="$v.form.dry_days.$touch()" error-message="Ingrese valor" />
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
              <q-input type="number" v-model="form.weight" label="Peso" outlined
            :error="$v.form.weight.$error" @blur="$v.form.weight.$touch()" error-message="Ingrese valor" />
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
            <q-input type="number" v-model="form.mp" label="M/P" outlined
            :error="$v.form.mp.$error" @blur="$v.form.mp.$touch()" error-message="Ingrese valor" suffix="%"/>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
              <!-- <q-input type="number" v-model="form.kg_acum" label="Kg Alim Acum" outlined
            :error="$v.form.kg_acum.$error" @blur="$v.form.kg_acum.$touch()" error-message="Ingrese valor" /> -->
            <q-field
              color="primary"
              outlined
              v-model="form.kg_acum"
              label="Kg Alim Acum"
              :error="$v.form.kg_acum.$error" error-message="Ingrese cantidad válida"
              @blur="$v.form.kg_acum.$touch()"
            >
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                  <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                </template>
              </q-field>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
              <q-input type="number" v-model="form.last_four" label="4Ult" outlined
            :error="$v.form.last_four.$error" @blur="$v.form.last_four.$touch()" error-message="Ingrese valor" />
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
              <q-input type="number" :value="initialGrowth" label="Crec Inicio" outlined readonly filled bg-color="light-green-3"/>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
              <q-input type="number" v-model="form.cur_kg_ha" label="Kg/ha actual" outlined
            :error="$v.form.cur_kg_ha.$error" @blur="$v.form.cur_kg_ha.$touch()" error-message="Ingrese valor" />
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
              <q-input type="number" :value="currentFc" label="FC actual" outlined readonly filled bg-color="light-green-3"/>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
            <!-- <q-input type="number" :value="currentPoundsHa" label="lbs/Ha actual" outlined readonly filled bg-color="light-green-3"/> -->
              <q-field
              color="primary"
              outlined
              :value="currentPoundsHa"
              label="lbs/Ha actual"
              bg-color="light-green-3"
            >
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                  <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                </template>
              </q-field>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 q-pr-xs">
              <q-input type="textarea" v-model="form.observations" label="Observaciones" autogrow outlined/>
          </div>
        </q-card>
        <q-card class="q-pa-sm row" style="width: 100%; justify-content: space-between" :bordered="false" flat>
          <!-- <div v-if="can('2.1.1.1.29.14')" class="col-auto" style="text-align: end">
            <q-btn color="primary" label="Costos" rounded @click="openCostProjection" :disabled="!form.shrimpProjection"/>
          </div> -->
          <div class="col-auto" style="text-align: end">
            <q-btn v-if="can('2.1.1.1.29.12') && form.projections.length < 3" color="primary" label="Añadir Proyección" rounded @click="addProjection"/>
          </div>
          <!-- <div v-if="projectionId && can('2.1.1.1.29.10')" class="col-auto" style="text-align: end">
            <q-btn color="primary" icon="add" label="Agregar reporte" @click="addReport" rounded/>
          </div> -->
        </q-card>
        <q-card v-if="form.projections.length" class="q-pa-md" style="width: 100%">
          <div class="text-h6 text-primary"><b>Proyecciones</b></div>
          <!-- <q-scroll-area
            horizontal
            :visible="true"
            style="height: 800px; min-width:320px;"
          > -->
          <div class="row no-wrap">
            <q-card v-for="(item, key) in form.projections" class="q-pa-md row col-sm-6" :key="key">
              <div class="row col-md-12 col-sm-12">
                <q-btn class="float-right" v-if="can('2.1.1.1.29.11')" color="primary" icon="delete" @click="deleteProjection(key)" flat rounded dense>
                <q-tooltip>
                  Eliminar proyección
                </q-tooltip>
              </q-btn>
              </div>

              <q-select class="q-pb-xs col-md-12 col-sm-12" type="number" v-model="item.thinning" label="Raleo" outlined
                stack-label :options="thinningOptions" emit-value map-options
                :error="$v.form.projections.$each[key].thinning.$error" @blur="$v.form.projections.$each[key].thinning.$touch()"/>

              <!-- Con RALEO -->
              <template v-if="item.thinning">
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" :value="thinningDate(key).valueF" label="Fecha de Raleo" outlined stack-label
                  readonly filled bg-color="light-green-3"/>
                <q-field class="q-pb-xs q-pr-xs col-md-4 col-sm-4" :value="poundsThinning(key)" label="Libras de Raleo" outlined stack-label
                  filled bg-color="light-green-3"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-input class="q-pb-xs col-md-4 col-sm-4" type="number" v-model="item.pounds_ha_thinning" label="Lbs/Ha Raleo" outlined
                  error-message="Ingrese valor" stack-label :error="$v.form.projections.$each[key].pounds_ha_thinning.$error"
                  @blur="$v.form.projections.$each[key].pounds_ha_thinning.$touch()"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" v-model="item.weight_thinning" label="Peso Raleo" outlined
                  error-message="Ingrese valor" stack-label :error="$v.form.projections.$each[key].weight_thinning.$error"
                  @blur="$v.form.projections.$each[key].weight_thinning.$touch()"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" outlined stack-label prefix="$"
                  :value="priceThinning(key).valueF" label="Precio Raleo" readonly filled bg-color="light-green-3"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4" :value="harvestDate(key).dateF" label="Fecha de Cosecha" outlined stack-label
                  readonly filled bg-color="light-green-3"/>
                <q-field class="q-pb-xs col-md-4 col-sm-4 q-pr-xs" :value="poundsHarvest(key).valueF" label="Libras de Cosecha" outlined stack-label
                  filled bg-color="light-green-3"
                >
                <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" v-model="item.weight"
                label="Peso Cosecha" outlined stack-label :error="$v.form.projections.$each[key].weight.$error"
                @blur="$v.form.projections.$each[key].weight.$touch()"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4" type="number" :value="price(key).valueF" prefix="$"
                  label="Precio Cosecha" outlined stack-label readonly filled bg-color="light-green-3"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" v-model="item.must_growth" label="Debe crecer" outlined
                  stack-label :error="$v.form.projections.$each[key].must_growth.$error" @blur="$v.form.projections.$each[key].must_growth.$touch()"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" outlined stack-label readonly filled suffix="%"
                  :value="(harvestSurvival(key)*100).toFixed(2)" label="% Sup Cosecha" bg-color="light-green-3"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4" type="number" v-model="item.kg_ha_day"
                  label="Kg/Ha día" outlined stack-label :error="$v.form.seedtime.$error" @blur="$v.form.seedtime.$touch()"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4" type="number" :value="fc(key)" label="FC" outlined stack-label
                  readonly filled bg-color="light-green-3"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" v-model="item.youth_cost" label="cost Juvenil"
                  outlined stack-label :error="$v.form.seedtime.$error" @blur="$v.form.seedtime.$touch()" prefix="$"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" v-model="item.fixed_cost" label="cost fijo"
                  outlined stack-label :error="$v.form.seedtime.$error" @blur="$v.form.seedtime.$touch()" prefix="$"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4" type="number" v-model="item.dollar_bag" label="$ Saco" outlined
                  stack-label :error="$v.form.seedtime.$error" @blur="$v.form.seedtime.$touch()" prefix="$"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4 q-pr-xs" type="number" label="$/Kg Alim" prefix="$"
                  :value="dollarKgAlim(key).valueF" outlined stack-label readonly filled bg-color="light-green-3"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" :value="totalDays(key).valueF" label="Días"
                  outlined stack-label readonly filled bg-color="light-green-3"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4" type="number" :value="remainingDays(key).valueF"
                  label="dias faltan" outlined stack-label readonly filled bg-color="light-green-3"/>
                <q-field class="q-pb-xs q-pr-xs col-md-4 col-sm-4" :value="kgPerFood(key).valueF" label="Kg*alim"
                  outlined stack-label filled bg-color="light-green-3"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-field class="q-pb-xs q-pr-xs col-md-4 col-sm-4" :value="totalKilosFood(key).valueF" label="Total kilos alim" outlined
                  stack-label filled bg-color="light-green-3"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-field class="q-pb-xs col-md-4 col-sm-4" :value="poundsHaHarvest(key).valueF"
                  label="lbs/Ha Cosecha" outlined stack-label filled bg-color="light-green-3"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-field class="q-pb-xs q-pr-xs col-md-4 col-sm-4" :value="poundsHaTotal(key)" label="lbs/Ha Total" outlined
                  stack-label readonly filled bg-color="light-green-3"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-field class="q-pb-xs q-pr-xs col-md-4 col-sm-4" :value="totalPounds(key)" label="Libras Totales" outlined
                  stack-label readonly filled bg-color="light-green-3"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-input class="q-pb-xs col-md-4 col-sm-4" type="number" :value="survivalTotal(key)" label="%Sup Total"
                  outlined stack-label readonly filled bg-color="light-green-3" suffix="%"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" :value="averageWeight(key)" label="Peso Prom"
                  outlined stack-label readonly filled bg-color="light-green-3"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" :value="growth(key)" label="Crec" outlined
                  stack-label readonly filled bg-color="light-green-3"/>
                <q-field class="q-pb-xs q-pr-xs col-md-4 col-sm-4" :value="totalCost(key)" label="Costo total" outlined stack-label filled
                  bg-color="light-green-3" prefix="$"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" :value="averagePrice(key).valueF"
                  label="Precio Prom" outlined stack-label readonly filled bg-color="light-green-3" prefix="$"/>
                <q-field class="q-pb-xs col-md-4 col-sm-4" :value="sale(key)" label="Venta" outlined stack-label
                  filled bg-color="light-green-3" prefix="$"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-field class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" :value="profit(key)" label="Utilidad" outlined stack-label
                  readonly filled bg-color="light-green-3" prefix="$"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-field class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" :value="profitHa(key)" label="Util/Ha" outlined stack-label
                  readonly filled bg-color="light-green-3" prefix="$"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>

                <q-input class="q-pb-xs col-md-4 col-sm-4" type="number" :value="profitDayHa(key)" label="Util/día/Ha" outlined stack-label
                  readonly filled bg-color="light-green-3" prefix="$"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" :value="poundCost(key)" label="Cost/lb" outlined stack-label
                  readonly filled bg-color="light-green-3" prefix="$"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" :value="poundMargin(key)" label="margen * lb" outlined stack-label
                  readonly filled bg-color="light-green-3" prefix="$"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4" type="number" :value="roi(key)" label="ROI" outlined stack-label
                  readonly filled bg-color="light-green-3"/>
              </template>

              <!-- Sin RALEO -->
              <template v-if="!item.thinning">
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" :value="harvestDate(key).dateF" label="Fecha de Cosecha" outlined stack-label
                  readonly filled bg-color="light-green-3"/>
                <q-field class="q-pb-xs col-md-4 col-sm-4 q-pr-xs" :value="poundsHarvest(key).valueF" label="Libras de Cosecha" outlined stack-label
                  filled bg-color="light-green-3"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-input class="q-pb-xs col-md-4 col-sm-4" type="number" v-model="item.weight" label="Peso" outlined
                  stack-label :error="$v.form.projections.$each[key].weight.$error"
                @blur="$v.form.projections.$each[key].weight.$touch()"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4 q-pr-xs" type="number" :value="price(key).valueF" prefix="$"
                  label="Precio" outlined stack-label readonly filled bg-color="light-green-3"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" v-model="item.must_growth" label="Debe crecer"
                  outlined stack-label :error="$v.form.projections.$each[key].must_growth.$error" @blur="$v.form.projections.$each[key].must_growth.$touch()"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4" v-if="!item.thinning" type="number" v-model="item.survival" suffix="%"
                  label="% Sup" outlined stack-label :error="$v.form.seedtime.$error" @blur="$v.form.seedtime.$touch()"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" v-model="item.kg_ha_day" label="Kg/Ha día" outlined
                  stack-label :error="$v.form.seedtime.$error" @blur="$v.form.seedtime.$touch()"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4" type="number" :value="fc(key)" label="FC" outlined stack-label
                  readonly filled bg-color="light-green-3"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" v-model="item.youth_cost" label="cost Juvenil"
                  outlined stack-label :error="$v.form.seedtime.$error" @blur="$v.form.seedtime.$touch()" prefix="$"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4" type="number" v-model="item.fixed_cost" label="cost fijo"
                  outlined stack-label :error="$v.form.seedtime.$error" @blur="$v.form.seedtime.$touch()" prefix="$"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" v-model="item.dollar_bag" label="$ Saco" outlined stack-label :error="$v.form.seedtime.$error"
                  @blur="$v.form.seedtime.$touch()" prefix="$"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4 q-pr-xs" type="number" label="$/Kg Alim" outlined stack-label
                  :value="dollarKgAlim(key).valueF" readonly filled bg-color="light-green-3" prefix="$"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4" type="number" :value="totalDays(key).valueF" label="Días"
                  outlined stack-label readonly filled bg-color="light-green-3"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4 q-pr-xs" type="number" :value="remainingDays(key).valueF"
                  label="dias faltan" outlined stack-label readonly filled bg-color="light-green-3"/>
                <q-field class="q-pb-xs q-pr-xs col-md-4 col-sm-4" :value="kgPerFood(key).valueF" label="Kg*alim"
                  outlined stack-label filled bg-color="light-green-3"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-field class="q-pb-xs col-md-4 col-sm-4" :value="totalKilosFood(key).valueF" label="Total kilos alim" outlined
                  stack-label filled bg-color="light-green-3"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" :value="growth(key)" label="Crec" outlined stack-label
                  readonly filled bg-color="light-green-3"/>
                <q-field class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" :value="poundsHa(key)" label="lbs/Ha" outlined stack-label
                  readonly filled bg-color="light-green-3"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-field class="q-pb-xs q-pr-xs col-md-4 col-sm-4" :value="totalCost(key)" label="Costo total" outlined stack-label filled
                  bg-color="light-green-3" prefix="$"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-field class="q-pb-xs q-pr-xs col-md-4 col-sm-4" :value="sale(key)" label="Venta" outlined stack-label
                  filled bg-color="light-green-3" prefix="$"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-field class="q-pb-xs col-md-4 col-sm-4" type="number" :value="profit(key)" label="Utilidad" outlined stack-label
                  readonly filled bg-color="light-green-3" prefix="$"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-field class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" :value="profitHa(key)" label="Util/Ha" outlined stack-label
                  readonly filled bg-color="light-green-3" prefix="$"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                  </template>
                </q-field>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" :value="profitDayHa(key)" label="Util/día/Ha" outlined stack-label
                  readonly filled bg-color="light-green-3" prefix="$"/>
                <q-input class="q-pb-xs col-md-4 col-sm-4" type="number" :value="poundCost(key)" label="Cost/lb" outlined stack-label
                  readonly filled bg-color="light-green-3" prefix="$"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" :value="poundMargin(key)" label="margen * lb" outlined stack-label
                  readonly filled bg-color="light-green-3" prefix="$"/>
                <q-input class="q-pb-xs q-pr-xs col-md-4 col-sm-4" type="number" :value="roi(key)" label="ROI" outlined stack-label
                  readonly filled bg-color="light-green-3" suffix="%"/>
                <div class="col-md-12">
                  <br><br><br>
                </div>
                <div class="col-md-12">
                   <br><br><br>
                </div>
                <div class="col-md-12">
                   <br><br><br>
                </div>
              </template>
            </q-card>
          </div>
          <div v-if="form.lastFourGrowth" class="q-pt-md">Crecimiento en 4 últimas semanas: <b>{{ form.lastFourGrowth }}</b></div>
          <!-- </q-scroll-area> -->
        </q-card>
        <!-- Card Proyección de camarón -->
        <q-card v-if="form.shrimpProjection" class="q-pa-md" style="width: 100%">
          <div class="text-h6 text-primary"><b>Proyección</b></div>
          <div class="row">
            <div class="col-md-4 q-pr-xs">
              <q-input label="Peso cosecha" :value="form.shrimpProjection.harvest_weight" readonly filled bg-color="light-green-3" />
            </div>
            <div class="col-md-4 q-pr-xs">
              <q-input label="Debe crec" :value="form.shrimpProjection.mustGrow" readonly filled bg-color="light-green-3" />
            </div>
            <div class="col-md-4">
              <q-input label="Libras" :value="form.shrimpProjection.pounds" readonly filled bg-color="light-green-3" />
            </div>
            <div class="col-md-4 q-pr-xs">
              <q-input label="% Sup" :value="form.shrimpProjection.percent_sup" readonly filled bg-color="light-green-3" />
            </div>
            <div class="col-md-4 q-pr-xs">
              <q-input label="Días faltan" :value="form.shrimpProjection.daysLeft" readonly filled bg-color="light-green-3" />
            </div>
            <div class="col-md-4">
              <q-input label="Lbs Ha" :value="form.shrimpProjection.poundsHas" readonly filled bg-color="light-green-3" />
            </div>
            <div class="col-md-4 q-pr-xs">
              <q-input label="Día cosecha" :value="form.shrimpProjection.harvestDay" readonly filled bg-color="light-green-3" />
            </div>
            <div class="col-md-4">
              <q-input label="Días totales" :value="form.shrimpProjection.totalDays" readonly filled bg-color="light-green-3" />
            </div>
          </div>
        </q-card>
      </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
import { FormMixin } from '../../mixins/form'
import { mapGetters } from 'vuex'
import { date } from 'quasar'
export default {
  mixins: [FormMixin],
  components: {
  },
  data () {
    return {
      id: this.$route.params.id,
      shrimpId: this.$route.params.shrimpsId,
      projectionId: this.$route.params.projectionId,
      title: 'Proyección de pesca',
      route: 'fishing_projections',
      form: {
        projections: []
        /* projections: [
          {
            weight: 20,
            must_growth: 1.30,
            survival: 60,
            kg_ha_day: 38,
            dollar_bag: 23.1,
            youth_cost: 7,
            fixed_cost: 21
          }
        ],
        density: 102367,
        seedtime: '2021-03-11',
        report_date: '2021-04-25',
        sowing_weight: 0.45,
        dry_days: 5,
        weight: 12.65,
        mp: 65,
        kg_acum: 18675,
        last_four: 1.30,
        cur_kg_ha: 35.86 */
      },
      typeOptions: [
        {
          id: 1,
          name: 'Directa'
        },
        {
          id: 2,
          name: 'Transferida'
        },
        {
          id: 3,
          name: 'Bifásica'
        },
        {
          id: 4,
          name: 'Trifásica'
        }
      ],
      showAddReport: false,
      growthReport: {
      },
      showAddReportType: 'add',
      showAddShrimpProjection: false,
      shrimpProjection: {},
      showAddCostProjection: false,
      costProjection: {},
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 0,
        masked: false
      },
      shrimpPricesRanges: [],
      thinningOptions: [
        {
          label: 'Sin raleo',
          value: 0
        },
        {
          label: 'Con raleo',
          value: 1
        }
      ],
      shrimps: [],
      shrimp: undefined,
      // pools: [],
      pool: ''
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    subtitle () {
      return this.projectionId ? 'Ver proyección' : 'Nueva proyección'
    },
    density () {
      return this.form.qty ? (this.form.qty / this.pool.area).toFixed() : 0
    },
    initialBiomass () {
      return this.form.qty && this.form.sowing_weight ? ((this.form.qty * this.form.sowing_weight) / 454).toFixed() : 0
    },
    age () {
      const date1 = this.form.growthReports[0] ? new Date(this.form.growthReports[0].date) : new Date()
      const date2 = new Date(this.form.seedtime)
      return this.form.seedtime ? date.getDateDiff(date1, date2, 'days') : 0
    },
    days () {
      const date1 = this.form.report_date ? new Date(this.form.report_date) : new Date()
      const date2 = new Date(this.form.seedtime)
      return this.form.report_date && this.form.seedtime ? date.getDateDiff(date1, date2, 'days') + 1 : 0
    },
    initialGrowth () {
      // (C15-C12)/C13*7
      return this.form.weight && this.form.sowing_weight && this.days ? ((this.form.weight - this.form.sowing_weight) / this.days * 7).toFixed(2) : ''
    },
    currentFc () {
      // (C17*2.2046)/((C11*C9*C15*C16/454)-(C11*C9*C12/454))
      return ((this.form.kg_acum * 2.2046) / ((this.form.density * this.poolHa * this.form.weight * (this.form.mp / 100) / 454) - (this.form.density * this.poolHa * this.form.sowing_weight / 454))).toFixed(2)
    },
    currentPoundsHa () {
      // C11*C16*C15/454
      return (this.form.density * (this.form.mp / 100) * this.form.weight / 454).toFixed()
    },
    pools () {
      // console.log('ComputedPools', this.form.shrimp_id, this.shrimps.length)
      return this.form.shrimp_id && this.shrimps.length ? this.shrimps.find(val => val.id === this.form.shrimp_id).pools : []
      // return []
    },
    poolHa () {
      console.log('this.form.pool_id', this.form.pool_id)
      return this.form.pool_id && this.pools.length ? this.pools.find(val => val.id === this.form.pool_id).area : ''
    }
  },
  validations () {
    return {
      id: '',
      form: {
        shrimp_id: { required },
        pool_id: { required },
        report_date: { required },
        seedtime: { required },
        density: { required },
        sowing_weight: { required },
        dry_days: { required },
        weight: { required },
        mp: { required },
        kg_acum: { required },
        last_four: { required },
        cur_kg_ha: { required },
        projections: {
          $each: {
            thinning: { required },
            pounds_ha_thinning: {},
            weight: { required },
            must_growth: { required },
            weight_thinning: {}
          }
        }
      }
    }
  },
  async created () {
    /* this.$api.get('cost_benefit_projections_shrimp_ranges').then(res => {
      this.shrimpPricesRanges = res
    }) */
    const res = await this.$api.getData('cost_benefit_projections_shrimp_ranges')
    this.shrimpPricesRanges = res
  },
  async mounted () {
    this.getShrimps()
  },
  methods: {
    async getShrimps () {
      /* this.$api.get('shrimps').then(res => {
        if (res) {
          this.shrimps = res
        }
      }) */
      const res = await this.$api.getData('shrimps')
      if (res) {
        this.shrimps = res
      }
    },
    afterMounted () {
      if (this.id) {
        // this.form.shrimp_id = this.form.pool.shrimp_id
        this.$set(this.form, 'shrimp_id', this.form.pool.shrimp_id)
      }
    },
    beforeSave () {
      // this.form.pool_id = this.pool.id
      /*
      if ((this.form.id !== undefined) && (this.form.growthReports.length > 4)) {
        this.$api.get('Print_Fishing/' + this.form.id).then(res => {
        })
      } */
    },
    addReport () {
      this.showAddReport = true
      this.showAddReportType = 'add'
      this.growthReport = {}
    },
    editReport (report) {
      this.showAddReport = true
      this.showAddReportType = 'edit'
      this.growthReport = { ...report }
    },
    saveGrowthReport () {
      this.$v.growthReport.$touch()
      if (!this.$v.growthReport.$error) {
        this.$q.loading.show()
        if (this.showAddReportType === 'add') { // Nuevo reporte
          this.growthReport.fishing_projection_id = this.projectionId
          this.$api.post('growth_reports', this.growthReport).then(res => {
            if (res) {
              this.getRecord()
              this.showAddReport = false
              this.growthReport = {}
              this.$v.growthReport.$reset()
            }
            this.$q.loading.hide()
          })
        } else { // Editar reporte
          this.$api.put(`growth_reports/${this.growthReport.id}`, this.growthReport).then(res => {
            if (res) {
              this.getRecord()
              this.showAddReport = false
              this.growthReport = {}
              this.$v.growthReport.$reset()
            }
            this.$q.loading.hide()
          })
        }
      }
    },
    openShrimpProjection () {
      this.showAddShrimpProjection = true
      if (this.form.shrimpProjection) {
        this.shrimpProjection = { ...this.form.shrimpProjection }
      } else {
        this.shrimpProjection = {}
      }
    },
    saveShrimpProjection () {
      this.$v.shrimpProjection.$touch()
      if (!this.$v.shrimpProjection.$error) {
        this.$q.loading.show()
        this.shrimpProjection.fishing_projection_id = this.projectionId
        if (this.shrimpProjection.id) {
          this.$api.put(`shrimp_projections/${this.shrimpProjection.id}`, this.shrimpProjection).then(res => {
            if (res) {
              this.getRecord()
              this.showAddShrimpProjection = false
              this.shrimpProjection = {}
              this.$v.shrimpProjection.$reset()
            }
            this.$q.loading.hide()
          })
        } else {
          this.$api.post('shrimp_projections', this.shrimpProjection).then(res => {
            if (res) {
              this.getRecord()
              this.showAddShrimpProjection = false
              this.shrimpProjection = {}
              this.$v.shrimpProjection.$reset()
            }
            this.$q.loading.hide()
          })
        }
      }
    },
    openCostProjection () {
      this.showAddCostProjection = true
      if (this.form.costProjection) {
        this.costProjection = this.form.costProjection
      } else {
        this.costProjection = {}
      }
    },
    saveCostProjection () {
      this.$v.costProjection.$touch()
      if (!this.$v.costProjection.$error) {
        this.$q.loading.show()
        this.costProjection.fishing_projection_id = this.projectionId
        if (this.costProjection.id) {
          this.$api.put(`cost_projections/${this.costProjection.id}`, this.costProjection).then(res => {
            if (res) {
              this.getRecord()
              this.showAddCostProjection = false
              this.costProjection = {}
              this.$v.costProjection.$reset()
            }
            this.$q.loading.hide()
          })
        } else {
          this.$api.post('cost_projections', this.costProjection).then(res => {
            if (res) {
              this.getRecord()
              this.showAddCostProjection = false
              this.costProjection = {}
              this.$v.costProjection.$reset()
            }
            this.$q.loading.hide()
          })
        }
      }
    },
    addProjection () {
      this.form.projections.push({})
    },
    harvestDate (index) {
      // C8+(((F9-C15)/F11)*7)
      const date1 = this.form.report_date ? new Date(this.form.report_date) : new Date()
      const daysToDiff = (((this.form.projections[index].weight - this.form.weight) / this.form.projections[index].must_growth) * 7)

      const days = this.form.projections[index].thinning ? daysToDiff : daysToDiff
      return {
        dateF: date.formatDate(date.addToDate(date1, { seconds: days * 24 * 3600 }), 'DD/MM/YYYY'),
        date: date.addToDate(date1, { seconds: days * 24 * 3600 })
      }
      // return this.form.report_date && this.form.seedtime ? date.getDateDiff(date1, date2, 'days') + 1 : 0
    },
    poundsHarvest (index) {
      // sin raleo C9*C11*F12*F9/454, con raleo E10*E13*B7*B5/454
      if (this.form.projections[index].thinning) {
        return {
          valueF: (this.form.projections[index].weight * (this.harvestSurvival(index)) * this.form.density * this.pool.area / 454).toFixed(),
          value: (this.form.projections[index].weight * (this.harvestSurvival(index)) * this.form.density * this.pool.area / 454)
        }
      } else { // Sin RALEO C9*C11*F12*F9/454
        return {
          valueF: (this.pool.area * this.form.density * (this.form.projections[index].survival / 100) * this.form.projections[index].weight / 454).toFixed(),
          value: (this.pool.area * this.form.density * (this.form.projections[index].survival / 100) * this.form.projections[index].weight / 454)
        }
      }
    },
    totalDays (index) {
      // F7-C10+1
      const harvestDateL = new Date(this.harvestDate(index).date)
      const seedTime = new Date(this.form.seedtime)
      // return F7-C10+1
      const inc = this.form.projections[index].thinning ? 1 : 1
      return {
        value: (date.getDateDiff(harvestDateL, seedTime, 'seconds') / 3600 / 24) + inc,
        valueF: ((date.getDateDiff(harvestDateL, seedTime, 'seconds') / 3600 / 24) + inc).toFixed()
      }
    },
    growth (index) {
      // (I9-C12)/F18*7 sin raleo
      if (this.form.projections[index].thinning) {
        return (this.form.projections[index].weight / this.totalDays(index).value * 7).toFixed(2)
      } else {
        return ((this.form.projections[index].weight - this.form.sowing_weight) / this.totalDays(index).value * 7).toFixed(2)
      }
    },
    poundsHa (index) {
      // I8/C9
      return (this.poundsHarvest(index).value / this.pool.area).toFixed()
    },
    remainingDays (index) {
      // F7-C8
      const harvestDateL = new Date(this.harvestDate(index).date)
      const reportDate = new Date(this.form.report_date)
      const inc = this.form.projections[index].thinning ? 0 : 0
      return {
        value: (date.getDateDiff(harvestDateL, reportDate, 'seconds') / 3600 / 24) + inc,
        valueF: ((date.getDateDiff(harvestDateL, reportDate, 'seconds') / 3600 / 24) + inc).toFixed()
      }
    },
    kgPerFood (index) {
      // Sin raleo F19*F13*C9, con raleo
      if (this.form.projections[index].thinning) {
        // return ((E3-B4)*B16*B5)+(E14*B5*(E8-E3))

        // (E3-B4) resta de fechas
        const reportDate = new Date(this.form.report_date)
        const datesDiff1 = date.getDateDiff(this.thinningDate(index).value, reportDate, 'seconds') / 3600 / 24
        // (E8-E3) Resta de fechas
        const harvestDateL = new Date(this.harvestDate(index).date)
        const thinningDateL = new Date(this.thinningDate(index).value)
        const datesDiff2 = date.getDateDiff(harvestDateL, thinningDateL, 'seconds') / 3600 / 24

        return {
          valueF: ((datesDiff1 * this.form.cur_kg_ha * this.pool.area) + (this.form.projections[index].kg_ha_day * this.pool.area * datesDiff2)).toFixed(),
          value: ((datesDiff1 * this.form.cur_kg_ha * this.pool.area) + (this.form.projections[index].kg_ha_day * this.pool.area * datesDiff2))
        }
      } else {
        return {
          valueF: (this.remainingDays(index).value * this.form.projections[index].kg_ha_day * this.pool.area).toFixed(),
          value: (this.remainingDays(index).value * this.form.projections[index].kg_ha_day * this.pool.area)
        }
      }
    },
    totalKilosFood (index) {
      // F20+C17
      return {
        value: (parseFloat(this.kgPerFood(index).value) + this.form.kg_acum).toFixed(2),
        valueF: (parseFloat(this.kgPerFood(index).value) + this.form.kg_acum).toFixed()
      }
    },
    fc (index) {
      // (F21*2.2046)/(I8-((C11*C12*C9)/454)) sin raleo
      if (this.form.projections[index].thinning) {
        // (E22*2,2046)/(H8+E4)
        return ((this.totalKilosFood(index).value * 2.2046) / (parseFloat(this.poundsHarvest(index).value) + parseFloat(this.poundsThinning(index)))).toFixed(2)
      } else {
        return ((this.totalKilosFood(index).value * 2.2046) / (this.poundsHarvest(index).value - ((this.form.density * this.form.sowing_weight * this.pool.area) / 454))).toFixed(2)
      }
    },
    dollarKgAlim (index) {
      // F16/25
      return {
        valueF: (this.form.projections[index].dollar_bag / 25).toFixed(2),
        value: (this.form.projections[index].dollar_bag / 25)
      }
    },
    totalCost (index) {
      // ((F21*F17)+(C11/1000*F14)+((F18+C14)*F15)*C9) Sin raleo

      if (this.form.projections[index].thinning) {
        // ((E22*E18)+(B7/1000*E15)+((E19+B10)*E16)*B5)
        return (((this.totalKilosFood(index).value * this.dollarKgAlim(index).value) + (this.form.density / 1000 * this.form.projections[index].youth_cost) + ((this.totalDays(index).value + this.form.dry_days) * this.form.projections[index].fixed_cost) * this.pool.area)).toFixed()
      } else {
        return (((this.totalKilosFood(index).value * this.dollarKgAlim(index).value) + (this.form.density / 1000 * this.form.projections[index].youth_cost) + ((this.totalDays(index).value + this.form.dry_days) * this.form.projections[index].fixed_cost) * this.pool.area)).toFixed()
      }
    },
    price (index) {
      let priceRecord
      const weight = this.form.projections[index].weight
      if (weight >= 8 && weight <= 9.5) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 1)
      } else if (weight >= 10 && weight <= 11.5) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 2)
      } else if (weight >= 12 && weight <= 13.5) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 3)
      } else if (weight >= 14 && weight <= 16) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 4)
      } else if (weight >= 17 && weight <= 20) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 5)
      } else if (weight >= 21 && weight <= 25) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 6)
      } else if (weight >= 26 && weight <= 31) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 7)
      } else {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 8)
      }
      const lastPrice = priceRecord ? priceRecord.lastPrice : 0
      const averageSize = priceRecord ? priceRecord.average_size : 1
      return {
        valueF: (((lastPrice * weight / averageSize) / 2.2046)).toFixed(2),
        value: (((lastPrice * weight / averageSize) / 2.2046))
      }
    },
    priceThinning (index) {
      let priceRecord
      const weight = this.form.projections[index].weight_thinning
      if (weight >= 8 && weight <= 9.5) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 1)
      } else if (weight >= 10 && weight <= 11.5) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 2)
      } else if (weight >= 12 && weight <= 13.5) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 3)
      } else if (weight >= 14 && weight <= 16) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 4)
      } else if (weight >= 17 && weight <= 20) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 5)
      } else if (weight >= 21 && weight <= 25) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 6)
      } else if (weight >= 26 && weight <= 31) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 7)
      } else {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 8)
      }

      const lastPrice = priceRecord ? priceRecord.lastPrice : 0
      const averageSize = priceRecord ? priceRecord.average_size : 1
      return {
        valueF: (((lastPrice * weight / averageSize) / 2.2046)).toFixed(2),
        value: (((lastPrice * weight / averageSize) / 2.2046))
      }
    },
    sale (index) {
      // ((I8*0.95)+(I8*0.05*0.66))*I15 sin raleo

      if (this.form.projections[index].thinning) {
        // =(((H8*0,95)+(H8*0,05*0,66))*H22)+((E4*0,95)+(E4*0,05*0,66)*E7)
        return ((((this.poundsHarvest(index).value * 0.95) + (this.poundsHarvest(index).value * 0.05 * 0.66)) * this.averagePrice(index).value) + ((this.poundsThinning(index) * 0.95) + (this.poundsThinning(index) * 0.05 * 0.66) * this.priceThinning(index).value)).toFixed()
      } else {
        return (((this.poundsHarvest(index).value * 0.95) + (this.poundsHarvest(index).value * 0.05 * 0.66)) * this.price(index).value).toFixed()
      }
    },
    profit (index) {
      // I17-I16
      return (this.sale(index) - this.totalCost(index)).toFixed()
    },
    profitHa (index) {
      // I18/C9
      // this.form.projections[index].profitHa = this.profit(index) / this.pool.area
      return (this.profit(index) / this.pool.area).toFixed()
    },
    profitDayHa (index) {
      // I18/F18/C9
      return (this.profit(index) / this.totalDays(index).value / this.pool.area).toFixed(2)
    },
    poundCost (index) {
      // I16/I8
      if (this.form.projections[index].thinning) {
        return (this.totalCost(index) / this.totalPounds(index)).toFixed(2)
      } else {
        return (this.totalCost(index) / this.poundsHarvest(index).value).toFixed(2)
      }
    },
    poundMargin (index) {
      // I15-I21
      if (this.form.projections[index].thinning) {
        return this.poundCost ? (this.averagePrice(index).value - this.poundCost(index)).toFixed(2) : 0
      } else {
        return this.poundCost ? (this.price(index).value - this.poundCost(index)).toFixed(2) : 0
      }
    },
    roi (index) {
      // I18/I16
      return (this.profit(index) / this.totalCost(index) * 100).toFixed()
    },
    poundsThinning (index) {
      // E5*B5
      return (this.form.projections[index].pounds_ha_thinning * this.pool.area).toFixed()
    },
    harvestSurvival (index) {
      // (B12-(E4*454/E6/(B5*B7)))*0.9
      return (((this.form.mp / 100) - (this.poundsThinning(index) * 454 / this.form.projections[index].weight_thinning / (this.pool.area * this.form.density))) * 0.9)
    },
    thinningDate (index) {
      // B4+(E6-B11)/(B14/7)

      const date1 = this.form.report_date ? new Date(this.form.report_date) : new Date()
      const days = (this.form.projections[index].weight_thinning - this.form.weight) / (this.form.last_four / 7)
      return {
        value: date.addToDate(date1, { seconds: days * 24 * 3600 }),
        valueF: date.formatDate(date.addToDate(date1, { seconds: days * 24 * 3600 }), 'DD/MM/YYYY')
      }
    },
    deleteProjection (index) {
      this.form.projections.splice(index, 1)
    },
    poundsHaTotal (index) {
      // (H8+E4)/B5
      return ((parseFloat(this.poundsHarvest(index).value) + parseFloat(this.poundsThinning(index))) / this.pool.area).toFixed()
    },
    totalPounds (index) {
      // E9+E4
      return parseFloat(this.poundsHarvest(index).value) + parseFloat(this.poundsThinning(index))
    },
    survivalTotal (index) {
      // ((H8*454/E10)+(E4*454/E6))/(B7*B5)
      return (((parseFloat(this.poundsHarvest(index).value) * 454 / this.form.projections[index].weight) + (parseFloat(this.poundsThinning(index)) * 454 / this.form.projections[index].weight_thinning)) / (this.form.density * this.pool.area) * 100).toFixed(2)
    },
    averageWeight (index) {
      // ((E4*454)+(H8*454))/((E4*454/E6)+(H8*454/H9))
      return (((parseFloat(this.poundsThinning(index)) * 454) + (parseFloat(this.poundsHarvest(index).value) * 454)) / ((parseFloat(this.poundsThinning(index)) * 454 / this.form.projections[index].weight_thinning) + (parseFloat(this.poundsHarvest(index).value) * 454 / this.form.projections[index].weight))).toFixed(2)
    },
    averagePrice (index) {
      // ((H8*H20)+(E4*E7))/(H8+E4)
      return {
        valueF: (((parseFloat(this.poundsHarvest(index).value) * parseFloat(this.price(index).value)) + (parseFloat(this.poundsThinning(index)) * this.priceThinning(index).value)) / (parseFloat(this.poundsHarvest(index).value) + parseFloat(this.poundsThinning(index)))).toFixed(2),
        value: (((parseFloat(this.poundsHarvest(index).value) * parseFloat(this.price(index).value)) + (parseFloat(this.poundsThinning(index)) * this.priceThinning(index).value)) / (parseFloat(this.poundsHarvest(index).value) + parseFloat(this.poundsThinning(index))))
      }
    },
    priceHarvest (index) {
      return 1
    },
    poundsHaHarvest (index) {
      // H8/B5
      return {
        value: parseFloat(this.poundsHarvest(index).value) / this.pool.area,
        valueF: (parseFloat(this.poundsHarvest(index).value) / this.pool.area).toFixed()
      }
    },
    resetPool () {
      this.$set(this.form, 'pool_id', '')
    }
  }
}
</script>
<style lang="css">
div.a {
  border: 1px solid black;
}
</style>
