<template>
  <q-page>
    <div>
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <q-btn class="q-ma-sm" v-if="can('2.1.1.1.29.8')" round icon="add" color="primary" size="md"
              :to="`/fishing_projections/list/form`">
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>

      <div class="q-pa-sm">
        <div class="col-12">
          <q-select class="q-pa-sm" label="Ordenar por" v-model="sortType" @input="sort"
          :options="[{label: 'Más recientes', value: 1}, {label: 'Más antiguos', value: 2}]" emit-value map-options/>
        </div>
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Código</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Piscina</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Siembra</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Asesor técnico</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Últ Modificación</b>
            </div>
          </q-card-section>
          <q-separator color="grey-4" />
          <q-list>
            <q-item class="row" v-for="(analysis, index) in analysis" :key="index" @click="showRecordOptions(analysis)" clickable>
              <div class="col">
                <p class="text-grey-7">{{ analysis.id || 'Registro local'}}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.pool ? analysis.pool.description : '' }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.seedtime }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.technicalAdvisor ? analysis.technicalAdvisor.full_name : '' }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.updated_at }}</p>
              </div>
            </q-item>
          </q-list>
            <q-separator color="grey-4" />
          </q-card>
        </div>
    </div>
    <q-dialog v-model="showLink">
        <q-card>
          <q-card-section>
            <div class="text-h6">Enlace para compartir</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <a :href="link" target="_blank">{{ link }}</a>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn color="primary" flat @click="copyClipboard">Copiar</q-btn>
            <q-btn flat label="Cerrar" color="primary" v-close-popup/>
          </q-card-actions>
        </q-card>
      </q-dialog>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import { ListMixin } from '../../mixins/list'

export default {
  mixins: [ListMixin],
  data () {
    return {
      id: this.$route.params.id,
      shrimpId: this.$route.params.shrimpId,
      params: {
        shrimp_id: this.$route.params.shrimpId
      },
      pagination: {
        page: 1,
        rowsPerPage: 10
      },
      buttons: [
        {
          label: 'Nuevo', icon: 'add', color: 'primary', url: `${this.$route.path}/form`, action: '', permission: '2.1.1.1.27'
        }
      ],
      cols: [
        { name: 'id', required: true, label: 'Código', align: 'left', field: 'id', sortable: true },
        { name: 'technical_advisor', required: true, label: 'Asesor técnico', align: 'left', field: row => row.user.technical_advisor.full_name, sortable: true },
        { name: 'pools', required: true, label: 'Piscinas', align: 'left', field: 'pools', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ],
      text: '',
      analysis: [],
      stringAnalysis: [],
      showLink: false,
      link: '',
      downloadUrl: 'Print_Fishing',
      downloadFilename: 'Proyeccion pesca',
      shrimp: {},
      sortType: 1
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    title () {
      return this.shrimp ? `Proyecciones de pesca - Camaronera ${this.shrimp.name}` : ''
    }
  },
  mounted () {
    this.getRecords()
    this.getShrimp()
  },
  methods: {
    async getRecords () {
      this.$q.loading.show()
      /* this.$api.get('fishing_projections', { params: this.params }).then(res => {
        this.$q.loading.hide()
        this.analysis = res
        this.stringAnalysis = res
      }) */
      const res = await this.$api.getData('fishing_projections', { params: this.params })
      this.$q.loading.hide()
      this.analysis = res
      this.stringAnalysis = res
    },
    filter () {
      if (this.text === '') {
        this.analysis = this.stringAnalysis
        return
      }
      const needle = this.text.toLowerCase()
      this.analysis = JSON.parse(JSON.stringify(this.stringAnalysis))
      this.analysis = this.stringAnalysis.filter(val => {
        return val.id.toString().indexOf(needle) > -1 ||
        val.technicalAdvisor.full_name.toLowerCase().indexOf(needle) > -1 ||
        val.pools.toLowerCase().indexOf(needle) > -1
      })
    },
    printCostBenefitReport (projectionId) {
      this.$api.get(`cost_benefit_projections_print/${projectionId}`).then(res => {
        if (res) {
          this.$api.get(`filepdf/${res}`, { responseType: 'blob' }).then(res2 => {
            const blob = new Blob([res2])
            const ext = res.split('.')
            this.ext = ext[ext.length - 1]
            const fileName = 'Reporte de proyeccion costo-beneficio.pdf'
            this.fileName = fileName

            if (this.$q.platform.is.mobile) { // Si es teléfono
              // this.saveBlob2File(fileName, blob)
            } else { // Si es navegador
              const url = window.URL.createObjectURL(blob)
              const link = document.createElement('a')
              link.href = url
              link.setAttribute('download', fileName)
              document.body.appendChild(link)
              link.click()
            }
            this.$q.loading.hide()
          }).catch(function (error) {
            console.log('error descargando', error)
          })
        }
      })
    },
    generateLinkGrowthReport (id) {
      this.$api.get(`cost_benefit_projections_print/${id}`).then(res => {
        if (res) {
          console.log('res', `${process.env.apiUrl}filepdf/${res}`)
          this.link = `${process.env.apiUrl}filepdf/${res}`
          this.showLink = true
        }
      })
    },
    showRecordOptions (analysis) {
      this.$q.bottomSheet({
        message: `Acciones proyección de pesca ${analysis.id}`,
        actions: [
          {
            color: 'primary',
            label: 'Editar',
            icon: 'edit',
            id: 'edit'
          },
          {
            color: 'primary',
            label: 'Enviar Mail',
            icon: 'mail',
            id: 'mail'
          },
          {
            color: 'primary',
            label: 'Descargar',
            icon: 'file_download',
            id: 'download'
          }/* ,
          {
            color: 'primary',
            label: 'Ver enlace',
            icon: 'link',
            id: 'getLink'
          } */
        ]
      }).onOk(action => {
        console.log('Action chosen:', action.id)
        this[action.id](analysis.id || analysis.provisionalId)
      }).onCancel(() => {
        // console.log('Dismissed')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    download (analisysId) {
      this.$q.loading.show({ message: 'Descargando archivo...' })
      /* this.$api.get(`${this.downloadUrl}/${analisysId}`).then(file => {
        var vm = this
        if (file) {
          this.$api.get(`filepdf/${file}`, { responseType: 'blob' }).then(res => {
            const blob = new Blob([res])
            let ext = file.split('.')
            ext = ext[ext.length - 1]
            const fileName = `${this.downloadFilename} ${analisysId}.${ext}`
            this.fileName = fileName

            if (this.$q.platform.is.mobile) { // Si es teléfono
              console.log('es telfono')
              this.saveBlob2File(fileName, blob)
            }
            this.$q.loading.hide()
            this.$q.notify({
              type: 'positive',
              message: 'Archivo disponible en descargas. ' + fileName
            })
          }).catch(function (error) {
            console.log('error descargando', error)
            vm.$q.loading.hide()
            vm.$q.notify({
              type: 'negative',
              message: 'Error descargando archivo'
            })
          })
        } else { // Algún error de servidor
          this.$q.loading.hide()
        }
      }) */

      this.$api.get(`${this.downloadUrl}/${analisysId}`, { responseType: 'blob' }).then(res => {
        const blob = new Blob([res])
        // let ext = file.split('.')
        // ext = ext[ext.length - 1]
        this.ext = 'xlsx'
        const fileName = `${this.downloadFilename} ${analisysId}.${this.ext}`
        this.fileName = fileName

        if (this.$q.platform.is.mobile) { // Si es teléfono
          console.log('es telfono')
          this.saveBlob2File(fileName, blob)
        } else {
          // Si es navegador
          const url = window.URL.createObjectURL(blob)
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', fileName)
          document.body.appendChild(link)
          link.click()
          link.remove()
        }
        this.$q.loading.hide()
        this.$q.notify({
          type: 'positive',
          message: 'Archivo disponible en descargas. ' + fileName
        })
        this.$q.loading.hide()
      })
    },
    async getShrimp () {
      /* this.$api.get(`shrimps/${this.shrimpId}`).then(res => {
        if (res) {
          this.shrimp = res
          console.log('shrimp', this.shrimp)
        }
      }) */
      const res = await this.$api.getData(`shrimps/${this.shrimpId}`)
      if (res) {
        this.shrimp = res
        console.log('shrimp', this.shrimp)
      }
    },
    sort () { // 1 descendente, 2 ascedente
      if (this.sortType === 1) {
        this.analysis.sort((a, b) => parseFloat(b.id) - parseFloat(a.id))
      } else {
        this.analysis.sort((a, b) => parseFloat(a.id) - parseFloat(b.id))
      }
    }
  }
}
</script>
<style>
</style>
