<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }}</b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.11')" label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar análisis
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card-section class="q-pa-sm row">
        <q-card flat class="q-pa-sm row" style="width: 100%;">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 q-pb-md q-pr-md">
            <q-input v-model="shrimp.name" label="Camaronera" outlined readonly />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 q-pb-md q-pr-md">
              <q-input color="primary" label="Zona" outlined v-model="shrimp.zone.name" readonly/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 q-pb-md q-pr-md">
            <q-select v-model="form.applicant_id" color="primary" label="Solicitante" outlined
              error-message="Seleccione solicitante" :error="$v.form.applicant_id.$error"
              @blur="$v.form.applicant_id.$touch()" :options="applicants" emit-value map-options option-label="full_name"
              option-value="id"/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="date" v-model="form.analysis_date" label="Fecha de análisis" outlined
              error-message="Ingrese fecha de análisis" stack-label
              :error="$v.form.analysis_date.$error" @blur="$v.form.analysis_date.$touch()">
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="date" v-model="form.delivery_date" label="Fecha de entrega" outlined
              error-message="Ingrese fecha de entrega válida" stack-label
              :error="$v.form.delivery_date.$error" @blur="$v.form.delivery_date.$touch()">
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="textarea" v-model="form.observations" label="Observaciones" outlined stack-label
              :error-message="`Ingrese observaciones de hasta 1000 caracteres. ${form.observations ? form.observations.length : 0} caracteres ingresados.`"
              :error="$v.form.observations.$error" @blur="$v.form.observations.$touch()" autogrow>
              <template v-slot:hint>
                {{ form.observations ? form.observations.length : 0 }}/1000 caracteres
              </template>
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="textarea" v-model="form.recommendations" label="Recomendaciones" outlined stack-label
              :error-message="`Ingrese recomendaciones de hasta 1000 caracteres. ${form.recommendations ? form.recommendations.length : 0} caracteres ingresados.`"
              :error="$v.form.recommendations.$error" @blur="$v.form.recommendations.$touch()" autogrow>
              <template v-slot:hint>
                {{ form.recommendations ? form.recommendations.length : 0 }}/1000 caracteres
              </template>
            </q-input>
          </div>
        </q-card>
        <q-card v-show="canAddPool" class="q-pa-sm row" style="width: 100%" :bordered="false" flat>
          <div class="col-md-12" style="text-align: end">
            <q-btn-dropdown v-if="can('2.1.1.1.11')" color="primary" icon="add" label="Añadir nueva piscina" rounded>
              <q-list>
                <q-item v-for="(pool, index) in pools" clickable v-close-popup :key="index"
                :disable="pool.disable" @click="addPool(pool)">
                  <q-item-section>
                    <q-item-label>{{ pool.description }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
        </q-card>
        <q-card v-for="(pool, index) in form.pools" flat class="q-pa-sm col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" :key="index">
          <div class="row">
            <div class="col-sm-11 col-md-11 col-lg-11">
              <q-btn color="primary" rounded :icon-right="pool.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
            @click="pool.expanded = !pool.expanded" :label="`${pool.description}`"/>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.11')" color="primary" round icon="delete" @click="deletePool(index)"></q-btn>
            </div>
          </div>
          <q-slide-transition>
            <div v-if="pool.expanded">
              <q-card flat class="q-pa-md q-mt-md">
                <div class="row">
                  <div class="col-sm-2 col-md-2">
                    <label for="">
                      <b>Piscinas</b>
                      <q-icon name="help" color="primary" size="sm">
                         <q-tooltip>
                          Nivel de presencia patógenos
                          <table>
                            <tr>
                              <td>{{table[0]}}</td>
                              <td>{{table[1]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[2]}}</td>
                              <td>{{table[3]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[4]}}</td>
                              <td>{{table[5]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[6]}}</td>
                              <td>{{table[7]}}</td>
                            </tr>
                          </table>
                        </q-tooltip>
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-none" style="width: 100%">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-input color="primary" type="number" v-model.number="pool.average_weight_pool"
                            label="Peso Promedio g." outlined stack-label
                            error-message="Ingrese Peso Promedio g."
                            :error="$v.form.pools.$each[index].average_weight_pool.$error"
                            @blur="$v.form.pools.$each[index].average_weight_pool.$touch()"
                            />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-input color="primary" type="number" v-model.number="pool.flaccidity" label="Flacidez %"
                            outlined stack-label error-message="Ingrese flacidez %"
                            :error="$v.form.pools.$each[index].flaccidity.$error"
                            @blur="$v.form.pools.$each[index].flaccidity.$touch()"
                          />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-input color="primary"
                            type="number" v-model.number="pool.inflameduropods_pool" label="Urópodos Inflamados %" outlined stack-label
                            error-message="Ingrese Urópodos Inflamados %"
                            :error="$v.form.pools.$each[index].inflameduropods_pool.$error"
                            @blur="$v.form.pools.$each[index].inflameduropods_pool.$touch()"
                            />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-input color="primary" type="number" v-model.number="pool.necrosis" label="Necrosis %" outlined
                            stack-label error-message="Ingrese % Necrosis"
                            :error="$v.form.pools.$each[index].necrosis.$error"
                            @blur="$v.form.pools.$each[index].necrosis.$touch()"
                            />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-input color="primary"
                            type="number" v-model.number="pool.rough_antennas_pool" label="Antenas Rugosas %" outlined stack-label
                             error-message="Ingrese Antenas Rugosas %"
                            :error="$v.form.pools.$each[index].rough_antennas_pool.$error"
                            @blur="$v.form.pools.$each[index].rough_antennas_pool.$touch()"
                          />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-input color="primary" type="number" v-model.number="pool.misshapen_dwarfs" label="Deformes-enanos %"
                            outlined stack-label error-message="Ingrese deformes-enanos %"
                            :error="$v.form.pools.$each[index].misshapen_dwarfs.$error"
                            @blur="$v.form.pools.$each[index].misshapen_dwarfs.$touch()"
                          />
                        </div>
                    </q-card>
                  </div>
                  <div class="col-sm-2 col-md-2">
                    <label for="">
                      <b>Branquias</b>
                      <q-icon name="help" color="primary" size="sm">
                        <q-tooltip>
                          Nivel de presencia patógenos
                          <table>
                            <tr>
                              <td>{{table[0]}}</td>
                              <td>{{table[1]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[2]}}</td>
                              <td>{{table[3]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[4]}}</td>
                              <td>{{table[5]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[6]}}</td>
                              <td>{{table[7]}}</td>
                            </tr>
                          </table>
                        </q-tooltip>
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-none" style="width: 100%">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" v-model="pool.dirty" label="Sucias(detritus)" outlined stack-label
                          error-message="Ingrese Sucias(detritus)" :options="plusOptions"
                          :error="$v.form.pools.$each[index].dirty.$error" map-options emit-value option-label="label"
                          option-value="id" @blur="$v.form.pools.$each[index].dirty.$touch()">
                        </q-select>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" map-options emit-value :options="plusOptions" v-model="pool.algae"
                          label="Algas" outlined stack-label error-message="Ingrese Algas"
                          :error="$v.form.pools.$each[index].algae.$error"
                          @blur="$v.form.pools.$each[index].algae.$touch()" option-label="label" option-value="id"
                        />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" map-options emit-value
                          :options="plusOptions" v-model="pool.epistylis" label="Epistylis" outlined stack-label
                          error-message="Ingrese Epistylis"
                          :error="$v.form.pools.$each[index].epistylis.$error"
                          @blur="$v.form.pools.$each[index].epistylis.$touch()" option-label="label"
                            option-value="id"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" map-options emit-value
                          :options="plusOptions" v-model="pool.vortex" label="Vorticela" outlined stack-label
                          error-message="Ingrese Vorticela"
                          :error="$v.form.pools.$each[index].vortex.$error"
                          @blur="$v.form.pools.$each[index].vortex.$touch()" option-label="label"
                            option-value="id"
                          />
                      </div>

                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" v-model="pool.zoothamnium" label="Zoothamnium" outlined stack-label
                          error-message="Ingrese Zoothamnium" map-options emit-value
                          :options="plusOptions" :error="$v.form.pools.$each[index].zoothamnium.$error"
                          @blur="$v.form.pools.$each[index].zoothamnium.$touch()" option-label="label"
                            option-value="id"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary"
                          map-options emit-value
                          :options="plusOptions" v-model="pool.acineta" label="Acineta" outlined stack-label
                          error-message="Ingrese Acineta"
                          :error="$v.form.pools.$each[index].acineta.$error"
                          @blur="$v.form.pools.$each[index].acineta.$touch()" option-label="label"
                            option-value="id"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" map-options emit-value
                          :options="plusOptions" v-model="pool.ciliated_apostome"
                          label="Ciliado Apostome" outlined stack-label
                          error-message="Ingrese Ciliado Apostome"
                          :error="$v.form.pools.$each[index].ciliated_apostome.$error"
                          @blur="$v.form.pools.$each[index].ciliated_apostome.$touch()" option-label="label"
                            option-value="id"
                          />
                      </div>
                      <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary"
                          map-options emit-value
                          :options="plusOptions" v-model="pool.chromatophores" label="Cromatoforos" outlined stack-label
                          error-message="Ingrese Cromatoforos"
                          :error="$v.form.pools.$each[index].chromatophores.$error"
                          @blur="$v.form.pools.$each[index].chromatophores.$touch()" option-label="label"
                            option-value="id"
                          />
                      </div> -->
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="textarea" color="primary" v-model.number="pool.others" label="Otros"
                            outlined stack-label autogrow
                            :error="$v.form.pools.$each[index].others.$error"
                            @blur="$v.form.pools.$each[index].others.$touch()"
                          />
                      </div>
                    </q-card>
                  </div>
                  <div class="col-sm-2 col-md-2">
                    <label for="">
                      <b>Hepatopáncreas</b>
                      <q-icon name="help" color="primary" size="sm">
                        <q-tooltip>
                          Rangos óptimos
                          <table>
                            <tr>
                              <td>{{table[0]}}</td>
                              <td>{{table[1]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[2]}}</td>
                              <td>{{table[3]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[4]}}</td>
                              <td>{{table[5]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[6]}}</td>
                              <td>{{table[7]}}</td>
                            </tr>
                          </table>
                        </q-tooltip>
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-none">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" v-model="pool.lipids" label="Lípidos" outlined stack-label
                          error-message="Ingrese Lípidos" map-options emit-value option-label="label"
                            option-value="id" :options="plusOptions"
                          :error="$v.form.pools.$each[index].lipids.$error"
                          @blur="$v.form.pools.$each[index].lipids.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" v-model="pool.thickening" map-options emit-value option-label="label"
                            option-value="id" :options="plusOptions"
                          label="Engrosamiento" outlined stack-label
                          error-message="Ingrese Engrosamiento"
                          :error="$v.form.pools.$each[index].thickening.$error"
                          @blur="$v.form.pools.$each[index].thickening.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" v-model="pool.deformity" label="Deformidad" outlined stack-label
                          error-message="Ingrese Deformidad" map-options emit-value option-label="label"
                            option-value="id" :options="plusOptions"
                          :error="$v.form.pools.$each[index].deformity.$error"
                          @blur="$v.form.pools.$each[index].deformity.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" v-model="pool.constriction" label="Estrangulamiento" outlined stack-label
                          error-message="Ingrese Estrangulamiento"
                          :error="$v.form.pools.$each[index].constriction.$error" map-options emit-value option-label="label"
                            option-value="id" :options="plusOptions"
                          @blur="$v.form.pools.$each[index].constriction.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <!-- <q-input color="primary" type="number" v-model.number="pool.necrosis_in_tubules" label="Necrosis en tubulos de hp" outlined stack-label
                          error-message="Ingrese Necrosis en tubulos de hp"
                          :error="$v.form.pools.$each[index].necrosis_in_tubules.$error"
                          @blur="$v.form.pools.$each[index].necrosis_in_tubules.$touch()"
                          /> -->
                          <q-select color="primary" v-model="pool.necrosis_in_tubules" label="Necrosis" outlined stack-label
                          error-message="Ingrese Necrosis"
                          :error="$v.form.pools.$each[index].necrosis_in_tubules.$error" map-options emit-value option-label="label"
                            option-value="id" :options="plusOptions"
                          @blur="$v.form.pools.$each[index].necrosis_in_tubules.$touch()"
                          />
                      </div>
                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                         <q-select color="primary" v-model="pool.vermiform_bodies" label="Cuerpos vermiformes" outlined stack-label
                          error-message="Ingrese Cuerpos vermiformes"
                          :error="$v.form.pools.$each[index].vermiform_bodies.$error" map-options emit-value option-label="label"
                            option-value="id" :options="plusOptions"
                          @blur="$v.form.pools.$each[index].vermiform_bodies.$touch()"
                          />
                        </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" v-model="pool.baculovirus" label="Baculovirus" outlined stack-label
                          error-message="Ingrese baculovirus" map-options emit-value
                          option-label="label" option-value="id" :options="plusOptions"
                          :error="$v.form.pools.$each[index].baculovirus.$error"
                          @blur="$v.form.pools.$each[index].baculovirus.$touch()"
                          />
                      </div>
                    </q-card>
                  </div>
                  <div class="col-sm-2 col-md-2">
                    <label for="">
                      <b>Intestino</b>
                      <q-icon name="help" color="primary" size="sm">
                        <q-tooltip>
                          Rangos óptimos
                          <table>
                            <tr>
                              <td>{{table[0]}}</td>
                              <td>{{table[1]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[2]}}</td>
                              <td>{{table[3]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[4]}}</td>
                              <td>{{table[5]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[6]}}</td>
                              <td>{{table[7]}}</td>
                            </tr>
                          </table>
                        </q-tooltip>
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-none">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" v-model="pool.gregarious"
                          label="Gregarinas" outlined stack-label map-options emit-value
                          option-label="label" option-value="id" :options="plusOptions"
                          error-message="Ingrese gregarinas"
                          :error="$v.form.pools.$each[index].gregarious.$error"
                          @blur="$v.form.pools.$each[index].gregarious.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" v-model="pool.nemamotods" label="Nemátodos" outlined stack-label
                          error-message="Ingrese Nemátodos" map-options emit-value
                          option-label="label" option-value="id" :options="plusOptions"
                          :error="$v.form.pools.$each[index].nemamotods.$error"
                          @blur="$v.form.pools.$each[index].nemamotods.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" v-model="pool.intestine_algae" label="Algas" outlined stack-label
                          error-message="Ingrese algas" map-options emit-value
                          option-label="label" option-value="id" :options="plusOptions"
                          :error="$v.form.pools.$each[index].intestine_algae.$error"
                          @blur="$v.form.pools.$each[index].intestine_algae.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" v-model="pool.debris" label="Detritos" outlined stack-label
                          error-message="Ingrese detritos" map-options emit-value
                          option-label="label" option-value="id" :options="plusOptions"
                          :error="$v.form.pools.$each[index].debris.$error"
                          @blur="$v.form.pools.$each[index].debris.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" v-model="pool.balanced" label="Balanceado" outlined stack-label
                          error-message="Ingrese balanceado" map-options emit-value
                          option-label="label" option-value="id" :options="plusOptions"
                          :error="$v.form.pools.$each[index].balanced.$error"
                          @blur="$v.form.pools.$each[index].balanced.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" v-model="pool.gregarine_eggs" label="Huevos de gregarinas" outlined stack-label
                          error-message="Ingrese Huevos de gregarinas" map-options emit-value
                          option-label="label" option-value="id" :options="plusOptions"
                          :error="$v.form.pools.$each[index].gregarine_eggs.$error"
                          @blur="$v.form.pools.$each[index].gregarine_eggs.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select color="primary" v-model="pool.crustacean_remains" :label="`Restos crustáceos`" outlined stack-label
                          error-message="Ingrese restos crustáceos" map-options emit-value
                          option-label="label" option-value="id" :options="plusOptions"
                          :error="$v.form.pools.$each[index].crustacean_remains.$error"
                          @blur="$v.form.pools.$each[index].crustacean_remains.$touch()"
                          />
                      </div>
                    </q-card>
                  </div>
                  <!-- <div class="col-sm-2 col-md-2">
                     <label for=""><b>Observaciones</b></label>
                      <q-card flat class="q-pt-none">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-input type="textarea" v-model="pool.observations" label="Observaciones" outlined stack-label
                            :error-message="`Ingrese observaciones de hasta 1000 caracteres. ${pool.observations ? pool.observations.length : 0} caracteres ingresados.`"
                            :error="$v.form.pools.$each[index].observations.$error"
                            @blur="$v.form.pools.$each[index].observations.$touch()" autogrow
                          >
                            <template v-slot:hint>
                              {{ pool.observations ? pool.observations.length : 0 }}/1000 caracteres
                            </template>
                          </q-input>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-input type="textarea" v-model="pool.recommendations" label="Recomendaciones" outlined stack-label
                            :error-message="`Ingrese recomendaciones de hasta 1000 caracteres. ${pool.recommendations ? pool.recommendations.length : 0} caracteres ingresados.`"
                            :error="$v.form.pools.$each[index].recommendations.$error"
                            @blur="$v.form.pools.$each[index].recommendations.$touch()" autogrow
                          >
                            <template v-slot:hint>
                              {{ pool.recommendations ? pool.recommendations.length : 0 }}/1000 caracteres
                            </template>
                          </q-input>
                        </div>
                      </q-card>
                  </div> -->
                </div>
                <!-- Imágenes de la piscina -->
                  <div class=" q-md-pt col-md-12">
                    <div class="text-h5 text-primary"><b>Imágenes</b></div>
                  </div>
                  <div class="row q-pa-md">
                    <q-card v-for="(img, imageIndex) in pool.images" :key="imageIndex"
                    class="col-md-6">
                      <q-img v-if="img.dir" :src="`${apiUrl}fileImg/${img.dir}`" native-context-menu :ratio="16/12">
                        <q-icon v-if="can('2.1.1.1.11')" class="absolute all-pointer-events" size="32px" name="close" color="red" style="top: 8px; right: 8px"
                          @click="deleteImage(imageIndex, img.dir, img, index)">
                          <q-tooltip>
                            Eliminar
                          </q-tooltip>
                        </q-icon>
                        <div class="absolute-bottom-right text-subtitle2">
                          {{ formatDate(img.date) }}
                          <br>
                          {{ img.description }}
                        </div>
                      </q-img>
                      <q-btn v-if="!img.dir" icon="add" color="primary" round @click="modalAddImage = true; currentImage = imageIndex"></q-btn>

                      <div class="row" style="width: 100%" v-if="img.dir">
                        <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: end">
                          <q-btn flat round color="primary" icon="edit" @click="showModalEditImage(img, imageIndex, index)">
                            <q-tooltip>Editar</q-tooltip>
                          </q-btn>
                          <q-btn flat round color="primary" icon="fullscreen" @click="zoomImage(img)">
                            <q-tooltip>Ampliar imagen</q-tooltip>
                          </q-btn>
                        </div>
                      </div>
                    </q-card>
                    <q-card class="my-card q-ma-sm column items-center justify-center" flat>
                      <q-btn v-if="can('2.1.1.1.11')" icon="add" color="primary" round @click="showModalAddImage(index)"></q-btn>
                    </q-card>
                  </div>
                <!-- Imágenes de la piscina -->
              </q-card>
            </div>
        </q-slide-transition>
        </q-card>
      </q-card-section>
    </q-card>
    <div class="row q-pa-md">
      <!-- <div class=" q-md-pt col-md-12">
        <div class="text-h5 text-primary"><b>Imágenes</b></div>
      </div>
      <div class="row q-pa-md">
        <q-card v-for="(img, index) in images" :key="index" class="my-card q-ma-sm column items-center justify-center">
          <q-img v-if="img.filename" :src="`${apiUrl}fileImg/${img.filename}`" native-context-menu :ratio="16/12">
            <q-icon v-if="can('2.1.1.1.11')" class="absolute all-pointer-events" size="32px" name="close" color="red" style="top: 8px; right: 8px"
              @click="deleteImage(index, img.filename, img)">
              <q-tooltip>
                Eliminar
              </q-tooltip>
            </q-icon>
            <div class="absolute-bottom-right text-subtitle2">
              {{ formatDate(img.date) }}
              <br>
              {{ img.description }}
            </div>
          </q-img>
          <q-btn v-if="!img.filename" icon="add" color="primary" round @click="modalAddImage = true; currentImage = index"></q-btn>

          <div class="row" style="width: 100%" v-if="img.filename">
            <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: end">
              <q-btn flat round color="primary" icon="edit" @click="showModalEditImage(img, index)">
                <q-tooltip>Editar</q-tooltip>
              </q-btn>
              <q-btn flat round color="primary" icon="fullscreen" @click="zoomImage(img)">
                <q-tooltip>Ampliar imagen</q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card>
        <q-card class="my-card q-ma-sm column items-center justify-center" flat>
          <q-btn v-if="can('2.1.1.1.11')" icon="add" color="primary" round @click="showModalAddImage"></q-btn>
        </q-card>
      </div> -->
    <q-dialog v-model="modalAddImage">
      <q-card class="modal text-primary" style="border-radius: 10px;">
        <q-card-section class="row q-pb-none">
          <div class="text-h6"><b>Agregar nueva imagen</b></div>
          <q-space />
          <q-btn color="negative" icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section>
          <q-input class="col-md-12" standout bottom-slots filled v-model="image.date" type="date" label="Fecha" stack-label
            :error="$v.image.date.$error" @blur="$v.image.date.$touch()" bg-color="#F2F2F2"
            error-message="Ingrese fecha de la imagen" label-color="grey-7" color="grey-7">
          </q-input>
          <q-input class="col-md-12" standout filled v-model="image.description" label="Descripción" stack-label
            error-message="Ingrese descripción de la imagen" :error="$v.image.description.$error" bg-color="#F2F2F2"
            @blur="$v.image.description.$touch()" label-color="grey-7" color="grey-7"></q-input>
          <!-- <q-file standout filled class="col-md-12" v-model="image.file" error-message="Seleccione archivo"
            :error="$v.image.file.$error" @blur="$v.image.file.$touch()" bg-color="#F2F2F2"
            label-color="grey-7" color="grey-7" label="Seleccione una imagen"></q-file> -->
            <q-input standout filled class="col-md-12" type="file" v-model="image.file" error-message="Seleccione archivo"
            :error="$v.image.file.$error" @blur="$v.image.file.$touch()" bg-color="#F2F2F2"
            label-color="grey-7" color="grey-7"></q-input>
            <div class="row" style="text-align: right">
              <div class="col-md-12">
                <q-btn color="primary" rounded label="Agregar" @click="uploadImage"></q-btn>
              </div>
            </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="modalEditImage">
      <q-card class="modal text-primary" style="border-radius: 10px;">
        <q-card-section class="row q-pb-none">
          <div class="text-h6"><b>Editar imagen</b></div>
          <q-space />
          <q-btn color="negative" icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section>
          <q-input class="col-md-12" standout bottom-slots filled v-model="image.date" type="date" label="Fecha" stack-label
            :error="$v.image.date.$error" @blur="$v.image.date.$touch()" bg-color="#F2F2F2"
            error-message="Ingrese fecha de la imagen" label-color="grey-7" color="grey-7">
          </q-input>
          <q-input class="col-md-12" standout filled v-model="image.description" label="Descripción" stack-label
            error-message="Ingrese descripción de la imagen" :error="$v.image.description.$error" bg-color="#F2F2F2"
            @blur="$v.image.description.$touch()" label-color="grey-7" color="grey-7"></q-input>
          <!-- <q-file standout filled class="col-md-12" v-model="image.file" error-message="Seleccione archivo"
            :error="$v.image.file.$error" @blur="$v.image.file.$touch()" bg-color="#F2F2F2" label="Seleccione una imagen"
            label-color="grey-7" color="grey-7" hint="Seleccione archivo solo si desea reemplazar el actual"></q-file> -->
            <q-input standout filled class="col-md-12" type="file" v-model="image.file" error-message="Seleccione archivo"
            :error="$v.image.file.$error" @blur="$v.image.file.$touch()" bg-color="#F2F2F2"
            label-color="grey-7" color="grey-7" hint="Seleccione archivo solo si desea reemplazar el actual"></q-input>
            <div class="q-pt-md row" style="text-align: right">
              <div class="col-md-12">
                <q-btn color="primary" rounded label="Editar" @click="uploadImage"></q-btn>
              </div>
            </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showZoomImage">
      <q-img :src="`${apiUrl}fileImg/${zoomFilename}`" native-context-menu>
      <q-icon class="absolute all-pointer-events" size="32px" name="close" color="red" style="top: 8px; right: 8px" v-close-popup>
        <q-tooltip>Cerrar</q-tooltip>
      </q-icon>
      </q-img>
    </q-dialog>
    </div>
  </q-page>
</template>
<script>
import { required, requiredIf, maxLength } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../../mixins/form'
import { date } from 'quasar'
import { mapGetters } from 'vuex'
import env from '../../../../../env'
export default {
  mixins: [FormMixin],
  components: {
  },
  data () {
    return {
      customerID: this.$route.params.id,
      shrimpId: this.$route.params.shrimp_id,
      analisys_id: this.$route.params.id_analysis,
      title: 'Análisis patológico de camarón',
      subtitle: this.insert ? 'Nuevo análisis' : 'Ver análisis',
      route: 'patologies_analisys',
      form: {
        pools: []
      },
      image: {},
      images: [],
      apiUrl: env.apiUrl,
      modalAddImage: false,
      currentImage: 0,
      zoomFilename: '',
      showZoomImage: false,
      modalEditImage: false,
      customer: {},
      pools: [
      ],
      pools_intestine: [
      ],
      zones: [],
      applicants: [
      ],
      table: [
        '+ Bajo',
        '(1-25% afectación)',
        '++ Medio',
        '(26-50% afectación)',
        '+++ Alto',
        '(51-75% afectación)',
        '++++ Muy Alto',
        '(76-100% afectación)'
      ],
      plusOptions: [
        {
          label: '',
          id: null
        },
        {
          label: '+',
          id: 1
        },
        {
          label: '++',
          id: 2
        },
        {
          label: '+++',
          id: 3
        },
        {
          label: '++++',
          id: 4
        }
      ],
      shrimp: {
        zone: {}
      },
      poolIndex: null
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    canAddPool () {
      return this.form.pools.length < this.pools.length
    }
  },
  validations () {
    return {
      form: {
        zone_id: { },
        applicant_id: { required },
        analysis_date: { required },
        delivery_date: {
          required,
          minValue: (value) => {
            return value >= this.form.analysis_date
          }
        },
        observations: { maxLength: maxLength(1000) },
        recommendations: { maxLength: maxLength(1000) },
        pools: {
          required,
          $each: {
            pool_id: { required },
            average_weight_pool: {},
            flaccidity: {},
            inflameduropods_pool: {},
            rough_antennas_pool: {},
            misshapen_dwarfs: {},
            dirty: {},
            necrosis: {},
            algae: {},
            epistylis: {},
            vortex: {},
            zoothamnium: {},
            acineta: {},
            ciliated_apostome: {},
            chromatophores: {},
            lipids: {},
            thickening: {},
            deformity: {},
            constriction: {},
            necrosis_in_tubules: {},
            average_intestine_weight: {},
            inflamed_neuropods_intestine: {},
            rough_antennas_intestine: {},
            pool_intestine_id: { },
            baculovirus: {},
            gregarious: {},
            nemamotods: {},
            intestine_algae: {},
            debris: {},
            balanced: {},
            crustacean_remains: {},
            others: {},
            vermiform_bodies: {},
            gregarine_eggs: {}
          }
        }
      },
      image: {
        date: { required },
        description: { required },
        file: {
          required: requiredIf(function (model) {
            return this.modalAddImage
          })
        }
      }
    }
  },
  async mounted () {
    this.getCustomer()
    this.getZones()
    this.getShrimp()
  },
  methods: {
    getCustomer () {
      this.$api.get(`customers/${this.customerID}`).then(res => {
        if (res) {
          this.customer = res
          const shrimpPools = (this.customer.shrimps.find(val => val.id === parseInt(this.shrimpId))).pools
          this.pools = shrimpPools
          this.setAvailablePools()
          this.pools_intestine = shrimpPools
        }
      })
    },
    getZones () {
      this.$api.get('zones/true').then(res => {
        if (res) {
          this.zones = res
        }
      })
    },
    setAvailablePools () {
      const pools = this.pools

      pools.forEach(element => {
        element.disable = false
      })

      this.form.pools.forEach(element => {
        pools.forEach(element2 => {
          // delete element2.disable
          if (element.pool_id === element2.id) {
            element2.disable = true
          } else {
          }
        })
      })
      this.pools = pools
      console.log(this.form, 'form')
    },
    deletePool (index) {
      this.form.pools.splice(index, 1)
      this.setAvailablePools()
    },
    beforeSave () {
      this.form.shrimp_id = this.shrimpId
    },
    beforeValidate () {
      if (!this.form.pools.length) {
        this.$q.notify({
          type: 'warning',
          message: 'Debes añadir al menos una piscina'
        })
      }
    },
    afterGetRecord () {
      this.setAvailablePools()
    },
    afterSave (response = undefined) {
      console.log(response.id)
      this.$api.get(`pathology_analysis_print/${response.id}`).then(res => {})
      // Agregar aqui las fotos del analisis
      /*  this.images.forEach(element => {
        element.analisys_id = response.id
        element.dir = element.filename
        if (element.description) {
          this.$api.post('SendImg', element).then(res => {})
        }
      }) */
    },
    afterMounted () {
      this.$emit('setBreadcrumb', [
        {
          label: 'Home',
          icon: 'home',
          to: '/menu'
        },
        {
          label: 'Clientes',
          icon: 'person',
          to: '/customers'
        },
        {
          label: 'Gestión Cliente',
          icon: 'person',
          to: '/customers/show/' + this.customerID
        },
        {
          label: 'Camaroneras',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps`
        },
        {
          label: 'Patologías',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps/${this.shrimpId}/pathologies`
        },
        {
          label: this.insert ? 'Nuevo análisis' : 'Ver análisis',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps/${this.shrimpId}/pathologies/form`
        }
      ])
    },
    getShrimp () {
      this.$api.get(`shrimps/${this.shrimpId}`).then(res => {
        if (res) {
          this.shrimp = res
          this.applicants = res.contacts
        }
      })
      /* this.$api.get('ImgAnalisys/' + this.analisys_id).then(res => {
        const temp = res
        temp.forEach(element => {
          this.images.push({ date: element.date, filename: element.dir, description: element.description })
        })
        console.log(this.images)
      }) */
    },
    addPool (pool) {
      this.form.pools.unshift({
        pool_id: pool.id,
        description: pool.description,
        expanded: true
      })
      this.setAvailablePools()
    },
    deleteImage (index, fileName, img, poolIndex) {
      /* if (this.analisys_id) {
        this.$api.post('Img/' + this.analisys_id, img).then(res => {})
      } */
      // La reactividad de Vue enloquece cuando se modifican o reasignan elementos de un array anidado o de objetos. En este caso con splice
      // Con el método $set después de hacer modificaciones al array lo convierto en reactivo
      this.form.pools[poolIndex].images.splice(index, 1)
      this.$set(this.form.pools, poolIndex, this.form.pools[poolIndex])
    },
    zoomImage (img) {
      this.showZoomImage = true
      this.zoomFilename = img.dir
    },
    showModalEditImage (image, index, poolIndex) {
      this.image = JSON.parse(JSON.stringify(image))
      this.modalEditImage = true
      this.currentImage = index
      this.poolIndex = poolIndex
    },
    uploadImage () {
      this.$v.image.$touch()
      if (!this.$v.image.$error) {
        this.$q.loading.show()
        if (this.modalAddImage || (this.modalEditImage && this.image.file)) { // Si se está añadiendo una nueva imagen, tanto inserción como edición
          const formData = new FormData()
          console.log(this.analisys_id)
          formData.append('analisys_id', this.analisys_id)
          formData.append('file', this.image.file[0])
          console.log(formData, this.image)
          this.$api.post('analisis_image', formData, {
            headers: {
              'Content-Type': undefined
            }
          }).then(res => {
            console.log('res', res)
            if (res) {
              /* this.images.push({
                date: this.image.date,
                description: this.image.description,
                filename: res
              }) */

              if (this.form.pools[this.poolIndex].images && this.form.pools[this.poolIndex].images.length) { // Si hay imágenes en la piscina se inserta la nueva
                if (this.modalAddImage) { // Si es inserción
                  this.form.pools[this.poolIndex].images.push({
                    date: this.image.date,
                    description: this.image.description,
                    dir: res
                  })
                } else {
                  this.form.pools[this.poolIndex].images[this.currentImage] = {
                    date: this.image.date,
                    description: this.image.description,
                    dir: res
                  }
                }
              } else { // Si no hay imágenes en la piscina se crea el array
                this.form.pools[this.poolIndex].images = [{
                  date: this.image.date,
                  description: this.image.description,
                  dir: res
                }]
              }

              this.image.dir = res
              this.image = {}
              // console.log(this.images)
              this.modalAddImage = false
              this.modalEditImage = false
            }
            this.$q.loading.hide()
          })
        } else {
          this.form.pools[this.poolIndex].images[this.currentImage].date = this.image.date
          this.form.pools[this.poolIndex].images[this.currentImage].description = this.image.description
          /* this.images[this.currentImage].date = this.image.date
          this.images[this.currentImage].description = this.image.description */

          this.image = {}
          this.$v.image.$reset()
          this.modalEditImage = false
          this.$q.loading.hide()
        }
      }
    },
    formatDate (imageDate) {
      return date.formatDate(date.addToDate(imageDate, { days: 1 }), 'DD-MM-YYYY')
    },
    showModalAddImage (poolIndex) {
      this.$v.image.$reset()
      this.image = {}
      this.modalAddImage = true
      this.poolIndex = poolIndex
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 250px
  max-width: 250px
  height: 230px
.modal
  width: 320px
</style>
