<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ shrimp.name }} {{ customer.legal_name }}</b></div><br/>
              <div class="text-subtitle1"><b> {{ poolId ? 'Editar piscina' : 'Nueva piscina' }} </b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn label="guardar" rounded color="primary" size="md" @click="verifyPool">
                <q-tooltip>
                  Guardar piscina
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card class="q-pa-sm row" style="width: 100%">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 q-pb-md q-pr-md">
          <q-input color="primary" v-model="form.description" label="Piscina #" outlined
            error-message="Ingrese número piscina" :error="$v.form.description.$error"
            placeholder="Número de piscina" @blur="$v.form.description.$touch()" stack-label/>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 q-pb-md q-pr-md">
          <q-input type="number" color="primary" v-model="form.area" label="Área (Hectáreas):" outlined
            error-message="Ingrese cantidad de hectareas" :error="$v.form.area.$error"
            placeholder="Cantidad" @blur="$v.form.area.$touch()" stack-label/>
        </div>
        <div class="col-md-12">
          <div class="text-h5 text-primary"><b>Imágenes</b></div>
        </div>
      </q-card>
      <div class="row q-pa-md">
        <q-card v-for="(img, index) in images" :key="index" class="my-card q-ma-sm column items-center justify-center">
          <q-img v-if="img.filename" :src="`${apiUrl}file2/${img.filename}`" native-context-menu :ratio="16/12">
            <q-icon class="absolute all-pointer-events" size="32px" name="close" color="red" style="top: 8px; right: 8px"
              @click="deleteImage(index, img.filename)">
              <q-tooltip>
                Eliminar
              </q-tooltip>
            </q-icon>
            <div class="absolute-bottom-right text-subtitle2">
              {{ formatDate(img.date) }}
              <br>
              {{ img.description }}
            </div>
          </q-img>
          <q-btn v-else icon="add" color="primary" round @click="showModalAddImage(index)"></q-btn>

          <div class="row" style="width: 100%" v-if="img.filename">
            <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: end">
              <q-btn flat round color="primary" icon="edit" @click="showModalEditImage(img, index)">
                <q-tooltip>Editar</q-tooltip>
              </q-btn>
              <q-btn flat round color="primary" icon="fullscreen" @click="zoomImage(img)">
                <q-tooltip>Ampliar imagen</q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card>

        <q-card class="my-card q-ma-sm column items-center justify-center" flat>
          <q-btn icon="add" color="primary" round @click="images.push({})"></q-btn>
        </q-card>
      </div>
    </q-card>
    <q-dialog v-model="modalAddImage">
      <q-card class="modal text-primary" style="border-radius: 10px;">
        <q-card-section class="row q-pb-none">
          <div class="text-h6"><b>Agregar nueva imagen</b></div>
          <q-space />
          <q-btn color="negative" icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section>
          <q-input class="col-md-12" standout bottom-slots filled v-model="image.date" type="date" label="Fecha" stack-label
            :error="$v.image.date.$error" @blur="$v.image.date.$touch()" bg-color="#F2F2F2"
            error-message="Ingrese fecha de la imagen" label-color="grey-7" color="grey-7">
          </q-input>
          <q-input class="col-md-12" standout filled v-model="image.description" label="Descripción" stack-label
            error-message="Ingrese descripción de la imagen" :error="$v.image.description.$error" bg-color="#F2F2F2"
            @blur="$v.image.description.$touch()" label-color="grey-7" color="grey-7"></q-input>
          <q-input standout filled class="col-md-12" type="file" v-model="image.file" error-message="Seleccione archivo"
            :error="$v.image.file.$error" @blur="$v.image.file.$touch()" bg-color="#F2F2F2"
            label-color="grey-7" color="grey-7"></q-input>
            <div class="row" style="text-align: right">
              <div class="col-md-12">
                <q-btn color="primary" rounded label="Agregar" @click="uploadImage"></q-btn>
              </div>
            </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="modalEditImage">
      <q-card class="modal text-primary" style="border-radius: 10px;">
        <q-card-section class="row q-pb-none">
          <div class="text-h6"><b>Editar imagen</b></div>
          <q-space />
          <q-btn color="negative" icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section>
          <q-input class="col-md-12" standout bottom-slots filled v-model="image.date" type="date" label="Fecha" stack-label
            :error="$v.image.date.$error" @blur="$v.image.date.$touch()" bg-color="#F2F2F2"
            error-message="Ingrese fecha de la imagen" label-color="grey-7" color="grey-7">
          </q-input>
          <q-input class="col-md-12" standout filled v-model="image.description" label="Descripción" stack-label
            error-message="Ingrese descripción de la imagen" :error="$v.image.description.$error" bg-color="#F2F2F2"
            @blur="$v.image.description.$touch()" label-color="grey-7" color="grey-7"></q-input>
          <q-input standout filled class="col-md-12" type="file" v-model="image.file" error-message="Seleccione archivo"
            :error="$v.image.file.$error" @blur="$v.image.file.$touch()" bg-color="#F2F2F2"
            label-color="grey-7" color="grey-7" hint="Seleccione archivo solo si desea reemplazar el actual"></q-input>
            <div class="q-pt-md row" style="text-align: right">
              <div class="col-md-12">
                <q-btn color="primary" rounded label="Editar" @click="uploadImage"></q-btn>
              </div>
            </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showZoomImage">
      <q-img :src="`${apiUrl}file2/${zoomFilename}`" native-context-menu>
      <q-icon class="absolute all-pointer-events" size="32px" name="close" color="red" style="top: 8px; right: 8px" v-close-popup>
        <q-tooltip>Cerrar</q-tooltip>
      </q-icon>
      </q-img>
    </q-dialog>
  </q-page>
</template>
<script>
import { required, requiredIf } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../mixins/form'
// import FormHeader from 'components/FormHeader'
import { date } from 'quasar'
import env from '../../../../env'
export default {
  mixins: [FormMixin],
  components: {
  },
  data () {
    return {
      customerID: this.$route.params.id,
      shrimpId: this.$route.params.shrimpsId,
      poolId: this.$route.params.poolId,
      title: 'Piscinas',
      subtitle: 'Nueva piscina',
      route: 'pools',
      form: {
      },
      image: {},
      images: [],
      customer: {},
      apiUrl: env.apiUrl,
      shrimp: {},
      modalAddImage: false,
      currentImage: 0,
      zoomFilename: '',
      showZoomImage: false,
      modalEditImage: false
    }
  },
  computed: {
  },
  validations () {
    return {
      form: {
        description: { required },
        area: { required }
      },
      image: {
        date: { required },
        description: { required },
        file: {
          required: requiredIf(function (model) {
            return this.modalAddImage
          })
        }
      }
    }
  },
  async mounted () {
    console.log('this.$route.params', this.$route.params)
    // Verificar que el cliente exista
    this.getCustomer()
    // Si el cliente no existe vamos para atrás
    // Consultar infor de camaronera donde se insertará piscina
    this.getShrimp()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Clientes',
        icon: 'person',
        to: '/customers'
      },
      {
        label: 'Gestión Cliente',
        icon: 'person',
        to: '/customers/show/' + this.customerID
      },
      {
        label: 'Camaroneras',
        icon: 'person',
        to: '/customers/show/' + this.customerID + '/shrimps'
      },
      {
        label: 'Piscinas',
        icon: 'person',
        to: '/customers/show/' + this.customerID + '/shrimps/' + this.$route.params.shrimpsId
      },
      {
        label: this.poolId ? 'Editar piscina' : 'Nueva piscina',
        icon: 'person',
        to: 'customers/show/shrimps'
      }
    ])
  },
  methods: {
    getCustomer () {
      this.$api.get(`customers/${this.customerID}`).then(res => {
        if (res) {
          this.customer = res
        }
      })
    },
    verifyPool () {
      // Verificar si la piscina ya existe esa camaronera con ese nombre
      this.form.shrimp_id = this.shrimpId
      this.$api.post('exist_pool', this.form).then(res => {
        if (res.status) {
          this.$q.dialog({
            title: 'Confirmar',
            message: 'Existe una piscina con ese nombre en esta camaronera. ¿Desea sobreescribir?',
            cancel: true,
            persistent: true
          }).onOk(() => {
            // Actualizar la piscina
            // this.poolId = res.poolId
            this.beforeSave()
            this.updatePool(res.poolId)
          })
        } else {
          this.save()
        }
      })
    },
    beforeSave () {
      this.form.shrimp_id = this.shrimpId
      this.form.images = this.images
    },
    beforeMounted () {
      // this.id = this.$route.params.shrimpId
      // this.center = this.form.ubication ? this.form.ubication : this.center
      for (let i = 0; i < 1; i++) {
        this.images.push({})
      }
    },
    afterMounted () {
      if (!this.insert) {
        this.images = this.form.images
        /* const emptyImages = 6 - this.images.length
        for (let i = 0; i < emptyImages; i++) {
          this.images.push({})
        } */
      }
    },
    uploadImage () {
      this.$v.image.$touch()
      if (!this.$v.image.$error) {
        this.$q.loading.show()
        if (this.modalAddImage || (this.modalEditImage && this.image.file)) { // Si se está añadiendo una nueva imagen, tanto inserción como edición
          const formData = new FormData()
          formData.append('customerID', this.customerID)
          formData.append('shrimpId', this.shrimpId)
          formData.append('file', this.image.file[0])
          this.$api.post('pool_images', formData, {
            headers: {
              'Content-Type': undefined
            }
          }).then(res => {
            console.log('res', res)
            if (res) {
              this.images[this.currentImage] = {
                customerID: this.customerID,
                shrimpId: this.shrimpId,
                date: this.image.date,
                description: this.image.description,
                filename: res
              }
              this.image = {}
              this.$v.image.$reset()
              this.modalAddImage = false
              this.modalEditImage = false
            }
            this.$q.loading.hide()
          })
        } else {
          this.images[this.currentImage].date = this.image.date
          this.images[this.currentImage].description = this.image.description

          this.image = {}
          this.$v.image.$reset()
          this.modalEditImage = false
          this.$q.loading.hide()
        }
      }
    },
    deleteImage (index, fileName) {
      this.images.splice(index, 1)
      /* this.$api.delete(`pool_images/${fileName}`).then(res => {
        if (res) {
          console.log('res', res)
          this.images.splice(index, 1)
        }
      }) */
    },
    formatDate (imageDate) {
      return date.formatDate(date.addToDate(imageDate, { days: 1 }), 'DD-MM-YYYY')
    },
    getShrimp () {
      this.$api.get(`shrimps/${this.shrimpId}`).then(res => {
        if (res) {
          this.shrimp = res
        }
      })
    },
    zoomImage (img) {
      this.showZoomImage = true
      this.zoomFilename = img.filename
    },
    showModalEditImage (image, index) {
      this.image = JSON.parse(JSON.stringify(image))
      this.modalEditImage = true
      this.currentImage = index
    },
    showModalAddImage (index) {
      this.image = {}
      this.modalAddImage = true
      this.currentImage = index
    },
    updatePool (poolId) {
      this.$api.put(`${this.route}/${poolId}`, this.form).then(res => {
        if (res) {
          this.$q.notify({
            type: 'positive',
            message: 'Registro modificado exitosamente'
          })
          this.$router.go(-1)
        }
      })
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 250px
  max-width: 250px
  height: 230px
.modal
  width: 320px
</style>
