<template>
  <q-page>
    <div>
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h3"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn v-if="can('1.13')" label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>

      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="offset-md-4 col-md-4 q-pr-md">
              <q-input label="Rango de marcaje mts" v-model="form.mts_range_marking"
                error-message="Ingrese cantidad de metros" :error="$v.form.mts_range_marking.$error"
                @blur="$v.form.mts_range_marking.$touch()" outlined/>
            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import { FormMixin } from '../../../../mixins/form'
import { required } from 'vuelidate/lib/validators'
export default {
  mixins: [FormMixin],
  data () {
    return {
      title: 'Otras configuraciones',
      route: 'configurations',
      form: {
        mts_range_marking: 700
      },
      stayAfterSave: true
    }
  },
  validations () {
    return {
      form: {
        mts_range_marking: { required }
      }
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  mounted () {
    this.getRecord()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Otras configuraciones',
        icon: 'person',
        to: 'other_settings'
      }
    ])
  },
  methods: {
    getRecord () {
      this.$api.get(this.route).then(res => {
        if (res) {
          this.form = res
        }
      })
    }
  }
}
</script>
<style>
</style>
