<template>
  <q-page>
     <q-card class="q-pa-md">
      <FormHeader :title="title" :subtitle="subtitle" :save="save" />
      <br>
       <div class="row q-pa-sm">
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-input color="primary" v-model="form.code" label="Codigo" error-message="Ingrese el codigo"
            placeholder="001" hint="Ingrese el codigo del jefe tecnico" outlined autofocus />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-input color="primary" v-model="form.full_name" label="Nombre y Apellidos" error-message="Ingrese Nombre y Apellido, maximo de caracteres es de 40"
            :error="$v.form.full_name.$error" @blur="$v.form.full_name.$touch()" placeholder="Pedro Jose Hernandez Lozano"
            hint="Ingrese Nombre y Apellido" outlined />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-input color="primary" v-model="form.phone" label="Celular" error-message="Supera el maximo de caracteres"
            :error="$v.form.phone.$error" @blur="$v.form.phone.$touch()"
            hint="Ingrese el Numero de Celular" outlined />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-input color="primary" v-model="form.company_mail" label="Correo de Empresa" error-message="Ingrese un Correo Valido"
            :error="$v.form.company_mail.$error" @blur="$v.form.company_mail.$touch()" placeholder="company@example.com"
            hint="Ingrese el Correo de Empresa" type="email" outlined />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-input color="primary" v-model="form.personal_mail" label="Correo Personal" error-message="Ingrese un Correo Valido"
            :error="$v.form.personal_mail.$error" @blur="$v.form.personal_mail.$touch()" placeholder="personal@example.com"
            hint="Ingrese el Correo Personal" type="email" outlined />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-select v-model="form.zone" multiple :options="optionsZones" outlined clearable label="Zonas"
          option-value="id" option-label="name" hint="Seleccione por lo menos una zona" use-chips emit-value
          map-options error-message="Seleccione por lo menos una zona" :error="$v.form.zone.$error"
          @blur="$v.form.zone.$touch()"
          />
        </div>
       </div>

      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
     </q-card>
  </q-page>
</template>

<script>
import FormHeader from 'components/FormHeader'
import { FormMixin } from '../../../../mixins/form'
import { required, maxLength, minLength, email } from 'vuelidate/lib/validators'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      form: {
        zone: []
      },
      zone: [],
      title: 'Jefe Tecnico',
      subtitle: 'Nuevo Jefe Tecnico',
      route: 'technical_chiefs',
      field: '',
      optionsZones: []
    }
  },
  validations () {
    return {
      form: {
        // code: {  }
        full_name: { required, maxLength: maxLength(40) },
        phone: { maxLength: maxLength(30) },
        company_mail: { maxLength: maxLength(241), email },
        personal_mail: { maxLength: maxLength(241), email },
        zone: { required, minLength: minLength(1) }
      }
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Jefes Tecnicos',
        icon: 'view_carousel ',
        to: '/technical_chiefs'
      },
      {
        label: 'Nuevo Jefe Tecnico',
        icon: 'view_carousel',
        to: 'technical_chiefs/form'
      }
    ])
    this.getZones()
  },
  methods: {
    getZones () {
      this.$api.get('zones/true').then(res => {
        this.optionsZones = res
        console.log('zones', this.optionsZones)
      })
    }
  }
}
</script>

<style>

</style>
