<template>
  <div class="q-pa-sm">
     <div class="row justify-center">
       <div class="text-h4 text-primary"><b>Buscar cliente</b></div>
     </div>
    <div class="row justify-center">
      <div>
        <q-select
          filled
          v-model="customerId"
          use-input
          input-debounce="0"
          label="Cliente"
          :options="customers"
          @filter="filterFn"
          map-options
          emit-value
          option-value="id"
          option-label="legal_name"
          style="width: 250px"
        >
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey">
                No hay resultados
              </q-item-section>
            </q-item>
          </template>
        </q-select>
      </div>
      <div class="q-pt-sm">
        <q-btn round flat color="primary" @click="search">
          <q-icon name="search" size="md" />
        </q-btn>
      </div>
    </div>
    <div class="q-pt-md row justify-center">
      <q-btn label="Camaroneras" color="primary" to="/technical_advisors_shrimps"/>
    </div>
    <div class="row justify-center">
      <h5>Análisis Laboratorio</h5>
    </div>
    <div class="row justify-center">
      <q-btn color="primary" class="q-ma-sm" label="Patologías" :to="`/pathologies/undefined/list/form`" style="width: 150px"/>
      <q-btn color="primary" class="q-ma-sm" label="Suelos" :to="`/floors/undefined/list/form`" style="width: 150px"/>
    </div>
    <div class="row justify-center">
      <q-btn color="primary" class="q-ma-sm" label="Aguas" :to="`/waters/undefined/list/form`" style="width: 150px"/>
      <q-btn color="primary" class="q-ma-sm" label="Fitoplancton" :to="`/phytoplankton/undefined/list/form`" style="width: 150px"/>
    </div>
    <div class="row justify-center">
      <h5>Reportes</h5>
    </div>
    <div class="row justify-center">
      <q-btn color="primary" class="q-ma-sm" label="Compendio" to="/compendium/undefined/list/form" style="width: 150px"/>
      <!-- <q-btn color="primary" class="q-ma-sm" label="Crecimiento" to="/growth_reports/undefined/list/form" style="width: 150px"/> -->
    </div>
    <div class="row justify-center">
      <q-btn color="primary" class="q-ma-sm" label="Costos" to="/cost_benefit_projection/undefined/list/form" style="width: 150px"/>
      <q-btn color="primary" class="q-ma-sm" label="Cosechas" to="/harvest_reports/undefined/list/form" style="width: 150px"/>
      <q-btn color="primary" class="q-ma-sm" label="Pesca" to="/fishing_projections/list/form" style="width: 150px"/>
      <q-btn color="primary" class="q-ma-sm" label="Alimentación" to="/food_projections/list/form" style="width: 150px"/>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      customerId: null,
      customers: [],
      stringCustomers: []
    }
  },
  mounted () {
    this.getCustomers()
  },
  methods: {
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.customers = this.stringCustomers

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.customers = this.stringCustomers.filter(v => v.comercial_name.toLowerCase().indexOf(needle) > -1 || v.legal_name.toLowerCase().indexOf(needle) > -1)
      })
    },
    search () {
      if (this.customerId) {
        this.$router.push(`/customer_shrimps/${this.customerId}`)
      }
    },
    async getCustomers () {
      const res = await this.$api.getData('customers')
      this.customers = res.data
      this.stringCustomers = [...this.customers]
    }
  }
}
</script>
