<template>
    <div class="q-pa-sm">
      <div class="q-pt-xl q-pl-xl q-pb-lg row justify-left">
        <div class="text-h4 text-primary"><b>Camaronera {{ shrimp.name }}</b></div>
      </div>
      <div class="row">
        <div class="q-pl-xl col-6">
          <q-card class="my-card">
            <q-card-section>
              <div class="text-h6 text-primary"><b>Análisis de laboratorio</b></div>
              <div class="row">
                <q-btn class="q-mb-sm col-sm-6" :to="`/pathologies/${shrimp.id}/list`" flat>
                  <img style="width:115px" src="images/patologia.png" />
                </q-btn>
                <q-btn class="q-mb-sm col-sm-6" :to="`/floors/${shrimp.id}/list`" flat>
                  <img style="width:115px" src="images/suelos.png" />
                </q-btn>
                <q-btn class="q-mb-sm col-sm-6" :to="`/waters/${shrimp.id}/list`" flat>
                  <img style="width:115px" src="images/aguas.png" />
                </q-btn>
                <q-btn class="q-mb-sm col-sm-6" :to="`/phytoplankton/${shrimp.id}/list`" flat>
                  <img style="width:115px" src="images/fitoplancton.png" />
                </q-btn>
              </div>
            </q-card-section>
          </q-card>
        </div>
        <div class="q-pl-xl col-6">
          <q-card class="my-card">
            <q-card-section>
              <div class="text-h6 text-primary"><b>Otros</b></div>
              <div class="row">
                <q-btn class="q-mb-sm col-sm-6" flat :to="`/compendium/${shrimp.id}/list`">
                  <img style="width:115px" src="images/compendio.png" />
                </q-btn>
                <q-btn class="q-mb-sm col-sm-6" :to="`/cost_benefit_projection/${shrimp.id}/list`" flat>
                  <img style="width:115px" src="images/costos.png" />
                </q-btn>
                <q-btn class="q-mb-sm col-sm-6" :to="`/growth_reports/${shrimp.id}/list`" flat>
                  <img style="width:115px" src="images/crecimiento.png" />
                </q-btn>
                <q-btn class="q-mb-sm col-sm-6" :to="`/harvest_reports/${shrimp.id}/list`" flat>
                  <img style="width:115px" src="images/cosechas.png" />
                </q-btn>
                <q-btn class="q-mb-sm col-sm-6" :to="`/fishing_projections/${shrimp.id}/list`" flat>
                  <img style="width:115px" src="images/pesca.png" />
                </q-btn>
                <q-btn class="q-mb-sm col-sm-6" :to="`/food_projections/${shrimp.id}/list`" flat>
                  <img style="width:112px" src="images/proyeccion_de_alimentacion.png" />
                </q-btn>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
</template>
<script>
export default {
  props: ['shrimp'],
  data () {
    return {
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 250px
</style>
