<template>
  <q-page>
    <FormHeader :title="title" :subtitle="subtitle" :save="save" />
    <q-card>
    <div class="row q-pa-sm justify-center">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 q-pb-md q-pr-md">
          <q-input color="primary" v-model="form.name" label="Nombre de producto" outlined
            error-message="Ingrese nombre de producto" :error="$v.form.name.$error"
            @blur="$v.form.name.$touch()" stack-label/>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 q-pb-md q-pr-md">
          <q-input color="primary" v-model="form.brand" label="Marca" outlined
            error-message="Ingrese marca de producto" :error="$v.form.brand.$error"
            @blur="$v.form.brand.$touch()" stack-label/>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 q-pb-md q-pr-md">
         <q-input
        filled
        v-model="form.color"
        class="my-input"
        error-message="Seleccione un color" :error="$v.form.color.$error"
            @blur="$v.form.color.$touch()"
      >
        <template v-slot:append>
          <q-icon name="colorize" class="cursor-pointer">
            <q-popup-proxy transition-show="scale" transition-hide="scale">
              <q-color v-model="form.color" />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 q-pb-md q-pr-md">
          <q-input type="number" placeholder="3" color="primary" v-model.number="form.from_weight" label="Rango inicial" outlined
            error-message="Ingrese rango inicial" :error="$v.form.from_weight.$error"
            @blur="$v.form.from_weight.$touch()" stack-label/>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 q-pb-md q-pr-md">
          <q-input type="number" placeholder="4" color="primary" v-model.number="form.to_weight" label="Rango final" outlined
            error-message="Ingrese rango final" :error="$v.form.to_weight.$error"
            @blur="$v.form.to_weight.$touch()" stack-label/>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 q-pb-md q-pr-md">
          <q-input prefix="$" placeholder="300.000.00"  reverse-fill-mask color="primary" v-model.number="form.price_kg" label="Costo/K" outlined
            error-message="Ingrese costo" :error="$v.form.price_kg.$error"
            @blur="$v.form.price_kg.$touch()" stack-label/>
        </div>
    </div>
      <q-separator />
          <q-card-actions align="center">
            <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
            <q-btn push color="primary" label="Guardar" @click="save" glossy />
          </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../mixins/form'
import FormHeader from 'components/FormHeader'
// import { date } from 'quasar'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      customerID: this.$route.params.id,
      shrimpId: this.$route.params.shrimpsId,
      poolId: this.$route.params.poolId,
      title: 'Registro de producto',
      subtitle: 'Nuevo Producto',
      route: 'products',
      form: {
      },
      image: {},
      images: [],
      customer: {},
      shrimp: {},
      modalAddImage: false,
      currentImage: 0,
      zoomFilename: '',
      showZoomImage: false,
      modalEditImage: false,
      id: this.$route.params.id
    }
  },
  computed: {
  },
  validations () {
    return {
      form: {
        name: { required },
        brand: { required },
        color: { required },
        from_weight: { required },
        to_weight: { required },
        price_kg: { required }
      }
    }
  },
  async mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Productos',
        icon: 'person',
        to: 'products'
      }
    ])
    this.getVerify()
  },
  methods: {
    getVerify () {
      const id = this.$route.params.id
      if (id) {
        this.actions = false
        this.$api.get(`${this.route}/${id}`).then(res => {
          const temp = res
          this.form = temp
        })
      } else {
        this.actions = true
      }
    },
    save () {
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        console.log('Error')
      } else {
        if (this.form.from_weight >= this.form.to_weight) {
          this.$q.notify({
            icon: 'warning',
            message: 'El rango inicial debe de ser mayor al rango final',
            color: 'negative'
          })
        } else {
          if (this.actions) {
            this.form.from_weight = parseFloat(this.form.from_weight)
            this.form.to_weight = parseFloat(this.form.to_weight)
            this.$q.loading.show()
            this.$api.post(`${this.route}`, this.form).then(res => {
              this.$q.loading.hide()
              if (res.banderita) {
                this.form.from_weight = null
                this.form.to_weight = null
                this.$q.notify({
                  position: 'center',
                  textColor: 'white',
                  icon: res.icon,
                  color: res.color,
                  message: res.message
                })
              } else {
                this.$q.notify({
                  position: 'center',
                  textColor: 'white',
                  icon: 'done',
                  color: 'positive',
                  message: 'Registro agregado exitosamente'
                })
                this.$router.go(-1)
              }
            })
          } else {
            const id = this.$route.params.id
            this.$q.loading.show()
            this.$api.put(`${this.route}/` + id, this.form).then(res => {
              console.log(res)
              this.$q.loading.hide()
              if (res.banderita) {
                this.form.from_weight = null
                this.form.to_weight = null
                this.$q.notify({
                  position: 'center',
                  textColor: 'white',
                  icon: res.icon,
                  color: res.color,
                  message: res.message
                })
              } else {
                this.$q.notify({
                  position: 'center',
                  textColor: 'white',
                  icon: 'done',
                  color: 'positive',
                  message: 'Registro modificado exitosamente'
                })
                this.$router.go(-1)
              }
            })
          }
        }
      }
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 250px
  max-width: 250px
  height: 230px
.modal
  width: 320px
</style>
