<template>
  <q-page>
    <div>
      <!-- <listable :title="title" :buttons="buttons" :cols="cols" route="products"/> -->
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <q-btn class="q-ma-sm" v-if="can('4.2')" round icon="add" color="primary" size="md"
              :to="`${$route.path}/form`">
                <q-tooltip>
                  Nuevo producto
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ma-sm" round icon="get_app" color="primary" size="md" @click="exportTable">
                <q-tooltip>
                  Exportar
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ml-sm" round  @click="$q.fullscreen.toggle()"
                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="primary" size="md">
                <q-tooltip>
                  Pantalla completa
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-md-2">
              <q-input v-model="text" placeholder="Buscar" @input="filter" outlined dense>
                <template v-slot:append>
                  <q-icon v-if="text !== ''" name="close" @click="text = ''" class="cursor-pointer" />
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Código</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Nombre</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Marca</b>
            </div>
            <div class="col" style="text-align: left">
              <b class="text-grey-7">Color</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Costo</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Rango</b>
            </div>
            <div class="col" style="text-align: right">
              <b class="text-grey-7">Acciones</b>
            </div>
          </q-card-section>
          <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(item, index) in records" :key="index">
              <div class="col">
                <p class="text-grey-7">{{ item.id }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.name }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.brand }}</p>
              </div>
              <div class="col" style="text-align: center">
                <!-- <p class="text-grey-7">{{ item.color }}</p> -->
                <div>
                  <p class="circle" :style="`background-color: ${item.color};`"></p>
                </div>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.price_kg }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.range }}</p>
              </div>
               <div class="col" style="text-align: right">
                <q-btn v-if="can('4.5')" flat icon="edit" size="sm" color="primary"
                  :to="`/products/form/${item.id}`"
                  dense>
                  <q-tooltip>
                    Editar
                  </q-tooltip>
                </q-btn>
                <q-btn v-if="can('4.4')" flat icon="delete" size="sm" color="primary" @click="deleteRecord(item.id)" dense>
                  <q-tooltip>
                    Eliminar
                  </q-tooltip>
                </q-btn>
              </div>
            </q-card-section>
            <q-separator color="grey-4" />
          </q-card>
      </div>
    </div>
    <q-dialog v-model="confirm" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <q-avatar icon="warning" color="negative" text-color="white" />
            <span class="q-ml-sm">Está seguro de eliminar?</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Eliminar" color="primary" @click="confirmDelete" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
  </q-page>
</template>

<script>
import { exportFile } from 'quasar'

function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== undefined
    ? formatFn(val)
    : val

  formatted = formatted === undefined || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')

  return `"${formatted}"`
}
// import Listable from 'components/Listable'
import { mapGetters } from 'vuex'
export default {
  components: {},
  data () {
    return {
      title: 'Productos',
      text: '',
      route: 'products',
      buttons: [
        {
          label: 'Nuevo', icon: 'add', color: 'primary', url: `${this.$route.path}/form`, action: '', permission: '4.2'
        }
      ],
      cols: [
        { name: 'id', required: true, label: 'Código', align: 'left', field: 'id', sortable: true },
        { name: 'name', required: true, label: 'Nombre', align: 'left', field: 'name', sortable: true },
        { name: 'brand', required: true, label: 'Marca', align: 'left', field: 'brand', sortable: true },
        { name: 'color', required: true, label: 'Color', align: 'left', field: 'color', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ],
      records: [],
      stringRecords: [],
      confirm: false
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  mounted () {
    this.getRecords()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Productos',
        icon: 'person',
        to: 'products'
      }
    ])
  },
  methods: {
    exportTable () {
      // naive encoding to csv format
      // const columns = JSON.parse(JSON.stringify(this.cols))
      const columns = Object.create(this.cols)
      if (columns[columns.length - 1].name === 'actions') {
        columns.pop()
      }

      console.log('col', columns)
      const content = [columns.map(col => wrapCsvValue(col.label))].concat(
        this.records.map(row => columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === undefined ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    getRecords () {
      this.$q.loading.show()
      // console.log('params', this.$route.params, this.poolId, this.params)
      this.$api.get(this.route).then(res => {
        this.$q.loading.hide()
        this.records = res
        this.stringRecords = res
      })
    },
    filter () {
      if (this.text === '') {
        this.records = this.stringRecords
        return
      }
      const needle = this.text.toLowerCase()
      this.records = JSON.parse(JSON.stringify(this.stringRecords))
      this.records = this.stringRecords.filter(val => {
        return val.id.toString().toLowerCase().indexOf(needle) > -1 || val.name.toLowerCase().indexOf(needle) > -1 ||
        val.brand.toLowerCase().indexOf(needle) > -1 || val.color.toLowerCase().indexOf(needle) > -1
      })
    },
    deleteRecord (id) {
      this.confirm = true
      this.id = id
    },
    confirmDelete () {
      if (this.route) {
        this.$api.delete(this.route + '/' + this.id).then((res) => {
          if (res) {
            this.getRecords()
            this.$q.notify({
              type: 'positive',
              message: 'Registro eliminado con éxito!'
            })
          }
        })
      }
    }
  }
}
</script>
<style lang="css">
.circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
  .circle-blue {
    background-color: rgb(63, 81, 181);
  }
  .circle-primary {
    background-color: green;
  }
</style>
