<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script >
import Vue from 'vue'
import Vuelidate from 'vuelidate'
import * as VueGoogleMaps from 'vue2-google-maps'
import env from './env'
import money from 'v-money'
import VueCurrencyFilter from 'vue-currency-filter'

// register directive v-money and component <money>
Vue.use(money, { precision: 4 })

Vue.use(VueGoogleMaps, {
  load: {
    key: env.googleApiKey,
    libraries: 'places,drawing,directions,geometry' // This is required if you use the Autocomplete plugin
  },
  installComponents: true
})

Vue.use(Vuelidate)
Vue.use(VueCurrencyFilter)
export default {
  name: 'App'
}
</script>
