<template>
  <q-page>
    <div>
      <!-- <listable :title="title" :buttons="buttons" :cols="cols" route="customers"/> -->
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <q-btn class="q-ma-sm" round icon="get_app" color="primary" size="md" @click="exportTable">
                <q-tooltip>
                  Exportar
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ml-sm" round  @click="$q.fullscreen.toggle()"
                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="primary" size="md">
                <q-tooltip>
                  Pantalla completa
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-md-2">
              <q-input v-model="text" placeholder="Buscar" @input="filter" outlined dense>
                <template v-slot:append>
                  <q-icon v-if="text !== ''" name="close" @click="text = ''" class="cursor-pointer" />
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Asesor técnico</b>
            </div>
            <div class="col">
              <b class="text-grey-7">Cliente</b>
            </div>
            <div class="col">
              <b class="text-grey-7">Camaronera</b>
            </div>
            <div class="col">
              <b class="text-grey-7">Fecha P.</b>
            </div>
            <div class="col">
              <b class="text-grey-7">Hora P.</b>
            </div>
            <div class="col">
              <b class="text-grey-7">Fecha</b>
            </div>
            <div class="col">
              <b class="text-grey-7">Hora</b>
            </div>
            <div class="col">
              <b class="text-grey-7">Coordenadas</b>
            </div>
            <!-- <div class="col" style="text-align: right">
              <b class="text-grey-7">Acciones</b>
            </div> -->
          </q-card-section>
          <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(item) in records" :key="item.id">
              <div class="col">
                <p class="text-grey-7">{{ item.advisor.full_name }}</p>
              </div>
              <div class="col">
                <p class="text-grey-7">{{ item.customer ? item.customer.legal_name : 'Cliente eliminado' }}</p>
              </div>
              <div class="col">
                <p class="text-grey-7">{{ item.shrimp ? item.shrimp.name : '' }}</p>
              </div>
              <div class="col">
                <p class="text-grey-7">{{ item.dateF }}</p>
              </div>
              <div class="col">
                <p class="text-grey-7">{{ item.time }}</p>
              </div>
              <div class="col">
                <p :class="`text-${item.dateF == item.real_dateF ? 'green' : 'red'}`">
                  {{ item.real_dateF }}
                  <q-tooltip>
                    {{ item.dateF == item.real_dateF ? 'Se asistió en la fecha planificada' : 'No se asistió en la fecha planificada' }}
                  </q-tooltip>
                </p>
              </div>
              <div class="col">
                <p :class="`text-${item.ontime ? 'green' : 'red'}`">{{ item.real_time }}
                  <q-tooltip>
                    {{ item.ontime ? 'Se asistió a tiempo' : 'Se asistió fuera de tiempo' }}
                  </q-tooltip>
                </p>
              </div>
              <div class="col">
                <p :class="`text-${item.assisted ? 'green' : 'red'}`"
                v-if="item.ubication">
                <q-tooltip>El marcaje fue a {{ item.shrimp_distance }} mts de distancia</q-tooltip>
                {{ item.ubication.latitude }}, {{ item.ubication.longitude }}</p>
              </div>
              <!-- <div class="col" style="text-align: right">
                <q-btn v-if="can('2.5')" flat icon="edit" size="sm" color="primary"
                  :to="`/customers/form/${item.id}`"
                  dense>
                  <q-tooltip>
                    Editar
                  </q-tooltip>
                </q-btn>
                <q-btn v-if="can('2.4')" flat icon="delete" size="sm" color="primary" @click="deleteRecord(item.id)" dense>
                  <q-tooltip>
                    Eliminar
                  </q-tooltip>
                </q-btn>
                <q-btn v-if="can('2.1.1')" flat icon="remove_red_eye" size="sm" color="primary"
                 :to="`/customers/show/${item.id}`" dense>
                  <q-tooltip>
                    Ver
                  </q-tooltip>
                </q-btn>
              </div> -->
            </q-card-section>
            <q-separator color="grey-4" />
          </q-card>
      </div>
    </div>
    <q-dialog v-model="confirm" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <q-avatar icon="warning" color="negative" text-color="white" />
            <span class="q-ml-sm">Está seguro de eliminar?</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Eliminar" color="primary" @click="confirmDelete" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
  </q-page>
</template>

<script>
import { exportFile } from 'quasar'

function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== undefined
    ? formatFn(val)
    : val

  formatted = formatted === undefined || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')

  return `"${formatted}"`
}
// import Listable from 'components/Listable'
import { mapGetters } from 'vuex'
export default {
  components: {},
  data () {
    return {
      route: 'appointment_plannings',
      text: '',
      buttons: [
        {
          label: 'Nuevo', icon: 'add', color: 'primary', url: `${this.$route.path}/form`, action: '', permission: '2.2'
        }
      ],
      cols: [
        { name: 'legal_name', required: true, label: 'Nombre Legal', align: 'left', field: 'legal_name', sortable: true },
        { name: 'comercial_name', required: true, label: 'Nombre Comercial', align: 'left', field: 'comercial_name', sortable: true },
        { name: 'electronic_documents_email', required: true, label: 'Correo', align: 'left', field: 'electronic_documents_email', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ],
      records: [],
      stringRecords: [],
      confirm: false
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    title () {
      const assisted = this.records.length ? this.records.filter(val => val.shrimp_distance).length : 0
      console.log({ assisted })
      const notAssisted = this.records.length ? this.records.length - assisted : 0
      const total = assisted + notAssisted
      const percentAssisted = (assisted * 100 / total).toFixed()
      const percentNotAssisted = 100 - percentAssisted
      return this.records.length ? `Reporte de eventos Realizados ${percentAssisted}% - No realizados ${percentNotAssisted}%` : 'Reporte de eventos'
    }
  },
  mounted () {
    this.getRecords()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Clientes',
        icon: 'person',
        to: 'customers'
      }
    ])
  },
  methods: {
    getRecords () {
      this.$q.loading.show()
      // console.log('params', this.$route.params, this.poolId, this.params)
      this.$api.get(this.route).then(res => {
        this.$q.loading.hide()
        this.records = res
        this.stringRecords = res
      })
    },
    exportTable () {
      // naive encoding to csv format
      // const columns = JSON.parse(JSON.stringify(this.cols))
      const columns = Object.create(this.cols)
      if (columns[columns.length - 1].name === 'actions') {
        columns.pop()
      }

      console.log('col', columns)
      const content = [columns.map(col => wrapCsvValue(col.label))].concat(
        this.records.map(row => columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === undefined ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    filter () {
      if (this.text === '') {
        this.records = this.stringRecords
        return
      }
      const needle = this.text.toLowerCase()
      this.records = JSON.parse(JSON.stringify(this.stringRecords))
      this.records = this.stringRecords.filter(val => {
        return (val.advisor && val.advisor.full_name.toLowerCase().indexOf(needle) > -1) ||
        (val.customer && val.customer.comercial_name.toLowerCase().indexOf(needle) > -1) ||
        (val.customer && val.customer.legal_name.toLowerCase().indexOf(needle) > -1) ||
        (val.shrimp && val.shrimp.name.toLowerCase().indexOf(needle) > -1) ||
        val.dateF.toLowerCase().indexOf(needle) > -1 ||
        (val.realDateF && val.realDateF.toLowerCase().indexOf(needle) > -1) ||
        val.time.toLowerCase().indexOf(needle) > -1 ||
        (val.real_time && val.real_time.toLowerCase().indexOf(needle) > -1)
      })
    },
    deleteRecord (id) {
      this.confirm = true
      this.id = id
    },
    confirmDelete () {
      if (this.route) {
        this.$api.delete(this.route + '/' + this.id).then((res) => {
          if (res) {
            this.getRecords()
            this.$q.notify({
              type: 'positive',
              message: 'Registro eliminado con éxito!'
            })
          }
        })
      }
    }
  }
}
</script>
<style>
</style>
