<template>
  <q-page>
    <FormHeader :title="title" :subtitle="subtitle" :save="save" />
    <q-card>
    <div class="row q-pa-sm justify-center">
      <div class="col-xs-10 col-sm-6 col-md-4 col-lg-4 q-pb-md q-pr-md">
        <q-input placeholder="Laguna Azul" color="primary" v-model="form.name" label="Nombre" outlined
          error-message="Ingrese nombre del laboratorio" :error="$v.form.name.$error"
          @blur="$v.form.name.$touch()" stack-label autofocus/>
      </div>
    </div>
      <q-separator />
          <q-card-actions align="center">
            <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
            <q-btn push color="primary" label="Guardar" @click="save" glossy />
          </q-card-actions>
      </q-card>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
import FormHeader from 'components/FormHeader'
export default {
  components: {
    FormHeader
  },
  data () {
    return {
      title: 'Registro de Laboratorio',
      subtitle: 'Nuevo Laboratorio',
      route: 'laboratories',
      form: {},
      actions: true,
      direction: [
        {
          label: 'Home',
          icon: 'home',
          to: '/menu'
        },
        {
          label: 'Laboratorios',
          icon: 'biotech',
          to: '/laboratories'
        },
        {
          label: 'Nuevo Laboratorio',
          icon: 'biotech',
          to: ''
        }
      ]
    }
  },
  computed: {
  },
  validations () {
    return {
      form: {
        name: {
          required
        }
      }
    }
  },
  async mounted () {
    this.getVerify()
    this.$emit('setBreadcrumb', this.direction)
  },
  methods: {
    getVerify () {
      const id = this.$route.params.id
      if (id) {
        this.direction = [
          {
            label: 'Home',
            icon: 'home',
            to: '/menu'
          },
          {
            label: 'Laboratorios',
            icon: 'biotech',
            to: '/laboratories'
          },
          {
            label: 'Edición de Laboratorio',
            icon: 'biotech',
            to: ''
          }
        ]
        this.actions = false
        this.$api.get(`${this.route}/${id}`).then(res => {
          const temp = res
          this.form = temp
        })
      } else {
        this.direction = [
          {
            label: 'Home',
            icon: 'home',
            to: '/menu'
          },
          {
            label: 'Laboratorios',
            icon: 'biotech',
            to: '/laboratories'
          },
          {
            label: 'Nuevo Laboratorio',
            icon: 'biotech',
            to: ''
          }
        ]
        this.actions = true
      }
      console.log(this.title)
    },
    save () {
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        console.log('Error')
      } else {
        if (this.actions) {
          this.$q.loading.show()
          this.$api.post(`${this.route}`, this.form).then(res => {
            console.log(res)
            this.$q.loading.hide()
            this.$router.go(-1)
          })
        } else {
          this.$q.loading.show()
          const id = this.$route.params.id
          this.$api.put(`${this.route}/` + id, this.form).then(res => {
            console.log(res)
            this.$q.loading.hide()
            this.$router.go(-1)
          })
        }
      }
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 250px
  max-width: 250px
  height: 230px
.modal
  width: 320px
</style>
