<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar Alimento
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card class="q-pa-sm row" style="width: 100%">
        <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2 q-pb-md q-pr-md">
          <q-input placeholder="001" color="primary" v-model="form.code" label="Codigo" outlined
            error-message="Ingrese codigo del alimento" mask="##########" :error="$v.form.code.$error"
            @blur="$v.form.code.$touch()" stack-label/>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 q-pb-md q-pr-md">
          <q-input placeholder="Acido" color="primary" v-model="form.type" label="Nombre" outlined
            error-message="Ingrese nombre del alimento" :error="$v.form.type.$error"
            @blur="$v.form.type.$touch()" stack-label/>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 q-pb-md q-pr-md">
          <q-input type="number" placeholder="3" color="primary" v-model.number="form.from_weight" label="Rango inicial" outlined
            error-message="Ingrese rango inicial" :error="$v.form.from_weight.$error"
            @blur="$v.form.from_weight.$touch()" stack-label/>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 q-pb-md q-pr-md">
          <q-input type="number" placeholder="4" color="primary" v-model.number="form.to_weight" label="Rango final" outlined
            error-message="Ingrese rango final" :error="$v.form.to_weight.$error"
            @blur="$v.form.to_weight.$touch()" stack-label/>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 q-pb-md q-pr-md">
          <q-input prefix="$" placeholder="300.000.00"  reverse-fill-mask color="primary" v-model.number="form.price_kg" label="Costo/K" outlined
            error-message="Ingrese costo" :error="$v.form.price_kg.$error"
            @blur="$v.form.price_kg.$touch()" stack-label/>
        </div>
      </q-card>
    </q-card>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
export default {
  data () {
    return {
      title: 'Registro de Alimento',
      route: 'form',
      form: {},
      actions: true
    }
  },
  computed: {
  },
  validations () {
    return {
      form: {
        code: {
          required
        },
        type: {
          required
        },
        from_weight: {
          required
        },
        to_weight: {
          required
        },
        price_kg: {
          required
        }
      }
    }
  },
  async mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Alimentos',
        icon: 'local_grocery_store',
        to: '/foods'
      },
      {
        label: 'Nuevo Alimento',
        icon: 'local_grocery_store',
        to: '/form'
      }
    ])
    this.getVerify()
  },
  methods: {
    getVerify () {
      const id = this.$route.params.id
      if (id) {
        this.actions = false
        this.$api.get(`food_types/${id}`).then(res => {
          const temp = res
          this.form = temp
        })
      } else {
        this.actions = true
      }
    },
    save () {
      this.$v.form.$touch()
      if (this.$v.form.$error) {
        console.log('Error')
      } else {
        if (this.actions) {
          this.form.from_weight = parseFloat(this.form.from_weight)
          this.form.to_weight = parseFloat(this.form.to_weight)
          this.$api.post('food_types', this.form).then(res => {
            if (res.status) {
              this.form.from_weight = null
              this.form.to_weight = null
              this.$q.notify({
                position: 'center',
                textColor: 'white',
                icon: res.icon,
                color: res.color,
                message: res.message
              })
            } else {
              this.$router.push(res.to)
            }
          })
        } else {
          this.$q.loading.show()
          const id = this.$route.params.id
          this.$api.put('food_types/' + id, this.form).then(res => {
            console.log(res)
            this.$q.loading.hide()
            this.$router.go(-1)
          })
        }
      }
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 250px
  max-width: 250px
  height: 230px
.modal
  width: 320px
</style>
