<template>
  <q-page>
    <div>
      <!-- <listable :title="title" :buttons="buttons" :cols="cols" route="products"/> -->
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <q-btn class="q-ma-sm" v-if="can('4.21')" round icon="add" color="primary" size="md"
              :to="`${$route.path}/form`">
                <q-tooltip>
                  Nuevo Alimento
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ma-sm" round icon="get_app" color="primary" size="md" @click="exportTable">
                <q-tooltip>
                  Exportar
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ml-sm" round  @click="$q.fullscreen.toggle()"
                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="primary" size="md">
                <q-tooltip>
                  Pantalla completa
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-md-2">
              <q-input v-model="text" placeholder="Buscar" @input="filter" outlined dense>
                <template v-slot:append>
                  <q-icon v-if="text !== ''" name="close" @click="text = ''" class="cursor-pointer" />
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </div>
        </q-card-section>
        <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Código</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Nombre</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Costo</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Rango</b>
            </div>
            <div class="col" style="text-align: right">
              <b class="text-grey-7">Acciones</b>
            </div>
          </q-card-section>
          <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(item, index) in records" :key="index.code">
              <div class="col">
                <p class="text-grey-7">{{ item.code }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.type }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.price_kg }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.range }}</p>
              </div>
               <div class="col" style="text-align: right">
                <q-btn v-if="can('4.23')" flat icon="edit" size="sm" color="primary"
                  :to="`/foods/form/${item.id}`"
                  dense>
                  <q-tooltip>
                    Editar
                  </q-tooltip>
                </q-btn>
                <q-btn v-if="can('4.24')" flat icon="delete" size="sm" color="primary" @click="deleteRecord(item.id)" dense>
                  <q-tooltip>
                    Eliminar
                  </q-tooltip>
                </q-btn>
              </div>
            </q-card-section>
            <q-separator color="grey-4" />
          </q-card>
      </div>
      </q-card>
    </div>
    <q-dialog v-model="confirm" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <q-avatar icon="warning" color="negative" text-color="white" />
            <span class="q-ml-sm">Está seguro de eliminar?</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Eliminar" color="primary" @click="confirmDelete" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
  </q-page>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  async mounted () {
    this.getRecords()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Alimentos',
        icon: 'local_grocery_store',
        to: 'foods'
      }
    ])
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  data () {
    return {
      id: '',
      title: 'Alimentos',
      text: '',
      route: 'foods',
      buttons: [
        {
          label: 'Nuevo', icon: 'add', color: 'primary', url: `${this.$route.path}/form`, action: '', permission: '4.22'
        }
      ],
      cols: [
        { name: 'code', required: true, label: 'Código', align: 'left', field: 'id', sortable: true },
        { name: 'type', required: true, label: 'Nombre', align: 'left', field: 'type', sortable: true },
        { name: 'price_kg', required: true, label: 'Costo', align: 'left', field: 'brand', sortable: true },
        { name: 'range', required: true, label: 'Rango', align: 'left', field: 'actions' },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ],
      records: [],
      stringRecords: [],
      confirm: false
    }
  },
  methods: {
    getRecords () {
      this.$q.loading.show()
      // console.log('params', this.$route.params, this.poolId, this.params)
      this.$api.get('food_types').then(res => {
        this.$q.loading.hide()
        this.records = res
        this.stringRecords = res
      })
    },
    filter () {
      if (this.text === '') {
        this.records = this.stringRecords
        return
      }
      const needle = this.text.toLowerCase()
      this.records = JSON.parse(JSON.stringify(this.stringRecords))
      this.records = this.stringRecords.filter(val => {
        return val.name.toString().toLowerCase().indexOf(needle) > -1 || val.code.toLowerCase().indexOf(needle) > -1 ||
        val.price_kg.toLowerCase().indexOf(needle) > -1 || val.range.toLowerCase().indexOf(needle) > -1
      })
    },
    deleteRecord (id) {
      this.confirm = true
      this.id = id
    },
    confirmDelete () {
      this.$api.delete('food_types/' + this.id).then((res) => {
        if (res) {
          this.getRecords()
          this.$q.notify({
            type: 'positive',
            message: 'Registro eliminado con éxito!'
          })
        }
      })
    }
  }
}
</script>
