<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card-section class="bg-primary text-white row">
        <div class="col-md-2">
          <div class="text-h6">{{ title }}</div>
          <div class="text-subtitle2">{{ form.comercial_name }}</div>
        </div>

        <div style="margin: auto" class="row items-center justify-center">
          <q-btn v-if="can('2.1.1.1')" class="q-mr-md" label="Camaroneras" :to="`/customers/show/${id}/shrimps`"/>
          <q-btn-dropdown color="primary" label="Acciones">
            <q-list>
              <q-item v-for="(item, index) in actions" :key="index" clickable v-close-popup>
                <q-item-section>
                  <q-item-label>{{ item.label }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
        </div>
      </q-card-section>
      <div class="q-pa-md row">
        <div class="col-md-6 q-pr-md">
          <q-card style="height: 300px">
            <q-card-section>
               <q-chip square icon="money">Ventas año</q-chip>
               <q-chip square icon="money">Cupo asignado</q-chip>
            </q-card-section>
          </q-card>
        </div>
        <div class="col-md-6">
          <q-card class="my-card">
            <q-card-section>
              <q-chip square icon="money">Área total</q-chip>
              <br>
              <q-btn color="primary" class="q-mr-md" label="Cuadro de cosechas" />
            </q-card-section>
          </q-card>
        </div>
        <div class="col-md-6 q-pr-md q-pt-md">
          <q-card style="height: 300px">
            <q-card-section>
              <q-chip square icon="money">Nivel de atención</q-chip>
            </q-card-section>
          </q-card>
        </div>
        <div class="col-md-6 q-pt-md">
          <q-card class="my-card">
            <q-card-section>
              <q-chip square icon="money">Visitas a la fecha</q-chip>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </q-card>
    <!-- <q-card>
      <q-separator />
      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card> -->
  </q-page>
</template>
<script>
import { FormMixin } from '../../../mixins/form'
import { mapGetters } from 'vuex'
export default {
  mixins: [FormMixin],
  data () {
    return {
      id: this.$route.params.id,
      title: 'Cliente',
      fullName: 'Nombre cliente',
      route: 'customers',
      actions: [
        {
          label: 'Acción 1',
          action: ''
        },
        {
          label: 'Acción 2',
          action: ''
        },
        {
          label: 'Acción 3',
          action: ''
        }
      ],
      form: {}
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Clientes',
        icon: 'person',
        to: '/customers'
      },
      {
        label: 'Gestión Cliente',
        icon: 'person',
        to: 'customers/show'
      }
    ])
  },
  methods: {
    afterMounted () {
      this.fullName = this.form.comercial_name
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  height: 100%
</style>
