<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11 col-sm-10">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }}</b></div>
            </div>
            <div class="col-md-1 col-sm-2" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.44')" label="Guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar análisis
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card-section class="q-pa-sm row">
        <q-card flat class="q-pa-md row" style="width: 100%; background: #f5f5f5!important; border-radius: 10px; justify-content: space-between">
          <div class="col-auto">
            <label for=""><b>Provincia:</b> {{state}}</label>
          </div>
          <q-separator vertical/>
          <div class="col-auto">
            <label for=""><b>Sector:</b> {{ sector }}</label>
          </div>
          <q-separator vertical/>
          <div class="col-auto">
            <label for=""><b>Cliente:</b> {{ customer }}</label>
          </div>
        </q-card>
        <q-card class="q-pa-sm" style="width: 100%" flat>
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm q-pb-md">
              <q-select v-model="form.shrimp_id" label="Camaronera" outlined :readonly="shrimpReadOnly" :options="shrimps"
              emit-value map-options option-label="name" option-value="id"/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm">
             <q-select v-model.number="form.pool_id" color="primary" label="Piscina" outlined
                :options="pools" option-value="id" option-label="description"
               emit-value map-options :error="$v.form.pool_id.$error" error-message="Seleccione piscina"/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm q-pb-md">
              <q-input type="number" color="primary" label="Área"
              :value="poolArea" outlined
              readonly/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm">
              <q-select v-model.number="form.seed_type" color="primary" label="Tipo de siembra" outlined
                :options="seedTypes" :error="$v.form.seed_type.$error" error-message="Seleccione tipo de siembra"
               emit-value map-options/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm">
              <q-input type="date" v-model="form.seed_time" color="primary" label="Fecha de siembra"
              :error="$v.form.seed_time.$error" error-message="Ingrese fecha de siembra" outlined stack-label/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm">
              <q-input type="date" v-model="form.harvest_date" color="primary" label="Fecha de cosecha"
              :error="$v.form.harvest_date.$error" error-message="Ingrese fecha de cosecha" outlined
              stack-label/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm">
              <q-select v-model.number="form.laboratory_id" color="primary" label="Laboratorio" outlined
                :options="laboratories" option-value="id" option-label="name" :error="$v.form.laboratory_id.$error"
                error-message="Seleccione laboratorio"
               emit-value map-options/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm">
              <q-field color="primary" outlined v-model="form.seed" label="Siembra"
                :error="$v.form.seed.$error" error-message="Ingrese siembra"
              >
                <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                  <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                </template>
              </q-field>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm">
               <q-input type="number" v-model="form.seed_weight" color="primary" label="Peso siembra"
              :error="$v.form.seed_weight.$error" error-message="Ingrese peso de siembra" outlined
              stack-label/>
              <!-- <q-field color="primary" outlined v-model="form.seed_weight" label="Peso inicial"
                :error="$v.form.seed_weight.$error" error-message="Ingrese peso inicial"
              >
                <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                  <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" />
                </template>
              </q-field> -->
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm">
               <!-- <q-input type="number" v-model="form.kg_food" color="primary" label="KG de alimento"
              :error="$v.form.kg_food.$error" error-message="Ingrese valor" outlined
              stack-label/> -->
              <q-field color="primary" outlined v-model="form.kg_food" label="KG de alimento"
                :error="$v.form.kg_food.$error" error-message="Ingrese valor"
              >
                <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                  <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                </template>
              </q-field>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm">
               <q-input type="number" v-model.number="form.dry_days" color="primary" label="Días seco"
              :error="$v.form.dry_days.$error" error-message="Ingrese valor" outlined
              stack-label/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm">
               <q-input type="number" v-model="form.cost_kilo_food" color="primary" label="Costo $Kilo Alimento"
              :error="$v.form.cost_kilo_food.$error" error-message="Ingrese valor" outlined
              stack-label/>
              <!-- <q-field color="primary" outlined v-model="form.cost_kilo_food" label="Costo $Kilo Alimento"
                :error="$v.form.cost_kilo_food.$error" error-message="Ingrese valor"
              >
                <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                  <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" />
                </template>
              </q-field> -->
            </div>
            <!-- <div class="col-md-3 q-pt-md q-pr-sm">
              <q-input type="number" v-model="form.cost_pound" color="primary" label="Costo libra"
              :error="$v.form.cost_pound.$error" error-message="Ingrese valor" outlined
              stack-label/>
            </div> -->
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm">
              <q-input type="number" v-model="form.us_dollar_day_ha" color="primary" label="Costo $/Día/Ha"
              :error="$v.form.us_dollar_day_ha.$error" error-message="Ingrese valor" outlined
              stack-label/>
              <!-- <q-field color="primary" outlined v-model="form.us_dollar_day_ha" label="Costo $/Día/Ha"
                :error="$v.form.us_dollar_day_ha.$error" error-message="Ingrese valor"
              >
                <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                  <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" />
                </template>
              </q-field> -->
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm">
              <q-input type="number" v-model="form.youth_cost" color="primary" label="Costo juvenil"
              :error="$v.form.youth_cost.$error" error-message="Ingrese valor" outlined
              stack-label/>
              <!-- <q-field color="primary" outlined v-model="form.youth_cost" label="Costo juvenil"
                :error="$v.form.youth_cost.$error" error-message="Ingrese valor"
              >
                <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                  <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" />
                </template>
              </q-field> -->
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm">
              <q-input type="number" v-model="form.us_dollar_pound" color="primary" label="Venta $/lib"
              :error="$v.form.us_dollar_pound.$error" error-message="Ingrese valor" outlined
              stack-label/>
              <!-- <q-field color="primary" outlined v-model="form.us_dollar_pound" label="Venta $/lib"
                :error="$v.form.us_dollar_pound.$error" error-message="Ingrese valor"
              >
                <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                  <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" />
                </template>
              </q-field> -->
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm">
              <q-select v-model="form.start_foods" color="primary" label="Alimento inicio" outlined multiple
                :options="products" option-value="id" option-label="name" :error="$v.form.start_foods.$error"
                error-message="Seleccione alimentos" emit-value map-options use-chips clearable/>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pt-md q-pr-sm">
              <q-select v-model="form.fattening_foods" color="primary" label="Alimento engorde" outlined multiple
                :options="products" option-value="id" option-label="name" :error="$v.form.fattening_foods.$error"
                error-message="Seleccione alimentos" emit-value map-options use-chips clearable/>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-md-3 q-pa-md">
              <q-input type="number" v-model="form.us_dollar_kg" color="primary" label="Venta $/kg"
              :error="$v.form.us_dollar_kg.$error" error-message="Ingrese valor" outlined
              stack-label/>
            </div> -->
            <!-- <div class="col-md-3 q-pa-md">
              <q-select v-model.number="form.start_food_id" color="primary" label="Alimento inicio" outlined
                :options="products" option-value="id" option-label="name" :error="$v.form.start_food_id.$error"
                error-message="Seleccione alimento"
               emit-value map-options/>
            </div> -->
          </div>
          <div class="row">
            <template v-if="$q.screen.lt.sm">
              <div class="col-12 text-h6">
                1 Raleo
              </div>
              <div class="col-12 q-pt-md q-pr-sm">
                <q-field color="primary" outlined v-model="form.pounds_first_thinning" label="Libras"
                  :error="$v.form.pounds_first_thinning.$error" error-message="Ingrese valor"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                  </template>
                </q-field>
              </div>
              <div class="col-12 q-pt-md q-pr-sm">
                <q-input type="number" v-model="form.weight_first_thinning" color="primary" label="Peso"
                  :error="$v.form.weight_first_thinning.$error" error-message="Ingrese valor" outlined
                  stack-label/>
              </div>
              <div class="col-12 q-pt-md q-pr-sm">
                <q-input type="number" v-model="form.dollar_pound_first_thinning" color="primary" label="$/lb"
              :error="$v.form.dollar_pound_first_thinning.$error" error-message="Ingrese valor" outlined
                stack-label/>
              </div>
              <div class="col-12 text-h6">
                2 Raleo
              </div>
              <div class="col-12 q-pt-md q-pr-sm">
                <q-field color="primary" outlined v-model="form.pounds_second_thinning" label="Libras"
                  :error="$v.form.pounds_second_thinning.$error" error-message="Ingrese valor"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                  </template>
                </q-field>
              </div>
              <div class="col-12 q-pt-md q-pr-sm">
                <q-input type="number" v-model="form.weight_second_thinning" color="primary" label="Peso"
              :error="$v.form.weight_second_thinning.$error" error-message="Ingrese valor" outlined
                stack-label/>
              </div>
              <div class="col-12 q-pt-md q-pr-sm">
                <q-input type="number" v-model="form.dollar_pound_second_thinning" color="primary" label="$/lb"
              :error="$v.form.dollar_pound_second_thinning.$error" error-message="Ingrese valor" outlined
                stack-label/>
              </div>
              <div class="col-12 text-h6">
                3 Raleo
              </div>
              <div class="col-12 q-pt-md q-pr-sm">
                <q-field color="primary" outlined v-model="form.pounds_third_thinning" label="Libras"
                  :error="$v.form.pounds_third_thinning.$error" error-message="Ingrese valor"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                  </template>
                </q-field>
              </div>
              <div class="col-12 q-pt-md q-pr-sm">
                <q-input type="number" v-model="form.weight_third_thinning" color="primary" label="Peso"
              :error="$v.form.weight_third_thinning.$error" error-message="Ingrese valor" outlined
                stack-label/>
              </div>
              <div class="col-12 q-pt-md q-pr-sm">
                <q-input type="number" v-model="form.dollar_pound_third_thinning" color="primary" label="$/lb"
              :error="$v.form.dollar_pound_third_thinning.$error" error-message="Ingrese valor" outlined
                stack-label/>
              </div>
              <div class="col-12 text-h6">
                Cosecha
              </div>
              <div class="col-12 q-pt-md q-pr-sm">
                <q-field color="primary" outlined v-model="form.pounds_fourth_thinning" label="Libras"
                  :error="$v.form.pounds_fourth_thinning.$error" error-message="Ingrese valor"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                  </template>
                </q-field>
              </div>
              <div class="col-12 q-pt-md q-pr-sm">
                <q-input type="number" v-model="form.weight_fourth_thinning" color="primary" label="Peso"
              :error="$v.form.weight_fourth_thinning.$error" error-message="Ingrese valor" outlined
                stack-label/>
              </div>
            </template>
            <template v-else>
              <div class="col-sm-3 col-md-3 q-pa-md">
                1 Raleo
              </div>
              <div class="col-sm-3 col-md-3 q-pa-md">
                2 Raleo
              </div>
              <div class="col-sm-3 col-md-3 q-pa-md">
                3 Raleo
              </div>
              <div class="col-sm-3 col-md-3 q-pa-md">
                Cosecha
              </div>
              <div class="col-sm-3 col-md-3 q-pa-md">
                <q-field color="primary" outlined v-model="form.pounds_first_thinning" label="Libras"
                  :error="$v.form.pounds_first_thinning.$error" error-message="Ingrese valor"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                  </template>
                </q-field>
              </div>
              <div class="col-sm-3 col-md-3 q-pa-md">
                <q-field color="primary" outlined v-model="form.pounds_second_thinning" label="Libras"
                  :error="$v.form.pounds_second_thinning.$error" error-message="Ingrese valor"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                  </template>
                </q-field>
              </div>
              <div class="col-sm-3 col-md-3 q-pa-md">
                <q-field color="primary" outlined v-model="form.pounds_third_thinning" label="Libras"
                  :error="$v.form.pounds_third_thinning.$error" error-message="Ingrese valor"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                  </template>
                </q-field>
              </div>
              <div class="col-sm-3 col-md-3 q-pa-md">
                <q-field color="primary" outlined v-model="form.pounds_fourth_thinning" label="Libras"
                  :error="$v.form.pounds_fourth_thinning.$error" error-message="Ingrese valor"
                >
                  <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                    <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                  </template>
                </q-field>
              </div>
              <div class="col-sm-3 col-md-3 q-pa-md">
                <q-input type="number" v-model="form.weight_first_thinning" color="primary" label="Peso"
              :error="$v.form.weight_first_thinning.$error" error-message="Ingrese valor" outlined
                stack-label/>
              </div>
              <div class="col-sm-3 col-md-3 q-pa-md">
                <q-input type="number" v-model="form.weight_second_thinning" color="primary" label="Peso"
              :error="$v.form.weight_second_thinning.$error" error-message="Ingrese valor" outlined
                stack-label/>
              </div>
              <div class="col-sm-3 col-md-3 q-pa-md">
                <q-input type="number" v-model="form.weight_third_thinning" color="primary" label="Peso"
              :error="$v.form.weight_third_thinning.$error" error-message="Ingrese valor" outlined
                stack-label/>
              </div>
              <div class="col-sm-3 col-md-3 q-pa-md">
                <q-input type="number" v-model="form.weight_fourth_thinning" color="primary" label="Peso"
              :error="$v.form.weight_fourth_thinning.$error" error-message="Ingrese valor" outlined
                stack-label/>
              </div>
              <div class="col-sm-3 col-md-3 q-pa-md">
                <q-input type="number" v-model="form.dollar_pound_first_thinning" color="primary" label="$/lb"
              :error="$v.form.dollar_pound_first_thinning.$error" error-message="Ingrese valor" outlined
                stack-label/>
              </div>
              <div class="col-sm-3 col-md-3 q-pa-md">
                <q-input type="number" v-model="form.dollar_pound_second_thinning" color="primary" label="$/lb"
              :error="$v.form.dollar_pound_second_thinning.$error" error-message="Ingrese valor" outlined
                stack-label/>
              </div>
              <div class="col-sm-3 col-md-3 q-pa-md">
                <q-input type="number" v-model="form.dollar_pound_third_thinning" color="primary" label="$/lb"
              :error="$v.form.dollar_pound_third_thinning.$error" error-message="Ingrese valor" outlined
                stack-label/>
              </div>
            </template>
          </div>
        </q-card>
        <q-card flat class="q-pa-sm row text-primary" style="width: 100%; background: #f5f5f5!important; border-radius: 10px">
          <div class="col-xs-12 col-sm-4 col-md-6 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Fecha de cosecha: {{ form.harvest_date }}</b> </label>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-6 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Densidad de cosecha: {{ harvest | currency }}</b> </label>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-6 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Libras cosechadas: {{ poundsTotalHarvested | currency }}</b></label>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-6 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Crec. día: {{ daily }}</b> </label>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-6 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Peso: {{ weightTotalHarvested | currency({ thousandsSeparator: '.',
  fractionSeparator: ',', fractionCount: '2', }) }}</b></label>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-6 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Crec: {{ weekly }}</b></label>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-6 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>%sup: {{ sup | currency({ thousandsSeparator: '.', fractionSeparator: ',', fractionCount: '2', }) }}%</b> </label>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-6 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Lbs/Ha: {{ poundsHa | currency }}</b></label>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-6 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Días: {{ days }}</b></label>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-6 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>FCA: {{ fca | currency({ thousandsSeparator: '.', fractionSeparator: ',', fractionCount: '2', }) }}</b></label>
          </div>
        </q-card>
      </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
import { FormMixin } from '../../../mixins/form'
import { date } from 'quasar'
export default {
  mixins: [FormMixin],
  data () {
    return {
      id: this.$route.params.id,
      shrimpId: this.$route.params.shrimpId !== 'undefined' ? this.$route.params.shrimpId : undefined,
      poolId: this.$route.params.poolId,
      reportId: this.$route.params.reportId,
      title: 'Reporte de cosecha',
      subtitle: '',
      route: 'harvest_reports',
      form: {
      },
      products: [],
      laboratories: [],
      seedTypes: [
        {
          label: 'Directa',
          value: 1
        },
        {
          label: 'Madre hija',
          value: 2
        },
        {
          label: 'Raceways - transferida',
          value: 3
        },
        {
          label: 'Transferida',
          value: 4
        }
      ],
      shrimpReadOnly: false,
      shrimps: [],
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 0,
        masked: false
      },
      money2: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 2,
        masked: false
      }
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    poolArea () {
      const pool = this.pools.find(val => val.id === this.form.pool_id)
      return this.form.pool_id && this.pools.length && pool ? this.pools.find(val => val.id === this.form.pool_id).area : ''
    },
    density () {
      console.log('seed', this.seed, 'poolArea', this.poolArea)
      return this.form.seed && this.poolArea ? (this.form.seed / this.poolArea).toFixed() : ''
    },
    grSeed () {
      return this.form.seed && this.form.seed_weight ? this.form.seed * this.form.seed_weight : ''
    },
    days () {
      return this.form.harvest_date && this.form.seed_time ? date.getDateDiff(this.form.harvest_date, this.form.seed_time, 'days') + 1 : ''
    },
    gr () {
      return this.form.pounds_fourth_thinning ? this.form.pounds_fourth_thinning * 454 : ''
    },
    ani () {
      return this.gr && this.form.weight_fourth_thinning ? (this.gr / this.form.weight_fourth_thinning).toFixed(2) : ''
    },
    harvest () {
      return this.harvested && this.poolArea ? (this.harvested / this.poolArea / 10000).toFixed() : ''
    },
    daily () {
      return this.form.weight_fourth_thinning && this.form.seed_weight && this.days ? ((this.form.weight_fourth_thinning - this.form.seed_weight) / this.days).toFixed(2) : ''
    },
    weekly () {
      return this.daily ? (this.daily * 7).toFixed(2) : ''
    },
    rofi () {
      return 1
    },
    _rofi () {
      return 1 / this.rofi
    },
    sale () {
      return this.form.us_dollar_pound && this.form.pounds_fourth_thinning ? this.form.us_dollar_pound * this.form.pounds_fourth_thinning : ''
    },
    utility () {
      return this.form.us_dollar_day_ha && this.poolArea && this.days ? (this.form.us_dollar_day_ha * this.poolArea * this.days).toFixed(2) : ''
    },
    dailyWithOutThinning () {
      return this.form.weight_fourth_thinning && this.form.seed_weight && this.days ? ((this.form.weight_fourth_thinning - this.form.seed_weight) / this.days).toFixed(2) : ''
    },
    weeklyWithOutThinning () {
      return this.dailyWithOutThinning ? ((this.dailyWithOutThinning * 7)).toFixed(2) : ''
    },
    state () {
      const exists = this.shrimps.find(val => val.id === this.form.shrimp_id)
      return this.shrimps && this.form.shrimp_id && exists ? exists.state.name : ''
    },
    sector () {
      return this.shrimps && this.form.shrimp_id ? this.shrimps.find(val => val.id === this.form.shrimp_id).customer.sector : ''
    },
    customer () {
      return this.shrimps && this.form.shrimp_id ? this.shrimps.find(val => val.id === this.form.shrimp_id).customer.legal_name : ''
    },
    pools () {
      // Obtengo las piscinas de la camaronera seleccionada
      return this.form.shrimp_id && this.shrimps.length ? (this.shrimps.find(val => val.id === parseInt(this.form.shrimp_id))).pools : []
    },
    poundsTotalHarvested () {
      const poundsFirstThinning = this.form.pounds_first_thinning && typeof parseFloat(this.form.pounds_first_thinning) === 'number' ? parseFloat(this.form.pounds_first_thinning) : 0
      const poundsSecondThinning = this.form.pounds_second_thinning && typeof parseFloat(this.form.pounds_second_thinning) === 'number' ? parseFloat(this.form.pounds_second_thinning) : 0
      const poundsThirdThinning = this.form.pounds_third_thinning && typeof parseFloat(this.form.pounds_third_thinning) === 'number' ? parseFloat(this.form.pounds_third_thinning) : 0
      const poundsFourthThinning = this.form.pounds_fourth_thinning && typeof parseFloat(this.form.pounds_fourth_thinning) === 'number' ? parseFloat(this.form.pounds_fourth_thinning) : 0
      return parseFloat(poundsFirstThinning) + parseFloat(poundsSecondThinning) + parseFloat(poundsThirdThinning) + parseFloat(poundsFourthThinning)
    },
    weightTotalHarvested () {
      const poundsFirstThinning = this.form.pounds_first_thinning && typeof parseFloat(this.form.pounds_first_thinning) === 'number' ? parseFloat(this.form.pounds_first_thinning) : 0
      const poundsSecondThinning = this.form.pounds_second_thinning && typeof parseFloat(this.form.pounds_second_thinning) === 'number' ? parseFloat(this.form.pounds_second_thinning) : 0
      const poundsThirdThinning = this.form.pounds_third_thinning && typeof parseFloat(this.form.pounds_third_thinning) === 'number' ? parseFloat(this.form.pounds_third_thinning) : 0
      const poundsFourthThinning = this.form.pounds_fourth_thinning && typeof parseFloat(this.form.pounds_fourth_thinning) === 'number' ? parseFloat(this.form.pounds_fourth_thinning) : 0
      const weightFirstThinning = this.form.weight_first_thinning && typeof parseFloat(this.form.weight_first_thinning) === 'number' ? parseFloat(this.form.weight_first_thinning) : 0
      const weightSecondThinning = this.form.weight_second_thinning && typeof parseFloat(this.form.weight_second_thinning) === 'number' ? parseFloat(this.form.weight_second_thinning) : 0
      const weightThirdThinning = this.form.weight_third_thinning && typeof parseFloat(this.form.weight_third_thinning) === 'number' ? parseFloat(this.form.weight_third_thinning) : 0
      const weightFourthThinning = this.form.weight_fourth_thinning && typeof parseFloat(this.form.weight_fourth_thinning) === 'number' ? parseFloat(this.form.weight_fourth_thinning) : 0
      // =(IFERROR((O19*454),0)+IFERROR((X19*454),0)+IFERROR((R19*454),0)+IFERROR((U19*454),0))/(IFERROR((O19*454/P19),0)+IFERROR((X19*454/Y19),0)+IFERROR((R19*454/S19),0)+IFERROR((U19*454/V19),0))
      const sum = (poundsFirstThinning * 454) + (poundsSecondThinning * 454) + (poundsThirdThinning * 454) + (poundsFourthThinning * 454)
      // console.log({ sum })
      const val1 = ((poundsFirstThinning * 454) / weightFirstThinning)
      const val2 = ((poundsSecondThinning * 454) / weightSecondThinning)
      const val3 = ((poundsThirdThinning * 454) / weightThirdThinning)
      const val4 = ((poundsFourthThinning * 454) / weightFourthThinning)
      const sum2 = (!isNaN(val1) ? val1 : 0) + (!isNaN(val2) ? val2 : 0) + (!isNaN(val3) ? val3 : 0) + (!isNaN(val4) ? val4 : 0)
      const val = sum / sum2
      return val.toFixed(2)
    },
    sup () {
      return this.poundsTotalHarvested && this.weightTotalHarvested && this.form.seed ? ((this.poundsTotalHarvested * 454 / this.weightTotalHarvested / this.form.seed) * 100).toFixed(2) : ''
    },
    poundsHa () {
      return this.poundsTotalHarvested && this.poolArea ? (this.poundsTotalHarvested / this.poolArea).toFixed() : ''
    },
    fca () {
      return this.form.kg_food && this.poundsTotalHarvested ? ((this.form.kg_food * 2.2046) / this.poundsTotalHarvested).toFixed(2) : ''
    },
    harvested () {
      return this.poundsTotalHarvested && this.weightTotalHarvested ? (this.poundsTotalHarvested * 454 / this.weightTotalHarvested).toFixed() : ''
    },
    roi () {
      // =(AW9*F9*N9)/(AN9*AB9)
      // return this.form.us_dollar_day_ha && this.poolArea && this.days && this.form.cost_pound && this.poundsTotalHarvested ? (((this.form.us_dollar_day_ha * this.poolArea * this.days) / (this.form.cost_pound * this.poundsTotalHarvested)) * 100).toFixed(2) : ''
      return ((this.profitDayHa * this.poolArea * this.days) / (this.costPound * this.poundsTotalHarvested)) * 100
    },
    costPound () {
      return (this.costLarva + this.costFood + this.costOperative) / this.poundsTotalHarvested
    },
    costLarva () {
      return this.form.seed / 1000 * this.form.youth_cost
    },
    costFood () {
      return this.form.cost_kilo_food * this.form.kg_food
    },
    costOperative () {
      return this.form.us_dollar_day_ha * (this.days + this.form.dry_days) * this.poolArea
    },
    saleSale () {
      const poundsFirstThinning = this.form.pounds_first_thinning && typeof parseFloat(this.form.pounds_first_thinning) === 'number' ? parseFloat(this.form.pounds_first_thinning) : 0
      const poundsSecondThinning = this.form.pounds_second_thinning && typeof parseFloat(this.form.pounds_second_thinning) === 'number' ? parseFloat(this.form.pounds_second_thinning) : 0
      const poundsThirdThinning = this.form.pounds_third_thinning && typeof parseFloat(this.form.pounds_third_thinning) === 'number' ? parseFloat(this.form.pounds_third_thinning) : 0
      return (((this.form.pounds_fourth_thinning * 0.95) + ((this.form.pounds_fourth_thinning - (this.form.pounds_fourth_thinning * 0.95)) * 0.66)) * this.form.us_dollar_pound) + (((poundsFirstThinning * 0.95) + ((9 - (9 * 0.95)) * 0.66)) * this.form.dollar_pound_first_thinning) + (((poundsSecondThinning * 0.95) + ((poundsSecondThinning - (poundsSecondThinning * 0.95)) * 0.66)) * this.form.dollar_pound_second_thinning) + (((poundsThirdThinning * 0.95) + ((poundsThirdThinning - (poundsThirdThinning * 0.95)) * 0.66)) * this.form.dollar_pound_third_thinning)
    },
    profit () {
      return this.saleSale - this.costOperative - this.costFood - this.costLarva
    },
    profitDayHa () {
      return this.profit / this.days / this.poolArea
    }
  },
  validations: {
    form: {
      pool_id: { required },
      seed_type: { required },
      seed_time: { required },
      seed_weight: { required },
      laboratory_id: { required },
      harvest_date: { required },
      kg_food: { required },
      // cost_pound: { required },
      us_dollar_day_ha: { required },
      us_dollar_pound: { required },
      seed: { required },
      pounds_first_thinning: { },
      pounds_second_thinning: { },
      pounds_third_thinning: { },
      pounds_fourth_thinning: { required },
      weight_first_thinning: { },
      weight_second_thinning: { },
      weight_third_thinning: { },
      weight_fourth_thinning: { required },
      start_foods: { required },
      fattening_foods: { required },
      dry_days: { required },
      cost_kilo_food: { required },
      youth_cost: { required },
      dollar_pound_first_thinning: { required },
      dollar_pound_second_thinning: { required },
      dollar_pound_third_thinning: { required }
    }
  },
  mounted () {
    this.getShrimp()
    /* this.getCustomer()
    this.getPools() */
    this.getLaboratories()
    this.getProducts()
  },
  methods: {
    async getShrimp () {
      this.shrimps = await this.$api.getData('shrimps')
      if (this.shrimpId) {
        this.$set(this.form, 'shrimp_id', parseInt(this.shrimpId))
        this.shrimpReadOnly = true // Si se recibió la camaronera para el análisis colocar el campo de solo lectura
      }
    },
    async getLaboratories () {
      /* this.$api.get('laboratories').then(res => {
        if (res) {
          this.laboratories = res
        }
      }) */
      const res = await this.$api.getData('laboratories')
      if (res) {
        this.laboratories = res
      }
    },
    async getProducts () {
      /* this.$api.get('products').then(res => {
        if (res) {
          this.products = res
        }
      }) */
      const res = await this.$api.getData('products')
      if (res) {
        this.products = res
      }
    },
    afterSave (res = undefined) {
      if (res) {
        this.printHarvestReport(res.id)
      }
    },
    printHarvestReport (projectionId) {
      this.$api.get(`harvest_reports_print/${projectionId}`).then(res => {
        if (res) {
          // PDF generado
        }
      })
    }
  }
}
</script>
<style lang="css">
.title {
  float: left;
  position: absolute;
  left: 20px;
  top: 0
}
.subtitle {
  float: left;
  position: absolute;
  left: 20px;
  top: 25px;
}
.q-table tbody td {
    font-size: 14px
  }
  .circle {
    width: 15px;
    height: 15px;
    border-radius: 11px;
  }
  .circle-blue {
    background-color: rgb(63, 81, 181);
  }
  .circle-primary {
    background-color: green;
  }
</style>
<style lang="sass">
.my-sticky-header-table
  /* height or max-height is important */
  height: 510px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #bdbdbd!important;

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
