<template>
  <q-page>
    <!-- <q-btn-group push>
      <q-btn color="primary" push label="Acción 1" icon="timeline" />
      <q-btn push label="Acción 2" icon="visibility" />
      <q-btn text-color="primary" push label="Acción 3" icon="update" />
    </q-btn-group> -->
    <q-card class="q-pa-md">
     <FormHeader :title="title" :subtitle="subtitle" :save="save" />
      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-select color="primary" v-model="form.area_id" :options="areas" label="Área" emit-value map-options
            outlined hint="Seleccione un área" error-message="Seleccione un área"
            :error="$v.form.area_id.$error" @blur="$v.form.area_id.$touch()" option-label="description" option-value="id" autofocus>
          </q-select>
        </div>
      </div>

      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-input color="primary" v-model="form.name" label="Nombre" error-message="Ingrese nombre de departamento válido"
            :error="$v.form.name.$error" @blur="$v.form.name.$touch()" placeholder="Departamento 1"
            hint="Ingrese nombre de departamento válido" outlined>
          </q-input>
        </div>
      </div>
      <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pt-md">
        <q-card flat bordered>
          <div style="cursor: pointer" class="q-pa-lg">
            <q-btn class="float-right" round color="primary" icon="add" @click="addSection"/>
          </div>
          <q-card-section class="">
            <div class="text-subtitle2" :style="$v.form.sections.$error ? 'color: red' : 'color: black'">Secciones
              <small>Seleccione al menos una sección</small>
            </div>
          </q-card-section>
          <q-list>
            <q-item tag="label" v-ripple v-for="(section, index) in sections" :key="index">
              <q-item-section avatar>
                <q-checkbox v-model="form.sections" :val="section.id" color="primary" />
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ section.name }}</q-item-label>
                <q-item-label caption>{{ section.description }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card>
      </div>
      <q-separator />

      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../mixins/form'
import FormHeader from 'components/FormHeader'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      title: 'Departamentos',
      subtitle: 'Nuevo departamento',
      route: 'departments',
      form: {
        sections: []
      },
      areas: [],
      sections: []
    }
  },
  validations () {
    return {
      form: {
        area_id: { required },
        name: { required, minLength: minLength(6), maxLength: maxLength(60) },
        sections: { required }
      }
    }
  },
  mounted () {
    this.getAreas()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Departamentos',
        icon: 'person',
        to: '/departments'
      },
      {
        label: 'Nueva departamento',
        icon: 'person',
        to: 'departments/form'
      }
    ])
  },
  methods: {
    getAreas () {
      this.$api.get('areas').then(res => {
        if (res) {
          this.areas = res
        }
      })
    },
    getSections () {
      this.$api.get('sections', { params: { notAssigned: true } }).then(res => {
        if (res) {
          if (this.insert) {
            this.sections = res
          } else {
            this.sections = this.form.sections.concat(res)
            this.form.sections = this.form.sectionIds
          }
        }
      })
    },
    afterMounted () {
      this.getSections()
    },
    addSection () {
      this.$q.dialog({
        title: 'Nueva sección',
        message: 'Nombre de la sección',
        prompt: {
          model: '',
          isValid: val => val.length > 2,
          type: 'text' // optional
        },
        cancel: true,
        persistent: true
      }).onOk(data => {
        this.$api.post('sections', { description: data }).then(res => {
          this.getSections()
        })
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    }
  }
}
</script>
