<template>
  <q-page>
    <!-- <q-btn-group push>
      <q-btn color="primary" push label="Acción 1" icon="timeline" />
      <q-btn push label="Acción 2" icon="visibility" />
      <q-btn text-color="primary" push label="Acción 3" icon="update" />
    </q-btn-group> -->
    <div>
      <listable :title="title" :buttons="buttons" :cols="cols" route="departments" :pagination="pagination"
      :dense="$q.screen.lt.md"/>
    </div>
  </q-page>
</template>

<script>
import Listable from 'components/Listable'
export default {
  components: { Listable },
  data () {
    return {
      title: 'Departamentos',
      pagination: {
        page: 1,
        rowsPerPage: 10
      },
      buttons: [
        {
          label: 'Nuevo', icon: 'add', color: 'primary', url: `${this.$route.path}/form`, action: '', permission: '1.9.2'
        }
      ],
      cols: [
        { name: 'area', required: true, label: 'Área', align: 'left', field: row => row.area ? row.area.description : 'Sin área', sortable: true },
        { name: 'name', required: true, label: 'Descripción', align: 'left', field: 'name', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ]
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Departamentos',
        icon: 'person',
        to: 'departments'
      }
    ])
  }
}
</script>
<style>
</style>
