<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-10">
              <div class="text-h4"><b>{{ title }}</b></div>
              <!-- <div class="text-subtitle1"><b>{{ subtitle }}</b></div> -->
            </div>
            <div class="col-md-2" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.27') && form.details.length" label="Guardar" rounded color="primary" size="md"
              @click="save">
                <q-tooltip>
                  Guardar
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-md-10">
            </div>
            <div class="col-md-2" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.27') && form.details.length < 4" label="Agregar tabla" icon="add" rounded color="primary" size="md"
              @click="addTable">
                <q-tooltip>
                  Agregar tabla
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-card>
    <q-card class="q-pa-md" style="width: 100%">
          <div class="row">
            <q-card v-for="(item, key) in form.details" class="col-md-4 q-pa-md" :key="key">
              <q-btn v-if="can('2.1.1.1.42')" color="primary" icon="delete" @click="deleteTable(key)" flat round dense>
                <q-tooltip>
                  Eliminar tabla
                </q-tooltip>
              </q-btn>
              <div class="row">
                <div class="col-md-6 q-pr-md">
                  <!-- <q-select class="q-pb-md q-pr-md" label="Raleo" :value="item.thinning" :options="thinningTypes"
                  emit-value map-options outlined color="blue" filled bg-color="blue-1" readonly/> -->
                  <q-select label="Raleo" v-model="item.thinning" :options="thinningTypes" emit-value map-options
                  error-message="Seleccione valor" :error="$v.form.details.$each[key].thinning.$error"
                  @blur="$v.form.details.$each[key].thinning.$touch()" outlined autofocus/>
                </div>
                <div class="col-md-6">
                  <!-- <q-select class="q-pb-md" label="Tipo de siembra" :value="item.planting_type" :options="plantingTypes"
                  emit-value map-options outlined filled bg-color="blue-1" readonly/> -->
                  <q-select label="Tipo de siembra" v-model="item.planting_type" :options="plantingTypes"
                  error-message="Seleccione valor" emit-value map-options
                  :error="$v.form.details.$each[key].planting_type.$error" @blur="$v.form.details.$each[key].planting_type.$touch()" outlined/>
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Piscina" outlined filled bg-color="blue-1" readonly/> -->
                  <q-select label="Piscina" v-model="item.pool_id" :options="pools"
                    option-value="id" :option-label="opt => Object(opt) === opt && opt.area ? opt.description + ' - ' + opt.area + ' ' + 'Has' : ''"
                    error-message="Seleccione piscina" :error="$v.form.details.$each[key].pool_id.$error" @blur="$v.form.details.$each[key].pool_id.$touch()"
                    map-options emit-value outlined/>
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="Hectáreas" outlined readonly/> -->
                  <q-select label="Alimento" v-model="item.food_id" :options="products"
                    option-value="id" option-label="name"
                    error-message="Seleccione alimento" :error="$v.form.details.$each[key].pool_id.$error" @blur="$v.form.details.$each[key].pool_id.$touch()"
                    map-options emit-value outlined/>
                </div>
                <div class="col-md-12">
                  <q-separator color="grey" />
                </div>
                <div class="col-md-12">
                  <div class="text-h6 text-primary">Producción</div>
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-field class="q-pb-md" label="Densidad" filled bg-color="blue-1" :value="item.density" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-field color="primary" outlined v-model="item.density" label="Densidad"
                    :error="$v.form.details.$each[key].density.$error" @blur="$v.form.details.$each[key].density.$touch()" error-message="Ingrese densidad">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 q-pa-md">
                  <p><b>Cosecha</b></p>
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Supervivencia" :value="item.survival" filled bg-color="blue-1" suffix="%" outlined readonly/> -->
                  <q-input type="number" label="Supervivencia" v-model="item.survival" error-message="Ingrese valor"
                  :error="$v.form.details.$each[key].survival.$error" @blur="$v.form.details.$each[key].survival.$touch()" outlined suffix="%"/>
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="Precio" :value="item.harvest_price" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Precio" :value="item.harvest_price" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Tamaños - gramos" :value="item.size_grs" filled bg-color="blue-1" outlined readonly/> -->
                  <!-- <q-field class="q-pb-md" label="Tamaños - gramos" :value="item.size_grs" filled bg-color="blue-1" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-input type="number" color="primary" outlined v-model="item.size_grs" label="Tamaños - gramos"
                    :error="$v.form.details.$each[key].size_grs.$error" @blur="$v.form.details.$each[key].size_grs.$touch()" error-message="Ingrese valor">
                    <!-- <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                      v-show="floatingLabel" />
                    </template> -->
                  </q-input>
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="Libras" :value="item.pounds" outlined filled bg-color="light-green-3" readonly/> -->
                  <q-field class="q-pb-md" label="Libras" :value="item.pounds" outlined filled bg-color="light-green-3" readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-field class="q-pb-md" label="Peso siembra" filled bg-color="blue-1" :value="item.size_planting" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-input type="number" color="primary" outlined v-model="item.size_planting" label="Peso siembra"
                    :error="$v.form.details.$each[key].size_planting.$error" @blur="$v.form.details.$each[key].size_planting.$touch()" error-message="Ingrese valor">
                    <!-- <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                      v-show="floatingLabel" />
                    </template> -->
                  </q-input>
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="Cabeza" :value="item.production_head" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Cabeza" :value="item.production_head" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <!-- <div class="col-md-6">
                </div> -->
                <div class="col-md-6 q-pr-md">
                  <q-input class="q-pb-md" label="Ciclos" :value="item.cicles" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="Cola" :value="item.production_tail" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Cola" :value="item.production_tail" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 q-pr-md">
                  <q-input class="q-pb-md" label="Crecimiento" :value="item.growth" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6">
                </div>
                <!-- <div class="col-md-6">
                  <q-input class="q-pb-md" label="US$" :value="item.production_us_dolar" filled bg-color="light-green-3" outlined readonly/>
                </div> -->
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Total" :value="item.production_total" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-input class="q-pb-md" label="Cam/m" :value="item.cam_m" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-12">
                  <q-separator color="grey" />
                </div>
                <div class="col-md-6 q-pr-md">
                  <div class="text-h6 text-primary">Ventas</div>
                </div>
                <div class="col-md-6">
                  <b v-if="item.thinning == 1">Raleo</b>
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Libras / Ha" :value="item.pounds_shrimp_ha" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Libras / Ha" :value="item.pounds_shrimp_ha" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                  <!-- <q-field v-if="item.thinning == 1" class="q-pb-md" label="Tam raleo" :value="item.size_thinning" outlined filled bg-color="blue-1" readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-field v-if="item.thinning == 1" color="primary" outlined v-model="item.size_thinning" label="Tam raleo"
                    :error="$v.form.details.$each[key].size_thinning.$error"
                    @blur="$v.form.details.$each[key].size_thinning.$touch()" error-message="Ingrese valor">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                      v-show="floatingLabel" />
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Libras camarón/Ha" :value="item.pounds_shrimp_ha" filled bg-color="light-green-3" outlined readonly/> -->
                  <!-- <q-field v-if="item.thinning == 1" class="q-pb-md" label="Libras/Ha Raleo" :value="item.pounds_thinning" filled bg-color="blue-1" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-field v-if="item.thinning == 1" color="primary" outlined v-model="item.pounds_thinning" label="Libras/Ha Raleo"
                    :error="$v.form.details.$each[key].pounds_thinning.$error"
                    @blur="$v.form.details.$each[key].pounds_thinning.$touch()" error-message="Ingrese valor">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money"
                      v-show="floatingLabel" />
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="Precio" :value="item.thinning_price" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field v-if="item.thinning == 1" class="q-pb-md" label="Precio" :value="item.thinning_price" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Precio venta/libra" :value="item.price_pound_sale" filled bg-color="light-green-3" outlined readonly/> -->
                  <!-- <q-input class="q-pb-md" label="Total Ventas US$" :value="item.sale_us_dolar" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Total Ventas US$" :value="item.sale_us_dolar" filled bg-color="light-green-3" prefix="$" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="Libras" :value="item.pounds_thinning2" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field v-if="item.thinning == 1" class="q-pb-md" label="Libras" :value="item.pounds_thinning2" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="Cabeza" :value="item.sale_head" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field v-if="item.thinning == 1" class="q-pb-md" label="Cabeza" :value="item.sale_head" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 q-pr-md">
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="Cola" :value="item.sale_tail" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field v-if="item.thinning == 1" class="q-pb-md" label="Cola" :value="item.sale_tail" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 q-pr-md">
                </div>
                <div class="col-md-12">
                  <q-separator color="grey" />
                </div>
                <div class="col-md-12">
                  <div class="text-h6 text-primary">Gastos</div>
                </div>
                <div class="col-md-6 q-pr-md">
                  <u>Post-Larva</u>
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="US$" :value="item.expenses_us_dolar" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="US$" :value="item.expenses_us_dolar" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-field class="q-pb-md" label="Costo juvenil" :value="item.cost_per_thounsand" filled bg-color="blue-1" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-field color="primary" outlined v-model="item.cost_per_thounsand" label="Costo juvenil" prefix="$"
                    :error="$v.form.details.$each[key].cost_per_thounsand.$error" @blur="$v.form.details.$each[key].cost_per_thounsand.$touch()" error-message="Ingrese valor">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                      v-show="floatingLabel" />
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Millares de P-Larvas" :value="item.thousands_larvae" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Millares de P-Larvas" :value="item.thousands_larvae" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6 q-pr-md">
                  <u>Balanceado</u>
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="US$" :value="item.balanced_us_dolar" filled bg-color="light-green-3" outlined readonly/> -->
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Biomasa inicial" :value="item.initial_biomass" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Biomasa inicial" :value="item.initial_biomass" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 q-pr-md">
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-field class="q-pb-md" label="Feed Conver" :value="item.fc" filled bg-color="blue-1" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-field color="primary" outlined v-model="item.fc" label="Feed conver"
                    :error="$v.form.details.$each[key].fc.$error" @blur="$v.form.details.$each[key].fc.$touch()" error-message="Ingrese valor">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                      v-show="floatingLabel" />
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Kilos balanceado" :value="item.balanced_kilos" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Kilos balanceado" :value="item.balanced_kilos" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-field class="q-pb-md" label="US$ / kg de balanc" :value="item.us_kg_balance" filled bg-color="blue-1" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-field color="primary" outlined v-model="item.us_kg_balance" label="$ Kg Alim"
                    :error="$v.form.details.$each[key].us_kg_balance.$error" @blur="$v.form.details.$each[key].us_kg_balance.$touch()" error-message="Ingrese valor">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                      v-show="floatingLabel" />
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Costo saco balanceado" filled bg-color="light-green-3" :value="item.balanced_bag_cost" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Costo saco balanceado" filled bg-color="light-green-3" :value="item.balanced_bag_cost" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="US$" :value="item.balanced_us_dolar" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="US$" :value="item.balanced_us_dolar" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>

                <div class="col-md-6 q-pr-md">
                  <u>Operaciones</u>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6 q-pr-md">
                  <q-input type="number" label="Días de producción" v-model="item.production_days" error-message="Ingrese valor"
                    :error="$v.form.details.$each[key].production_days.$error" @blur="$v.form.details.$each[key].production_days.$touch()" outlined/>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Días de paralización" filled bg-color="blue-1" :value="item.stopping_days" outlined readonly/> -->
                  <q-input type="number" label="Días de paralización" v-model="item.stopping_days" error-message="Ingrese valor"
                    :error="$v.form.details.$each[key].stopping_days.$error" @blur="$v.form.details.$each[key].stopping_days.$touch()" outlined/>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-field class="q-pb-md" label="Costo día / Ha" :value="item.cost_day_ha" filled bg-color="blue-1" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-field color="primary" outlined v-model="item.cost_day_ha" label="Costo día/ha"
                    :error="$v.form.details.$each[key].cost_day_ha.$error" @blur="$v.form.details.$each[key].cost_day_ha.$touch()" error-message="Ingrese valor">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                      v-show="floatingLabel" />
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="US$" :value="item.operations_us_dolar" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="US$" :value="item.operations_us_dolar" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <!-- <div class="col-md-6 q-pr-md">
                  <q-input class="q-pb-md" label="Total" :value="item.total_days" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6">
                </div> -->
                <div class="col-md-12">
                  <div class="text-h6 text-primary">Resumen de costos</div>
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Total costos" :value="item.total_cost" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Total costos" :value="item.total_cost" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="Total ventas" :value="item.total_sale" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Total ventas" :value="item.total_sale" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Utilidad" :value="item.utility" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Utilidad" :value="item.utility" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="Margen kg" :value="item.margin_kg" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Margen kg" :value="item.margin_kg" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Margen lb" :value="item.margin_pounds" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Margen lb" :value="item.margin_pounds" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="Costo/lb" :value="item.cost_pound" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Costo/lb" :value="item.cost_pound" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Utilidad $/ha/día" :value="item.utility_ha_day" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Utilidad $/ha/día" :value="item.utility_ha_day" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                  <q-field class="q-pb-md" label="Utilidad/Ha" :value="item.utility_ha" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="ROI" :value="item.roi" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="ROI" :value="item.roi" filled bg-color="light-green-3" outlined readonly suffix="%">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6">
                  <!-- <q-input class="q-pb-md" label="ROFI" :value="item.rofi" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="ROFI" :value="item.rofi" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <!-- <div class="col-md-6">
                  <q-input class="q-pb-md" label="1/ROFI" :value="item._rofi" filled bg-color="light-green-3" outlined readonly/>
                </div> -->
              </div>
            </q-card>
          </div>
          <!-- </q-scroll-area> -->
    </q-card>
    <q-dialog v-model="showAddTable">
      <q-card style="min-width: 350px">
        <div class="q-pl-md q-pt-md">
          <div class="text-h6 text-primary">Tabla de comparación</div>
        </div>
        <div class="q-pa-md q-pb-none row">
          <div class="col-md-6 q-pr-md q-pb-md">
            <q-select label="Raleo" v-model="table.thinning" :options="thinningTypes" emit-value map-options
            error-message="Seleccione valor" :error="$v.table.thinning.$error" @blur="$v.table.thinning.$touch()" outlined autofocus/>
          </div>
          <div class="col-md-6">
            <q-select label="Tipo de siembra" v-model="table.planting_type" :options="plantingTypes"
             error-message="Seleccione valor" emit-value map-options
            :error="$v.table.planting_type.$error" @blur="$v.table.planting_type.$touch()" outlined/>
          </div>
          <div class="col-md-6 q-pr-md">
            <q-select label="Piscina" v-model="table.pool_id" :options="pools"
              option-value="id" :option-label="opt => Object(opt) === opt && opt.area ? opt.description + ' - ' + opt.area + ' ' + 'Has' : ''"
              error-message="Seleccione piscina" :error="$v.table.pool_id.$error" @blur="$v.table.pool_id.$touch()"
              map-options emit-value outlined/>
          </div>
          <div class="col-md-12 q-pt-md">
            <q-separator color="grey-4" />
          </div>
        </div>
        <div class="q-pl-md">
          <div class="text-h6 text-primary">Producción</div>
        </div>
        <div class="q-pa-md q-pb-none row">
          <div class="col-md-6 q-pr-md q-pb-md">
            <q-field color="primary" outlined v-model="table.density" label="Densidad"
              :error="$v.table.density.$error" @blur="$v.table.density.$touch()" error-message="Ingrese densidad">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
              </template>
            </q-field>
          </div>
          <div class="col-md-6">
            <q-input type="number" label="Supervivencia" v-model="table.survival" error-message="Ingrese valor"
            :error="$v.table.survival.$error" @blur="$v.table.survival.$touch()" outlined suffix="%"/>
          </div>
          <div class="col-md-6 q-pr-md">
            <q-field color="primary" outlined v-model="table.size_grs" label="Tamaños - gramos"
              :error="$v.table.size_grs.$error" @blur="$v.table.size_grs.$touch()" error-message="Ingrese valor">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                v-show="floatingLabel" />
              </template>
            </q-field>
          </div>
          <div class="col-md-6 q-pr-md">
            <!-- <q-input label="Tamaños - siembra" v-model="table.size_planting" error-message="Ingrese valor"
            :error="$v.table.size_planting.$error" @blur="$v.table.size_planting.$touch()" outlined/> -->
            <q-field color="primary" outlined v-model="table.size_planting" label="Peso siembra"
              :error="$v.table.size_planting.$error" @blur="$v.table.size_planting.$touch()" error-message="Ingrese valor">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                v-show="floatingLabel" />
              </template>
            </q-field>
          </div>
          <!-- <div class="col-md-12 q-pt-md" style="text-align: center;">
            <b class="text-primary">Cosecha</b>
          </div> -->
          <!-- <div class="col-md-6 q-pr-md">
            <q-input label="Libras" v-model="table.pounds" error-message="Ingrese valor"
            :error="$v.table.pounds.$error" @blur="$v.table.pounds.$touch()" outlined/>
          </div> -->
        </div>
        <div v-if="table.thinning == 1" class="q-pt-md q-pl-md">
          <div class="text-h6 text-primary">Ventas</div>
        </div>
        <div class="q-pa-md q-pb-none row">
          <!-- <div class="col-md-6 q-pr-md q-pb-md">
            <q-input label="CTVS/Gramo" v-model="table.cent_gr" error-message="Ingrese valor"
            :error="$v.table.cent_gr.$error" @blur="$v.table.cent_gr.$touch()" outlined/>
          </div> -->
          <template v-if="table.thinning == 1">
            <div class="col-md-12 q-pt-md" style="text-align: center;">
              <b class="text-primary">Raleo</b>
            </div>
            <div class="col-md-6 q-pr-md q-pb-md">
              <q-field color="primary" outlined v-model="table.size_thinning" label="Tam raleo"
              :error="$v.table.size_thinning.$error" @blur="$v.table.size_thinning.$touch()" error-message="Ingrese valor">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                v-show="floatingLabel" />
              </template>
            </q-field>
            </div>
            <div class="col-md-6 q-pr-md">
              <q-field color="primary" outlined v-model="table.pounds_thinning" label="Libras/Ha Raleo"
                :error="$v.table.pounds_thinning.$error" @blur="$v.table.pounds_thinning.$touch()" error-message="Ingrese valor">
                <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                  <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money"
                  v-show="floatingLabel" />
                </template>
              </q-field>
            </div>
          </template>
        </div>
        <div class="q-pt-md q-pl-md">
          <div class="text-h6 text-primary">Gastos</div>
        </div>
        <div class="q-pa-md q-pb-none row">
          <div class="col-md-12">
           <u class="text-primary">Post Larvas</u>
          </div>
          <div class="col-md-6 q-pr-md q-pb-md">
            <q-field color="primary" outlined v-model="table.cost_per_thounsand" label="Costo juvenil" prefix="$"
              :error="$v.table.cost_per_thounsand.$error" @blur="$v.table.cost_per_thounsand.$touch()" error-message="Ingrese valor">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                v-show="floatingLabel" />
              </template>
            </q-field>
          </div>
          <div class="col-md-12 q-pt-md">
            <u class="text-primary">Balanceado</u>
          </div>
          <!-- <div class="col-md-6 q-pr-md q-pb-md">
            <q-input type="number" label="Biomasa inicial" v-model="table.initial_biomass"
            error-message="Ingrese valor" :error="$v.table.initial_biomass.$error"
            @blur="$v.table.initial_biomass.$touch()" outlined/>
          </div> -->
          <div class="col-md-6 q-pr-md">
            <q-field color="primary" outlined v-model="table.fc" label="Feed conver"
              :error="$v.table.fc.$error" @blur="$v.table.fc.$touch()" error-message="Ingrese valor">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                v-show="floatingLabel" />
              </template>
            </q-field>
          </div>
          <div class="col-md-6 q-pr-md">
            <q-field color="primary" outlined v-model="table.us_kg_balance" label="$ Kg Alim"
              :error="$v.table.us_kg_balance.$error" @blur="$v.table.us_kg_balance.$touch()" error-message="Ingrese valor">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                v-show="floatingLabel" />
              </template>
            </q-field>
          </div>
          <div class="col-md-12 q-pt-md">
            <u class="text-primary">Operaciones</u>
          </div>
          <div class="col-md-6 q-pr-md q-pb-md">
            <q-input type="number" label="Días de producción" v-model="table.production_days" error-message="Ingrese valor"
            :error="$v.table.production_days.$error" @blur="$v.table.production_days.$touch()" outlined/>
          </div>
          <div class="col-md-6 q-pr-md">
            <q-input type="number" label="Días de paralización" v-model="table.stopping_days" error-message="Ingrese valor"
            :error="$v.table.stopping_days.$error" @blur="$v.table.stopping_days.$touch()" outlined/>
          </div>
          <div class="col-md-6 q-pr-md">
            <q-field color="primary" outlined v-model="table.cost_day_ha" label="Costo día/ha"
              :error="$v.table.cost_day_ha.$error" @blur="$v.table.cost_day_ha.$touch()" error-message="Ingrese valor">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                v-show="floatingLabel" />
              </template>
            </q-field>
          </div>
        </div>
        <q-card-actions align="right" class="text-primary">
          <!-- <q-btn outline text-color="grey-7" label="Cancelar" v-close-popup/> -->
          <q-btn flat color="primary" label="Guardar" @click="saveTable"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
// import { FormMixin } from '../../../../../mixins/form'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      customerID: this.$route.params.id,
      shrimpId: this.$route.params.shrimpId,
      projectionId: this.$route.params.projectionId,
      title: 'Proyección de costo beneficio',
      subtitle: 'Nuevo análisis',
      route: 'floor_analysis',
      showAddTable: false,
      form: {
        details: []
      },
      pools: [
      ],
      table: {
      },
      plantingTypes: [
        {
          label: 'Madre hija',
          value: 1
        },
        {
          label: 'Transferida',
          value: 2
        },
        {
          label: 'Directa',
          value: 3
        },
        {
          label: 'Raceways-transferida',
          value: 4
        }
      ],
      thinningTypes: [
        {
          label: 'Con raleo',
          value: 1
        },
        {
          label: 'Sin raleo',
          value: 2
        }
      ],
      edit: false,
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 0,
        masked: false
      },
      money2: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 2,
        masked: false
      },
      products: [],
      shrimpPricesRanges: []
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  validations () {
    return {
      form: {
        details: {
          $each: {
            pool_id: { required },
            thinning: { required },
            planting_type: { required },
            density: { required },
            survival: { required },
            size_grs: { required },
            size_planting: { required },
            pounds: {},
            cent_gr: {},
            size_thinning: {},
            price: {},
            pounds_thinning: {},
            cost_per_thounsand: { required },
            fc: { required },
            us_kg_balance: { required },
            production_days: { required },
            stopping_days: { required },
            cost_day_ha: { required },
            initial_biomass: {}
          }
        }
      },
      table: {
        pool_id: { required },
        thinning: { required },
        planting_type: { required },
        density: { required },
        survival: { required },
        size_grs: { required },
        size_planting: { required },
        pounds: {},
        cent_gr: {},
        size_thinning: {},
        price: {},
        pounds_thinning: {},
        cost_per_thounsand: { required },
        fc: { required },
        us_kg_balance: { required },
        production_days: { required },
        stopping_days: { required },
        cost_day_ha: { required },
        initial_biomass: {}
      }
    }
  },
  async mounted () {
    if (this.projectionId) {
      this.getRecord(this.projectionId)
    }
    this.getPools()
    this.getProducts()
    this.getShrimpRanges()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Clientes',
        icon: 'person',
        to: '/customers'
      },
      {
        label: 'Gestión Cliente',
        icon: 'person',
        to: '/customers/show/' + this.customerID
      },
      {
        label: 'Camaroneras',
        icon: 'person',
        to: `/customers/show/${this.customerID}/shrimps`
      },
      {
        label: 'Proyecciones de costo beneficio',
        icon: 'person',
        to: `/customers/show/${this.customerID}/shrimps/${this.shrimpId}/cost_benefit_projection`
      },
      {
        label: this.insert ? 'Nueva proyección' : 'Ver proyección',
        icon: 'person',
        to: `/customers/show/${this.customerID}/shrimps/${this.shrimpId}/cost_benefit_projection/form`
      }
    ])
  },
  methods: {
    getRecord (id) {
      this.$api.get(`cost_benefit_projections/${id}`).then(res => {
        if (res) {
          this.form.details = res.details
        }
      })
    },
    getPools () {
      this.$api.get(`pools_shrimps/${this.shrimpId}`).then(res => {
        if (res) {
          this.pools = res
        }
      })
    },
    getProducts () {
      this.$api.get('products').then(res => {
        if (res) {
          this.products = res
        }
      })
    },
    saveTable () {
      console.log('table', this.table)
      this.$v.table.$touch()
      if (!this.$v.table.$error) {
        this.table.shrimp_id = this.shrimpId
        if (!this.projectionId) { // Si se está en modo inserción
          // const area = this.pools.find(val => val.id === this.table.pool_id).area
          // Animales = Densidad * area
          // Calcular biomasa inicial. Animales sembrados * peso / 454
          // const animals = this.table.density * area
          this.$api.post('cost_benefit_projections', this.table).then(res => {
            if (res) {
              this.getRecord(res.cost_benefit_projection_id)
              this.$router.push('/customers/show/' + this.customerID + '/shrimps/' + this.shrimpId + '/cost_benefit_projection/' + 'form/' + res.cost_benefit_projection_id)
              this.projectionId = res.cost_benefit_projection_id
              this.printReport()
              this.showAddTable = false
              this.table = {}
              this.$v.table.$reset()
            }
          })
        } else { // Si está en modo de edición
          this.table.projectionId = this.projectionId
          if (!this.edit) { // Si es inserción de tabla
            this.$api.post('cost_benefit_projections', this.table).then(res => {
              if (res) {
                this.getRecord(this.projectionId)
                this.printReport()
                this.showAddTable = false
                this.table = {}
                this.$v.table.$reset()
              }
            })
          } else { // Si es edición de una tabla
            this.$api.put(`cost_benefit_projections/${this.table.id}`, this.table).then(res => {
              if (res) {
                this.getRecord(this.projectionId)
                this.printReport()
                this.showAddTable = false
                this.edit = false
                this.table = {}
                this.$v.table.$reset()
              }
            })
          }
        }
      }
    },
    editReport (table) {
      this.table = { ...table }
      this.showAddTable = true
      this.edit = true
    },
    printReport () {
      this.$api.get(`cost_benefit_projections_print/${this.projectionId}`).then(res => {
        if (res) {
          /* this.$api.get(`filepdf/${res}`, { responseType: 'blob' }).then(res2 => {
            const blob = new Blob([res2])
            const ext = res.split('.')
            this.ext = ext[ext.length - 1]
            const fileName = 'Reporte de proyeccion costo-beneficio.pdf'
            this.fileName = fileName

            if (this.$q.platform.is.mobile) { // Si es teléfono
              // this.saveBlob2File(fileName, blob)
            } else { // Si es navegador
              const url = window.URL.createObjectURL(blob)
              const link = document.createElement('a')
              link.href = url
              link.setAttribute('download', fileName)
              document.body.appendChild(link)
              link.click()
            }
            this.$q.loading.hide()
          }).catch(function (error) {
            console.log('error descargando', error)
          }) */
        }
      })
    },
    addTable () {
      this.form.details.push({})
    },
    save () {
      console.log('form', this.form)
      this.$v.form.details.$touch()
      if (!this.$v.form.details.$error) {
        this.$q.loading.show()
        this.form.shrimp_id = this.shrimpId
        if (!this.projectionId) { // Si se está en modo inserción
          this.$api.post('cost_benefit_projections2', this.form).then(res => {
            if (res) {
              this.getRecord(res)
              this.$router.push('/customers/show/' + this.customerID + '/shrimps/' + this.shrimpId + '/cost_benefit_projection/' + 'form/' + res)
              this.projectionId = res
              this.printReport()
              this.showAddTable = false
              this.table = {}
              this.$v.table.$reset()
              this.$q.loading.hide()
            }
          })
        } else { // Si está en modo de edición
          // this.form.projectionId = this.projectionId
          this.$api.put(`cost_benefit_projections2/${this.projectionId}`, this.form).then(res => {
            if (res) {
              this.getRecord(this.projectionId)
              this.printReport()
              this.showAddTable = false
              this.edit = false
              this.table = {}
              this.$v.table.$reset()
              this.$q.loading.hide()
            }
          })
        }
      }
    },
    deleteTable (index) {
      this.form.details.splice(index, 1)
    },
    getShrimpRanges () {
      /* this.$api.get('cost_benefit_projections_shrimp_ranges').then(res => {
        this.shrimpPricesRanges = res
      }) */
    },
    calculateData (index) {
      console.log('density', this.form.details[index].density)
      const density = this.form.details[index].density ? this.form.details[index].density : 0
      const productionDays = this.form.details[index].production_days ? this.form.details[index].production_days : 0
      const stoppingDays = this.form.details[index].stopping_days ? this.form.details[index].stopping_days : 0
      const totalDays = productionDays + stoppingDays
      const cicles = (365 / totalDays).toFixed(2)
      const sizeGrs = this.form.details[index].size_grs ? this.form.details[index].size_grs : 0
      const sizePlanting = this.form.details[index].size_planting ? this.form.details[index].size_planting : 0
      const survival = this.form.details[index].survival ? this.form.details[index].survival : 0
      const sizeThinning = this.form.details[index].size_thinning ? this.form.details[index].size_thinning : 0
      const growth = (((sizeGrs - sizePlanting) / productionDays) * 7).toFixed(2)
      const camM = (density * (survival / 100) / 10000).toFixed()

      this.form.details[index].cicles = cicles
      this.form.details[index].growth = growth
      this.form.details[index].cam_m = camM

      // Cálculo de precio de cosecha
      let priceRecord
      if (sizeGrs >= 8 && sizeGrs <= 9.5) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 1)
      } else if (sizeGrs >= 10 && sizeGrs <= 11.5) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 2)
      } else if (sizeGrs >= 12 && sizeGrs <= 13.5) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 3)
      } else if (sizeGrs >= 14 && sizeGrs <= 16) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 4)
      } else if (sizeGrs >= 17 && sizeGrs <= 20) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 5)
      } else if (sizeGrs >= 21 && sizeGrs <= 25) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 6)
      } else if (sizeGrs >= 26 && sizeGrs <= 31) {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 7)
      } else {
        priceRecord = this.shrimpPricesRanges.find(val => val.range_id === 8)
      }
      this.form.details[index].harvest_price = ((priceRecord.lastPrice * sizeGrs / priceRecord.average_size) / 2.2046)

      // Cálculo de precio de raleo
      let priceRecordThinning
      if (sizeThinning >= 8 && sizeThinning <= 9.5) {
        priceRecordThinning = this.shrimpPricesRanges.find(val => val.range_id === 1)
      } else if (sizeThinning >= 10 && sizeThinning <= 11.5) {
        priceRecordThinning = this.shrimpPricesRanges.find(val => val.range_id === 2)
      } else if (sizeThinning >= 12 && sizeThinning <= 13.5) {
        priceRecordThinning = this.shrimpPricesRanges.find(val => val.range_id === 3)
      } else if (sizeThinning >= 14 && sizeThinning <= 16) {
        priceRecordThinning = this.shrimpPricesRanges.find(val => val.range_id === 4)
      } else if (sizeThinning >= 17 && sizeThinning <= 20) {
        priceRecordThinning = this.shrimpPricesRanges.find(val => val.range_id === 5)
      } else if (sizeThinning >= 21 && sizeThinning <= 25) {
        priceRecordThinning = this.shrimpPricesRanges.find(val => val.range_id === 6)
      } else if (sizeThinning >= 26 && sizeThinning <= 31) {
        priceRecordThinning = this.shrimpPricesRanges.find(val => val.range_id === 7)
      } else {
        priceRecordThinning = this.shrimpPricesRanges.find(val => val.range_id === 8)
      }

      this.form.details[index].thinning_price = ((priceRecordThinning.lastPrice * sizeThinning / priceRecordThinning.average_size) / 2.2046)
    }
  }
}
</script>
