<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11 col-sm-10">
              <div class="text-h4"><b>{{ title }} {{ form.day }}</b></div>
              <!-- <div class="text-subtitle1"><b>{{ subtitle }}</b></div> -->
            </div>
            <div class="col-md-1 col-sm-2" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.29.5')" label="Guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar datos
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card-section class="q-pa-sm row">
        <q-card class="q-pa-sm row text-primary" style="width: 100%;">
          <div class="offset-md-3 offset-sm-3 col-xs-12 col-sm-2 col-md-2 col-lg-2 q-pb-md q-pr-md q-pt-md">
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 q-pb-md q-pr-md">
             <label for=""><b>Proyección</b></label>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 q-pr-md">
            <label for=""><b>Valor real</b></label>
          </div>
          <div class="offset-md-3 offset-sm-3 col-xs-12 col-sm-2 col-md-2 col-lg-2 q-pb-md q-pr-md q-pt-md">
             <label for=""><b>Alimento/día(Kg)</b></label>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 q-pb-md q-pr-md q-pt-md text-grey-7">
             <label for=""><b>{{ form.food_day }}</b></label>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 q-pb-md q-pr-md">
            <q-input v-model="form.real_food_day" type="number" color="primary" label="Valor real"
             :error="$v.form.real_food_day.$error" error-message="Ingrese valor real" outlined stack-label />
          </div>
          <div class="offset-md-3 offset-sm-3 col-xs-12 col-sm-2 col-md-2 col-lg-2 q-pb-md q-pr-md q-pt-md">
             <label for=""><b>Tasa de biomasa(%)</b></label>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 q-pb-md q-pr-md q-pt-md text-grey-7">
             <label for=""><b>{{ form.biomass_rate }}</b></label>
          </div>
          <div class="col-xs-12 col-sm-2 col-lg-2 q-pb-md q-pr-md col-md-2">
            <q-input v-model="form.real_biomass_rate" type="number" color="primary" label="Valor real"
             :error="$v.form.real_biomass_rate.$error" error-message="Ingrese valor real" outlined stack-label />
          </div>
           <div class="offset-md-3 offset-sm-3 col-xs-12 col-sm-2 col-md-2 col-lg-2 q-pb-md q-pr-md q-pt-md">
             <label for=""><b>Peso vivo(g)</b></label>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 q-pb-md q-pr-md q-pt-md text-grey-7">
             <label for=""><b>{{form.liveweight}}</b></label>
          </div>
          <div class="col-xs-12 col-sm-2 col-lg-2 q-pb-md q-pr-md col-md-2">
            <q-input v-model="form.real_liveweight" type="number" color="primary" label="Valor real"
             :error="$v.form.real_liveweight.$error" error-message="Ingrese valor real" outlined stack-label />
          </div>
          <!-- <div class="offset-md-3 offset-sm-3 col-xs-12 col-sm-6 col-md-2 col-lg-2 q-pb-md q-pr-md q-pt-md">
             <label for=""><b>Tipo de alimento</b></label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 q-pb-md q-pr-md q-pt-md text-grey-7">
             <label for=""><b>{{ form.food_type }}</b></label>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-2 q-pb-md q-pr-md col-md-2">
             <q-select v-model="form.real_food_type" color="primary" label="Valor real" :options="foodTypes" emit-value
             map-options option-value="name" option-label="name"
             :error="$v.form.real_food_type.$error" error-message="Seleccione tipo de alimento" outlined stack-label/>
          </div> -->
          <div class="offset-md-3 offset-sm-3 col-xs-12 col-sm-2 col-md-2 col-lg-2 q-pb-md q-pr-md q-pt-md">
             <label for=""><b>Sobrevivencia(%)</b></label>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 q-pb-md q-pr-md q-pt-md text-grey-7">
             <label for=""><b>{{ form.survival }}</b></label>
          </div>
          <div class="col-xs-12 col-sm-2 col-lg-2 q-pb-md q-pr-md col-md-2">
            <q-input v-model="form.real_survival" type="number" color="primary" label="Valor real"
             :error="$v.form.real_survival.$error" error-message="Ingrese valor real" outlined stack-label />
          </div>
        </q-card>
      </q-card-section>
    </q-card>

    <!-- <q-card>
      <q-separator />
      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card> -->
  </q-page>
</template>
<script>
import { FormMixin } from '../../mixins/form'
import { required } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
export default {
  mixins: [FormMixin],
  data () {
    return {
      route: 'food_projections_detail',
      title: 'Ingreso de datos reales - Día',
      subtitle: 'Ingreso de datos reales',
      form: {},
      id: this.$route.params.id,
      shrimpId: this.$route.params.shrimpId,
      poolId: this.$route.params.poolId,
      projectionId: this.$route.params.projectionId,
      foodTypes: []
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  validations () {
    return {
      form: {
        real_food_day: { required },
        real_biomass_rate: { required },
        real_liveweight: { required },
        real_food_type: {},
        real_survival: { required }
      }
    }
  },
  mounted () {
    this.$q.loading.show()
    this.getFoodTypes()
  },
  methods: {
    afterGetRecord () {
      this.$q.loading.hide()
    },
    async getFoodTypes () {
      /* this.$api.get('products').then(res => {
        if (res) {
          this.foodTypes = res
        }
      }) */
      const res = await this.$api.getData('products')
      if (res) {
        this.foodTypes = res
      }
    }
  }
}
</script>
