<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11 col-sm-10">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }}</b></div>
            </div>
            <div class="col-md-1 col-sm-2" style="text-align: right">
              <q-btn v-if="insert && can('2.1.1.1.29.1')" label="Guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar proyección
                </q-tooltip>
              </q-btn>
              <q-btn v-if="!insert && can('2.1.1.1.29.4')" icon="edit" round color="primary" size="md" @click="insert = true">
                <q-tooltip>
                  Editar proyección
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card-section class="q-pa-sm row">
        <q-card flat class="q-pa-sm row" style="width: 100%; background: #f5f5f5!important; border-radius: 10px; justify-content: space-between">
          <!-- <div class="col-auto">
            <label for=""><b>Cliente:</b> {{  pool.shrimp ? pool.shrimp.customer.legal_name : '' }}</label>
          </div>
          <q-separator vertical/>
          <q-separator vertical/> -->
          <div class="col-auto">
            <label for=""><b>Área:</b> {{ poolArea }} </label>
          </div>
        </q-card>
        <q-card class="q-pt-sm" style="width: 100%" flat>
          <div class="row" style="justify-content: space-between">
            <div class="q-pr-sm" style="width: 25%">
            <q-select v-model="form.shrimp_id" label="Camaronera" outlined filled :options="shrimps" option-value="id"
            option-label="name" emit-value map-options @input="resetPool"
            error-message="Seleccione camaronera" :error="$v.form.shrimp_id.$error"
              @blur="$v.form.shrimp_id.$touch()"/>
          </div>
          <div class="q-pr-sm" style="width: 25%">
            <q-select v-model="form.pool_id" label="Piscina" outlined filled :options="pools" option-value="id"
            option-label="description" emit-value map-options error-message="Seleccione piscina"
            :error="$v.form.pool_id.$error"
              @blur="$v.form.pool_id.$touch()"/>
          </div>
            <div class="q-pr-sm" style="width: 25%">
              <q-input v-model="form.seedtime" type="date" color="primary" label="Fecha de siembra"
              :error="$v.form.seedtime.$error" error-message="Ingrese fecha de siembra" outlined stack-label
              :disable="!insert"/>
            </div>
            <div class="col-sm-3" style="width: 25%">
              <q-input v-model.number="form.cultivation_days" type="number" color="primary" label="Días de cultivo"
              :error="$v.form.cultivation_days.$error" error-message="Ingrese cantidad de días de cultivo" outlined
              :disable="!insert" @input="projectionSimulation"/>
            </div>
            <div class="q-pr-sm"  style="width: 25%">
              <!-- <q-input v-model="form.density" color="primary"
              label="Densidad" outlined v-money="money"
              :error="$v.form.density.$error" error-message="Ingrese densidad"
              :disable="!insert"/> -->
              <q-field
                color="primary"
                outlined
                v-model="form.density"
                label="Densidad"
                 :error="$v.form.density.$error" error-message="Ingrese densidad"
                :disable="!insert"
              >
                <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                  <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                </template>
              </q-field>
            </div>
            <div class="q-pr-md" style="width: 25%">
              <q-input v-model.number="form.harvest_target_weight" type="number" color="primary" outlined
              label="Peso de cosecha" :error="$v.form.harvest_target_weight.$error"
              error-message="Ingrese peso de cosecha" :disable="!insert" @input="projectionSimulation"/>
            </div>
            <div class="q-pr-sm" style="width: 25%">
              <q-select v-model="form.initial_biomass" color="primary" label="Tipo de siembra" outlined
                :options="[{label: 'Sin biomasa inicial', value:false}, {label: 'Con biomasa inicial', value:true}]"
                placeholder="Seleccione" emit-value map-options :disable="!insert"/>
            </div>
            <div v-if="form.initial_biomass" class="q-pr-sm" style="width: 25%">
              <q-select v-model.number="form.stock_weight" color="primary" label="Peso de siembra"
              hint="Unidad/Gramo" :error="$v.form.stock_weight.$error" error-message="Seleccione peso de siembra" outlined
              :disable="!insert" :options="liveweightOptions" emit-value map-options
               :option-label="opt => Object(opt) === opt ? opt.label : ''" @input="projectionSimulation"/>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 q-pr-sm">
              <q-input v-model.number="form.survival" type="number" color="primary" label="Supervivencia" suffix="%"
              hint="% primeros 30 días" :error="$v.form.survival.$error"
              error-message="Ingrese % primeros 30 días" outlined :disable="!insert" @input="projectionSimulation"/>
            </div>
            <div class="col-sm-3 q-pr-sm">
              <q-input v-model.number="form.survival_after30days" type="number" color="primary" label="Supervivencia"
              suffix="%" hint="% después de 30 días" value="70" outlined :disable="!insert" @input="projectionSimulation"/>
            </div>
            <div class="col-sm-3">
              <q-input v-model.number="form.feeding_rate" type="number" color="primary" label="Tasa de alimentación"
                suffix="%" :error="$v.form.feeding_rate.$error" error-message="Ingrese valor" outlined
                @input="projectionSimulation" :disable="!insert"/>
            </div>
          </div>
        </q-card>
        <q-card flat class="q-pa-sm row text-primary" style="width: 100%; background: #f5f5f5!important; border-radius: 10px">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Fecha de cosecha:</b> {{ harvestDate }}</label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Número de animales:</b> {{ numberAnimals ? numberAnimals : '' | currency }}</label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Crecimiento Semanal ({{ form.initial_biomass ? 'con' : 'sin' }} biomasa inicial) : </b> {{ weeklyGrowth > 0 ? weeklyGrowth : '' }}</label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Kg de Alimento ({{ form.initial_biomass ? 'con' : 'sin' }} biomasa Inicial):</b> {{ this.form.kilosFood > 0 ? this.form.kilosFood : '' | currency }}</label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Libras a cosechar:</b> {{ poundsHarvest > 0 ? poundsHarvest : '' | currency }}</label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Libras/Ha:</b> {{ poundsHa > 0 ? poundsHa : '' | currency }}</label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Densidad de cosecha:</b> {{ harvestDensity | currency }}</label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>F.C:</b> {{ this.form.fc ? this.form.fc : '' }}</label>
          </div>
          <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 q-pb-md q-pr-md">
            <label for=""><b>Tasa de crecimiento:</b> {{ form.growth_rate}}%</label>
          </div> -->
        </q-card>
      </q-card-section>
      <!-- <listable :key="key" v-if="data.length" title="Proyección" :buttons="buttons" :cols="cols" :dataSet="data"
        :pagination="pagination"/> -->

      <!-- <q-table :key="key" v-if="data.length" title="Proyección" :data="data" :columns="cols" row-key="id"
        rows-per-page-label="Registros por página" :pagination.sync="pagination" class="my-sticky-header-table"
        :loading="loading" no-data-label="No hay registros para mostrar" :visible-columns="visibleColumns">
        <template v-slot:body-cell-food_day="props">
          <q-td :props="props">
            <label style="color: #3f51b5">{{props.row.food_day}}</label>
            <label v-if="props.row.real_food_day" style="color: green"> - {{props.row.real_food_day}}</label>
          </q-td>
        </template>
        <template v-slot:body-cell-biomass_rate="props">
          <q-td :props="props">
            <label style="color: #3f51b5">{{props.row.biomass_rate}}%</label>
            <label v-if="props.row.real_biomass_rate" style="color: green"> - {{props.row.real_biomass_rate}}%</label>
          </q-td>
        </template>
        <template v-slot:body-cell-liveweight="props">
          <q-td :props="props">
            <label style="color: #3f51b5">{{props.row.liveweight}}</label>
            <label v-if="props.row.real_liveweight" style="color: green"> - {{props.row.real_liveweight}}</label>
          </q-td>
        </template>
        <template v-slot:body-cell-food_type="props">
          <q-td :props="props">
            <label style="color: #3f51b5">{{props.row.food_type}}</label>
            <label v-if="props.row.real_food_type" style="color: green"> - {{props.row.real_food_type}}</label>
          </q-td>
        </template>
        <template v-slot:body-cell-survival="props">
          <q-td :props="props">
            <label style="color: #3f51b5">{{props.row.survival}}%</label>
            <label v-if="props.row.real_survival" style="color: green"> - {{props.row.real_survival}}%</label>
          </q-td>
        </template>

        <template v-slot:body-cell-real_food_day="props">
          <q-td :props="props">
            <label style="color: green">{{props.row.real_food_day}}</label>
          </q-td>
        </template>
        <template v-slot:body-cell-real_biomass_rate="props">
          <q-td :props="props">
            <label style="color: green">{{props.row.real_biomass_rate}}%</label>
          </q-td>
        </template>
        <template v-slot:body-cell-real_liveweight="props">
          <q-td :props="props">
            <label style="color: green">{{props.row.real_liveweight}}</label>
          </q-td>
        </template>
        <template v-slot:body-cell-real_food_type="props">
          <q-td :props="props">
            <label style="color: green">{{props.row.real_food_type}}</label>
          </q-td>
        </template>
        <template v-slot:body-cell-real_survival="props">
          <q-td :props="props">
            <label style="color: green">{{props.row.real_survival}}%</label>
          </q-td>
        </template>

        <template v-slot:body-cell-projection_food_day="props">
          <q-td :props="props">
            <label style="color: blue">{{props.row.food_day}}</label>
          </q-td>
        </template>
        <template v-slot:body-cell-projection_biomass_rate="props">
          <q-td :props="props">
            <label style="color: blue">{{props.row.biomass_rate}}%</label>
          </q-td>
        </template>
        <template v-slot:body-cell-projection_liveweight="props">
          <q-td :props="props">
            <label style="color: blue">{{props.row.liveweight}}</label>
          </q-td>
        </template>
        <template v-slot:body-cell-projection_food_type="props">
          <q-td :props="props">
            <label style="color: blue">{{props.row.food_type}}</label>
          </q-td>
        </template>
        <template v-slot:body-cell-projection_survival="props">
          <q-td :props="props">
            <label style="color: blue">{{props.row.survival}}%</label>
          </q-td>
        </template>

        <q-td slot="body-cell-actions" slot-scope="props" :props="props">
          <template>
            <q-btn v-if="can('2.1.1.1.29.5')" class="q-mr-xs" outline :to="`${projectionId}/edit_projection/${props.row.id}`" dense label="Editar" color="primary" size="sm">
              <q-tooltip>
                Editar
              </q-tooltip>
            </q-btn>
          </template>
        </q-td>
        <template v-slot:top="">
          <div style="font-size: 20px; letter-spacing: .005em;font-weight: 400;">{{ title }}</div>
          <br>
          <q-badge color="indigo">Proyección</q-badge>
          <q-badge color="primary">Real</q-badge>
          <div style="margin: auto">
            <template v-for="(btn, index) in buttons">
              <q-btn v-if="can(btn.permission) || !btn.permission" :icon="btn.icon" class="q-ml-sm text-black" size="md" push :key="index"
              :label="btn.label" color="secondary" @click="execute(btn.action)" :to="btn.url" />
            </template>
          </div>
        </template>
      </q-table> -->
      <template v-if="data.length">
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-6">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <q-btn class="q-ma-sm" v-if="can('2.1.1.1.29.6')" rounded label="Formato de carga" color="primary" size="md"
              @click="downloadBulkLoadFormat">
                <q-tooltip>
                  Descargar el formato de carga masiva de datos reales
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ma-sm" v-if="can('2.1.1.1.29.6')" rounded label="Subir carga masiva" color="primary"
              size="md" @click="showUpload">
                <q-tooltip>
                  Subir archivo de carga masiva de datos reales
                </q-tooltip>
              </q-btn>
              <q-btn label="+ AÑADIR ALIMENTO" color="primary" @click="showModalUpdateFoodType" rounded/>
            </div>
            <div class="col-md-10 text-black">
              <div class="row">
                <div class="circle circle-blue"></div>
                <label class="q-pl-md q-pr-md" for="">Proyecciones</label>
                <div class="circle circle-primary q-pl-md"></div>
                <label class="q-pl-md">Reales</label>
              </div>
            </div>
            <div class="col-md-2">
              <q-select v-model="chartView" :options="chartViews" @input="key++" emit-value map-options/>
            </div>
          </div>
        </q-card-section>
      </q-card>

      <!-- Tabla nueva -->
      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Día</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Alimento/Día(Kg)</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Tasa de biomasa(%)</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Peso vivo(g)</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Tipo de alimento</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Sobrevivencia(%)</b>
            </div>
            <div class="col" style="text-align: right">
              <b class="text-grey-7">Acciones</b>
            </div>
          </q-card-section>
          <q-separator color="grey-4" />
           <q-scroll-area style="height: 460px; width:100%" :thumb-style="thumbStyle" :bar-style="barStyle">
            <q-card-section class="row" v-for="(row, index) in data" :key="index">
              <div class="col">
                <p class="text-grey-7">{{ row.day }}</p>
              </div>
              <!-- Todos -->
              <template v-if="chartView === 0">
                <!-- Alimento día -->
                <div class="col" style="text-align: center">
                  <label style="color: #3f51b5">{{row.food_day}}</label>
                  <label v-if="row.real_food_day" style="color: green"> - {{row.real_food_day}}</label>
                </div>
                <!-- Tasa de biomasa -->
                <div class="col" style="text-align: center">
                  <label style="color: #3f51b5">{{row.biomass_rate}}%</label>
                  <label v-if="row.real_biomass_rate" style="color: green"> - {{row.real_biomass_rate}}%</label>
                </div>
                <!-- Peso vivo -->
                <div class="col" style="text-align: center">
                  <label style="color: #3f51b5">{{row.liveweight}}</label>
                  <label v-if="row.real_liveweight" style="color: green"> - {{row.real_liveweight}}</label>
                </div>
                <!-- Tipo de alimento -->
                <div class="col" style="text-align: center">
                  <label style="color: #3f51b5">{{row.food_type}}</label>
                  <label v-if="row.real_food_type" style="color: green"> - {{row.real_food_type}}</label>
                </div>
                <!-- Sobrevivencia -->
                <div class="col" style="text-align: center">
                  <label style="color: #3f51b5">{{row.survival}}%</label>
                  <label v-if="row.real_survival" style="color: green"> - {{row.real_survival}}%</label>
                </div>
              </template>
               <!-- Proyectados -->
              <template v-else-if="chartView === 1">
                <!-- Alimento día -->
                <div class="col" style="text-align: center">
                  <label style="color: #3f51b5">{{row.food_day}}</label>
                </div>
                <!-- Tasa de biomasa -->
                <div class="col" style="text-align: center">
                  <label style="color: #3f51b5">{{row.biomass_rate}}%</label>
                </div>
                <!-- Peso vivo -->
                <div class="col" style="text-align: center">
                  <label style="color: #3f51b5">{{row.liveweight}}</label>
                </div>
                <!-- Tipo de alimento -->
                <div class="col" style="text-align: center">
                  <label style="color: #3f51b5">{{row.food_type}}</label>
                </div>
                <!-- Sobrevivencia -->
                <div class="col" style="text-align: center">
                  <label style="color: #3f51b5">{{row.survival}}%</label>
                </div>
              </template>
               <!-- Reales -->
              <template v-else>
                <!-- Alimento día -->
                <div class="col" style="text-align: center">
                  <label style="color: green">{{row.real_food_day}}</label>
                </div>
                <!-- Tasa de biomasa -->
                <div class="col" style="text-align: center">
                  <label style="color: green">{{row.real_biomass_rate}}%</label>
                </div>
                <!-- Peso vivo -->
                <div class="col" style="text-align: center">
                  <label style="color: green">{{row.real_liveweight}}</label>
                </div>
                <!-- Tipo de alimento -->
                <div class="col" style="text-align: center">
                  <label style="color: green">{{row.real_food_type}}</label>
                </div>
                <!-- Sobrevivencia -->
                <div class="col" style="text-align: center">
                  <label style="color: green">{{row.real_survival}}%</label>
                </div>
              </template>
               <div class="col" style="text-align: right">
                <q-btn v-if="can('2.1.1.1.29.5')" flat icon="edit" size="md" color="primary"
                  :to="`/food_projections/${projectionId}/edit_projection/${row.id}`"
                  dense>
                  <q-tooltip>
                    Editar
                  </q-tooltip>
                </q-btn>
              </div>
            </q-card-section>
           </q-scroll-area>
            <q-separator color="grey-4" />
        </q-card>
      </div>
      </template>
      <!-- Gráfico -->
      <!-- <div v-if="form.chart" style="width: 100%; height: 500px">
        <line-chart :height="500" :labels="form.chart.labels" :datasets="datasets" :key="key"></line-chart>
      </div> -->
    </q-card>

    <!-- Modal subir archivo de carga masiva -->
    <q-dialog v-model="upload">
      <q-card class="q-pa-md">
        <div class="row">
          <div class="col-md-12">
            <q-input type="file" v-model="file" :error="fileError" @input="fileError = false"
            error-message="Debe seleccionar un archivo"></q-input>
          </div>
          <div class="col-md-12" style="text-align: end;">
            <q-btn label="Subir archivo" color="primary" @click="uploadFile"></q-btn>
          </div>
        </div>
      </q-card>
    </q-dialog>
    <!-- Modal modificar rangos de tipos de alimentos -->
    <q-dialog v-model="showUpdateFoodType" full-width>
      <q-card class="modal text-primary" style="border-radius: 10px">
        <q-card-section class="row q-pb-none">
          <div class="text-h6"><b>Tipo de alimento</b></div>
          <q-space />
          <q-btn color="negative" icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section>
          <div class="row" v-for="(item, key) in form.foodTypes" :key="key">
            <div class="col-md-2 q-pr-md q-pb-md">
              <q-input label="Rango inicial" v-model="item.from_weight" error-message="Ingrese rango válido"
              :error="$v.form.foodTypes.$each[key].from_weight.$error"
              @blur="$v.form.foodTypes.$each[key].from_weight.$touch()" outlined/>
            </div>
            <div class="col-md-2 q-pr-md">
              <q-input label="Rango final" v-model="item.to_weight" error-message="Ingrese rango válido"
              :error="$v.form.foodTypes.$each[key].to_weight.$error"
              @blur="$v.form.foodTypes.$each[key].to_weight.$touch()" outlined @input="updateNextFromWeight(key)"/>
            </div>
            <div class="col-md-4 q-pr-md">
              <!-- <p class="text-primary">{{ item.foodName.name }}</p> -->
              <q-select label="Alimento" v-model="item.food_type_id" :options="products" emit-value map-options
              option-value="id" option-label="name" :error="$v.form.foodTypes.$each[key].food_type_id.$error"
              @blur="$v.form.foodTypes.$each[key].food_type_id.$touch()" outlined/>
            </div>
            <div class="col-md-2 q-pr-md">
              <q-input label="$/Kg" v-model="item.price_kg" error-message="Ingrese valor"
              :error="$v.form.foodTypes.$each[key].price_kg.$error"
              @blur="$v.form.foodTypes.$each[key].price_kg.$touch()" outlined/>
            </div>
            <div class="col-md-2">
              <q-btn class="float-right" color="primary" icon="delete" @click="confirmDeleteFoodType(key)" round/>
            </div>
          </div>
          <div class="row" style="text-align: right">
            <div class="col-md-12">
              <q-btn flat color="primary" rounded label="Añadir alimento" @click="form.foodTypes.push({})"></q-btn>
              <q-btn color="primary" rounded label="Guardar" @click="saveFoodType"></q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>
<script>
function validateRanges (value, vm) {
  if (parseFloat(vm.from_weight) < parseFloat(vm.to_weight)) {
    const found = this.form.foodTypes.find(val => parseFloat(value) >= parseFloat(val.from_weight) && parseFloat(value) <= parseFloat(val.to_weight) && vm.id !== val.id)
    return found === undefined
  } else {
    return false
  }
}
import { required } from 'vuelidate/lib/validators'
import { date } from 'quasar'
// import LineChart from 'components/charts/LineChart'
import { mapGetters } from 'vuex'
// import { ListMixin } from '../../mixins/list'
import { FileGeneralMixin } from '../../mixins/fileGeneral'
// import { FormMixin } from '../../mixins/form'
export default {
  components: {
    /* LineChart */
  },
  mixins: [FileGeneralMixin],
  data () {
    return {
      id: this.$route.params.id,
      shrimpId: this.$route.params.shrimpsId,
      projectionId: this.$route.params.id,
      title: 'Proyección alimentación',
      densityMask: '###',
      route: 'customers',
      pagination: {
        page: 1,
        rowsPerPage: 0
      },
      form: {
        initial_biomass: true,
        stock_weight: 0,
        density: 0
      },
      foodTypes: [],
      pool: {},
      cols: [
        // Proyección
        { name: 'day', required: true, label: 'Día', align: 'left', field: 'day', sortable: true },
        { name: 'projection_food_day', label: 'Alimento/Día(Kg)', align: 'left', field: 'food_day', sortable: true },
        { name: 'projection_biomass_rate', label: 'Tasa de biomasa(%)', align: 'left', field: 'biomass_rate', sortable: true },
        { name: 'projection_liveweight', label: 'Peso vivo(g)', align: 'left', field: 'liveweight', sortable: true },
        { name: 'projection_food_type', label: 'Tipo de alimento', align: 'left', field: 'food_type', sortable: true },
        { name: 'projection_survival', label: 'Sobrevivencia(%)', align: 'left', field: 'survival', sortable: true },
        // Reales
        { name: 'real_food_day', label: 'Alimento/Día(Kg)', align: 'left', field: 'real_food_day', sortable: true },
        { name: 'real_biomass_rate', label: 'Tasa de biomasa(%)', align: 'left', field: 'real_biomass_rate', sortable: true },
        { name: 'real_liveweight', label: 'Peso vivo(g)', align: 'left', field: 'real_liveweight', sortable: true },
        { name: 'real_food_type', label: 'Tipo de alimento', align: 'left', field: 'real_food_type', sortable: true },
        { name: 'real_survival', label: 'Sobrevivencia(%)', align: 'left', field: 'real_survival', sortable: true },
        // Todo
        { name: 'food_day', label: 'Alimento/Día(Kg)', align: 'left', field: 'food_day', sortable: true },
        { name: 'biomass_rate', label: 'Tasa de biomasa(%)', align: 'left', field: 'biomass_rate', sortable: true },
        { name: 'liveweight', label: 'Peso vivo(g)', align: 'left', field: 'liveweight', sortable: true },
        { name: 'food_type', label: 'Tipo de alimento', align: 'left', field: 'food_type', sortable: true },
        { name: 'survival', label: 'Sobrevivencia(%)', align: 'left', field: 'survival', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ],
      data: [],
      key: 0,
      insert: true,
      loading: true,
      visibleColumns: ['day', 'food_day', 'biomass_rate', 'liveweight', 'food_type', 'survival', 'actions'],
      chartView: 0,
      upload: false,
      file: '',
      fileError: false,
      chartViews: [
        {
          label: 'Todos',
          value: 0
        },
        {
          label: 'Proyecciones',
          value: 1
        },
        {
          label: 'Reales',
          value: 2
        }
      ],
      thumbStyle: {
        right: '4px',
        borderRadius: '5px',
        backgroundColor: 'grey',
        width: '5px',
        opacity: 0.75
      },
      barStyle: {
        right: '2px',
        borderRadius: '9px',
        backgroundColor: 'grey',
        width: '9px',
        opacity: 0.2
      },
      showUpdateFoodType: false,
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 0,
        masked: false
      },
      products: [],
      shrimps: [],
      localStorageKeyImages: 'food_projections_uploads',
      formData: undefined,
      fileName: ''
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    subtitle () {
      return this.projectionId ? 'Ver proyección' : 'Nueva proyección'
    },
    harvestDate () {
      const harvest = date.addToDate(this.form.seedtime, { days: this.form.cultivation_days })
      return date.formatDate(harvest, 'DD-MM-YYYY')
    },
    numberAnimals () {
      return this.form.density * this.poolArea
    },
    weeklyGrowth () {
      // Busco el valor de siembra dentro del array de pesos vivos para poder usar la fórmula
      const found = this.liveweightOptions.find(val => val.value === this.form.stock_weight)
      const stockWeight = found ? found.label : 0
      return ((this.form.harvest_target_weight - stockWeight) / this.form.cultivation_days * 7).toFixed(2)
    },
    poundsHarvest () {
      // return (this.numberAnimals * (this.form.survival / 100) * this.form.harvest_target_weight / 454).toFixed()
      return this.form.poundsHarvest ? this.form.poundsHarvest.toFixed() : 0
    },
    kilosFood () {
      // return (this.form.initial_biomass ? this.form.fc * ((this.poundsHarvest / 2.2046) - (this.numberAnimals * this.form.stock_weight / 1000)) : this.poundsHarvest * this.form.fc).toFixed()
      return this.form.kilosFood
    },
    poundsHa () {
      return (this.poundsHarvest / this.poolArea).toFixed()
    },
    harvestDensity () {
      // return ((this.poundsHarvest * 454 / this.form.harvest_target_weight / this.poolArea) / 10000).toFixed()
      return this.form.density * (this.form.survival_after30days / 100)
    },
    datasets () {
      let res
      if (this.chartView === 0) {
        res = this.form.chart ? this.form.chart.datasets : []
      } else if (this.chartView === 1) {
        res = this.form.chart ? [this.form.chart.datasets[0], this.form.chart.datasets[2]] : []
      } else if (this.chartView === 2) {
        res = this.form.chart ? [this.form.chart.datasets[1], this.form.chart.datasets[3]] : []
      }
      return res
    },
    poolArea () {
      // Si es edición se debe guardar el área original al crear la proyección
      // return this.projectionId ? this.form.pool_area : this.pool.area
      return this.form.pool_id && this.pools.length ? this.pools.find(val => val.id === this.form.pool_id).area : ''
    },
    fc () {
      return this.form.fc
    },
    liveweightOptions () { // Opciones de peso vivo para la biomasa inicial. Los pesos se calculan según el peso objetivo y la cantidad de días
      console.log('stock_weigth', this.form.stock_weight)
      const stockWeight = this.form.stock_weight ? this.form.stock_weight : 0
      // tanteo de tasa de crecimiento para saber con cual tasa el último día le llego cerca al peso objetivo
      let testLiveweight = 0
      let testGrowthRate = 0 // Tasa de crecimiento tanteada
      while (testLiveweight < this.form.harvest_target_weight) {
        testGrowthRate++
        testLiveweight = (((0.0231 * Math.pow(this.form.cultivation_days + stockWeight, 1.3758)) * (testGrowthRate / 100)))
      }
      const finalWeightPre = (((0.0231 * Math.pow(this.form.cultivation_days + stockWeight, 1.3758)) * ((testGrowthRate - 1) / 100)))
      const finalWeightPost = (((0.0231 * Math.pow(this.form.cultivation_days + stockWeight, 1.3758)) * ((testGrowthRate) / 100)))

      const diffFinalWeightPre = this.form.harvest_target_weight - finalWeightPre
      const diffFinalWeightPost = finalWeightPost - this.form.harvest_target_weight

      if (diffFinalWeightPre < diffFinalWeightPost) {
        testGrowthRate-- // Si el peso de abajo es más cercano entonces usar la tasa obtenida menos 1
      }
      console.log('testGrowthRate', testGrowthRate)
      const liveweights = []
      for (let i = 1; i <= this.form.cultivation_days; i++) {
        // Hasta el día 12 se usa la fórmula lógica tomando datos de la misma fila
        const liveweight = ((0.0231 * Math.pow(i, 1.3758)) * (testGrowthRate / 100)).toFixed(2)
        liveweights.push({ label: liveweight, value: i })
      }
      return liveweights
    },
    pools () {
      // console.log('ComputedPools', this.form.shrimp_id, this.shrimps.length)
      return this.form.shrimp_id && this.shrimps.length ? this.shrimps.find(val => val.id === this.form.shrimp_id).pools : []
      // return []
    }
  },
  validations: {
    form: {
      shrimp_id: { required },
      pool_id: { required },
      seedtime: { required },
      cultivation_days: { required },
      density: { required },
      initial_biomass: { required },
      stock_weight: { required },
      harvest_target_weight: { required },
      survival: { required },
      fc: {},
      feeding_rate: { required },
      foodTypes: {
        $each: {
          from_weight: {
            required,
            validateRanges
          },
          to_weight: {
            required,
            validateRanges
          },
          price_kg: {
          },
          food_type_id: { required }
        }
      }
    }
  },
  async mounted () {
    this.getShrimps()
    // this.getPoolRecord()
    if (this.projectionId) {
      await this.getRecord(this.projectionId)
      this.insert = false
    }
    console.log('paramas', this.$route.params)
    this.getProducts()
    this.$set(this.form, 'shrimp_id', this.form.pool.shrimp_id)
  },
  methods: {
    async getPoolRecord () {
      const res = await this.$api.getData(`pools/${this.form.pool_id}`)
      if (res) {
        this.pool = res
      }
    },
    save () {
      // Si es sin biomasa inicial el peso de siembra es cero(día cero)
      this.form.stock_weight = this.form.initial_biomass ? this.form.stock_weight : 0
      this.$v.form.$touch()
      if (!this.$v.form.$error) {
        this.$q.loading.show()
        // this.form.poolArea = this.pool.area
        this.form.weeklyGrowth = this.weeklyGrowth
        delete this.form.chart
        if (this.projectionId) {
          this.$api.put(`food_projections/${this.projectionId}`, this.form).then(res => {
            if (res) {
              console.log('res', res)
              this.getRecord(res.id)
              // this.$router.push('/customers/show/' + this.id + '/shrimps/' + this.shrimpId + '/pool/' + this.form.pool_id + '/food_projection/form/' + res.id)
            } else {
              this.$q.notify({
                type: 'positive',
                message: 'Proyección guardada localmente y disponible cuando vuelva a estar online'
              })
            }
            this.$router.go(-1)
            this.$q.loading.hide()
          })
        } else {
          this.$api.post('food_projections', this.form).then(res => {
            if (res) {
              console.log('res', res)
              /* this.data = res.details */
              this.getRecord(res.id)
              // this.$router.push('/customers/show/' + this.id + '/shrimps/' + this.shrimpId + '/pool/' + this.form.pool_id + '/food_projection/form/' + res.id)
              this.projectionId = res.id
            } else {
              this.$q.notify({
                type: 'positive',
                message: 'Proyección guardada localmente y disponible cuando vuelva a estar online'
              })
            }
            this.$router.go(-1)
            this.$q.loading.hide()
          })
        }
      }
    },
    async getRecord (id) {
      const res = await this.$api.getData(`food_projections/${id}`)
      console.log({ res })
      this.form = res
      this.data = res.details || []
      this.loading = false
      this.key++

      /* await this.$api.get(`food_projections/${id}`).then(res => {
        console.log('res', res)
        this.form = res
        this.data = res.details
        this.loading = false
        this.key++
      }) */
      await this.$api.get(`projections_print/${id}`).then(res => {
        console.log(res)
      })
      // this.export2Image()
    },
    execute (name, id, row, action) {
      if (typeof this[name] === 'function') {
        this[name](id, row, action)
      }
    },
    async downloadBulkLoadFormat () {
      this.$q.loading.show()
      this.$api.get('food_projections_bulkload_format', { responseType: 'blob', params: { id: this.projectionId } }).then(res => {
        try {
          // alert('respuesta')
          const fileName = `Proyección alimentacion ${this.projectionId}.xlsx`
          this.fileName = fileName
          if (res) {
            // alert('res')
            const blob = new Blob([res])

            if (this.$q.platform.is.mobile) { // Si es teléfono
              console.log('es telfono')
              this.saveBlob2File(fileName, blob)
            } else {
              // Si es navegador
              const url = window.URL.createObjectURL(blob)
              const link = document.createElement('a')
              link.href = url
              link.setAttribute('download', fileName)
              document.body.appendChild(link)
              link.click()
              link.remove()
            }
            this.$q.loading.hide()
            this.$q.notify({
              type: 'positive',
              message: 'Archivo disponible en descargas. ' + fileName
            })
            this.$q.loading.hide()
          } else {
            // alert('no res')
            this.searchFile(fileName)
            this.$q.loading.hide()
          }
        } catch (error) {
          alert(error)
          this.$q.loading.hide()
        }
      })
      /* this.$api.get('food_projections_bulkload_format', { responseType: 'blob', params: { id: this.projectionId } }).then(res => {
        const blob = new Blob([res])

        const fileName = `Piscina ${this.pool.description} - ${this.pool.shrimp.name} - Proyección alimentacion.xlsx`
        console.log({ fileName })
        // Si es navegador
        const url = window.URL.createObjectURL(blob)
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', fileName)
        document.body.appendChild(link)
        link.click()
        link.remove()
      }) */
    },
    showUpload () {
      this.upload = true
    },
    uploadFile () {
      // Subir archivo
      if (this.file === '') {
        this.fileError = true
      } else {
        this.$q.loading.show()
        const formData = new FormData()
        formData.append('projection_id', this.projectionId)
        formData.append('file', this.file[0])

        this.$api.post('food_projections_upload_bulkload_format', formData, {
          headers: {
            'Content-Type': undefined
          }
        }).then(res => {
          if (res) {
            this.form = {}
            this.getRecord(this.projectionId)
            this.upload = false
            this.file = ''
            this.fileError = false
            this.chartView = 0
          } else { // Si no hay conexión
            alert('No hay conexión, archivo se guardará localmente y se subirá cuando haya conexión.')
            const fileName = this.file[0].name
            this.saveBlob2File2(fileName, this.file[0], { projection_id: this.projectionId, fileName }, this.localStorageKeyImages)
            this.form = {}
            this.getRecord(this.projectionId)
            this.upload = false
            this.file = ''
            this.fileError = false
            this.chartView = 0
          }
          this.$q.loading.hide()
        })
      }
    },
    showModalUpdateFoodType () {
      this.getRecord(this.projectionId)
      this.showUpdateFoodType = true
    },
    saveFoodType () {
      this.$v.form.foodTypes.$touch()
      if (!this.$v.form.foodTypes.$error) {
        this.$api.put(`food_projections_food_types/${this.projectionId}`, { foodTypes: this.form.foodTypes }).then(res => {
          if (res) {
            this.getRecord(this.projectionId)
            this.showUpdateFoodType = false
          }
        })
      }
    },
    projectionSimulation () {
      let previousDaySurvival = 0
      let survivalDay29 = 0 // Sobrevivencia del día 29
      // tanteo de tasa de crecimiento para saber con cual tasa el último día le llego cerca al peso objetivo
      let testLiveweight = 0
      let testGrowthRate = 0 // Tasa de crecimiento tanteada
      const stockWeight = parseInt(this.form.stock_weight)
      while (testLiveweight < this.form.harvest_target_weight) {
        testGrowthRate++
        testLiveweight = (((0.0231 * Math.pow(this.form.cultivation_days + stockWeight, 1.3758)) * (testGrowthRate / 100)))
      }
      const finalWeightPre = (((0.0231 * Math.pow(this.form.cultivation_days + stockWeight, 1.3758)) * ((testGrowthRate - 1) / 100)))
      const finalWeightPost = (((0.0231 * Math.pow(this.form.cultivation_days + stockWeight, 1.3758)) * ((testGrowthRate) / 100)))

      const diffFinalWeightPre = this.form.harvest_target_weight - finalWeightPre
      const diffFinalWeightPost = finalWeightPost - this.form.harvest_target_weight

      if (diffFinalWeightPre < diffFinalWeightPost) {
        testGrowthRate-- // Si es peso de abajo es más cercano entonces usar la tasa obtenida menos 1
      }
      this.form.growth_rate = testGrowthRate
      const liveweights = ['']
      const details = []
      for (let i = 1; i <= this.form.cultivation_days; i++) {
        // Hasta el día 12 se usa la fórmula lógica tomando datos de la misma fila
        let liveweight = (((0.0231 * Math.pow(i + stockWeight, 1.3758)) * (testGrowthRate / 100)))
        liveweights[i] = liveweight
        var biomassRate
        if (i < 13) {
          biomassRate = (((4.2847 * Math.pow(liveweight, -0.2869)) * 1.3337) + 2.3)
        } else {
          biomassRate = (4.2847 * Math.pow(liveweights[i - 10], -0.2869)) * (this.form.feeding_rate / 100)
        }
        /* console.log('stockWeight', stockWeight)
        console.log('liveweight', liveweight)
        console.log('biomsarate', biomassRate) */

        // Cálculo de supervivencia
        let survival
        if (i < 30) {
          if (i === 1) {
            survival = 100
          } else {
            survival = previousDaySurvival - ((100 - this.form.survival) / 100)
          }
        } else {
          // Si es igual a 30 guardo la sobrevivencia anterior(día 29)
          if (i === 30) {
            survivalDay29 = previousDaySurvival // Una sola vez se ejecuta
          }
          survival = previousDaySurvival - ((survivalDay29 - this.form.survival_after30days) / (this.form.cultivation_days - 29))
          // survival = previousDaySurvival -((100 - foodProjectionMaster.survival_after30days) / 100) Cálculo viejo
          // La idea es que en el último día dé la supervivencia que se ingresó en supervivencia después de 30
        }
        const biomass = (liveweight / 1000) * (survival / 100) * this.numberAnimals
        const foodDay = (biomassRate / 100) * biomass

        // redondeo del peso vivo después de usarlo en las fórmulas
        liveweight = liveweight.toFixed(2)

        // Insertar en array cada día
        details.push({
          day: i,
          foodDay,
          biomassRate,
          liveweight,
          survival,
          biomass
        })
        previousDaySurvival = survival
      }
      // console.table('details', details)
      let biomass = 0
      let totalKg = 0
      // let fc
      // let kilosFood
      // let poundsHarvest
      const animalNumbers = (this.form.density * this.poolArea)
      details.forEach(element => {
        element.foodDay = parseFloat(element.foodDay)
        totalKg += element.foodDay
        // console.log('element.foodDay', element.foodDay)
        biomass = Math.round((element.liveweight / 1000) * (element.survival / 100) * (this.form.density * this.poolArea))

        if (element.day === this.form.cultivation_days) {
          console.log('totalKg', totalKg, 'biomass', biomass)
          this.form.fc = (totalKg / biomass).toFixed(2)
          this.form.kilosFood = totalKg.toFixed()
          // this.form.poundsHarvest = (biomass * 2.205).toFixed()
          // this.form.poundsHarvest = (animalNumbers * (this.form.survival_after30days / 100) * this.form.harvest_target_weight) / 454
          this.$set(this.form, 'poundsHarvest', (animalNumbers * (this.form.survival_after30days / 100) * this.form.harvest_target_weight) / 454)
          console.log('this.form.poundsHarvest', this.form.poundsHarvest, this.form.survival_after30days)
          console.log({ animalNumbers })
        }
      })
      // console.log('this.form.fc', this.form.fc, 'kilosFood', this.form.kilosFood, 'this.form.poundsHarvest', this.form.poundsHarvest)
    },
    export2Image () {
      const canvas = document.getElementById('line-chart').toDataURL('image/png')
      this.$api.put(`food_projections_chart/${this.projectionId}`, { chart_image: canvas })
      /* const link = document.createElement('a')
      link.download = 'image'
      link.href = canvas
      link.click() */
    },
    confirmDeleteFoodType (index) {
      // console.log({ foodType })
      this.$q.dialog({
        title: 'Confirmar',
        message: 'Desea eliminar de la proyección el alimento seleccionado?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        // Eliminar el alimento de la proyección
        this.form.foodTypes.splice(index, 1)
        /* this.$api.delete(`food_projections_food_types/${foodType.id}`, { data: { projectionId: this.projectionId } }).then(res => {
          if (res) {
            this.$q.dialog({
              title: 'Eliminado',
              message: 'Alimento eliminado'
            })
            this.getRecord(this.projectionId)
          }
        }) */
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    async getProducts () {
      /* this.$api.get('products').then(res => {
        if (res) {
          this.products = res
        }
      }) */
      this.products = await this.$api.getData('products')
    },
    updateNextFromWeight (index) {
      if (this.form.foodTypes[index + 1]) {
        this.form.foodTypes[index + 1].from_weight = (parseFloat(this.form.foodTypes[index].to_weight) + 0.001).toFixed(3)
      }
    },
    afterMounted () {
      if (this.id) {
        // this.form.shrimp_id = this.form.pool.shrimp_id
        this.$set(this.form, 'shrimp_id', this.form.pool.shrimp_id)
      }
    },
    async getShrimps () {
      /* this.$api.get('shrimps').then(res => {
        if (res) {
          this.shrimps = res
        }
      }) */
      const res = await this.$api.getData('shrimps')
      if (res) {
        this.shrimps = res
      }
    },
    resetPool () {
      this.$set(this.form, 'pool_id', '')
    },
    saveBlob2File2 (fileName, blob, formData, localStorageKeyImages) {
      // alert('saveBlob2File' + localStorageKeyImages)
      this.formData = formData
      this.fileName = fileName
      this.localStorageKeyImages = localStorageKeyImages
      var vm = this
      var folder = cordova.file.externalRootDirectory + 'Download'
      window.resolveLocalFileSystemURL(folder, function (dirEntry) {
        vm.createFile2(dirEntry, fileName, blob)
      }, this.onErrorLoadFs)
    },
    createFile2 (dirEntry, fileName, blob) {
      var vm = this
      // Creates a new file
      dirEntry.getFile(fileName, { create: true, exclusive: false }, function (fileEntry) {
        // Aquí pide permisos al cel
        vm.writeFile2(fileEntry, blob)
      }, this.onErrorCreateFile)
    },
    writeFile2 (fileEntry, dataObj) {
      var vm = this
      // Create a FileWriter object for our FileEntry
      fileEntry.createWriter(function (fileWriter) {
        fileWriter.onwriteend = function () {
          // vm.readFile()
          console.log('archivo guardado')
          // Guardar en localstorage el nombre del archivo subido
          let uploadedFiles = this.$q.localStorage.getItem(vm.localStorageKeyImages)
          if (uploadedFiles && uploadedFiles.length) {
            if (vm.formData) {
              vm.formData.filename = vm.fileName
              uploadedFiles.push(vm.formData)
            } else {
              uploadedFiles.push(vm.fileName)
            }
          } else {
            if (vm.formData) {
              vm.formData.filename = vm.fileName
              uploadedFiles = [vm.formData]
            } else {
              uploadedFiles = [vm.fileName]
            }
          }
          // alert('this.localStorageKeyImages' + vm.localStorageKeyImages + uploadedFiles.length)
          this.$q.localStorage.set(vm.localStorageKeyImages, uploadedFiles)
        }

        fileWriter.onerror = function (error) {
          alert(error)
        }
        fileWriter.write(dataObj)
      })
    }
  }
}
</script>
<style lang="css">
.title {
  float: left;
  position: absolute;
  left: 20px;
  top: 0
}
.subtitle {
  float: left;
  position: absolute;
  left: 20px;
  top: 25px;
}
.q-table tbody td {
    font-size: 14px
  }
  .circle {
    width: 15px;
    height: 15px;
    border-radius: 11px;
  }
  .circle-blue {
    background-color: rgb(63, 81, 181);
  }
  .circle-primary {
    background-color: green;
  }
</style>
<style lang="sass">
.my-sticky-header-table
  /* height or max-height is important */
  height: 510px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #bdbdbd!important;

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
