<template>
  <q-page>
    <div>
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9 col-sm-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3 col-sm-3" style="text-align: right;">
              <q-btn class="q-ma-sm" v-if="can('2.1.1.1.29.1')" round icon="add" color="primary" size="md"
              :to="`/food_projections/list/form`">
              </q-btn>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <q-pagination
              v-model="current"
              :max="response.lastPage"
              direction-links
              boundary-links
              icon-first="skip_previous"
              icon-last="skip_next"
              icon-prev="fast_rewind"
              icon-next="fast_forward"
              @input="getRecords"
              boundary-numbers
              :max-pages="6"
              size="100%"
            />
            </div>
          </div>
        </q-card-section>
      </q-card>

      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Fecha de siembra</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Días de cultivo</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Densidad</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Área</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Asesor técnico</b>
            </div>
          </q-card-section>
          <q-separator color="grey-4" />
          <q-list>
            <q-item class="row" v-for="(analysis, index) in analysis" :key="index" @click="showRecordOptions(analysis)" clickable>
              <div class="col">
                <p class="text-grey-7">{{ analysis.seedtime }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.cultivation_days }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.density }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.pool_area}}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.technicalAdvisor ? analysis.technicalAdvisor.full_name : '' }}</p>
              </div>
            </q-item>
          </q-list>
            <q-separator color="grey-4" />
          </q-card>
        </div>
    </div>
    <q-dialog v-model="showLink">
        <q-card>
          <q-card-section>
            <div class="text-h6">Enlace para compartir</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <a :href="link" target="_blank">{{ link }}</a>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn color="primary" flat @click="copyClipboard">Copiar</q-btn>
            <q-btn flat label="Cerrar" color="primary" v-close-popup/>
          </q-card-actions>
        </q-card>
      </q-dialog>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import { ListMixin } from '../../mixins/list'

export default {
  mixins: [ListMixin],
  data () {
    return {
      id: this.$route.params.id,
      shrimpId: this.$route.params.shrimpId,
      text: '',
      analysis: [],
      stringAnalysis: [],
      showLink: false,
      link: '',
      downloadUrl: 'projections_print',
      downloadFilename: 'Proyeccion alimentación',
      shrimp: {},
      current: 1,
      response: {
        lastPage: 1
      }
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    title () {
      return this.shrimp ? `Proyecciones de Alimentación - Camaronera ${this.shrimp.name}` : ''
    }
  },
  mounted () {
    this.getRecords()
    this.getShrimp()
  },
  methods: {
    async getRecords () {
      this.$q.loading.show()
      /* this.$api.get('food_projections', { params: this.params }).then(res => {
        this.$q.loading.hide()
        this.analysis = res
        this.stringAnalysis = res
      }) */
      const params = {
        shrimp_id: this.$route.params.shrimpId,
        page: this.current,
        recordsCount: 20
      }

      const res = await this.$api.getData('food_projections_mobile', { params })
      this.$q.loading.hide()
      this.analysis = res.data
      this.stringAnalysis = res.data
      this.response = res
    },
    filter () {
      if (this.text === '') {
        this.analysis = this.stringAnalysis
        return
      }
      const needle = this.text.toLowerCase()
      this.analysis = JSON.parse(JSON.stringify(this.stringAnalysis))
      this.analysis = this.stringAnalysis.filter(val => {
        return val.id.toString().indexOf(needle) > -1 ||
        val.technicalAdvisor.full_name.toLowerCase().indexOf(needle) > -1 ||
        val.pools.toLowerCase().indexOf(needle) > -1
      })
    },
    printCostBenefitReport (projectionId) {
      this.$api.get(`cost_benefit_projections_print/${projectionId}`).then(res => {
        if (res) {
          this.$api.get(`filepdf/${res}`, { responseType: 'blob' }).then(res2 => {
            const blob = new Blob([res2])
            const ext = res.split('.')
            this.ext = ext[ext.length - 1]
            const fileName = 'Reporte de proyeccion costo-beneficio.pdf'
            this.fileName = fileName

            if (this.$q.platform.is.mobile) { // Si es teléfono
              // this.saveBlob2File(fileName, blob)
            } else { // Si es navegador
              const url = window.URL.createObjectURL(blob)
              const link = document.createElement('a')
              link.href = url
              link.setAttribute('download', fileName)
              document.body.appendChild(link)
              link.click()
            }
            this.$q.loading.hide()
          }).catch(function (error) {
            console.log('error descargando', error)
          })
        }
      })
    },
    generateLinkGrowthReport (id) {
      this.$api.get(`cost_benefit_projections_print/${id}`).then(res => {
        if (res) {
          console.log('res', `${process.env.apiUrl}filepdf/${res}`)
          this.link = `${process.env.apiUrl}filepdf/${res}`
          this.showLink = true
        }
      })
    },
    showRecordOptions (analysis) {
      this.$q.bottomSheet({
        message: `Acciones proyección de pesca ${analysis.id}`,
        actions: [
          {
            color: 'primary',
            label: 'Editar',
            icon: 'edit',
            id: 'edit'
          },
          {
            color: 'primary',
            label: 'Enviar Mail',
            icon: 'mail',
            id: 'mail'
          },
          {
            color: 'primary',
            label: 'Descargar',
            icon: 'file_download',
            id: 'download'
          },
          {
            color: 'primary',
            label: 'Ver enlace',
            icon: 'link',
            id: 'getLink'
          }
        ]
      }).onOk(action => {
        console.log('Action chosen:', action.id)
        this[action.id](analysis.id || analysis.provisionalId)
      }).onCancel(() => {
        // console.log('Dismissed')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    async getShrimp () {
      /* this.$api.get(`shrimps/${this.shrimpId}`).then(res => {
        if (res) {
          this.shrimp = res
          console.log('shrimp', this.shrimp)
        }
      }) */
      const res = await this.$api.getData(`shrimps/${this.shrimpId}`)
      if (res) {
        this.shrimp = res
        console.log('shrimp', this.shrimp)
      }
    }
  }
}
</script>
<style>
</style>
