<template>
  <q-page>
     <q-card class="q-pa-md">
      <FormHeader :title="title" :subtitle="subtitle" :save="save" />
      <br>
       <div class="row q-pa-sm">
         <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-input color="primary" v-model="form.name" label="Nombre de la Zona" error-message="Ingrese el nombre de la zona"
            :error="$v.form.name.$error" @blur="$v.form.name.$touch()" placeholder="Zona 1"
            hint="Ingrese el nombre de la zona" outlined autofocus>
            <template v-slot:prepend>
              <q-icon color="primary" name="location_searching" />
            </template>
          </q-input>
        </div>
       </div>

      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
     </q-card>
  </q-page>
</template>

<script>
import FormHeader from 'components/FormHeader'
import { FormMixin } from '../../../mixins/form'
import { required, maxLength } from 'vuelidate/lib/validators'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      form: {},
      title: 'Zonas',
      subtitle: 'Nueva Zona',
      route: 'zones',
      field: ''
    }
  },
  validations () {
    return {
      form: {
        name: { required, maxLength: maxLength(60) }
      }
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Zonas',
        icon: 'view_carousel ',
        to: '/zones'
      },
      {
        label: 'Nueva Zona',
        icon: 'view_carousel',
        to: 'zones/form'
      }
    ])
    if (this.id) {
      this.getRecord()
    }
  },
  methods: {
    async getRecord () {
      await this.$api.get(`${this.route}/true/${this.id}`).then(res => {
        this.form = res
      })
    }
  }
}
</script>

<style>

</style>
