<template>
  <q-page>
    <div>
      <!-- <listable :title="'Zonas Activas'" :buttons="buttons" :cols="cols" route="zones/all"
      :dense="$q.screen.lt.xs"/> -->
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <q-btn class="q-ma-sm" v-if="can('5.1.2')" round icon="add" color="primary" size="md"
              :to="`${$route.path}/form`">
                <q-tooltip>
                  Nueva zona
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ma-sm" round icon="get_app" color="primary" size="md" @click="exportTable">
                <q-tooltip>
                  Exportar
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ml-sm" round  @click="$q.fullscreen.toggle()"
                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="primary" size="md">
                <q-tooltip>
                  Pantalla completa
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-sm-2 col-md-2">
              <q-input v-model="text" placeholder="Buscar" @input="filter" outlined dense>
                <template v-slot:append>
                  <q-icon v-if="text !== ''" name="close" @click="text = ''" class="cursor-pointer" />
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
            <div class="offset-sm-8 offset-md-8 col-sm-2 col-md-2">
              <q-select v-model="zoneView" @input="changeZoneView" outlined emit-value map-options
              :options="zoneViewOptions" />
            </div>
          </div>
        </q-card-section>
      </q-card>
      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Nombre</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Estatus</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Acciones</b>
            </div>
            <div class="col" style="text-align: right">
              <b class="text-grey-7">Activar/Inactivar</b>
            </div>
          </q-card-section>
          <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(item, index) in records" :key="index">
              <div class="col">
                <p class="text-grey-7">{{ item.name }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.estatus }}</p>
              </div>
               <div class="col" style="text-align: center">
                <q-btn v-if="can('5.1.3')" flat icon="edit" size="sm" color="primary"
                  :to="`/zones/form/${item.id}`"
                  dense>
                  <q-tooltip>
                    Editar
                  </q-tooltip>
                </q-btn>
                <q-btn v-if="can('5.1.4')" flat icon="delete" size="sm" color="primary" @click="deleteRecord(item.id)" dense>
                  <q-tooltip>
                    Eliminar
                  </q-tooltip>
                </q-btn>
              </div>
              <div class="col" style="text-align: right">
                <q-toggle v-if="can('5.1.6')" v-model="item.status" :color="item.status == true ? 'primary' : 'negative'"
                @input="activate(item)" keep-color/>
              </div>
            </q-card-section>
            <q-separator color="grey-4" />
          </q-card>
      </div>
    </div>
    <q-dialog v-model="confirm" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <q-avatar icon="warning" color="negative" text-color="white" />
            <span class="q-ml-sm">Está seguro de eliminar?</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Eliminar" color="primary" @click="confirmDelete" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
  </q-page>
</template>

<script>
import { exportFile } from 'quasar'

function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== undefined
    ? formatFn(val)
    : val

  formatted = formatted === undefined || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')

  return `"${formatted}"`
}
// import Listable from 'components/Listable'
import { mapGetters } from 'vuex'
export default {
  components: {},
  data () {
    return {
      text: '',
      records: [],
      stringRecords: [],
      route: 'zones/all',
      buttons: [
        {
          label: 'Nuevo', icon: 'add', color: 'primary', url: `${this.$route.path}/form`, action: '', permission: '5.1.2'
        },
        {
          label: 'Zonas inactivas', icon: 'list_alt', color: 'primary', action: 'list_inactive_zones', permission: '5.1.2'
        },
        {
          label: 'Zonas activas', icon: 'list_alt', color: 'primary', action: 'list_active_zones', permission: '5.1.2'
        },
        {
          label: 'Zonas creadas', icon: 'list_alt', color: 'primary', action: 'list_zones', permission: '5.1.2'
        }
      ],
      cols: [
        { name: 'Nombre', required: true, label: 'Nombre', align: 'left', field: 'name', sortable: true },
        { name: 'Estatus', required: true, label: 'Estatus', align: 'left', field: 'estatus', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ],
      confirm: false,
      zoneView: 'all',
      zoneViewOptions: [
        {
          value: 'all', label: 'Zonas creadas'
        },
        {
          value: 'false', label: 'Zonas inactivas'
        },
        {
          value: 'true', label: 'Zonas activas'
        }
      ]
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    title () {
      return this.zoneViewOptions.find(val => val.value === this.zoneView).label
    }
  },
  mounted () {
    this.getRecords()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Zonas',
        icon: 'person',
        to: 'zones'
      }
    ])
  },
  methods: {
    getRecords (type = 'all') {
      this.$q.loading.show()
      this.$api.get(`zones/${type}`).then(res => {
        this.$q.loading.hide()
        if (res) {
          this.records = res
          this.stringRecords = res
        }
      })
    },
    deleteRecord (id) {
      this.confirm = true
      this.id = id
    },
    confirmDelete () {
      if (this.route) {
        this.$api.delete(this.route + '/' + this.id).then((res) => {
          if (res) {
            this.getRecords()
            this.$q.notify({
              type: 'positive',
              message: 'Registro eliminado con éxito!'
            })
          }
        })
      }
    },
    exportTable () {
      // naive encoding to csv format
      // const columns = JSON.parse(JSON.stringify(this.cols))
      const columns = Object.create(this.cols)
      if (columns[columns.length - 1].name === 'actions') {
        columns.pop()
      }

      console.log('col', columns)
      const content = [columns.map(col => wrapCsvValue(col.label))].concat(
        this.records.map(row => columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === undefined ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    filter () {
      if (this.text === '') {
        this.records = this.stringRecords
        return
      }
      const needle = this.text.toLowerCase()
      // this.records = JSON.parse(JSON.stringify(this.stringRecords))
      this.records = [...this.stringRecords]
      this.records = this.stringRecords.filter(val => {
        return val.name.toLowerCase().indexOf(needle) > -1 || val.estatus.toLowerCase().indexOf(needle) > -1
      })
    },
    activate (record) {
      console.log('activate', record)
      this.$q.loading.show()
      this.$api.get('activate_zones/' + record.id + '/' + record.status).then(res => {
        this.$q.loading.hide()

        if (res) {
          console.log('si')
          if (this.zoneView === 'true') {
            this.getRecords('true')
          } else if (this.zoneView === 'false') {
            this.getRecords('false')
          } else {
            this.getRecords()
          }
        } else {
          console.log('no')
          record.status = !record.status
        }
      })
    },
    changeZoneView (value) {
      console.log('changeZoneView', value)
      this.getRecords(value)
    }
  }
}
</script>
<style>
</style>
