<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }}</b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn label="Filtrar" rounded color="primary" size="md" @click="download">
                <q-tooltip>
                  Descargar reporte general de cosechas
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card-section class="q-pa-sm row">
        <q-card class="q-pa-sm" style="width: 100%" flat>
          <div class="row">
            <!-- <div class="col-md-4 q-pa-md">
              <q-select v-model="form.zones_id" color="primary" label="Zonas" outlined
                :options="zones" placeholder="Seleccione zonas" emit-value map-options
                options-value="id" option-label="name" multiple use-chips clearable/>
            </div> -->
            <div class="col-md-4 q-pa-md">
              <q-select v-model="form.customers_id" color="primary" label="Clientes" outlined
                :options="fiteredCustomers" placeholder="Seleccione clientes" emit-value map-options
                options-value="id" option-label="legal_name" multiple use-chips clearable/>
            </div>
            <div class="col-md-4 q-pa-md">
              <q-select v-model="form.shrimps_id" color="primary" label="Camaroneras" outlined
                :options="filteredShrimps" placeholder="Seleccione camaroneras" emit-value map-options
                options-value="id" option-label="name" multiple use-chips clearable/>
            </div>
            <div class="col-md-4 q-pa-md">
              <q-select v-model="form.pools_id" color="primary" label="Piscinas" outlined
                :options="filteredPools" placeholder="Seleccione piscinas" emit-value map-options
                options-value="id" option-label="description" multiple use-chips clearable/>
            </div>
            <div class="col-md-4 q-pa-md">
              <q-input type="date" v-model="form.from" color="primary" label="Desde" outlined stack-label/>
            </div>
            <div class="col-md-4 q-pa-md">
              <q-input type="date" v-model="form.to" color="primary" label="Hasta" outlined stack-label/>
            </div>
            <div class="col-md-4 q-pa-md">
              <q-select v-model="form.foods_id" color="primary" label="Tipos de alimento" outlined
                :options="foods" emit-value map-options
                options-value="id" option-label="name" multiple use-chips clearable/>
            </div>
            <div class="col-md-4 q-pa-md">
              <q-select v-model="form.seedtypes_id" color="primary" label="Tipos de siembra" outlined
                :options="seedtypes" emit-value map-options multiple use-chips clearable/>
            </div>
            <div class="col-md-4 q-pa-md">
              <q-toggle
                v-model="form.economicalData"
                color="primary"
                label="¿Incluir datos económicos?"
                left-label
              />
            </div>
          </div>
        </q-card>
      </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      title: 'Reporte general de cosechas',
      subtitle: 'Imprimir reporte',
      form: {
        economicalData: false
      },
      customers: [],
      shrimps: [],
      zones: [],
      foods: [],
      seedtypes: [
        {
          label: 'Directa',
          value: 1
        },
        {
          label: 'Madre hija',
          value: 2
        },
        {
          label: 'Raceways - transferida',
          value: 3
        },
        {
          label: 'Transferida',
          value: 4
        }
      ]
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    filteredShrimps () {
      return this.shrimps && this.form.customers_id ? this.shrimps.filter(val => this.form.customers_id.map(val => val.id).indexOf(val.customer_id) > -1) : []
    },
    filteredPools () {
      const pools = []
      if (this.form.shrimps_id) {
        this.form.shrimps_id.forEach(shrimp => {
          shrimp.pools.forEach(pool => {
            pools.push(pool)
          })
        })
      }
      return pools
    },
    fiteredCustomers () {
      return this.customers
    }
  },
  validations: {
    form: {
      seedtime: { required }
    }
  },
  mounted () {
    this.getCustomers()
    this.getShrimps()
    this.getZones()
    this.getFoods()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Reporte general de cosechas',
        icon: 'person',
        to: '/general_harvest_report'
      }
    ])
  },
  methods: {
    getCustomers () {
      this.$api.get('customers').then(res => {
        if (res) {
          this.customers = res.data
        }
      })
    },
    getShrimps () {
      this.$api.get('shrimps').then(res => {
        if (res) {
          this.shrimps = res
        }
      })
    },
    download () {
      const fromString = this.form.from ? `from=${this.form.from}` : ''
      const toString = this.form.to ? `to=${this.form.to}` : ''
      this.$api.get(`general_harvest_report?${fromString}&${toString}&${this.convertArrayToQueryParamsShrimps()}&${this.convertArrayToQueryParams()}&${this.convertArrayToQueryParamsProducts()}&${this.convertArrayToQueryParamsSeedTypes()}&economicalData=${this.form.economicalData}`, { responseType: 'blob' }).then(res => {
        // const blob = new Blob([res])
        const url = window.URL.createObjectURL(new Blob([res]))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', 'ReporteGeneralCosechas.xlsx')
        document.body.appendChild(link)
        link.click()
        link.remove()
      })
    },
    convertArrayToQueryParams () {
      return this.form.pools_id && this.form.pools_id.length ? this.form.pools_id.map((n, index) => `poolsIds[${index}]=${n.id}`).join('&') : []
    },
    convertArrayToQueryParamsProducts () {
      return this.form.foods_id && this.form.foods_id.length ? this.form.foods_id.map((n, index) => `foodsIds[${index}]=${n.id}`).join('&') : []
    },
    convertArrayToQueryParamsSeedTypes () {
      return this.form.seedtypes_id && this.form.seedtypes_id.length ? this.form.seedtypes_id.map((n, index) => `seedtypes[${index}]=${n}`).join('&') : []
    },
    convertArrayToQueryParamsShrimps () {
      return this.form.shrimps_id && this.form.shrimps_id.length ? this.form.shrimps_id.map((n, index) => `shrimpsIds[${index}]=${n.id}`).join('&') : []
    },
    getZones () {
      this.$api.get('zones/true').then(res => {
        if (res) {
          this.zones = res
        }
      })
    },
    getFoods () {
      this.$api.get('products').then(res => {
        if (res) {
          this.foods = res
        }
      })
    }
  }
}
</script>
<style lang="css">
.title {
  float: left;
  position: absolute;
  left: 20px;
  top: 0
}
.subtitle {
  float: left;
  position: absolute;
  left: 20px;
  top: 25px;
}
.q-table tbody td {
    font-size: 14px
  }
  .circle {
    width: 15px;
    height: 15px;
    border-radius: 11px;
  }
  .circle-blue {
    background-color: rgb(63, 81, 181);
  }
  .circle-primary {
    background-color: green;
  }
</style>
<style lang="sass">
.my-sticky-header-table
  /* height or max-height is important */
  height: 510px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #bdbdbd!important;

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
