<template>
  <q-page>
    <!-- <q-btn-group push>
      <q-btn color="primary" push label="Acción 1" icon="timeline" />
      <q-btn push label="Acción 2" icon="visibility" />
      <q-btn text-color="primary" push label="Acción 3" icon="update" />
    </q-btn-group> -->
    <q-card class="q-pa-md">
      <FormHeader :title="title" :subtitle="subtitle" :save="save" />
      <br>
      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-input color="primary" v-model="form.name" label="Rol" error-message="Ingrese rol de al menos 5 caracteres"
            :error="$v.form.name.$error" @blur="$v.form.name.$touch()" placeholder="Administrador"
            hint="Ingrese rol de al menos 5 caracteres" outlined autofocus>
            <template v-slot:prepend>
              <q-icon color="primary" name="mail" />
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-input color="primary" v-model="form.description" label="Descripción" @blur="$v.form.description.$touch()"
          error-message="Ingrese una descripción de al menos 10 caracteres" :error="$v.form.description.$error"
          hint="Ingrese una descripción de al menos 10 caracteres" placeholder="Rol encargado de manejar ..." outlined>
            <template v-slot:prepend>
              <q-icon color="primary" name="vpn_key" />
            </template>
          </q-input>
        </div>
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pt-md">
          <q-card flat bordered>
            <q-card-section class="">
              <div class="text-subtitle2" :style="$v.form.permissions.$error ? 'color: red' : 'color: black'">Permisos <small>Seleccione al menos un permiso</small></div>
            </q-card-section>
            <q-tree class="col-12 col-sm-6" :nodes="permissions" node-key="track" label-key="name" tick-strategy="leaf"
              :selected.sync="selected" :ticked.sync="form.permissions" :expanded.sync="expanded"/>
          </q-card>
        </div>
      </div>
      <q-separator />

      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../mixins/form'
import FormHeader from 'components/FormHeader'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      title: 'Roles',
      subtitle: 'Nuevo rol',
      route: 'roles',
      form: {
        permissions: []
      },
      permissions: [],
      selected: [],
      ticked: [],
      expanded: []
    }
  },
  validations () {
    return {
      form: {
        name: { required, minLength: minLength(5), maxLength: maxLength(60) },
        description: { required, minLength: minLength(10), maxLength: maxLength(60) },
        permissions: { required }
      }
    }
  },
  mounted () {
    this.getPermissions()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Roles',
        icon: 'security',
        to: '/roles'
      },
      {
        label: 'Nuevo Rol',
        icon: 'security',
        to: 'roles/form'
      }
    ])
  },
  methods: {
    getPermissions () {
      this.$api.get('permissionsf').then(res => {
        if (res) {
          this.permissions = res
        }
      })
    }
  }
}
</script>
