<template>
  <q-page>
    <div>
      <!-- <listable :title="title" :buttons="buttons" :cols="cols" :route="route"/> -->
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <q-btn class="q-ma-sm" v-if="can('1.1.2')" round icon="add" color="primary" size="md"
              :to="`${$route.path}/form`">
                <q-tooltip>
                  Nuevo usuario
                </q-tooltip>
              </q-btn>
              <!-- <q-btn class="q-ma-sm" round icon="get_app" color="primary" size="md" @click="exportTable">
                <q-tooltip>
                  Exportar
                </q-tooltip>
              </q-btn> -->
              <q-btn class="q-ml-sm" round  @click="$q.fullscreen.toggle()"
                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="primary" size="md">
                <q-tooltip>
                  Pantalla completa
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-md-2">
              <q-input v-model="text" placeholder="Buscar" @input="filter" outlined dense>
                <template v-slot:append>
                  <q-icon v-if="text !== ''" name="close" @click="text = '',pools = stringPools" class="cursor-pointer" />
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Nombre</b>
            </div>
            <div class="col">
              <b class="text-grey-7">Descripción</b>
            </div>
            <div class="col" style="text-align: right">
              <b class="text-grey-7">Acciones</b>
            </div>
          </q-card-section>
          <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(record, index) in records" :key="index">
              <div class="col">
                <p class="text-grey-7">{{ record.name }}</p>
              </div>
              <div class="col">
                <p class="text-grey-7">{{ record.description }}</p>
              </div>
               <div class="col" style="text-align: right">
                <q-btn v-if="can('1.1.3')" flat icon="edit" size="sm" color="primary"
                  :to="`/roles/form/${record.id}`"
                  dense>
                  <q-tooltip>
                    Editar
                  </q-tooltip>
                </q-btn>
                <q-btn v-if="can('1.1.4')" flat icon="delete" size="sm" color="primary" @click="deleteRecord(record.id)" dense>
                  <q-tooltip>
                    Eliminar
                  </q-tooltip>
                </q-btn>
              </div>
            </q-card-section>
            <q-separator color="grey-4" />
          </q-card>
      </div>
    </div>
    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="warning" color="negative" text-color="white" />
          <span class="q-ml-sm">Está seguro de eliminar?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Eliminar" color="primary" @click="confirmDelete" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
// import Listable from 'components/Listable'
import { mapGetters } from 'vuex'
import { ListMixin } from '../../../../mixins/list'
export default {
  mixins: [ListMixin],
  data () {
    return {
      title: 'Roles',
      route: 'roles',
      buttons: [
        {
          label: 'Nuevo', icon: 'add', color: 'primary', url: `${this.$route.path}/form`, action: '', permission: '1.2.2'
        }
      ],
      cols: [
        { name: 'name', required: true, label: 'Rol', align: 'left', field: 'name', sortable: true },
        { name: 'description', required: true, label: 'Descripción', align: 'left', field: 'description', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ]
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  mounted () {
    this.getRecords()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Roles',
        icon: 'security',
        to: 'roles'
      }
    ])
  },
  methods: {
    /* exportTable () {
      console.log('this.cools', this.cols)
      // naive encoding to csv format
      // const columns = JSON.parse(JSON.stringify(this.cols))
      const columns = [...this.cols]
      if (columns[columns.length - 1].name === 'actions') {
        columns.pop()
      }

      console.log('col', columns.length)
      const content = columns.map(col => wrapCsvValue(col.label)).concat(
        this.records.map(row => columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === undefined ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    }, */
    filter () {
      if (this.text === '') {
        this.records = this.stringRecords
        return
      }
      const needle = this.text.toLowerCase()
      this.records = JSON.parse(JSON.stringify(this.stringRecords))
      this.records = this.stringRecords.filter(val => {
        return val.name.indexOf(needle) > -1
      })
    }
  }
}
</script>
<style>
</style>
