<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="logo.jpeg"
    >
  </q-page>
</template>

<script>

export default {
  name: 'PageIndex',
  components: {
  },
  data () {
    return {
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      }
    ])
  },
  methods: {
  }
}
</script>
