<template>
  <q-page>
    <!-- <q-btn-group push>
      <q-btn color="primary" push label="Acción 1" icon="timeline" />
      <q-btn push label="Acción 2" icon="visibility" />
      <q-btn text-color="primary" push label="Acción 3" icon="update" />
    </q-btn-group> -->
    <q-card class="q-pa-sm">
      <FormHeader :title="title" :subtitle="subtitle" :save="save" />
      </q-card>
      <q-card>
      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-4 col-lg-4">
          <q-input color="primary" v-model="form.full_name" label="Unidad de medida" @blur="$v.form.full_name.$touch()"
            error-message="Ingrese el nombre" :error="$v.form.full_name.$error" placeholder="Kilogramo"
            hint="Ingrese el nombre" outlined>
          </q-input>
        </div>
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-4 col-lg-4">
          <q-input color="primary" v-model="form.slug" label="Categoría" placeholder="kg"
            hint="Ingrese el alias" outlined>
          </q-input>
        </div>
      </div>

      <q-separator />
      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../mixins/form'
import FormHeader from 'components/FormHeader'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      title: 'Unidades de Medida',
      subtitle: 'Nueva Unidad de Medida',
      route: 'measure_units',
      form: {}
    }
  },
  computed: {
  },
  validations () {
    return {
      form: {
        full_name: { required }
      }
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Productos',
        icon: 'fastfood',
        to: '/products'
      },
      {
        label: 'Unidades de Medida',
        icon: 'square_foot',
        to: '/products/measure_units'
      },
      {
        label: 'Nueva unidad de medida',
        icon: 'square_foot',
        to: 'products/measure_units/form'
      }
    ])
  },
  methods: {
  }
}
</script>
