<template>
  <q-page>
    <div>
      <listable :title="title" :buttons="buttons" :cols="cols" route="measure_units"/>
    </div>
  </q-page>
</template>

<script>
import Listable from 'components/Listable'
export default {
  components: { Listable },
  data () {
    return {
      title: 'Unidades de Medida',
      buttons: [
        {
          label: 'Nuevo', icon: 'add', color: 'primary', url: `${this.$route.path}/form`, action: '', permission: '4.12'
        }
      ],
      cols: [
        { name: 'full_name', required: true, label: 'Nombre', align: 'left', field: 'full_name', sortable: true },
        { name: 'slug', required: true, label: 'Alias', align: 'left', field: 'slug', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ]
    }
  }
}
</script>
<style>
</style>
