<template>
  <q-page>
    <div>
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-5">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-7" style="text-align: right;">
              <q-btn class="q-ma-sm" rounded label="Formato de carga masiva" color="primary" size="md" @click="downloadFormat">
                <q-tooltip>
                  Descargar formato de carga masiva de reportes de cosechas
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ma-sm" v-if="can('2.1.1.1.44')" rounded label="Subir carga masiva" color="primary" size="md" @click="showUpload">
                <q-tooltip>
                  Subir formato de carga masiva de reportes de cosechas
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ma-sm" v-if="can('2.1.1.1.44')" round icon="add" color="primary" size="md" :to="`${$route.path}/form`">
                <q-tooltip>
                  Nuevo reporte de cosecha
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ma-sm" round icon="get_app" color="primary" size="md" @click="exportTable">
                <q-tooltip>
                  Exportar
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ml-sm" round  @click="$q.fullscreen.toggle()"
                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="primary" size="md">
                <q-tooltip>
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-md-2">
              <q-input v-model="text" placeholder="Buscar" @input="filter" outlined dense>
                <template v-slot:append>
                  <q-icon v-if="text !== ''" name="close" @click="text = '',pools = stringPools" class="cursor-pointer" />
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <div class="q-pa-sm">

      </div>
      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Código</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Piscina</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Área</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Fecha de siembra</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Fecha de cosecha</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Laboratorio</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Siembra</b>
            </div>
            <div class="col" style="text-align: right">
              <b class="text-grey-7">Acciones</b>
            </div>
            </q-card-section>
            <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(item, index) in records" :key="index">
              <div class="col">
                <p class="text-grey-7">{{ item.id }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.pool.description }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.pool.area }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.seed_time }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.harvest_date }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.laboratory ? item.laboratory.name : 'Lab. eliminado' }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ parseFloat(item.seed) | currency({ thousandsSeparator: '.', fractionSeparator: ',', fractionCount: '0' }) }}</p>
              </div>
               <div class="col" style="text-align: right">
                <q-btn v-if="can('2.1.1.1.45')" flat icon="edit" size="sm" color="primary"
                  :to="`/customers/show/${id}/shrimps/${shrimpId}/harvest_reports/form/${item.id}`"
                  dense>
                  <q-tooltip>
                    Editar
                  </q-tooltip>
                </q-btn>
                <q-btn v-if="can('2.1.1.1.52')" flat icon="mail_outline" size="sm" color="primary"
                  :to="`harvest_reports/send_mail/${item.id}`" dense>
                  <q-tooltip>
                    Enviar Mail
                  </q-tooltip>
                </q-btn>

                <q-btn v-if="can('2.1.1.1.51')" flat icon="save_alt" size="sm" color="primary"
                  @click="printHarvestReport(item.id)" dense>
                  <q-tooltip>
                    Descargar
                  </q-tooltip>
                </q-btn>

                <q-btn v-if="can('2.1.1.1.51')" flat icon="link" size="sm" color="primary"
                  @click="generateLinkGrowthReport(item.id)" dense>
                  <q-tooltip>
                    Enlace
                  </q-tooltip>
                </q-btn>
              </div>
            </q-card-section>
            <q-separator color="grey-4" />
          </q-card>
        </div>
      </div>
      <q-dialog v-model="showLink">
        <q-card>
          <q-card-section>
            <div class="text-h6">Enlace para compartir</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <a :href="link" target="_blank">{{ link }}</a>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn color="primary" flat @click="copyClipboard">Copiar</q-btn>
            <q-btn flat label="Cerrar" color="primary" v-close-popup/>
          </q-card-actions>
        </q-card>
      </q-dialog>
      <!-- Modal subir archivo de carga masiva -->
      <q-dialog v-model="upload">
        <q-card class="q-pa-md">
          <div class="row">
            <div class="col-md-12">
              <q-input type="file" v-model="file" :error="fileError" @input="fileError = false"
              error-message="Debe seleccionar un archivo"></q-input>
            </div>
            <div class="col-md-12" style="text-align: end;">
              <q-btn label="Subir archivo" color="primary" @click="uploadFile"></q-btn>
            </div>
          </div>
        </q-card>
      </q-dialog>
  </q-page>
</template>

<script>
import { exportFile, copyToClipboard } from 'quasar'
import env from '../../../../../env'
function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== undefined
    ? formatFn(val)
    : val

  formatted = formatted === undefined || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')
  return `"${formatted}"`
}
import { mapGetters } from 'vuex'
export default {
  components: {},
  data () {
    return {
      title: 'Reportes de cosechas',
      id: this.$route.params.id,
      shrimpId: this.$route.params.shrimpId,
      params: {
        shrimp_id: this.$route.params.shrimpId
      },
      route: 'harvest_reports',
      cols: [
        { name: 'id', required: true, label: 'Código', align: 'left', field: 'id', sortable: true },
        { name: 'pool', required: true, label: 'Piscina', align: 'left', field: row => row.pool.description, sortable: true },
        { name: 'area', required: true, label: 'Área', align: 'left', field: row => row.pool.area, sortable: true },
        { name: 'seedtime', required: true, label: 'Fecha de siembra', align: 'left', field: 'seed_time', sortable: true },
        { name: 'harvest_date', required: true, label: 'Fecha de cosecha', align: 'left', field: 'harvest_date', sortable: true },
        { name: 'laboratory', required: true, label: 'Laboratorio', align: 'left', field: row => row.laboratory ? row.laboratory.name : 'Lab. eliminado', sortable: true },
        { name: 'seed', required: true, label: 'Siembra', align: 'left', field: 'seed', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ],
      expanded: false,
      text: '',
      records: [],
      stringRecords: [],
      link: null,
      showLink: false,
      file: '',
      fileError: false,
      upload: false
    }
  },
  mounted () {
    this.getRecords()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Clientes',
        icon: 'person',
        to: '/customers'
      },
      {
        label: 'Gestión Cliente',
        icon: 'person',
        to: '/customers/show/' + this.id
      },
      {
        label: 'Camaroneras',
        icon: 'person',
        to: `/customers/show/${this.id}/shrimps`
      },
      {
        label: 'Reportes de cosecha',
        icon: 'person',
        to: `/customers/show/${this.id}/shrimps/${this.shrimpId}/harvest_reports`
      }
    ])
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  methods: {
    getRecords () {
      this.$api.get(this.route, { params: this.params }).then(res => {
        this.records = res
        this.stringRecords = res
      })
    },
    exportTable () {
      // naive encoding to csv format
      // const columns = JSON.parse(JSON.stringify(this.cols))
      const columns = Object.create(this.cols)
      if (columns[columns.length - 1].name === 'actions') {
        columns.pop()
      }

      console.log('col', columns)
      const content = [columns.map(col => wrapCsvValue(col.label))].concat(
        this.records.map(row => columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === undefined ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    filter () {
      if (this.text === '') {
        this.records = this.stringRecords
        return
      }
      const needle = this.text.toLowerCase()
      this.records = JSON.parse(JSON.stringify(this.stringRecords))
      this.records = this.stringRecords.filter(val => {
        return val.id.toString().indexOf(needle) > -1 || val.analysis_date.toLowerCase().indexOf(needle) > -1 ||
        val.user.technical_advisor.full_name.toLowerCase().indexOf(needle) > -1 ||
        val.applicant.toLowerCase().indexOf(needle) > -1
      })
    },
    printHarvestReport (projectionId) {
      this.$api.get(`harvest_reports_print/${projectionId}`).then(res => {
        if (res) {
          this.$api.get(`filepdf/${res}`, { responseType: 'blob' }).then(res2 => {
            const blob = new Blob([res2])
            const ext = res.split('.')
            this.ext = ext[ext.length - 1]
            const fileName = 'Reporte de cosecha.pdf'
            this.fileName = fileName

            if (this.$q.platform.is.mobile) { // Si es teléfono
              // this.saveBlob2File(fileName, blob)
            } else { // Si es navegador
              const url = window.URL.createObjectURL(blob)
              const link = document.createElement('a')
              link.href = url
              link.setAttribute('download', fileName)
              document.body.appendChild(link)
              link.click()
            }
            this.$q.loading.hide()
          }).catch(function (error) {
            console.log('error descargando', error)
          })
        }
      })
    },
    generateLinkGrowthReport (id) {
      this.$api.get(`harvest_reports_print/${id}`).then(res => {
        if (res) {
          console.log('res', `${env.apiUrl}filepdf/${res}`)
          this.link = `${env.apiUrl}filepdf/${res}`
          this.showLink = true
        }
      })
    },
    copyClipboard () {
      console.log('copyClipboard')
      copyToClipboard(this.link).then(() => {
        console.log('bien')
      })
        .catch(() => {
          console.log('mal')
        })
    },
    downloadFormat () {
      this.$api.get('harvest_reports_bulkload_format', { responseType: 'blob', params: { shrimpId: this.shrimpId } }).then(res => {
        const blob = new Blob([res])

        const url = window.URL.createObjectURL(blob)
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', 'Carga masiva camaronera tal.xlsx')
        document.body.appendChild(link)
        link.click()
        link.remove()
      })
    },
    showUpload () {
      this.upload = true
    },
    uploadFile () {
      // Subir archivo
      if (this.file === '') {
        this.fileError = true
      } else {
        this.$q.loading.show()
        const formData = new FormData()
        formData.append('shrimpId', this.shrimpId)
        formData.append('file', this.file[0])

        this.$api.post('harvest_reports_upload_bulkload_format', formData, {
          headers: {
            'Content-Type': undefined
          }
        }).then(res => {
          if (res) {
            this.getRecords()
            this.upload = false
            this.file = ''
            this.fileError = false
          }
          this.$q.loading.hide()
        })
      }
    }
  }
}
</script>
<style>
</style>
