<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11 col-sm-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-1 col-sm-3" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.27') && form.details.length" label="Guardar" rounded color="primary" size="md"
              @click="save">
                <q-tooltip>
                  Guardar
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-md-10 col-sm-9">
            </div>
            <div class="col-md-1 col-sm-3" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.27') && form.details.length < 4" label="Agregar tabla" icon="add" rounded color="primary" size="md"
              @click="addTable">
                <q-tooltip>
                  Agregar tabla
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
              <q-select v-model="form.shrimp_id" label="Camaronera" outlined :readonly="shrimpReadOnly" :options="shrimps"
                emit-value map-options option-label="name" option-value="id"/>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-card>
    <q-card class="q-pa-md" style="width: 100%">
          <div class="row">
            <q-card v-for="(item, key) in form.details" class="col-md-4 col-sm-6 q-pa-md" :key="key">
              <q-btn v-if="can('2.1.1.1.42')" color="primary" icon="delete" @click="deleteTable(key)" flat round dense>
                <q-tooltip>
                  Eliminar tabla
                </q-tooltip>
              </q-btn>
              <div class="row">
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-select class="q-pb-md q-pr-md" label="Raleo" :value="item.thinning" :options="thinningTypes"
                  emit-value map-options outlined color="blue" filled bg-color="blue-1" readonly/> -->
                  <q-select label="Raleo" v-model="item.thinning" :options="thinningTypes" emit-value map-options
                  error-message="Seleccione valor" :error="$v.form.details.$each[key].thinning.$error"
                  @blur="$v.form.details.$each[key].thinning.$touch()" outlined/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-select class="q-pb-md" label="Tipo de siembra" :value="item.planting_type" :options="plantingTypes"
                  emit-value map-options outlined filled bg-color="blue-1" readonly/> -->
                  <q-select label="Tipo de siembra" v-model="item.planting_type" :options="plantingTypes"
                  error-message="Seleccione valor" emit-value map-options
                  :error="$v.form.details.$each[key].planting_type.$error" @blur="$v.form.details.$each[key].planting_type.$touch()" outlined/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Piscina" outlined filled bg-color="blue-1" readonly/> -->
                  <q-select label="Piscina" v-model="item.pool_id" :options="pools"
                    option-value="id" :option-label="opt => Object(opt) === opt && opt.area ? opt.description + ' - ' + opt.area + ' ' + 'Has' : ''"
                    error-message="Seleccione piscina" :error="$v.form.details.$each[key].pool_id.$error" @blur="$v.form.details.$each[key].pool_id.$touch()"
                    map-options emit-value outlined/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="Hectáreas" outlined readonly/> -->
                  <q-select label="Alimento" v-model="item.food_id" :options="products"
                    option-value="id" option-label="name"
                    error-message="Seleccione alimento" :error="$v.form.details.$each[key].pool_id.$error" @blur="$v.form.details.$each[key].pool_id.$touch()"
                    map-options emit-value outlined/>
                </div>
                <div class="col-md-12 col-sm-12">
                  <q-separator color="grey" />
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="text-h6 text-primary">Producción</div>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-field class="q-pb-md" label="Densidad" filled bg-color="blue-1" :value="item.density" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-field color="primary" outlined v-model="item.density" label="Densidad"
                    :error="$v.form.details.$each[key].density.$error" @blur="$v.form.details.$each[key].density.$touch()" error-message="Ingrese densidad">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6 q-pa-md">
                  <p><b>Cosecha</b></p>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Supervivencia" :value="item.survival" filled bg-color="blue-1" suffix="%" outlined readonly/> -->
                  <q-input type="number" label="Supervivencia" v-model="item.survival" error-message="Ingrese valor"
                  :error="$v.form.details.$each[key].survival.$error" @blur="$v.form.details.$each[key].survival.$touch()" outlined suffix="%"/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="Precio" :value="item.harvest_price" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Precio" :value="item.harvest_price" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Tamaños - gramos" :value="item.size_grs" filled bg-color="blue-1" outlined readonly/> -->
                  <!-- <q-field class="q-pb-md" label="Tamaños - gramos" :value="item.size_grs" filled bg-color="blue-1" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-input type="number" color="primary" outlined v-model="item.size_grs" label="Tamaños - gramos"
                    :error="$v.form.details.$each[key].size_grs.$error" @blur="$v.form.details.$each[key].size_grs.$touch()" error-message="Ingrese valor">
                    <!-- <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                      v-show="floatingLabel" />
                    </template> -->
                  </q-input>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="Libras" :value="item.pounds" outlined filled bg-color="light-green-3" readonly/> -->
                  <q-field class="q-pb-md" label="Libras" :value="item.pounds" outlined filled bg-color="light-green-3" readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-field class="q-pb-md" label="Peso siembra" filled bg-color="blue-1" :value="item.size_planting" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-input type="number" color="primary" outlined v-model="item.size_planting" label="Peso siembra"
                    :error="$v.form.details.$each[key].size_planting.$error" @blur="$v.form.details.$each[key].size_planting.$touch()" error-message="Ingrese valor">
                    <!-- <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                      v-show="floatingLabel" />
                    </template> -->
                  </q-input>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="Cabeza" :value="item.production_head" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Cabeza" :value="item.production_head" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <!-- <div class="col-md-6 col-sm-6">
                </div> -->
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Ciclos" :value="item.cicles" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="Cola" :value="item.production_tail" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Cola" :value="item.production_tail" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Crecimiento" :value="item.growth" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <!-- <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="US$" :value="item.production_us_dolar" filled bg-color="light-green-3" outlined readonly/>
                </div> -->
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Total" :value="item.production_total" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-input class="q-pb-md" label="Cam/m" :value="item.cam_m" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-12 col-sm-12">
                  <q-separator color="grey" />
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <div class="text-h6 text-primary">Ventas</div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <b v-if="item.thinning == 1">Raleo</b>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Libras / Ha" :value="item.pounds_shrimp_ha" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Libras / Ha" :value="item.pounds_shrimp_ha" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-field v-if="item.thinning == 1" class="q-pb-md" label="Tam raleo" :value="item.size_thinning" outlined filled bg-color="blue-1" readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-field v-if="item.thinning == 1" color="primary" outlined v-model="item.size_thinning" label="Tam raleo"
                    :error="$v.form.details.$each[key].size_thinning.$error"
                    @blur="$v.form.details.$each[key].size_thinning.$touch()" error-message="Ingrese valor">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                      v-show="floatingLabel" />
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Libras camarón/Ha" :value="item.pounds_shrimp_ha" filled bg-color="light-green-3" outlined readonly/> -->
                  <!-- <q-field v-if="item.thinning == 1" class="q-pb-md" label="Libras/Ha Raleo" :value="item.pounds_thinning" filled bg-color="blue-1" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-field v-if="item.thinning == 1" color="primary" outlined v-model="item.pounds_thinning" label="Libras/Ha Raleo"
                    :error="$v.form.details.$each[key].pounds_thinning.$error"
                    @blur="$v.form.details.$each[key].pounds_thinning.$touch()" error-message="Ingrese valor">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money"
                      v-show="floatingLabel" />
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="Precio" :value="item.thinning_price" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field v-if="item.thinning == 1" class="q-pb-md" label="Precio" :value="item.thinning_price" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Precio venta/libra" :value="item.price_pound_sale" filled bg-color="light-green-3" outlined readonly/> -->
                  <!-- <q-input class="q-pb-md" label="Total Ventas US$" :value="item.sale_us_dolar" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Total Ventas US$" :value="item.sale_us_dolar" filled bg-color="light-green-3" prefix="$" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="Libras" :value="item.pounds_thinning2" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field v-if="item.thinning == 1" class="q-pb-md" label="Libras" :value="item.pounds_thinning2" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="Cabeza" :value="item.sale_head" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field v-if="item.thinning == 1" class="q-pb-md" label="Cabeza" :value="item.sale_head" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="Cola" :value="item.sale_tail" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field v-if="item.thinning == 1" class="q-pb-md" label="Cola" :value="item.sale_tail" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                </div>
                <div class="col-md-12 col-sm-12">
                  <q-separator color="grey" />
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="text-h6 text-primary">Gastos</div>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <u>Post-Larva</u>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="US$" :value="item.expenses_us_dolar" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="US$" :value="item.expenses_us_dolar" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-field class="q-pb-md" label="Costo juvenil" :value="item.cost_per_thounsand" filled bg-color="blue-1" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-field color="primary" outlined v-model="item.cost_per_thounsand" label="Costo juvenil" prefix="$"
                    :error="$v.form.details.$each[key].cost_per_thounsand.$error" @blur="$v.form.details.$each[key].cost_per_thounsand.$touch()" error-message="Ingrese valor">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                      v-show="floatingLabel" />
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Millares de P-Larvas" :value="item.thousands_larvae" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Millares de P-Larvas" :value="item.thousands_larvae" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <u>Balanceado</u>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="US$" :value="item.balanced_us_dolar" filled bg-color="light-green-3" outlined readonly/> -->
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Biomasa inicial" :value="item.initial_biomass" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Biomasa inicial" :value="item.initial_biomass" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-field class="q-pb-md" label="Feed Conver" :value="item.fc" filled bg-color="blue-1" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-field color="primary" outlined v-model="item.fc" label="Feed conver"
                    :error="$v.form.details.$each[key].fc.$error" @blur="$v.form.details.$each[key].fc.$touch()" error-message="Ingrese valor">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                      v-show="floatingLabel" />
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Kilos balanceado" :value="item.balanced_kilos" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Kilos balanceado" :value="item.balanced_kilos" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-field class="q-pb-md" label="US$ / kg de balanc" :value="item.us_kg_balance" filled bg-color="blue-1" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-field color="primary" outlined v-model="item.us_kg_balance" label="$ Kg Alim"
                    :error="$v.form.details.$each[key].us_kg_balance.$error" @blur="$v.form.details.$each[key].us_kg_balance.$touch()" error-message="Ingrese valor">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                      v-show="floatingLabel" />
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Costo saco balanceado" filled bg-color="light-green-3" :value="item.balanced_bag_cost" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Costo saco balanceado" filled bg-color="light-green-3" :value="item.balanced_bag_cost" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="US$" :value="item.balanced_us_dolar" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="US$" :value="item.balanced_us_dolar" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>

                <div class="col-md-6 col-sm-6 q-pr-md">
                  <u>Operaciones</u>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input type="number" label="Días de producción" v-model="item.production_days" error-message="Ingrese valor"
                    :error="$v.form.details.$each[key].production_days.$error" @blur="$v.form.details.$each[key].production_days.$touch()" outlined/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Días de paralización" filled bg-color="blue-1" :value="item.stopping_days" outlined readonly/> -->
                  <q-input type="number" label="Días de paralización" v-model="item.stopping_days" error-message="Ingrese valor"
                    :error="$v.form.details.$each[key].stopping_days.$error" @blur="$v.form.details.$each[key].stopping_days.$touch()" outlined/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-field class="q-pb-md" label="Costo día / Ha" :value="item.cost_day_ha" filled bg-color="blue-1" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field> -->
                  <q-field color="primary" outlined v-model="item.cost_day_ha" label="Costo día/ha"
                    :error="$v.form.details.$each[key].cost_day_ha.$error" @blur="$v.form.details.$each[key].cost_day_ha.$touch()" error-message="Ingrese valor">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2"
                      v-show="floatingLabel" />
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="US$" :value="item.operations_us_dolar" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="US$" :value="item.operations_us_dolar" filled bg-color="light-green-3" outlined readonly>
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <!-- <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Total" :value="item.total_days" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div> -->
                <div class="col-md-12">
                  <div class="text-h6 text-primary">Resumen de costos</div>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Total costos" :value="item.total_cost" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Total costos" :value="item.total_cost" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="Total ventas" :value="item.total_sale" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Total ventas" :value="item.total_sale" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Utilidad" :value="item.utility" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Utilidad" :value="item.utility" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="Margen kg" :value="item.margin_kg" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Margen kg" :value="item.margin_kg" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Margen lb" :value="item.margin_pounds" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Margen lb" :value="item.margin_pounds" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="Costo/lb" :value="item.cost_pound" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Costo/lb" :value="item.cost_pound" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="Utilidad $/ha/día" :value="item.utility_ha_day" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="Utilidad $/ha/día" :value="item.utility_ha_day" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-field class="q-pb-md" label="Utilidad/Ha" :value="item.utility_ha" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <!-- <q-input class="q-pb-md" label="ROI" :value="item.roi" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="ROI" :value="item.roi" filled bg-color="light-green-3" outlined readonly suffix="%">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <div class="col-md-6 col-sm-6">
                  <!-- <q-input class="q-pb-md" label="ROFI" :value="item.rofi" filled bg-color="light-green-3" outlined readonly/> -->
                  <q-field class="q-pb-md" label="ROFI" :value="item.rofi" filled bg-color="light-green-3" outlined readonly prefix="$">
                    <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                      <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" readonly/>
                    </template>
                  </q-field>
                </div>
                <!-- <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="1/ROFI" :value="item._rofi" filled bg-color="light-green-3" outlined readonly/>
                </div> -->
              </div>
            </q-card>
          </div>
          <!-- </q-scroll-area> -->
    </q-card>
    <!-- <q-card class="q-pa-md" style="width: 100%">
          <div class="row no-wrap">
            <q-card v-for="(item, key) in form.details" class="q-pa-md" style="width: 50%" :key="key">
              <q-btn v-if="can('2.1.1.1.42')" color="primary" icon="edit" @click="editReport(item)" flat round dense>
                <q-tooltip>
                  Editar tabla
                </q-tooltip>
              </q-btn>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <q-select class="q-pb-md q-pr-md" label="Raleo" :value="item.thinning" :options="thinningTypes"
                  emit-value map-options outlined color="blue" filled bg-color="blue-1" readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-select class="q-pb-md" label="Tipo de siembra" :value="item.planting_type" :options="plantingTypes"
                  emit-value map-options outlined filled bg-color="blue-1" readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Piscina" :value="item.pool.description" outlined filled bg-color="blue-1" readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="Hectáreas" :value="item.pool.area" outlined readonly/>
                </div>
                <div class="col-md-12">
                  <q-separator color="grey" />
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="text-h6 text-primary">Producción</div>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Densidad" filled bg-color="blue-1" :value="item.density" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pa-md">
                  <p>Cosecha</p>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Supervivencia" :value="item.survival" filled bg-color="blue-1" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="Libras" :value="item.pounds" outlined filled bg-color="light-green-3" readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Tamaños - gramos" :value="item.size_grs" filled bg-color="blue-1" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="Cabeza" :value="item.production_head" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Tamaños - siembra" filled bg-color="blue-1" :value="item.size_planting" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Ciclos" :value="item.cicles" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="Cola" :value="item.production_tail" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Crecimiento" :value="item.growth" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="US$" :value="item.production_us_dolar" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Total" :value="item.production_total" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-12 col-sm-12">
                  <q-separator color="grey" />
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <div class="text-h6 text-primary">Ventas</div>
                </div>
                <div class="col-md-6 col-sm-6">
                  Raleo
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Ctvs/Gramo" :value="item.cent_gr" outlined filled bg-color="blue-1" readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="Tam raleo" :value="item.size_thinning" outlined filled bg-color="blue-1" readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Libras camarón/Ha" :value="item.pounds_shrimp_ha" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="Precio" :value="item.price" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Precio venta/libra" :value="item.price_pound_sale" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="Libras" :value="item.pounds_thinning" filled bg-color="blue-1" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="Cabeza" :value="item.sale_head" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="Cola" :value="item.sale_tail" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="US$" :value="item.sale_us_dolar" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-12 col-sm-12">
                  <q-separator color="grey" />
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="text-h6 text-primary">Gastos</div>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <u>Post-Larva</u>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="US$" :value="item.expenses_us_dolar" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Costo por millar de juvenil" :value="item.cost_per_thounsand" filled bg-color="blue-1" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Millares de P-Larvas" :value="item.thousands_larvae" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <u>Balanceado</u>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="US$" :value="item.balanced_us_dolar" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Feed Conver" :value="item.fc" filled bg-color="blue-1" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="US$ / kg de balanc" :value="item.us_kg_balance" filled bg-color="blue-1" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Biomasa inicial" :value="item.initial_biomass" filled bg-color="blue-1" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Kilos balanceado" :value="item.balanced_kilos" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Costo saco balanceado" filled bg-color="light-green-3" :value="item.balanced_bag_cost" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <u>Operaciones</u>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="US$" :value="item.operations_us_dolar" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Días de producción" :value="item.production_days" filled bg-color="blue-1" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Días de paralización" filled bg-color="blue-1" :value="item.stopping_days" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Costo día / Ha" :value="item.cost_day_ha" filled bg-color="blue-1" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Total" :value="item.total_days" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                </div>
                <div class="col-md-12">
                  <div class="text-h6 text-primary">Resumen de costos</div>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Total costos" :value="item.total_cost" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="Total ventas" :value="item.total_sale" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Utilidad" :value="item.utility" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="Margen kg" :value="item.margin_kg" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Margen lb" :value="item.margin_pounds" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="Costo/lb" :value="item.cost_pound" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="Utilidad $/ha/día" :value="item.utility_ha_day" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="ROI" :value="item.roi" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6 q-pr-md">
                  <q-input class="q-pb-md" label="ROFI" :value="item.rofi" filled bg-color="light-green-3" outlined readonly/>
                </div>
                <div class="col-md-6 col-sm-6">
                  <q-input class="q-pb-md" label="1/ROFI" :value="item._rofi" filled bg-color="light-green-3" outlined readonly/>
                </div>
              </div>
            </q-card>
          </div>
    </q-card> -->
    <q-dialog v-model="showAddTable">
      <q-card style="min-width: 350px">
        <div class="q-pl-md q-pt-md">
          <div class="text-h6 text-primary">Tabla de comparación</div>
        </div>
        <div class="q-pa-md q-pb-none row">
          <div class="col-md-6 col-sm-4 q-pr-md q-pb-md">
            <q-select label="Raleo" v-model="table.thinning" :options="thinningTypes" emit-value map-options
            error-message="Seleccione valor" :error="$v.table.thinning.$error" @blur="$v.table.thinning.$touch()" outlined/>
          </div>
          <div class="col-md-6 col-sm-4 q-pr-md">
            <q-select label="Tipo de siembra" v-model="table.planting_type" :options="plantingTypes"
             error-message="Seleccione valor" emit-value map-options
            :error="$v.table.planting_type.$error" @blur="$v.table.planting_type.$touch()" outlined/>
          </div>
          <div class="col-md-6 col-sm-4 q-pr-md">
            <q-select label="Piscina" v-model="table.pool_id" :options="pools" option-value="id" option-label="description"
            error-message="Seleccione piscina" :error="$v.table.pool_id.$error" @blur="$v.table.pool_id.$touch()"
            map-options emit-value outlined/>
          </div>
          <div class="col-md-12 q-pt-md">
            <q-separator color="grey-4" />
          </div>
        </div>
        <div class="q-pl-md">
          <div class="text-h6 text-primary">Producción</div>
        </div>
        <div class="q-pa-md q-pb-none row">
          <div class="col-md-6 col-sm-3 q-pr-md q-pb-md">
            <q-input label="Densidad" v-model="table.density" error-message="Ingrese valor"
            :error="$v.table.density.$error" @blur="$v.table.density.$touch()" outlined/>
          </div>
          <div class="col-md-6 col-sm-3 q-pr-md">
            <q-input type="number" label="Supervivencia" v-model="table.survival" error-message="Ingrese valor"
            :error="$v.table.survival.$error" @blur="$v.table.survival.$touch()" outlined/>
          </div>
          <div class="col-md-6 col-sm-3 q-pr-md">
            <q-input label="Tamaños - gramos" v-model="table.size_grs" error-message="Ingrese valor"
            :error="$v.table.size_grs.$error" @blur="$v.table.size_grs.$touch()" outlined/>
          </div>
          <div class="col-md-6 col-sm-3 q-pr-md">
            <q-input label="Tamaños - siembra" v-model="table.size_planting" error-message="Ingrese valor"
            :error="$v.table.size_planting.$error" @blur="$v.table.size_planting.$touch()" outlined/>
          </div>
          <div class="col-md-12 col-sm-12 q-pt-md" style="text-align: center;">
            <b class="text-primary">Cosecha</b>
          </div>
          <!-- <div class="col-md-6 q-pr-md">
            <q-input label="Libras" v-model="table.pounds" error-message="Ingrese valor"
            :error="$v.table.pounds.$error" @blur="$v.table.pounds.$touch()" outlined/>
          </div> -->
        </div>
        <div class="q-pt-md q-pl-md">
          <div class="text-h6 text-primary">Ventas</div>
        </div>
        <div class="q-pa-md q-pb-none row">
          <div class="col-md-6 col-sm-4 q-pr-md q-pb-md">
            <q-input label="CTVS/Gramo" v-model="table.cent_gr" error-message="Ingrese valor"
            :error="$v.table.cent_gr.$error" @blur="$v.table.cent_gr.$touch()" outlined/>
          </div>
          <template v-if="table.thinning == 1">
            <div class="col-md-12 col-sm-12 q-pt-md" style="text-align: center;">
              <b class="text-primary">Raleo</b>
            </div>
            <div class="col-md-6 col-sm-4 q-pr-md q-pb-md">
              <q-input label="Tam raleo" v-model="table.size_thinning" error-message="Ingrese valor"
              :error="$v.table.size_thinning.$error" @blur="$v.table.size_thinning.$touch()" outlined/>
            </div>
            <div class="col-md-6 col-sm-4 q-pr-md">
              <q-input label="Libras" v-model="table.pounds_thinning" error-message="Ingrese valor"
              :error="$v.table.pounds_thinning.$error" @blur="$v.table.pounds_thinning.$touch()" outlined/>
            </div>
          </template>
        </div>
        <div class="q-pt-md q-pl-md">
          <div class="text-h6 text-primary">Gastos</div>
        </div>
        <div class="q-pa-md q-pb-none row">
          <div class="col-md-12 col-sm-12">
           <u class="text-primary">Post Larvas</u>
          </div>
          <div class="col-md-6 col-sm-4 q-pr-md q-pb-md">
            <q-input label="Costo por millar de juvenil" v-model="table.cost_per_thounsand"
            error-message="Ingrese valor" :error="$v.table.cost_per_thounsand.$error"
            @blur="$v.table.cost_per_thounsand.$touch()" outlined/>
          </div>
          <div class="col-md-12 col-sm-12 q-pt-md">
            <u class="text-primary">Balanceado</u>
          </div>
          <div class="col-md-6 col-sm-4 q-pr-md q-pb-md">
            <q-input type="number" label="Biomasa inicial" v-model="table.initial_biomass"
            error-message="Ingrese valor" :error="$v.table.initial_biomass.$error"
            @blur="$v.table.initial_biomass.$touch()" outlined/>
          </div>
          <div class="col-md-6 col-sm-4 q-pr-md">
            <q-input label="Feed conver"  v-model="table.fc" error-message="Ingrese valor"
            :error="$v.table.fc.$error" @blur="$v.table.fc.$touch()" outlined/>
          </div>
          <div class="col-md-6 col-sm-4 q-pr-md">
            <q-input label="US $ /kg de balanceado" v-model="table.us_kg_balance" error-message="Ingrese valor"
            :error="$v.table.us_kg_balance.$error" @blur="$v.table.us_kg_balance.$touch()" outlined/>
          </div>
          <div class="col-md-12 col-sm-12 q-pt-md">
            <u class="text-primary">Operaciones</u>
          </div>
          <div class="col-md-6 col-sm-4 q-pr-md q-pb-md">
            <q-input type="number" label="Días de producción" v-model="table.production_days" error-message="Ingrese valor"
            :error="$v.table.production_days.$error" @blur="$v.table.production_days.$touch()" outlined/>
          </div>
          <div class="col-md-6 col-sm-4 q-pr-md">
            <q-input type="number" label="Días de paralización" v-model="table.stopping_days" error-message="Ingrese valor"
            :error="$v.table.stopping_days.$error" @blur="$v.table.stopping_days.$touch()" outlined/>
          </div>
          <div class="col-md-6 col-sm-4 q-pr-md">
            <q-input label="Costo día/ha" v-model="table.cost_day_ha" error-message="Ingrese valor"
            :error="$v.table.cost_day_ha.$error" @blur="$v.table.cost_day_ha.$touch()" outlined/>
          </div>
        </div>
        <q-card-actions align="right" class="text-primary">
          <!-- <q-btn outline text-color="grey-7" label="Cancelar" v-close-popup/> -->
          <q-btn flat color="primary" label="Guardar" @click="saveTable"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
// import { FormMixin } from '../../../../../mixins/form'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      shrimpId: this.$route.params.shrimpId !== 'undefined' ? this.$route.params.shrimpId : undefined,
      projectionId: this.$route.params.id,
      title: 'Proyección de costo beneficio',
      route: 'floor_analysis',
      showAddTable: false,
      form: {
        details: []
      },
      table: {
      },
      plantingTypes: [
        {
          label: 'Madre hija',
          value: 1
        },
        {
          label: 'Transferida',
          value: 2
        },
        {
          label: 'Directa',
          value: 3
        },
        {
          label: 'Raceways-transferida',
          value: 4
        }
      ],
      thinningTypes: [
        {
          label: 'Con raleo',
          value: 1
        },
        {
          label: 'Sin raleo',
          value: 2
        }
      ],
      edit: false,
      shrimps: [],
      shrimpReadOnly: false,
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 0,
        masked: false
      },
      money2: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 2,
        masked: false
      },
      products: []
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    pools () {
      // Obtengo las piscinas de la camaronera seleccionada
      return this.form.shrimp_id && this.shrimps.length ? (this.shrimps.find(val => val.id === parseInt(this.form.shrimp_id))).pools : []
    }
  },
  validations () {
    return {
      form: {
        details: {
          $each: {
            pool_id: { required },
            thinning: { required },
            planting_type: { required },
            density: { required },
            survival: { required },
            size_grs: { required },
            size_planting: { required },
            pounds: {},
            cent_gr: {},
            size_thinning: {},
            price: {},
            pounds_thinning: {},
            cost_per_thounsand: { required },
            fc: { required },
            us_kg_balance: { required },
            production_days: { required },
            stopping_days: { required },
            cost_day_ha: { required },
            initial_biomass: {}
          }
        }
      },
      table: {
        pool_id: { required },
        thinning: { required },
        planting_type: { required },
        density: { required },
        survival: { required },
        size_grs: { required },
        size_planting: { required },
        pounds: {},
        cent_gr: { required },
        size_thinning: {},
        price: {},
        pounds_thinning: {},
        cost_per_thounsand: { required },
        fc: { required },
        us_kg_balance: { required },
        production_days: { required },
        stopping_days: { required },
        cost_day_ha: { required },
        initial_biomass: { required }
      }
    }
  },
  async mounted () {
    if (this.projectionId) {
      this.getRecord(this.projectionId)
    }
    // this.getPools()
    this.getProducts()
    this.getShrimp()
  },
  methods: {
    async getRecord (id) {
      /* this.$api.get(`cost_benefit_projections/${id}`).then(res => {
        if (res) {
          this.form.details = res.details
        }
      }) */
      const res = await this.$api.getData(`cost_benefit_projections/${id}`)
      if (res) {
        this.form.details = res.details
      }
    },
    async getProducts () {
      /* this.$api.get('products').then(res => {
        if (res) {
          this.products = res
        }
      }) */
      const res = await this.$api.getData('products')
      if (res) {
        this.products = res
      }
    },
    addTable () {
      this.form.details.push({})
    },
    async getShrimp () {
      this.shrimps = await this.$api.getData('shrimps')
      if (this.shrimpId) {
        this.$set(this.form, 'shrimp_id', parseInt(this.shrimpId))
        this.shrimpReadOnly = true // Si se recibió la camaronera para el análisis colocar el campo de solo lectura
      }
    },
    saveTable () {
      this.$v.table.$touch()
      if (!this.$v.table.$error) {
        this.table.shrimp_id = this.form.shrimp_id
        if (!this.projectionId) { // Si se está en modo inserción
          this.$api.post('cost_benefit_projections', this.table).then(res => {
            if (res) {
              this.getRecord(res.cost_benefit_projection_id)
              // this.$router.push('/customers/show/' + this.customerID + '/shrimps/' + this.shrimpId + '/cost_benefit_projection/' + 'form/' + res.cost_benefit_projection_id)
              this.$router.push(`/cost_benefit_projection/${this.table.shrimp_id}/list/form/${res.cost_benefit_projection_id}`)
              // this.$router.go(-1)
              this.projectionId = res.cost_benefit_projection_id
              this.printReport()
              this.showAddTable = false
              this.table = {}
              this.$v.table.$reset()
            } else {
              this.getRecord(res.cost_benefit_projection_id)
              this.$router.push(`/cost_benefit_projection/${this.table.shrimp_id}/list/form/${res.cost_benefit_projection_id}`)
              this.projectionId = res.cost_benefit_projection_id
              this.printReport()
              this.showAddTable = false
              this.table = {}
              this.$v.table.$reset()
            }
          })
        } else { // Si está en modo de edición
          this.table.projectionId = this.projectionId
          if (!this.edit) { // Si es inserción de tabla
            this.$api.post('cost_benefit_projections', this.table).then(res => {
              if (res) {
                this.getRecord(this.projectionId)
                this.printReport()
                this.showAddTable = false
                this.table = {}
                this.$v.table.$reset()
              }
            })
          } else { // Si es edición de una tabla
            this.$api.put(`cost_benefit_projections/${this.table.id}`, this.table).then(res => {
              if (res) {
                this.getRecord(this.projectionId)
                this.printReport()
                this.showAddTable = false
                this.edit = false
                this.table = {}
                this.$v.table.$reset()
              }
            })
          }
        }
      }
    },
    save () {
      console.log('form', this.form)
      this.$v.form.details.$touch()
      if (!this.$v.form.details.$error) {
        this.$q.loading.show()
        // this.form.shrimp_id = this.shrimpId
        if (!this.projectionId) { // Si se está en modo inserción
          this.$api.post('cost_benefit_projections2', this.form).then(res => {
            if (res) {
              this.getRecord(res)
              // this.$router.push('/customers/show/' + this.customerID + '/shrimps/' + this.shrimpId + '/cost_benefit_projection/' + 'form/' + res)
              this.$router.go(-1)
              this.projectionId = res
              this.printReport()
              this.showAddTable = false
              this.table = {}
              this.$v.table.$reset()
            } else {
              this.$q.notify({
                type: 'positive',
                message: 'Registro guardado localmente, será subido cuando haya conexión'
              })
            }
            this.$q.loading.hide()
          })
        } else { // Si está en modo de edición
          // this.form.projectionId = this.projectionId
          this.$api.put(`cost_benefit_projections2/${this.projectionId}`, this.form).then(res => {
            if (res) {
              this.getRecord(this.projectionId)
              this.printReport()
              this.showAddTable = false
              this.edit = false
              this.table = {}
              this.$v.table.$reset()
              this.$q.loading.hide()
            }
          })
        }
      }
    },
    editReport (table) {
      this.table = { ...table }
      this.showAddTable = true
      this.edit = true
    },
    printReport () {
      this.$api.get(`cost_benefit_projections_print/${this.projectionId}`).then(res => {
        if (res) {
        }
      })
    },
    deleteTable (index) {
      this.form.details.splice(index, 1)
    }
  }
}
</script>
