<template>
  <div>
    <div class="fullscreen column items-center justify-center bg-grey-4">
      <transition
        appear
        enter-active-class="animated flipInY"
        leave-active-class="animated fadeOutDown"
      >
        <q-card
          class="bg-white login relative-position"
          style="border-radius: 15px"
        >
          <q-card-section style="background-color: #F2F27F" class="column justify-center text-center text-white q-pt-xl" />
          <q-separator />
          <q-card style="text-align: center;">
            <img
            style="margin: auto; width: 40%"
              src="logo.jpeg"
              class="q-ma-sm q-my-xs"
            />
            <!-- <label for="">Logo Empresa</label> -->
            <div class="q-pl-lg q-pr-lg">
              <q-input v-model="form.email" type="email" label="Correo" :error="$v.form.email.$error"
                error-message="Ingrese su correo" @keyup.enter="submit" @input="toLow">
                <template v-slot:prepend>
                  <q-icon name="mail" />
                </template>
              </q-input>
              <q-input v-model="form.password" :type="isPwd ? 'password' : 'text'" label="Contraseña" :error="$v.form.password.$error"
                error-message="Ingrese su contraseña" @keyup.enter="submit">
                <template v-slot:append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                  />
                </template>
                <template v-slot:prepend>
                  <q-icon name="vpn_key" />
                </template>
              </q-input>
              <div class="text-right">
                <q-btn label="¿Olvidó contraseña?" flat text-color="grey" no-caps align="center" class="q-mt-md" @click="resetPass = true"/>
              </div>
            </div>
          </q-card>
          <q-inner-loading
            color="primary"
            :visible="loading"
          />
          <q-card-actions vertical class="q-pa-md">
            <q-btn class="text-white" rounded label="Iniciar sesión" style="background-color: #62B672" @click="submit" />
          </q-card-actions>
        </q-card>
      </transition>
    </div>
    <q-dialog v-model="resetPass" persistent>
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">Ingresa tu correo</div>
          <div style="color: cornflowerblue; font-size: 11px;">Te enviaremos un correo con las instrucciones para restablecer tu contraseña</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input dense v-model="email" autofocus @keyup.enter="prompt = false"/>
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cancelar" v-close-popup />
          <q-btn flat label="Restablecer contraseña" @click="resetPassword" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import { mapMutations } from 'vuex'
export default {
  data () {
    return {
      loading: false,
      resetPass: false,
      form: {
        email: '',
        password: ''
      },
      email: '',
      isPwd: true
    }
  },
  mounted () {
    this.logout()
  },
  validations: {
    form: {
      email: { required, email },
      password: { required }
    }
  },
  methods: {
    ...mapMutations('generals', ['login', 'logout']),
    submit () {
      this.$v.form.$touch()
      if (!this.$v.form.$error) {
        this.$q.loading.show()
        this.$api.post('login', this.form).then(res => {
          if (res) {
            this.login(res)
            this.$router.push('menu')
          }
          this.$q.loading.hide()
        })
      }
    },
    resetPassword () {
      this.$q.loading.show()
      this.$api.post('reset_password', { email: this.email }).then(res => {
        this.$q.loading.hide()
        if (res) {
          this.$q.dialog({
            title: 'Correo enviado',
            message: 'Se han enviado instrucciones a tu correo para el restablecimiento de tu contraseña'
          })
        } else {
          this.$q.dialog({
            color: 'black',
            message: 'Correo no registrado en el sistema'
          })
        }
      })
    },
    toLow (value) {
      this.form.email = value.toLowerCase()
    }
  }
}
</script>

<style scoped>
.banner {
  background-size: cover;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login {
  max-width: 400px;
  width: 100%;
}
.q-card-title img {
  max-width: 80%;
}
</style>
