<template>
  <q-layout view="hHh Lpr lff" class="shadow-2 rounded-borders">
      <q-header elevated style="background-color: #F2F2F2">
        <q-toolbar>
          <q-btn color="primary" flat @click="drawer = !drawer" round dense icon="menu" />
          <q-btn color="primary" v-if="$route.path != '/menu'" @click="$router.go(-1)" class="q-ml-lg" label="Volver" flat dense icon="keyboard_backspace" />
          <q-toolbar-title style="color: #03983A" align="center">Agripac - Acua</q-toolbar-title>
          <div>
            <q-btn color="primary" flat dense icon="notifications" auto-close size="md">
              <q-badge v-if="notificationsNum" color="red" floating transparent>{{notificationsNum}}</q-badge>
              <q-menu transition-show="jump-down" transition-hide="jump-up" fit :offset="[0, 10]" anchor="bottom right"
                self="top right" v-close-popup auto-close>
                <q-item>
                  <q-item-section>
                    <q-item-label>Notificaciones</q-item-label>
                  </q-item-section>
                  <q-item-section side bottom>
                    <q-item-label caption>
                      <a class="cursor-pointer text-primary" @click="setAllSeen()" primary >Marcar como Leidas</a>
                    </q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator />
                <q-list>
                  <q-scroll-area style="height: 200px; max-width: 300px;">
                    <q-item v-for="(n, index) in notifications" :key="index" clickable :class="[n.seen ? 'white' : 'bg-blue-1']"
                      v-close-popup>
                      <q-item-section push @click="showNotification(n, index)">
                        <q-item-label ovequasrline>{{n.title}}</q-item-label>
                        <q-item-label lines="1">{{n.message}}</q-item-label>
                        <q-item-label caption>{{n.createdAt}}</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-scroll-area>
                </q-list>
              </q-menu>
            </q-btn>
          </div>
        </q-toolbar>
      </q-header>

      <q-drawer
        v-model="drawer"
        show-if-above
        elevated
        :mini="miniState"
        @mouseover="miniState = false"
        @mouseout="miniState = true"

        :width="320"
        :breakpoint="425"
        bordered
        content-class="bgp"
        content-style="{height: 1000px}"
      >
        <q-scroll-area class="fit">
          <q-list padding>
            <SideBar :menu="menu"/>
            <q-item v-ripple to="/">
              <q-item-section avatar>
                <q-icon name="logout" color="grey" text-color="grey"/>
              </q-item-section>
              <q-item-section style="color: grey">
                Salir
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>
      </q-drawer>

      <q-page-container>
        <div class="q-pa-md">
          <q-breadcrumbs class="text-primary" active-color="grey" separator=">">
            <q-breadcrumbs-el v-for="(item, index) in breadcrumbItems" :key="index" :label="item.label" :to="item.to" />
          </q-breadcrumbs>
        </div>
        <router-view @setBreadcrumb="setBreadcrumb" />
      </q-page-container>

      <!-- Dialogo para aprobar o rechazar solicitudes de edición -->
      <q-dialog v-model="editingAppointmentRequest">
        <q-card class="modal" style="border-radius: 10px;">
        <q-card-section class="row q-pb-none">
          <div class="text-h6"><b>{{ notification.title }}</b></div>
          <q-space />
          <q-btn color="negative" icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section class="row">
          <div class="col-md-12">
            Asesor técnico: {{ notification.technicalAdvisor }}
          </div>
          <div class="col-md-12">
            Motivo: {{ notification.reason }}
          </div>
        </q-card-section>
        <q-card-actions align="around">
        <q-btn color="primary" @click="processEditingAppointmentRequest(1)">Aprobar</q-btn>
        <q-btn color="primary" @click="processEditingAppointmentRequest(2)">Rechazar</q-btn>
      </q-card-actions>
      </q-card>
      </q-dialog>

      <!-- Dialogo para aprobar o rechazar solicitudes de eliminación -->
      <q-dialog v-model="deletingAppointmentRequest">
        <q-card class="modal" style="border-radius: 10px;">
        <q-card-section class="row q-pb-none">
          <div class="text-h6"><b>{{ notification.title }}</b></div>
          <q-space />
          <q-btn color="negative" icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section class="row">
          <div class="col-md-12">
            Asesor técnico: {{ notification.technicalAdvisor }}
          </div>
          <div class="col-md-12">
            Motivo: {{ notification.reason }}
          </div>
        </q-card-section>
        <q-card-actions align="around">
        <q-btn color="primary" @click="processDeletingAppointmentRequest(1)">Aprobar</q-btn>
        <q-btn color="primary" @click="processDeletingAppointmentRequest(2)">Rechazar</q-btn>
      </q-card-actions>
      </q-card>
      </q-dialog>
    </q-layout>
</template>

<script>
import SideBar from 'components/SideBar'

export default {
  name: 'MainLayout',

  components: {
    SideBar
  },

  data () {
    return {
      miniState: true,
      drawer: false,
      leftDrawerOpen: false,
      breadcrumbItems: [],
      notifications: [],
      lang: '',
      langOptions: [
        { value: 'en-us', label: 'English', icon: 'img:flags/en-us/en-us.png' },
        { value: 'es', label: 'Español', icon: 'img:flags/es/es.png' }
      ],
      editingAppointmentRequest: false,
      deletingAppointmentRequest: false,
      notification: {},
      menu: [
        {
          title: 'Configuración',
          icon: 'settings',
          permission: '1',
          children: [
            {
              title: 'Usuarios',
              icon: 'person',
              to: '/users',
              permission: '1.1'
            },
            {
              title: 'Roles y permisos',
              icon: 'security',
              to: '/roles',
              permission: '1.2'
            },
            {
              title: 'Correo y Notificaciones',
              icon: 'mail',
              permission: '1.3',
              children: [
                {
                  title: 'Servicio de correo',
                  icon: 'mail',
                  to: '/mail_service',
                  permission: '1.3.1'
                },
                {
                  title: 'Eventos',
                  icon: 'mail',
                  to: '/events',
                  permission: '1.3.2'
                }
              ]
            },
            /* {
              title: 'Segmentos',
              icon: 'horizontal_split',
              to: '/segments',
              permission: '1.4'
            }, */
            /* {
              title: 'Proveedores',
              icon: 'shopping_basket',
              permission: '1.5',
              children: [
                {
                  title: 'Calificación de proveedores',
                  icon: 'shopping_basket',
                  permission: '1.5.1',
                  children: [
                    {
                      title: 'Empresas calificadoras',
                      icon: 'business',
                      to: '/rating_companies',
                      permission: '1.5.1.1'
                    },
                    {
                      title: 'Tipos de calificación',
                      icon: 'assignment_turned_in',
                      to: '/rating_types',
                      permission: '1.5.1.2'
                    }
                  ]
                }
              ]
            } ,Por ahora no. Para el SaaS
            {
              title: 'Empresas',
              icon: 'business',
              to: '/companies',
              permission: '1.6'
            } */
            {
              title: 'Restricción de horarios',
              icon: 'schedule',
              to: '/schedules',
              permission: '1.7'
            },
            /* {
              title: 'Áreas',
              icon: 'view_list',
              to: '/areas',
              permission: '1.8'
            },
            {
              title: 'Departamentos y secciones',
              icon: 'view_module',
              to: '/departments',
              permission: '1.9'
            }, */
            /* {
              title: 'Secciones',
              icon: 'view_quilt',
              to: '/sections',
              permission: '1.10'
            }, */
            /* {
              title: 'Formatos',
              icon: 'description',
              to: '/formats',
              permission: '1.11'
            }, */
            /* {
              title: 'Formularios',
              icon: 'view_carousel',
              to: '/forms',
              permission: '1.12'
            }, */
            {
              title: 'Otros',
              icon: 'view_carousel',
              to: '/other_settings',
              permission: '1.13'
            }
          ]
        },
        {
          title: 'Clientes',
          icon: 'person',
          permission: '2',
          children: [
            {
              title: 'Lista de clientes',
              icon: 'list',
              to: '/customers',
              permission: '2.1'
            },
            {
              title: 'Categorías',
              icon: 'assignment',
              to: '/customers_categories',
              permission: '2.6'
            },
            /* {
              title: 'Segmentos',
              icon: 'assignment',
              to: '/customer_segments',
              permission: '2.11'
            }, */
            {
              title: 'Planificación de eventos',
              icon: 'insert_invitation',
              to: '/appointment_planning',
              permission: '2.16'
            },
            {
              title: 'Reporte general de cosechas',
              icon: 'book',
              to: '/general_harvest_report',
              permission: '2.30'
            },
            {
              title: 'Reporte de crecimiento',
              icon: 'book',
              to: '/general_growth_report',
              permission: '2.30'
            },
            {
              title: 'Reporte de compendio',
              icon: 'book',
              to: '/compendium_report',
              permission: '2.30'
            },
            {
              title: 'Reporte de eventos',
              icon: 'assignment_turned_in',
              to: '/report_planning',
              permission: '2.29'
            },
            {
              title: 'Tipos de eventos',
              icon: 'event_note',
              to: '/visit_reasons',
              permission: '2.23'
            }
          ]
        },
        {
          title: 'Productos',
          icon: 'fastfood',
          permission: '4',
          children: [
            {
              title: 'Lista de Productos',
              icon: 'list',
              to: '/products',
              permission: '4.1'
            },
            /* {
              title: 'Categorías',
              icon: 'assignment',
              to: '/products/categories',
              permission: '4.6'
            }, */
            /* {
              title: 'Unidades de Medida',
              icon: 'square_foot',
              to: '/products/measure_units',
              permission: '4.11'
            }, */
            {
              title: 'Precio de camarón',
              icon: 'money',
              to: '/shrimp_prices',
              permission: '4.17'
            },
            {
              title: 'Alimentos',
              icon: 'local_grocery_store',
              to: '/foods',
              permission: '4.21'
            },
            {
              title: 'Laboratorios',
              icon: 'search',
              to: '/laboratories',
              permission: '4.26'
            }
          ]
        },
        {
          title: 'Equipo Tecnico',
          icon: 'group',
          permission: '5',
          children: [
            {
              title: 'Zonas',
              icon: 'location_city',
              to: '/zones',
              permission: '5.1'
            },
            {
              title: 'Jefes Tecnicos',
              icon: 'supervised_user_circle',
              to: '/technical_chiefs',
              permission: '5.2'
            },
            {
              title: 'Asesores Tecnicos',
              icon: 'people_alt',
              to: '/technical_advisors',
              permission: '5.3'
            },
            {
              title: 'Asignar Camaroneras',
              icon: 'group_add',
              to: '/assign_shrimps',
              permission: '5.5'
            },
            {
              title: 'Equipos Tecnicos',
              icon: 'group_work',
              to: '/technical_equipments',
              permission: '5.4'
            }
          ]
        },
        {
          title: 'Perfil',
          icon: 'person',
          permission: '6',
          children: [
            {
              title: 'Mis datos',
              icon: 'assignment_ind',
              to: '/profile',
              permission: '6.1'
            },
            {
              title: 'Asesores asignados',
              icon: 'assignment',
              to: '/assigned_technical_advisors',
              permission: '6.2'
            },
            {
              title: 'Próximos eventos',
              icon: 'date_range',
              to: '/upcoming_events',
              permission: '6.3'
            },
            {
              title: 'Camaroneras',
              icon: 'waves',
              to: '/client_shrimps',
              permission: '6.4'
            }
          ]
        }
      ]
    }
  },
  mounted () {
    console.log('route', this.$route.path)
    this.getNotifications()
    // console.log('this.$q.lang.getLocale()', this.$q.lang.getLocale())
    this.$i18n.locale = this.$q.localStorage.getItem('lang')
    this.lang = this.$i18n.locale
    console.log('locale', this.$i18n.locale, 'lang', this.lang)
  },
  watch: {
    lang (lang) {
      this.$i18n.locale = lang
      this.$q.localStorage.set('lang', lang)
    }
  },
  computed: {
    notificationsNum () {
      return this.notifications.filter(value => value.seen === false).length
    }
  },
  methods: {
    setBreadcrumb (params) {
      console.log('bread', params)
      this.breadcrumbItems = params
    },
    setAllSeen () {
      if (this.notificationsNum > 0) {
        this.$api.post('notifications_seen/all').then(res => {
          this.notifications.forEach(element => {
            element.seen = true
          })
        })
      }
    },
    showNotification (notification, index) {
      const params = notification.params
      const parsedparams = params ? JSON.parse(params) : undefined
      // const event = params

      if (parsedparams && parsedparams.event === 4) {
        this.notification = parsedparams
        this.editingAppointmentRequest = true
      } else if (parsedparams && parsedparams.event === 5) {
        this.notification = parsedparams
        this.deletingAppointmentRequest = true
      } else {
        this.$q.dialog({
          title: notification.title,
          message: notification.message
        })
      }

      if (this.notifications[index].seen === false) {
        this.$api.post(`notifications_seen/${notification.id}`).then(res => {
          this.notifications[index].seen = true
        })
      }
    },
    getNotifications () {
      this.$api.get('notifications').then(res => {
        this.notifications = res
      })
    },
    processEditingAppointmentRequest (status) {
      // const formData = {}
      this.notification.status = status
      this.$api.post('process_editing_appointment_request', this.notification).then(res => {
        if (res) {
          this.editingAppointmentRequest = false
          this.notification = {}
        }
      })
    },
    processDeletingAppointmentRequest (status) {
      // const formData = {}
      this.notification.status = status
      this.$api.post('process_deleting_appointment_request', this.notification).then(res => {
        if (res) {
          this.deletingAppointmentRequest = false
          this.notification = {}
        }
      })
    }
  }
}
</script>
<style lang="css">
.bgp {
  background: #F2F2F2 !important;
}
</style>
