<template>
  <div>
    <div v-if="validated" class="fullscreen column items-center justify-center bg-grey-4">
      <transition
        appear
        enter-active-class="animated flipInY"
        leave-active-class="animated fadeOutDown"
      >
        <q-card
          class="bg-white login relative-position"
          style="border-radius: 15px"
        >
          <q-card-section style="background-color: rgb(73, 67, 105)" class="column justify-center text-center text-white q-pt-xl" />
          <q-separator />
          <q-card style="text-align: center;">
            <img
            style="margin: auto; width: 40%"
              src="logo.jpeg"
              class="q-ma-sm q-my-xs"
            />
            <!-- <label for="">Logo Empresa</label> -->
            Restablecer contraseña
            <div class="q-pl-lg q-pr-lg">
              <q-input v-model="form.password" type="password" label="Contraseña" :error="$v.form.password.$error"
                error-message="Ingrese su contraseña">
                <template v-slot:prepend>
                  <q-icon name="vpn_key" />
                </template>
              </q-input>
              <q-input v-model="form.password2" type="password" label="Repita contraseña" :error="$v.form.password2.$error"
                error-message="Repita su contraseña" @keyup.enter="submit">
                <template v-slot:prepend>
                  <q-icon name="vpn_key" />
                </template>
              </q-input>
            </div>
          </q-card>
          <q-inner-loading
            color="primary"
            :visible="loading"
          />
          <q-card-actions vertical class="q-pa-md">
            <q-btn rounded label="Cambiar contraseña" color="primary" @click="submit" />
          </q-card-actions>
        </q-card>
      </transition>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { mapMutations } from 'vuex'
export default {
  data () {
    return {
      loading: false,
      validated: false,
      form: {
        password: '',
        password2: ''
      }
    }
  },
  mounted () {
    this.token = this.$route.params.token
    this.$api.post('verify_reset_token', { token: this.token }).then(res => {
      if (res) {
        this.validated = true
      } else {
        this.$q.notify({
          type: 'warning',
          title: 'Enlace inválido',
          message: 'El enlace ha expirado o es incorrecto'
        })
        this.$router.push('/login')
      }
    })
  },
  validations: {
    form: {
      password: { required },
      password2: { required }
    }
  },
  methods: {
    ...mapMutations('generals', ['login', 'logout']),
    submit () {
      this.$v.form.$touch()
      if (!this.$v.form.$error) {
        if (this.form.password === this.form.password2) {
          this.$q.loading.show()
          this.form.token = this.token
          this.$api.post('update_password', this.form).then(res => {
            this.$q.loading.hide()
            if (res) {
              this.$q.dialog({
                type: 'positive',
                message: 'Contraseña actualizada con éxito!'
              })
              this.$router.push('/login')
            }
          })
        } else {
          this.$q.dialog({
            color: 'black',
            message: 'Contraseñas no coinciden'
          })
        }
      }
    }
  }
}
</script>

<style scoped>
.banner {
  background-size: cover;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login {
  max-width: 400px;
  width: 100%;
}
.q-card-title img {
  max-width: 80%;
}
</style>
