<template>
  <q-page>
     <q-card class="q-pa-md">
      <!-- <FormHeader :title="title" :subtitle="subtitle" :save="save" /> -->
      <q-card-section class="text-primary">
        <div class="row">
          <div class="col-md-11">
            <div class="text-h3"><b>{{ title }}</b></div>
          </div>
          <div class="col-md-1" style="text-align: right">
            <q-btn label="Guardar" rounded color="primary" size="md" @click="save">
              <q-tooltip>
                Guardar asignación
              </q-tooltip>
            </q-btn>
          </div>
          <div class="col-md-2 q-pt-md">
            <q-input label="Buscar cliente" v-model="text" @input="getAssignableShrimps" debounce="500" outlined autofocus>
              <q-tooltip>Los resultados mostrarán solo clientes con camaroneras registradas</q-tooltip>
            </q-input>
          </div>
        </div>
      </q-card-section>
       <!-- <div class="row justify-center q-pa-sm">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-list bordered>
            <q-item-label header>Camaroneras</q-item-label>
            <q-item tag="label" v-ripple v-for="(item, index) in shrimps" :key="index">
              <q-item-section side top>
                <q-checkbox v-model="checkShrimps" :val="item.id" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Camaronera {{item.name}} - {{ item.customer.legal_name }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
       </div> -->
       <q-card-section class="row">
         <p v-if="!assignableShrimps.length" class="text-grey-6 text-bold">No hay registros para mostrar</p>
         <div v-for="(item, key) in assignableShrimps" class="col-md-3 q-pa-md" :key="key">
           <q-badge class="custom-badge" outline color="primary" size="lg" hint="Hola">
             <b>{{ item.legal_name_e }}</b>
             <q-tooltip>{{ item.legal_name }}</q-tooltip>
           </q-badge>
           <div v-for="(item2, key2) in item.shrimps" :key="key2">
             <q-checkbox  v-model="checkShrimps" :val="item2.id"  />
             <label for="">{{ item2.name }}</label>
           </div>
         </div>
       </q-card-section>
      <!-- <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions> -->
     </q-card>
  </q-page>
</template>

<script>
// import FormHeader from 'components/FormHeader'
export default {
  components: {
  },
  data () {
    return {
      form: {},
      shrimps: [],
      checkShrimps: [],
      title: 'Asignar Camaroneras',
      subtitle: 'Nuevo Asignar Caramaroneras',
      route: 'assign_shrimps',
      field: '',
      assignableShrimps: [],
      text: ''
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Asignar Camaronera',
        icon: 'view_carousel ',
        to: '/assign_shrimps'
      },
      {
        label: 'Asignar Camaroneras',
        icon: 'view_carousel',
        to: 'assign_shrimps/form'
      }
    ])
    this.getShrimps()
    this.getRecord()
    this.getAssignableShrimps()
  },
  methods: {
    save () {
      this.form.shrimps = this.checkShrimps
      this.$api.post('assign_shrimps/' + this.$route.params.id, this.form).then(res => {
        if (res) {
          this.$q.notify({
            type: 'positive',
            message: 'Registro guardado exitosamente'
          })
          this.$router.go(-1)
        }
      })
      console.log(this.form)
    },
    getShrimps () {
      this.$api.get('shrimps').then(res => {
        this.shrimps = res
        console.log('shrimps', this.shrimps)
      })
    },
    getRecord () {
      this.$api.get('assign_shrimps/' + this.$route.params.id).then(res => {
        this.checkShrimps = res
        console.log('check shrimps', this.checkShrimps)
      })
    },
    getAssignableShrimps () {
      this.$q.loading.show({
        message: 'Buscando...'
      })
      this.$api.get('assignable_shrimps', { params: { text: this.text } }).then(res => {
        this.$q.loading.hide()
        if (res) {
          this.assignableShrimps = res
        }
        console.log('customers', res)
      })
    }
  }
}
</script>

<style lang="css">
.custom-badge {
  width: 100%;
  height: 35px;
  font-size: 25px;
  border-radius: 12px;
  border: 2px solid currentColor;
}
</style>
