<template>
  <q-page>
    <div>
      <!-- <listable :title="title" :buttons="buttons" :cols="cols" route="assign_shrimps" :pagination="pagination"
      :dense="$q.screen.lt.xs"/> -->
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <q-btn class="q-ma-sm" round icon="get_app" color="primary" size="md" @click="exportTable">
                <q-tooltip>
                  Exportar
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ml-sm" round  @click="$q.fullscreen.toggle()"
                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="primary" size="md">
                <q-tooltip>
                  Pantalla completa
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-sm-2 col-md-2">
              <q-input v-model="text" placeholder="Buscar" @input="filter" outlined dense>
                <template v-slot:append>
                  <q-icon v-if="text !== ''" name="close" @click="text = ''" class="cursor-pointer" />
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Código</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Nombres y Apellidos</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Camaroneras</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Clientes</b>
            </div>
            <div class="col" style="text-align: right">
              <b class="text-grey-7">Acciones</b>
            </div>
          </q-card-section>
          <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(item, index) in records" :key="index">
              <div class="col">
                <p class="text-grey-7">{{ item.code }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.full_name }}</p>
              </div>
              <div class="col" style="text-align: center">
                <template v-for="(shrimp, key) in item.shrimps.split(',')">
                  <span class="text-grey-7" :key="key">{{ shrimp }}</span>
                  <br :key="key + 100">
                </template>
              </div>
              <div class="col" style="text-align: center">
                <template v-for="(customer, key) in item.customers.split(',')">
                  <span class="text-grey-7" :key="key">{{ customer }}</span>
                  <br :key="key + 200">
                </template>
              </div>
               <div class="col" style="text-align: right">
                <q-btn v-if="can('5.1.3')" flat icon="group_add" size="md" color="primary"
                  :to="`/assign_shrimps/form/${item.id}`"
                  dense>
                  <q-tooltip>
                    Asignar
                  </q-tooltip>
                </q-btn>
              </div>
            </q-card-section>
            <q-separator color="grey-4" />
          </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { exportFile } from 'quasar'

function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== undefined
    ? formatFn(val)
    : val

  formatted = formatted === undefined || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')

  return `"${formatted}"`
}
// import Listable from 'components/Listable'
import { mapGetters } from 'vuex'
export default {
  components: {},
  data () {
    return {
      title: 'Asesores técnicos asignados',
      text: '',
      pagination: {
        page: 1,
        rowsPerPage: 10
      },
      buttons: [],
      cols: [
        { name: 'code', required: true, label: 'Codigo', align: 'left', field: 'code', sortable: true },
        { name: 'full_name', required: true, label: 'Nombres y Apellidos', align: 'left', field: 'full_name', sortable: true },
        { name: 'shrimps', required: true, label: 'Camaroneras', align: 'left', field: 'shrimps', sortable: true },
        { name: 'customers', required: true, label: 'Clientes', align: 'left', field: 'customers', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ],
      records: [],
      stringRecords: []
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  mounted () {
    this.getRecords()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Asignacion de Camaroneras',
        icon: 'person',
        to: '/assign_shrimps'
      }
    ])
  },
  methods: {
    getRecords () {
      this.$api.get('assign_shrimps').then(res => {
        if (res) {
          this.records = res
          this.stringRecords = res
        }
      })
    },
    exportTable () {
      // naive encoding to csv format
      // const columns = JSON.parse(JSON.stringify(this.cols))
      const columns = Object.create(this.cols)
      if (columns[columns.length - 1].name === 'actions') {
        columns.pop()
      }

      console.log('col', columns)
      const content = [columns.map(col => wrapCsvValue(col.label))].concat(
        this.records.map(row => columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === undefined ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    filter () {
      if (this.text === '') {
        this.records = this.stringRecords
        return
      }
      const needle = this.text.toLowerCase()
      // this.records = JSON.parse(JSON.stringify(this.stringRecords))
      this.records = [...this.stringRecords]
      this.records = this.stringRecords.filter(val => {
        return val.code.toLowerCase().indexOf(needle) > -1 || val.full_name.toLowerCase().indexOf(needle) > -1 ||
        val.shrimps.toLowerCase().indexOf(needle) > -1 || val.customers.toLowerCase().indexOf(needle) > -1
      })
    }
  }
}
</script>
<style>
</style>
