<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script >
import Vue from 'vue'
import Vuelidate from 'vuelidate'
import VueCurrencyFilter from 'vue-currency-filter'
import money from 'v-money'

// register directive v-money and component <money>
Vue.use(money, { precision: 4 })
Vue.use(VueCurrencyFilter)

Vue.use(Vuelidate)
export default {
  name: 'App'
}
</script>
