<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }}</b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn v-if="can('6.1.1')" label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar datos
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>

      <q-tabs v-model="tab" active-color="white" active-bg-color="primary" indicator-color="primary" align="justify" inline-label>
        <q-tab name="info" label="Información general" />
        <q-tab name="contacts" label="Contactos" />
      </q-tabs>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="info" style="padding: 0px">
          <q-card class="my-card" flat bordered>
            <q-item class="bg-primary text-white">
              <q-item-section class="">
                <q-item-label style="margin: auto">
                  <q-icon size="sm" color="white" name="store" />
                  <b>DATOS EMPRESA</b>
                </q-item-label>
              </q-item-section>
            </q-item>

            <q-separator />

            <q-card-section class="q-pa-sm row">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                <q-select color="primary" v-model="form.type" :options="typeOptions" label="Tipo de cliente" emit-value
                  map-options outlined hint="Seleccione tipo de cliente" error-message="Seleccione tipo de cliente"
                  @input="form.document_type = ''" :error="$v.form.type.$error" @blur="$v.form.type.$touch()"
                  option-label="name" option-value="id" autofocus readonly>
                </q-select>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                <q-input color="primary" v-model="form.legal_name" label="Nombre legal" error-message="Ingrese un nombre legal"
                  :error="$v.form.legal_name.$error" @blur="$v.form.legal_name.$touch()" placeholder="Corporación ABC C.A"
                  hint="Ingrese un nombre legal" outlined readonly>
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                <q-input color="primary" v-model="form.comercial_name" label="Nombre comercial" error-message="Ingrese un nombre comercial"
                  placeholder="Corporación ABC C.A" hint="Ingrese un nombre comercial" outlined readonly>
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                <q-input color="primary" v-model="form.code" label="Código" error-message="Ingrese un código"
                  placeholder="001" hint="Ingrese un código" outlined readonly>
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                <q-select color="primary" v-model="form.category_id" :options="categoryOptions" label="Categoría"
                  emit-value map-options outlined hint="Seleccione categoría" error-message="Seleccione categoría"
                  use-input input-debounce="0" @filter="categoryfilterFn" :error="$v.form.category_id.$error"
                  @blur="$v.form.category_id.$touch()" option-label="name" option-value="id" hide-selected fill-input
                  stack-label readonly>
                </q-select>
              </div>
            </q-card-section>
            <q-item class="bg-primary text-white">
              <q-item-section class="">
                <q-item-label style="margin: auto">
                  <q-icon size="sm" color="white" name="assignment_ind" />
                  <b>IDENTIFICACIÓN</b>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-card-section class="q-pa-sm row">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                <q-select color="primary" v-model="form.document_type" :options="documentTypeOptions"
                label="Tipo de documento" emit-value map-options outlined hint="Seleccione tipo de documento"
                error-message="Seleccione tipo de documento" :error="$v.form.document_type.$error"
                @blur="$v.form.document_type.$touch()" option-label="name" option-value="id" readonly>
                </q-select>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                <q-input color="primary" v-model="form.document_number" label="Número identificación"
                  error-message="Ingrese un número de identificación válido" placeholder="0000000000000"
                  hint="Ingrese un número de identificación válido" :error="$v.form.document_number.$error"
                  @blur="$v.form.document_number.$touch()" outlined readonly>
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                <q-input type="email" color="primary" v-model="form.electronic_documents_email" label="Correo documentos electrónicos" error-message="Ingrese correo válido"
                  :error="$v.form.electronic_documents_email.$error" @blur="$v.form.electronic_documents_email.$touch()" placeholder="correo@example.com"
                  hint="Ingrese correo válido" outlined readonly>
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md q-pt-sm">
                <q-btn icon="add" color="primary" @click="form.emails.push({})" round/>
              </div>
              <div v-for="(item, index) in form.emails" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md" :key="index">
                <q-input type="email" color="primary" v-model="item.email"
                  label="Correo electrónico" error-message="Ingrese correo válido"
                  :error="$v.form.emails.$each[index].email.$error" @blur="$v.form.emails.$each[index].email.$touch()"
                  placeholder="correo@example.com" outlined>
                  <template v-slot:append>
                    <q-icon name="close" @click="form.emails.splice(index, 1)" class="cursor-pointer" />
                  </template>
                </q-input>
              </div>
            </q-card-section>
              <q-item class="bg-primary text-white">
                <q-item-section class="">
                  <q-item-label style="margin: auto">
                    <q-icon size="sm" color="white" name="gps_fixed" />
                    <b>UBICACIÓN</b>
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-card-section class="q-pa-sm row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="form.state_id" :options="stateOptions" label="Provincia" emit-value map-options
                    outlined hint="Seleccione provincia" error-message="Seleccione provincia" use-input input-debounce="0" @filter="statefilterFn"
                    :error="$v.form.state_id.$error" @blur="$v.form.state_id.$touch()" option-label="name" option-value="id"
                    hide-selected fill-input @input="form.city_id = ''" readonly>
                  </q-select>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="form.city_id" :options="citiesByState" label="Ciudad" emit-value map-options
                    outlined hint="Seleccione ciudad" error-message="Seleccione ciudad" use-input input-debounce="0" @filter="cityfilterFn"
                    :error="$v.form.city_id.$error" @blur="$v.form.city_id.$touch()" option-label="name" option-value="id"
                    hide-selected fill-input readonly>
                  </q-select>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                  <q-select v-model="form.zone" :options="optionsZones" outlined label="Zona" use-chips clearable
                    option-value="id" option-label="name" hint="Seleccione por lo menos una zona" emit-value
                    map-options error-message="Seleccione por lo menos una zona" multiple readonly
                    />
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                  <q-input color="primary" v-model="form.sector" label="Sector"
                    placeholder="" hint="Ingrese Sector" outlined readonly>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                  <q-input color="primary" v-model="form.billing_address" label="Dirección de facturación"
                    placeholder="Calle 1" hint="Ingrese dirección de facturación" outlined autogrow readonly>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                  <q-input color="primary" v-model="form.deliver_address" label="Dirección de despacho"
                    placeholder="Calle 1" hint="Ingrese dirección de facturación" outlined autogrow readonly>
                    <!-- <template v-slot:append>
                      <q-btn round dense flat icon="add" color="primary" @click="form.deliver_addresses.push('')">
                        <q-tooltip content-class="">Agregar dirección de despacho</q-tooltip>
                      </q-btn>
                    </template> -->
                  </q-input>
                </div>
                <div v-for="(deliver_address, index) in form.deliver_addresses" :key="index"
                  class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                  <q-input color="primary" v-model="form.deliver_addresses[index]"
                    :label="`Dirección de despacho ${index + 2}`" readonly
                    placeholder="Calle 1" hint="Ingrese dirección de despacho" outlined autogrow>
                    <template v-slot:append>
                      <q-btn round dense flat icon="close" color="primary" @click="form.deliver_addresses.splice(index, 1)">
                        <q-tooltip content-class="">Eliminar dirección de despacho</q-tooltip>
                      </q-btn>
                    </template>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                  <q-input type="number" color="primary" v-model="form.phone" label="Teléfono"
                    placeholder="0000000" hint="Ingrese número de teléfono" outlined readonly>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md q-pt-sm">
                  <q-btn icon="add" color="primary" @click="form.phones.push({})" round/>
                </div>
                <div v-for="(item, index) in form.phones" class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md" :key="index">
                  <q-input color="primary" v-model="item.phone"
                    label="Teléfono" error-message="Ingrese teléfono válido"
                    :error="$v.form.phones.$each[index].phone.$error" @blur="$v.form.phones.$each[index].phone.$touch()"
                    outlined>
                    <template v-slot:append>
                      <q-icon name="close" @click="form.phones.splice(index, 1)" class="cursor-pointer" />
                    </template>
                  </q-input>
                </div>
                <!-- <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 q-pb-md q-pr-md">
                  <q-input color="primary" v-model="form.tags" label="Etiquetas"
                  hint="Ingrese palabras clave separadas por coma" outlined readonly>
                  </q-input>
                </div> -->
              </q-card-section>
            </q-card>
          </q-tab-panel>

          <q-tab-panel name="contacts" style="padding: 0px">
            <q-card class="my-card" flat bordered>
              <div align="center">
                <q-btn label="Crear contacto" rounded color="primary" @click="showPromptAddContact"></q-btn>
              </div>
              <q-list bordered>
                <q-item v-for="(contact, index) in form.contacts" :key="index" class="q-my-sm" v-ripple>
                  <q-item-section avatar>
                    <q-avatar color="primary" text-color="white">
                      {{ contact.last_name[0] }}
                    </q-avatar>
                  </q-item-section>

                  <q-item-section>
                    <q-item-label>{{ contact.last_name }} {{ contact.name }}</q-item-label>
                    <q-item-label caption lines="1">{{ contact.email }}</q-item-label>
                    <q-item-label caption lines="1">{{ contact.phone }}</q-item-label>
                  </q-item-section>
                  <q-item-section top side>
                    <div class="text-grey-8 q-gutter-xs">
                      <q-btn class="gt-xs" size="12px" flat dense round icon="remove_red_eye" @click="showContactEdition(index)"/>
                      <q-btn class="gt-xs" size="12px" flat dense round icon="delete" @click="deleteContact(index)"/>
                    </div>
                  </q-item-section>
                </q-item>

                <q-separator />
              </q-list>

            </q-card>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>

    <q-card>
      <q-separator />
      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
    <q-dialog v-model="promptAddContact" persistent>
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">Nuevo contacto</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-input color="primary" v-model="contact.last_name" label="Apellidos" error-message="Ingrese apellidos"
            :error="$v.contact.last_name.$error" @blur="$v.contact.last_name.$touch()" placeholder="López Pérez"
            hint="Ingrese apellidos" outlined autofocus>
          </q-input>
          <q-input color="primary" v-model="contact.name" label="Nombres" error-message="Ingrese nombres"
            :error="$v.contact.name.$error" @blur="$v.contact.name.$touch()" placeholder="Pedro Pablo"
            hint="Ingrese nombres" outlined>
          </q-input>
          <q-input color="primary" v-model="contact.job" label="Cargo" error-message="Ingrese cargo"
            :error="$v.contact.job.$error" @blur="$v.contact.job.$touch()" placeholder="Cargo"
            hint="Ingrese cargo" outlined>
          </q-input>
          <q-input color="primary" v-model="contact.phone" label="Teléfono" error-message="Ingrese teléfono"
            :error="$v.contact.phone.$error" @blur="$v.contact.phone.$touch()" placeholder="0000000"
            hint="Ingrese teléfono" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="add" color="primary" @click="contact.phones.push('')">
                <q-tooltip content-class="">Agregar teléfono</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-input v-for="(phone, index) in contact.phones" :key="index" color="primary" v-model="contact.phones[index]"
            :label="`Teléfono ${index + 2}`" error-message="Ingrese teléfono" :error="$v.contact.phone.$error"
            @blur="$v.contact.phone.$touch()" placeholder="0000000" hint="Ingrese teléfono" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="close" color="primary" @click="contact.phones.splice(index, 1)">
                <q-tooltip content-class="">Eliminar teléfono</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-input color="primary" v-model="contact.email" label="Correo electrónico" error-message="Ingrese correo electrónico"
            :error="$v.contact.email.$error" @blur="$v.contact.email.$touch()" placeholder="correo@example.com"
            hint="Ingrese correo electrónico" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="add" color="primary" @click="contact.emails.push('')">
                <q-tooltip content-class="">Agregar correo electrónico</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-input v-for="(email, index) in contact.emails" :key="index+1" color="primary" v-model="contact.emails[index]"
            :label="`Correo electrónico ${index + 2}`" error-message="Ingrese correo electrónico" :error="$v.contact.phone.$error"
            @blur="$v.contact.phone.$touch()" placeholder="0000000" hint="Ingrese correo electrónico" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="close" color="primary" @click="contact.emails.splice(index, 1)">
                <q-tooltip content-class="">Eliminar correo electrónico</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-select color="primary" v-model="contact.shrimps" multiple label="Camaroneras"
            hint="Ingrese apellidos" outlined autofocus map-options use-chips :options="shrimps_options"
            option-value="id" option-label="name" emit-value
          >
          </q-select>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn outline text-color="grey-7" label="Cancelar" v-close-popup/>
          <q-btn push color="primary" label="Agregar contacto" glossy @click="addContact"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="promptEditContact" persistent>
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">Editar contacto</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-input color="primary" v-model="contact.last_name" label="Apellidos" error-message="Ingrese apellidos"
            :error="$v.contact.last_name.$error" @blur="$v.contact.last_name.$touch()" placeholder="López Pérez"
            hint="Ingrese apellidos" outlined autofocus>
          </q-input>
          <q-input color="primary" v-model="contact.name" label="Nombres" error-message="Ingrese nombres"
            :error="$v.contact.name.$error" @blur="$v.contact.name.$touch()" placeholder="Pedro Pablo"
            hint="Ingrese nombres" outlined>
          </q-input>
          <q-input color="primary" v-model="contact.phone" label="Teléfono" error-message="Ingrese teléfono"
            :error="$v.contact.phone.$error" @blur="$v.contact.phone.$touch()" placeholder="0000000"
            hint="Ingrese teléfono" outlined>
            <q-btn round dense flat icon="add" color="primary" @click="contact.phones.push('')">
                <q-tooltip content-class="">Agregar teléfono</q-tooltip>
              </q-btn>
          </q-input>
          <q-input v-for="(phone, index) in contact.phones" :key="index+2" color="primary" v-model="contact.phones[index]"
            :label="`Teléfono ${index + 2}`" error-message="Ingrese teléfono" :error="$v.contact.phone.$error"
            @blur="$v.contact.phone.$touch()" placeholder="0000000" hint="Ingrese teléfono" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="close" color="primary" @click="contact.phones.splice(index, 1)">
                <q-tooltip content-class="">Eliminar teléfono</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-input color="primary" v-model="contact.email" label="Correo electrónico" error-message="Ingrese correo electrónico"
            :error="$v.contact.email.$error" @blur="$v.contact.email.$touch()" placeholder="correo@example.com"
            hint="Ingrese correo electrónico" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="add" color="primary" @click="contact.emails.push('')">
                <q-tooltip content-class="">Agregar correo electrónico</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-input v-for="(email, index) in contact.emails" :key="index+3" color="primary" v-model="contact.emails[index]"
            :label="`Correo electrónico ${index + 2}`" error-message="Ingrese correo electrónico" :error="$v.contact.phone.$error"
            @blur="$v.contact.phone.$touch()" placeholder="0000000" hint="Ingrese correo electrónico" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="close" color="primary" @click="contact.emails.splice(index, 1)">
                <q-tooltip content-class="">Eliminar correo electrónico</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-select color="primary" v-model="contact.shrimps" multiple label="Camaroneras"
            hint="Selecciona Camaroneras" outlined autofocus map-options use-chips :options="shrimps_options"
            option-value="id" option-label="name" emit-value
          />
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn outline text-color="grey-7" label="Cancelar" v-close-popup/>
          <q-btn push color="primary" label="Actualizar contacto" glossy @click="editContact"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="confirm" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <q-avatar icon="warning" color="negative" text-color="white" />
            <span class="q-ml-sm">Está seguro de eliminar contacto?</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Eliminar" color="primary" @click="confirmDelete" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
  </q-page>
</template>
<script>
import { required, requiredIf, email, minLength, maxLength } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
export default {
  mixins: [],
  components: {},
  data () {
    return {
      title: 'Clientes',
      subtitle: 'Mis datos',
      route: 'customers',
      form: {
        foreign_company: false,
        country_id: 1,
        deliver_addresses: [],
        contacts: []
      },
      typeOptions: [
        {
          id: 1,
          name: 'Natural'
        },
        {
          id: 2,
          name: 'Jurídica'
        }
      ],
      countryOptions: [],
      stringCountryOptions: [],
      stateOptions: [],
      stringStateOptions: [],
      cityOptions: [],
      stringCityOptions: [],
      shrimps_options: [],
      sameAdrress: false,
      tab: 'info',
      promptAddContact: false,
      promptEditContact: false,
      contact: {
        phones: [],
        emails: []
      },
      currentIndex: '',
      categoryOptions: [],
      stringCategoryOptions: [],
      optionsZones: [],
      confirm: false
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    documentTypeOptions () {
      if (this.form.foreign_company) {
        var res1 = [
          {
            id: 2,
            name: 'Cédula'
          },
          {
            id: 3,
            name: 'Pasaporte'
          }
        ]
      } else {
        // Si el cleinte es juridico solo RUC
        if (this.form.type === 2) {
          var res2 = [
            {
              id: 1,
              name: 'RUC'
            }
          ]
        } else {
          var res3 = [
            {
              id: 1,
              name: 'RUC'
            },
            {
              id: 2,
              name: 'Cédula'
            },
            {
              id: 3,
              name: 'Pasaporte'
            }
          ]
        }
      }
      return this.form.foreign_company ? res1 : this.form.type === 2 ? res2 : res3
    },
    citiesByState () {
      return this.cityOptions.filter(value => value.state_id === this.form.state_id)
    }
  },
  validations () {
    return {
      form: {
        type: { required },
        legal_name: { required },
        document_type: { required },
        document_number: { required, minLength: minLength(10), maxLength: maxLength(13), checkIdentification: this.checkIdentification },
        electronic_documents_email: { email },
        country_id: { required },
        state_id: { // Requerido si el país es Ecuador,
          required: requiredIf(function (nestedModel) {
            return this.form.country_id === 1
          })
        },
        city_id: { // Requerido si el país es Ecuador
          required: requiredIf(function (nestedModel) {
            return this.form.country_id === 1
          })
        },
        category_id: { required },
        emails: {
          $each: {
            email: { required, email }
          }
        },
        phones: {
          $each: {
            phone: { required }
          }
        }
      },
      contact: {
        last_name: { required },
        name: { required },
        job: { required },
        phone: { required },
        email: { required, email }
      }
    }
  },
  mounted () {
    this.getRecord()
    this.getCountries()
    this.getStates()
    this.getCities()
    this.getCategories()
    this.getZones()
    this.getShrimps()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Mis datos',
        icon: 'person',
        to: 'profile'
      }
    ])
  },
  methods: {
    getShrimps () {
      this.$api.get('shrimps_by_customer/0').then(res => {
        this.shrimps_options = res
      })
    },
    getCountries () {
      this.$api.get('countries').then(res => {
        this.countryOptions = res
        this.stringCountryOptions = res
      })
    },
    getStates () {
      this.$api.get('states').then(res => {
        this.stateOptions = res
        this.stringStateOptions = res
      })
    },
    getCities () {
      this.$api.get('cities').then(res => {
        this.cityOptions = res
        this.stringCityOptions = res
      })
    },
    countryfilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.countryOptions = this.stringCountryOptions

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.countryOptions = this.stringCountryOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    statefilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.stateOptions = this.stringStateOptions

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.stateOptions = this.stringStateOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    cityfilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.cityOptions = this.stringCityOptions

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.cityOptions = this.stringCityOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    copyAddress (value) {
      console.log('value', value)
      if (value) {
        this.form.deliver_address = this.form.billing_address
      }
    },
    addContact () {
      this.$v.contact.$touch()
      if (!this.$v.contact.$error) {
        this.form.contacts.push(this.contact)
        this.contact = {}
        this.promptAddContact = false
        this.$v.contact.$reset()
      }
    },
    showContactEdition (index) {
      this.promptEditContact = true
      this.currentIndex = index
      this.contact = JSON.parse(JSON.stringify(this.form.contacts[index]))
      this.currentIndex = index
    },
    editContact () {
      this.$v.contact.$touch()
      if (!this.$v.contact.$error) {
        // this.form.contacts.push(this.contact)
        this.form.contacts[this.currentIndex] = JSON.parse(JSON.stringify(this.contact))
        this.contact = {}
        this.promptEditContact = false
        this.$v.contact.$reset()
      }
    },
    verifyCedula (cedula) {
      console.log('verify', cedula)
      var response = false
      if (typeof (cedula) === 'string' && cedula.length === 10 && /^\d+$/.test(cedula)) {
        var digitos = cedula.split('').map(Number)
        var codigoProvincia = digitos[0] * 10 + digitos[1]

        // if (codigoProvincia >= 1 && (codigoProvincia <= 24 || codigoProvincia == 30) && digitos[2] < 6) {

        if (codigoProvincia >= 1 && (codigoProvincia <= 24 || codigoProvincia === 30)) {
          var digitoVerificador = digitos.pop()

          var digitoCalculado = digitos.reduce(
            function (valorPrevio, valorActual, indice) {
              return valorPrevio - (valorActual * (2 - indice % 2)) % 9 - (valorActual === 9) * 9
            }, 1000) % 10
          response = digitoCalculado === digitoVerificador
          // return
        }
      }
      console.log('res', response)
      return response
    },
    checkIdentification (documentNumber) {
      console.log('checkIdentification', documentNumber, this.form.document_type)
      if (this.form.document_type === 1) { // Si es RUC verificar RUC
        console.log('aqui', this.verifyRuc(documentNumber))
        return this.verifyRuc(documentNumber)
      } else if (this.form.document_type === 2) { // Si es cédula verificar cédula
        return this.verifyCedula(documentNumber)
      }
      return true
    },
    showPromptAddContact () {
      this.promptAddContact = true
      this.contact = {
        phones: [],
        emails: []
      }
    },
    getCategories () {
      this.$api.get('categories', { params: { type: 1 } }).then(res => {
        this.categoryOptions = res
        this.stringCategoryOptions = res
      })
    },
    categoryfilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.categoryOptions = this.stringCategoryOptions
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.categoryOptions = this.stringCategoryOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    verifyRuc (ruc) {
      var rucResultadoValidacion = false
      if (typeof (ruc) === 'string' && ruc.length === 13 && /^\d+$/.test(ruc)) {
        var digitos = ruc.split('').map(Number)
        var codigoProvincia = digitos[0] * 10 + digitos[1]
        var tipoModulo
        var coeficientes
        if ((codigoProvincia >= 1 && codigoProvincia <= 24) || codigoProvincia === 30) {
          if (digitos[2] !== 7 || digitos[2] !== 8) {
            tipoModulo = (digitos[2] > 5) ? 11 : 10
            if (digitos[2] === 6) {
              digitos = digitos.slice(0, 9)
              coeficientes = [3, 2, 7, 6, 5, 4, 3, 2]
            } else {
              digitos = digitos.slice(0, 10)
              coeficientes = (digitos[2] === 9) ? [4, 3, 2, 7, 6, 5, 4, 3, 2] : [2, 1, 2, 1, 2, 1, 2, 1, 2]
            }
            var digitoVerificador = digitos.pop()
            var digitoCalculado = tipoModulo - digitos.reduce(function (valorPrevio, valorActual, indice) {
              var resultado = valorActual * coeficientes[indice]
              if (digitos[2] < 6) {
                resultado = (resultado > 9) ? resultado - 9 : resultado
              }
              return valorPrevio + resultado
            }, 0) % tipoModulo; digitoCalculado = (digitoCalculado === 11) ? 0 : digitoCalculado
            if (digitoCalculado === digitoVerificador) {
              rucResultadoValidacion = true
            } else {
              // 'No coincide el dígito verificador'
            }
          } else {
            // 'El tercer dígito no debe ser 7 o 8'
          }
        } else {
          // 'Los dos primeros dígitos deben estar entre 01 y 24, o 30 para ecuatorianos registrados en el exterior'
        }
      } else {
        // 'No son 13 dígitos'
      }
      return rucResultadoValidacion
    },
    getZones () {
      this.$api.get('zones/true').then(res => {
        this.optionsZones = res
      })
    },
    beforeSave () {
      console.log('form', this.form)
    },
    save () {
      console.log('save', this.form)
      this.$v.form.$touch()
      if (!this.$v.form.$error) {
        this.$q.loading.show()
        this.$api.put('customer_profile', this.form).then(res => {
          if (res) {
            this.$q.notify({
              type: 'positive',
              message: 'Registro guardado con éxito!'
            })
          }
          this.$q.loading.hide()
        })
      }
    },
    getRecord () {
      this.$api.get('customer_profile').then(res => {
        if (res) {
          console.log('customer_profile', res)
          this.form = res
          this.form.zone = JSON.parse(this.form.zone)
        }
      })
    },
    deleteContact (contactIndex) {
      this.confirm = true
      this.contactIndex = contactIndex
    },
    confirmDelete () {
      this.form.contacts.splice(this.contactIndex, 1)
    }
  }
}
</script>
