<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="my-card text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>CAMARONERAS</b></div>
              <!---<div class="text-subtitle2" style="font-size: 1.875rem;">{{ form.legal_name }}</div>--->
            </div>
            <div class="col-md-1" style="text-align: right;">
              <q-btn v-if="can('2.1.1.1.1')" round icon="add" color="primary" size="md" :to="`/customers/show/${id}/shrimps/form`">
                <q-tooltip>
                  Agregar camaronera
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <!-- <q-card-section class="bg-primary text-white row">
        <div class="col-md-2">
          <div class="text-h6">{{ title }}</div>
          <div class="text-subtitle2">{{ form.comercial_name }}</div>
        </div>

        <div style="margin: auto" class="row items-center justify-center">
          <div class="q-pa-md">
            Reportes consolidados camaronerasfds
          </div>
          <q-btn v-if="can('2.1.1.1.1')" class="q-mr-md" color="primary" icon="add" label="Nueva" :to="`/customers/show/${id}/shrimps/form`" />
        </div>
      </q-card-section> -->
      <div class="q-pa-md row">
        <!-- <div v-for="(shrimp, index) in form.shrimps" class="col-md-6 q-pr-md" :key="index">
          <q-card>
            <div class="q-pa-md row">
              <div class="col-md-4">
                Camaronera {{ shrimp.name}}
              </div>
              <div class="col-md-2">
                <router-link :to="`/customers/show/${id}/shrimps/form/${shrimp.id}`">Editar</router-link>
              </div>
              <div class="col-md-2">
                <a href="#" @click="deleteShrimp(shrimp.id)" v-if="can('5.5.4')">Eliminar</a>
              </div>
              <div class="col-md-2">
                Ubicación
              </div>
              <div class="col-md-2">
                <router-link v-if="can('2.1.1.1.4')" :to="`/customers/show/${id}/shrimps/${shrimp.id}`">Piscinas</router-link>
              </div>
              <div class="col-md-2">
                Fotos
              </div>
              <br>
            </div>
             <q-card-section horizontal>
              <q-card-section class="col-9">
                Asesor técnico asignado: {{ shrimp.technicalAdvisors }}
                <br>
                Área total: {{ shrimp.totalArea ? shrimp.totalArea : 0 }}
                <br>
                Cantidad total de piscinas: {{ shrimp.pools.length }}
                <br>
                Última visita
                <br>
                Próxima visita
                <br>
                Contacto en camaronera
              </q-card-section>

              <q-separator vertical />

              <q-card-section class="col-3">
                <q-img v-if="shrimp.ubication" style="width: 79%"
                  :src="`${apiURL}?center=${shrimp.ubication.lat},${shrimp.ubication.lng}
                  &zoom=18&size=800x800&maptype=roadmap
                  &markers=color:red%7Clabel:S%7C${shrimp.ubication.lat},${shrimp.ubication.lng}
                  &key=${googleApiKey}`"/>
              </q-card-section>
            </q-card-section>
            <q-card-section horizontal>
              <q-card-section class="col-8">
                <q-card-actions align="stretch" vertical>
                  <div class="row">
                    <div class="col-md-12">
                      <q-btn size="md" flat label="Compendio" color="primary" />
                    </div>
                    <div class="col-md-12">
                      <q-btn size="md" flat label="Crecimientos" color="primary" />
                    </div>
                    <div class="col-md-12">
                      <q-btn :disable="!shrimp.pools.length" size="md" flat label="Patologías" :to="`/customers/show/${id}/shrimps/${shrimp.id}/pathologies`" color="primary" />
                    </div>
                    <div class="col-md-12">
                      <q-btn :disable="!shrimp.pools.length" size="md" flat label="Suelos" color="primary" :to="`/customers/show/${id}/shrimps/${shrimp.id}/floor`"/>
                    </div>
                    <div class="col-md-12">
                      <q-btn :disable="!shrimp.pools.length" size="md" flat label="Aguas" color="primary" :to="`/customers/show/${id}/shrimps/${shrimp.id}/water`" />
                    </div>
                    <div class="col-md-12">
                      <q-btn :disable="!shrimp.pools.length" size="md" flat label="Fitoplancton" color="primary" :to="`/customers/show/${id}/shrimps/${shrimp.id}/phytoplanktons`" />
                    </div>
                  </div>
                </q-card-actions>
              </q-card-section>

              <q-separator vertical />

              <q-card-section class="col-4">
                <q-img style="width: 65%" src="maps.png"/>
              </q-card-section>
            </q-card-section>
          </q-card>
        </div>
        <div v-if="!form.shrimps.length & show">
          No hay camaroneras registradas para este cliente
        </div> -->
        <div v-for="(shrimp, index) in form.shrimps" class="col-md-12 q-pb-xl" :key="index">
          <q-chip color="primary" text-color="white">
            {{ shrimp.name}}
          </q-chip>
          <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
            <q-card-section class="row">
              <div class="col">
              <b class="text-grey-7">Asesor técnico</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Total Piscinas</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Área Total</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Últ. Visita</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Próx. Visita</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Cont. Camaronera</b>
            </div>
            <!-- <div class="col" style="text-align: right">
              <b class="text-grey-7">Acciones</b>
            </div>--->
            </q-card-section>
            <q-separator color="grey-4" />
            <q-card-section class="row">
              <div class="col" style="text-align: left">
               <p v-html="shrimp.technicalAdvisors" class="text-grey-7"></p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ shrimp.pools.length }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ shrimp.totalArea ? shrimp.totalArea : 0 }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">-</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ shrimp.proxAppointment }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p v-html="shrimp.assignedContacts" class="text-grey-7"></p>
              </div>
              <!-- <div class="col" style="text-align: right">
                <q-btn flat icon="edit" size="sm" color="primary" :to="`/customers/show/${id}/shrimps/form/${shrimp.id}`" dense>
                  <q-tooltip>
                    Editar
                  </q-tooltip>
                </q-btn>
                <q-btn v-if="can('5.5.4')" @click="deleteShrimp(shrimp.id)" flat icon="delete" size="sm" color="primary" dense>
                  <q-tooltip>
                    Eliminar
                  </q-tooltip>
                </q-btn>
              </div>-->
            </q-card-section>
            <q-separator color="grey-4" />
            <q-card-section class="row" style="justify-content: space-between">
              <div>
                <div class="row items-start">
                  <div v-if="can('6.4')" class="col-auto q-pr-md">
                    <q-btn icon="waves" color="primary" size="sm" outline
                    @click="redirection(id, shrimp.id)" rounded>
                      <b class="q-pl-sm q-pt-xs">Piscinas</b>
                    </q-btn>
                  </div>
                  <div class="col-auto q-pr-md">
                    <q-btn icon="location_on" color="primary" size="sm" @click="showUbication(shrimp)" rounded outline>
                      <b class="q-pl-sm q-pt-xs">Ubicación</b>
                    </q-btn>
                  </div>
                </div>
              </div>
            </q-card-section>
          </q-card>
          <q-dialog v-model="ubication">
            <q-card style="width: 100%">
                    <div align="right">
                      <q-btn flat round color="grey" icon="close" v-close-popup></q-btn>
                    </div>
              <div class="row items-center no-wrap q-pa-md">
                <div class="col">
                <q-img v-if="ubicationImage.ubication" style="width: 100%"
                  :src="`${apiURL}?center=${ubicationImage.ubication.lat},${ubicationImage.ubication.lng}
                  &zoom=10&size=800x800&maptype=roadmap
                  &markers=color:red%7Clabel:S%7C${ubicationImage.ubication.lat},${ubicationImage.ubication.lng}
                  &key=${googleApiKey}`" spinner-color="primary">
                </q-img>
                <h6 v-else>Sin ubicación guardada</h6>
                </div>

              </div>
            </q-card>
          </q-dialog>
        </div>
      </div>
    </q-card>
  </q-page>
</template>
<script>
import { mapGetters } from 'vuex'
import env from '../../env'
export default {
  data () {
    return {
      id: '',
      title: 'Cliente',
      fullName: 'Nombre cliente',
      googleApiKey: env.googleApiKey,
      actions: [
        {
          label: 'Acción 1',
          action: ''
        },
        {
          label: 'Acción 2',
          action: ''
        },
        {
          label: 'Acción 3',
          action: ''
        }
      ],
      shrimps: [],
      form: {
        shrimps: []
      },
      apiURL: 'https://maps.googleapis.com/maps/api/staticmap',
      show: false,
      ubication: false,
      ubicationImage: {}
    }
  },
  mounted () {
    this.$q.loading.show()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Camaroneras',
        icon: 'person',
        to: ''
      }
    ])
    this.getRecord()
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  methods: {
    deleteShrimp (shrimpId) {
      this.$q.dialog({
        title: 'Confirmar',
        message: '¿Realmente desea eliminar la camaronera?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.$api.delete(`shrimps/${shrimpId}`).then(res => {
          if (res) {
            this.getRecord()
            this.$q.dialog({
              title: 'Éxito',
              message: 'La camaronera ha sido eliminada exitosamente.'
            })
          }
        })
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    redirection (id, shrimpsId) {
      this.$router.push(`/client/${id}/shrimps/${shrimpsId}`)
    },
    getRecord () {
      this.$api.get('client').then(res => {
        if (res) {
          this.form = res
          this.id = this.form.id
          this.show = true
        }
        this.$q.loading.hide()
      })
    },
    showUbication (shrimp) {
      this.ubicationImage = shrimp
      this.ubication = true
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
</style>
