<template>
  <q-page>
    <div>
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <q-btn class="q-ma-sm" round icon="get_app" color="primary" size="md" @click="exportTable">
                <q-tooltip>
                  Exportar
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ml-sm" round  @click="$q.fullscreen.toggle()"
                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="primary" size="md">
                <q-tooltip>
                  Pantalla completa
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-md-2">
              <q-input v-model="text" placeholder="Buscar" @input="filter" outlined dense>
                <template v-slot:append>
                  <q-icon v-if="text !== ''" name="close" @click="text = ''" class="cursor-pointer" />
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </div>
        </q-card-section>
      </q-card>

      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Nombres</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Teléfono</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Correo</b>
            </div>
            <div class="col" style="text-align: right">
              <b class="text-grey-7">Camaroneras</b>
            </div>
          </q-card-section>
          <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(item, index) in technicalAdvisors" :key="index">
              <div class="col">
                <p class="text-grey-7">{{ item.full_name }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.phone }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.company_mail }}</p>
              </div>
              <div class="col" style="text-align: right">
                <p class="text-grey-7">{{ item.shrimps }}</p>
              </div>
            </q-card-section>
            <q-separator color="grey-4" />
          </q-card>
        </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import { exportFile } from 'quasar'
function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== undefined
    ? formatFn(val)
    : val

  formatted = formatted === undefined || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')

  return `"${formatted}"`
}
export default {
  components: {},
  data () {
    return {
      params: {
        shrimp_id: this.$route.params.shrimpId
      },
      title: 'Asesores asignados',
      pagination: {
        page: 1,
        rowsPerPage: 10
      },
      buttons: [
      ],
      cols: [
        { name: 'id', required: true, label: 'Código asesor', align: 'left', field: 'code', sortable: true },
        { name: 'analysis_date', required: true, label: 'Nombres', align: 'left', field: 'full_name', sortable: true },
        { name: 'technical_advisor', required: true, label: 'Camaroneras', align: 'left', field: 'shrimps', sortable: true }
      ],
      text: '',
      technicalAdvisors: [],
      stringTechnicalAdvisors: [],
      showLink: false,
      link: ''
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  mounted () {
    this.getRecords()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Asesores asignados',
        icon: 'person',
        to: '/assigned_technical_advisors'
      }
    ])
  },
  methods: {
    getRecords () {
      this.$q.loading.show()
      this.$api.get('assigned_technical_advisors').then(res => {
        this.$q.loading.hide()
        this.technicalAdvisors = res
        this.stringTechnicalAdvisors = res
      })
    },
    exportTable () {
      // naive encoding to csv format
      // const columns = JSON.parse(JSON.stringify(this.cols))
      const columns = Object.create(this.cols)
      if (columns[columns.length - 1].name === 'actions') {
        columns.pop()
      }

      console.log('col', columns)
      const content = [columns.map(col => wrapCsvValue(col.label))].concat(
        this.technicalAdvisors.map(row => columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === undefined ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    filter () {
      if (this.text === '') {
        this.technicalAdvisors = this.stringTechnicalAdvisors
        return
      }
      const needle = this.text.toLowerCase()
      this.technicalAdvisors = JSON.parse(JSON.stringify(this.stringTechnicalAdvisors))
      this.technicalAdvisors = this.stringTechnicalAdvisors.filter(val => {
        return val.code.toString().indexOf(needle) > -1 || val.full_name.toLowerCase().indexOf(needle) > -1 ||
        val.shrimps.toLowerCase().indexOf(needle) > -1
      })
    }
  }
}
</script>
<style>
</style>
