<template>
  <q-page class="column" style="overflow: hidden">
    <!-- display an event -->
    <q-dialog v-model="displayEvent">
      <div>
        <q-card v-if="event">
          <q-toolbar class="bg-primary text-white" style="min-width: 400px;">
            <q-toolbar-title>
              {{ event.title }}<q-icon v-if="event.icon" name="notifications_active" class="q-mr-xs"></q-icon>
              <q-badge color="primary" v-if="event.updateRequestDescription">{{ event.updateRequestDescription }}</q-badge>
            </q-toolbar-title>
            <!-- <q-btn v-if="event.canDelete || event.canDeleteWithAuthorization" flat round color="white" icon="delete" v-close-popup @click="deleteEvent(event)"></q-btn>
            <q-btn flat round color="white" icon="edit" v-close-popup @click="editEvent(event)"></q-btn> -->
            <q-btn flat round color="white" icon="close" v-close-popup></q-btn>
          </q-toolbar>
          <q-card-section class="inset-shadow">
            {{ event.details }}
            <div v-if="event.time" class="text-caption">
              <div class="row full-width justify-start" style="padding-top: 12px;">
                <div class="col-12">
                  <div class="row full-width justify-start">
                    <div class="col-5" style="padding-left: 20px;">
                      <strong>Tipo de evento:</strong>
                    </div>
                    <div class="col-7">
                      {{ event.visitReason ? event.visitReason.name : '' }}
                    </div>
                  </div>
                  <div class="row full-width justify-start">
                    <div class="col-5" style="padding-left: 20px;">
                      <strong>Asesor técnico:</strong>
                    </div>
                    <div class="col-7">
                      {{ event.advisor ? event.advisor.full_name : '' }}
                    </div>
                  </div>
                  <div class="row full-width justify-start">
                    <div class="col-5" style="padding-left: 20px;">
                      <strong>Estatus:</strong>
                    </div>
                    <div class="col-7">
                      {{ event.statusName }}
                    </div>
                  </div>
                  <div v-if="event.status === 2" class="row full-width justify-start">
                    <div class="col-5" style="padding-left: 20px;">
                      <strong>Motivo:</strong>
                    </div>
                    <div class="col-7">
                      {{ event.reject_reason }}
                    </div>
                  </div>
                  <div class="row full-width justify-start">
                    <div class="col-5" style="padding-left: 20px;">
                      <strong>Cliente:</strong>
                    </div>
                    <div class="col-7">
                      {{ event.customer ? event.customer.legal_name : 'Cliente eliminado' }}
                    </div>
                  </div>
                  <div class="row full-width justify-start">
                    <div class="col-5" style="padding-left: 20px;">
                      <strong>Camaronera:</strong>
                    </div>
                    <div class="col-7">
                      {{ event.shrimp ? event.shrimp.name : 'Camaronera eliminada'}}
                    </div>
                  </div>
                  <div class="row full-width justify-start">
                    <div class="col-5" style="padding-left: 20px;">
                      <strong>Fecha:</strong>
                    </div>
                    <div class="col-7">
                      {{ event.date}}
                    </div>
                  </div>
                  <div class="row full-width justify-start">
                    <div class="col-5" style="padding-left: 20px;">
                      <strong>Hora:</strong>
                    </div>
                    <div class="col-7">
                      {{ event.time }}
                    </div>
                  </div>
                  <!-- Ubicación de la camaronera -->
                </div>
              </div>
            </div>
          </q-card-section>
          <q-card-actions align="right">
            <q-btn v-if="event.canApprove" @click="beforeApproveOrReject(1, event)" flat label="Aprobar" color="primary" v-close-popup></q-btn>
            <q-btn v-if="event.canReject" @click="beforeApproveOrReject(2, event)" flat label="Rechazar" color="negative" v-close-popup></q-btn>
            <q-btn v-if="event.canApproveEdition" @click="processEditingAppointmentRequest(1, event.updateRequest)" flat label="Aprobar edición" color="primary" v-close-popup></q-btn>
            <q-btn v-if="event.canApproveEdition" @click="processEditingAppointmentRequest(2, event.updateRequest)" flat label="Rechazar edición" color="negative" v-close-popup></q-btn>
            <q-btn v-if="event.canApproveDeletion" @click="processDeletingAppointmentRequest(1, event.updateRequest)" flat label="Aprobar eliminación" color="primary" v-close-popup></q-btn>
            <q-btn v-if="event.canApproveDeletion" @click="processDeletingAppointmentRequest(2, event.updateRequest)" flat label="Rechazar eliminación" color="negative" v-close-popup></q-btn>
          </q-card-actions>
        </q-card>
      </div>
    </q-dialog>
    <!-- add/edit an event -->
    <q-dialog v-model="addEvent" no-backdrop-dismiss>
      <div>
        <q-card v-if="addEvent" style="width: 400px;">
            <q-toolbar class="bg-primary text-white">
              <q-toolbar-title>
                {{ addOrUpdateEvent }} Evento
              </q-toolbar-title>
              <q-btn flat round color="white" icon="close" v-close-popup></q-btn>
            </q-toolbar>
            <q-card-section class="inset-shadow">
              <q-select class="q-pa-sm" v-model="eventForm.event_type_id" outlined label="Tipo de evento"
                map-options emit-value option-value="id" option-label="name" :error="$v.eventForm.event_type_id.$error"
                :options="visitReasons"
                error-message="Debe seleccionar un tipo de evento">

              </q-select>
              <q-select class="q-pa-sm" v-model="eventForm.customer_id" outlined label="Cliente"
                 option-value="id" :error="$v.eventForm.customer_id.$error" emit-value map-options
                option-label="legal_name" :options="customers" use-input input-debounce="0" @filter="customersFilterFn"
                error-message="Debe seleccionar un cliente" hide-selected fill-input>
              </q-select>
              <q-select class="q-pa-sm" v-model="eventForm.shrimp_id" outlined label="Camaronera"
                map-options emit-value option-value="id" :error="$v.eventForm.shrimp_id.$error"
                option-label="name" :options="shrimps" use-input input-debounce="0" @filter="shrimpsFilterFn"
                error-message="Debe seleccionar una camaronera" hide-selected fill-input>
              </q-select>
              <q-input class="q-pa-sm" v-model="eventForm.date" type="date" label="Fecha" outlined stack-label></q-input>
              <q-input class="q-pa-sm" v-model="eventForm.time" type="time" label="Hora" outlined stack-label></q-input>
              <!-- <q-input
                v-model="eventForm.title"
                label="Title"
                :rules="[v => v && v.length > 0 || 'Field cannot be empty']"
                autofocus
              /> -->
              <!-- <q-input
                v-model="eventForm.details"
                label="Details"
              /> -->
              <!-- <q-field
                v-model="eventForm.allDay"
                style="padding-bottom: 20px;"
              >
                <q-checkbox
                  v-model="eventForm.allDay"
                  label="All-Day event?"
                />
              </q-field> -->

              <!-- <q-input
                v-if="eventForm.allDay"
                v-model="eventForm.dateTimeStart"
                label="Enter date"
                mask="####-##-##"
                color="blue-6"
                outlined
                style="padding-bottom: 20px;"
              >
                <template #append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy v-model="showDateScrollerAllDay">

                      <q-scroller
                        v-model="eventForm.dateTimeStart"
                        view="date"
                        :locale="locale"
                        :hour24-format="true"
                        :rounded-borders="true"
                        border-color="#2196f3"
                        bar-color="#2196f3"
                        text-color="white"
                        color="primary"
                        inner-text-color="primary"
                        inner-color="white"
                        :style="scrollerPopupStyle160"
                        @close="() => { showDateScrollerAllDay = false }"
                      />

                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>

              <div v-else>
                <q-input
                  v-model="eventForm.dateTimeStart"
                  ref="dateTimeStart"
                  label="Event start date and time"
                  mask="####-##-## ##:##"
                  :rules="[val => checkDateTimeStart() || 'Start time cannot come after end time']"
                  outlined
                  color="blue-6"
                >
                  <template #append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy v-model="showDateTimeScrollerStart">

                        <q-scroller
                          v-model="eventForm.dateTimeStart"
                          view="date-time"
                          :locale="locale"
                          :hour24-format="true"
                          :rounded-borders="true"
                          border-color="#2196f3"
                          bar-color="#2196f3"
                          color="primary"
                          text-color="white"
                          inner-color="white"
                          inner-text-color="primary "
                          :style="scrollerPopupStyle280"
                          @close="() => { showDateTimeScrollerStart = false }"
                        />

                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>

                <q-input
                  v-model="eventForm.dateTimeEnd"
                  ref="dateTimeEnd"
                  label="Event end date and time"
                  mask="####-##-## ##:##"
                  :rules="[val => checkDateTimeEnd() || 'Start time cannot come after end time']"
                  color="blue-6"
                  outlined
                >
                  <template #append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy v-model="showDateTimeScrollerEnd">

                        <q-scroller
                          v-model="eventForm.dateTimeEnd"
                          view="date-time"
                          :locale="locale"
                          :hour24-format="true"
                          :rounded-borders="true"
                          border-color="#2196f3"
                          bar-color="#2196f3"
                          color="primary"
                          text-color="white"
                          inner-color="white"
                          inner-text-color="primary "
                          :style="scrollerPopupStyle280"
                          @close="() => { showDateTimeScrollerEnd = false }"
                        />

                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div> -->

              <!-- <q-input
                v-model="eventForm.icon"
                label="Icon"
                outlined
                clearable
                style="padding-bottom: 20px;"
              >
                <template #append>
                  <q-icon name="extension" class="cursor-pointer">
                    <q-popup-proxy v-model="showIconPicker">

                      <q-icon-picker
                        v-model="eventForm.icon"
                        :filter="eventForm.icon"
                        icon-set="fontawesome-v5"
                        tooltips
                        :pagination.sync="pagination"
                        style="height: 300px; width: 300px; background-color: white;"
                      />

                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>

              <q-input
                v-model="eventForm.bgcolor"
                label="Color"
                outlined
                clearable
              >
                <template #append>
                  <q-icon name="colorize" class="cursor-pointer">
                    <q-popup-proxy>
                      <q-color v-model="eventForm.bgcolor"></q-color>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input> -->
            <!-- Aquí debe mostrarse la ubicación de la camaronera -->
            </q-card-section>
            <q-card-actions align="right">
              <q-btn flat label="Guardar" @click="save" color="primary"></q-btn>
              <q-btn flat label="Cancelar" @click="onReset" color="primary" v-close-popup></q-btn>
            </q-card-actions>
        </q-card>
      </div>
    </q-dialog>

    <!-- the calendar -->
    <div
      class="calendar-container"
      :style="containerStyle"
    >

    <div class="q-pa-md float-right">
      <q-btn flat dense label="Hoy" class="q-mx-md" @click="setToday"></q-btn>
      <span class="q-mr-xl q-toolbar__title nowrap">{{ title }}</span>
      <q-btn flat dense round icon="keyboard_arrow_left" @click="onPrev"></q-btn>
      <q-btn flat dense round icon="keyboard_arrow_right" @click="onNext"></q-btn>
      <q-btn-toggle
        v-model="calendarView"
        toggle-color="primary"
        push
        glossy
        :options="viewOptions"
      />
    </div>
      <q-calendar
        ref="calendar"
        class="calendar"
        :key="keyValue"
        v-touch-swipe.mouse.left.right="handleSwipe"
        v-model="selectedDate"
        locale="es"
        :max-days="maxDays"
        :bordered="bordered"
        :interval-style="modifiedStyle"
        :day-style="modifiedStyle"
        :resource-style="modifiedStyle"
        animated
        transition-prev="slide-right"
        transition-next="slide-left"
        :drag-over-func="onDragOver"
        :drop-func="onDrop"
        :theme="theme"
        :view="calendarView"
        :weekdays="weekdays"
        :interval-minutes="60 * intervalRangeStep"
        :interval-start="intervalStart"
        :interval-count="intervalCount"
        :hour24-format="hour24Format"
        :short-month-label="shortMonthLabel"
        :show-day-of-year-label="showDayOfYearLabel"
        :hide-header="hideHeader"
        :no-scroll="noScroll"
        :short-weekday-label="shortWeekdayLabel"
        :short-interval-label="shortIntervalLabel"
        :interval-height="intervalHeight"
        :resource-height="resourceHeight"
        :resource-width="resourceWidth"
        :day-height="dayHeight"
        :show-month-label="showMonthLabel"
        :show-work-weeks="showWorkWeeks"
        :no-default-header-btn="noDefaultHeaderBtn"
        :no-default-header-text="noDefaultHeaderText"
        :enable-theme="enableTheme === true"
        :resources="resources"
        @change="onChanged"
        @moved="onMoved"
        @click:date="onDateChanged"
        @click:interval="addEventMenu"
        @click:time="addEventMenu"
        @click:day="addEventMenu"
        @click:week="addEventMenu"
        @click:resource="resourceClicked"
        @click:resource:day="resourceDayClicked"
        day-padding="35px 0 0 0"
        :disabled-before="yesterday"
      >
        <template #day="{ timestamp }">
          <template v-if="calendarView.indexOf('agenda') < 0">
            <template v-for="(event, index) in getEvents(timestamp.date)">
              <q-badge
                :key="index"
                style="width: 100%; cursor: pointer; height: 14px; max-height: 14px"
                :class="badgeClasses(event, 'day')"
                :style="badgeStyles(event, 'day')"
                @click.stop.prevent="showEvent(event)"
                :draggable="true"
                @dragstart.native="(e) => onDragStart(e, event)"
                @dragend.native="(e) => onDragEnd(e, event)"
                @dragenter.native="(e) => onDragEnter(e, event)"
                @touchmove.native="(e) => {}"
              >
                <q-icon v-if="event.icon" :name="event.icon" class="q-mr-xs"></q-icon><span class="ellipsis">{{ event.title }}</span>
              </q-badge>
            </template>
          </template>
        </template>

        <template #day-header="{ timestamp }">
          <div v-if="calendarView.indexOf('agenda') < 0" class="row justify-center">
            <template v-for="(event, index) in eventsMap[timestamp.date]">
              <q-badge
                v-if="!event.time"
                :key="index"
                style="width: 100%; cursor: pointer; height: 14px; max-height: 14px"
                :class="badgeClasses(event, 'header')"
                :style="badgeStyles(event, 'header')"
                @click.stop.prevent="showEvent(event)"
                :draggable="true"
                @dragstart.native="(e) => onDragStart(e, event)"
                @dragend.native="(e) => onDragEnd(e, event)"
                @dragenter.native="(e) => onDragEnter(e, event)"
                @touchmove.native="(e) => {}"
              >
                <q-icon v-if="event.icon" :name="event.icon" class="q-mr-xs"></q-icon><span class="ellipsis">{{ event.title }}</span>
              </q-badge>
              <q-badge
                v-else
                :key="index"
                class="q-ma-xs self-end"
                :class="badgeClasses(event, 'header')"
                :style="badgeStyles(event, 'header')"
                style="width: 10px; max-width: 10px; height: 10px; max-height: 10px"
              />
            </template>
          </div>
        </template>

        <template #day-body="{ timestamp, timeStartPos, timeDurationHeight }">
          <template v-if="calendarView.indexOf('agenda') < 0">
            <template v-for="(event, index) in getEvents(timestamp.date)">
              <q-badge
                v-if="event.time"
                :key="index"
                class="my-event justify-center"
                :class="badgeClasses(event, 'body')"
                :style="badgeStyles(event, 'body', timeStartPos, timeDurationHeight)"
                @click.stop.prevent="showEvent(event)"
                :draggable="true"
                @dragstart.native="(e) => onDragStart(e, event)"
                @dragend.native="(e) => onDragEnd(e, event)"
                @dragenter.native="(e) => onDragEnter(e, event)"
                @touchmove.native="(e) => {}"
                style="height: 30px"
              >
                <q-icon v-if="event.icon" :name="event.icon" class="q-mr-xs"></q-icon><span class="ellipsis">{{ event.title }}</span>
              </q-badge>
            </template>
          </template>
          <template v-else>
            <template v-for="(agenda) in getAgenda(timestamp)">
              <div
                :key="timestamp.date + agenda.time"
                :label="agenda.time"
                class="justify-start q-ma-sm shadow-5 bg-grey-6"
                style="overflow: hidden;"
              >
                <div v-if="agenda.avatar" class="row justify-center" style="margin-top: 30px; width: 100%;">
                  <q-avatar style="margin-top: -25px; margin-bottom: 10px; font-size: 60px; max-height: 50px;">
                    <img :src="agenda.avatar" style="border: #9e9e9e solid 5px;">
                  </q-avatar>
                </div>
                <div class="col-12 q-px-sm">
                  <strong>{{ agenda.time }}</strong>
                </div>
                <div v-if="agenda.desc" class="col-12 q-px-sm" style="font-size: 10px;">
                  {{ agenda.desc }}
                </div>
              </div>
            </template>
          </template>
        </template>

        <template #intervals-header="days">
          <div class="fit flex justify-center items-end">
            <span class="q-calendar-daily__interval-text">{{ showOffset(days) }}</span>
          </div>
        </template>

      </q-calendar>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import { mapGetters } from 'vuex'
import { isCssColor } from '../../util/color'
import { padTime } from '../../util/time'
import { date, colors, Platform } from 'quasar'
import { stop, prevent, stopAndPrevent } from 'quasar/src/utils/event'
import QCalendar from '@quasar/quasar-ui-qcalendar' // ui is aliased from '@quasar/quasar-ui-qcalendar'
import { required } from 'vuelidate/lib/validators'
import 'drag-drop-touch'

const formDefault = {
  event_type_id: 1,
  title: '',
  details: '',
  allDay: false,
  dateTimeStart: '',
  dateTimeEnd: '',
  icon: ''
}

// function leftClick (e) {
//   return e.button === 0
// }

export default {
  name: 'PageIndex',

  data () {
    return {
      locale: 'es',
      titleFormatter: null,
      selectedDate: date.formatDate(Date.now(), 'YYYY-MM-DD'),
      yesterday: date.formatDate(date.subtractFromDate(Date.now(), { days: 1 }), 'YYYY-MM-DD'),
      customers: [],
      stringCustomers: [],
      shrimps: [],
      stringShrimps: [],
      events: [],
      viewOptions: [
        { label: 'Día', value: 'day' },
        { label: 'Semana', value: 'week' },
        { label: 'Mes', value: 'month' }/* ,
        { label: 'Month Interval', value: 'month-interval' },
        { label: 'Custom Interval', value: 'custom-interval' },
        { label: 'Scheduler', value: 'scheduler' },
        { label: 'Week Scheduler', value: 'week-scheduler' },
        { label: 'Month Scheduler', value: 'month-scheduler' },
        { label: 'Resource', value: 'resource' },
        { label: 'Agenda', value: 'agenda' },
        { label: 'Week Agenda', value: 'week-agenda' },
        { label: 'Month Agenda', value: 'month-agenda' },
        { label: 'Custom Agenda', value: 'custom-agenda' } */
      ],
      keyValue: 0,
      direction: 'next',
      weekdays: [0, 1, 2, 3, 4, 5, 6],
      disabledDays: [
        '2020-04-02',
        '2020-04-03',
        '2020-04-04',
        '2020-04-05'
      ],
      addEvent: false,
      contextDay: null,
      eventForm: {
        event_type_id: 2,
        details: '',
        allDay: false,
        dateTimeStart: '',
        dateTimeEnd: '',
        icon: ''/* ,
        bgcolor: '#f2c037' */
      },
      displayEvent: false,
      event: null,
      gmt: '',
      dragging: false,
      draggedEvent: null,
      ignoreNextSwipe: false,
      showDateScrollerAllDay: false,
      showDateTimeScrollerStart: false,
      showDateTimeScrollerEnd: false,
      resources: [
        {
          label: 'John'
        },
        {
          label: 'Mary'
        },
        {
          label: 'Susan'
        },
        {
          label: 'Olivia'
        },
        {
          label: 'Board Room'
        },
        {
          label: 'Room-1'
        },
        {
          label: 'Room-2'
        }
      ],
      agenda: {
        // value represents day of the week
        1: [
          {
            time: '08:00',
            avatar: 'https://cdn.quasar.dev/img/boy-avatar.png',
            desc: 'Meeting with CEO'
          },
          {
            time: '08:30',
            avatar: 'https://cdn.quasar.dev/img/avatar.png',
            desc: 'Meeting with HR'
          },
          {
            time: '10:00',
            avatar: 'https://cdn.quasar.dev/img/avatar1.jpg',
            desc: 'Meeting with Karen'
          }
        ],
        2: [
          {
            time: '11:30',
            avatar: 'https://cdn.quasar.dev/img/avatar2.jpg',
            desc: 'Meeting with Alisha'
          },
          {
            time: '17:00',
            avatar: 'https://cdn.quasar.dev/img/avatar3.jpg',
            desc: 'Meeting with Sarah'
          }
        ],
        3: [
          {
            time: '08:00',
            desc: 'Stand-up SCRUM',
            avatar: 'https://cdn.quasar.dev/img/material.png'
          },
          {
            time: '09:00',
            avatar: 'https://cdn.quasar.dev/img/boy-avatar.png'
          },
          {
            time: '10:00',
            desc: 'Sprint planning',
            avatar: 'https://cdn.quasar.dev/img/material.png'
          },
          {
            time: '13:00',
            avatar: 'https://cdn.quasar.dev/img/avatar1.jpg'
          }
        ],
        4: [
          {
            time: '09:00',
            avatar: 'https://cdn.quasar.dev/img/avatar3.jpg'
          },
          {
            time: '10:00',
            avatar: 'https://cdn.quasar.dev/img/avatar2.jpg'
          },
          {
            time: '13:00',
            avatar: 'https://cdn.quasar.dev/img/material.png'
          }
        ],
        5: [
          {
            time: '08:00',
            avatar: 'https://cdn.quasar.dev/img/boy-avatar.png'
          },
          {
            time: '09:00',
            avatar: 'https://cdn.quasar.dev/img/avatar2.jpg'
          },
          {
            time: '09:30',
            avatar: 'https://cdn.quasar.dev/img/avatar4.jpg'
          },
          {
            time: '10:00',
            avatar: 'https://cdn.quasar.dev/img/avatar5.jpg'
          },
          {
            time: '11:30',
            avatar: 'https://cdn.quasar.dev/img/material.png'
          },
          {
            time: '13:00',
            avatar: 'https://cdn.quasar.dev/img/avatar6.jpg'
          },
          {
            time: '13:30',
            avatar: 'https://cdn.quasar.dev/img/avatar3.jpg'
          },
          {
            time: '14:00',
            avatar: 'https://cdn.quasar.dev/img/linux-avatar.png'
          },
          {
            time: '14:30',
            avatar: 'https://cdn.quasar.dev/img/avatar.png'
          },
          {
            time: '15:00',
            avatar: 'https://cdn.quasar.dev/img/boy-avatar.png'
          },
          {
            time: '15:30',
            avatar: 'https://cdn.quasar.dev/img/avatar2.jpg'
          },
          {
            time: '16:00',
            avatar: 'https://cdn.quasar.dev/img/avatar6.jpg'
          }
        ]
      },
      // Icon picker
      showIconPicker: false,
      pagination: {
        itemsPerPage: 35,
        page: 0
      },
      calendarView: 'month',
      technicalAdvisors: [],
      technicalAdvisorId: -1,
      visitReasons: []
    }
  },
  validations () {
    return {
      eventForm: {
        event_type_id: { required },
        customer_id: { required },
        shrimp_id: { required },
        date: { required },
        time: { required }
      }
    }
  },
  beforeMount () {
    // this.locale = getLocale()
    this.updateFormatters()
  },
  mounted () {
    this.getAllEvents()
    this.getVisitReason()
    this.updateFormatters()
    if (this.can('5.3.1')) {
      this.getTechnicalAdvisors()
    }
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Próximos eventos',
        icon: 'person',
        to: 'upcoming_events'
      }
    ])
  },
  beforeDestroy () {
    this.$root.$off('calendar:next', this.calendarNext)
    this.$root.$off('calendar:prev', this.calendarPrev)
    this.$root.$off('calendar:today', this.calendarToday)
  },
  computed: {
    ...mapGetters('generals', ['can']),
    ...mapGetters({
      // locale: 'calendar/locale',
      titlebarHeight: 'common/titlebarHeight',
      maxDays: 'calendar/maxDays',
      bordered: 'calendar/bordered',
      fiveDayWorkWeek: 'calendar/fiveDayWorkWeek',
      firstDayMonday: 'calendar/firstDayMonday',
      shortMonthLabel: 'calendar/shortMonthLabel',
      showDayOfYearLabel: 'calendar/showDayOfYearLabel',
      shortWeekdayLabel: 'calendar/shortWeekdayLabel',
      shortIntervalLabel: 'calendar/shortIntervalLabel',
      hour24Format: 'calendar/hour24Format',
      hideHeader: 'calendar/hideHeader',
      noScroll: 'calendar/noScroll',
      showMonthLabel: 'calendar/showMonthLabel',
      showWorkWeeks: 'calendar/showWorkWeeks',
      noDefaultHeaderBtn: 'calendar/noDefaultHeaderBtn',
      noDefaultHeaderText: 'calendar/noDefaultHeaderText',
      intervalRange: 'calendar/intervalRange',
      intervalRangeStep: 'calendar/intervalRangeStep',
      intervalHeight: 'calendar/intervalHeight',
      resourceHeight: 'calendar/resourceHeight',
      resourceWidth: 'calendar/resourceWidth',
      dayHeight: 'calendar/dayHeight',
      enableTheme: 'calendar/enableTheme',
      theme: 'calendar/theme'
    }),
    contentClass () {
      if (this.$q.dark.isActive !== true) {
        return 'text-primary bg-white'
      }
      return ''
    },
    intervalStart () {
      return this.intervalRange.min * (1 / this.intervalRangeStep)
    },
    intervalCount () {
      return (this.intervalRange.max - this.intervalRange.min) * (1 / this.intervalRangeStep)
    },
    /* selectedDate: {
      get () {
        return this.$store.state.calendar.selectedDate
      },
      set (date) {
        this.$store.commit('calendar/selectedDate', date)
      }
    }, */
    /* calendarView: {
      get () {
        return this.$store.state.calendar.calendarView
      },
      set (view) {
        this.$store.commit('calendar/calendarView', view)
      }
    }, */
    containerStyle () {
      const styles = {}
      if (this.calendarView === 'month' || this.calendarView.endsWith('resource')) {
        styles.height = 'auto'
      } else {
        styles.height = `calc(100vh - ${this.titlebarHeight}px)`
      }
      styles.width = 'auto'
      return styles
    },
    // convert the events into a map of lists keyed by date
    eventsMap () {
      const map = {}
      this.events.forEach((event) => (map[event.date] = map[event.date] || []).push(event))
      return map
    },
    addOrUpdateEvent () {
      if (this.contextDay && this.contextDay.bgcolor) {
        return 'Editar'
      }
      return 'Nuevo'
    },
    scrollerPopupStyle160 () {
      if (this.$q.screen.lt.sm) {
        return {
          width: '100vw',
          height: '100vh'
        }
      } else {
        return {
          maxHeight: '400px',
          height: '400px',
          width: '160px'
        }
      }
    },
    scrollerPopupStyle280 () {
      if (this.$q.screen.lt.sm) {
        return {
          width: '100vw',
          height: '100vh'
        }
      } else {
        return {
          maxHeight: '400px',
          height: '400px',
          width: '280px'
        }
      }
    },
    title () {
      if (this.titleFormatter && this.locale && this.selectedDate) {
        const date = new Date(this.selectedDate)
        return this.titleFormatter.format(date)
      }
      return ''
    }
  },
  watch: {
    'eventForm.customer_id' () {
      // console.log('watch')
      // this.eventForm.shrimp_id = undefined // Esto hace que se vuelva loco el vuelidate
      // this.$v.$reset()
    },
    // selectedDate (val) {
    //   console.log('selectedDate: ', val)
    // },
    fiveDayWorkWeek () {
      if (this.fiveDayWorkWeek) {
        this.weekdays = [1, 2, 3, 4, 5]
        this.view = '5day'
      } else {
        if (this.view === '5day') {
          this.view = 'month'
        }
        if (this.firstDayMonday) {
          this.weekdays = [1, 2, 3, 4, 5, 6, 0]
        } else {
          this.weekdays = [0, 1, 2, 3, 4, 5, 6]
        }
      }
    },
    firstDayMonday () {
      if (this.fiveDayWorkWeek) {
        this.weekdays = [1, 2, 3, 4, 5]
        this.view = '5day'
      } else {
        if (this.view === '5day') {
          this.view = 'month'
        }
        if (this.firstDayMonday) {
          this.weekdays = [1, 2, 3, 4, 5, 6, 0]
        } else {
          this.weekdays = [0, 1, 2, 3, 4, 5, 6]
        }
      }
    },
    locale () {
      this.updateFormatters()
    }
  },
  methods: {
    getCustomers () {
      this.$q.loading.show()
      this.$api.get('customers').then(res => {
        if (res) {
          this.customers = res.data
          this.stringCustomers = res.data
        }
        this.$q.loading.hide()
      })
    },
    getShrimps () {
      this.$q.loading.show()
      this.$api.get('shrimps').then(res => {
        if (res) {
          this.shrimps = res
          this.stringShrimps = res
        }
        this.$q.loading.hide()
      })
    },
    getAllEvents (technicalAdvisorId = undefined) {
      this.$q.loading.show()
      if (technicalAdvisorId === -1) {
        technicalAdvisorId = undefined
      }
      // Se traen los eventos de la base de datos
      this.$api.get('upcoming_events').then(res => {
        if (res) {
          console.log('yes', res)
          this.events = res
        }
        this.$q.loading.hide()
      })
    },
    customersFilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.customers = this.stringCustomers
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.customers = this.stringCustomers.filter(v => v.legal_name.toLowerCase().indexOf(needle) > -1)
      })
    },
    shrimpsFilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.shrimps = this.stringShrimps.filter(v => v.customer_id === this.eventForm.customer_id)
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.shrimps = this.stringShrimps.filter(v => v.name.toLowerCase().indexOf(needle) > -1 && v.customer_id === this.eventForm.customer_id)
      })
    },
    calendarNext () {
      this.$refs.calendar.next()
    },
    calendarPrev () {
      this.$refs.calendar.prev()
    },
    calendarToday (today) {
      this.selectedDate = today
    },
    modifiedStyle (scope) {
      let date = scope
      if ('resource' in scope) {
        date = scope.timestamp
      }
      if (date.disabled === true) {
        return {
          backgroundColor: '#efefef!important',
          cursor: 'not-allowed'
        }
      }
      return {}
    },
    onChanged (data) {
      // uncomment to see data in console
      // let { start, end } = data
      // console.log('onChanged:', start, end)
    },
    onMoved (moved) {
      // uncomment to see data in console
      // console.log('onMoved:', moved)
    },
    getEvents (dt) {
      const currentDate = QCalendar.parseTimestamp(dt)
      const events = []
      console.log('this.events', this.events, dt)
      for (let i = 0; i < this.events.length; ++i) {
        let added = false
        const event = this.events[i]
        if (event.date === dt) {
          if (event.time !== undefined) {
            if (events.length > 0) {
              // check for overlapping times
              const startTime = QCalendar.parseTimestamp(event.date + ' ' + event.time)
              const endTime = QCalendar.addToDate(startTime, { minute: event.duration })
              for (let j = 0; j < events.length; ++j) {
                const evt = events[j]
                if (evt.time !== undefined) {
                  const startTime2 = QCalendar.parseTimestamp(evt.date + ' ' + evt.time)
                  const endTime2 = QCalendar.addToDate(startTime2, { minute: evt.duration })
                  if (QCalendar.isBetweenDates(startTime, startTime2, endTime2) || QCalendar.isBetweenDates(endTime, startTime2, endTime2)) {
                    evt.side = 'left'
                    event.side = 'right'
                    events.push(event)
                    added = true
                    break
                  }
                }
              }
            }
          }
          if (!added) {
            event.side = undefined
            events.push(event)
          }
        } else if (event.days) {
          // check for overlapping dates
          const startDate = QCalendar.parseTimestamp(event.date)
          const endDate = QCalendar.addToDate(startDate, { day: event.days })
          if (QCalendar.isBetweenDates(currentDate, startDate, endDate)) {
            events.push(event)
            added = true
          }
        }
      }
      console.log('getEvents', events)
      return events
    },
    checkDateTimeStart (/* val */) {
      this.$refs.dateTimeEnd.resetValidation()
      if (this.eventForm.dateTimeStart && this.eventForm.dateTimeEnd) {
        const timestampStart = QCalendar.parseTimestamp(this.eventForm.dateTimeStart)
        const timestampEnd = QCalendar.parseTimestamp(this.eventForm.dateTimeEnd)
        const dayStart = QCalendar.getDayIdentifier(timestampStart)
        const dayEnd = QCalendar.getDayIdentifier(timestampEnd)
        if (dayStart < dayEnd) {
          return true
        } else if (dayStart > dayEnd) {
          return false
        } else {
          const timeStart = QCalendar.getTimeIdentifier(timestampStart)
          const timeEnd = QCalendar.getTimeIdentifier(timestampEnd)
          if (timeStart <= timeEnd) {
            return true
          } else {
            return false
          }
        }
      }
      return false
    },

    checkDateTimeEnd (val) {
      this.$refs.dateTimeStart.resetValidation()
      if (this.eventForm.dateTimeStart && this.eventForm.dateTimeEnd) {
        const timestampEnd = QCalendar.parseTimestamp(this.eventForm.dateTimeEnd)
        const timestampStart = QCalendar.parseTimestamp(this.eventForm.dateTimeStart)
        const dayEnd = QCalendar.getDayIdentifier(timestampEnd)
        const dayStart = QCalendar.getDayIdentifier(timestampStart)
        if (dayEnd > dayStart) {
          return true
        } else if (dayEnd < dayStart) {
          return false
        } else {
          const timeEnd = QCalendar.getTimeIdentifier(timestampEnd)
          const timeStart = QCalendar.getTimeIdentifier(timestampStart)
          if (timeEnd >= timeStart) {
            return true
          } else {
            return false
          }
        }
      }
      return false
    },

    resetForm () {
      this.$set(this, 'eventForm', { ...formDefault })
    },
    showEvent (event) {
      if (this.calendarView.indexOf('agenda') < 0) {
        this.event = event
        this.displayEvent = true
      }
    },
    getEndTime (event) {
      let endTime = QCalendar.parseTimestamp(event.date + ' ' + event.time)
      endTime = QCalendar.addToDate(endTime, { minute: event.duration })
      endTime = QCalendar.getTime(endTime)
      return endTime
    },
    getEventDate (event) {
      const parts = event.date.split('-')
      const date = new Date(parts[0], parts[1] - 1, parts[2])
      return this.dateFormatter.format(date)
    },
    badgeClasses (event, type) {
      const cssColor = isCssColor(event.bgcolor)
      const isHeader = type === 'header'
      return {
        [`text-white bg-${event.bgcolor}`]: !cssColor,
        'full-width': !isHeader && (!event.side || event.side === 'full'),
        'left-side': !isHeader && event.side === 'left',
        'right-side': !isHeader && event.side === 'right'
      }
    },
    badgeStyles (event, type, timeStartPos, timeDurationHeight) {
      const s = {}
      if (isCssColor(event.bgcolor)) {
        s['background-color'] = event.bgcolor
        s.color = colors.luminosity(event.bgcolor) > 0.5 ? 'black' : 'white'
      }
      if (timeStartPos) {
        s.top = timeStartPos(event.time) + 'px'
        s.position = 'absolute'
        if (event.side !== undefined) {
          s.width = '50%'
          if (event.side === 'right') {
            s.left = '50%'
          }
        } else {
          s.width = '100%'
        }
      }
      if (timeDurationHeight) {
        // s.height = timeDurationHeight(event.duration) + 'px' // Esto es para en la vista de día mostrar el alto en función de la duración del evento
      }
      s['align-items'] = 'flex-start'
      return s
    },
    displayStyles (event) {
      const s = {}
      if (isCssColor(event.bgcolor)) {
        s['background-color'] = event.bgcolor
        s.color = colors.luminosity(event.bgcolor) > 0.5 ? 'black' : 'white'
      }
      return s
    },
    onDateChanged ({ scope, event }) {
      if (this.calendarView.indexOf('scheduler') > -1) {
        this.calendarView = 'day-scheduler'
        return
      } else if (this.calendarView.indexOf('agenda') > -1) {
        this.calendarView = 'day-agenda'
        return
      }

      // automatically change to the day selected
      this.calendarView = 'day'
    },
    resourceClicked ({ scope, event }) {
      // console.log('resource clicked:', scope)
    },
    resourceDayClicked ({ scope, event }) {
      // console.log('resource:day clicked:', scope)
    },
    addEventMenu ({ scope, event }) {
      // Verificar si tiene permiso para agregar un nuevo evento
      if (this.can('2.17')) { // Permiso de agregar nueva planificación
        console.log('tiene permiso')
        this.$v.$reset()
        this.getCustomers()
        this.getShrimps()
        if (scope.disabled === true || this.calendarView.indexOf('scheduler') > -1 || this.calendarView.indexOf('agenda') > -1) {
          return
        }
        this.resetForm()
        this.contextDay = { ...scope }
        let timestamp
        if (this.contextDay.hasTime === true) {
          timestamp = this.adjustTimestamp(this.contextDay)
          const endTime = QCalendar.addToDate(timestamp, { hour: 1 })
          this.eventForm.dateTimeEnd = QCalendar.getDateTime(endTime)
        } else {
          timestamp = QCalendar.parseTimestamp(this.contextDay.date + ' 00:00')
        }
        // this.eventForm.dateTimeStart = QCalendar.getDateTime(timestamp)
        this.eventForm.allDay = this.contextDay.hasTime === false
        // this.eventForm.bgcolor = '#f2c037' // starting color
        this.addEvent = true // show dialog
        console.log('this.eventForm', this.eventForm)
        this.eventForm.date = date.formatDate(QCalendar.getDateTime(timestamp), 'YYYY-MM-DD')
        this.eventForm.time = date.formatDate(QCalendar.getDateTime(timestamp), 'HH:mm:ss')
      } else {
        console.log('no tiene permiso')
      }
    },
    editEvent (event) {
      if (event.canEdit) { // Si puede editar sin permiso. Caso jefes o asesores con planificación pendiente
        this.getCustomers()
        this.getShrimps()
        this.resetForm()
        this.contextDay = { ...event }
        let timestamp
        if (event.time) {
          timestamp = QCalendar.parseTimestamp(event.date + ' ' + event.time)
          const endTime = QCalendar.addToDate(timestamp, { minute: event.duration })
          this.eventForm.dateTimeEnd = QCalendar.getDateTime(endTime)
        } else {
          timestamp = QCalendar.parseTimestamp(this.contextDay.date + ' 00:00')
        }
        this.eventForm.dateTimeStart = QCalendar.getDateTime(timestamp)
        this.eventForm.allDay = !event.time
        this.eventForm.bgcolor = event.bgcolor
        // this.eventForm.icon = event.icon
        this.eventForm.title = event.title
        this.eventForm.details = event.details
        this.eventForm.customer_id = event.customer_id
        this.eventForm.shrimp_id = event.shrimp_id
        this.eventForm.date = event.date
        this.eventForm.time = event.time
        this.eventForm.id = event.id
        this.addEvent = true // show dialog
        console.log('editEvent', event)
      } else { // Necesita autorización. Caso asesor con planificación pendiente
        this.$q.dialog({
          title: 'Enviar solicitud',
          message: 'Para editar este evento requiere enviar una solicitud al jefe técnico. Si desea continuar escriba un motivo de edición',
          prompt: {
            model: '',
            isValid: val => val.length > 2,
            type: 'text' // optional
          },
          cancel: true,
          persistent: true
        }).onOk(data => {
          this.$q.loading.show()
          const formData = {
            visiting_planning_id: event.id,
            reason: data
          }
          this.$api.post('edit_appointment_planning_requests', formData).then(res => {
            if (res) {
              this.$q.dialog(res)
            }
          })
          this.$q.loading.hide()
        }).onCancel(() => {
          // console.log('>>>> Cancel')
        }).onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        })
      }
    },
    deleteEvent (event) {
      if (event.canDelete) { // Si puede eliminar sin permiso. Caso jefes o asesores con planificación pendiente
        this.$q.loading.show()
        this.$api.delete(`appointment_plannings/${event.id}`).then(res => {
          if (res) {
            this.getAllEvents()
          }
          this.$q.loading.hide()
        })
      } else {
        // Necesita autorización. Caso asesor con planificación pendiente
        this.$q.dialog({
          title: 'Enviar solicitud',
          message: 'Para eliminar este evento requiere enviar una solicitud al jefe técnico. Si desea continuar escriba un motivo de eliminación',
          prompt: {
            model: '',
            isValid: val => val.length > 2,
            type: 'text' // optional
          },
          cancel: true,
          persistent: true
        }).onOk(data => {
          this.$q.loading.show()
          const formData = {
            visiting_planning_id: event.id,
            reason: data
          }
          this.$api.post('delete_appointment_planning_requests', formData).then(res => {
            if (res) {
              this.$q.dialog(res)
            }
          })
          this.$q.loading.hide()
        }).onCancel(() => {
          // console.log('>>>> Cancel')
        }).onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        })
      }
    },
    findEventIndex (event) {
      for (let i = 0; i < this.events.length; ++i) {
        if (event.title === this.events[i].title &&
          event.date === this.events[i].date) {
          return i
        }
      }
    },
    getDuration (dateTimeStart, dateTimeEnd, unit) {
      const start = QCalendar.makeDateTime(QCalendar.parseTimestamp(dateTimeStart))
      const end = QCalendar.makeDateTime(QCalendar.parseTimestamp(dateTimeEnd))
      const diff = date.getDateDiff(end, start, unit)
      return diff
    },
    convertDurationTime (n) {
      const num = n
      const days = Math.floor(((num / 60) / 24))
      const hours = (num / 60)
      const rhours = Math.floor(hours)
      const rshours = Math.floor(hours - (days * 24))
      const minutes = (hours - rhours) * 60
      const rminutes = Math.round(minutes)
      return (days > 0 ? days + ' days and ' : '') + (rshours > 0 ? rshours + ' hour(s) and ' : '') + rminutes + ' minute(s).'
    },

    onSubmit () {
      this.saveEvent()
    },

    onReset () {

    },

    save () {
      this.$v.eventForm.$touch()
      // Hay que validar que la camaronera seleccionada pertenezca al cliente seleccionado
      const shrimpIsValid = this.shrimps.find(val => val.id === this.eventForm.shrimp_id && val.customer_id === this.eventForm.customer_id)
      if (!this.$v.eventForm.$error && shrimpIsValid) {
        this.$q.loading.show()
        // close the dialog
        const form = { ...this.eventForm }
        const customer = this.customers.find(value => value.id === form.customer_id)
        const eventType = this.visitReasons.find(val => val.id === form.event_type_id)
        form.title = `${eventType.name} ${customer.legal_name}`
        let update = false
        if (form.id) {
          // an update
          update = true
        }
        if (update === true) {
          // Modificar evento en base de datos
          this.$api.put(`appointment_plannings/${form.id}`, form).then(res => {
            if (res) {
              this.getAllEvents()
              this.addEvent = false
              this.$v.eventForm.$reset()
            }
            this.$q.loading.hide()
          })
        } else {
          // Guardar evento en base de datos
          this.$api.post('appointment_plannings', form).then(res => {
            if (res) {
              this.getAllEvents()
              console.log('form', form)
              this.addEvent = false
              this.$v.eventForm.$reset()
            }
            this.$q.loading.hide()
          })
        }

        this.contextDay = null
      } else {
        this.$q.notify({
          type: 'warning',
          message: 'Datos inválidos'
        })
      }
    },
    showOffset (days) {
      if (days.length === 0) return
      const val = padTime(new Date(this.getTimestampString(days[0])).getTimezoneOffset() / 60)
      if (isNaN(val)) return ''
      return 'GMT-' + val
    },
    adjustTimestamp (day) {
      day.minute = day.minute < 15 || day.minute >= 45 ? 0 : 30
      day.time = QCalendar.getTime(day)
      return day
    },
    getTimestampString (day) {
      return QCalendar.getDate(day) + ' ' + QCalendar.getTime(day)
    },
    updateFormatters () {
      try {
        this.dateFormatter = new Intl.DateTimeFormat(this.locale || undefined, {
          weekday: this.shortWeekdayLabel ? 'short' : 'long',
          month: this.shortMonthLabel ? 'short' : 'long',
          day: 'numeric',
          year: 'numeric',
          timeZone: 'UTC'
        })
        this.titleFormatter = new Intl.DateTimeFormat(this.locale || undefined, {
          month: this.shortMonthLabel ? 'short' : 'long',
          year: 'numeric',
          timeZone: 'UTC'
        })
      } catch (e) {
        // console.error('Intl.DateTimeFormat not supported')
        this.dateFormatter = undefined
        this.titleFormatter = undefined
      }
    },
    handleSwipe ({ evt, ...info }) {
      if (this.dragging === false) {
        if (info.duration >= 30 && this.ignoreNextSwipe === false) {
          if (info.direction === 'right') {
            this.calendarPrev()
          } else if (info.direction === 'left') {
            this.calendarNext()
          }
        } else {
          this.ignoreNextSwipe = false
        }
      }
      stopAndPrevent(evt)
    },
    onDragEnter (ev, event) {
      prevent(ev)
    },
    onDragStart (ev, event) {
      this.dragging = true
      this.draggedEvent = event
      stop(ev)
    },
    onDragEnd (ev, event) {
      stopAndPrevent(ev)
      this.resetDrag()
    },
    onDragOver (ev, day, type) {
      if (type === 'day') {
        stopAndPrevent(ev)
        return this.draggedEvent.date !== day.date
      } else if (type === 'interval') {
        stopAndPrevent(ev)
        return this.draggedEvent.date !== day.date && this.draggedEvent.time !== day.time
      }
    },
    onDrop (ev, day, type) {
      ev.preventDefault()
      ev.stopPropagation()
      if (type === 'day') {
        this.draggedEvent.date = day.date
        this.draggedEvent.side = undefined
      } else if (type === 'interval') {
        this.draggedEvent.date = day.date
        this.draggedEvent.time = day.time
        this.draggedEvent.side = undefined
      }
    },
    resetDrag () {
      this.draggedEvent = undefined
      this.dragging = false
      if (Platform.is.desktop) {
        this.ignoreNextSwipe = true
      }
    },
    getAgenda (timestamp) {
      return this.agenda[parseInt(timestamp.weekday, 10)]
    },
    setToday () {
      // this.calendarToday = this.formatDate()
      this.calendarToday(date.formatDate(Date.now(), 'YYYY-MM-DD'))
      // this.$root.$emit('calendar:today', this.formatDate())
    },
    formatDate (date) {
      const d = date !== undefined ? new Date(date) : new Date(),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear()

      return [year, padTime(month), padTime(day)].join('-')
    },
    onPrev () {
      this.calendarPrev()
      // this.$root.$emit('calendar:prev')
    },
    onNext () {
      this.calendarNext()
      // this.$root.$emit('calendar:next')
    },
    beforeApproveOrReject (status, event) {
      if (status === 2) {
        this.$q.dialog({
          title: 'Rechazo',
          message: 'Ingrese el motivo de rechazo',
          prompt: {
            model: '',
            isValid: val => val.length > 2,
            type: 'text' // optional
          },
          cancel: true,
          persistent: true
        }).onOk(data => {
          event.reject_reason = data
          this.approveOrReject(status, event)
        }).onCancel(() => {
        }).onDismiss(() => {
        })
      } else {
        this.approveOrReject(status, event)
      }
    },
    approveOrReject (status, event) {
      this.$q.loading.show()
      const route = status === 1 ? 'approve_appointment_plannings' : 'reject_appointment_plannings'
      this.$api.post(route, event).then(res => {
        if (res) {
          this.$q.dialog({
            title: 'Éxito',
            message: res
          })
          this.getAllEvents(this.technicalAdvisorId)
        }
        this.$q.loading.hide()
      })
    },
    getVisitReason () {
      this.$api.get('visit_reasons').then(res => {
        if (res) {
          this.visitReasons = res
        }
      })
    },
    getTechnicalAdvisors () {
      this.$api.get('my_technical_advisors').then(res => {
        if (res) {
          this.technicalAdvisors = res
          this.technicalAdvisors.unshift({ user_id: -1, full_name: 'Todos' })
        }
      })
    },
    printExcel () {
      console.log('calendarView', this.calendarView)
      if (this.calendarView === 'month') {
        console.log('Month Desde', this.selectedDate)
      } else if (this.calendarView === 'week') {
        console.log('Week Desde', this.selectedDate)
      } else if (this.calendarView === 'day') {
        console.log('Day Desde', this.selectedDate)
      }
      const formData = {
        type: 'excel',
        calendarView: this.calendarView,
        date: this.selectedDate
      }
      this.$api.post('export_calendar', formData, { responseType: 'blob' }).then(res => {
        const blob = new Blob([res])
        // Si es navegador
        const url = window.URL.createObjectURL(blob)
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', 'Planificacion.xlsx')
        document.body.appendChild(link)
        link.click()
      })
    },
    process (type) {
      const action = type === 1 ? 'Aprobar' : 'Rechazar'
      this.$q.dialog({
        title: 'Confirmar',
        message: `¿Realmente desea ${action} todas las planificaciones pendientes por aprobar del asesor seleccionado?`,
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.$q.loading.show()
        const formData = {
          technical_advisor_id: this.technicalAdvisorId
        }
        const route = type === 1 ? 'approve_all_appointment_plannings' : 'reject_all_appointment_plannings'
        this.$api.post(route, formData).then(res => {
          if (res) {
            console.log(res)
            this.getAllEvents(this.technicalAdvisorId)
          }
          this.$q.loading.hide()
        })
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    processEditingAppointmentRequest (status, updateRequest) {
      const formData = updateRequest
      formData.status = status
      this.$api.post('process_editing_appointment_request', formData).then(res => {
        if (res) {
          this.getAllEvents(this.technicalAdvisorId)
          this.displayEvent = false
        }
      })
    },
    processDeletingAppointmentRequest (status, updateRequest) {
      const formData = updateRequest
      formData.status = status
      this.$api.post('process_deleting_appointment_request', formData).then(res => {
        if (res) {
          this.getAllEvents(this.technicalAdvisorId)
          this.displayEvent = false
        }
      })
    }
  }
}
</script>

<style lang="sass">
.q-calendar-daily__day-interval:hover
  background-color: rgba(0,0,255,.1)

.q-calendar-weekly__workweek:hover
  background-color: rgba(0,0,255,.1)

.q-calendar-weekly__day:hover
  background-color: rgba(0,0,255,.1)

.q-calendar-weekly__head-weekday:hover
  background-color: rgba(0,0,255,.1)

.calendar-container
  position: relative

.my-event
  width: 100%
  position: absolute
  font-size: 12px

.full-width
  left: 0
  width: 100%

.left-side
  left: 0
  width: 49.75%

.right-side
  left: 50.25%
  width: 49.75%
  </style>
