<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="my-card text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ shrimp.name }}</b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.5')" round icon="add" color="primary" size="md" :to="`/customers/show/${id}/shrimps/${shrimpsId}/form`">
                <q-tooltip>
                  Agregar piscina
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <!-- <q-card-section class="bg-primary text-white row">
        <div class="col-md-2">
          <div class="text-h6">{{ title }}</div>
          <div class="text-subtitle2">{{ customer.comercial_name }}</div>
          <div class="text-subtitle2">Camaronera {{ shrimp.name }}</div>
        </div>
        <div style="margin: auto" class="row items-center justify-center">
          <q-btn v-if="can('2.1.1.1.5')" class="q-mr-md" color="primary" icon="add" label="Nueva" :to="`/customers/show/${id}/shrimps/${shrimpsId}/form`" />
        </div>
      </q-card-section> -->
      <div class="q-pa-md row">
        <p v-show="showPools && !shrimp.pools.length">La camaronera seleccionada no tiene piscinas</p>
        <div v-for="(pool, index) in shrimp.pools" class="col-md-5" :class="(index + 1) % 2 != 0 ? 'q-pr-md' : ''" :key="index" style="margin-bottom: 2%;">
          <q-chip color="primary" text-color="white">
            <b>Piscina {{ index + 1 }}</b>
          </q-chip>
          <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md" style="border-radius: 1em;">
            <q-card-section class="row">
              <div class="col" style="text-align: center">
                <b class="text-grey-7">Nombre</b>
              </div>
              <div class="col" style="text-align: center">
                <b class="text-grey-7">Área(Hectáreas)</b>
              </div>
              <div class="col" style="text-align: center">
                <b class="text-grey-7">Fotos</b>
              </div>
              <!-- <div class="col-md-3" style="text-align: right">
                <b class="text-grey-7">Acciones</b>
              </div>--->
            </q-card-section>
            <q-separator color="grey-4" />
            <q-card-section class="row">
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ pool.description }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ pool.area }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ pool.images.length }}</p>
              </div>
              <!-- <div class="col-md-3" style="text-align: right">
                <q-btn flat icon="edit" size="md" color="primary" dense
                  v-if="can('2.1.1.1.7')" :to="`/customers/show/${id}/shrimps/${shrimpsId}/form/${pool.id}`">
                  <q-tooltip>
                    Editar
                  </q-tooltip>
                </q-btn>
                <q-btn v-if="can('2.1.1.1.8')" @click="deletePool(pool.id)" flat icon="delete" size="md" color="primary"
                  dense>
                  <q-tooltip>
                    Eliminar
                  </q-tooltip>
                </q-btn>
              </div>--->
            </q-card-section>
            <q-separator color="grey-4" />
              <!--<q-card-section class="row">
              <div v-if="can('2.1.1.1.29.3')" class="col-auto q-pr-md">
                <q-btn icon="trending_up" color="primary" size="sm"
                :to="`/customers/show/${id}/shrimps/${shrimpsId}/pool/${pool.id}/food_projection`" rounded>
                <b class="q-pl-sm q-pt-xs">Proyección alimentación</b>
                </q-btn>
              </div>
              <div v-if="can('2.1.1.1.29.7')" class="col-auto q-pr-md">
                <q-btn icon="trending_up" color="primary" size="sm"
                :to="`/customers/show/${id}/shrimps/${shrimpsId}/pool/${pool.id}/fishing_projection`" rounded>
                <b class="q-pl-sm q-pt-xs">Proyección de pesca</b>
                </q-btn>
              </div> <div class="col-auto q-pr-md">
                <q-btn icon="monetization_on" color="primary" size="sm" rounded>
                  <b class="q-pl-sm q-pt-xs">Costos</b>
                </q-btn>
              </div>
              <div class="col-auto q-pr-md">
                <q-btn label="Ubicación" icon="location_on" color="primary"
                size="sm" rounded></q-btn>
              </div>
            </q-card-section>
            <div class="q-pa-md row">
              <div class="col-md-4">
                Piscina {{ index + 1 }}
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-2">
                <router-link v-if="can('2.1.1.1.7')" :to="`/customers/show/${id}/shrimps/${shrimpsId}/form/${pool.id}`">Editar</router-link>
              </div>
              <div class="col-md-2">
                <a v-if="can('2.1.1.1.8')" href="#" @click="deletePool(pool.id)">Eliminar</a>
              </div>
              <div class="col-md-2">
                Fotos
              </div>
              <br>
            </div>
             <q-card-section horizontal>
              <q-card-section class="col-8">
                Nombre piscina: {{ pool.description }}
                <br>
                Área(Hectáreas): {{ pool.area }}
                <q-card-actions align="stretch" vertical>
                  <div class="q-pt-md row">
                  <div class="col-md-12">
                    <q-btn size="md" flat label="Proyección alimentación" color="primary" :to="`/customers/show/${id}/shrimps/${shrimpsId}/pool/${pool.id}/food_projection`"/>
                  </div>
                  <div class="col-md-12">
                    <q-btn size="md" flat label="Costos" color="primary" />
                  </div>
                </div>
                </q-card-actions>
              </q-card-section>

              <q-separator vertical />

              <q-card-section class="col-4">
                <q-img style="width: 65%" src="maps.png"/>
              </q-card-section>
            </q-card-section> -->
          </q-card>
        </div>
      </div>
    </q-card>
  </q-page>
</template>
<script>
// import { FormMixin } from '../../../mixins/form'
import { mapGetters } from 'vuex'
export default {
  /* mixins: [FormMixin], */
  data () {
    return {
      id: this.$route.params.id,
      shrimpsId: this.$route.params.shrimpsId,
      poolId: 7,
      title: 'Cliente',
      fullName: 'Nombre cliente',
      route: 'customers',
      actions: [
        {
          label: 'Acción 1',
          action: ''
        },
        {
          label: 'Acción 2',
          action: ''
        },
        {
          label: 'Acción 3',
          action: ''
        }
      ],
      customer: {},
      shrimp: {},
      showPools: false
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  mounted () {
    this.$q.loading.show()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Camaroneras',
        icon: 'person',
        to: '/client_shrimps'
      },
      {
        label: 'Piscinas',
        icon: 'person',
        to: ''
      }
    ])
    this.getCustomer()
    this.getShrimp()
  },
  methods: {
    deletePool (poolId) {
      this.$q.dialog({
        title: 'Confirmar',
        message: '¿Realmente desea eliminar la piscina?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.$api.delete(`pools/${poolId}`).then(res => {
          if (res) {
            this.getShrimp()
            this.$q.dialog({
              title: 'Éxito',
              message: 'La piscina ha sido eliminada exitosamente.'
            })
          }
        })
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    getCustomer () {
      this.$api.get('client').then(res => {
        if (res) {
          this.customer = res
        }
      })
    },
    getShrimp () {
      this.$api.get(`pools_client/${this.shrimpsId}`).then(res => {
        if (res) {
          this.shrimp = res
          this.showPools = true
        }
        this.$q.loading.hide()
      })
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
</style>
