<template>
  <q-page>
    <!-- <q-btn-group push>
      <q-btn color="primary" push label="Acción 1" icon="timeline" />
      <q-btn push label="Acción 2" icon="visibility" />
      <q-btn text-color="primary" push label="Acción 3" icon="update" />
    </q-btn-group> -->
    <q-card class="q-pa-sm">
      <FormHeader :title="title" :subtitle="subtitle" :save="save" />
      <div v-for="(day, index) in form.days" class="row q-pa-md" :key="index">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 q-pt-md">
          <label for=""><b>{{ day.name }}</b></label>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 q-pr-md">
          <q-input type="time" v-model="day.start_time" label="Hora inicio" :error="$v.form.days.$each[index].start_time.$error" error-message="Seleccione hora de inicio" stack-label/>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <q-input type="time" v-model="day.end_time" label="Hora final" :error="$v.form.days.$each[index].end_time.$error" error-message="Seleccione hora final" stack-label/>
        </div>
      </div>
    </q-card>

    <q-card>
      <q-separator />
      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
import FormHeader from 'components/FormHeader'
export default {
  components: {
    FormHeader
  },
  data () {
    return {
      title: 'Restricción de horarios',
      subtitle: 'Modificar',
      route: 'schedules',
      days: ['', ''],
      form: {
        days: [
          {
            name: 'Domingo',
            start_time: ''
          },
          {
            name: 'Lunes'
          },
          {
            name: 'Martes'
          },
          {
            name: 'Miércoles'
          },
          {
            name: 'Jueves'
          },
          {
            name: 'Viernes'
          },
          {
            name: 'Sábado'
          }
        ]
      }
    }
  },
  computed: {
  },
  validations () {
    return {
      form: {
        days: {
          $each: {
            start_time: {
              required,
              minValue: function (value, element) {
                return value < element.end_time
              }
            },
            end_time: {
              required,
              minValue: function (value, element) {
                return value > element.start_time
              }
            }
          }
        }
      }
    }
  },
  mounted () {
    this.getRecords()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Restricción de horarios',
        icon: 'person',
        to: 'schedules'
      }
    ])
  },
  methods: {
    getRecords () {
      this.$api.get('schedules').then(res => {
        if (res) {
          this.form.days = res
        }
      })
    },
    save () {
      this.$v.form.$touch()
      console.log('save', this.form)
      console.log('save', this.$v.form.$error)
      if (!this.$v.form.$error) {
        this.$q.loading.show()
        // Convertir horas a utc
        console.log('this.form.days[0].start_time', this.form.days[0].start_time)
        console.log(new Date(this.form.days[0].start_time).toUTCString())
        this.$api.put('schedules', this.form).then(res => {
          if (res) {
            this.$q.notify({
              type: 'positive',
              message: 'Registro actualizado exitosamente'
            })
          }
        })
        this.$q.loading.hide()
      }
    }
  }
}
</script>
<style lang="sass" scoped>
.my-custom-toggle
  border: 1px solid #027be3
</style>
