<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }}</b></div>
              <!-- <q-btn @click="printReport">Imprimir</q-btn> -->
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.36')" label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar reporte
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
        <q-card flat class="q-pa-sm row" style="width: 100%;">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 q-pb-md q-pr-md">
            <q-input type="date" v-model="form.begin_date" label="Fecha de incio" stack-label
            error-message="Seleccione fecha de inicio" :error="$v.form.begin_date.$error"
              @blur="$v.form.begin_date.$touch()" outlined :readonly="form.size.records.length > 0"/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 q-pb-md q-pr-md">
              <q-input type="date" color="primary" label="Fecha final" outlined v-model="form.end_date"
              error-message="Seleccione fecha de inicio" :error="$v.form.end_date.$error"
              @blur="$v.form.end_date.$touch()" stack-label/>
          </div>
        </q-card>
        <template v-if="!insert">
          <q-card class="q-pa-sm row" style="width: 100%" :bordered="false" flat>
          <div class="col-md-6">
            <q-btn-dropdown v-if="can('2.1.1.1.36')" color="primary" icon="add" label="Agregar piscina" rounded>
              <q-list>
                <q-item v-for="(pool, index) in pools" clickable v-close-popup :key="index"
                  :disable="pool.disable" @click="addPool(pool)">
                  <q-item-section>
                    <q-item-label>{{ pool.description }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
          <div class="col-md-6" style="text-align: right">
            <q-btn v-if="can('2.1.1.1.36')" class="q-ma-sm" round icon="add" color="primary" size="md" @click="addReport('')" :disabled="!form.size.records.length">
                <q-tooltip>
                  Nuevo reporte de tamaño
                </q-tooltip>
              </q-btn>
          </div>
        </q-card>
        <q-card flat class="text-primary">
          <q-card-section>
            <div class="row">
              <div class="col-md-3 row" v-for="item in products" :key="item.id">
                <p class="circle" :style="`background-color: ${item.color};`"></p>
                <p class="q-pt-xs q-pl-xs">{{ item.name }}</p>
              </div>
            </div>
          </q-card-section>
        </q-card>
        <q-card flat class="text-primary">
          <q-card-section>
            <div class="row">
              <div class="col-md-12">
                <div class="text-h4"><b>Tamaño</b></div>
              </div>
            </div>
          </q-card-section>
        </q-card>
      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div v-for="(item, key) in form.size.inPools" class="col" style="text-align: center" :key="key">
              <b class="text-grey-7">{{ item.description }}
                <q-btn icon="close" color="red" size="sm" @click="deletePool(item)" flat round>
                  <q-tooltip>Eliminar piscina</q-tooltip>
                </q-btn>
              </b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Fecha</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Acción</b>
            </div>
            </q-card-section>
            <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(item, key) in form.size.records" :key="key">
              <div v-for="(item2, key2) in item" class="col" style="text-align: center" :key="key2">
                <p :style="`color: ${item2.color ? item2.color : 'grey'} !important`">{{ item2.value }}</p>
              </div>
              <div class="col" style="text-align: center">
                <q-btn flat icon="edit" size="md" color="primary" dense @click="addReport(item)"
                  v-if="can('2.1.1.1.36')">
                  <q-tooltip>
                    Editar
                  </q-tooltip>
                </q-btn>
              </div>
            </q-card-section>
          </q-card>
      </div>
        <q-card flat class="text-primary">
          <q-card-section>
            <div class="row">
              <div class="col-md-12">
                <div class="text-h4"><b>Crecimiento</b></div>
              </div>
            </div>
          </q-card-section>
        </q-card>
      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div v-for="(item, key) in form.growth.header" class="col" style="text-align: center" :key="key">
              <b class="text-grey-7">{{ item }}</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Fecha</b>
            </div>
            </q-card-section>
            <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(item, key) in form.growth.records" :key="key">
              <div v-for="(item2, key2) in item" class="col" style="text-align: center" :key="key2">
                <p class="text-grey-7">{{ item2 }}</p>
              </div>
            </q-card-section>
          </q-card>
      </div>
      <q-card flat class="text-primary">
          <q-card-section>
            <div class="row">
              <div class="col-md-12">
                <div class="text-h4"><b>Promedio de crecimiento en base al producto</b></div>
              </div>
            </div>
          </q-card-section>
      </q-card>
      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Fecha</b>
            </div>
            <div v-for="(item, key) in form.average.header" class="col" style="text-align: center" :key="key">
              <b class="text-grey-7">{{ item }}</b>
            </div>
            </q-card-section>
            <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(item, key) in form.average.records" :key="key">
              <div v-for="(item2, key2) in item" class="col" style="text-align: center" :key="key2">
                <p class="text-grey-7">{{ item2 }}</p>
              </div>
            </q-card-section>
          </q-card>
      </div>
        </template>
    </q-card>
    <q-dialog v-model="modalAddReport">
      <q-card class="modal text-primary" style="border-radius: 10px;">
        <q-card-section class="row q-pb-none">
          <div class="text-h6"><b>Reporte de tamaño</b></div>
          <q-space />
          <q-btn color="negative" icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section>
          <div class="row q-pa-sm">
            <div class="col-md-6 q-pr-sm">
              <q-select label="Piscina" v-model="growthForm.poolId" :error="$v.growthForm.poolId.$error"
              :options="form.size.inPools" @blur="$v.growthForm.poolId.$touch()" error-message="Seleccione piscina"
              map-options emit-value option-value="id" option-label="description" @input="changePool"/>
            </div>
            <div class="col-md-6">
              <q-select label="Fecha" v-model="growthForm.date" :error="$v.growthForm.date.$error"
              :options="form.size.dates" @blur="$v.growthForm.date.$touch()" error-message="Seleccione fecha"
              map-options emit-value @input="changePool"/>
            </div>
            <div class="col-md-6 q-pr-sm">
              <q-input type="number" label="Tamaño" v-model="growthForm.size" :error="$v.growthForm.size.$error"
              @blur="$v.growthForm.size.$touch()" error-message="Ingrese tamaño"/>
            </div>
            <div class="col-md-6">
              <q-select label="Producto" v-model="growthForm.product_id" :error="$v.growthForm.product_id.$error"
              :options="products" @blur="$v.growthForm.product_id.$touch()" error-message="Seleccione producto"
              map-options emit-value option-value="id" option-label="name"/>
            </div>
          </div>
            <div class="row" style="text-align: right">
              <div class="col-md-12">
                <q-btn color="primary" rounded label="Agregar" @click="saveReport"></q-btn>
              </div>
            </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>
<script>
// Objeto base para el modal por la reactividad de Vue
const growthForm = {
  poolId: null,
  date: null,
  size: null,
  product_id: null
}
import { required } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../../mixins/form'
import { mapGetters } from 'vuex'
export default {
  mixins: [FormMixin],
  components: {
  },
  data () {
    return {
      id: this.$route.params.reportId,
      customerID: this.$route.params.id,
      shrimpId: this.$route.params.shrimp_id,
      title: 'Crecimiento de camarón',
      subtitle: '',
      route: 'shrimp_growth_reports',
      form: {
        size: {
          header: [],
          records: []
        }
      },
      size: {
        pools: []
      },
      growth: {
        pools: []
      },
      stayAfterSave: true,
      pools: [],
      modalAddReport: false,
      growthForm,
      products: []
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  validations () {
    return {
      form: {
        begin_date: { required },
        end_date: {
          required,
          minValue: (value) => {
            return value >= this.form.begin_date
          }
        }
      },
      growthForm: {
        poolId: { required },
        date: { required },
        size: { required },
        product_id: { required }
      }
    }
  },
  async mounted () {
    this.getCustomer()
    this.getProducts()
  },
  methods: {
    getCustomer () {
      this.$api.get(`customers/${this.customerID}`).then(res => {
        if (res) {
          this.customer = res
          // const shrimpPools = (this.customer.shrimps.find(val => val.id === parseInt(this.shrimpId))).pools
          // this.pools = shrimpPools
        }
      })
    },
    setAvailablePools () {
      const pools = this.pools

      pools.forEach(element => {
        element.disable = false
      })

      this.size.pools.forEach(element => {
        pools.forEach(element2 => {
          if (element.pool_id === element2.id) {
            element2.disable = true
          } else {
          }
        })
      })
      this.pools = pools
      console.log(this.size, 'form')
    },
    beforeSave () {
      this.form.shrimp_id = this.shrimpId
    },
    afterGetRecord () {
      this.pools = this.form.availablePools
    },
    afterSave (response = undefined) {
      console.log('afterSave', response.id)
      this.id = response.id
      this.getRecord()
      this.insert = false
      this.$router.push('/customers/show/' + this.customerID + '/shrimps/' + this.shrimpId + '/growth_reports/form/' + response.id)
    },
    afterMounted () {
      this.$emit('setBreadcrumb', [
        {
          label: 'Home',
          icon: 'home',
          to: '/menu'
        },
        {
          label: 'Clientes',
          icon: 'person',
          to: '/customers'
        },
        {
          label: 'Gestión Cliente',
          icon: 'person',
          to: '/customers/show/' + this.customerID
        },
        {
          label: 'Camaroneras',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps`
        },
        {
          label: 'Reportes de crecimiento',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps/${this.shrimpId}/growth_reports`
        },
        {
          label: this.insert ? 'Nuevo reporte' : 'Ver reporte',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps/${this.shrimpId}/growth_reports/form`
        }
      ])
    },
    addPool (pool) {
      console.log('pool', pool)
      // Insertar registros para piscina en base de datos
      const formData = {
        poolId: pool.id,
        reportId: this.id
      }
      this.$api.post('shrimp_growth_reports_pools', formData).then(res => {
        if (res) {
          console.log('todo bien')
          this.getRecord()
          this.printReport()
        }
      })
      /* this.size.pools.push({
        pool_id: pool.id,
        description: pool.description
      })
      this.growth.pools.push({
        pool_id: pool.id,
        description: pool.description
      }) */
      // this.setAvailablePools()
    },
    addReport (record) {
      this.$v.growthForm.$reset()
      this.growthForm = { ...growthForm }
      if (record) { // Si es edición se asigna al modal la fecha del registro
        this.growthForm.date = record[record.length - 1].valueOriginal
      }
      this.modalAddReport = true
    },
    saveReport () {
      this.$v.growthForm.$touch()
      if (!this.$v.growthForm.$error) {
        this.growthForm.reportId = this.id
        this.$api.put('shrimp_growth_reports_pools', this.growthForm).then(res => {
          if (res) {
            console.log('saved')
            this.getRecord()
            this.printReport()
            this.modalAddReport = false
            this.growthForm = { ...growthForm }
            this.$v.growthForm.$reset()
          }
        })
      }
    },
    getProducts () {
      this.$api.get('products').then(res => {
        if (res) {
          console.log('productos', res)
          this.products = res
        }
      })
    },
    printReport () {
      this.$api.get(`shrimp_growth_reports_print/${this.id}`).then(res => {
        if (res) {
          /* this.$api.get(`filepdf/${res}`, { responseType: 'blob' }).then(res2 => {
            const blob = new Blob([res2])
            const ext = res.split('.')
            this.ext = ext[ext.length - 1]
            const fileName = 'Reporte de crecimiento.pdf'
            this.fileName = fileName

            if (this.$q.platform.is.mobile) { // Si es teléfono
              // this.saveBlob2File(fileName, blob)
            } else { // Si es navegador
              const url = window.URL.createObjectURL(blob)
              const link = document.createElement('a')
              link.href = url
              link.setAttribute('download', fileName)
              document.body.appendChild(link)
              link.click()
            }
            this.$q.loading.hide()
          }).catch(function (error) {
            console.log('error descargando', error)
          }) */
        }
      })
    },
    deletePool (pool) {
      this.$q.dialog({
        title: 'Confirmar',
        message: `¿Desea eliminar la piscina "${pool.description}" del reporte de crecimiento?`,
        cancel: true,
        persistent: true
      }).onOk(() => {
        // console.log('>>>> OK')
        // Insertar registros para piscina en base de datos
        const formData = {
          poolId: pool.id,
          reportId: this.id
        }
        this.$api.delete('shrimp_growth_reports_pools', { params: formData }).then(res => {
          if (res) {
            console.log('todo bien')
            this.getRecord()
            this.printReport()
          }
        })
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    changePool () {
      // Al cambiar piscina o fecha se asignan al modal los valores de tamaño y producto correspondiente
      const found = this.form.sizeOriginal.find(val => val.pool_id === this.growthForm.poolId && val.date === this.growthForm.date)
      this.growthForm.size = found.value
      this.growthForm.product_id = found.product_id
    }
  }
}
</script>
<style lang="css">
.circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
</style>
