<template>
  <q-page>
    <div>
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <q-select label="Año" v-model="year" :options="years" @input="getRecords"/>
              <q-btn class="q-ma-sm" v-if="can('2.1.1.1.36')" round icon="add" color="primary" size="md" @click="addWeek">
                <q-tooltip>
                  Nuevo reporte de crecimiento
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ma-sm" v-if="can('2.1.1.1.36')" round icon="save" color="primary" size="md" @click="saveReports">
                <q-tooltip>
                  Guardar reportes de crecimiento
                </q-tooltip>
              </q-btn>
              <!-- <q-btn class="q-ma-sm" round icon="get_app" color="primary" size="md" @click="exportTable">
                <q-tooltip>
                  Exportar
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ml-sm" round  @click="$q.fullscreen.toggle()"
                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="primary" size="md">
                <q-tooltip>
                </q-tooltip>
              </q-btn> -->
            </div>
            <!-- <div class="col-md-2">
              <q-input v-model="text" placeholder="Buscar" @input="filter" outlined dense>
                <template v-slot:append>
                  <q-icon v-if="text !== ''" name="close" @click="text = '',pools = stringPools" class="cursor-pointer" />
                  <q-icon name="search" />
                </template>
              </q-input>
            </div> -->
          </div>
        </q-card-section>
      </q-card>
      <div class="q-pa-sm">

      </div>
      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Semana</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Alimento</b>
            </div>
            <div class="col" style="text-align: right">
              <b class="text-grey-7">Incremento</b>
            </div>
            </q-card-section>
            <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(item, index) in records" :key="index">
              <div class="col">
                <!-- <p class="text-grey-7">{{ item.week }}</p> -->
                <q-select class="q-pr-md" label="Seleccione semana" :options="weeks" v-model="item.week" emit-value map-options/>
              </div>
              <div class="col" style="text-align: center">
                <q-select class="q-pr-md" label="Seleccione alimento" :options="foods" v-model="item.food_id" emit-value map-options
                option-value="id" option-label="name"/>
              </div>
              <div class="col" style="text-align: right">
                <q-input label="Ingrese incremento" v-model="item.inc" />
              </div>
            </q-card-section>
            <q-separator color="grey-4" />
          </q-card>
        </div>
      </div>
      <q-dialog v-model="showLink">
        <q-card>
          <q-card-section>
            <div class="text-h6">Enlace para compartir</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <a :href="link" target="_blank">{{ link }}</a>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn color="primary" flat @click="copyClipboard">Copiar</q-btn>
            <q-btn flat label="Cerrar" color="primary" v-close-popup/>
          </q-card-actions>
        </q-card>
      </q-dialog>
  </q-page>
</template>

<script>
import { exportFile, copyToClipboard } from 'quasar'
function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== undefined
    ? formatFn(val)
    : val

  formatted = formatted === undefined || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')
  return `"${formatted}"`
}
import { mapGetters } from 'vuex'
import env from '../../../../../env'
export default {
  components: {},
  data () {
    return {
      title: 'Reporte de crecimiento',
      id: this.$route.params.id,
      shrimpId: this.$route.params.shrimp_id,
      params: {
        shrimp_id: this.$route.params.shrimp_id
      },
      route: 'shrimp_growths',
      cols: [
        { name: 'id', required: true, label: 'Código', align: 'left', field: 'id', sortable: true },
        { name: 'technical_advisor', required: true, label: 'Asesor técnico', align: 'left', field: row => row.technical_advisor.full_name, sortable: true },
        { name: 'begin_date', required: true, label: 'Fecha de inicio', align: 'left', field: 'begin_date', sortable: true },
        { name: 'end_date', required: true, label: 'Fecha de final', align: 'left', field: 'end_date', sortable: true },
        { name: 'pool_number', required: true, label: 'Número de piscinas', align: 'left', field: 'pool_number', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ],
      expanded: false,
      text: '',
      records: [],
      stringRecords: [],
      link: null,
      showLink: false,
      weeks: [
      ],
      foods: [
      ],
      year: null,
      years: []
    }
  },
  async mounted () {
    await this.getShrimpGrowthsYears()
    await this.getRecords()
    this.getFoods()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Clientes',
        icon: 'person',
        to: '/customers'
      },
      {
        label: 'Gestión Cliente',
        icon: 'person',
        to: '/customers/show/' + this.id
      },
      {
        label: 'Camaroneras',
        icon: 'person',
        to: `/customers/show/${this.id}/shrimps`
      },
      {
        label: 'Reportes de crecimiento',
        icon: 'person',
        to: `/customers/show/${this.id}/shrimps/${this.shrimpId}/growth_reports`
      }
    ])
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  methods: {
    async getRecords () {
      this.params.year = this.year
      this.$api.get(this.route, { params: this.params }).then(res => {
        this.records = res
        // this.stringRecords = res
      })
    },
    exportTable () {
      // naive encoding to csv format
      // const columns = JSON.parse(JSON.stringify(this.cols))
      const columns = Object.create(this.cols)
      if (columns[columns.length - 1].name === 'actions') {
        columns.pop()
      }

      console.log('col', columns)
      const content = [columns.map(col => wrapCsvValue(col.label))].concat(
        this.records.map(row => columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === undefined ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    filter () {
      if (this.text === '') {
        this.records = this.stringRecords
        return
      }
      const needle = this.text.toLowerCase()
      this.records = JSON.parse(JSON.stringify(this.stringRecords))
      this.records = this.stringRecords.filter(val => {
        return val.id.toString().indexOf(needle) > -1 || val.analysis_date.toLowerCase().indexOf(needle) > -1 ||
        val.user.technical_advisor.full_name.toLowerCase().indexOf(needle) > -1 ||
        val.applicant.toLowerCase().indexOf(needle) > -1
      })
    },
    printGrowthReport (id) {
      this.$api.get(`shrimp_growth_reports_print/${id}`).then(res => {
        if (res) {
          this.$api.get(`filepdf/${res}`, { responseType: 'blob' }).then(res2 => {
            const blob = new Blob([res2])
            const ext = res.split('.')
            this.ext = ext[ext.length - 1]
            const fileName = 'Reporte de crecimiento.pdf'
            this.fileName = fileName

            if (this.$q.platform.is.mobile) { // Si es teléfono
              // this.saveBlob2File(fileName, blob)
            } else { // Si es navegador
              const url = window.URL.createObjectURL(blob)
              const link = document.createElement('a')
              link.href = url
              link.setAttribute('download', fileName)
              document.body.appendChild(link)
              link.click()
            }
            this.$q.loading.hide()
          }).catch(function (error) {
            console.log('error descargando', error)
          })
        }
      })
    },
    generateLinkGrowthReport (id) {
      this.$api.get(`shrimp_growth_reports_print/${id}`).then(res => {
        if (res) {
          console.log('res', `${env.apiUrl}filepdf/${res}`)
          this.link = `${env.apiUrl}filepdf/${res}`
          this.showLink = true
        }
      })
    },
    copyClipboard () {
      console.log('copyClipboard')
      copyToClipboard(this.link).then(() => {
        console.log('bien')
      })
        .catch(() => {
          console.log('mal')
        })
    },
    addWeek () {
      // add weeks
      this.records.unshift({
        year: this.year,
        week: this.weeks[0].value
      })
    },
    saveReports () {
      // Guardar reportes
      // Si hay reportes del año seleccionado se guardan, si no error
      if (this.records.length) {
        this.$q.loading.show()
        this.$api.post('shrimp_growths', { records: this.records, shrimpId: this.shrimpId }).then(res => {
          this.$q.loading.hide()
          this.$q.notify({
            type: 'positive',
            message: 'Registros guardados exitosamente'
          })
        })
      } else {
        this.$q.notify({
          type: 'warning',
          message: 'Debe agregar al menos un registro'
        })
      }
    },
    async getShrimpGrowthsYears () {
      await this.$api.get('shrimp_growths_years', { params: { shrimpId: this.shrimpId } }).then(res => {
        if (res) {
          this.year = res.year
          this.years = res.years
          this.weeks = res.weeks
        }
      })
    },
    getFoods () {
      this.$api.get('products').then(res => {
        this.foods = res
        console.log({ res })
      })
    }
  }
}
</script>
<style>
</style>
