<template>
  <q-page>
    <div>
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <q-btn class="q-ma-sm" v-if="can('2.1.1.1.44')" round icon="add" color="primary" size="md" :to="`${$route.path}/form`">
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <div class="q-pa-sm">
        <div class="col-12">
          <q-select class="q-pa-sm" label="Ordenar por" v-model="sortType" @input="sort"
          :options="[{label: 'Más recientes', value: 1}, {label: 'Más antiguos', value: 2}]" emit-value map-options/>
        </div>
      </div>
      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Código</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Piscinas</b>
            </div>
            </q-card-section>
            <q-separator color="grey-4" />
            <q-list>
              <q-item class="row" v-for="(item, index) in records" :key="index" @click="showRecordOptions(item)" clickable>
              <div class="col">
                <p class="text-grey-7">{{ item.id || 'Registro local' }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.poolNames }}</p>
              </div>
            </q-item>
            </q-list>
            <q-separator color="grey-4" />
          </q-card>
        </div>
      </div>
      <q-dialog v-model="showLink">
        <q-card>
          <q-card-section>
            <div class="text-h6">Enlace para compartir</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <a :href="link" target="_blank">{{ link }}</a>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn color="primary" flat @click="copyClipboard">Copiar</q-btn>
            <q-btn flat label="Cerrar" color="primary" v-close-popup/>
          </q-card-actions>
        </q-card>
      </q-dialog>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import { ListMixin } from '../../../mixins/list'
export default {
  mixins: [ListMixin],
  data () {
    return {
      id: this.$route.params.id,
      shrimpId: this.$route.params.shrimpId,
      params: {
        shrimp_id: this.$route.params.shrimpId
      },
      route: 'compendium',
      cols: [
        { name: 'id', required: true, label: 'Código', align: 'left', field: 'id', sortable: true },
        { name: 'technical_advisor', required: true, label: 'Asesor técnico', align: 'left', field: row => row.technical_advisor.full_name, sortable: true },
        { name: 'begin_date', required: true, label: 'Fecha de inicio', align: 'left', field: 'begin_date', sortable: true },
        { name: 'end_date', required: true, label: 'Fecha de final', align: 'left', field: 'end_date', sortable: true },
        { name: 'pool_number', required: true, label: 'Número de piscinas', align: 'left', field: 'pool_number', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ],
      expanded: false,
      text: '',
      records: [],
      stringRecords: [],
      link: null,
      showLink: false,
      downloadUrl: 'harvest_reports_print',
      downloadFilename: 'Reporte de cosecha',
      upload: false,
      file: '',
      fileError: false,
      shrimp: {},
      sortType: 1
    }
  },
  mounted () {
    this.getShrimp()
    this.getRecords()
  },
  computed: {
    ...mapGetters('generals', ['can']),
    title () {
      return this.shrimp ? `Compendio ${this.shrimp.name}` : ''
    }
  },
  methods: {
    async getRecords () {
      /* this.$api.get(this.route, { params: this.params }).then(res => {
        this.records = res
        this.stringRecords = res
      }) */
      const res = await this.$api.getData(this.route, { params: this.params })
      this.records = res
      this.stringRecords = res
    },
    async getShrimp () {
      /* this.$api.get(`shrimps/${this.shrimpId}`).then(res => {
        if (res) {
          this.shrimp = res
        }
      }) */
      const res = await this.$api.getData(`shrimps/${this.shrimpId}`)
      if (res) {
        this.shrimp = res
      }
    },
    printHarvestReport (projectionId) {
      this.$api.get(`harvest_reports_print/${projectionId}`).then(res => {
        if (res) {
          this.$api.get(`filepdf/${res}`, { responseType: 'blob' }).then(res2 => {
            const blob = new Blob([res2])
            const ext = res.split('.')
            this.ext = ext[ext.length - 1]
            const fileName = 'Reporte de cosecha.pdf'
            this.fileName = fileName

            if (this.$q.platform.is.mobile) { // Si es teléfono
              // this.saveBlob2File(fileName, blob)
            } else { // Si es navegador
              const url = window.URL.createObjectURL(blob)
              const link = document.createElement('a')
              link.href = url
              link.setAttribute('download', fileName)
              document.body.appendChild(link)
              link.click()
            }
            this.$q.loading.hide()
          }).catch(function (error) {
            console.log('error descargando', error)
          })
        }
      })
    },
    generateLinkGrowthReport (id) {
      this.$api.get(`harvest_reports_print/${id}`).then(res => {
        if (res) {
          console.log('res', `${process.env.apiUrl}filepdf/${res}`)
          this.link = `${process.env.apiUrl}filepdf/${res}`
          this.showLink = true
        }
      })
    },
    showRecordOptions (analysis) {
      this.$q.bottomSheet({
        message: `Acciones compendio ${analysis.id}`,
        actions: [
          {
            color: 'primary',
            label: 'Editar',
            icon: 'edit',
            id: 'edit'
          }/* ,
          {
            color: 'primary',
            label: 'Enviar Mail',
            icon: 'mail',
            id: 'mail'
          },
          {
            color: 'primary',
            label: 'Descargar',
            icon: 'file_download',
            id: 'download'
          },
          {
            color: 'primary',
            label: 'Ver enlace',
            icon: 'link',
            id: 'getLink'
          } */
        ]
      }).onOk(action => {
        console.log('Action chosen:', action.id)
        this[action.id](analysis.id || analysis.provisionalId)
      }).onCancel(() => {
        // console.log('Dismissed')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    downloadFormat () {
      /* this.$api.get('harvest_reports_bulkload_format', { responseType: 'blob', params: { shrimpId: this.shrimpId } }).then(res => {
        const blob = new Blob([res])

        const url = window.URL.createObjectURL(blob)
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', 'Carga masiva camaronera.xlsx')
        document.body.appendChild(link)
        link.click()
        link.remove()
      }) */

      this.$api.get('harvest_reports_bulkload_format', { responseType: 'blob', params: { shrimpId: this.shrimpId } }).then(res => {
        const blob = new Blob([res])
        // let ext = file.split('.')
        // ext = ext[ext.length - 1]
        this.ext = 'xlsx'
        const fileName = `Carga masiva camaronera ${this.shrimpId}.${this.ext}`
        this.fileName = fileName

        if (this.$q.platform.is.mobile) { // Si es teléfono
          console.log('es telfono')
          this.saveBlob2File(fileName, blob)
        } else {
          // Si es navegador
          const url = window.URL.createObjectURL(blob)
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', fileName)
          document.body.appendChild(link)
          link.click()
          link.remove()
        }
        this.$q.loading.hide()
        this.$q.notify({
          type: 'positive',
          message: 'Archivo disponible en descargas. ' + fileName
        })
        this.$q.loading.hide()
      })
    },
    showUpload () {
      this.upload = true
    },
    uploadFile () {
      // Subir archivo
      if (this.file === '') {
        this.fileError = true
      } else {
        this.$q.loading.show()
        const formData = new FormData()
        formData.append('shrimpId', this.shrimpId)
        formData.append('file', this.file[0])

        this.$api.post('harvest_reports_upload_bulkload_format', formData, {
          headers: {
            'Content-Type': undefined
          }
        }).then(res => {
          if (res) {
            this.getRecords()
            this.upload = false
            this.file = ''
            this.fileError = false
          }
          this.$q.loading.hide()
        })
      }
    },
    sort () { // 1 descendente, 2 ascedente
      if (this.sortType === 1) {
        this.records.sort((a, b) => parseFloat(b.id) - parseFloat(a.id))
      } else {
        this.records.sort((a, b) => parseFloat(a.id) - parseFloat(b.id))
      }
    }
  }
}
</script>
<style>
</style>
