<template>
  <q-page>
    <q-card class="q-pa-md">
      <FormHeader :title="title" :subtitle="subtitle">
      </FormHeader>
      <br>
      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="beforeSave" glossy />
      </q-card-actions>

      <div class="row q-pa-sm">
          <div class="col-xs-12 offset-sm-4 col-sm-5 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pb-md">
            <q-input color="primary" v-model="form.subject" label="Título" error-message="Ingrese título de notificación"
              hint="Ingrese título de al menos 5 caracteres" :error="$v.form.subject.$error" @blur="$v.form.subject.$touch()"
              placeholder="Importante" outlined autofocus>
              <template v-slot:prepend>
                <q-icon color="primary" name="mail" />
              </template>
            </q-input>
          </div>
          <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pb-md">
            <q-editor :class="$v.content.$error ? 'text-negative' : ''" v-model="content" error-message="Ingrese puerto" placeholder="Escribe el contenido de tu notificación"
             min-height="5rem" @blur="$v.content.$touch()" @input="$v.content.$touch()"/>
          </div>
      </div>
      <q-separator />

      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="beforeSave" glossy />
      </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { FormMixin } from '../../../../mixins/form'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import FormHeader from 'components/FormHeader'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      title: 'Eventos',
      subtitle: 'Configuración',
      route: 'events',
      isPwd: true,
      form: {
      },
      content: ''
    }
  },
  validations () {
    return {
      form: {
        subject: {
          required,
          minLength: minLength(5),
          maxLength: maxLength(254)
        }
      },
      content: {
        required,
        minLength: minLength(5),
        maxLength: maxLength(254)
      }
    }
  },
  mounted () {
    this.getRecord()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Eventos',
        icon: 'person',
        to: '/events'
      },
      {
        label: 'Editar evento',
        icon: 'person',
        to: 'events/' + this.$route.params.id
      }
    ])
  },
  methods: {
    getRecord () {
      this.$api.get(`events/${this.$route.params.id}`).then(res => {
        this.form = res
        this.content = this.form.content
      })
    },
    beforeSave () {
      this.$v.content.$touch()
      this.form.content = this.content
      this.save()
    }
  }
}
</script>
