<template>
  <q-page>
    <div>
      <div>
        <div class="q-pa-sm">
          <!-- <q-table :title="title" :data="data" :columns="cols" :filter="filter" row-key="id"
        rows-per-page-label="Registros por página"
        class="my-sticky-header-table" :loading="loading" no-data-label="No hay registros para mostrar">
        <template v-slot:top="props">
          <div style="font-size: 20px; letter-spacing: .005em;font-weight: 400;">{{ title }}</div>
          <div style="margin: auto">
            <template v-for="(btn, index) in buttons">
              <q-btn class="q-ml-sm" size="sm" v-if="can(btn.permission)" rounded :key="index" :label="btn.label" :color="btn.color" :to="btn.url" />
            </template>
          </div>

          <q-input borderless dense debounce="300" v-model="filter" placeholder="Buscar" autofocus>
            <q-tooltip>
              Buscar
            </q-tooltip>
            <template v-slot:append>
              <q-icon name="search"/>
            </template>
          </q-input>

          <q-btn label="Exportar" dense icon="archive" no-caps flat @click="exportTable" color="primary">
            <q-tooltip>
              Exportar Tabla a CSV
            </q-tooltip>
          </q-btn>

          <q-btn color="primary" flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'" class="q-ml-md"
            @click="props.toggleFullscreen">
            <q-tooltip>
              Pantalla completa
            </q-tooltip>
          </q-btn>
        </template>
        <q-td slot="body-cell-status" slot-scope="props" :props="props">
          <q-tr>
              <q-td>
                <label>Notificación(Campanita)</label>
              </q-td>
              <q-td>
                <q-checkbox v-model="props.row.bell" @input="updateStatus(props.row, 'bell')" />
              </q-td>
            </q-tr>
            <q-tr>
              <q-td>
                <label>Correo Electrónico</label>
              </q-td>
              <q-td>
                <q-checkbox v-model="props.row.mail" @input="updateStatus(props.row, 'mail')" />
              </q-td>
            </q-tr>
        </q-td>
        <q-td
            slot="body-cell-actions"
            class="text-right"
            slot-scope="props"
            :props="props"
          >
            <q-btn
              round
              icon="create"
              :to="'events/'+props.row.id"
              flat
              color="primary"
              title="Editar"
            >
            </q-btn>
          </q-td>
        <template v-slot:loading>
          <q-inner-loading showing color="primary" />
        </template>
        <template v-slot:header="props">
          <q-tr :props="props">
            <q-th
              v-for="col in props.cols"
              :key="col.name"
              :props="props"
              style="font-size: 16px"
            >
              {{ col.label }}
            </q-th>
          </q-tr>
        </template>
      </q-table> -->
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <!-- <q-btn class="q-ma-sm" round icon="get_app" color="primary" size="md" @click="exportTable">
                <q-tooltip>
                  Exportar
                </q-tooltip>
              </q-btn> -->
              <q-btn class="q-ml-sm" round  @click="$q.fullscreen.toggle()"
                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="primary" size="md">
                <q-tooltip>
                  Pantalla completa
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-md-2">
              <q-input v-model="text" placeholder="Buscar" @input="filter" outlined dense>
                <template v-slot:append>
                  <q-icon v-if="text !== ''" name="close" @click="text = '',pools = stringPools" class="cursor-pointer" />
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Nombre</b>
            </div>
            <div class="col">
              <b class="text-grey-7">Descripción</b>
            </div>
            <div class="col">
              <b class="text-grey-7">Estatus</b>
            </div>
            <div class="col" style="text-align: right">
              <b class="text-grey-7">Acciones</b>
            </div>
          </q-card-section>
          <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(record, index) in records" :key="index">
              <div class="col">
                <p class="text-grey-7">{{ record.subject }}</p>
              </div>
              <div class="col">
                <p class="text-grey-7">{{ record.event.description }}</p>
              </div>
              <div class="col">
                <p class="text-grey-7">

                  <q-tr>
              <q-td>
                <label>Notificación(Campanita)</label>
              </q-td>
              <q-td>
                <q-checkbox v-model="record.bell" @input="updateStatus(record, 'bell')" />
              </q-td>
            </q-tr>
            <q-tr>
              <q-td>
                <label>Correo Electrónico</label>
              </q-td>
              <q-td>
                <q-checkbox v-model="record.mail" @input="updateStatus(record, 'mail')" />
              </q-td>
            </q-tr>
                </p>
              </div>
               <div class="col" style="text-align: right">
                <q-btn v-if="can('1.1.3')" flat icon="edit" size="sm" color="primary"
                  :to="`/events/${record.id}`"
                  dense>
                  <q-tooltip>
                    Editar
                  </q-tooltip>
                </q-btn>
                <!-- <q-btn v-if="can('1.1.4')" flat icon="delete" size="sm" color="primary" @click="deleteRecord(record.id)" dense>
                  <q-tooltip>
                    Eliminar
                  </q-tooltip>
                </q-btn> -->
              </div>
            </q-card-section>
            <q-separator color="grey-4" />
          </q-card>
      </div>
        </div>
      </div>
      </div>
  </q-page>
</template>

<script>
import { exportFile } from 'quasar'
import { mapGetters } from 'vuex'
import { ListMixin } from '../../../../mixins/list'

function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== undefined
    ? formatFn(val)
    : val

  formatted = formatted === undefined || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  // .split('\n').join('\\n')
  // .split('\r').join('\\r')

  return `"${formatted}"`
}
export default {
  mixins: [ListMixin],
  data () {
    return {
      title: 'Eventos',
      route: 'events',
      cols: [
        { name: 'name', required: true, label: 'Nombre', align: 'left', field: row => row.event.name, sortable: true },
        { name: 'description', required: true, label: 'Descripción', align: 'left', field: row => row.event.description, sortable: true },
        { name: 'status', required: true, label: 'Estatus', align: 'left', field: 'status' },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ],
      data: [],
      filter: '',
      buttons: [],
      loading: true
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  mounted () {
    // this.getRecords()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Eventos',
        icon: 'person',
        to: 'events'
      }
    ])
  },
  methods: {
    /* getRecords () {
      this.$api.get('events').then(res => {
        this.data = res
        this.loading = false
      })
    }, */
    exportTable () {
      // naive encoding to csv format
      // const columns = JSON.parse(JSON.stringify(this.cols))
      const columns = Object.create(this.cols)
      if (columns[columns.length - 1].name === 'status') {
        columns.pop()
      }

      console.log('col', columns)
      const content = [columns.map(col => wrapCsvValue(col.label))].concat(
        this.data.map(row => columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === undefined ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    updateStatus (row, field) {
      this.$api.put(`events/${row.id}`, {
        [field]: row[field]
      })
    }
  }
}
</script>
<style lang="sass">
.my-sticky-header-table
  /* height or max-height is important */
  height: 510px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #e8eaf6

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
<style lang="css">
