<template>
  <q-page>
     <q-card class="q-pa-md">
      <FormHeader :title="title" :subtitle="subtitle" :save="save" />
      <br>
      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
       <div class="row q-pa-sm">
         <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-input color="primary" v-model="form.name" label="Nombre" error-message="Ingrese el nombre del formulario"
            :error="$v.form.name.$error" @blur="$v.form.name.$touch()" placeholder="Productos"
            hint="Ingrese el nombre del formulario" outlined autofocus>
            <template v-slot:prepend>
              <q-icon color="primary" name="view_agenda" />
            </template>
          </q-input>
        </div>
       </div>
       <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pt-md">
          <q-card flat bordered>
            <q-card-section class="">
              <div class="text-subtitle2" >Agregar Campos <small>Agregue al menos un campo</small></div>
            </q-card-section>
            <div class="row q-pa-sm">
              <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pt-md">
                <q-input bottom-slots outlined v-model="field" label="Nombre del Campo">
                  <template v-slot:hint>
                    Ingrese el nombre del campo
                  </template>
                  <template v-slot:append>
                    <q-btn round dense icon="add" color="primary" push />
                  </template>
                  <template v-slot:prepend>
                    <q-icon name="list" color="primary" />
                  </template>
                </q-input>
              </div>
            </div>
          </q-card>
        </div>

       <q-separator />

      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
     </q-card>
  </q-page>
</template>

<script>
import FormHeader from 'components/FormHeader'
import { FormMixin } from '../../../../mixins/form'
import { required } from 'vuelidate/lib/validators'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      form: {},
      title: 'Formularios',
      subtitle: 'Nuevo Formulario',
      route: 'forms',
      field: ''
    }
  },
  validations () {
    return {
      form: {
        name: { required }
      }
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Formularios',
        icon: 'view_carousel ',
        to: '/forms'
      },
      {
        label: 'Nuevo Formulario',
        icon: 'view_carousel',
        to: 'forms/form'
      }
    ])
    if (this.$route.params.id) {
      this.getRecord()
    }
  },
  methods: {
  }
}
</script>

<style>

</style>
