<template>
  <q-page class="q-pa-md">
    {{ position.coords ? position.coords.latitude : position }}, {{ position.coords ? position.coords.longitude : '' }}
    <q-btn label="Obtener posición" @click="getPosition" />
    {{ status }}
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      position: {},
      status: 'Vacío'
    }
  },
  methods: {
    getPosition () {
      this.$q.loading.show()
      var vm = this
      navigator.geolocation.getCurrentPosition(function (position) {
        vm.$q.loading.hide()
        vm.position = position
        vm.status = 'Bien'
      }, function onError (error) {
        // Se debe mostrar un mensaje de error, por permisos o por GPS apagado o inexistente
        vm.$q.loading.hide()

        console.log(error)
        vm.status = 'Mal'
        vm.position = 'Error'
      }, { enableHighAccuracy: true, timeout: 30000 })
    }
  }
}
</script>
