<template>
  <q-page>
    <!-- <q-btn-group push>
      <q-btn color="primary" push label="Acción 1" icon="timeline" />
      <q-btn push label="Acción 2" icon="visibility" />
      <q-btn text-color="primary" push label="Acción 3" icon="update" />
    </q-btn-group> -->
    <q-card class="q-pa-md">
      <q-card-section class="bg-primary text-white row">
          <div class="col-md-2">
            <div class="text-h6">{{ title }}</div>
          <div class="text-subtitle2">{{ subtitle }}</div>
          </div>

          <div style="margin: auto" class="row items-center justify-center">
            <q-btn class="q-mr-md" outline text-color="white" label="Volver" @click="$router.go(-1)" />
            <q-btn push color="primary" label="Guardar" @click="save" glossy />
          </div>
        </q-card-section>
      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-input color="primary" v-model="form.name" label="Segmento" error-message="Ingrese segmento de al menos 5 caracteres"
            :error="$v.form.name.$error" @blur="$v.form.name.$touch()" placeholder="Segmento 1"
            hint="Ingrese segmento de al menos 5 caracteres" outlined autofocus>
          </q-input>
        </div>
      </div>
      <q-separator />

      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../mixins/form'
export default {
  mixins: [FormMixin],
  components: {
  },
  data () {
    return {
      title: 'Segmentos de proveedor',
      subtitle: 'Nuevo segmento',
      route: 'provider_segments',
      form: {
      }
    }
  },
  validations () {
    return {
      form: {
        name: { required, minLength: minLength(5), maxLength: maxLength(60) }
      }
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Segmentos de proveedores',
        icon: 'person',
        to: '/provider_segments'
      },
      {
        label: 'Nuevo segmento',
        icon: 'person',
        to: 'provider_segments/form'
      }
    ])
  },
  methods: {
    beforeSave () {
      this.form.type = 1
    }
  }
}
</script>
