<template>
  <q-page>
    <!-- <q-btn-group push>
      <q-btn color="primary" push label="Acción 1" icon="timeline" />
      <q-btn push label="Acción 2" icon="visibility" />
      <q-btn text-color="primary" push label="Acción 3" icon="update" />
    </q-btn-group> -->
    <q-card class="q-pa-sm">
      <!-- <FormHeader :title="title" :subtitle="subtitle">
      </FormHeader> -->
        <q-card-section class="bg-primary text-white row">
          <div class="col-md-2">
            <div class="text-h6">{{ title }}</div>
          <div class="text-subtitle2">{{ subtitle }}</div>
          </div>

          <div style="margin: auto" class="row items-center justify-center">
            <q-btn class="q-mr-md" outline text-color="white" label="Volver" @click="$router.go(-1)" />
            <q-btn push color="primary" label="Guardar" @click="save" glossy />
          </div>
        </q-card-section>

      <q-tabs v-model="tab" active-color="white" active-bg-color="primary" indicator-color="primary" align="justify" inline-label>
        <q-tab name="info" label="Información general" />
        <q-tab name="certifications" label="Certificaciones" />
        <q-tab name="contacts" label="Contactos" />
        <q-tab name="documents" label="Documentos" />
      </q-tabs>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="info" style="padding: 0px">
          <q-card class="my-card" flat bordered>
            <q-item class="bg-primary text-white">
              <q-item-section class="">
                <q-item-label style="margin: auto">
                  <q-icon size="sm" color="white" name="store" />
                  <b>DATOS EMPRESA</b>
                </q-item-label>
              </q-item-section>
            </q-item>

            <q-separator />

            <q-card-section class="q-pa-sm row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                <q-select color="primary" v-model="form.type" :options="typeOptions" label="Tipo de proveedor" emit-value map-options
                  outlined hint="Seleccione tipo de proveedor" error-message="Seleccione tipo de proveedor" @input="updateDocumentTypeOptions"
                  :error="$v.form.type.$error" @blur="$v.form.type.$touch()" option-label="name" option-value="id" autofocus>
                </q-select>
                <q-toggle v-model="form.foreign_company" color="primary" label="¿Empresa extranjera?" left-label />
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
                <q-input color="primary" v-model="form.legal_name" label="Nombre legal" error-message="Ingrese un nombre legal"
                  :error="$v.form.legal_name.$error" @blur="$v.form.legal_name.$touch()" placeholder="Corporación ABC C.A"
                  hint="Ingrese un nombre legal" outlined>
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                <q-input color="primary" v-model="form.comercial_name" label="Nombre comercial" error-message="Ingrese un nombre comercial"
                  placeholder="Corporación ABC C.A" hint="Ingrese un nombre comercial" outlined>
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                <q-input color="primary" v-model="form.code" label="Código" error-message="Ingrese un código"
                  placeholder="001" hint="Ingrese un código" outlined>
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                <q-select color="primary" v-model="form.category_id" :options="categoryOptions" label="Categoría"
                  emit-value map-options outlined hint="Seleccione categoría" error-message="Seleccione categoría"
                  use-input input-debounce="0" @filter="categoryfilterFn" :error="$v.form.category_id.$error"
                  @blur="$v.form.category_id.$touch()" option-label="name" option-value="id" hide-selected fill-input>
                </q-select>
              </div>
            </q-card-section>
            <q-item class="bg-primary text-white">
              <q-item-section class="">
                <q-item-label style="margin: auto">
                  <q-icon size="sm" color="white" name="assignment_ind" />
                  <b>IDENTIFICACIÓN</b>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-card-section class="q-pa-sm row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                <q-select color="primary" v-model="form.document_type" :options="documentTypeOptions"
                label="Tipo de documento" emit-value map-options outlined hint="Seleccione tipo de documento"
                error-message="Seleccione tipo de documento" :error="$v.form.document_type.$error" @input="sal"
                @blur="$v.form.document_type.$touch()" option-label="name" option-value="id">
                </q-select>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                <q-input color="primary" v-model="form.document_number" label="Número identificación"
                  error-message="Ingrese un número de identificación válido" placeholder="0000000000000"
                  hint="Ingrese un número de identificación válido" :error="$v.form.document_number.$error"
                  @blur="$v.form.document_number.$touch()" outlined>
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                <q-input type="email" color="primary" v-model="form.electronic_documents_email" label="Correo documentos electrónicos" error-message="Ingrese correo válido"
                  :error="$v.form.electronic_documents_email.$error" @blur="$v.form.electronic_documents_email.$touch()" placeholder="correo@example.com"
                  hint="Ingrese correo válido" outlined>
                </q-input>
              </div>
            </q-card-section>
            <q-item class="bg-primary text-white">
              <q-item-section class="">
                <q-item-label style="margin: auto">
                  <q-icon size="sm" color="white" name="assignment_ind" />
                  <b>CALIFICACIÓN</b>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-card-section class="q-pa-sm row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                Posee calificación de proveedor?
                <q-btn-toggle v-model="form.supplier_qualification" class="my-custom-toggle"
                  no-caps
                  rounded
                  unelevated
                  toggle-color="primary"
                  color="white"
                  text-color="primary"
                  :options="[
                    { label: 'Sí', value: 'true' },
                    { label: 'No', value: 'false' }
                  ]"
                />
              </div>
              <template v-if="form.supplier_qualification === 'true'">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="form.rating_company_id" :options="ratingCompanyOptions" label="Empresa Calificadora"
                    emit-value map-options outlined hint="Seleccione empresa calificadora" error-message="Seleccione empresa calificadora"
                    use-input input-debounce="0" @filter="categoryfilterFn" option-label="name" option-value="id" hide-selected fill-input>
                  </q-select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="form.rating_type_id" :options="ratingTypeOptions" label="Tipo de calificación"
                    emit-value map-options outlined hint="Seleccione tipo de calificación" error-message="Seleccione tipo de calificación"
                    use-input input-debounce="0" @filter="categoryfilterFn" option-label="name" option-value="id" hide-selected fill-input>
                  </q-select>
                </div>
              </template>

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                <q-select color="primary" v-model="form.segment_id" :options="segmentOptions" label="Segmento"
                  emit-value map-options outlined hint="Seleccione segmento" error-message="Seleccione segmento"
                  use-input input-debounce="0" @filter="categoryfilterFn" option-label="name" option-value="id" hide-selected fill-input>
                </q-select>
              </div>
            </q-card-section>
              <q-item class="bg-primary text-white">
                <q-item-section class="">
                  <q-item-label style="margin: auto">
                    <q-icon size="sm" color="white" name="gps_fixed" />
                    <b>UBICACIÓN</b>
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-card-section class="q-pa-sm row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="form.country_id" :options="countryOptions" label="País" emit-value map-options
                    outlined hint="Seleccione país" error-message="Seleccione país" use-input input-debounce="0" @filter="countryfilterFn"
                    :error="$v.form.country_id.$error" @blur="$v.form.country_id.$touch()" option-label="name" option-value="id"
                    hide-selected fill-input>
                  </q-select>
                </div>
                <div v-if="form.country_id === 1" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
                  <q-select color="primary" v-model="form.state_id" :options="stateOptions" label="Provincia" emit-value map-options
                    outlined hint="Seleccione provincia" error-message="Seleccione provincia" use-input input-debounce="0" @filter="statefilterFn"
                    :error="$v.form.state_id.$error" @blur="$v.form.state_id.$touch()" option-label="name" option-value="id"
                    hide-selected fill-input>
                    <!-- <template v-slot:prepend>
                      <q-icon color="primary" name="gps_not_fixed" />
                    </template> -->
                  </q-select>
                </div>
                <div v-if="form.country_id === 1" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="form.city_id" :options="citiesByState" label="Ciudad" emit-value map-options
                    outlined hint="Seleccione ciudad" error-message="Seleccione ciudad" use-input input-debounce="0" @filter="cityfilterFn"
                    :error="$v.form.city_id.$error" @blur="$v.form.city_id.$touch()" option-label="name" option-value="id"
                    hide-selected fill-input>
                    <!-- <template v-slot:prepend>
                      <q-icon color="primary" name="gps_not_fixed" />
                    </template> -->
                  </q-select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
                  <q-input color="primary" v-model="form.zone" label="Zona"
                    placeholder="" hint="Ingrese Zona" outlined>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                  <q-input color="primary" v-model="form.sector" label="Sector"
                    placeholder="" hint="Ingrese Sector" outlined>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
                  <q-input color="primary" v-model="form.billing_address" label="Dirección de facturación"
                    placeholder="Calle 1" hint="Ingrese dirección de facturación" outlined autogrow>
                    <!-- <template v-slot:prepend>
                      <q-icon color="primary" name="dvr" />
                    </template> -->
                  </q-input>
                </div>
                <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                  <q-input color="primary" v-model="form.deliver_address" label="Dirección de despacho"
                    placeholder="Calle 1" hint="Ingrese dirección de facturación" outlined autogrow>
                    <template v-slot:append>
                      <q-btn round dense flat icon="add" color="primary" @click="form.deliver_addresses.push('')">
                        <q-tooltip content-class="">Agregar dirección de despacho</q-tooltip>
                      </q-btn>
                    </template>
                  </q-input>
                  <q-checkbox v-model="sameAdrress" @input="copyAddress" label="Copiar dirección de facturación" />
                </div> -->
                <div v-for="(deliver_address, index) in form.deliver_addresses" :key="index"
                  class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                  <q-input color="primary" v-model="form.deliver_addresses[index]" :label="`Dirección de despacho ${index + 2}`"
                    placeholder="Calle 1" hint="Ingrese dirección de despacho" outlined autogrow>
                    <template v-slot:append>
                      <q-btn round dense flat icon="close" color="primary" @click="form.deliver_addresses.splice(index, 1)">
                        <q-tooltip content-class="">Eliminar dirección de despacho</q-tooltip>
                      </q-btn>
                    </template>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                  <q-input type="number" color="primary" v-model="form.phone" label="Teléfono"
                    placeholder="0000000" hint="Ingrese número de teléfono" outlined>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                  <q-input color="primary" v-model="form.website" label="Sitio web"
                    placeholder="www.website.com" hint="Ingrese sitio web" outlined>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
                  <q-input color="primary" v-model="form.tags" label="Etiquetas"
                  hint="Ingrese palabras clave separadas por coma" outlined>
                  </q-input>
                </div>
              </q-card-section>
              <q-item class="bg-primary text-white">
                <q-item-section class="">
                  <q-item-label style="margin: auto">
                    <q-icon size="sm" color="white" name="gps_fixed" />
                    <b>Productos</b>
                  </q-item-label>
                </q-item-section>
              </q-item>
              <q-card-section class="q-pa-sm row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="form.product_categories" :options="productCategoryOptions" label="Categorías de productos"
                    outlined hint="Seleccione categoría" error-message="Seleccione categoría" @filter="productCategoryfilterFn"
                    multiple use-chips option-label="name" option-value="id" map-options emit-value use-input
                    input-debounce="0">
                  </q-select>
                </div>
              </q-card-section>
            </q-card>
          </q-tab-panel>

          <q-tab-panel name="contacts" style="padding: 0px">
            <q-card class="my-card" flat bordered>
              <div class="q-pa-md" align="center">
                <q-btn label="Crear contacto" rounded color="primary" @click="showPromptAddContact"></q-btn>
              </div>
              <q-list bordered>
                <q-item v-for="(contact, index) in form.contacts" :key="index" class="q-my-sm" clickable v-ripple @click="showContactEdition(index)">
                  <q-item-section avatar>
                    <q-avatar color="primary" text-color="white">
                      {{ contact.last_name[0] }}
                    </q-avatar>
                  </q-item-section>

                  <q-item-section>
                    <q-item-label>{{ contact.last_name }} {{ contact.name }}</q-item-label>
                    <q-item-label caption lines="1">{{ contact.email }}</q-item-label>
                    <q-item-label caption lines="1">{{ contact.phone }}</q-item-label>
                  </q-item-section>
                </q-item>

                <q-separator />
              </q-list>

            </q-card>
          </q-tab-panel>
          <q-tab-panel name="certifications" style="padding: 0px">
            <div class="q-pa-md" align="center">
              <q-btn label="Añadir certificación" rounded color="primary" @click="form.certifications.push({})"></q-btn>
            </div>
            <!-- <q-btn label="Probar" @click="beforeSave"></q-btn> -->
            <q-card-section class="q-pa-sm row">
              <template v-for="(certification, index) in form.certifications">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md" :key="index">
                  <q-input color="primary" v-model="form.certifications[index].description" label="Descripción" placeholder="Certificado 2020"
                    hint="Ingrese descripción de certificación" outlined>
                  </q-input>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 q-pb-md q-pr-md" :key="index+100">
                  <q-input type="file" color="primary" v-model="form.certifications[index].file" label="Archivo"
                    hint="Seleccione archivo de certificación" stack-label outlined>
                  </q-input>
                  <a class="q-pl-md" v-if="!form.certifications[index].file" :href="getDownloadUrl(certification.filename)" target="_blank">{{ certification.filename }}</a>
                </div>
                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1" :key="index+200">
                  <q-btn size="lg" round flat icon="close" color="primary" @click="form.certifications.splice(index, 1)">
                    <q-tooltip content-class="">Eliminar certificación</q-tooltip>
                  </q-btn>
                </div>
              </template>

            </q-card-section>
          </q-tab-panel>
          <q-tab-panel name="documents" style="padding: 0px">
            <div class="q-pa-md" align="center">
              <q-btn label="Añadir documento" rounded color="primary" @click="form.documents.push({})"></q-btn>
            </div>
            <q-card-section class="q-pa-sm row">
              <template v-for="(document, index) in form.documents">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md" :key="index">
                  <q-select color="primary" v-model="form.documents[index].type" :options="documentTypeOptions2" label="Tipo de documento"
                    emit-value map-options outlined hint="Seleccione tipo de documento" error-message="Seleccione tipo de documento"
                    use-input input-debounce="0" @filter="categoryfilterFn" option-label="name" option-value="id" hide-selected fill-input>
                  </q-select>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 q-pb-md q-pr-md" :key="index+100">
                  <q-input type="file" color="primary" v-model="form.documents[index].file" label="Documento" hint="Seleccione documento" stack-label outlined>
                  </q-input>
                  <a class="q-pl-md" v-if="!form.documents[index].file" :href="getDownloadUrl(document.filename)" target="_blank">{{ document.filename }}</a>
                </div>
                <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1" :key="index+200">
                  <q-btn size="lg" round flat icon="close" color="primary" @click="form.documents.splice(index, 1)">
                    <q-tooltip content-class="">Eliminar documento</q-tooltip>
                  </q-btn>
                </div>
              </template>
            </q-card-section>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>

    <q-card>
      <q-separator />
      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
    <q-dialog v-model="promptAddContact" persistent>
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">Nuevo contacto</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-input color="primary" v-model="contact.last_name" label="Apellidos" error-message="Ingrese apellidos"
            :error="$v.contact.last_name.$error" @blur="$v.contact.last_name.$touch()" placeholder="López Pérez"
            hint="Ingrese apellidos" outlined autofocus>
          </q-input>
          <q-input color="primary" v-model="contact.name" label="Nombres" error-message="Ingrese nombres"
            :error="$v.contact.name.$error" @blur="$v.contact.name.$touch()" placeholder="Pedro Pablo"
            hint="Ingrese nombres" outlined>
          </q-input>
          <q-input color="primary" v-model="contact.job" label="Cargo" error-message="Ingrese cargo"
            :error="$v.contact.job.$error" @blur="$v.contact.job.$touch()" placeholder="Cargo"
            hint="Ingrese cargo" outlined>
          </q-input>
          <q-input color="primary" v-model="contact.phone" label="Teléfono" error-message="Ingrese teléfono"
            :error="$v.contact.phone.$error" @blur="$v.contact.phone.$touch()" placeholder="0000000"
            hint="Ingrese teléfono" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="add" color="primary" @click="contact.phones.push('')">
                <q-tooltip content-class="">Agregar teléfono</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-input v-for="(phone, index) in contact.phones" :key="index" color="primary" v-model="contact.phones[index]"
            :label="`Teléfono ${index + 2}`" error-message="Ingrese teléfono" :error="$v.contact.phone.$error"
            @blur="$v.contact.phone.$touch()" placeholder="0000000" hint="Ingrese teléfono" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="close" color="primary" @click="contact.phones.splice(index, 1)">
                <q-tooltip content-class="">Eliminar teléfono</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-input color="primary" v-model="contact.email" label="Correo electrónico" error-message="Ingrese correo electrónico"
            :error="$v.contact.email.$error" @blur="$v.contact.email.$touch()" placeholder="correo@example.com"
            hint="Ingrese correo electrónico" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="add" color="primary" @click="contact.emails.push('')">
                <q-tooltip content-class="">Agregar correo electrónico</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-input v-for="(email, index) in contact.emails" :key="index+1" color="primary" v-model="contact.emails[index]"
            :label="`Correo electrónico ${index + 2}`" error-message="Ingrese correo electrónico" :error="$v.contact.phone.$error"
            @blur="$v.contact.phone.$touch()" placeholder="0000000" hint="Ingrese correo electrónico" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="close" color="primary" @click="contact.emails.splice(index, 1)">
                <q-tooltip content-class="">Eliminar correo electrónico</q-tooltip>
              </q-btn>
            </template>
          </q-input>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn outline text-color="grey-7" label="Cancelar" v-close-popup/>
          <q-btn push color="primary" label="Agregar contacto" glossy @click="addContact"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="promptEditContact" persistent>
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">Editar contacto</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-input color="primary" v-model="contact.last_name" label="Apellidos" error-message="Ingrese apellidos"
            :error="$v.contact.last_name.$error" @blur="$v.contact.last_name.$touch()" placeholder="López Pérez"
            hint="Ingrese apellidos" outlined autofocus>
          </q-input>
          <q-input color="primary" v-model="contact.name" label="Nombres" error-message="Ingrese nombres"
            :error="$v.contact.name.$error" @blur="$v.contact.name.$touch()" placeholder="Pedro Pablo"
            hint="Ingrese nombres" outlined>
          </q-input>
          <q-input color="primary" v-model="contact.phone" label="Teléfono" error-message="Ingrese teléfono"
            :error="$v.contact.phone.$error" @blur="$v.contact.phone.$touch()" placeholder="0000000"
            hint="Ingrese teléfono" outlined>
            <q-btn round dense flat icon="add" color="primary" @click="contact.phones.push('')">
                <q-tooltip content-class="">Agregar teléfono</q-tooltip>
              </q-btn>
          </q-input>
          <q-input v-for="(phone, index) in contact.phones" :key="index+2" color="primary" v-model="contact.phones[index]"
            :label="`Teléfono ${index + 2}`" error-message="Ingrese teléfono" :error="$v.contact.phone.$error"
            @blur="$v.contact.phone.$touch()" placeholder="0000000" hint="Ingrese teléfono" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="close" color="primary" @click="contact.phones.splice(index, 1)">
                <q-tooltip content-class="">Eliminar teléfono</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-input color="primary" v-model="contact.email" label="Correo electrónico" error-message="Ingrese correo electrónico"
            :error="$v.contact.email.$error" @blur="$v.contact.email.$touch()" placeholder="correo@example.com"
            hint="Ingrese correo electrónico" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="add" color="primary" @click="contact.emails.push('')">
                <q-tooltip content-class="">Agregar correo electrónico</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-input v-for="(email, index) in contact.emails" :key="index+3" color="primary" v-model="contact.emails[index]"
            :label="`Correo electrónico ${index + 2}`" error-message="Ingrese correo electrónico" :error="$v.contact.phone.$error"
            @blur="$v.contact.phone.$touch()" placeholder="0000000" hint="Ingrese correo electrónico" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="close" color="primary" @click="contact.emails.splice(index, 1)">
                <q-tooltip content-class="">Eliminar correo electrónico</q-tooltip>
              </q-btn>
            </template>
          </q-input>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn outline text-color="grey-7" label="Cancelar" v-close-popup/>
          <q-btn push color="primary" label="Actualizar contacto" glossy @click="editContact"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>
<script>
import { required, requiredIf, email, minLength, maxLength } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../mixins/form'
import env from '../../../env'
// import FormHeader from 'components/FormHeader'
export default {
  mixins: [FormMixin],
  components: {
  },
  data () {
    return {
      title: 'Proveedores',
      subtitle: 'Nuevo proveedor',
      route: 'providers',
      id: this.$route.params.id,
      insert: true,
      form: {
        foreign_company: false,
        country_id: 1,
        deliver_addresses: [],
        contacts: [],
        certifications: [],
        files: [],
        supplier_qualification: 'false',
        documents: []
      },
      documentTypeOptions: [],
      typeOptions: [
        {
          id: 1,
          name: 'Natural'
        },
        {
          id: 2,
          name: 'Jurídica'
        }
      ],
      countryOptions: [],
      stringCountryOptions: [],
      stateOptions: [],
      stringStateOptions: [],
      cityOptions: [],
      stringCityOptions: [],
      sameAdrress: false,
      tab: 'info',
      promptAddContact: false,
      promptEditContact: false,
      contact: {
        phones: [],
        emails: []
      },
      currentIndex: '',
      categoryOptions: [],
      stringCategoryOptions: [],
      documentTypeOptions2: [
        {
          id: 1,
          name: 'RUC'
        },
        {
          id: 2,
          name: 'Certificado de Calificación'
        },
        {
          id: 3,
          name: 'Otros Certificados'
        }
      ],
      ratingCompanyOptions: [],
      ratingTypeOptions: [],
      segmentOptions: [],
      productCategoryOptions: [],
      stringProductCategoryOptions: []
    }
  },
  computed: {
    /* documentTypeOptions () {
      if (this.form.foreign_company) {
        var res1 = [
          {
            id: 2,
            name: 'Cédula'
          },
          {
            id: 3,
            name: 'Pasaporte'
          }
        ]
      } else {
        // Si el cleinte es juridico solo RUC
        if (this.form.type === 2) {
          var res2 = [
            {
              id: 1,
              name: 'RUC'
            }
          ]
        } else {
          var res3 = [
            {
              id: 1,
              name: 'RUC'
            },
            {
              id: 2,
              name: 'Cédula'
            },
            {
              id: 3,
              name: 'Pasaporte'
            }
          ]
        }
      }
      return this.form.foreign_company ? res1 : this.form.type === 2 ? res2 : res3
    }, */
    citiesByState () {
      return this.cityOptions.filter(value => value.state_id === this.form.state_id)
    }
  },
  validations () {
    return {
      form: {
        type: { required },
        legal_name: { required },
        document_type: { required },
        document_number: { required, minLength: minLength(10), maxLength: maxLength(10), checkIdentification: this.checkIdentification },
        electronic_documents_email: { email },
        country_id: { required },
        state_id: { // Requerido si el país es Ecuador,
          required: requiredIf(function (nestedModel) {
            return this.form.country_id === 1
          })
        },
        city_id: { // Requerido si el país es Ecuador
          required: requiredIf(function (nestedModel) {
            return this.form.country_id === 1
          })
        },
        category_id: { required }
      },
      contact: {
        last_name: { required },
        name: { required },
        job: { required },
        phone: { required },
        email: { required, email }
      }
    }
  },
  mounted () {
    this.getCountries()
    this.getStates()
    this.getCities()
    this.getCategories()
    this.getSegments()
    this.getRatingCompanies()
    this.getRatingTypeOptions()
    this.getProductCategories()
    if (this.id) {
      this.getRecord()
      this.insert = false
    }
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Proveedores',
        icon: 'person',
        to: '/providers'
      },
      {
        label: 'Nuevo proveedor',
        icon: 'person',
        to: 'providers/form'
      }
    ])
  },
  methods: {
    getCountries () {
      this.$api.get('countries').then(res => {
        this.countryOptions = res
        this.stringCountryOptions = res
      })
    },
    getStates () {
      this.$api.get('states').then(res => {
        this.stateOptions = res
        this.stringStateOptions = res
      })
    },
    getCities () {
      this.$api.get('cities').then(res => {
        this.cityOptions = res
        this.stringCityOptions = res
      })
    },
    getSegments () {
      this.$api.get('provider_segments').then(res => {
        this.segmentOptions = res
      })
    },
    getRatingCompanies () {
      this.$api.get('rating_companies').then(res => {
        this.ratingCompanyOptions = res
      })
    },
    getRatingTypeOptions () {
      this.$api.get('rating_types').then(res => {
        this.ratingTypeOptions = res
      })
    },
    countryfilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.countryOptions = this.stringCountryOptions

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.countryOptions = this.stringCountryOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    statefilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.stateOptions = this.stringStateOptions

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.stateOptions = this.stringStateOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    cityfilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.cityOptions = this.stringCityOptions

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.cityOptions = this.stringCityOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    copyAddress (value) {
      console.log('value', value)
      if (value) {
        this.form.deliver_address = this.form.billing_address
      }
    },
    addContact () {
      this.$v.contact.$touch()
      if (!this.$v.contact.$error) {
        this.form.contacts.push(this.contact)
        this.contact = {}
        this.promptAddContact = false
        this.$v.contact.$reset()
      }
    },
    showContactEdition (index) {
      this.promptEditContact = true
      this.currentIndex = index
      this.contact = JSON.parse(JSON.stringify(this.form.contacts[index]))
      this.currentIndex = index
    },
    editContact () {
      this.$v.contact.$touch()
      if (!this.$v.contact.$error) {
        // this.form.contacts.push(this.contact)
        this.form.contacts[this.currentIndex] = this.contact
        this.contact = {}
        this.promptEditContact = false
        this.$v.contact.$reset()
      }
    },
    verifyCedula (cedula) {
      console.log('verify', cedula)
      var response = false
      if (typeof (cedula) === 'string' && cedula.length === 10 && /^\d+$/.test(cedula)) {
        var digitos = cedula.split('').map(Number)
        var codigoProvincia = digitos[0] * 10 + digitos[1]

        // if (codigoProvincia >= 1 && (codigoProvincia <= 24 || codigoProvincia == 30) && digitos[2] < 6) {

        if (codigoProvincia >= 1 && (codigoProvincia <= 24 || codigoProvincia === 30)) {
          var digitoVerificador = digitos.pop()

          var digitoCalculado = digitos.reduce(
            function (valorPrevio, valorActual, indice) {
              return valorPrevio - (valorActual * (2 - indice % 2)) % 9 - (valorActual === 9) * 9
            }, 1000) % 10
          response = digitoCalculado === digitoVerificador
          // return
        }
      }
      console.log('res', response)
      return response
    },
    checkIdentification (documentNumber) {
      console.log('checkIdentification', documentNumber)
      if (this.form.document_type === 1) { // Si es RUC verificar RUC
        return true
      } else if (this.form.document_type === 2) { // Si es cédula verificar cédula
        return this.verifyCedula(documentNumber)
      }
      return true
    },
    showPromptAddContact () {
      this.promptAddContact = true
      this.contact = {
        phones: [],
        emails: []
      }
    },
    getCategories () {
      this.$api.get('categories', { params: { type: 2 } }).then(res => {
        this.categoryOptions = res
        this.stringCategoryOptions = res
      })
    },
    categoryfilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.categoryOptions = this.stringCategoryOptions
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.categoryOptions = this.stringCategoryOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    beforeSave () {
      console.log('beforeSave')
      // Recorrer this.form.certifications para enviar cada archivo
      const vv = [
        this.form.certifications[1].file[0]
      ]
      console.log('filñes', this.form.certifications, vv)
      const formData = new FormData()
      formData.append('files', this.form.certifications[1].file[0])
      formData.append('files2', vv)
      this.$api.post('providers', formData, {
        headers: {
          'Content-Type': undefined
        }
      }).then(res => {
        console.log('res', res)
      })
    },
    save () {
      console.log('aqui')
      this.$v.form.$touch()
      if (!this.$v.form.$error) {
        this.$q.loading.show()
        if (this.insert) {
          this.$api.post(this.route, this.form).then(res => {
            // Llamada a método para subir archivos
            this.$q.loading.hide()
            if (res) {
              this.uploadCertifications(res.id)
              this.uploadDocuments(res.id)
              this.$q.notify({
                type: 'positive',
                message: 'Registro guardado exitosamente'
              })
              this.$router.go(-1)
            }
          })
        } else {
          this.$api.put(`${this.route}/${this.id}`, this.form).then(res => {
            this.$q.loading.hide()
            if (res) {
              this.uploadCertifications(this.id)
              this.uploadDocuments(this.id)
              this.$q.notify({
                type: 'positive',
                message: 'Registro modificado exitosamente'
              })
              this.$router.go(-1)
            }
          })
        }
      }
    },
    uploadCertifications (providerID) {
      console.log('certifications', this.form.certifications)
      for (const i of this.form.certifications) {
        // Llamada a la api de subir certificación por cada archivo
        console.log('i', i)
        const formData = new FormData()
        // Enviar id de certificación en modo de edición
        if (i.id) {
          formData.append('certification_id', i.id)
        }
        formData.append('provider_id', providerID)
        formData.append('description', i.description)
        if (i.file) {
          formData.append('file', i.file[0])
        }
        this.$api.post('upload_provider_certifications', formData).then(res => {
          if (res) {

          }
        })
      }
    },
    uploadDocuments (providerID) {
      console.log('documents', this.form.documents)
      for (const i of this.form.documents) {
        // Llamada a la api de subir certificación por cada archivo
        console.log('i', i)
        const formData = new FormData()
        // Enviar id de certificación en modo de edición
        if (i.id) {
          formData.append('certification_id', i.id)
        }
        formData.append('provider_id', providerID)
        formData.append('type', i.type)
        if (i.file) {
          formData.append('file', i.file[0])
        }
        this.$api.post('upload_provider_documents', formData).then(res => {
          if (res) {

          }
        })
      }
    },
    getDownloadUrl (filename) {
      return `${env.apiUrl}file2/${filename}`
    },
    getProductCategories () {
      this.$api.get('product_categories').then(res => {
        this.productCategoryOptions = res
        this.stringProductCategoryOptions = res
      })
    },
    productCategoryfilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.productCategoryOptions = this.stringProductCategoryOptions
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.productCategoryOptions = this.stringProductCategoryOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    updateDocumentTypeOptions () {
      this.form.document_type = ''
      if (this.form.foreign_company) {
        this.documentTypeOptions = [
          {
            id: 2,
            name: 'Cédula'
          },
          {
            id: 3,
            name: 'Pasaporte'
          }
        ]
      } else {
        // Si el cleinte es juridico solo RUC
        if (this.form.type === 2) {
          this.documentTypeOptions = [
            {
              id: 1,
              name: 'RUC'
            }
          ]
        } else {
          this.documentTypeOptions = [
            {
              id: 1,
              name: 'RUC'
            },
            {
              id: 2,
              name: 'Cédula'
            },
            {
              id: 3,
              name: 'Pasaporte'
            }
          ]
        }
      }
    },
    sal () {
      console.log('sal', this.form.document_type)
    }
  }
}
</script>
<style lang="sass" scoped>
.my-custom-toggle
  border: 1px solid #027be3
</style>
