<template>
  <q-page>
    <div>
      <listable :title="title" :buttons="buttons" :cols="cols" route="providers"/>
    </div>
  </q-page>
</template>

<script>
import Listable from 'components/Listable'
export default {
  components: { Listable },
  data () {
    return {
      title: 'Proveedores',
      buttons: [
        {
          label: 'Nuevo', icon: 'add', color: 'primary', url: `${this.$route.path}/form`, action: '', permission: '3.2'
        }
      ],
      cols: [
        { name: 'legal_name', required: true, label: 'Nombre Legal', align: 'left', field: 'legal_name', sortable: true },
        { name: 'comercial_name', required: true, label: 'Nombre Comercial', align: 'left', field: 'comercial_name', sortable: true },
        { name: 'electronic_documents_email', required: true, label: 'Correo', align: 'left', field: 'electronic_documents_email', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ]
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Proveedores',
        icon: 'person',
        to: 'providers'
      }
    ])
  }
}
</script>
<style>
</style>
