<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }}</b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.20')" label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar análisis
                </q-tooltip>
              </q-btn>
              <!-- <q-btn @click="checkD"></q-btn> -->
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card-section class="q-pa-sm row">
        <q-card flat class="q-pa-sm row" style="width: 100%;">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input v-model="shrimp.name" label="Camaronera" outlined readonly />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
              <q-input color="primary" label="Zona" outlined v-model="shrimp.zone.name" readonly/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-select v-model="form.applicant_id" color="primary" label="Solicitante" outlined
              hint="Seleccione solicitante" error-message="Seleccione solicitante" :error="$v.form.applicant_id.$error"
              @blur="$v.form.applicant_id.$touch()" :options="applicants" emit-value map-options option-label="full_name"
              option-value="id"/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="date" v-model="form.analysis_date" label="Fecha de análisis" outlined
              hint="Ingrese fecha de análisis" error-message="Ingrese fecha de análisis" stack-label
              :error="$v.form.analysis_date.$error" @blur="$v.form.analysis_date.$touch()">
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="date" v-model="form.delivery_date" label="Fecha de entrega" outlined
              hint="Ingrese fecha de entrega" error-message="Ingrese fecha de entrega válida" stack-label
              :error="$v.form.delivery_date.$error" @blur="$v.form.delivery_date.$touch()">
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="date" v-model="form.sampling_date" label="Fecha de Muestreo" outlined
              hint="Ingrese fecha de Muestreo" error-message="Ingrese fecha de Muestreo" stack-label
              :error="$v.form.sampling_date.$error" @blur="$v.form.sampling_date.$touch()">
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="textarea" v-model="form.observations" label="Observaciones" outlined stack-label
              :error-message="`Ingrese observaciones de hasta 1000 caracteres. ${form.observations ? form.observations.length : 0} caracteres ingresados.`"
              :error="$v.form.observations.$error" @blur="$v.form.observations.$touch()" autogrow>
              <template v-slot:hint>
                {{ form.observations ? form.observations.length : 0 }}/1000 caracteres
              </template>
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="textarea" v-model="form.recommendations" label="Recomendaciones" outlined stack-label
              :error-message="`Ingrese recomendaciones de hasta 1000 caracteres. ${form.recommendations ? form.recommendations.length : 0} caracteres ingresados.`"
              :error="$v.form.recommendations.$error" @blur="$v.form.recommendations.$touch()" autogrow>
              <template v-slot:hint>
                {{ form.recommendations ? form.recommendations.length : 0 }}/1000 caracteres
              </template>
            </q-input>
          </div>
        </q-card>
        <q-card v-show="canAddPool" class="q-pa-sm row" style="width: 100%" :bordered="false" flat>
          <div class="col-md-12" style="text-align: end">
            <q-btn-dropdown v-if="can('2.1.1.1.20')" color="primary" icon="add" label="Añadir nueva piscina" rounded>
              <q-list>
                <q-item v-for="(pool, index) in pools" clickable v-close-popup :key="index"
                :disable="pool.disable" @click="addPool(pool)">
                  <q-item-section>
                    <q-item-label>{{ pool.description }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
        </q-card>
        <q-card v-for="(pool, index) in form.pools" flat class="q-pa-sm col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" :key="index">
          <div class="row">
            <div class="col-sm-11 col-md-11 col-lg-11">
              <q-btn color="primary" rounded :icon-right="pool.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
                @click="pool.expanded = !pool.expanded" :label="`${pool.description}`"/>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.20')" color="primary" round icon="delete" @click="deletePool(index)"></q-btn>
            </div>
          </div>
          <q-slide-transition>
            <div v-if="pool.expanded">
              <q-card flat class="my-card q-pa-md q-mt-md">
                <div class="row">
                  <div class="col-sm-2 col-md-2">
                    <label for="">
                      <b>Diatomeas(Cel/ml) {{ percentDiatoms(pool.pool_id).percent ? percentDiatoms(pool.pool_id).percent + '%' : '' }}</b>
                      <q-icon name="help" color="primary" size="sm">
                        <q-tooltip size="sm">
                          Rangos óptimos
                          <table>
                            <tr>
                              <td>{{table[0]}}</td>
                              <td>{{table[1]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[2]}}</td>
                              <td>{{table[3]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[4]}}</td>
                              <td>{{table[5]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[6]}}</td>
                              <td>{{table[7]}}</td>
                            </tr>
                          </table>
                        </q-tooltip>
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-sm">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                       <!-- <q-input :color="pool.pcyclotellah >= 100000 ? 'primary' : 'negative'" type="number" v-model.number="pool.pcyclotellah" label="Cyclotella" outlined stack-label
                          hint="Ingrese Cyclotella" error-message="Ingrese Cyclotella"
                          :error="$v.form.pools.$each[index].pcyclotellah.$error"
                          @blur="$v.form.pools.$each[index].pcyclotellah.$touch()"
                          /> -->
                          <q-field
                            :color="pool.pcyclotellah >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.pcyclotellah"
                            label="Cyclotella"
                            hint="Ingrese Cyclotella"
                            :error="$v.form.pools.$each[index].pcyclotellah.$error" error-message="Ingrese Cyclotella"
                            @blur="$v.form.pools.$each[index].pcyclotellah.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-field
                            :color="pool.coscinodiscus >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.coscinodiscus"
                            label="Coscinodisco"
                            hint="Ingrese Coscinodisco"
                            :error="$v.form.pools.$each[index].coscinodiscus.$error" error-message="Ingrese Coscinodisco"
                            @blur="$v.form.pools.$each[index].coscinodiscus.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.chaetoceros >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.chaetoceros"
                            label="Chaetoceros"
                            hint="Ingrese Chaetoceros"
                            :error="$v.form.pools.$each[index].chaetoceros.$error" error-message="Ingrese Chaetoceros"
                            @blur="$v.form.pools.$each[index].chaetoceros.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.diplonei >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.diplonei"
                            label="Diplonei"
                            hint="Ingrese Diplonei"
                            :error="$v.form.pools.$each[index].diplonei.$error" error-message="Ingrese Diplonei"
                            @blur="$v.form.pools.$each[index].diplonei.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.melosira >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.melosira"
                            label="Melosira"
                            hint="Ingrese Melosira"
                            :error="$v.form.pools.$each[index].melosira.$error" error-message="Ingrese Melosira"
                            @blur="$v.form.pools.$each[index].melosira.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.nitzschia >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.nitzschia"
                            label="Nitzschia"
                            hint="Ingrese Nitzschia"
                            :error="$v.form.pools.$each[index].nitzschia.$error" error-message="Ingrese Nitzschia"
                            @blur="$v.form.pools.$each[index].nitzschia.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.amphora >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.amphora"
                            label="Amphora"
                            hint="Ingrese Amphora"
                            :error="$v.form.pools.$each[index].amphora.$error" error-message="Ingrese Amphora"
                            @blur="$v.form.pools.$each[index].amphora.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.skelotonema >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.skelotonema"
                            label="Skelotonema"
                            hint="Ingrese Skelotonema"
                            :error="$v.form.pools.$each[index].skelotonema.$error" error-message="Ingrese Skelotonema"
                            @blur="$v.form.pools.$each[index].skelotonema.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <!-- <q-input :color="pool.navicles >= 100000 ? 'primary' : 'negative'"
                          type="number" v-model.number="pool.navicles" label="Navículas" outlined stack-label
                          hint="Ingrese Navículas" error-message="Ingrese Navículas"
                          :error="$v.form.pools.$each[index].navicles.$error"
                          @blur="$v.form.pools.$each[index].navicles.$touch()"
                          /> -->
                          <q-field
                            :color="pool.navicles >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.navicles"
                            label="Navículas"
                            hint="Ingrese Navículas"
                            :error="$v.form.pools.$each[index].navicles.$error" error-message="Ingrese Navículas"
                            @blur="$v.form.pools.$each[index].navicles.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.thalassiosira >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.thalassiosira"
                            label="Thalassiosira"
                            hint="Ingrese Thalassiosira"
                            :error="$v.form.pools.$each[index].thalassiosira.$error" error-message="Ingrese Thalassiosira"
                            @blur="$v.form.pools.$each[index].thalassiosira.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.nitzschia_long >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.nitzschia_long"
                            label="Nitzchia Longissima"
                            hint="Ingrese Nitzchia Longissima"
                            :error="$v.form.pools.$each[index].nitzschia_long.$error" error-message="Ingrese Nitzchia Longissima"
                            @blur="$v.form.pools.$each[index].nitzschia_long.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.other_diatomea >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.other_diatomea"
                            label="Otros"
                            hint="Ingrese Otros"
                            :error="$v.form.pools.$each[index].other_diatomea.$error" error-message="Ingrese Otros"
                            @blur="$v.form.pools.$each[index].other_diatomea.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                    </q-card>
                  </div>
                  <div class="col-sm-2 col-md-2">
                    <label for="">
                      <b>Dinoflagelados(Cel/ml)</b>
                      <q-icon name="help" color="primary" size="sm">
                       <q-tooltip size="sm">
                          Rangos óptimos
                          <table>
                            <tr>
                              <td>{{table[0]}}</td>
                              <td>{{table[1]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[2]}}</td>
                              <td>{{table[3]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[4]}}</td>
                              <td>{{table[5]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[6]}}</td>
                              <td>{{table[7]}}</td>
                            </tr>
                          </table>
                        </q-tooltip>
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-sm">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.ceratium >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.ceratium"
                            label="Ceratium"
                            hint="Ingrese Ceratium"
                            :error="$v.form.pools.$each[index].ceratium.$error" error-message="Ingrese Ceratium"
                            @blur="$v.form.pools.$each[index].ceratium.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.peridinium >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.peridinium"
                            label="Peridinio"
                            hint="Ingrese Peridinio"
                            :error="$v.form.pools.$each[index].peridinium.$error" error-message="Ingrese Peridinio"
                            @blur="$v.form.pools.$each[index].peridinium.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                    </q-card>
                  </div>
                  <div class="col-sm-2 col-md-2">
                    <label for="">
                      <b>Clorofitas(Cel/ml) {{ percentChlorophytes(pool.pool_id).percent ? percentChlorophytes(pool.pool_id).percent + '%' : '' }}</b>
                      <q-icon name="help" color="primary" size="sm">
                        <q-tooltip size="sm">
                          Rangos óptimos
                          <table>
                            <tr>
                              <td>{{table[0]}}</td>
                              <td>{{table[1]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[2]}}</td>
                              <td>{{table[3]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[4]}}</td>
                              <td>{{table[5]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[6]}}</td>
                              <td>{{table[7]}}</td>
                            </tr>
                          </table>
                        </q-tooltip>
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-sm">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.coelastrum >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.coelastrum"
                            label="Coelastrum"
                            hint="Ingrese Coelastrum"
                            :error="$v.form.pools.$each[index].coelastrum.$error" error-message="Ingrese Coelastrum"
                            @blur="$v.form.pools.$each[index].coelastrum.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.chlamydomonas >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.chlamydomonas"
                            label="Chlamydomonas"
                            hint="Ingrese Chlamydomonas"
                            :error="$v.form.pools.$each[index].chlamydomonas.$error" error-message="Ingrese Chlamydomonas"
                            @blur="$v.form.pools.$each[index].chlamydomonas.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.scenedesmus >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.scenedesmus"
                            label="Scenedesmus"
                            hint="Ingrese Scenedesmus"
                            :error="$v.form.pools.$each[index].scenedesmus.$error" error-message="Ingrese Scenedesmus"
                            @blur="$v.form.pools.$each[index].scenedesmus.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.chlorella >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.chlorella"
                            label="Clorella"
                            hint="Ingrese Clorella"
                            :error="$v.form.pools.$each[index].chlorella.$error" error-message="Ingrese Clorella"
                            @blur="$v.form.pools.$each[index].chlorella.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.other_clorofitas >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.other_clorofitas"
                            label="Otros"
                            hint="Ingrese Otros"
                            :error="$v.form.pools.$each[index].other_clorofitas.$error" error-message="Ingrese Otros"
                            @blur="$v.form.pools.$each[index].other_clorofitas.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                    </q-card>
                  </div>
                  <div class="col-sm-2 col-md-2">
                    <label for="">
                      <b>Cianofitas(Cel/ml) {{ percentCyanophytes(pool.pool_id).percent ? percentCyanophytes(pool.pool_id).percent + '%' : '' }}</b>
                      <q-icon name="help" color="primary" size="sm">
                       <q-tooltip size="sm">
                          Rangos óptimos
                          <table>
                            <tr>
                              <td>{{table[0]}}</td>
                              <td>{{table[1]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[2]}}</td>
                              <td>{{table[3]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[4]}}</td>
                              <td>{{table[5]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[6]}}</td>
                              <td>{{table[7]}}</td>
                            </tr>
                          </table>
                        </q-tooltip>
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-sm">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.anabaena >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.anabaena"
                            label="Anabaena"
                            hint="Ingrese Anabaena"
                            :error="$v.form.pools.$each[index].anabaena.$error" error-message="Ingrese Anabaena"
                            @blur="$v.form.pools.$each[index].anabaena.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.spirulina >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.spirulina"
                            label="Spirulina"
                            hint="Ingrese Spirulina"
                            :error="$v.form.pools.$each[index].spirulina.$error" error-message="Ingrese Spirulina"
                            @blur="$v.form.pools.$each[index].spirulina.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.oscillatory >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.oscillatory"
                            label="Oscillatoria"
                            hint="Ingrese Oscillatoria"
                            :error="$v.form.pools.$each[index].oscillatory.$error" error-message="Ingrese Oscillatoria"
                            @blur="$v.form.pools.$each[index].oscillatory.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.nostoc >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.nostoc"
                            label="Nostoc"
                            hint="Ingrese Nostoc"
                            :error="$v.form.pools.$each[index].nostoc.$error" error-message="Ingrese Nostoc"
                            @blur="$v.form.pools.$each[index].nostoc.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.anacystis >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.anacystis"
                            label="Anacystis"
                            hint="Ingrese Anacystis"
                            :error="$v.form.pools.$each[index].anacystis.$error" error-message="Ingrese Anacystis"
                            @blur="$v.form.pools.$each[index].anacystis.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.other_cianofitas >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.other_cianofitas"
                            label="Otros"
                            hint="Ingrese Otros"
                            :error="$v.form.pools.$each[index].other_cianofitas.$error" error-message="Ingrese Otros"
                            @blur="$v.form.pools.$each[index].other_cianofitas.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                    </q-card>
                  </div>
                  <div class="col-sm-2 col-md-2">
                    <label for="">
                      <b>Otros(Cel/ml)</b>
                      <q-icon name="help" color="primary" size="sm">
                        <q-tooltip size="sm">
                          Rangos óptimos
                          <table>
                            <tr>
                              <td>{{table[0]}}</td>
                              <td>{{table[1]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[2]}}</td>
                              <td>{{table[3]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[4]}}</td>
                              <td>{{table[5]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[6]}}</td>
                              <td>{{table[7]}}</td>
                            </tr>
                          </table>
                        </q-tooltip>
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-sm">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.protozoa >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.protozoa"
                            label="Protozoarios"
                            hint="Ingrese Protozoarios"
                            :error="$v.form.pools.$each[index].protozoa.$error" error-message="Ingrese Protozoarios"
                            @blur="$v.form.pools.$each[index].protozoa.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                          <q-field
                            :color="pool.euglena >= 100000 ? 'primary' : 'negative'"
                            outlined
                            stack-label
                            v-model="pool.euglena"
                            label="Euglena"
                            hint="Ingrese Euglena"
                            :error="$v.form.pools.$each[index].euglena.$error" error-message="Ingrese Euglena"
                            @blur="$v.form.pools.$each[index].euglena.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue"
                              v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                    </q-card>
                  </div>
                  <!-- <div class="col-sm-2 col-md-2">
                    <label for="">
                      <b>Observaciones</b>
                      <q-icon name="" color="primary" size="sm">
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-sm">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="textarea" v-model="pool.observations" label="Observaciones" outlined stack-label
                          :error-message="`Ingrese observaciones de hasta 1000 caracteres. ${pool.observations ? pool.observations.length : 0} caracteres ingresados.`"
                          :error="$v.form.pools.$each[index].observations.$error"
                          @blur="$v.form.pools.$each[index].observations.$touch()" autogrow
                        >
                          <template v-slot:hint>
                            {{ pool.observations ? pool.observations.length : 0 }}/1000 caracteres
                          </template>
                        </q-input>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="textarea" v-model="pool.recommendations" label="Recomendaciones" outlined stack-label
                          :error-message="`Ingrese recomendaciones de hasta 1000 caracteres. ${pool.recommendations ? pool.recommendations.length : 0} caracteres ingresados.`"
                          :error="$v.form.pools.$each[index].recommendations.$error"
                          @blur="$v.form.pools.$each[index].recommendations.$touch()" autogrow
                        >
                          <template v-slot:hint>
                            {{ pool.recommendations ? pool.recommendations.length : 0 }}/1000 caracteres
                          </template>
                        </q-input>
                      </div>
                    </q-card>
                  </div> -->
                  <pie-chart :chart-data="getChartData(pool.pool_id)" :options="options" style="width: 100%" :id="pool.pool_id"/>
                </div>
              </q-card>
            </div>
          </q-slide-transition>
        </q-card>
      </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import { required, maxLength } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../../mixins/form'
import { mapGetters } from 'vuex'
import PieChart from 'components/charts/PieChart'
export default {
  mixins: [FormMixin],
  components: {
    PieChart
  },
  data () {
    return {
      customerID: this.$route.params.id,
      shrimpId: this.$route.params.shrimp_id,
      title: 'Análisis Cuantitativo de Fitoplancton',
      subtitle: 'Nuevo análisis',
      route: 'phytoplanktons_analysis',
      form: {
        pools: []
      },
      customer: {},
      pools: [
      ],
      zones: [],
      applicants: [
      ],
      table: [
        'Malo',
        '< 50.000 cel/ml',
        'Regular',
        '> 50.000 cel/ml',
        'Bueno',
        '> 100.000 cel/ml',
        'Muy Bueno',
        '> 500.000 cel/ml'
      ],
      shrimp: {
        zone: {}
      },
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 0,
        masked: false
      },
      chartData: {
        labels: ['Green', 'Red', 'Blue'],
        datasets: [
          {
            label: 'Data One',
            backgroundColor: ['#41B883', '#E46651', '#00D8FF'],
            data: [1, 10, 5]
          }
        ]
      },
      backgroundColors: ['#d09228', '#adbd57', '#5af749', '#41B883'],
      options: {
        responsive: true,
        maintainAspectRatio: false,
        pieceLabel: {
          render: 'value',
          mode: 'percentage',
          precision: 1
        },
        showAllTooltips: true
      }
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    canAddPool () {
      return this.form.pools.length < this.pools.length
    }
  },
  validations () {
    return {
      form: {
        zone_id: { },
        applicant_id: { required },
        analysis_date: { required },
        delivery_date: {
          required,
          minValue: (value) => {
            return value >= this.form.analysis_date
          }
        },
        sampling_date: { required },
        observations: { maxLength: maxLength(1000) },
        recommendations: { maxLength: maxLength(1000) },
        pools: {
          $each: {
            pool_id: { required },
            pcyclotellah: {},
            coscinodiscus: {},
            chaetoceros: {},
            melosira: {},
            nitzschia: {},
            skelotonema: {},
            navicles: {},
            thalassiosira: {},
            ceratium: {},
            peridinium: {},
            chlamydomonas: {},
            chlorella: {},
            scenedesmus: {},
            anabaena: {},
            oscillatory: {},
            nostoc: {},
            anacystis: {},
            protozoa: {},
            euglena: {},
            amphora: {},
            diplonei: {},
            nitzschia_long: {},
            other_diatomea: {},
            coelastrum: {},
            spirulina: {},
            other_clorofitas: {},
            other_cianofitas: {}
          }
        }
      }
    }
  },
  async mounted () {
    this.getCustomer()
    this.getShrimp()
    this.getZones()
  },
  methods: {
    getCustomer () {
      this.$api.get(`customers/${this.customerID}`).then(res => {
        if (res) {
          this.customer = res
          const shrimpPools = (this.customer.shrimps.find(val => val.id === parseInt(this.shrimpId))).pools
          this.pools = shrimpPools
          this.setAvailablePools()
          /* this.applicants.unshift({
            id: 0,
            full_name: 'Cliente'
          }) */
        }
      })
    },
    getZones () {
      this.$api.get('zones/true').then(res => {
        if (res) {
          this.zones = res
        }
      })
    },
    setAvailablePools () {
      const pools = this.pools

      pools.forEach(element => {
        element.disable = false
      })

      this.form.pools.forEach(element => {
        pools.forEach(element2 => {
          // delete element2.disable
          if (element.pool_id === element2.id) {
            element2.disable = true
          } else {
          }
        })
      })
      this.pools = pools
    },
    deletePool (index) {
      this.form.pools.splice(index, 1)
      this.setAvailablePools()
    },
    beforeSave () {
      this.form.shrimp_id = this.shrimpId
      // const canvas = document.getElementById('pie-chart').toDataURL('image/png')
      for (const pool of this.form.pools) {
        pool.expanded = true
        console.log({ pool })
        console.log({ document })
        const div = document.getElementById(pool.pool_id)
        console.log({ div })
        const canvas = div.querySelector('#pie-chart').toDataURL('image/png')
        pool.chart_image = canvas
        // Recorrer los campos de las piscinas y los que estén en 0 colocarlos como undefined
        for (const j in pool) {
          // console.log(pool[j])
          pool[j] = pool[j] === 0 ? undefined : pool[j]
        }
      }
    },
    afterGetRecord () {
      this.setAvailablePools()
    },
    afterSave (response = undefined) {
      this.$api.get(`phytoplankton_analysis_print/${response.id}`).then(res => {})
    },
    getShrimp () {
      this.$api.get(`shrimps/${this.shrimpId}`).then(res => {
        if (res) {
          this.shrimp = res
          this.applicants = res.contacts
        }
      })
    },
    addPool (pool) {
      this.form.pools.unshift({
        pool_id: pool.id,
        description: pool.description,
        expanded: true
      })
      this.setAvailablePools()
    },
    afterMounted () {
      this.$emit('setBreadcrumb', [
        {
          label: 'Home',
          icon: 'home',
          to: '/menu'
        },
        {
          label: 'Clientes',
          icon: 'person',
          to: '/customers'
        },
        {
          label: 'Gestión Cliente',
          icon: 'person',
          to: '/customers/show/' + this.customerID
        },
        {
          label: 'Camaroneras',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps`
        },
        {
          label: 'Fitoplancton',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps/${this.shrimpId}/phytoplanktons`
        },
        {
          label: this.insert ? 'Nuevo análisis' : 'Ver análisis',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps/${this.shrimpId}/phytoplanktons/form`
        }
      ])
    },
    totalPool (poolId) {
      const pool = { ...this.form.pools.find(val => val.pool_id === poolId) }
      delete pool.pool_id
      delete pool.description
      delete pool.expanded

      const pcyclotellah = pool.pcyclotellah && typeof parseInt(pool.pcyclotellah) === 'number' ? parseInt(pool.pcyclotellah) : 0
      const coscinodiscus = pool.coscinodiscus && typeof parseInt(pool.coscinodiscus) === 'number' ? parseInt(pool.coscinodiscus) : 0
      const chaetoceros = pool.chaetoceros && typeof parseInt(pool.chaetoceros) === 'number' ? parseInt(pool.chaetoceros) : 0
      const melosira = pool.melosira && typeof parseInt(pool.melosira) === 'number' ? parseInt(pool.melosira) : 0
      const nitzschia = pool.nitzschia && typeof parseInt(pool.nitzschia) === 'number' ? parseInt(pool.nitzschia) : 0
      const skelotonema = pool.skelotonema && typeof parseInt(pool.skelotonema) === 'number' ? parseInt(pool.skelotonema) : 0
      const navicles = pool.navicles && typeof parseInt(pool.navicles) === 'number' ? parseInt(pool.navicles) : 0
      const thalassiosira = pool.thalassiosira && typeof parseInt(pool.thalassiosira) === 'number' ? parseInt(pool.thalassiosira) : 0
      const amphora = pool.amphora && typeof parseInt(pool.amphora) === 'number' ? parseInt(pool.amphora) : 0
      const diplonei = pool.diplonei && typeof parseInt(pool.diplonei) === 'number' ? parseInt(pool.diplonei) : 0
      const nitzschiaLong = pool.nitzschia_long && typeof parseInt(pool.nitzschia_long) === 'number' ? parseInt(pool.nitzschia_long) : 0
      const otherDiatomea = pool.other_diatomea && typeof parseInt(pool.other_diatomea) === 'number' ? parseInt(pool.other_diatomea) : 0

      // const ceratium = pool.ceratium && typeof parseInt(pool.ceratium) === 'number' ? parseInt(pool.ceratium) : 0
      // const peridinium = pool.peridinium && typeof parseInt(pool.peridinium) === 'number' ? parseInt(pool.peridinium) : 0

      const chlamydomonas = pool.chlamydomonas && typeof parseInt(pool.chlamydomonas) === 'number' ? parseInt(pool.chlamydomonas) : 0
      const chlorella = pool.chlorella && typeof parseInt(pool.chlorella) === 'number' ? parseInt(pool.chlorella) : 0
      const coelastrum = pool.coelastrum && typeof parseInt(pool.coelastrum) === 'number' ? parseInt(pool.coelastrum) : 0
      const spirulina = pool.spirulina && typeof parseInt(pool.spirulina) === 'number' ? parseInt(pool.spirulina) : 0
      const otherClorofitas = pool.other_clorofitas && typeof parseInt(pool.other_clorofitas) === 'number' ? parseInt(pool.other_clorofitas) : 0

      const scenedesmus = pool.scenedesmus && typeof parseInt(pool.scenedesmus) === 'number' ? parseInt(pool.scenedesmus) : 0
      const anabaena = pool.anabaena && typeof parseInt(pool.anabaena) === 'number' ? parseInt(pool.anabaena) : 0
      const oscillatory = pool.oscillatory && typeof parseInt(pool.oscillatory) === 'number' ? parseInt(pool.oscillatory) : 0
      const nostoc = pool.nostoc && typeof parseInt(pool.nostoc) === 'number' ? parseInt(pool.nostoc) : 0
      const anacystis = pool.anacystis && typeof parseInt(pool.anacystis) === 'number' ? parseInt(pool.anacystis) : 0
      const otherCianofitas = pool.other_cianofitas && typeof parseInt(pool.other_cianofitas) === 'number' ? parseInt(pool.other_cianofitas) : 0

      const sumValues = pcyclotellah + coscinodiscus + chaetoceros + melosira + nitzschia + skelotonema + navicles + thalassiosira +
      /* ceratium + peridinium + */ chlamydomonas + chlorella + scenedesmus + anabaena + oscillatory + nostoc + anacystis +
      amphora + diplonei + nitzschiaLong + otherDiatomea + coelastrum + spirulina + otherClorofitas + otherCianofitas

      return {
        pcyclotellah,
        coscinodiscus,
        chaetoceros,
        melosira,
        nitzschia,
        skelotonema,
        navicles,
        thalassiosira,
        amphora,
        diplonei,
        nitzschiaLong,
        otherDiatomea,
        /* ceratium,
        peridinium, */
        chlamydomonas,
        chlorella,
        coelastrum,
        spirulina,
        otherClorofitas,
        scenedesmus,
        anabaena,
        oscillatory,
        nostoc,
        anacystis,
        sumValues,
        otherCianofitas
      }
    },
    percentDiatoms (poolId) {
      const total = this.totalPool(poolId)
      const pcyclotellah = total.pcyclotellah
      const coscinodiscus = total.coscinodiscus
      const chaetoceros = total.chaetoceros
      const melosira = total.melosira
      const nitzschia = total.nitzschia
      const skelotonema = total.skelotonema
      const navicles = total.navicles
      const thalassiosira = total.thalassiosira
      const amphora = total.amphora
      const diplonei = total.diplonei
      const nitzschiaLong = total.nitzschiaLong
      const otherDiatomea = total.otherDiatomea

      const sum = pcyclotellah + coscinodiscus + chaetoceros + melosira + nitzschia + skelotonema + navicles +
      thalassiosira + amphora + diplonei + nitzschiaLong + otherDiatomea
      // return sum > 0 ? (sum * 100 / total.sumValues).toFixed(2) : ''
      return {
        sum,
        percent: sum > 0 ? (sum * 100 / total.sumValues).toFixed(2) : ''
      }
    },
    /* percentDinoflagellates (poolId) {
      const total = this.totalPool(poolId)
      const ceratium = total.ceratium
      const peridinium = total.peridinium
      const sum = ceratium + peridinium

      return sum > 0 ? (sum * 100 / total.sumValues).toFixed(2) : ''
    }, */
    percentChlorophytes (poolId) {
      const total = this.totalPool(poolId)
      const chlamydomonas = total.chlamydomonas
      const chlorella = total.chlorella
      const scenedesmus = total.scenedesmus
      const coelastrum = total.coelastrum
      const otherClorofitas = total.otherClorofitas
      const sum = chlamydomonas + chlorella + scenedesmus + coelastrum + otherClorofitas

      // return sum > 0 ? (sum * 100 / total.sumValues).toFixed(2) : ''
      return {
        sum,
        percent: sum > 0 ? (sum * 100 / total.sumValues).toFixed(2) : ''
      }
    },
    percentCyanophytes (poolId) {
      const total = this.totalPool(poolId)
      const anabaena = total.anabaena
      const oscillatory = total.oscillatory
      const nostoc = total.nostoc
      const anacystis = total.anacystis
      const spirulina = total.spirulina
      const otherCianofitas = total.otherCianofitas
      const sum = anabaena + oscillatory + nostoc + anacystis + spirulina + otherCianofitas

      // return sum > 0 ? (sum * 100 / total.sumValues).toFixed(2) : ''
      return {
        sum,
        percent: sum > 0 ? (sum * 100 / total.sumValues).toFixed(2) : ''
      }
    },
    getChartData (poolId) {
      // const index = this.form.pools.findIndex(val => val.id === poolId)
      return {
        labels: [`Diatomeas - ${this.percentDiatoms(poolId).percent}%`, `Clorofitas - ${this.percentChlorophytes(poolId).percent}%`, `Cianofitas - ${this.percentCyanophytes(poolId).percent}%`],
        datasets: [
          {
            label: 'Data One',
            backgroundColor: this.backgroundColors,
            data: [this.percentDiatoms(poolId).sum, this.percentChlorophytes(poolId).sum, this.percentCyanophytes(poolId).sum]
          }
        ]
      }
    },
    checkD () {
      console.log(document.getElementById('53'))
      const div = document.getElementById('53')
      console.log(div.querySelector('#pie-chart'))
      const canvas = div.querySelector('#pie-chart').toDataURL('image/png')
      console.log({ canvas })
    }
  }
}
</script>
