<template>
  <q-page>
    <div>
      <listable :title="title" :buttons="buttons" :cols="cols" route="categories" :params="params"/>
    </div>
  </q-page>
</template>

<script>
import Listable from 'components/Listable'
export default {
  components: { Listable },
  data () {
    return {
      title: 'Categorías de proveedores',
      params: {
        type: 2
      },
      buttons: [
        {
          label: 'Nuevo', icon: 'add', color: 'primary', url: `${this.$route.path}/form`, action: '', permission: '2.2'
        }
      ],
      cols: [
        { name: 'legal_name', required: true, label: 'Nombre', align: 'left', field: 'name', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ]
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Categorías de proveedores',
        icon: 'person',
        to: 'providers_categories'
      }
    ])
  }
}
</script>
<style>
</style>
