<template>
  <!-- <q-page>
    <q-btn-group push>
      <q-btn color="primary" push label="Acción 1" icon="timeline" />
      <q-btn push label="Acción 2" icon="visibility" />
      <q-btn text-color="primary" push label="Acción 3" icon="update" />
    </q-btn-group>
    <q-card class="q-pa-md">
     <q-card-section class="bg-primary text-white row">
        <div class="col-md-2">
          <div class="text-h6">{{ title }}</div>
          <div class="text-subtitle2">{{ subtitle }}</div>
        </div>
        <div style="margin: auto" class="row items-center justify-center">
          <q-btn class="q-mr-md" outline text-color="white" label="Volver" @click="$router.go(-1)" />
          <q-btn push color="primary" label="Guardar" @click="save" glossy />
        </div>
      </q-card-section>

      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-select color="primary" v-model="form.area_id" :options="areas" label="Área" emit-value map-options
            outlined hint="Seleccione un área" error-message="Seleccione un área"
            :error="$v.form.area_id.$error" @blur="$v.form.area_id.$touch()" option-label="description" option-value="id" autofocus>
          </q-select>
        </div>
      </div>

      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-select color="primary" v-model="form.department_id" :options="departments" label="Departamento" emit-value map-options
            outlined hint="Seleccione un área" error-message="Seleccione un área"
            :error="$v.form.department_id.$error" @blur="$v.form.department_id.$touch()" option-label="name" option-value="id" autofocus>
          </q-select>
        </div>
      </div>

      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-input color="primary" v-model="form.description" label="Nombre" error-message="Ingrese nombre de sección válido"
            :error="$v.form.description.$error" @blur="$v.form.description.$touch()" placeholder="Sección 1"
            hint="Ingrese nombre de sección válido" outlined autofocus>
          </q-input>
        </div>
      </div>
      <q-separator />

      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
  </q-page> -->
  <q-page>
    <!-- <q-btn-group push>
      <q-btn color="primary" push label="Acción 1" icon="timeline" />
      <q-btn push label="Acción 2" icon="visibility" />
      <q-btn text-color="primary" push label="Acción 3" icon="update" />
    </q-btn-group> -->
    <q-card class="q-pa-md">
     <FormHeader :title="title" :subtitle="subtitle" :save="save" />
    </q-card>
  <crear-reporte
    :type='type'
    :ejemplo='ejemplo'
  />
  </q-page>
</template>
<script>
// import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import CrearReporte from 'components/CrearReporte'
import { FormMixin } from '../../../../mixins/form'
import FormHeader from 'components/FormHeader'
export default {
  mixins: [FormMixin],
  components: {
    CrearReporte,
    FormHeader
  },
  data () {
    return {
      title: 'Formatos',
      subtitle: 'Nuevo formato',
      type: 'cotizaciones',
      form: {
      },
      ejemplo: {
        datos: {
          nombre_cliente: 'Suárez Randy',
          empresa_cliente: 'EIPRO',
          ciudad_cliente: 'Nirgua',
          imagen: 'diagrama.png',
          fecha_actual: new Date(),
          total: 1320,
          colaborador: 240,
          biometrico: 240,
          liquidacion: 240,
          core: 600,
          visitaTecnica: 60,
          soporteRemoto: 50,
          soporteTelf: 35,
          visitaTecnicaSLA: 45,
          soporteRemotoSLA: 35,
          soporteTelfSLA: 25,
          cantEmpleado: 120,
          backupImagen: 75,
          backupBD: 75
        },
        reporte: 'cotizaciones'
      }
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Formatos',
        icon: 'person',
        to: '/formats'
      },
      {
        label: 'Nuevo formato',
        icon: 'person',
        to: 'formats/form'
      }
    ])
  },
  methods: {
  }
}
</script>
