<template>
  <q-page>
    <!-- <q-btn-group push>
      <q-btn color="primary" push label="Acción 1" icon="timeline" />
      <q-btn push label="Acción 2" icon="visibility" />
      <q-btn text-color="primary" push label="Acción 3" icon="update" />
    </q-btn-group> -->
    <div>
      <listable :title="title" :buttons="buttons" :cols="cols" route="formats" :pagination="pagination"
      :dense="$q.screen.lt.md"/>
    </div>
  </q-page>
</template>

<script>
import Listable from 'components/Listable'
export default {
  components: { Listable },
  data () {
    return {
      title: 'Formatos',
      pagination: {
        page: 1,
        rowsPerPage: 10
      },
      buttons: [
        {
          label: 'Nuevo', icon: 'add', color: 'primary', url: `${this.$route.path}/form`, action: '', permission: '1.11.2'
        }
      ],
      cols: [
        { name: 'name', required: true, label: 'Nombre', align: 'left', field: 'name', sortable: true },
        { name: 'title', required: true, label: 'Título', align: 'left', field: 'title', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ]
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Formatos',
        icon: 'person',
        to: 'formats'
      }
    ])
  }
}
</script>
<style>
</style>
