<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }}</b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.55')" label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar reporte
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card flat class="q-pa-sm row" style="width: 100%;">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-select label="Piscina" color="primary" outlined v-model="form.pool_id" :options="pools"
            error-message="Seleccione piscina" :error="$v.form.pool_id.$error" emit-value map-options
            @blur="$v.form.pool_id.$touch()" option-value="id" option-label="description" autofocus/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input color="primary" label="Área" outlined :value="area" readonly/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="date" color="primary" label="Fecha de siembra" outlined v-model="form.seed_date"
            error-message="Seleccione piscina" :error="$v.form.seed_date.$error" emit-value map-options
            @blur="$v.form.seed_date.$touch()" stack-label/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-field color="primary" outlined v-model="form.sowing_size" label="Tamaño de siembra"
              :error="$v.form.sowing_size.$error" error-message="Ingrese tamaño de siembra">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
              </template>
            </q-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-field color="primary" outlined v-model="form.cam" label="#Cam"
              :error="$v.form.cam.$error" error-message="Ingrese cantidad de camarones" @blur="calculateDensity">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
              </template>
            </q-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-field color="primary" outlined v-model="density" label="Densidad" @input="calculateCam"
              :error="$v.density.$error" error-message="Ingrese densidad">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
              </template>
            </q-field>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-select label="Marca de producto" color="primary" outlined v-model="brand" :options="brands"
            error-message="Seleccione marca" :error="$v.brand.$error" emit-value map-options
            @blur="$v.brand.$touch()" @input="resetProduct"/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-select label="Producto" color="primary" outlined v-model="form.product_id" :options="filteredProducts"
            error-message="Seleccione producto" :error="$v.form.product_id.$error" emit-value map-options
            @blur="$v.form.product_id.$touch()" option-value="id" option-label="name"/>
          </div>
          <template v-if="id">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
              <q-input color="primary" label="Libras" outlined :value="pounds" readonly/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
              <q-input color="primary" label="Días" outlined :value="days" readonly/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
              <q-input color="primary" label="Crec Ult." outlined :value="growthLast" readonly/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
              <q-input color="primary" label="Crec Ant." outlined :value="growthAnt" readonly/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
              <q-input color="primary" label="Crec 4 Ult." outlined :value="growthLast4" readonly/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
              <q-input color="primary" label="Crec Gral." outlined :value="generalGrowth" readonly/>
            </div>
          </template>
      </q-card>
      <div v-if="id && can('2.1.1.1.58')" class="col-auto" style="text-align: end">
        <q-btn color="primary" icon="add" label="Agregar reporte" @click="addReport" rounded/>
      </div>
    </q-card>
    <q-card v-if="form.growthReports.length" class="q-pa-md" style="width: 100%">
          <div class="text-h6 text-primary"><b>Reportes de crecimiento</b></div>
          <q-scroll-area
            horizontal
            :visible="true"
            style="height: 800px; min-width:320px;"
          >
          <div class="row no-wrap">
            <q-card v-for="(item, key) in form.growthReports" class="q-pa-md" style="width: 190px" :key="key">
              <q-btn v-if="can('2.1.1.1.59')" color="primary" icon="edit" @click="editReport(item)" flat round dense>
                <q-tooltip>
                  Editar reporte de crecimiento
                </q-tooltip>
              </q-btn>
              <q-input class="q-pb-md" label="Fecha" :value="item.dateF" outlined readonly/>
              <q-input class="q-pb-md" label="Tamaño" :value="item.size" outlined readonly/>
              <q-input class="q-pb-md" label="Muestreo poblacional" :value="item.mp" outlined readonly/>
            </q-card>
          </div>
          <div v-if="form.lastFourGrowth" class="q-pt-md">Crecimiento en 4 últimas semanas: <b>{{ form.lastFourGrowth }}</b></div>
          </q-scroll-area>
        </q-card>
    <q-dialog v-model="showAddReport">
      <q-card class="modal" style="border-radius: 10px;">
        <q-card-section class="row q-pb-none text-primary">
          <div class="text-h6"><b>{{showAddReportType === 'add' ? 'Agregar nuevo' : 'Editar'}} reporte</b></div>
          <q-space />
          <q-btn color="negative" icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section class="row">
          <div class="col-md-6 q-pr-md">
            <q-input type="date" label="Fecha" v-model="growthReport.date" :error="$v.growthReport.date.$error"
            @blur="$v.growthReport.date.$touch()" error-message="Ingrese fecha" stack-label outlined/>
          </div>
          <div class="col-md-6">
            <q-input type="number" label="Tamaño" v-model="growthReport.size" :error="$v.growthReport.size.$error"
            @blur="$v.growthReport.size.$touch()" error-message="Ingrese tamaño" stack-label outlined />
          </div>
          <div class="col-md-6">
            <q-input type="number" label="Muestreo poblacional" v-model="growthReport.mp" :error="$v.growthReport.mp.$error"
            @blur="$v.growthReport.mp.$touch()" error-message="Ingrese MP" stack-label outlined />
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Volver" color="primary" v-close-popup />
          <q-btn flat label="Guardar" color="primary" @click="saveGrowthReport" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../../mixins/form'
import { mapGetters } from 'vuex'
import { date } from 'quasar'
export default {
  mixins: [FormMixin],
  components: {
  },
  data () {
    return {
      id: this.$route.params.compendiumId,
      customerID: this.$route.params.id,
      shrimpId: this.$route.params.shrimp_id,
      title: 'Registro de compendio',
      subtitle: !this.$route.params.compendiumId ? 'Nuevo reporte' : 'Ver reporte',
      route: 'compendium',
      form: {
        growthReports: []
      },
      shrimp: {},
      pools: [],
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 0,
        masked: false
      },
      brand: '',
      brands: [],
      products: [],
      showAddReport: false,
      showAddReportType: 'add',
      growthReport: {},
      density: ''
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    area () {
      return this.form.pool_id && this.pools.length ? this.pools.find(val => val.id === this.form.pool_id).area : ''
    },
    filteredProducts () {
      return this.brand ? this.products.filter(val => val.brand === this.brand) : []
    },
    pounds () {
      return this.form.lastReport && this.form.lastReport.mp ? ((this.form.cam * (this.form.lastReport.mp / 100) * this.form.lastReport.size) / 454).toFixed() : ''
    },
    days () {
      return this.form.lastReport && this.form.lastReport.date ? date.getDateDiff(this.form.lastReport.date, this.form.seed_date, 'days') : ''
    },
    growthLast () {
      return this.form.lastReport && this.form.lastReport.size ? (this.form.lastReport.size - this.form.penultimateReport.size).toFixed(2) : ''
    },
    growthAnt () {
      return this.form.penultimateReport && this.form.penultimateReport.size ? (this.form.penultimateReport.size - this.form.antePenultimateReport.size).toFixed(2) : ''
    },
    growthLast4 () {
      return this.form.lastReport && this.form.lastReport.size ? ((this.form.lastReport.size - this.form.fifthUltimateReport.size) / 28 * 7).toFixed(2) : ''
    },
    generalGrowth () {
      return this.form.lastReport && this.form.lastReport.size ? ((this.form.lastReport.size - this.form.sowing_size) / (this.days / 7)).toFixed(2) : ''
    }
  },
  validations () {
    return {
      brand: { required },
      form: {
        pool_id: { required },
        seed_date: { required },
        sowing_size: { required },
        product_id: { required },
        cam: { required }
      },
      growthReport: {
        date: { required },
        size: { required },
        mp: { required }
      },
      density: { required }
    }
  },
  async mounted () {
    await this.getShrimp()
    await this.getProducts()
    // this.density = this.form.cam / this.area
  },
  methods: {
    afterMounted () {
      this.$emit('setBreadcrumb', [
        {
          label: 'Home',
          icon: 'home',
          to: '/menu'
        },
        {
          label: 'Clientes',
          icon: 'person',
          to: '/customers'
        },
        {
          label: 'Gestión Cliente',
          icon: 'person',
          to: '/customers/show/' + this.customerID
        },
        {
          label: 'Camaroneras',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps`
        },
        {
          label: 'Compendio',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps/${this.shrimpId}/compendium`
        },
        {
          label: this.insert ? 'Nuevo reporte' : 'Ver reporte',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps/${this.shrimpId}/compendium/form`
        }
      ])
    },
    getShrimp () {
      this.$api.get(`shrimps/${this.shrimpId}`).then(res => {
        if (res) {
          this.shrimp = res
          this.pools = res.pools
          console.log('density', this.density, 'this.area', this.area, 'this.form.cam', this.form.cam)
          this.density = this.form.cam / this.area
        }
      })
    },
    getProducts () {
      this.$api.get('products').then(res => {
        if (res) {
          console.log('products', res)
          this.brands = [...new Set(res.map(val => val.brand))]
          this.products = res
        }
      })
    },
    resetProduct () {
      this.$set(this.form, 'product_id', '')
    },
    beforeSave () {
      this.form.shrimp_id = this.shrimpId
    },
    afterGetRecord (res) {
      this.brand = res.product.brand
    },
    addReport () {
      this.showAddReport = true
      this.showAddReportType = 'add'
      this.growthReport = {}
    },
    editReport (report) {
      this.showAddReport = true
      this.showAddReportType = 'edit'
      this.growthReport = { ...report }
    },
    saveGrowthReport () {
      this.$v.growthReport.$touch()
      if (!this.$v.growthReport.$error) {
        this.$q.loading.show()
        console.log(this.growthReport)
        if (this.showAddReportType === 'add') { // Nuevo reporte
          this.growthReport.compendium_id = this.id
          this.$api.post('compendium_growth_reports', this.growthReport).then(res => {
            if (res) {
              this.getRecord()
              this.showAddReport = false
              this.growthReport = {}
              this.$v.growthReport.$reset()
            }
            this.$q.loading.hide()
          })
        } else { // Editar reporte
          this.$api.put(`compendium_growth_reports/${this.growthReport.id}`, this.growthReport).then(res => {
            if (res) {
              this.getRecord()
              this.showAddReport = false
              this.growthReport = {}
              this.$v.growthReport.$reset()
            }
            this.$q.loading.hide()
          })
        }
      }
    },
    calculateDensity () {
      if (this.form.cam) {
        this.density = this.form.cam / this.area
      }
    },
    calculateCam () {
      if (this.density) {
        this.form.cam = this.density * this.area
      }
    }
  }
}
</script>
<style lang="css">
.circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
</style>
