<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }}</b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn label="Filtrar" rounded color="primary" size="md" @click="download">
                <q-tooltip>
                  Descargar reporte de compendio
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card-section class="q-pa-sm row">
        <q-card class="q-pa-sm" style="width: 100%" flat>
          <div class="row">
            <!-- <div class="col-md-4 q-pa-md">
              <q-select v-model="form.shrimp_id" color="primary" label="Camaronera" outlined
                :options="shrimps" emit-value map-options
                error-message="Seleccione camaronera" :error="$v.form.shrimp_id.$error"
                @blur="$v.form.shrimp_id.$touch()"
                option-value="id" option-label="name"/>
            </div> -->
            <div class="col-md-4 q-pa-md">
              <q-select v-model="form.foods_id" color="primary" label="Tipos de alimento" outlined
                :options="foods" emit-value map-options @input="getCompendiums" error-message="Seleccione producto"
                :error="$v.form.foods_id.$error" @blur="$v.form.foods_id.$touch()"
                option-value="id" option-label="name" multiple use-chips clearable/>
            </div>
            <!-- <div class="col-md-4 q-pa-md">
              <q-select v-model="form.compendiums" color="primary" label="Pruebas" outlined
                :options="compendiums" emit-value map-options
                option-value="id" option-label="created_at" multiple use-chips clearable/>
            </div> -->
          </div>

          <!-- Lista de pruebas con sus fechas de muestreo -->
          <div v-if="compendiums.length" class="q-pa-sm">
            <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
              <q-card-section class="row">
                <div class="col">
                  <b class="text-grey-7">Camaronera</b>
                </div>
                <div class="col">
                  <b class="text-grey-7">Fecha siembra</b>
                </div>
                <div class="col">
                  <b class="text-grey-7">Alimentos</b>
                </div>
                <div class="col">
                  <b class="text-grey-7">Fecha de muestreo</b>
                </div>
                <div class="col" style="text-align: right">
                </div>
              </q-card-section>
            <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(item, index) in compendiums" :key="index">
              <div class="col">
                <p class="text-grey-7">{{ item.shrimp ? item.shrimp.name : '' }}</p>
              </div>
              <div class="col">
                <p class="text-grey-7">{{ item.dateFirstPool }}</p>
              </div>
              <div class="col">
                <p class="text-grey-7">{{ item.foodNames }}</p>
              </div>
              <div class="col">
                <q-select label="Seleccione fecha de muestreo" v-model="item.sampling_date" :options="item.dates" emit-value map-options option-value="date"
                option-label="dateF"/>
              </div>
              <div class="col" style="text-align: right">
                <q-checkbox v-model="item.check" />
              </div>
            </q-card-section>
            <q-separator color="grey-4" />
        </q-card>
      </div>
        </q-card>
      </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import { mapGetters } from 'vuex'
import { required } from 'vuelidate/lib/validators'
export default {
  data () {
    return {
      title: 'Reporte de compendio',
      subtitle: 'Imprimir reporte',
      foods: [],
      form: {},
      compendiums: [],
      shrimps: []
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  validations: {
    form: {
      // shrimp_id: { required },
      foods_id: { required }
    }
  },
  mounted () {
    this.getShrimps()
    this.getFoods()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Reporte de crecimiento',
        icon: 'person',
        to: '/general_harvest_report'
      }
    ])
  },
  methods: {
    download () {
      const compendiums = this.compendiums.filter(val => val.check && val.sampling_date).map(val => (
        {
          id: val.id,
          sampling_date: val.sampling_date
        }
      ))
      this.$v.form.$touch()

      if (!this.$v.form.$error && compendiums.length) {
        // Tomar array de compendiums

        console.log('this.compendiums', this.compendiums)
        console.log({ compendiums })

        this.$api.get(`compendiums_print_xls?compendiums=${JSON.stringify(compendiums)}`, { responseType: 'blob' }).then(res => {
          // const blob = new Blob([res])
          const url = window.URL.createObjectURL(new Blob([res]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', 'ReporteDeCompendio.xlsx')
          document.body.appendChild(link)
          link.click()
          link.remove()
        })
      } else {
        this.$q.notify({
          type: 'warning',
          title: 'Faltan datos',
          message: 'Debe ingresar todos los campos y seleccionar al menos un compendio'
        })
      }
    },
    convertArrayToQueryParamsCompendium () {
      return this.form.compendiums && this.form.compendiums.length ? this.form.compendiums.map((n, index) => `compendiums[${index}]=${n}`).join('&') : []
    },
    convertArrayToQueryParamsProducts () {
      return this.form.foods_id && this.form.foods_id.length ? this.form.foods_id.map((n, index) => `foodsIds[${index}]=${n}`).join('&') : []
    },
    convertArrayToQueryParamsSeedTypes () {
      return this.form.seedtypes_id && this.form.seedtypes_id.length ? this.form.seedtypes_id.map((n, index) => `seedtypes[${index}]=${n}`).join('&') : []
    },
    convertArrayToQueryParamsShrimps () {
      return this.form.shrimps_id && this.form.shrimps_id.length ? this.form.shrimps_id.map((n, index) => `shrimpsIds[${index}]=${n.id}`).join('&') : []
    },
    convertArrayToQueryParamsYears () {
      return this.form.year ? `year=${this.form.year}` : ''
    },
    getFoods () {
      this.$api.get('products').then(res => {
        if (res) {
          this.foods = res
        }
      })
    },
    getCompendiums () {
      this.$api.get(`compendiums_by_foods?${this.convertArrayToQueryParamsProducts()}`).then(res => {
        if (res) {
          this.compendiums = res
          this.form.compendiums = res
        }
      })
    },
    getShrimps () {
      this.$q.loading.show()
      this.$api.get('shrimps').then(res => {
        if (res) {
          this.shrimps = res
        }
        this.$q.loading.hide()
      })
    }
  }
}
</script>
<style lang="css">
.title {
  float: left;
  position: absolute;
  left: 20px;
  top: 0
}
.subtitle {
  float: left;
  position: absolute;
  left: 20px;
  top: 25px;
}
.q-table tbody td {
    font-size: 14px
  }
  .circle {
    width: 15px;
    height: 15px;
    border-radius: 11px;
  }
  .circle-blue {
    background-color: rgb(63, 81, 181);
  }
  .circle-primary {
    background-color: green;
  }
</style>
<style lang="sass">
.my-sticky-header-table
  /* height or max-height is important */
  height: 510px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #bdbdbd!important;

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
