<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h4"><b>{{ title }}</b></div>
              <div class="text-subtitle1"><b>{{ subtitle }} camaronera </b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.55') && form.pools.length" label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar reporte
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card class="q-pa-sm row" style="width: 100%" :bordered="false" flat>
        <div class="col-md-12" style="text-align: end">
          <!-- <q-btn-dropdown color="primary" icon="add" label="Añadir nueva piscina" rounded>
            <q-list>
              <q-item v-for="(pool, index) in pools" clickable v-close-popup :key="index"
                :disable="pool.disable" @click="addPool(pool)">
                <q-item-section>
                  <q-item-label>{{ pool.description }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown> -->
          <q-btn color="primary" icon="add" label="Añadir piscina" rounded @click="addPool"/>
        </div>
      </q-card>
      <div v-for="(item, key) in form.pools" :key="key">
        <q-card class="q-pa-md row" style="width: 100%;" bordered>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
            <div class="text-subtitle1"><b>Piscina {{ poolInfo(form.pools[key].pool_id) ? poolInfo(form.pools[key].pool_id).description : '' }}
              <q-btn class="col-md-12" v-if="can('2.1.1.1.59')" color="primary" icon="close" @click="deletePool(key)" flat round dense>
                      <q-tooltip>
                        Eliminar piscina
                      </q-tooltip>
                    </q-btn>
              </b>
            </div>

          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 q-pb-md q-pr-md">
            <!-- <q-select label="Producto" color="primary" outlined v-model="form.pools[key].product_id" :options="products"
            error-message="Seleccione producto" :error="$v.form.pools.$each[key].product_id.$error" @blur="$v.form.pools.$each[key].product_id.$touch()"
            emit-value map-options option-value="id" option-label="name"/> -->
            <q-select label="Producto" color="primary" outlined v-model="form.pools[key].products" :options="products"
            error-message="Seleccione producto" :error="$v.form.pools.$each[key].products.$error" @blur="$v.form.pools.$each[key].products.$touch()"
            emit-value map-options option-value="id" option-label="name" multiple/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 q-pb-md q-pr-md">
            <q-select label="Piscina" color="primary" outlined v-model="form.pools[key].pool_id" :options="pools"
            error-message="Seleccione piscina" :error="$v.form.pools.$each[key].pool_id.$error" emit-value map-options
            @blur="$v.form.pools.$each[key].pool_id.$touch()" option-value="id" :option-label="opt => Object(opt) === opt && opt.area ? opt.description + ' - ' + opt.area + ' ' + 'Has' : ''" autofocus/>
          </div>
          <!-- <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 q-pb-md q-pr-md">
            <q-input color="primary" label="Área" outlined :value="area" readonly/>
          </div> -->
          <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 q-pb-md q-pr-md">
            <q-input type="date" color="primary" label="Fecha de siembra" outlined v-model="form.pools[key].seed_date"
            error-message="Seleccione piscina" :error="$v.form.pools.$each[key].seed_date.$error" emit-value map-options
            @blur="$v.form.pools.$each[key].seed_date.$touch()" stack-label/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 q-pb-md q-pr-md">
            <q-field color="primary" outlined v-model="form.pools[key].density" label="Densidad"
              :error="$v.form.pools.$each[key].density.$error" error-message="Ingrese densidad">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
              </template>
            </q-field>
          </div>
          <!-- <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 q-pb-md q-pr-md">
            <q-field color="primary" outlined v-model="form.pools[key].mp" label="Ult M/P"
              :error="$v.form.pools.$each[key].mp.$error" error-message="Ingrese muestreo poblacional">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
              </template>
            </q-field>
          </div> -->
          <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 q-pb-md q-pr-md">
            <!-- <q-field color="primary" outlined v-model="form.pools[key].sowing_size" label="Peso siembra"
              :error="$v.form.pools.$each[key].sowing_size.$error" error-message="Ingrese peso de siembra">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money2" v-show="floatingLabel" />
              </template>
            </q-field> -->
            <q-input color="primary" outlined v-model="form.pools[key].sowing_size" label="Peso siembra"
              :error="$v.form.pools.$each[key].sowing_size.$error" error-message="Ingrese peso de siembra"/>
          </div>
          <!-- <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 q-pb-md q-pr-md">
            <q-field color="primary" outlined v-model="form.pools[key].kg_alim" label="Kg alim"
              :error="$v.form.pools.$each[key].kg_alim.$error" error-message="Ingrese kg">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
              </template>
            </q-field>
          </div> -->
          <div v-if="can('2.1.1.1.58')" class="col-auto" style="text-align: end">
            <q-btn color="primary" icon="add" label="Agregar reporte" @click="addReport(key)" rounded/>
          </div>
          <q-card v-if="form.pools[key].growthReports.length" class="q-pa-md" style="width: 100%">
            <div class="text-h6 text-primary"><b>Reportes de crecimiento</b></div>
              <q-scroll-area
                horizontal
                :visible="true"
                style="height: 365px; min-width:320px;"
              >
              <div class="row no-wrap">
                <div v-for="(item2, key2) in form.pools[key].growthReports" :key="key2">
                  <q-card v-if="key2 < 6" class="q-pa-md" style="width: 190px">
                    <div class="row">
                      <q-btn class="col-md-12" v-if="can('2.1.1.1.59')" color="primary" icon="close" @click="deleteReport(key, key2)" flat round dense>
                        <q-tooltip>
                          Eliminar reporte de crecimiento
                        </q-tooltip>
                      </q-btn>
                    </div>

                    <q-input type="date" class="q-pb-md" label="Fecha" v-model="form.pools[key].growthReports[key2].date"
                      :error="$v.form.pools.$each[key].growthReports.$each[key2].date.$error" stack-label outlined
                      @input="changeReportDate(key, key2)" @keydown.enter="focusNext"/>
                    <q-input type="number" class="q-pb-md" label="Tamaño"
                      v-model="form.pools[key].growthReports[key2].size" @keydown.enter="focusNext"
                      :error="$v.form.pools.$each[key].growthReports.$each[key2].size.$error" outlined/>
                    <q-field color="primary" outlined v-model="form.pools[key].growthReports[key2].kg_alim" label="Kg alim"
                        :error="$v.form.pools.$each[key].growthReports.$each[key2].kg_alim.$error"
                        error-message="Ingrese kg">
                        <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                          <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money"
                          v-show="floatingLabel" @keydown.native.enter="focusNext"/>
                        </template>
                      </q-field>
                    <q-field color="primary" outlined v-model="form.pools[key].growthReports[key2].mp" label="M/P"
                      :error="$v.form.pools.$each[key].growthReports.$each[key2].mp.$error" error-message="Ingrese muestreo poblacional">
                      <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                        <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money"
                        v-show="floatingLabel" @keydown.native.enter="focusNext"/>
                      </template>
                    </q-field>
                  </q-card>
                </div>
              </div>
              <!-- <div v-if="form.lastFourGrowth" class="q-pt-md">Crecimiento en 4 últimas semanas: <b>{{ form.lastFourGrowth }}</b></div> -->
            </q-scroll-area>
          </q-card>
          <!-- <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 q-pb-md q-pr-md">
            <q-field color="primary" outlined v-model="form.sowing_size" label="Tamaño de siembra"
              :error="$v.form.sowing_size.$error" error-message="Ingrese tamaño de siembra">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
              </template>
            </q-field>
          </div> -->
          <!-- <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 q-pb-md q-pr-md">
            <q-field color="primary" outlined v-model="form.cam" label="#Cam"
              :error="$v.form.cam.$error" error-message="Ingrese cantidad de camarones" @blur="calculateDensity">
              <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
              </template>
            </q-field>
          </div> -->
          <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 q-pb-md q-pr-md">
            <q-select label="Marca de producto" color="primary" outlined v-model="brand" :options="brands"
            error-message="Seleccione marca" :error="$v.brand.$error" emit-value map-options
            @blur="$v.brand.$touch()" @input="resetProduct"/>
          </div> -->
          <!-- <template v-if="id">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
              <q-input color="primary" label="Libras" outlined :value="pounds" readonly/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
              <q-input color="primary" label="Días" outlined :value="days" readonly/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
              <q-input color="primary" label="Crec Ult." outlined :value="growthLast" readonly/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
              <q-input color="primary" label="Crec Ant." outlined :value="growthAnt" readonly/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
              <q-input color="primary" label="Crec 4 Ult." outlined :value="growthLast4" readonly/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 q-pb-md q-pr-md">
              <q-input color="primary" label="Crec Gral." outlined :value="generalGrowth" readonly/>
            </div>
          </template> -->
        </q-card>
        <q-separator />
      </div>
    </q-card>
    <!-- <q-card v-if="form.growthReports.length" class="q-pa-md" style="width: 100%">
          <div class="text-h6 text-primary"><b>Reportes de crecimiento</b></div>
          <q-scroll-area
            horizontal
            :visible="true"
            style="height: 800px; min-width:320px;"
          >
          <div class="row no-wrap">
            <q-card v-for="(item, key) in form.growthReports" class="q-pa-md" style="width: 190px" :key="key">
              <q-btn v-if="can('2.1.1.1.59')" color="primary" icon="edit" @click="editReport(item)" flat round dense>
                <q-tooltip>
                  Editar reporte de crecimiento
                </q-tooltip>
              </q-btn>
              <q-input class="q-pb-md" label="Fecha" :value="item.dateF" outlined readonly/>
              <q-input class="q-pb-md" label="Tamaño" :value="item.size" outlined readonly/>
              <q-input class="q-pb-md" label="Muestreo poblacional" :value="item.mp" outlined readonly/>
            </q-card>
          </div>
          <div v-if="form.lastFourGrowth" class="q-pt-md">Crecimiento en 4 últimas semanas: <b>{{ form.lastFourGrowth }}</b></div>
          </q-scroll-area>
    </q-card> -->
    <!-- <q-dialog v-model="showAddReport">
      <q-card class="modal" style="border-radius: 10px;">
        <q-card-section class="row q-pb-none text-primary">
          <div class="text-h6"><b>{{showAddReportType === 'add' ? 'Agregar nuevo' : 'Editar'}} reporte</b></div>
          <q-space />
          <q-btn color="negative" icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section class="row">
          <div class="col-md-6 q-pr-md">
            <q-input type="date" label="Fecha" v-model="growthReport.date" :error="$v.growthReport.date.$error"
            @blur="$v.growthReport.date.$touch()" error-message="Ingrese fecha" stack-label outlined/>
          </div>
          <div class="col-md-6">
            <q-input type="number" label="Tamaño" v-model="growthReport.size" :error="$v.growthReport.size.$error"
            @blur="$v.growthReport.size.$touch()" error-message="Ingrese tamaño" stack-label outlined />
          </div>
          <div class="col-md-6">
            <q-input type="number" label="Muestreo poblacional" v-model="growthReport.mp" :error="$v.growthReport.mp.$error"
            @blur="$v.growthReport.mp.$touch()" error-message="Ingrese MP" stack-label outlined />
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Volver" color="primary" v-close-popup />
          <q-btn flat label="Guardar" color="primary" @click="saveGrowthReport" />
        </q-card-actions>
      </q-card>
    </q-dialog> -->
  </q-page>
</template>
<script>
function isEqual (date) {
  return this.form.pools[0].growthReports.filter(val => val.date === date).length === 1
}

import { required } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../../mixins/form'
import { mapGetters } from 'vuex'
import { date } from 'quasar'
export default {
  mixins: [FormMixin],
  components: {
  },
  data () {
    return {
      id: this.$route.params.compendiumId,
      customerID: this.$route.params.id,
      shrimpId: this.$route.params.shrimp_id,
      title: 'Registro de compendio',
      subtitle: !this.$route.params.compendiumId ? 'Nueva prueba' : 'Ver prueba',
      route: 'compendium',
      form: {
        pools: []
      },
      shrimp: {},
      pools: [],
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 0,
        masked: false
      },
      money2: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 2,
        masked: false
      },
      brand: '',
      brands: [],
      products: [],
      showAddReport: false,
      showAddReportType: 'add',
      growthReport: {},
      density: ''
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    area () {
      return this.form.pool_id && this.pools.length ? this.pools.find(val => val.id === this.form.pool_id).area : ''
    },
    filteredProducts () {
      return this.brand ? this.products.filter(val => val.brand === this.brand) : []
    },
    pounds () {
      return this.form.lastReport && this.form.lastReport.mp ? ((this.form.cam * (this.form.lastReport.mp / 100) * this.form.lastReport.size) / 454).toFixed() : ''
    },
    days () {
      return this.form.lastReport && this.form.lastReport.date ? date.getDateDiff(this.form.lastReport.date, this.form.seed_date, 'days') : ''
    },
    growthLast () {
      return this.form.lastReport && this.form.lastReport.size ? (this.form.lastReport.size - this.form.penultimateReport.size).toFixed(2) : ''
    },
    growthAnt () {
      return this.form.penultimateReport && this.form.penultimateReport.size ? (this.form.penultimateReport.size - this.form.antePenultimateReport.size).toFixed(2) : ''
    },
    growthLast4 () {
      return this.form.lastReport && this.form.lastReport.size ? ((this.form.lastReport.size - this.form.fifthUltimateReport.size) / 28 * 7).toFixed(2) : ''
    },
    generalGrowth () {
      return this.form.lastReport && this.form.lastReport.size ? ((this.form.lastReport.size - this.form.sowing_size) / (this.days / 7)).toFixed(2) : ''
    }
  },
  validations () {
    return {
      brand: { required },
      form: {
        pools: {
          $each: {
            pool_id: { required },
            seed_date: { required },
            sowing_size: { required },
            // product_id: { required },
            products: { required },
            density: { required },
            growthReports: {
              $each: {
                date: { required, isEqual },
                size: { required },
                kg_alim: { required },
                mp: { required }
              }
            }
          }
        }
      },
      growthReport: {
        date: { required },
        size: { required }
      },
      density: { required }
    }
  },
  async mounted () {
    await this.getShrimp()
    await this.getProducts()
    // this.density = this.form.cam / this.area
  },
  methods: {
    afterMounted () {
      this.$emit('setBreadcrumb', [
        {
          label: 'Home',
          icon: 'home',
          to: '/menu'
        },
        {
          label: 'Clientes',
          icon: 'person',
          to: '/customers'
        },
        {
          label: 'Gestión Cliente',
          icon: 'person',
          to: '/customers/show/' + this.customerID
        },
        {
          label: 'Camaroneras',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps`
        },
        {
          label: 'Compendio',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps/${this.shrimpId}/compendium`
        },
        {
          label: this.insert ? 'Nuevo reporte' : 'Ver reporte',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps/${this.shrimpId}/compendium/form`
        }
      ])
    },
    getShrimp () {
      this.$api.get(`shrimps/${this.shrimpId}`).then(res => {
        if (res) {
          this.shrimp = res
          this.pools = res.pools
          console.log('density', this.density, 'this.area', this.area, 'this.form.cam', this.form.cam)
          this.density = this.form.cam / this.area
        }
      })
    },
    getProducts () {
      this.$api.get('products').then(res => {
        if (res) {
          console.log('products', res)
          this.brands = [...new Set(res.map(val => val.brand))]
          this.products = res
        }
      })
    },
    resetProduct () {
      this.$set(this.form, 'product_id', '')
    },
    beforeSave () {
      this.form.shrimp_id = this.shrimpId
      console.log('beforeSave', this.form)
    },
    afterGetRecord (res) {
      // this.brand = res.product.brand
    },
    addReport (index) {
      /* this.showAddReport = true
      this.showAddReportType = 'add'
      this.growthReport = {} */
      // El reporte añadido se debe añadir en todas las piscinas
      for (let i = 0; i < this.form.pools.length; i++) {
        this.form.pools[i].growthReports.unshift({})
      }
    },
    editReport (report) {
      this.showAddReport = true
      this.showAddReportType = 'edit'
      this.growthReport = { ...report }
    },
    deleteReport (key, key2) {
      // El reporte eliminado se debe eliminar en todas las piscinas
      for (let i = 0; i < this.form.pools.length; i++) {
        this.form.pools[i].growthReports.splice(key2, 1)
      }
    },
    deletePool (key) {
      this.form.pools.splice(key, 1)
    },
    saveGrowthReport () {
      this.$v.growthReport.$touch()
      if (!this.$v.growthReport.$error) {
        this.$q.loading.show()
        console.log(this.growthReport)
        if (this.showAddReportType === 'add') { // Nuevo reporte
          this.growthReport.compendium_id = this.id
          this.$api.post('compendium_growth_reports', this.growthReport).then(res => {
            if (res) {
              this.getRecord()
              this.showAddReport = false
              this.growthReport = {}
              this.$v.growthReport.$reset()
            }
            this.$q.loading.hide()
          })
        } else { // Editar reporte
          this.$api.put(`compendium_growth_reports/${this.growthReport.id}`, this.growthReport).then(res => {
            if (res) {
              this.getRecord()
              this.showAddReport = false
              this.growthReport = {}
              this.$v.growthReport.$reset()
            }
            this.$q.loading.hide()
          })
        }
      }
    },
    calculateDensity () {
      if (this.form.cam) {
        this.density = this.form.cam / this.area
      }
    },
    calculateCam () {
      if (this.density) {
        this.form.cam = this.density * this.area
      }
    },
    addPool () {
      // A la nueva piscina hay que agregarle las piscinas que ya están
      var growthReports = []
      if (this.form.pools.length) {
        this.form.pools[0].growthReports.forEach(element => {
          growthReports.push({
            date: element.date
          })
        })
      }

      this.form.pools.push({
        growthReports
      })
    },
    poolInfo (poolId) {
      return this.pools.find(val => val.id === poolId)
    },
    changeReportDate (poolIndex, reportIndex) {
      console.log({ poolIndex, reportIndex })
      console.log('value', this.form.pools[poolIndex].growthReports[reportIndex].date)
      const date = this.form.pools[poolIndex].growthReports[reportIndex].date

      // la fecha de reporte debe ser igual en todas las piscinas
      this.form.pools.forEach(element => {
        element.growthReports[reportIndex].date = date
      })
    },
    focusNext (e) {
      console.log({ e })
      console.log('selector', document.querySelectorAll('input'))
      const inputs = Array.from(document.querySelectorAll('input'))
      const index = inputs.indexOf(e.target)

      if (index < inputs.length) {
        inputs[index + 1].focus()
      }
    }
  }
}
</script>
<style lang="css">
.circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
</style>
