<template>
  <q-page>
    <div>
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h4"><b>{{ title }} {{ shrimp.name }} </b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <q-btn class="q-ma-sm" v-if="can('2.1.1.1.55')" round icon="add" color="primary" size="md" :to="`${$route.path}/form`">
                <q-tooltip>
                  Nuevo compendio
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ma-sm" round icon="get_app" color="primary" size="md" @click="showModalReport = true">
                <q-tooltip>
                  Generar reporte
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ml-sm" round  @click="$q.fullscreen.toggle()"
                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="primary" size="md">
                <q-tooltip>
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-md-2">
              <q-input v-model="text" placeholder="Buscar" @input="filter" outlined dense>
                <template v-slot:append>
                  <q-icon v-if="text !== ''" name="close" @click="text = '',pools = stringPools" class="cursor-pointer" />
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <div class="q-pa-sm">

      </div>
      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Código</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Piscinas</b>
            </div>
            <div class="col" style="text-align: right">
              <b class="text-grey-7">Acciones</b>
            </div>
          </q-card-section>
            <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(item, index) in records" :key="index">
              <div class="col">
                <p class="text-grey-7">{{ item.id }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.poolNames }}</p>
              </div>
               <div class="col" style="text-align: right">
                <q-btn v-if="can('2.1.1.1.56')" flat icon="edit" size="sm" color="primary"
                  :to="`/customers/show/${id}/shrimps/${shrimpId}/compendium/form/${item.id}`"
                  dense>
                  <q-tooltip>
                    Editar
                  </q-tooltip>
                </q-btn>
                <!-- <q-btn v-if="can('2.1.1.1.48')" flat icon="mail_outline" size="sm" color="primary"
                  :to="`growth_reports/send_mail/${item.id}`" dense>
                  <q-tooltip>
                    Enviar Mail
                  </q-tooltip>
                </q-btn>

                <q-btn v-if="can('2.1.1.1.47')" flat icon="save_alt" size="sm" color="primary"
                  @click="printGrowthReport(item.id)" dense>
                  <q-tooltip>
                    Descargar
                  </q-tooltip>
                </q-btn>

                <q-btn v-if="can('2.1.1.1.47')" flat icon="link" size="sm" color="primary"
                  @click="generateLinkGrowthReport(item.id)" dense>
                  <q-tooltip>
                    Enlace
                  </q-tooltip>
                </q-btn> -->
              </div>
            </q-card-section>
            <q-separator color="grey-4" />
        </q-card>
      </div>
      </div>
      <q-dialog v-model="showModalReport">
        <q-card class="modal" style="border-radius: 10px;">
        <q-card-section class="row q-pb-none text-primary">
          <div class="text-h6"><b>Generar reporte</b></div>
          <q-space />
          <q-btn color="negative" icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-card-section class="row">
          <div class="col-md-6 q-pr-md">
            <q-input type="date" label="Fecha inicial" v-model="report.start_date" :error="$v.report.start_date.$error"
            @blur="$v.report.start_date.$touch()" error-message="Ingrese fecha" stack-label outlined/>
          </div>
          <div class="col-md-6">
            <q-input type="date" label="Fecha final" v-model="report.end_date" :error="$v.report.end_date.$error"
            @blur="$v.report.end_date.$touch()" error-message="Ingrese fecha" stack-label outlined />
          </div>
          <div class="col-md-6 q-pr-md">
            <q-select type="number" label="Marca" v-model="report.brand" :error="$v.report.brand.$error"
            @blur="$v.report.brand.$touch()" error-message="Seleccione marca" stack-label outlined :options="brands" />
          </div>
          <div class="col-md-6">
            <q-input type="number" label="# Reportes" v-model="report.report_number" :error="$v.report.report_number.$error"
            @blur="$v.report.report_number.$touch()" error-message="Ingrese el número de reportes que desea ver"
            stack-label outlined />
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Volver" color="primary" v-close-popup />
          <q-btn flat label="Guardar" color="primary" @click="generateReport" />
        </q-card-actions>
      </q-card>
      </q-dialog>
  </q-page>
</template>

<script>
// import { exportFile, copyToClipboard } from 'quasar'
/* function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== undefined
    ? formatFn(val)
    : val

  formatted = formatted === undefined || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')
  return `"${formatted}"`
} */
import { mapGetters } from 'vuex'
import { required } from 'vuelidate/lib/validators'
export default {
  components: {},
  data () {
    return {
      title: 'Compendio',
      id: this.$route.params.id,
      shrimpId: this.$route.params.shrimp_id,
      params: {
        shrimp_id: this.$route.params.shrimp_id
      },
      route: 'compendium',
      /* cols: [
        { name: 'id', required: true, label: 'Código', align: 'left', field: 'id', sortable: true },
        { name: 'technical_advisor', required: true, label: 'Asesor técnico', align: 'left', field: row => row.technical_advisor.full_name, sortable: true },
        { name: 'begin_date', required: true, label: 'Fecha de inicio', align: 'left', field: 'begin_date', sortable: true },
        { name: 'end_date', required: true, label: 'Fecha de final', align: 'left', field: 'end_date', sortable: true },
        { name: 'pool_number', required: true, label: 'Número de piscinas', align: 'left', field: 'pool_number', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ], */
      text: '',
      records: [],
      stringRecords: [],
      showModalReport: false,
      report: {},
      brands: [],
      shrimp: {}
    }
  },
  mounted () {
    this.getShrimp()
    this.getRecords()
    this.getProducts()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Clientes',
        icon: 'person',
        to: '/customers'
      },
      {
        label: 'Gestión Cliente',
        icon: 'person',
        to: '/customers/show/' + this.id
      },
      {
        label: 'Camaroneras',
        icon: 'person',
        to: `/customers/show/${this.id}/shrimps`
      },
      {
        label: 'Compendio',
        icon: 'person',
        to: `/customers/show/${this.id}/shrimps/${this.shrimpId}/compendium`
      }
    ])
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  validations () {
    return {
      report: {
        start_date: { required },
        end_date: { required },
        brand: { required },
        report_number: { required }
      }
    }
  },
  methods: {
    getRecords () {
      this.$api.get(this.route, { params: this.params }).then(res => {
        this.records = res
        this.stringRecords = res
      })
    },
    getProducts () {
      this.$api.get('products').then(res => {
        if (res) {
          this.brands = [...new Set(res.map(val => val.brand))]
          this.brands.unshift('Todas')
        }
      })
    },
    filter () {
      if (this.text === '') {
        this.records = this.stringRecords
        return
      }
      const needle = this.text.toLowerCase()
      this.records = JSON.parse(JSON.stringify(this.stringRecords))
      this.records = this.stringRecords.filter(val => {
        return val.id.toString().indexOf(needle) > -1 || val.analysis_date.toLowerCase().indexOf(needle) > -1 ||
        val.user.technical_advisor.full_name.toLowerCase().indexOf(needle) > -1 ||
        val.applicant.toLowerCase().indexOf(needle) > -1
      })
    },
    generateReport () {
      this.$v.report.$touch()
      if (!this.$v.report.$error) {
        this.report.shrimp_id = this.shrimpId
        this.$api.post('compendium_print', this.report).then(res => {
          if (res) {
            this.$api.get(`filepdf/${res}`, { responseType: 'blob' }).then(res2 => {
              const blob = new Blob([res2])
              const ext = res.split('.')
              this.ext = ext[ext.length - 1]
              const fileName = 'Proyección de Alimentos.pdf'
              this.fileName = fileName

              if (this.$q.platform.is.mobile) { // Si es teléfono
                // this.saveBlob2File(fileName, blob)
              } else { // Si es navegador
                const url = window.URL.createObjectURL(blob)
                const link = document.createElement('a')
                link.href = url
                link.setAttribute('download', fileName)
                document.body.appendChild(link)
                link.click()
              }
              this.$q.loading.hide()
            }).catch(function (error) {
              console.log('error descargando', error)
            })
          }
        })
      }
    },
    getShrimp () {
      this.$api.get(`shrimps/${this.shrimpId}`).then(res => {
        if (res) {
          this.shrimp = res
        }
      })
    }
  }
}
</script>
<style>
</style>
