<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-btn color="white" v-if="$route.path != '/menu'" @click="$router.go(-1)" class="q-ml-lg" flat dense icon="keyboard_backspace" />
        <q-toolbar-title>
          Agripac Acua
        </q-toolbar-title>
        <div>{{ status }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      :breakpoint="1600"
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Menú
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
        <q-item
          clickable
          @click="close"
        >
          <q-item-section
            avatar
          >
            <q-icon name="logout" color="grey"/>
          </q-item-section>

          <q-item-section style="color: grey">
            <q-item-label color="grey">Cerrar sesión</q-item-label>
            <!-- <q-item-label caption>
              {{ caption }}
            </q-item-label> -->
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'
import { LocalStorage } from 'quasar'
import { mapMutations } from 'vuex'

const linksData = [
  {
    title: 'Home',
    icon: 'home',
    to: '/menu'
  },
  {
    title: 'Eventos',
    icon: 'event',
    to: '/events'
  }
]

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData,
      status: ''
    }
  },
  async created () {
    // const vm = this
    window.addEventListener('offline', this.onOffline, false)

    window.addEventListener('online', this.onOnline, false)
  },
  mounted () {
    // Cargar datos para que estén disponibles offline
    this.$api.getData('shrimps')
    this.$api.getData('laboratories')
    this.$api.getData('cost_benefit_projections_shrimp_ranges')
    this.$api.getData('products')
    this.$api.getData('visit_reasons')
    this.$api.getData('customers')
  },
  async destroyed () {
    window.addEventListener('offline', this.onOffline, false)
    window.addEventListener('online', this.onOnline, false)
  },
  methods: {
    ...mapMutations('generals', ['login', 'logout']),
    close () {
      this.logout()
      this.$router.push('/')
    },
    onOffline () {
      this.status = 'Sin internet'
    },
    async onOnline () {
      var vmp = this
      this.status = 'Conectado'
      const poolData = LocalStorage.getItem('poolData') ? LocalStorage.getItem('poolData') : []
      console.log('online', poolData)
      LocalStorage.remove('poolData')
      if (poolData && poolData.length) {
        for (const i of poolData) {
          const data = i.data ? JSON.parse(i.data) : undefined
          if (data) {
            await this.$api[i.method](i.url, JSON.parse(i.data))
          } else {
            console.log('i.data', i.data)
          }
        }
      }

      // LocalStorage.set('poolData', poolData)
      // Cargar imágenes de patologías que no se cargaron porque estaba offline
      const pathologiesImages = LocalStorage.getItem('pathologies_images_to_upload')
      if (pathologiesImages) {
        // alert('Hay pathologiesImages')
        for (const element of pathologiesImages) {
          // alert('i:' + element)
          window.resolveLocalFileSystemURL(cordova.file.externalRootDirectory + 'Download/' + element.fileName,
            function (fileEntry) {
              var vm = vmp
              fileEntry.file(function (file) {
                var vm2 = vm
                // alert('getFile done for ' + element.fileName)
                var reader = new FileReader()
                // var vm = this
                reader.onloadend = async function () {
                  const vm3 = vm2
                  // alert('reader done, starting fd ...')
                  var blob = new Blob([new Uint8Array(this.result)], { type: file.type })
                  // alert('blob' + blob.size)
                  var fd = new FormData()
                  fd.append('file', blob, element.fileName)
                  // // alert('antes de el post' + vm.$api)
                  try {
                    await vm3.$api.post('analisis_image', fd, {
                      headers: {
                        'Content-Type': undefined
                      }
                    }).then(res => {
                      // alert(res)
                    })
                  } catch (error) {
                    // alert('errorapi' + error)
                  }
                  // alert('res')
                }
                reader.readAsArrayBuffer(file)
              },
              function (err) {
                alert('Error getting file', err)
              })
            },
            function (err) {
              alert('Error in resolveLocalFileSystemURL ' + JSON.stringify(err))
            })
        }
        LocalStorage.remove('pathologies_images_to_upload')
      } else {
        // alert('no hay pathologiesImages')
      }

      // Cargar archivos de carga masiva de proyección de alimentación que no se cargaron porque estaba offline
      const projectionFile = LocalStorage.getItem('food_projections_uploads')
      if (projectionFile) {
        // alert('Hay projectionFile')
        for (const element of projectionFile) {
          // alert('i:' + element)
          window.resolveLocalFileSystemURL(cordova.file.externalRootDirectory + 'Download/' + element.fileName,
            function (fileEntry) {
              var vm = vmp
              fileEntry.file(function (file) {
                var vm2 = vm
                // alert('getFile done for ' + element.fileName)
                var reader = new FileReader()
                // var vm = this
                reader.onloadend = async function () {
                  const vm3 = vm2
                  // alert('reader done, starting fd ...')
                  var blob = new Blob([new Uint8Array(this.result)], { type: file.type })
                  // alert('blob' + blob.size)
                  var fd = new FormData()
                  fd.append('projection_id', element.projection_id)
                  fd.append('file', blob, element.fileName)
                  // // alert('antes de el post' + vm.$api)
                  try {
                    await vm3.$api.post('food_projections_upload_bulkload_format', fd, {
                      headers: {
                        'Content-Type': undefined
                      }
                    }).then(res => {
                      // alert(res)
                    })
                  } catch (error) {
                    alert('errorapi' + error)
                  }
                  // alert('res')
                }
                reader.readAsArrayBuffer(file)
              },
              function (err) {
                alert('Error getting file', err)
              })
            },
            function (err) {
              alert('Error in resolveLocalFileSystemURL ' + JSON.stringify(err))
            })
        }
        LocalStorage.remove('food_projections_uploads')
      } else {
        // alert('no hay projectionFile')
      }
    }
  }
}
</script>
