<template>
  <q-page>
    <div>
      <!-- <listable :title="title" :buttons="buttons" :cols="cols" route="water_analysis" :pagination="pagination"
      :dense="$q.screen.lt.xs" :params="params"/> -->

      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <q-btn class="q-ma-sm" v-if="can('2.1.1.1.16')" round icon="add" color="primary" size="md" :to="`${$route.path}/form`">
                <q-tooltip>
                  Nuevo análisis
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ma-sm" round icon="get_app" color="primary" size="md" @click="exportTable">
                <q-tooltip>
                  Exportar
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ml-sm" round  @click="$q.fullscreen.toggle()"
                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="primary" size="md">
                <q-tooltip>
                  Pantalla completa
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-md-2">
              <q-input v-model="text" placeholder="Buscar" @input="filter" outlined dense>
                <template v-slot:append>
                  <q-icon v-if="text !== ''" name="close" @click="text = '',pools = stringPools" class="cursor-pointer" />
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </div>
        </q-card-section>
      </q-card>

      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Número de análisis</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Fecha de análisis</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Ásesor técnico</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Solicitante</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Piscinas</b>
            </div>
            <div class="col" style="text-align: right">
              <b class="text-grey-7">Acciones</b>
            </div>
          </q-card-section>
          <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(analysis, index) in analysis" :key="index">
              <div class="col">
                <p class="text-grey-7">{{ analysis.id }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.analysis_date }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.user.technical_advisor.full_name }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.applicant }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ analysis.pools }}</p>
              </div>
               <div class="col" style="text-align: right">
                <q-btn v-if="can('2.1.1.1.18')" flat icon="edit" size="sm" color="primary"
                  :to="`/customers/show/${id}/shrimps/${shrimpId}/water/form/${analysis.id}`"
                  dense>
                  <q-tooltip>
                    Editar
                  </q-tooltip>
                </q-btn>
                <q-btn v-if="can('2.1.1.1.17')" flat icon="mail_outline" size="sm" color="primary"
                  :to="`water/send_mail/${analysis.id}`" dense>
                  <q-tooltip>
                    Enviar Mail
                  </q-tooltip>
                </q-btn>

                <q-btn v-if="can('2.1.1.1.30')" flat icon="save_alt" size="sm" color="primary"
                  @click="printWaterAnalysis(analysis.id)" dense>
                  <q-tooltip>
                    Descargar
                  </q-tooltip>
                </q-btn>

                <q-btn v-if="can('2.1.1.1.30')" flat icon="link" size="sm" color="primary"
                  @click="generateLinkWaterAnalysis(analysis.id)" dense>
                  <q-tooltip>
                    Enlace
                  </q-tooltip>
                </q-btn>
              </div>
            </q-card-section>
            <q-separator color="grey-4" />
          </q-card>
      </div>
    </div>
    <q-dialog v-model="showLink">
      <q-card>
        <q-card-section>
          <div class="text-h6">Enlace para compartir</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <a :href="link" target="_blank">{{ link }}</a>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn color="primary" flat @click="copyClipboard">Copiar</q-btn>
          <q-btn flat label="Cerrar" color="primary" v-close-popup/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import { exportFile, copyToClipboard } from 'quasar'
import env from '../../../../../env'
function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== undefined
    ? formatFn(val)
    : val

  formatted = formatted === undefined || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  // .split('\n').join('\\n')
  // .split('\r').join('\\r')

  return `"${formatted}"`
}
export default {
  components: {},
  data () {
    return {
      id: this.$route.params.id,
      shrimpId: this.$route.params.shrimpId,
      params: {
        shrimp_id: this.$route.params.shrimpId
      },
      title: 'Análisis de aguas',
      pagination: {
        page: 1,
        rowsPerPage: 10
      },
      buttons: [
        {
          label: 'Nuevo', icon: 'add', color: 'primary', url: `${this.$route.path}/form`, action: '', permission: '2.1.1.1.16'
        }
      ],
      cols: [
        { name: 'id', required: true, label: 'Número análisis', align: 'left', field: 'id', sortable: true },
        { name: 'analysis_date', required: true, label: 'Fecha de análisis', align: 'left', field: 'analysis_date', sortable: true },
        { name: 'technical_advisor', required: true, label: 'Asesor técnico', align: 'left', field: row => row.user.technical_advisor.full_name, sortable: true },
        { name: 'applicant', required: true, label: 'Solicitante', align: 'left', field: 'applicant', sortable: true },
        { name: 'pools', required: true, label: 'Piscinas', align: 'left', field: 'pools', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ],
      analysis: [],
      stringAnalysis: [],
      text: '',
      showLink: false,
      link: ''
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  mounted () {
    this.getAnalysis()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Clientes',
        icon: 'person',
        to: '/customers'
      },
      {
        label: 'Gestión Cliente',
        icon: 'person',
        to: '/customers/show/' + this.id
      },
      {
        label: 'Camaroneras',
        icon: 'person',
        to: `/customers/show/${this.id}/shrimps`
      },
      {
        label: 'Aguas',
        icon: 'person',
        to: `/customers/show/${this.id}/shrimps/${this.shrimpId}/water`
      }
    ])
  },
  methods: {
    getAnalysis () {
      this.$q.loading.show()
      this.$api.get('water_analysis', { params: this.params }).then(res => {
        this.$q.loading.hide()
        this.analysis = res
        this.stringAnalysis = res
      })
    },
    exportTable () {
      // naive encoding to csv format
      // const columns = JSON.parse(JSON.stringify(this.cols))
      const columns = Object.create(this.cols)
      if (columns[columns.length - 1].name === 'actions') {
        columns.pop()
      }

      console.log('col', columns)
      const content = [columns.map(col => wrapCsvValue(col.label))].concat(
        this.analysis.map(row => columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === undefined ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    copyClipboard () {
      console.log('copyClipboard')
      copyToClipboard(this.link).then(() => {
        console.log('bien')
      })
        .catch(() => {
          console.log('mal')
        })
    },
    filter () {
      if (this.text === '') {
        this.analysis = this.stringAnalysis
        return
      }
      const needle = this.text.toLowerCase()
      this.analysis = JSON.parse(JSON.stringify(this.stringAnalysis))
      this.analysis = this.stringAnalysis.filter(val => {
        return val.id.toString().indexOf(needle) > -1 || val.analysis_date.toLowerCase().indexOf(needle) > -1 ||
        val.user.technical_advisor.full_name.toLowerCase().indexOf(needle) > -1 ||
        val.applicant.toLowerCase().indexOf(needle) > -1
      })
    },
    printWaterAnalysis (id) {
      this.$api.get(`water_analysis_print/${id}`).then(res => {
        if (res) {
          this.$api.get(`filepdf/${res}`, { responseType: 'blob' }).then(res2 => {
            const blob = new Blob([res2])
            const ext = res.split('.')
            this.ext = ext[ext.length - 1]
            const fileName = 'Analisis de aguas.pdf'
            this.fileName = fileName

            if (this.$q.platform.is.mobile) { // Si es teléfono
              // this.saveBlob2File(fileName, blob)
            } else { // Si es navegador
              const url = window.URL.createObjectURL(blob)
              const link = document.createElement('a')
              link.href = url
              link.setAttribute('download', fileName)
              document.body.appendChild(link)
              link.click()
            }
            this.$q.loading.hide()
          }).catch(function (error) {
            console.log('error descargando', error)
          })
        }
      })
    },
    generateLinkWaterAnalysis (id) {
      this.$api.get(`water_analysis_print/${id}`).then(res => {
        if (res) {
          this.link = `${env.apiUrl}filepdf/${res}`
          this.showLink = true
        }
      })
    }
  }
}
</script>
<style>
</style>
