<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row q-pr-md">
            <div class="col-md-11 col-sm-11">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-1 col-sm-1" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.16')" label="guardar" rounded color="primary" size="md" @click="save">
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card-section class="q-pa-sm row">
        <q-card flat class="q-pa-sm row" style="width: 100%;">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <!-- <q-input v-model="shrimp.name" label="Camaronera" outlined readonly /> -->
            <q-select v-model="form.shrimp_id" label="Camaronera" outlined :readonly="shrimpReadOnly" :options="shrimps"
            emit-value map-options option-label="name" option-value="id">
            </q-select>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
              <!-- <q-input color="primary" label="Zona" outlined v-model="shrimp.zone.name" readonly/> -->
              <q-input color="primary" label="Zona" outlined :value="zoneName" readonly/>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-select v-model="form.applicant_id" color="primary" label="Solicitante" outlined
              hint="Seleccione solicitante" error-message="Seleccione solicitante" :error="$v.form.applicant_id.$error"
              @blur="$v.form.applicant_id.$touch()" :options="applicants" emit-value map-options option-label="full_name"
              option-value="id"/>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="date" v-model="form.analysis_date" label="Fecha de análisis" outlined
              hint="Ingrese fecha de análisis" error-message="Ingrese fecha de análisis" stack-label
              :error="$v.form.analysis_date.$error" @blur="$v.form.analysis_date.$touch()">
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="date" v-model="form.delivery_date" label="Fecha de entrega" outlined
              hint="Ingrese fecha de entrega" error-message="Ingrese fecha de entrega válida" stack-label
              :error="$v.form.delivery_date.$error" @blur="$v.form.delivery_date.$touch()">
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="textarea" v-model="form.observations" label="Observaciones" outlined stack-label
              :error-message="`Ingrese observaciones de hasta 1000 caracteres. ${form.observations ? form.observations.length : 0} caracteres ingresados.`"
              :error="$v.form.observations.$error" @blur="$v.form.observations.$touch()" autogrow
              >
                <template v-slot:hint>
                  {{ form.observations ? form.observations.length : 0 }}/1000 caracteres
                </template>
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="textarea" v-model="form.recommendations" label="Recomendaciones" outlined stack-label
              :error-message="`Ingrese observaciones de hasta 1000 caracteres. ${form.recommendations ? form.recommendations.length : 0} caracteres ingresados.`"
              :error="$v.form.recommendations.$error" @blur="$v.form.recommendations.$touch()" autogrow
              >
                <template v-slot:hint>
                  {{ form.recommendations ? form.recommendations.length : 0 }}/1000 caracteres
                </template>
            </q-input>
          </div>
        </q-card>
        <q-card v-show="canAddPool" class="q-pa-sm row" style="width: 100%" :bordered="false" flat>
          <div class="col-md-12 col-sm-12" style="text-align: end">
            <q-btn-dropdown v-if="can('2.1.1.1.16')" color="primary" icon="add" label="Añadir nueva piscina" rounded>
              <q-list>
                <q-item v-for="(pool, index) in pools" clickable v-close-popup :key="index"
                :disable="pool.disable" @click="addPool(pool)">
                  <q-item-section>
                    <q-item-label>{{ pool.description }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
        </q-card>
        <!-- <q-card v-for="(pool, index) in form.pools" flat class="q-pa-sm col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" :key="index">
          <div class="row">
            <div class="col-sm-11 col-md-11 col-lg-11">
              <q-btn color="primary" rounded :icon-right="pool.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
            @click="pool.expanded = !pool.expanded" :label="`${pool.description}`"/>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1" style="text-align: right">
              <q-btn v-if="can('2.1.1.1.16')" color="primary" round icon="delete" @click="deletePool(index)"></q-btn>
            </div>
          </div>
          <q-slide-transition>
            <div v-if="pool.expanded">
              <q-card flat class="my-card q-pa-md q-mt-md">
                <div class="row">
                  <div class="col-sm-2 col-md-2">
                    <label for="">
                      <b>Piscina</b>
                      <q-icon name="" color="primary" size="sm">
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-sm">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select v-model="pool.water_type" color="primary" label="Tipo de agua" outlined :options="waterTypes"
                          hint="Seleccione tipo de agua" error-message="Seleccione tipo de agua" stack-label
                          :error="$v.form.pools.$each[index].water_type.$error" map-options emit-value
                          @blur="$v.form.pools.$each[index].water_type.$touch()" />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input v-model="pool.average_weight" label="Peso promedio g." outlined hint="Ingrese peso promedio"
                          error-message="Ingrese peso promedio" :error="$v.form.pools.$each[index].average_weight.$error"
                          @blur="$v.form.pools.$each[index].average_weight.$touch()" stack-label/>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input v-model="pool.planting_density" label="Densidad de siembra" outlined stack-label
                          hint="Ingrese densidad de siembra" error-message="Ingrese densidad de siembra"
                          :error="$v.form.pools.$each[index].planting_density.$error"
                          @blur="$v.form.pools.$each[index].planting_density.$touch()"/>
                      </div>
                    </q-card>
                  </div>

                  <div class="col-sm-2 col-md-2">
                    <label for="">
                      <b>Parámetros físicos</b>
                      <q-icon name="help" color="primary" size="sm">
                        <q-tooltip>
                          Rangos óptimos
                          <table>
                            <tr>
                              <td>Oxígeno</td>
                              <td>4.0 - 8.0</td>
                            </tr>
                            <tr>
                              <td>pH</td>
                              <td>7.0 - 8.5</td>
                            </tr>
                            <tr>
                              <td>Temperatura</td>
                              <td>25 - 32</td>
                            </tr>
                            <tr>
                              <td>S. Disueltos T. Agua dulce</td>
                              <td>10 - 100</td>
                            </tr>
                            <tr>
                              <td>S. Disueltos T. Agua salada</td>
                              <td>10 - 300</td>
                            </tr>
                            <tr>
                              <td>Turbiedad</td>
                              <td>0 - 40</td>
                            </tr>
                          </table>
                        </q-tooltip>
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-sm">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" v-model.number="pool.climatology" label="Climatología" outlined stack-label
                          hint="Ingrese densidad de siembra" error-message="Ingrese densidad de siembra"
                          :error="$v.form.pools.$each[index].climatology.$error"
                          @blur="$v.form.pools.$each[index].climatology.$touch()"/>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input :color="pool.oxygen >= 4 && pool.oxygen <= 8 ? 'primary' : 'negative'" type="number" v-model.number="pool.oxygen" label="Oxígeno" outlined stack-label
                          hint="Ingrese oxígeno" error-message="Ingrese oxígeno"
                          :error="$v.form.pools.$each[index].oxygen.$error"
                          @blur="$v.form.pools.$each[index].oxygen.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input :color="pool.ph >= 7 && pool.ph <= 8.5 ? 'primary' : 'negative'" type="number" v-model.number="pool.ph" label="pH" outlined stack-label
                          hint="Ingrese pH" error-message="Ingrese pH"
                          :error="$v.form.pools.$each[index].ph.$error"
                          @blur="$v.form.pools.$each[index].ph.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input :color="pool.temperature >= 25 && pool.temperature <= 32 ? 'primary' : 'negative'" type="number" v-model.number="pool.temperature" label="Temperatura (C)" outlined stack-label
                          hint="Ingrese temperatura" error-message="Ingrese temperatura"
                          :error="$v.form.pools.$each[index].temperature.$error"
                          @blur="$v.form.pools.$each[index].temperature.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" v-model.number="pool.salinity" label="Salinidad (ppl)" outlined stack-label
                          hint="Ingrese salinidad" error-message="Ingrese salinidad"
                          :error="$v.form.pools.$each[index].salinity.$error"
                          @blur="$v.form.pools.$each[index].salinity.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input :color="colorDissolved(pool.water_type, pool.dissolved)" type="number" v-model.number="pool.dissolved" label="S. Disueltos .T (mg/Lt)" outlined stack-label
                          hint="Ingrese un valor" error-message="Ingrese un valor"
                          :error="$v.form.pools.$each[index].dissolved.$error"
                          @blur="$v.form.pools.$each[index].dissolved.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="pool.turbidity >= 0 && pool.turbidity <= 40 ? 'primary' : 'negative'"
                          v-model.number="pool.turbidity" label="Turbiedad" outlined stack-label
                          hint="Ingrese turbiedad" error-message="Ingrese turbiedad"
                          :error="$v.form.pools.$each[index].turbidity.$error"
                          @blur="$v.form.pools.$each[index].turbidity.$touch()"
                          />
                      </div>
                    </q-card>
                  </div>
                  <div class="col-sm-2 col-md-2">
                    <label for="">
                      <b>Parámetros químicos</b>
                      <q-icon name="help" color="primary" size="sm">
                        <q-tooltip>
                      Rangos óptimos
                      <table>
                        <tr>
                          <td></td>
                          <td>Agua dulce</td>
                          <td>Agua salada</td>
                        </tr>
                        <tr>
                          <td>Alcalinidad</td>
                          <td>20 - 60</td>
                          <td>60 - 250</td>
                        </tr>
                        <tr>
                          <td>Amonio</td>
                          <td>0 - 1.04</td>
                          <td>0 - 0.26</td>
                        </tr>
                        <tr>
                          <td>Nitrito</td>
                          <td>0.003 - 0.33</td>
                          <td>0.003 - 0.660</td>
                        </tr>
                        <tr>
                          <td>Nitrato</td>
                          <td>2.2 - 4.4</td>
                          <td>1.7 - 3.10</td>
                        </tr>
                        <tr>
                          <td>Fosfato</td>
                          <td>0.1 - 1.0</td>
                          <td>0.2 - 2.0</td>
                        </tr>
                        <tr>
                          <td>Magnesio</td>
                          <td>30 - 120</td>
                          <td>800 - 2500</td>
                        </tr>
                        <tr>
                          <td>Calcio</td>
                          <td>60 - 120</td>
                          <td>80 - 450</td>
                        </tr>
                        <tr>
                          <td>Potasio</td>
                          <td>10 - 35</td>
                          <td>30 - 375</td>
                        </tr>
                      </table>
                        </q-tooltip>
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-sm">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorAlcalinity(pool.water_type, pool.alkalinity)"
                          v-model.number="pool.alkalinity" label="Alcalinidad C0 Ca" outlined stack-label
                          hint="Ingrese alcalinidad" error-message="Ingrese alcalinidad"
                          :error="$v.form.pools.$each[index].alkalinity.$error"
                          @blur="$v.form.pools.$each[index].alkalinity.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorAmmonium(pool.water_type, pool.ammonium)"
                          v-model.number="pool.ammonium" label="Amonio NH4 (mg/l)" outlined stack-label
                          hint="Ingrese amonio" error-message="Ingrese amonio"
                          :error="$v.form.pools.$each[index].ammonium.$error"
                          @blur="$v.form.pools.$each[index].ammonium.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorNitrite(pool.water_type, pool.nitrite)"
                          v-model.number="pool.nitrite" label="Nitrito NO2 (mg/l)" outlined stack-label
                          hint="Ingrese nitrito" error-message="Ingrese nitrito"
                          :error="$v.form.pools.$each[index].nitrite.$error"
                          @blur="$v.form.pools.$each[index].nitrite.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorNitrate(pool.water_type, pool.nitrate)"
                          v-model.number="pool.nitrate" label="Nitrato NO3 (mg/l)" outlined stack-label
                          hint="Ingrese nitrato" error-message="Ingrese nitrato"
                          :error="$v.form.pools.$each[index].nitrate.$error"
                          @blur="$v.form.pools.$each[index].nitrate.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorPhosphate(pool.water_type, pool.phosphate)"
                          v-model.number="pool.phosphate" label="Fosfato PO4 (mg/l)" outlined stack-label
                          hint="Ingrese fosfato" error-message="Ingrese fosfato"
                          :error="$v.form.pools.$each[index].phosphate.$error"
                          @blur="$v.form.pools.$each[index].phosphate.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorMagnesium(pool.water_type, pool.magnesium)"
                          v-model.number="pool.magnesium" label="Magnesio (mg/l)" outlined stack-label
                          hint="Ingrese magnesio" error-message="Ingrese magnesio"
                          :error="$v.form.pools.$each[index].magnesium.$error"
                          @blur="$v.form.pools.$each[index].magnesium.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorCalcium(pool.water_type, pool.calcium)"
                          v-model.number="pool.calcium" label="Calcio (mg/l)" outlined stack-label
                          hint="Ingrese calcio" error-message="Ingrese calcio"
                          :error="$v.form.pools.$each[index].calcium.$error"
                          @blur="$v.form.pools.$each[index].calcium.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorPotassium(pool.water_type, pool.potassium)"
                          v-model.number="pool.potassium" label="Potasio (mg/l)" outlined stack-label
                          hint="Ingrese potasio" error-message="Ingrese potasio"
                          :error="$v.form.pools.$each[index].potassium.$error"
                          @blur="$v.form.pools.$each[index].potassium.$touch()"
                          />
                      </div>
                    </q-card>
                  </div>
                  <div class="col-sm-4 col-md-4">
                    <label for="">
                      <b>Observaciones</b>
                      <q-icon name="" color="primary" size="sm">
                      </q-icon>
                    </label>
                    <q-card flat class="q-pt-sm">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="textarea" v-model="pool.observations" label="Observaciones" outlined stack-label
                          :error-message="`Ingrese observaciones de hasta 1000 caracteres. ${pool.observations ? pool.observations.length : 0} caracteres ingresados.`"
                          :error="$v.form.pools.$each[index].observations.$error"
                          @blur="$v.form.pools.$each[index].observations.$touch()" autogrow
                        >
                          <template v-slot:hint>
                            {{ pool.observations ? pool.observations.length : 0 }}/1000 caracteres
                          </template>
                        </q-input>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 q-pb-md q-pr-md">
                       <q-input type="textarea" v-model="pool.recommendations" label="Recomendaciones" outlined stack-label
                        :error-message="`Ingrese recomendaciones de hasta 1000 caracteres. ${pool.recommendations ? pool.recommendations.length : 0} caracteres ingresados.`"
                        :error="$v.form.pools.$each[index].recommendations.$error"
                        @blur="$v.form.pools.$each[index].recommendations.$touch()" autogrow
                        >
                        <template v-slot:hint>
                          {{ pool.recommendations ? pool.recommendations.length : 0 }}/1000 caracteres
                        </template>
                       </q-input>
                      </div>
                    </q-card>
                  </div>
                </div>
              </q-card>
            </div>
          </q-slide-transition>
        </q-card> -->
        <q-card class="q-pa-sm col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <q-tabs v-model="tab" dense class="text-grey" active-color="primary" indicator-color="primary"
            align="justify" narrow-indicator>
            <q-tab v-for="(pool, index) in form.pools" :key="pool.pool_id" :name="pool.pool_id" :label="pool.description" v-touch-hold.mouse="showPoolOptions(index)"/>
          </q-tabs>
          <q-separator />
          <q-tab-panels v-model="tab" animated>
            <q-tab-panel v-for="(pool, index) in form.pools" :key="pool.pool_id" :name="pool.pool_id">
              <h6 class="text-grey">Nombre de piscina {{ pool.description }} Área: {{ pool.area }}</h6>
              <q-tabs v-model="tab2" dense class="text-grey" active-color="primary" indicator-color="primary"
                align="justify" narrow-indicator>
                <q-tab name="pool" label="Piscina" />
                <q-tab name="physical_parameters" label="Parámetros físicos" />
                <q-tab name="chemical_parameters" label="Parámetros químicos" />
                <!-- <q-tab name="observations" label="Observaciones" /> -->
              </q-tabs>
              <q-separator />

              <q-tab-panels v-model="tab2" animated>
                <q-tab-panel name="pool">
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-select v-model="pool.water_type" color="primary" label="Tipo de agua" outlined :options="waterTypes"
                          hint="Seleccione tipo de agua" error-message="Seleccione tipo de agua" stack-label
                          :error="$v.form.pools.$each[index].water_type.$error" map-options emit-value
                          @blur="$v.form.pools.$each[index].water_type.$touch()" />
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" v-model="pool.average_weight" label="Peso promedio g." outlined hint="Ingrese peso promedio"
                          error-message="Ingrese peso promedio" :error="$v.form.pools.$each[index].average_weight.$error"
                          @blur="$v.form.pools.$each[index].average_weight.$touch()" stack-label/>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <!-- <q-input v-model="pool.planting_density" label="Densidad de siembra" outlined stack-label
                          hint="Ingrese densidad de siembra" error-message="Ingrese densidad de siembra"
                          :error="$v.form.pools.$each[index].planting_density.$error"
                          @blur="$v.form.pools.$each[index].planting_density.$touch()"/> -->
                          <q-field
                            color="primary"
                            outlined
                            stack-label
                            v-model="pool.planting_density"
                            label="Densidad de siembra"
                            hint="Ingrese densidad de siembra"
                            :error="$v.form.pools.$each[index].planting_density.$error" error-message="Ingrese densidad de siembra"
                            @blur="$v.form.pools.$each[index].planting_density.$touch()"
                          >
                            <template v-slot:control="{ id, floatingLabel, value, emitValue }">
                              <money :id="id" class="q-field__input text-left" :value="value" @input="emitValue" v-bind="money" v-show="floatingLabel" />
                            </template>
                          </q-field>
                      </div>
                  </div>
                </q-tab-panel>
                <q-tab-panel name="physical_parameters">
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <!-- <q-input type="number" v-model.number="pool.climatology" label="Clima" outlined stack-label
                          hint="Ingrese climatología" error-message="Ingrese climatología"
                          :error="$v.form.pools.$each[index].climatology.$error"
                          @blur="$v.form.pools.$each[index].climatology.$touch()"/> -->
                          <q-select v-model="pool.climatology" color="primary" label="Clima" outlined
                            hint="Seleccione clima" error-message="Seleccione clima"
                            :error="$v.form.pools.$each[index].climatology.$error" stack-label
                          @blur="$v.form.pools.$each[index].climatology.$touch()" :options="climates" emit-value map-options/>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input :color="pool.oxygen >= 4 && pool.oxygen <= 8 ? 'primary' : 'negative'" type="number" v-model.number="pool.oxygen" label="Oxígeno" outlined stack-label
                          hint="Ingrese oxígeno" error-message="Ingrese oxígeno"
                          :error="$v.form.pools.$each[index].oxygen.$error"
                          @blur="$v.form.pools.$each[index].oxygen.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input :color="pool.ph >= 7 && pool.ph <= 8.5 ? 'primary' : 'negative'" type="number" v-model.number="pool.ph" label="pH" outlined stack-label
                          hint="Ingrese pH" error-message="Ingrese pH"
                          :error="$v.form.pools.$each[index].ph.$error"
                          @blur="$v.form.pools.$each[index].ph.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input :color="pool.temperature >= 25 && pool.temperature <= 32 ? 'primary' : 'negative'" type="number" v-model.number="pool.temperature" label="Temperatura (C)" outlined stack-label
                          hint="Ingrese temperatura" error-message="Ingrese temperatura"
                          :error="$v.form.pools.$each[index].temperature.$error"
                          @blur="$v.form.pools.$each[index].temperature.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" v-model.number="pool.salinity" label="Salinidad (ppl)" outlined stack-label
                          hint="Ingrese salinidad" error-message="Ingrese salinidad"
                          :error="$v.form.pools.$each[index].salinity.$error"
                          @blur="$v.form.pools.$each[index].salinity.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input :color="colorDissolved(pool.water_type, pool.dissolved)" type="number" v-model.number="pool.dissolved" label="S. Disueltos .T (mg/Lt)" outlined stack-label
                          hint="Ingrese un valor" error-message="Ingrese un valor"
                          :error="$v.form.pools.$each[index].dissolved.$error"
                          @blur="$v.form.pools.$each[index].dissolved.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="pool.turbidity >= 0 && pool.turbidity <= 40 ? 'primary' : 'negative'"
                          v-model.number="pool.turbidity" label="Turbiedad" outlined stack-label
                          hint="Ingrese turbiedad" error-message="Ingrese turbiedad"
                          :error="$v.form.pools.$each[index].turbidity.$error"
                          @blur="$v.form.pools.$each[index].turbidity.$touch()"
                          />
                      </div>
                  </div>
                </q-tab-panel>
                <q-tab-panel name="chemical_parameters">
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorAlcalinity(pool.water_type, pool.alkalinity)"
                          v-model.number="pool.alkalinity" label="Alcalinidad CO3Ca" outlined stack-label
                          hint="Ingrese alcalinidad" error-message="Ingrese alcalinidad"
                          :error="$v.form.pools.$each[index].alkalinity.$error"
                          @blur="$v.form.pools.$each[index].alkalinity.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorAmmonium(pool.water_type, pool.ammonium)"
                          v-model.number="pool.ammonium" label="Amonio NH4 (mg/l)" outlined stack-label
                          hint="Ingrese amonio" error-message="Ingrese amonio"
                          :error="$v.form.pools.$each[index].ammonium.$error"
                          @blur="$v.form.pools.$each[index].ammonium.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorNitrite(pool.water_type, pool.nitrite)"
                          v-model.number="pool.nitrite" label="Nitrito NO2 (mg/l)" outlined stack-label
                          hint="Ingrese nitrito" error-message="Ingrese nitrito"
                          :error="$v.form.pools.$each[index].nitrite.$error"
                          @blur="$v.form.pools.$each[index].nitrite.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorNitrate(pool.water_type, pool.nitrate)"
                          v-model.number="pool.nitrate" label="Nitrato NO3 (mg/l)" outlined stack-label
                          hint="Ingrese nitrato" error-message="Ingrese nitrato"
                          :error="$v.form.pools.$each[index].nitrate.$error"
                          @blur="$v.form.pools.$each[index].nitrate.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorPhosphate(pool.water_type, pool.phosphate)"
                          v-model.number="pool.phosphate" label="Fosfato PO4 (mg/l)" outlined stack-label
                          hint="Ingrese fosfato" error-message="Ingrese fosfato"
                          :error="$v.form.pools.$each[index].phosphate.$error"
                          @blur="$v.form.pools.$each[index].phosphate.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorMagnesium(pool.water_type, pool.magnesium)"
                          v-model.number="pool.magnesium" label="Magnesio (mg/l)" outlined stack-label
                          hint="Ingrese magnesio" error-message="Ingrese magnesio"
                          :error="$v.form.pools.$each[index].magnesium.$error"
                          @blur="$v.form.pools.$each[index].magnesium.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorCalcium(pool.water_type, pool.calcium)"
                          v-model.number="pool.calcium" label="Calcio (mg/l)" outlined stack-label
                          hint="Ingrese calcio" error-message="Ingrese calcio"
                          :error="$v.form.pools.$each[index].calcium.$error"
                          @blur="$v.form.pools.$each[index].calcium.$touch()"
                          />
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="number" :color="colorPotassium(pool.water_type, pool.potassium)"
                          v-model.number="pool.potassium" label="Potasio (mg/l)" outlined stack-label
                          hint="Ingrese potasio" error-message="Ingrese potasio"
                          :error="$v.form.pools.$each[index].potassium.$error"
                          @blur="$v.form.pools.$each[index].potassium.$touch()"
                          />
                      </div>
                  </div>
                </q-tab-panel>
                <!-- <q-tab-panel name="observations">
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                        <q-input type="textarea" v-model="pool.observations" label="Observaciones" outlined stack-label
                          :error-message="`Ingrese observaciones de hasta 1000 caracteres. ${pool.observations ? pool.observations.length : 0} caracteres ingresados.`"
                          :error="$v.form.pools.$each[index].observations.$error"
                          @blur="$v.form.pools.$each[index].observations.$touch()" autogrow
                        >
                          <template v-slot:hint>
                            {{ pool.observations ? pool.observations.length : 0 }}/1000 caracteres
                          </template>
                        </q-input>
                      </div>
                      <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                       <q-input type="textarea" v-model="pool.recommendations" label="Recomendaciones" outlined stack-label
                        :error-message="`Ingrese recomendaciones de hasta 1000 caracteres. ${pool.recommendations ? pool.recommendations.length : 0} caracteres ingresados.`"
                        :error="$v.form.pools.$each[index].recommendations.$error"
                        @blur="$v.form.pools.$each[index].recommendations.$touch()" autogrow
                        >
                        <template v-slot:hint>
                          {{ pool.recommendations ? pool.recommendations.length : 0 }}/1000 caracteres
                        </template>
                       </q-input>
                      </div>
                  </div>
                </q-tab-panel> -->
              </q-tab-panels>
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import { required, maxLength } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../mixins/form'
import { mapGetters } from 'vuex'
export default {
  mixins: [FormMixin],
  components: {
  },
  data () {
    return {
      customerID: this.$route.params.id,
      shrimpId: this.$route.params.shrimpId !== 'undefined' ? this.$route.params.shrimpId : undefined,
      title: 'Análisis físico y químico de agua',
      route: 'water_analysis',
      form: {
        pools: [
        ]
      },
      customer: {},
      zones: [],
      waterTypes: [
        {
          label: 'Salada',
          value: 0
        },
        {
          label: 'Dulce',
          value: 1
        }
      ],
      shrimp: {
        zone: {}
      },
      shrimpReadOnly: false,
      shrimps: [],
      tab: '',
      tab2: 'pool',
      climates: [
        {
          label: 'Soleado',
          value: 1
        },
        {
          label: 'Nublado',
          value: 2
        },
        {
          label: 'Lluvia',
          value: 3
        }
      ],
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 0,
        masked: false
      }
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    canAddPool () {
      const pools = this.form.shrimp_id && this.shrimps.length ? (this.shrimps.find(val => val.id === parseInt(this.form.shrimp_id))).pools : []
      return this.form.pools.length < pools.length
    },
    zoneName () {
      return this.form.shrimp_id && this.shrimps.length ? this.shrimps.find(val => val.id === this.form.shrimp_id).zone.name : ''
    },
    applicants () {
      return this.form.shrimp_id && this.shrimps.length ? this.shrimps.find(val => val.id === this.form.shrimp_id).contacts : []
    },
    pools () {
      // Obtengo las piscinas de la camaronera seleccionada
      const pools = this.form.shrimp_id && this.shrimps.length ? (this.shrimps.find(val => val.id === parseInt(this.form.shrimp_id))).pools : []
      const added = []
      this.form.pools.forEach(element => {
        pools.forEach(element2 => {
          if (element.pool_id === element2.id) {
            added.push(element.pool_id)
          }
        })
      })
      // Retorno las piscinas disponibles
      return pools.filter(val => added.indexOf(val.id) === -1)
    }
  },
  validations () {
    return {
      form: {
        zone_id: { },
        applicant_id: { required },
        analysis_date: { required },
        delivery_date: {
          required,
          minValue: (value) => {
            return value >= this.form.analysis_date
          }
        },
        observations: { maxLength: maxLength(1000) },
        recommendations: { maxLength: maxLength(1000) },
        pools: {
          $each: {
            pool_id: { required },
            water_type: { required },
            average_weight: {},
            planting_density: {},
            climatology: { required },
            oxygen: {},
            ph: {},
            temperature: {},
            salinity: {},
            dissolved: {},
            turbidity: {},
            alkalinity: {},
            ammonium: {},
            nitrite: {},
            nitrate: {},
            phosphate: {},
            magnesium: {},
            calcium: {},
            potassium: {}
          }
        }
      }
    }
  },
  async mounted () {
    this.getShrimp()
  },
  methods: {
    /* getCustomer () {
      this.$api.get(`customers/${this.customerID}`).then(res => {
        if (res) {
          this.customer = res
          const shrimpPools = (this.customer.shrimps.find(val => val.id === parseInt(this.shrimpId))).pools
          this.pools = shrimpPools
          // this.setAvailablePools()
        }
      })
    }, */
    setAvailablePools () {
      console.log('this.form.pools', this.form.pools)

      const pools = this.pools

      pools.forEach(element => {
        element.disable = false
      })

      this.form.pools.forEach(element => {
        pools.forEach(element2 => {
          // delete element2.disable
          if (element.pool_id === element2.id) {
            element2.disable = true
            console.log('cumpli', element.pool_id, element2.id)
          } else {
            // element2.disable = false
            console.log('false')
          }
        })
      })
      console.log('despues', this.form.pools, pools)
      this.pools = pools
    },
    showPoolOptions (index) {
      const vm = this
      return function (props) {
        vm.$q.bottomSheet({
          message: 'Acciones sobre piscina',
          actions: [
            {
              color: 'primary',
              label: 'Eliminar',
              icon: 'delete',
              id: 'deletePool'
            }
          ]
        }).onOk(action => {
          console.log('Action chosen:', action.id)
          vm[action.id](index)
        })
      }
    },
    deletePool (index) {
      this.$q.dialog({
        title: 'Confirmar',
        message: '¿Realmente desea eliminar la piscina del análisis?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.form.pools.splice(index, 1)
      })
    },
    afterSave (response = undefined) {
      if (response) {
        this.$api.get(`water_analysis_print/${response.id}`).then(res => {
        })
      }
    },
    afterGetRecord () {
      // this.setAvailablePools()
      // Si ya hay piscinas guardadas asignar al tab la primera que encuentre
      this.tab = this.form.pools.length ? this.form.pools[0].pool_id : ''
    },
    colorDissolved (waterType, dissolved) {
      if (waterType === 0) { // Agua salada
        if (dissolved >= 10 && dissolved <= 300) {
          return 'primary'
        } else {
          return 'negative'
        }
      } else {
        if (dissolved >= 10 && dissolved <= 100) {
          return 'primary'
        } else {
          return 'negative'
        }
      }
    },
    colorAlcalinity (waterType, alcalinity) {
      if (waterType === 0) { // Agua salada
        if (alcalinity >= 60 && alcalinity <= 250) {
          return 'primary'
        } else {
          return 'negative'
        }
      } else {
        if (alcalinity >= 20 && alcalinity <= 60) {
          return 'primary'
        } else {
          return 'negative'
        }
      }
    },
    colorAmmonium (waterType, ammonium) {
      if (waterType === 0) { // Agua salada
        if (ammonium >= 0 && ammonium <= 0.26) {
          return 'primary'
        } else {
          return 'negative'
        }
      } else {
        if (ammonium >= 0 && ammonium <= 1.04) { // agua dulce
          return 'primary'
        } else {
          return 'negative'
        }
      }
    },
    colorNitrite (waterType, nitrite) {
      if (waterType === 0) { // Agua salada. 0.003 - 0.660
        if (nitrite >= 0.003 && nitrite <= 0.660) {
          return 'primary'
        } else {
          return 'negative'
        }
      } else {
        if (nitrite >= 0.003 && nitrite <= 0.33) { // agua dulce. 0.003 - 0.33
          return 'primary'
        } else {
          return 'negative'
        }
      }
    },
    colorNitrate (waterType, nitrate) {
      if (waterType === 0) { // Agua salada. 1.7 - 3.10
        if (nitrate >= 1.7 && nitrate <= 3.10) {
          return 'primary'
        } else {
          return 'negative'
        }
      } else {
        if (nitrate >= 2.2 && nitrate <= 4.4) { // agua dulce. 2.2 -4.4
          return 'primary'
        } else {
          return 'negative'
        }
      }
    },
    colorPhosphate (waterType, phosphate) {
      if (waterType === 0) { // Agua salada. 0.2 - 2.0
        if (phosphate >= 0.2 && phosphate <= 2.0) {
          return 'primary'
        } else {
          return 'negative'
        }
      } else {
        if (phosphate >= 0.1 && phosphate <= 1.0) { // agua dulce. 0.1 - 1.0
          return 'primary'
        } else {
          return 'negative'
        }
      }
    },
    colorMagnesium (waterType, value) {
      if (waterType === 0) { // Agua salada. 800 - 2500
        if (value >= 800 && value <= 2500) {
          return 'primary'
        } else {
          return 'negative'
        }
      } else {
        if (value >= 30 && value <= 120) { // agua dulce. 30 -120
          return 'primary'
        } else {
          return 'negative'
        }
      }
    },
    colorCalcium (waterType, value) {
      if (waterType === 0) { // Agua salada. 80 - 450
        if (value >= 80 && value <= 450) {
          return 'primary'
        } else {
          return 'negative'
        }
      } else {
        if (value >= 60 && value <= 120) { // agua dulce. 60 -120
          return 'primary'
        } else {
          return 'negative'
        }
      }
    },
    colorPotassium (waterType, value) {
      if (waterType === 0) { // Agua salada. 30 - 375
        if (value >= 30 && value <= 375) {
          return 'primary'
        } else {
          return 'negative'
        }
      } else {
        if (value >= 10 && value <= 35) { // agua dulce. 10 - 35
          return 'primary'
        } else {
          return 'negative'
        }
      }
    },
    async getShrimp () {
      /* this.$api.get(`shrimps/${this.shrimpId}`).then(res => {
        if (res) {
          this.shrimp = res
          this.applicants = res.contacts
        }
      }) */
      this.shrimps = await this.$api.getData('shrimps')
      if (this.shrimpId) {
        this.$set(this.form, 'shrimp_id', parseInt(this.shrimpId))
        this.shrimpReadOnly = true // Si se recibió la camaronera para el análisis colocar el campo de solo lectura
      }
    },
    addPool (pool) {
      this.form.pools.unshift({
        pool_id: pool.id,
        description: pool.description,
        expanded: true,
        area: pool.area
      })
      this.tab = pool.id
      // this.setAvailablePools()
    },
    afterMounted () {
      this.$emit('setBreadcrumb', [
        {
          label: 'Home',
          icon: 'home',
          to: '/menu'
        },
        {
          label: 'Clientes',
          icon: 'person',
          to: '/customers'
        },
        {
          label: 'Gestión Cliente',
          icon: 'person',
          to: '/customers/show/' + this.customerID
        },
        {
          label: 'Camaroneras',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps`
        },
        {
          label: 'Aguas',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps/${this.shrimpId}/water`
        },
        {
          label: this.insert ? 'Nuevo análisis' : 'Ver análisis',
          icon: 'person',
          to: `/customers/show/${this.customerID}/shrimps/${this.shrimpId}/water/form`
        }
      ])
    },
    afterValidate () {
      if (this.$v.form.$error) {
        this.$q.notify({
          type: 'warning',
          message: '¡Debe ingresar los campos requeridos del análisis, Piscina y Parámetros Físicos!'
        })
      }
    }
  }
}
</script>
