<template>
  <div class="q-pa-md row">
    <div class="row col-9">
      <div class="text-h4 text-primary"><b>Análisis de aguas</b></div>
    </div>
    <div class="col-3" style="text-align: right;">
      <q-btn class="q-ma-sm" v-if="can('2.1.1.1.16')" round icon="add" color="primary" size="md"
      :to="`/waters/${$route.params.shrimpId}/list/form`">
      </q-btn>
    </div>
    <div class="col-12">
      <q-select class="q-pa-sm" label="Ordenar por" v-model="sortType" @input="sort"
      :options="[{label: 'Más recientes', value: 1}, {label: 'Más antiguos', value: 2}]" emit-value map-options/>
    </div>
    <div class="q-pa-sm" style="width: 100%;">
      <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
        <q-card-section class="row">
          <div class="col">
            <b class="text-grey-7">Número de análisis</b>
          </div>
          <div class="col" style="text-align: center">
            <b class="text-grey-7">Fecha de análisis</b>
          </div>
          <div class="col" style="text-align: center">
            <b class="text-grey-7">Ásesor técnico</b>
          </div>
          <div class="col" style="text-align: center">
            <b class="text-grey-7">Solicitante</b>
          </div>
          <div class="col" style="text-align: center">
            <b class="text-grey-7">Piscinas</b>
          </div>
        </q-card-section>
        <q-separator color="grey-4" />
        <q-list>
        <q-item class="row" v-for="(analysis, index) in analysis" :key="index" @click="showRecordOptions(analysis)" clickable>
          <div class="col">
            <p class="text-grey-7">{{ analysis.id || 'Registro local' }}</p>
          </div>
          <div class="col" style="text-align: center">
            <p class="text-grey-7">{{ analysis.analysis_date }}</p>
          </div>
          <div class="col" style="text-align: center">
            <p class="text-grey-7">{{ analysis.user ? analysis.user.technical_advisor.full_name : '' }}</p>
          </div>
          <div class="col" style="text-align: center">
            <p class="text-grey-7">{{ analysis.applicant }}</p>
          </div>
          <div class="col" style="text-align: center">
            <p class="text-grey-7">{{ Array.isArray(analysis.pools) ? analysis.pools.map(val => val.description).join(',') : analysis.pools }}</p>
          </div>
        </q-item>
        </q-list>
        <q-separator color="grey-4" />
      </q-card>
    </div>
    <q-dialog v-model="showLink">
        <q-card>
          <q-card-section>
            <div class="text-h6">Enlace para compartir</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <a :href="link" target="_blank">{{ link }}</a>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn color="primary" flat label="Copiar" @click="copyClipboard"/>
            <q-btn flat label="Cerrar" color="primary" v-close-popup/>
          </q-card-actions>
        </q-card>
      </q-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { ListMixin } from '../../../mixins/list'
export default {
  mixins: [ListMixin],
  data () {
    return {
      analysis: [],
      params: {
        shrimp_id: this.$route.params.shrimpId
      },
      showLink: false,
      link: '',
      sortType: 1
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  mounted () {
    this.getAnalysis()
  },
  methods: {
    async getAnalysis () {
      /* this.$api.get('water_analysis', { params: this.params }).then(res => {
        this.analysis = res
      }) */
      this.analysis = await this.$api.getData('water_analysis', { params: this.params })
    },
    showRecordOptions (analysis) {
      this.$q.bottomSheet({
        message: `Acciones análisis ${analysis.id}`,
        actions: [
          {
            color: 'primary',
            label: 'Editar',
            icon: 'edit',
            id: 'edit'
          },
          {
            color: 'primary',
            label: 'Enviar Mail',
            icon: 'mail',
            id: 'mail'
          },
          {
            color: 'primary',
            label: 'Descargar',
            icon: 'file_download',
            id: 'download'
          },
          {
            color: 'primary',
            label: 'Ver enlace',
            icon: 'link',
            id: 'getLink'
          }
        ]
      }).onOk(action => {
        console.log('Action chosen:', action.id)
        this[action.id](analysis.id || analysis.provisionalId)
      }).onCancel(() => {
        // console.log('Dismissed')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    edit (analisysId) {
      console.log('edit', this.$route.path)
      console.log(`${this.$route.path}/form/${analisysId}`)
      this.$router.push(`${this.$route.path}/form/${analisysId}`)
    },
    mail (analisysId) {
      console.log('edit', this.$route.path)
      console.log(`${this.$route.path}/form/${analisysId}`)
      this.$router.push(`${this.$route.path}/send_mail/${analisysId}`)
    },
    download (analisysId) {
      this.$q.loading.show({ message: 'Descargando archivo de análisis...' })
      this.$api.get(`water_analysis_print/${analisysId}`).then(file => {
        var vm = this
        if (file) {
          this.$api.get(`filepdf/${file}`, { responseType: 'blob' }).then(res => {
            const blob = new Blob([res])
            let ext = file.split('.')
            ext = ext[ext.length - 1]
            const fileName = `Analisis de aguas ${analisysId}.${ext}`
            this.fileName = fileName

            if (this.$q.platform.is.mobile) { // Si es teléfono
              console.log('es telfono')
              this.saveBlob2File(fileName, blob)
            }
            this.$q.loading.hide()
            this.$q.notify({
              type: 'positive',
              message: 'Archivo de pago disponible en descargas. ' + fileName
            })
          }).catch(function (error) {
            console.log('error descargando', error)
            vm.$q.loading.hide()
            vm.$q.notify({
              type: 'negative',
              message: 'Error descargando archivo'
            })
          })
        } else { // Algún error de servidor
          this.$q.loading.hide()
        }
      })
    },
    saveBlob2File (fileName, blob) {
      var vm = this
      var folder = cordova.file.externalRootDirectory + 'Download'
      window.resolveLocalFileSystemURL(folder, function (dirEntry) {
        vm.createFile(dirEntry, fileName, blob)
      }, this.onErrorLoadFs)
    },
    createFile (dirEntry, fileName, blob) {
      var vm = this
      // Creates a new file
      dirEntry.getFile(fileName, { create: true, exclusive: false }, function (fileEntry) {
        // Aquí pide permisos al cel
        vm.writeFile(fileEntry, blob)
      }, this.onErrorCreateFile)
    },
    writeFile (fileEntry, dataObj) {
      var vm = this
      // Create a FileWriter object for our FileEntry
      fileEntry.createWriter(function (fileWriter) {
        fileWriter.onwriteend = function () {
          vm.readFile()
        }

        fileWriter.onerror = function (error) {
          alert(error)
        }
        fileWriter.write(dataObj)
      })
    },
    readFile () {
      let fileMIMEType
      switch (this.ext) {
        case 'bmp':
          fileMIMEType = 'image/bmp'
          break
        case 'gif':
          fileMIMEType = 'image/gif'
          break
        case 'jpeg':
          fileMIMEType = 'image/jpeg'
          break
        case 'jpg':
          fileMIMEType = 'image/jpeg'
          break
        case 'jpe':
          fileMIMEType = 'image/jpeg'
          break
        case 'png':
          fileMIMEType = 'image/png'
          break
        default:
          fileMIMEType = 'application/pdf'
      }
      cordova.plugins.fileOpener2.open(
        cordova.file.externalRootDirectory + 'Download/' + this.fileName, // You can also use a Cordova-style file uri: cdvfile://localhost/persistent/Downloads/starwars.pdf
        fileMIMEType,
        {
          error: function (e) {
            alert('Error al abrir archivo: ' + e.status + ' - Error message: ' + e.message)
          },
          success: function () {
            // alert('file opened successfully')
          }
        }
      )
    },
    onErrorLoadFs (error) {
      console.log(error)
    },
    onErrorCreateFile (error) {
      console.log(error)
      // si no dan permisoss
    },
    getLink (analisysId) {
      this.$api.get(`water_analysis_print/${analisysId}`).then(res => {
        if (res) {
          console.log('res', `${process.env.apiUrl}filepdf/${res}`)
          this.link = `${process.env.apiUrl}filepdf/${res}`
          this.showLink = true
        }
      })
    },
    sort () { // 1 descendente, 2 ascedente
      if (this.sortType === 1) {
        this.analysis.sort((a, b) => parseFloat(b.analysis_date) - parseFloat(a.analysis_date))
      } else {
        this.analysis.sort((a, b) => parseFloat(a.analysis_date) - parseFloat(b.analysis_date))
      }
    }
  }
}
</script>
