<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-input
        v-show="false"
        ref="autocomp"
        for="input"
        class="col-xs-12 col-sm-6 q-pa-md"
        label="Dirección"
        placeholder="Av Bolívar Nirgua Venezuela"
        stack-label
        hint="Ubique su negocio en el mapa"
        disabled
      />
      <FormHeader :title="title" :subtitle="subtitle" :save="save" />
      <q-card-section class="q-pa-sm row">
        <q-card class="q-pa-sm row" style="width: 100%; background: aliceblue;">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-1 q-pb-md q-pr-md">
            <label for=""><b>Cliente:</b> {{ customer.legal_name }}</label>
          </div>
        </q-card>
        <q-card class="q-pa-sm row" style="width: 100%">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 q-pb-md q-pr-md">
            <q-select color="primary" v-model="form.state_id" :options="stateOptions" label="Provincia" emit-value
              map-options outlined hint="Seleccione provincia" error-message="Seleccione provincia" use-input
              input-debounce="0" @filter="statefilterFn" :error="$v.form.state_id.$error" @blur="$v.form.state_id.$touch()" option-label="name" option-value="id"
              hide-selected fill-input @input="form.city_id = ''">
            </q-select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 q-pb-md q-pr-md">
            <q-select color="primary" v-model="form.city_id" :options="citiesByState" label="Ciudad" emit-value map-options
              outlined hint="Seleccione ciudad" error-message="Seleccione ciudad" use-input input-debounce="0"
              @filter="cityfilterFn" :error="$v.form.city_id.$error" @blur="$v.form.city_id.$touch()" option-label="name"
              option-value="id" hide-selected fill-input @input="getCoordinates">
            </q-select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 q-pb-md q-pr-md">
            <q-input color="primary" v-model="form.name" label="Nombre" outlined hint="Ingrese nombre"
              error-message="Ingrese nombre" :error="$v.form.name.$error" @blur="$v.form.name.$touch()">
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 q-pb-md q-pr-md">
            <q-select color="primary" v-model="form.zone_id" label="Zona" outlined hint="Seleccione zona"
              :options="customer.zones" map-options emit-value option-value="id" option-label="name"
              error-message="Seleccione zona" :error="$v.form.zone_id.$error" @blur="$v.form.zone_id.$touch()">
            </q-select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 q-pb-md q-pr-md">
            <q-input type="number" color="primary" v-model.number="form.extended_all" label="Extensión total" outlined hint="Extensión total"
              error-message="Extensión total" :error="$v.form.extended_all.$error" @blur="$v.form.extended_all.$touch()">
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 q-pb-md q-pr-md">
            <q-input type="number" color="primary" v-model.number="form.agripac_atendets" label="Hectareas atendidas por Agripac" outlined hint="Hectareas atendidas por Agripac"
              error-message="No puede ser mayor a la extensión total" :error="$v.form.agripac_atendets.$error" @blur="$v.form.agripac_atendets.$touch()">
            </q-input>
          </div>
        </q-card>
      </q-card-section>
      <q-card-section>
        <GmapMap :center="center" :zoom="9" map-type-id="terrain" style="width: 100%; height: 400px" ref="myMap">
        </GmapMap>
      </q-card-section>
    </q-card>
    <q-card>
      <q-separator />
      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../mixins/form'
import FormHeader from 'components/FormHeader'
import { date } from 'quasar'
import { gmapApi } from 'vue2-google-maps'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      customerId: this.$route.params.id,
      shrimpId: this.$route.params.shrimpId,
      title: 'Camaroneras',
      subtitle: 'Nueva camaronera',
      route: 'shrimps',
      form: {
        initial_biomass: true,
        area: 2
      },
      stateOptions: [],
      stringStateOptions: [],
      cityOptions: [],
      stringCityOptions: [],
      center: {
        lat: -2.188035,
        lng: -79.88509
      },
      directionsService: {},
      showControl: false,
      mapGlobal: '',
      place: '',
      marker: '',
      autocomplete: {},
      visiblePolygon: false,
      keee: 0,
      customer: {}
    }
  },
  computed: {
    google: gmapApi,
    citiesByState () {
      return this.cityOptions.filter(value => value.state_id === this.form.state_id)
    },
    harvestDate () {
      const harvest = date.addToDate(this.form.seedtime, { days: this.form.cultivation_days + 1 })
      return date.formatDate(harvest, 'DD-MM-YYYY')
    },
    numberAnimals () {
      return this.form.density * this.form.area
    },
    weeklyGrowth () {
      return (this.form.initial_biomass ? (20 - this.form.stock_weight) / 90 * 7 : (this.form.harvest_target_weight / this.form.cultivation_days) * 7).toFixed(2)
    },
    poundsHarvest () {
      return (this.numberAnimals * (this.form.survival / 100) * this.form.harvest_target_weight / 454).toFixed()
    },
    kilosFood () {
      return (this.form.initial_biomass ? this.form.fc * ((this.poundsHarvest / 2.2046) - (this.numberAnimals * this.form.stock_weight / 1000)) : this.poundsHarvest * this.form.fc).toFixed(3)
    },
    poundsHa () {
      return this.poundsHarvest / this.form.area
    },
    harvestDensity () {
      return this.poundsHarvest * 454 / this.form.harvest_target_weight / this.form.area
    }
  },
  validations () {
    return {
      form: {
        state_id: { required },
        city_id: { required },
        name: { required, minLength: minLength(2), maxLength: maxLength(20) },
        zone_id: { required },
        agripac_atendets: { required },
        extended_all: { required }
      }
    }
  },
  async mounted () {
    this.form.ubication = this.center
    // Verificar que el cliente exista
    this.getCustomer()
    // Si el cliente no existe vamos para atrás
    // var vm = this
    this.getStates()
    this.getCities()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Clientes',
        icon: 'person',
        to: '/customers'
      },
      {
        label: 'Gestión Cliente',
        icon: 'person',
        to: '/customers/show/' + this.customerId
      },
      {
        label: 'Camaroneras',
        icon: 'person',
        to: '/customers/show/' + this.customerId + '/shrimps'
      },
      {
        label: this.shrimpId ? 'Editar camaronera' : 'Nueva camaronera',
        icon: 'person',
        to: '/customers/show/' + this.customerId + '/shrimps/form'
      }
    ])

    var vm = this
    // instanciar mapa
    await this.$refs.myMap.$mapPromise.then((map) => {
      // agregar librerias automplete de google maps a un input
      var autocomplete = new this.google.maps.places.Autocomplete(this.$refs.autocomp.$refs.input)
      vm.mapGlobal = map
      this.getPolygon()
      // marcador objetivo
      vm.marker = new this.google.maps.Marker({
        draggable: true,
        animation: this.google.maps.Animation.DROP,
        position: vm.center,
        map: map
      })
      // obtener direccion del marcador a traves de coordenadas
      var geocoder = new this.google.maps.Geocoder()
      geocoder.geocode({ location: this.marker.getPosition() }, function (results, status) {
        if (status === 'OK') {
          if (results[0]) {
            vm.place = results[0].formatted_address
          }
        } else {
          alert('Geocode was not successful for the following reason: ' + status)
        }
      })
      vm.marker.addListener('click', vm.toggleBounce)
      vm.marker.addListener('dragend', vm.changedMarker)
      // seleccionar nueva ubicacion cambia el centro del mapa
      autocomplete.addListener('place_changed', function () {
        const placeAutocomplete = autocomplete.getPlace()
        const latLng = { lat: placeAutocomplete.geometry.location.lat(), lng: placeAutocomplete.geometry.location.lng() }
        vm.map.setCenter(latLng)
        vm.marker.setPosition(latLng)
        vm.place = placeAutocomplete.formatted_address

        vm.map.setZoom(10)
      })
      // vm.marker.setPosition(vm.center)
    })
  },
  methods: {
    getCustomer () {
      this.$api.get(`customers/${this.customerId}`).then(res => {
        if (res) {
          this.customer = res
        }
      })
    },
    getStates () {
      this.$api.get('states').then(res => {
        this.stateOptions = res
        this.stringStateOptions = res
      })
    },
    getCities () {
      this.$api.get('cities').then(res => {
        this.cityOptions = res
        this.stringCityOptions = res
      })
    },
    statefilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.stateOptions = this.stringStateOptions

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.stateOptions = this.stringStateOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    cityfilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.cityOptions = this.stringCityOptions

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.cityOptions = this.stringCityOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    // Crear un poligono rectangular alrededor del marcador
    getPolygon () {
      var circle = new this.google.maps.Circle()
      circle.setCenter(this.center)
      circle.setRadius(5000)
      circle.setVisible(true)
      var bounds = circle.getBounds()
      /* var rectangle = new this.google.maps.Rectangle({
        map: map,
        bounds: bounds,
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.35
      }) */
      var ne = bounds.getNorthEast()
      var sw = bounds.getSouthWest()
      var nw = new this.google.maps.LatLng(ne.lat(), sw.lng())
      var se = new this.google.maps.LatLng(sw.lat(), ne.lng())
      this.$emit('getBounds', [ne, nw, sw, se], this.center)
    },
    beforeSave () {
      this.form.customer_id = this.$route.params.id
      this.form.ubication = JSON.stringify(this.form.ubication)
      if (this.form.agripac_atendets > this.form.extended_all) {
        this.form.agripac_atendets = null
        this.$q.notify({
          color: 'negative',
          message: 'Las hectareas atendidas por Agripac no pueden ser mayores a las hectareas totales',
          icon: 'warning'
        })
      }
    },
    // cambiar posicion del marcador y mostrar direccion en el input
    changedMarker () {
      var vm = this
      var geocoder = new this.google.maps.Geocoder()
      this.center = this.marker.getPosition()
      geocoder.geocode({ location: this.marker.getPosition() }, function (results, status) {
        if (status === 'OK') {
          if (results[0]) {
            vm.getPolygon()
            vm.place = results[0].formatted_address
            const coordinates = {
              lat: results[0].geometry.location.lat(),
              lng: results[0].geometry.location.lng()
            }
            console.log('coordinates', coordinates)
            vm.form.ubication = coordinates
            vm.$emit('newPlace', vm.place, coordinates, vm.bounds)
          }
        } else {
          alert('Geocode was not successful for the following reason: ' + status)
        }
      })
    },
    // animacion del marcador al hacer click sobre el
    toggleBounce () {
      if (this.marker.getAnimation() !== null) {
        this.marker.setAnimation(null)
      } else {
        this.marker.setAnimation(this.google.maps.Animation.BOUNCE)
      }
    },
    beforeMounted () {
      this.id = this.$route.params.shrimpId
      // this.center = this.form.ubication ? this.form.ubication : this.center
    },
    afterMounted () {
      this.center = this.form.ubication ? this.form.ubication : this.center
      // this.keee++
      if (!this.insert) {
        this.marker.setPosition(this.center)
      }
    },
    async getCoordinates () {
      const city = this.citiesByState.find(val => val.id === this.form.city_id).name
      const state = this.stateOptions.find(val => val.id === this.form.state_id).name
      this.$api.get('get_coordinates', { params: { address: `${city} ${state}` } }).then(res => {
        this.center = res
        this.marker.setPosition(this.center)
        this.form.ubication = res
      })
    }
  }
}
</script>
