<template>
  <q-page>
    <FormHeader :title="title" :subtitle="subtitle" :save="save" />
    <q-card>
      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-input color="primary" v-model="form.name" label="Tipo de evento" @blur="$v.form.name.$touch()"
            error-message="Ingrese el nombre de un tipo de evento" :error="$v.form.name.$error" placeholder="Reunión"
            hint="Ingrese el nombre de un tipo de evento" outlined>
          </q-input>
        </div>
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-select color="primary" v-model="form.require_approval" label="¿Requiere aprobación?"
           outlined :options="[{label: 'Sí', value: true}, {label: 'No', value: false}]" map-options emit-value>
          </q-select>
        </div>
      </div>
      <q-separator />
      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../mixins/form'
import FormHeader from 'components/FormHeader'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      title: 'Tipos de eventos',
      route: 'visit_reasons',
      form: {
        type: 1,
        require_approval: true
      }
    }
  },
  computed: {
    subtitle () {
      return this.insert ? 'Nuevo tipo de evento' : 'Edición de tipo de evento'
    }
  },
  validations () {
    return {
      form: {
        name: { required }
      }
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Tipos de eventos',
        icon: 'person',
        to: '/visit_reasons'
      },
      {
        label: !this.id ? 'Nuevo tipo de evento' : 'Edición de tipo de evento',
        icon: 'person',
        to: '/visit_reasons/form'
      }
    ])
  },
  methods: {
  }
}
</script>
