<template>
  <q-page>
     <q-card class="q-pa-md">
      <FormHeader :title="title" :subtitle="subtitle" :save="save" />
      <br>
       <div class="row q-pa-sm">
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-input color="primary" v-model="form.code" label="Codigo" error-message="Ingrese el codigo"
            placeholder="001" hint="Ingrese el codigo del jefe tecnico" outlined autofocus />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-input color="primary" v-model="form.team_name" label="Nombre del Equipo" error-message="Ingrese Nombre del Equipo Tecnico, maximo de caracteres es de 240"
            :error="$v.form.team_name.$error" @blur="$v.form.team_name.$touch()" placeholder="Equipo 1"
            hint="Ingrese Nombre del Equipo Tecnico" outlined />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-select v-model="form.technical_chief" :options="optionsChiefs" outlined clearable label="Jefes Tecnicos"
          option-value="id" option-label="full_name" hint="Seleccione por lo menos un Jefe Tecnico" emit-value
          map-options error-message="Seleccione por lo menos un Jefe Tecnico" :error="$v.form.technical_chief.$error"
          @blur="$v.form.technical_chief.$touch()" @input="test()"
          />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-select v-model="form.zone" multiple :options="optionsZones" outlined clearable label="Zonas"
          option-value="id" option-label="name" hint="Seleccione por lo menos una zona" use-chips emit-value
          map-options error-message="Seleccione por lo menos una zona" :error="$v.form.zone.$error"
          @blur="$v.form.zone.$touch()"
          />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-select v-model="form.technical_advisors" multiple :options="optionsAdvisors" outlined clearable label="Asesores Tecnicos"
          option-value="id" option-label="full_name" hint="Seleccione por lo menos un Asesor Técnico" use-chips emit-value
          map-options error-message="Seleccione por lo menos un Asesor Técnico" :error="$v.form.technical_advisors.$error"
          @blur="$v.form.technical_advisors.$touch()"
          />
        </div>
       </div>

      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
     </q-card>
  </q-page>
</template>

<script>
import FormHeader from 'components/FormHeader'
import { FormMixin } from '../../../../mixins/form'
import { required, maxLength, minLength } from 'vuelidate/lib/validators'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      form: {
        zone: [],
        technical_advisors: []
      },
      zone: [],
      title: 'Equipo Tecnico',
      subtitle: 'Nuevo Equipo Tecnico',
      route: 'technical_equipments',
      field: '',
      optionsZones: [],
      optionsChiefs: [],
      optionsAdvisors: []
    }
  },
  validations () {
    return {
      form: {
        // code: {  }
        team_name: { required, maxLength: maxLength(240) },
        technical_advisors: { required, minLength: minLength(1) },
        technical_chief: { required, minLength: minLength(1) },
        zone: { required, minLength: minLength(1) }
      }
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Equipo Tecnico',
        icon: 'view_carousel ',
        to: '/technical_equipments'
      },
      {
        label: 'Nuevo Equipo Tecnico',
        icon: 'view_carousel',
        to: 'technical_equipments/form'
      }
    ])
    this.getZones()
    this.getTechnicalChiefs()
    this.getTechnicalAdvisors()
  },
  methods: {
    getZones () {
      this.$api.get('zones/true').then(res => {
        this.optionsZones = res
      })
    },
    getTechnicalChiefs () {
      this.$api.get('technical_chiefs_status/true').then(res => {
        this.optionsChiefs = res
      })
    },
    getTechnicalAdvisors () {
      this.$api.get('technical_advisors_status/true').then(res => {
        this.optionsAdvisors = res
      })
    },
    test () {
      console.log(this.form.technical_chief)
    }
  }
}
</script>

<style>

</style>
