<template>
  <div class="q-pa-sm">
    <div class="q-pt-xl q-pl-xl q-pb-lg row justify-left">
      <div class="text-h4 text-primary"><b>Cliente {{ customer.legal_name }}</b></div>
    </div>
    <div class="row">
      <div class="q-pl-xl col-6">
        <q-card class="my-card">
          <q-card-section>
            <q-btn v-for="item in customer.shrimps" :key="item.id" class="q-mb-lg full-width text-grey-9"
            :label="item.name" :to="`/customer_shrimps/${customerId}/shrimp/${item.id}`" rounded/>
          </q-card-section>
        </q-card>
      </div>
      <div class="q-pl-xl col-6">
        <q-card class="my-card">
          <q-card-section>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      customerId: this.$route.params.id,
      customer: {}
    }
  },
  mounted () {
    this.getCustomer()
  },
  methods: {
    async getCustomer () {
      this.customer = await this.$api.getData(`customers/${this.customerId}`)
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 250px
</style>
