<template>
  <div>
    <shrimp :shrimp="shrimp"/>
  </div>
</template>
<script>
import Shrimp from 'components/Shrimp'
export default {
  components: {
    Shrimp
  },
  data () {
    return {
      shrimpId: this.$route.params.shrimpId,
      shrimp: []
    }
  },
  mounted () {
    this.getShrimp()
  },
  methods: {
    async getShrimp () {
      this.shrimp = await this.$api.getData(`shrimps/${this.shrimpId}`)
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 250px
</style>
