<template>
  <div class="column">
    <div class="q-pa-sm">
      <!-- <div class="row justify-left">
          <q-btn class="q-ma-sm" label="Volver" color="primary" flat @click="$router.go(-1)"/>
        </div> -->
      <div class="row gutter-md">
        <div class="col-md-8 col-xs-12">
          <q-tabs
            v-model="tab"
            dense
            class="text-grey"
            active-color="primary"
            indicator-color="primary"
            align="justify"
            narrow-indicator
          >
            <q-tab
              name="basico"
              label="Básico"
            />
            <q-tab
              name="avanzado"
              label="Avanzado"
            />
          </q-tabs>

          <q-separator />

          <q-tab-panels
            v-model="tab"
            animated
          >
            <q-tab-panel name="basico">
              <div class="col scroll flex-basis">
                <q-card>
                  <q-card-section class="bg-primary text-white">
                    <div class="text-h6">Datos básicos</div>
                  </q-card-section>
                  <q-separator />
                  <q-card-section>
                    <div class="row">
                      <div class="col-md-4 q-pr-sm">
                        <q-select
                          emit-value
                          map-options
                          v-model="form.format_category_id"
                          label="Categoría de formato"
                          radio
                          :options="formatsCategories"
                          option-value="id"
                          option-label="name"
                        />
                      </div>
                      <div class="col-md-4 q-pr-sm">
                        <q-input
                          label="Nombre del Reporte"
                          v-model="form.name"
                          :error="$v.form.name.$error"
                        />
                      </div>
                      <div class="col-md-4">
                        <q-input
                          label="Título del reporte"
                          v-model="form.title"
                        />
                      </div>
                    </div>
                    <div class="q-pa-md">
                      <q-select
                        emit-value
                        map-options
                        v-model="form.config.contenido.alineacion"
                        label="Alineación del texto"
                        radio
                        :options="alineacion"
                      />
                      <p class="q-caption text-grey"></p>
                      <q-editor
                        label="Asunto"
                        v-model="form.content"
                        :error="$v.form.content.$error"
                        flat
                        content-class="bg-amber-3"
                        toolbar-text-color="white"
                        toolbar-toggle-color="yellow-8"
                        toolbar-bg="primary"
                        :toolbar="[['bold', 'italic']]"
                      />
                    </div>
                  </q-card-section>
                </q-card>
              </div>
            </q-tab-panel>

            <q-tab-panel name="avanzado">
              <div class="col-md-8 col-xs-12">
                <q-expansion-item
                  icon="build"
                  label="Configuración"
                >
                  <q-card
                    inline
                    class="full-width bg-white"
                  >
                    <q-card-section>
                      <q-card-section>
                        <q-card-section class="bg-grey-8 text-white">
                          <div class="text-h6">Configuración del Reporte</div>
                        </q-card-section>
                        <div class="row">
                          <div class="col-12 col-md">
                            <q-toggle
                              label="Formato predeterminado"
                              v-model="form.status"
                            />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-md">
                            <q-select
                              emit-value
                              map-options
                              v-model="form.config.general.hoja"
                              float-label="Tamaño de la hoja"
                              radio
                              :options="hoja"
                            />
                          </div>
                          <div class="col-12 col-md">
                            <q-select
                              emit-value
                              map-options
                              v-model="form.config.general.orientacion"
                              float-label="Orientación de la hoja"
                              radio
                              :options="orientacion"
                            />
                          </div>
                          <div class="col-12 col-md">
                            <q-input
                              float-label="Tamaño de la letra"
                              v-model="form.config.general.letra"
                            />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6 col-lg-6 col-md-12">
                            <q-field label="Margen Derecho (cm)">
                              <q-slider
                                v-model="form.config.general.m_derecho"
                                :min="1"
                                :max="6"
                                label-always
                              />
                            </q-field>
                          </div>
                          <div class="col-6 col-lg-6 col-md-12">
                            <q-field label="Margen Superior (cm)">
                              <q-slider
                                v-model="form.config.general.m_superior"
                                :min="1"
                                :max="6"
                                label-always
                              />
                            </q-field>
                          </div>
                          <div class="col-6 col-lg-6 col-md-12">
                            <q-field label="Margen Izquierdo (cm)">
                              <q-slider
                                v-model="form.config.general.m_izquierdo"
                                :min="1"
                                :max="6"
                                label-always
                              />
                            </q-field>
                          </div>
                          <div class="col-6 col-lg-6 col-md-12">
                            <q-field label="Margen Inferior (cm)">
                              -
                              <q-slider
                                v-model="form.config.general.m_inferior"
                                :min="1"
                                :max="6"
                                label-always
                              />
                            </q-field>
                          </div>
                        </div>
                      </q-card-section>
                    </q-card-section>
                  </q-card>
                </q-expansion-item>
                <q-expansion-item
                  group="encabezado"
                  icon="art_track"
                  label="Encabezado"
                >
                  <q-card
                    inline
                    class="full-width bg-white"
                  >
                    <q-card-section>
                      <q-card-section>
                        <q-card-section class="bg-grey-8 text-white">
                          <div class="text-h6">Utilizar Logo</div>
                        </q-card-section>
                        <div class="row">
                          <div class="col-8 col-md-4">
                            <q-field label="Usar Logo">
                              <q-toggle v-model="form.config.encabezado.logo" />
                            </q-field>
                          </div>
                          <div class="col-8 col-md-4">
                            <q-input
                              v-model="form.config.encabezado.logo_dimension"
                              type="number"
                              float-label="Tamaño de la imagen (cm)"
                            />
                          </div>
                          <div class="col-8 col-md-4">
                            <q-select
                              emit-value
                              map-options
                              v-model="form.config.encabezado.logo_alineacion"
                              float-label="Alineación del logo"
                              radio
                              :options="alineacion"
                            />
                          </div>
                        </div>
                        <q-separator />
                        <!-- <div class="row">
                                    <div class="col-6 col-lg-6 col-md-12">
                                        <q-field label="Margen Derecho del logo (cm)">
                                            <q-slider
                                                v-model="form.config.encabezado.l_derecho"
                                                :min="-6"
                                                :max="6"
                                                label-always
                                            />
                                        </q-field>
                                    </div>
                                    <div class="col-6 col-lg-6 col-md-12">
                                        <q-field label="Margen Superior del logo (cm)">
                                            <q-slider
                                                v-model="form.config.encabezado.l_superior"
                                                :min="-6"
                                                :max="6"
                                                label-always
                                            />
                                        </q-field>
                                    </div>
                                    <div class="col-6 col-lg-6 col-md-12">
                                        <q-field label="Margen Izquierdo del logo (cm)">
                                            <q-slider
                                                v-model="form.config.encabezado.l_izquierdo"
                                                :min="-6"
                                                :max="6"
                                                label-always
                                            />
                                        </q-field>
                                    </div>
                                    <div class="col-6 col-lg-6 col-md-12">
                                        <q-field label="Margen Inferior del logo (cm)">
                                            -
                                            <q-slider
                                                v-model="form.config.encabezado.l_inferior"
                                                :min="-6"
                                                :max="6"
                                                label-always
                                            />
                                        </q-field>
                                    </div>
                                        </div>-->
                        <q-separator />
                        <q-card-section class="bg-grey-8 text-white">
                          <div class="text-h6">Título del Documento</div>
                        </q-card-section>
                        <div class="row">
                          <div class="col-8 col-md-4">
                            <q-toggle
                              v-model="form.config.encabezado.negrita"
                              label="Negrita"
                            />
                          </div>
                          <div class="col-8 col-md-4">
                            <q-toggle
                              v-model="form.config.encabezado.cursiva"
                              label="Cursiva"
                            />
                          </div>
                          <div class="col-8 col-md-4">
                            <q-select
                              emit-value
                              map-options
                              v-model="form.config.encabezado.alineacion"
                              float-label="Alineación del texto"
                              radio
                              :options="alineacion"
                            />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-md">
                            <q-input
                              float-label="Tamaño de la letra"
                              v-model="form.config.encabezado.letra"
                              type="number"
                            />
                          </div>
                          <div class="col-12 col-md">
                            <q-input
                              v-model="form.config.encabezado.espacio"
                              type="number"
                              float-label="Espacio entre título y contenido"
                            />
                          </div>
                        </div>
                      </q-card-section>
                    </q-card-section>
                  </q-card>
                </q-expansion-item>
                <q-expansion-item
                  group="cuerpo"
                  icon="view_headline"
                  label="Cuerpo"
                  opened
                >
                  <q-card
                    inline
                    class="full-width bg-white"
                  >
                    <q-card-section>
                      <q-card-section>
                        <!-- <q-card-title
                                            class="bg-black text-white q-pt-sm q-pb-sm"
                                        >Contenido</q-card-title>
                                        <div class="q-pa-md">
                                            <q-select
                                              emit-value
                                                v-model="form.config.contenido.alineacion"
                                                float-label="Alineación del texto"
                                                radio
                                                :options="alineacion"
                                            />
                                            <p class="q-caption text-grey"></p>
                                            <editor
                                                float-label="Asunto"
                                                v-model="form.contenido"
                                                :error="$v.form.contenido.$error"
                                                tipo="formato-reporte"
                                            />
                                        </div> -->
                        <q-card-section class="bg-grey-8 text-white">
                          <div class="text-h6">Utilizar Fecha</div>
                        </q-card-section>
                        <div class="row">
                          <div class="col-12 col-md">
                            <q-field label="Usar Fecha de realización">
                              <q-toggle v-model="form.config.contenido.fecha_activo" />
                            </q-field>
                          </div>
                          <div class="col-12 col-md">
                            <q-select
                              emit-value
                              map-options
                              v-model="form.config.contenido.fecha_alineacion"
                              float-label="Alineación de la fecha"
                              radio
                              :options="alineacion"
                            />
                          </div>
                        </div>
                        <q-separator />
                        <q-card-section class="bg-grey-8 text-white">
                          <div class="text-h6">Utilizar Atentamente</div>
                        </q-card-section>
                        <div class="row">
                          <div class="col-12 col-md">
                            <q-field label="Usar Atentamente">
                              <q-toggle v-model="form.config.contenido.atentamente" />
                            </q-field>
                          </div>
                          <div class="col-12 col-md">
                            <q-select
                              emit-value
                              map-options
                              v-model="form.config.contenido.atentamente_alineacion"
                              float-label="Alineación de Atentamente"
                              radio
                              :options="alineacion"
                            />
                          </div>
                          <div class="col-12 col-md">
                            <q-input
                              v-model="form.config.contenido.atentamente_espacio"
                              type="number"
                              float-label="Espacio entre Fecha y Atentamente"
                            />
                          </div>
                        </div>
                        <q-separator />
                        <q-card-section class="bg-grey-8 text-white">
                          <div class="text-h6">Utilizar Firmas</div>
                        </q-card-section>
                        <div class="row">
                          <!-- <div class="q-pa-md">
                                    <q-toggle
                                        v-model="form.config.contenido.firma_select"
                                        label="Selecionar Firma antes de generar el reporte?"
                                    />
                                </div> -->
                          <div class="q-pa-md">
                            <q-input
                              v-model="form.config.contenido.firma_cant"
                              type="number"
                              float-label="Cantidad de Firmas a utilizar"
                              min="1"
                              max="3"
                              v-if="!form.config.contenido.firma_select"
                            />
                          </div>
                        </div>
                        <div
                          class="row"
                          v-if="!form.config.contenido.firma_select"
                        >
                          <div class="col-12 col-md">
                            <q-select
                              emit-value
                              map-options
                              v-model="form.config.contenido.firma_uno"
                              float-label="Primera Firma"
                              radio
                              :options="firmas"
                            />
                          </div>
                          <div
                            class="col-12 col-md"
                            v-if="1 == form.config.contenido.firma_cant"
                          >
                            <q-select
                              emit-value
                              map-options
                              v-model="form.config.contenido.firma_alineacion"
                              float-label="Alineación de la Firma"
                              radio
                              :options="ubicacion"
                            />
                          </div>
                          <div
                            class="col-12 col-md"
                            v-if="2 <= form.config.contenido.firma_cant"
                          >
                            <q-select
                              emit-value
                              map-options
                              v-model="form.config.contenido.firma_dos"
                              float-label="Segunda Firma"
                              radio
                              :options="firmas"
                            />
                          </div>
                          <div
                            class="col-12 col-md"
                            v-if="3 <= form.config.contenido.firma_cant"
                          >
                            <q-select
                              emit-value
                              map-options
                              v-model="form.config.contenido.firma_tres"
                              float-label="Tercera Firma"
                              radio
                              :options="firmas"
                            />
                          </div>
                          <div
                            class="col-12 col-md"
                            v-if="4 <= form.config.contenido.firma_cant"
                          >
                            <q-select
                              emit-value
                              map-options
                              v-model="form.config.contenido.firma_cuatro"
                              float-label="Cuarta Firma"
                              radio
                              :options="firmas"
                            />
                          </div>
                        </div>
                        <div
                          class="row"
                          v-if="!form.config.contenido.firma_select"
                        >
                          <div
                            class="col-12 col-md"
                            v-if="1 <= form.config.contenido.firma_cant"
                          >
                            <q-toggle
                              v-model="form.config.contenido.img_uno"
                              label="Activar la Primera Firma digital"
                            />
                          </div>
                          <div
                            class="col-12 col-md"
                            v-if="2 <= form.config.contenido.firma_cant"
                          >
                            <q-toggle
                              v-model="form.config.contenido.img_dos"
                              label="Activar la Segunda Firma digital"
                            />
                          </div>
                          <div
                            class="col-12 col-md"
                            v-if="3 <= form.config.contenido.firma_cant"
                          >
                            <q-toggle
                              v-model="form.config.contenido.img_tres"
                              label="Activar la Tercera Firma digital"
                            />
                          </div>
                          <div
                            class="col-12 col-md"
                            v-if="4 <= form.config.contenido.firma_cant"
                          >
                            <q-toggle
                              v-model="form.config.contenido.img_cuatro"
                              label="Activar la Cuarta Firma digital"
                            />
                          </div>
                        </div>
                      </q-card-section>
                    </q-card-section>
                  </q-card>
                </q-expansion-item>
                <q-expansion-item
                  group="otros"
                  icon="call_to_action"
                  label="Otras Configuraciones"
                >
                  <q-card
                    inline
                    class="full-width bg-white"
                  >
                    <q-card-section>
                      <q-card-section>
                        <q-card-section class="bg-grey-8 text-white">
                          <div class="text-h6">Pie de Página</div>
                        </q-card-section>
                        <div class="row">
                          <div class="col-12 col-md">
                            <q-select
                              emit-value
                              map-options
                              v-model="form.config.pie.alineacion"
                              float-label="Alineación del texto"
                              radio
                              :options="alineacion"
                            />
                          </div>
                          <div class="col-12 col-md">
                            <q-input
                              float-label="Tamaño de la letra"
                              v-model="form.config.pie.letra"
                              type="number"
                            />
                          </div>
                        </div>
                        <div class="q-pa-md">
                          <q-input
                            v-model="form.footer"
                            float-label="Pie de página a utilizar"
                          />
                        </div>
                        <q-card-section class="bg-grey-8 text-white">
                          <div class="text-h6">Soporte</div>
                        </q-card-section>
                        <div class="row">
                          <div class="q-pa-md">
                            <q-toggle
                              v-model="form.config.pie.soporte"
                              label="Incluir soporte al reporte"
                            />
                          </div>
                        </div>
                        <q-card-section class="bg-grey-8 text-white">
                          <div class="text-h6">Configuración de Correo</div>
                        </q-card-section>
                        <div class="row">
                          <div class="col-12 col-md">
                            <q-field label="Enviar por Correo">
                              <q-toggle v-model="form.config.general.correo" />
                            </q-field>
                          </div>
                          <div class="col-12 col-md">
                            <q-field label="Enviar copia">
                              <q-toggle v-model="form.config.general.correo_copia" />
                            </q-field>
                          </div>
                          <div
                            class="col-12 col-md"
                            v-if="form.config.general.correo_copia"
                          >
                            <q-input
                              v-model="form.config.general.correo_enviar"
                              type="email"
                              float-label="Correo a copiar"
                            />
                          </div>
                        </div>
                      </q-card-section>
                    </q-card-section>
                  </q-card>
                </q-expansion-item>
              </div>
            </q-tab-panel>

          </q-tab-panels>

        </div>

        <div class="col-md-4">
          <q-card
            inline
            class="full-width bg-white"
          >
            <q-card-section class="bg-primary text-white">
              <div class="text-h6">Variables disponibles</div>
            </q-card-section>
            <q-card-section>
              <div class="q-pa-md">
                <q-list
                  bordered
                  separator
                >
                  <q-item
                    v-for="(variable,key) in variables"
                    :key="key"
                  >
                    <q-item-section>
                      <q-item-label overline> {{ variable.name }} </q-item-label>
                      <q-item-label>{{ variable.description }}</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </div>
            </q-card-section>
          </q-card>
          <!-- </div>

        <div class="col-md-4"> -->
          <!-- <q-card
            inline
            class="full-width bg-white"
          >
            <q-card-section class="bg-grey-8 text-white">
              <div class="text-h6">Datos de Ejemplos</div>
            </q-card-section>
            <q-card-section>
              <div
                class="q-pa-md"
                style="word-wrap: break-word;"
              >
                <pre style="width: 100%; font-size: 10px;">
                                        {{ ejemplo }}
                                    </pre>
              </div>
              <q-btn
                color="positive"
                outline
                class="full-width"
                label="Guardar y Generar Reporte"
                @click="generar()"
                :loading="generando"
              />
            </q-card-section>
          </q-card> -->
        </div>
        <!-- <div>
          <q-btn class="q-mx-lg" label="Volver" color="primary" flat @click="$router.go(-1)"/>
          <q-btn
            class="q-mx-lg"
            color="primary"
            :loading="loading"
            :disabled="loading"
            @click="save"
            label="Guardar"
            icon="save"
            outline
          />
        </div> -->
         <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
      </div>
    </div>
  </div>
</template>
<script>
// import Editor from 'components/Editor'
import { required } from 'vuelidate/lib/validators'
import { FormMixin } from '../mixins/form'
export default {
  mixins: [FormMixin],
  props: {
    type: {
      required: true
    },
    ejemplo: {
      required: true
    }
  },
  data () {
    return {
      route: 'formats',
      fab: false,
      tab: 'basico',
      generando: false,
      guardando: false,
      example: '',
      cantidad: 1,
      firmas: [
        { label: 'Firma del Solicitante', value: 'f-cliente' },
        { label: 'Firma del gerente', value: 'f-gerente' },
        { label: 'Firma de ventas', value: 'f-venta' }
      ],
      form: {
        format_category_id: 1,
        name: '',
        title: '',
        status: true,
        content: '',
        string_date: '',
        footer: '',
        config: {
          general: {
            hoja: 'A4',
            orientacion: 'portrait',
            m_derecho: 3,
            m_superior: 3,
            m_izquierdo: 3,
            m_inferior: 3,
            letra: 12,
            correo: false,
            correo_copia: false,
            correo_enviar: ''
          },
          encabezado: {
            negrita: true,
            cursiva: false,
            alineacion: 'center',
            espacio: 4,
            letra: 20,
            logo: true,
            logo_dimension: 3,
            logo_alineacion: 'left',
            l_derecho: 0,
            l_superior: 0,
            l_izquierdo: 0,
            l_inferior: 0
          },
          contenido: {
            alineacion: 'justify',
            firma_uno: 'f-gerente',
            firma_dos: '',
            firma_tres: '',
            firma_cuatro: '',
            img_uno: false,
            img_dos: false,
            img_tres: false,
            img_cuatro: false,
            firma_select: false,
            firma_alineacion: 'center',
            firma_cant: 1,
            fecha_activo: true,
            fecha_alineacion: 'right',
            atentamente: false,
            atentamente_alineacion: 'center',
            atentamente_espacio: 4
          },
          pie: {
            alineacion: 'center',
            letra: 9,
            soporte: false
          }
        }
      },
      loading: false,
      hoja: [
        { label: 'A4', value: 'A4' },
        { label: 'Carta', value: 'LETTER' },
        { label: 'Oficio', value: 'LEGAL' }
      ],
      orientacion: [
        { label: 'Vertical', value: 'portrait' },
        { label: 'Horizontal', value: 'landscape' }
      ],
      alineacion: [
        {
          label: 'Izquierda',
          value: 'left'
        },
        {
          label: 'Centrado',
          value: 'center'
        },
        {
          label: 'Derecha',
          value: 'right'
        },
        {
          label: 'Justificado',
          value: 'justify'
        }
      ],
      ubicacion: [
        {
          label: 'Izquierda',
          value: 'left'
        },
        {
          label: 'Centrado',
          value: 'center'
        },
        {
          label: 'Derecha',
          value: 'right'
        }
      ],
      formatsCategories: [
      ]
    }
  },
  mounted () {
    this.getFormatsCategories()
  },
  computed: {
    variables () {
      if (this.formatsCategories.length) {
        return (this.formatsCategories.find(value => value.id === this.form.format_category_id)).variables
      } else {
        return []
      }
    }
  },
  validations: {
    form: {
      name: { required },
      title: { required },
      content: { required }
    }
  },
  methods: {
    beforeSave () {
      console.log('this.form.config.contenido.firma_cant', this.form.config.contenido.firma_cant)
      if (this.form.config.contenido.firma_cant === 1) {
        this.form.config.contenido.firma_dos = ''
        this.form.config.contenido.firma_tres = ''
        this.form.config.contenido.firma_cuatro = ''
      }
      if (this.form.config.contenido.firma_cant === 2) {
        this.form.config.contenido.firma_tres = ''
        this.form.config.contenido.firma_cuatro = ''
      }
      if (this.form.config.contenido.firma_cant === 3) {
        this.form.config.contenido.firma_cuatro = ''
      }
    },
    afterSave () {
      // Imprimir reporte de prueba
      console.log('aftersaver')
      this.$q.loading.show()
      this.$api.post('reportsByID/3').then(res => {
        this.$api.get(`show_file/${res.reporte}`, { responseType: 'blob' }).then(res2 => {
          const blob = new Blob([res2])
          // Si es navegador
          const url = window.URL.createObjectURL(blob)
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', 'archivo.pdf')
          document.body.appendChild(link)
          link.click()
          this.$q.loading.hide()
          this.$q.notify({
            type: 'positive',
            message: 'Archivo de pago disponible en descargas. '
          })
        })
      }).catch(function (error) {
        console.log('error descargando', error)
        this.$q.notify({
          type: 'negative',
          message: 'Error descargando archivo'
        })
      })
    },
    generar () { },
    getFormatsCategories () {
      this.$api.get('format_categories').then(res => {
        if (res) {
          this.formatsCategories = res
        }
      })
    },
    afterGetRecord () {
      console.log('afterGetRecord')
      this.form.config = JSON.parse(this.form.config)
    }
  }
}
</script>
