<template>
  <q-card class="q-pa-sm bg-primary text-white row">
    <div style="margin: auto">
      <div class="text-h6 title">{{ title }}</div>
      <div class="text-subtitle2 subtitle">{{ subtitle }}</div>
      <q-btn class="q-mr-md" outline text-color="white" label="Volver" @click="$router.go(-1)" />
      <q-btn push color="primary" label="Guardar" @click="save" glossy />
    </div>
  </q-card>
</template>
<script>
export default {
  name: 'FormHeader',
  props: ['title', 'subtitle', 'save'],
  data () {
    return {
    }
  }
}
</script>
<style lang="css">
.title {
  float: left;
  position: absolute;
  left: 20px;
  top: 0
}
.subtitle {
  float: left;
  position: absolute;
  left: 20px;
  top: 25px;
}
</style>
