<template>
  <div>
    <div class="row justify-end q-pa-sm">
      <!-- <q-btn rounded v-for="btn in buttons" :key="btn.label" :label="btn.label" :color="btn.color" :to="btn.url" /> -->
      <!--Añadir atributo para ejecutar método-->
    </div>

    <div class="q-pa-sm">
      <q-table :title="title" :data="data" :columns="cols" :filter="filter" row-key="id" :dense="dense"
        rows-per-page-label="Registros por página" :hide-bottom="hideBottom" :pagination.sync="pagin"
        class="my-sticky-header-table" :loading="loading" no-data-label="No hay registros para mostrar">
        <template v-slot:top="props">
          <div style="font-size: 20px; letter-spacing: .005em;font-weight: 400;">{{ title }}</div>
          <div style="margin: auto">
            <template v-for="(btn, index) in buttons">
              <q-btn :icon="btn.icon" class="q-ml-sm text-black" size="md" v-if="can(btn.permission)" push :key="index" :label="btn.label" color="secondary" @click="execute(btn.action)" :to="btn.url" />
            </template>
          </div>

          <q-input borderless dense debounce="300" v-model="filter" placeholder="Buscar" autofocus>
            <q-tooltip>
              Buscar
            </q-tooltip>
            <template v-slot:append>
              <q-icon name="search"/>
            </template>
          </q-input>

          <q-btn label="Exportar" dense icon="archive" no-caps flat @click="exportTable" color="black">
            <q-tooltip>
              Exportar Tabla a CSV
            </q-tooltip>
          </q-btn>

          <q-btn color="black" flat round dense :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'" class="q-ml-md"
            @click="props.toggleFullscreen">
            <q-tooltip>
              Pantalla completa
            </q-tooltip>
          </q-btn>
        </template>

        <q-td slot="body-cell-actions" slot-scope="props" :props="props" v-if="checkIfActions">
          <template v-for="(action, index) in props.row.actions">
            <q-btn class="q-mr-xs" v-if="can(action.permission)" outline :to="action.url" :key="index" dense :label="action.title"
              @click="execute(action.action, props.row.id, props.row, action)" :color="action.color"
              :size="(action.size) ? action.size : 'md'">
              <q-tooltip>
                {{action.title}}
              </q-tooltip>
            </q-btn>
          </template>
        </q-td>
        <template v-slot:loading>
          <q-inner-loading showing color="primary" />
        </template>
        <template v-slot:header="props">
          <q-tr :props="props">
            <q-th
              v-for="col in props.cols"
              :key="col.name"
              :props="props"
              style="font-size: 16px"
            >
              {{ col.label }}
            </q-th>
          </q-tr>
        </template>
      </q-table>
      <q-dialog v-model="confirm" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <q-avatar icon="warning" color="negative" text-color="white" />
            <span class="q-ml-sm">Está seguro de eliminar?</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Eliminar" color="primary" @click="confirmDelete" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
      <q-dialog v-model="showLink">
        <q-card>
          <q-card-section>
            <div class="text-h6">Enlace para compartir</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <a :href="link" target="_blank">{{ link }}</a>
            <q-btn color="primary" flat @click="copyClipboard">Copiar</q-btn>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cerrar" color="primary" v-close-popup/>
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>
<script>
import { exportFile, copyToClipboard } from 'quasar'

function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== undefined
    ? formatFn(val)
    : val

  formatted = formatted === undefined || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  // .split('\n').join('\\n')
  // .split('\r').join('\\r')

  return `"${formatted}"`
}
import { mapState, mapGetters } from 'vuex'
import env from '../env'
export default {
  computed: {
    ...mapState('generals', ['isContacts']),
    getPagination: {
      get () {
        return this.pagination
      },
      set (value) {
        this.pagination = value
      }
    },
    ...mapGetters('generals', ['can'])
  },
  name: 'Listable',
  props: ['title', 'cols', 'buttons', 'route', 'params', 'pagination', 'hideBottom', 'dense', 'dataSet'],
  data () {
    return {
      loading: false,
      filter: '',
      confirm: false,
      form: {},
      id: '',
      data: [],
      pagin: this.pagination,
      technicalChiefView: 'all',
      technicalAdvisorView: 'all',
      technicalEquipmentsView: 'all',
      zoneView: 'all',
      link: null,
      showLink: false
    }
  },
  created () {
    this.loading = true
    this.getRecords()
  },
  mounted () {
  },
  methods: {
    checkIfActions () {
      return this.cols.find((element) => element.name === 'actions')
    },
    delete (id) {
      this.confirm = true
      this.id = id
    },
    execute (name, id, row, action) {
      if (typeof this[name] === 'function') {
        this[name](id, row, action)
      }
    },
    confirmDelete () {
      if (this.route) {
        this.$api.delete(this.route + '/' + this.id).then((res) => {
          if (res) {
            this.getRecords()
            this.$q.notify({
              type: 'positive',
              message: 'Registro eliminado con éxito!'
            })
          }
        })
      }
    },
    getRecords () {
      if (this.dataSet) { // Si recibe los datos en vez de una ruta
        this.data = this.dataSet
        this.loading = false
      } else {
        const params = this.params ? { params: this.params } : {}
        this.$api.get(this.route, params).then(res => {
          this.data = res
          this.loading = false
        })
      }
    },
    exportTable () {
      // naive encoding to csv format
      // const columns = JSON.parse(JSON.stringify(this.cols))
      const columns = Object.create(this.cols)
      if (columns[columns.length - 1].name === 'actions') {
        columns.pop()
      }

      console.log('col', columns)
      const content = [columns.map(col => wrapCsvValue(col.label))].concat(
        this.data.map(row => columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === undefined ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    activate (id, prop) {
      this.$q.loading.show()
      this.$api.get('activate_zones/' + id + '/' + prop.status).then(res => {
        this.$q.loading.hide()
        if (res) {
          if (this.zoneView === 'active') {
            this.list_active_zones()
          } else if (this.zoneView === 'inactive') {
            this.list_inactive_zones()
          } else {
            this.list_zones()
          }
        }
      })
    },
    list_inactive_technical () {
      this.$q.loading.show()
      this.$api.get('technical_chiefs_status/false').then(res => {
        this.data = res
        this.technicalChiefView = 'inactive'
        this.$q.loading.hide()
      })
    },
    list_active_technical () {
      this.$q.loading.show()
      this.$api.get('technical_chiefs_status/true').then(res => {
        this.data = res
        this.technicalChiefView = 'active'
        this.$q.loading.hide()
      })
    },
    list_technical () {
      this.$q.loading.show()
      this.$api.get('technical_chiefs').then(res => {
        this.data = res
        this.technicalChiefView = 'all'
        this.$q.loading.hide()
      })
    },
    activateTechnicalChief (id, prop) {
      this.$q.loading.show()
      this.$api.put('technical_chiefs_activate/' + id + '/' + prop.status).then(res => {
        this.$q.loading.hide()
        if (this.technicalChiefView === 'active') {
          this.list_active_technical()
        } else if (this.technicalChiefView === 'inactive') {
          this.list_inactive_technical()
        } else {
          this.list_technical()
        }
      })
    },
    list_inactive_technical_advisors () {
      this.$q.loading.show()
      this.$api.get('technical_advisors_status/false').then(res => {
        this.data = res
        this.technicalAdvisorView = 'inactive'
        this.$q.loading.hide()
      })
    },
    list_active_technical_advisors () {
      this.$q.loading.show()
      this.$api.get('technical_advisors_status/true').then(res => {
        this.data = res
        this.technicalAdvisorView = 'active'
        this.$q.loading.hide()
      })
    },
    list_technical_advisors () {
      this.$q.loading.show()
      this.$api.get('technical_advisors').then(res => {
        this.data = res
        this.technicalAdvisorView = 'all'
        this.$q.loading.hide()
      })
    },
    activateTechnicalAdvisor (id, prop) {
      this.$q.loading.show()
      this.$api.put('technical_advisors_activate/' + id + '/' + prop.status).then(res => {
        this.$q.loading.hide()
        if (this.technicalAdvisorView === 'active') {
          this.list_active_technical_advisors()
        } else if (this.technicalAdvisorView === 'inactive') {
          this.list_inactive_technical_advisors()
        } else {
          this.list_technical_advisors()
        }
      })
    },
    list_inactive_technical_equipments () {
      this.$q.loading.show()
      this.$api.get('technical_equipments_status/false').then(res => {
        this.data = res
        this.technicalEquipmentsView = 'inactive'
        this.$q.loading.hide()
      })
    },
    list_active_technical_equipments () {
      this.$q.loading.show()
      this.$api.get('technical_equipments_status/true').then(res => {
        this.data = res
        this.technicalEquipmentsView = 'active'
        this.$q.loading.hide()
      })
    },
    list_technical_equipments () {
      this.$q.loading.show()
      this.$api.get('technical_equipments').then(res => {
        this.data = res
        this.technicalEquipmentsView = 'all'
        this.$q.loading.hide()
      })
    },
    activateTechnicalEquipment (id, prop) {
      this.$q.loading.show()
      this.$api.put('technical_equipments_activate/' + id + '/' + prop.status).then(res => {
        this.$q.loading.hide()
        if (this.technicalEquipmentsView === 'active') {
          this.list_active_technical_equipments()
        } else if (this.technicalEquipmentsView === 'inactive') {
          this.list_inactive_technical_equipments()
        } else {
          this.list_technical_equipments()
        }
      })
    },
    list_inactive_zones () {
      this.$q.loading.show()
      this.$api.get('zones/false').then(res => {
        this.data = res
        this.zoneView = 'inactive'
        this.$q.loading.hide()
      })
    },
    list_active_zones () {
      this.$q.loading.show()
      this.$api.get('zones/true').then(res => {
        this.data = res
        this.zoneView = 'active'
        this.$q.loading.hide()
      })
    },
    list_zones () {
      this.$q.loading.show()
      this.$api.get('zones/all').then(res => {
        this.data = res
        this.zoneView = 'all'
        this.$q.loading.hide()
      })
    },
    sendAnalysisEmail (id) {
      this.$api.get(`water_analysis_print/${id}`).then(res => {
        if (res) {
          this.$q.notify({
            type: 'positive',
            message: 'Análisis enviado correctamente'
          })
        }
      })
    },
    sendFloorAnalysisEmail (id) {
      this.$api.get(`floor_analysis_print/${id}`).then(res => {
        if (res) {
          this.$q.notify({
            type: 'positive',
            message: 'Análisis enviado correctamente'
          })
        }
      })
    },
    sendPhytoplanktonAnalysisEmail (id) {
      this.$api.get(`floor_analysis_print/${id}`).then(res => {
        if (res) {
          this.$q.notify({
            type: 'positive',
            message: 'Análisis enviado correctamente'
          })
        }
      })
    },
    generateLinkFloorAnalysis (id) {
      this.$api.get(`floor_analysis_print/${id}`).then(res => {
        if (res) {
          this.link = `${env.apiUrl}filepdf/${res}`
          this.showLink = true
        }
      })
    },
    copyClipboard () {
      console.log('copyClipboard')
      copyToClipboard(this.link).then(() => {
        console.log('bien')
      })
        .catch(() => {
          console.log('mal')
        })
    }
  }
}
</script>

<style lang="sass">
.my-sticky-header-table
  /* height or max-height is important */
  height: 510px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #bdbdbd!important;

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
<style lang="css">
  .q-table tbody td {
    font-size: 14px
  }
</style>
