<template>
  <!-- <q-item clickable tag="a" :to="to">
    <q-item-section v-if="icon" avatar>
      <q-icon style="color: #3d3276" :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>
        {{ caption }}
      </q-item-label>
    </q-item-section>
  </q-item> -->

    <div>
      <template v-for="(item, index) in menu">
        <q-expansion-item v-if="can(item.permission) && item.children" expand-separator :icon="item.icon" :content-inset-level="0.25" :key="index" :default-opened="item.defaultOpened" :to="item.to">
          <template v-slot:header>
            <q-item-section avatar>
              <q-icon :name="item.icon" color="grey" text-color="grey" />
            </q-item-section>

            <q-item-section style="color: grey">
              {{ item.title }}
            </q-item-section>
          </template>
          <tree-menu v-if="item.children" :menu="item.children" :children="item" :key="index"/>
        </q-expansion-item>
        <q-item v-if="can(item.permission) && !item.children" clickable v-ripple :to="item.to" :key="index" @click="active_link_menu = item.to" :active="active_link_menu === item.to" active-class="my-menu-link text-primary">
          <q-item-section avatar>
            <q-icon :name="item.icon" color="grey" text-color="grey"/>
          </q-item-section>
          <q-item-section style="color: grey">
            {{item.title}}
          </q-item-section>
        </q-item>
      </template>
    </div>

</template>

<script>
import TreeMenu from './TreeMenu'
import { mapGetters } from 'vuex'
export default {
  name: 'SideBar',
  components: { TreeMenu },
  props: {
    /* title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ''
    },

    to: {
      type: String,
      default: '#'
    },

    icon: {
      type: String,
      default: ''
    } */
    menu: {
      type: Array
    }
  },
  data () {
    return {
      active_link_menu: ''
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  }
}
</script>
<style lang="css">
.my-menu-link {
  color: #03983A;
}
</style>
