<template>
  <div>
    <template v-for="item in menu">
      <q-expansion-item v-if="can(item.permission) && item.children" expand-separator :content-inset-level="0.25" :key="item.title" :default-opened="item.defaultOpened" :to="item.to">
        <template v-slot:header>
            <q-item-section avatar>
              <q-icon :name="item.icon" color="grey" text-color="grey" />
            </q-item-section>

            <q-item-section style="color: grey">
              {{ item.title }}
            </q-item-section>
          </template>
        <tree-menu v-if="item.children" :menu="item.children" :children="item" :key="item.title"/>
      </q-expansion-item>
      <q-item v-if="can(item.permission) && !item.children" clickable v-ripple :key="item.title" :to="item.to"
        @click="active_link_menu = item.to" :active="active_link_menu === item.to"
        active-class="my-menu-link text-primary">
        <q-item-section avatar>
          <q-icon :name="item.icon" :color="active_link_menu === item.to ? '#03983A' : 'grey'" text-color="grey" />
        </q-item-section>
        <q-item-section :key="active_link_menu" :style="active_link_menu === item.to ? 'color: #03983A' : 'color: grey'">
          {{ item.title }}
        </q-item-section>
      </q-item>
    </template>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'TreeMenu',
  props: ['menu', 'children', 'index'],
  data () {
    return {
      isOpen: false,
      active_link_menu: ''
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  }
}
</script>

<style>
.my-menu-link {
  color: #03983A;
}
</style>
