<template>
  <q-page>
    <!-- <q-btn-group push>
      <q-btn color="primary" push label="Acción 1" icon="timeline" />
      <q-btn push label="Acción 2" icon="visibility" />
      <q-btn text-color="primary" push label="Acción 3" icon="update" />
    </q-btn-group> -->
    <q-card class="q-pa-sm">
      <FormHeader :title="title" :subtitle="subtitle" :save="save" />
      </q-card>
      <q-card>
      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-4 col-lg-4">
          <q-input color="primary" v-model="form.name" label="Categoría" @blur="$v.form.name.$touch()"
            error-message="Ingrese el nombre de una categoría" :error="$v.form.name.$error" placeholder="Categoría 1"
            hint="Ingrese el nombre de una categoría" outlined>
          </q-input>
        </div>
      </div>

      <q-separator />
      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../mixins/form'
import FormHeader from 'components/FormHeader'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      title: 'Categorías de producto',
      subtitle: 'Nueva categoría de Producto',
      route: 'product_categories',
      form: {}
    }
  },
  validations () {
    return {
      form: {
        name: { required }
      }
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Productos',
        icon: 'fastfood',
        to: '/products'
      },
      {
        label: 'Categorías de Producto',
        icon: 'assignment',
        to: '/products/product_categories'
      },
      {
        label: 'Nueva categoría de producto',
        icon: 'assignment',
        to: 'customers/product_categories/form'
      }
    ])
  },
  methods: {
  }
}
</script>
