<template>
  <q-page>
    <div>
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-11">
              <div class="text-h3"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-1" style="text-align: right">
              <q-btn v-if="can('4.18')" label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar precio
                </q-tooltip>
              </q-btn>
            </div>
            <!-- <div class="col-md-12">
              <div class="text-h4"><b>El precio actual del camarón es:</b></div>
            </div>
            <div class="col-md-12 q-pa-md" style="text-align: center;">
              <div class="text-h3"><b>${{ lastPrice ? lastPrice.price : 0 }}</b></div>
            </div> -->
          </div>
        </q-card-section>
      </q-card>

      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="offset-md-1 col-md-3 q-pr-md">
              <q-input label="Precio" v-model="form.price" error-message="Ingrese precio" :error="$v.form.price.$error"
                @blur="$v.form.price.$touch()" outlined/>
            </div>
            <div class="col-md-3 q-pr-md">
              <q-select label="Rango" v-model="form.range_id" error-message="Seleccione rango" :error="$v.form.range_id.$error"
                @blur="$v.form.range_id.$touch()" :options="rangeOptions" emit-value map-options
                option-value="id" :option-label="val => val.from + ' - ' + val.to"  outlined>
              </q-select>
            </div>
            <div class="col-md-3">
              <q-input type="date" label="Fecha" v-model="form.date" error-message="Ingrese fecha"
              :error="$v.form.date.$error" @blur="$v.form.date.$touch()" outlined stack-label/>
            </div>
          </q-card-section>
          <!-- <q-card-section class="row">
            <div class="offset-md-3 col-md-3">
              <b>Rango</b>
            </div>
            <div class="col-md-3">
              <b>Precio</b>
            </div>
            <br><br>
            <div class="offset-md-3 col-md-3">
              100 - 120
            </div>
            <div class="col-md-3">
              <q-input type="number" label="Precio" v-model="form.range1" error-message="Ingrese precio" :error="$v.form.range1.$error"
              @blur="$v.form.range1.$touch()" outlined/>
            </div>
            <div class="offset-md-3 col-md-3">
              80 - 100
            </div>
            <div class="col-md-3">
              <q-input type="number" label="Precio" v-model="form.range2" error-message="Ingrese precio" :error="$v.form.range2.$error"
              @blur="$v.form.range2.$touch()" outlined/>
            </div>
            <div class="offset-md-3 col-md-3">
              70 - 80
            </div>
            <div class="col-md-3">
              <q-input type="number" label="Precio" v-model="form.range3" error-message="Ingrese precio" :error="$v.form.range3.$error"
              @blur="$v.form.range3.$touch()" outlined/>
            </div>
            <div class="offset-md-3 col-md-3">
              60 - 70
            </div>
            <div class="col-md-3">
              <q-input type="number" label="Precio" v-model="form.range4" error-message="Ingrese precio" :error="$v.form.range4.$error"
              @blur="$v.form.range4.$touch()" outlined/>
            </div>
            <div class="offset-md-3 col-md-3">
              50 - 60
            </div>
            <div class="col-md-3">
              <q-input type="number" label="Precio" v-model="form.range5" error-message="Ingrese precio" :error="$v.form.range5.$error"
              @blur="$v.form.range5.$touch()" outlined/>
            </div>
            <div class="offset-md-3 col-md-3">
              40 - 50
            </div>
            <div class="col-md-3">
              <q-input type="number" label="Precio" v-model="form.range6" error-message="Ingrese precio" :error="$v.form.range6.$error"
              @blur="$v.form.range6.$touch()" outlined/>
            </div>
            <div class="offset-md-3 col-md-3">
              30 - 40
            </div>
            <div class="col-md-3">
              <q-input type="number" label="Precio" v-model="form.range7" error-message="Ingrese precio" :error="$v.form.range7.$error"
              @blur="$v.form.range7.$touch()" outlined/>
            </div>
            <div class="offset-md-3 col-md-3">
              20 - 30
            </div>
            <div class="col-md-3">
              <q-input type="number" label="Precio" v-model="form.range8" error-message="Ingrese precio" :error="$v.form.range8.$error"
              @blur="$v.form.range8.$touch()" outlined/>
            </div>
          </q-card-section> -->
          </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import { FormMixin } from '../../../../mixins/form'
import { required } from 'vuelidate/lib/validators'
export default {
  mixins: [FormMixin],
  data () {
    return {
      title: 'Precio de camarón',
      route: 'shrimp_prices',
      form: {},
      lastPrice: {},
      rangeOptions: []
    }
  },
  validations () {
    return {
      form: {
        price: { required },
        date: { required },
        range_id: { required }
      }
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  mounted () {
    this.getLastPrice()
    this.getShrimpPricesRanges()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Precio de camarón',
        icon: 'person',
        to: 'shrimp_price'
      }
    ])
  },
  methods: {
    getLastPrice () {
      this.$api.get('shrimp_prices_last').then(res => {
        if (res) {
          console.log('res', res)
          this.lastPrice = res
        }
      })
    },
    getShrimpPricesRanges () {
      this.$api.get('shrimp_prices_ranges').then(res => {
        if (res) {
          this.rangeOptions = res
        }
      })
    }
  }
}
</script>
<style>
</style>
