<template>
  <q-page>
    <div>
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h3"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <q-btn class="q-ma-sm" v-if="can('4.18')" round icon="add" color="primary" size="md" :to="`${$route.path}/form`">
                <q-tooltip>
                  Nuevo precio
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ma-sm" round icon="get_app" color="primary" size="md" @click="exportTable">
                <q-tooltip>
                  Exportar
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ml-sm" round  @click="$q.fullscreen.toggle()"
                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="primary" size="md">
                <q-tooltip>
                  Pantalla completa
                </q-tooltip>
              </q-btn>
            </div>
            <!-- <div class="col-md-12">
              <div class="text-h4"><b>El precio actual del camarón es:</b></div>
            </div>
            <div class="col-md-12 q-pa-md" style="text-align: center;">
              <div class="text-h3"><b>${{ lastPrice ? lastPrice.price : 0 }}</b></div>
            </div> -->
            <q-card v-for="(item, index) in rangeOptions" :key="index" style="width: 12.5%" flat bordered class="my-card">
              <q-card-section>
                <div class="text-h6">{{ item.from }} - {{ item.to }}</div>
              </q-card-section>

              <q-card-section class="q-pt-none">
                Precio actual del camarón
              </q-card-section>

              <q-separator inset />

              <q-card-section>
                ${{ item.lastPrice }}
              </q-card-section>
              <q-card-actions>
                <q-btn flat @click="showHistory(item.id)">Ver historial</q-btn>
              </q-card-actions>
            </q-card>
            <div class="col-md-12">
              <div class="text-h4"><b>Historial de precios</b></div>
            </div>
            <div class="col-md-2">
              <q-input v-model="text" placeholder="Buscar" @input="filter" outlined dense>
                <template v-slot:append>
                  <q-icon v-if="text !== ''" name="close" @click="text = ''" class="cursor-pointer" />
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </div>
        </q-card-section>
      </q-card>

      <div v-if="showTable" class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Fecha de registro</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Precio</b>
            </div>
            <!-- <div class="col" style="text-align: right">
              <b class="text-grey-7">Acciones</b>
            </div> -->
          </q-card-section>
          <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(item, index) in history" :key="index">
              <div class="col">
                <p class="text-grey-7">{{ item.date }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">${{ item.price }}</p>
              </div>
               <!-- <div class="col" style="text-align: right">
                <q-btn v-if="can('4.20')" flat icon="edit" size="sm" color="primary"
                  :to="`/shrimp_prices/form/${item.id}`"
                  dense>
                  <q-tooltip>
                    Editar
                  </q-tooltip>
                </q-btn>
              </div> -->
            </q-card-section>
            <q-separator color="grey-4" />
          </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import { exportFile } from 'quasar'
function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== undefined
    ? formatFn(val)
    : val

  formatted = formatted === undefined || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')
  /**
   * Excel accepts \n and \r in strings, but some other CSV parsers do not
   * Uncomment the next two lines to escape new lines
   */
  // .split('\n').join('\\n')
  // .split('\r').join('\\r')

  return `"${formatted}"`
}
export default {
  components: {},
  data () {
    return {
      id: this.$route.params.id,
      customerId: this.$route.params.id,
      shrimpId: this.$route.params.shrimpsId,
      poolId: this.$route.params.poolId,
      params: {
        poolId: this.poolId
      },
      title: 'Precio de camarón',
      pagination: {
        page: 1,
        rowsPerPage: 10
      },
      buttons: [
        {
          label: 'Nuevo', icon: 'add', color: 'primary', url: `${this.$route.path}/form`, action: '', permission: '2.1.1.1.27'
        }
      ],
      cols: [
        { name: 'id', required: true, label: 'ID', align: 'left', field: 'id', sortable: true },
        { name: 'date', required: true, label: 'Fecha', align: 'left', field: 'date', sortable: true },
        { name: 'price', required: true, label: 'Precio', align: 'left', field: 'price', sortable: true }
      ],
      text: '',
      records: [],
      stringRecords: [],
      showLink: false,
      link: '',
      lastPrice: null,
      rangeOptions: [
      ],
      range: null,
      showTable: false
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    history () {
      return this.records.filter(val => val.range_id === this.range)
    }
  },
  mounted () {
    console.log('params', this.$route.params)
    this.getRecord()
    this.getShrimpPricesRanges()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Precio de camarón',
        icon: 'person',
        to: 'shrimp_price'
      }
    ])
  },
  methods: {
    getRecord () {
      this.$q.loading.show()
      console.log('params', this.$route.params, this.poolId, this.params)
      this.$api.get('shrimp_prices').then(res => {
        this.$q.loading.hide()
        this.records = res
        this.stringRecords = res
      })
    },
    exportTable () {
      // naive encoding to csv format
      // const columns = JSON.parse(JSON.stringify(this.cols))
      const columns = Object.create(this.cols)
      if (columns[columns.length - 1].name === 'actions') {
        columns.pop()
      }

      console.log('col', columns)
      const content = [columns.map(col => wrapCsvValue(col.label))].concat(
        this.records.map(row => columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === undefined ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    filter () {
      if (this.text === '') {
        this.records = this.stringRecords
        return
      }
      const needle = this.text.toLowerCase()
      this.records = JSON.parse(JSON.stringify(this.stringRecords))
      this.records = this.stringRecords.filter(val => {
        return val.date.indexOf(needle) > -1 || val.price.toLowerCase().indexOf(needle) > -1
      })
    },
    getShrimpPricesRanges () {
      this.$api.get('shrimp_prices_ranges').then(res => {
        if (res) {
          this.rangeOptions = res
        }
      })
    },
    showHistory (range) {
      this.range = range
      this.showTable = true
    }
  }
}
</script>
<style>
</style>
