<template>
  <q-page>
    <q-card class="q-pa-md">
      <FormHeader :title="title" :subtitle="subtitle" :save="save" />
      <br>

      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pb-md">
          <q-select color="primary" v-model="form.type" :options="options" label="Tipo de servicio" emit-value map-options
            outlined>
            <template v-slot:prepend>
              <q-icon color="primary" name="mail" />
            </template>
            </q-select>
        </div>
        <template v-if="form.type === 0">
          <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pb-md">
            <q-input color="primary" v-model="form.host" label="Host" error-message="Ingrese host" hint="Ingrese host de al menos 5 caracteres"
              :error="$v.form.host.$error" @blur="$v.form.host.$touch()" placeholder="smtp.correo.com" outlined
              autofocus>
              <template v-slot:prepend>
                <q-icon color="primary" name="mail" />
              </template>
            </q-input>
          </div>
          <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pb-md">
            <q-input type="number" color="primary" v-model="form.port" label="Puerto" @blur="$v.form.port.$touch()"
            error-message="Ingrese puerto" :error="$v.form.port.$error" placeholder="465" hint="Ingrese puerto" outlined>
              <template v-slot:prepend>
                <q-icon color="primary" name="vpn_key" />
              </template>
            </q-input>
          </div>
          <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pb-md">
            <q-input color="primary" v-model="form.pass" label="Contraseña" @blur="$v.form.pass.$touch()"
            error-message="Ingrese contraseña de correo" :error="$v.form.pass.$error" hint="Ingrese contraseña de correo"
            :type="isPwd ? 'password' : 'text'" outlined>
              <template v-slot:prepend>
                <q-icon color="primary" name="vpn_key" />
              </template>
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
          </div>
          <div class="q-pa-md col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
            <q-toggle v-model="form.secure" label="Conexión segura?" left-label />
          </div>
        </template>
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pb-md">
            <q-input color="primary" v-model="form.user" label="Usuario" @blur="$v.form.user.$touch()"
            error-message="Ingrese usuario de correo" :error="$v.form.user.$error" placeholder="usuario@correo.com"
            hint="Ingrese usuario de correo" outlined name="mail">
              <template v-slot:prepend>
                <q-icon color="primary" name="mail" />
              </template>
            </q-input>
          </div>
        <template v-if="form.type === 1">
          <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pb-md">
            <q-input color="primary" v-model="form.mailgun_domain" label="Dominio" @blur="$v.form.mailgun_domain.$touch()"
              error-message="Ingrese dominio asociado a MailGun" :error="$v.form.mailgun_domain.$error" placeholder="sistema.wondrix.com"
              hint="Ingrese dominio asociado a MailGun" outlined>
              <template v-slot:prepend>
                <q-icon color="primary" name="vpn_key" />
              </template>
            </q-input>
          </div>
          <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pb-md">
            <q-input color="primary" v-model="form.mailgun_apikey" label="API Key" @blur="$v.form.mailgun_apikey.$touch()"
              error-message="Ingrese API Key asociada a MailGun" :error="$v.form.mailgun_apikey.$error" placeholder="0000000000000"
              hint="Ingrese API Key asociada a MailGun" outlined>
              <template v-slot:prepend>
                <q-icon color="primary" name="vpn_key" />
              </template>
            </q-input>
          </div>
        </template>

      </div>
      <q-separator />

      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { FormMixin } from '../../../../mixins/form'
import { requiredIf, email, minLength, maxLength } from 'vuelidate/lib/validators'
import FormHeader from 'components/FormHeader'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      title: 'Servicio de Correo',
      subtitle: 'Configuración',
      route: 'mail_configurations',
      isPwd: true,
      form: {
        secure: true,
        type: 0
      },
      options: [
        {
          label: 'SMTP',
          value: 0
        },
        {
          label: 'MailGun',
          value: 1
        }
      ]

    }
  },
  validations () {
    return {
      form: {
        host: {
          required: requiredIf(function (model) {
            return this.form.type === 0
          }),
          minLength: minLength(5),
          maxLength: maxLength(254)
        },
        port: {
          required: requiredIf(function (model) {
            return this.form.type === 0
          })
        },
        user: {
          required: requiredIf(function (model) {
            return this.form.type === 0 || this.form.type === 1
          }),
          email
        },
        pass: {
          required: requiredIf(function (model) {
            return this.form.type === 0
          })
        },
        mailgun_domain: {
          required: requiredIf(function (model) {
            return this.form.type === 1
          }),
          minLength: minLength(5),
          maxLength: maxLength(254)
        },
        mailgun_apikey: {
          required: requiredIf(function (model) {
            return this.form.type === 1
          })
        }
      }
    }
  },
  mounted () {
    this.getRecord()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Servicio de Correo',
        icon: 'person',
        to: 'mail_service'
      }
    ])
  },
  methods: {
    getRecord () {
      this.$api.get('mail_configurations').then(res => {
        this.form = res
      })
    },
    save () {
      this.$q.loading.show({
        message: 'Enviando correo de prueba'
      })
      this.$api.post('mail_configurations', this.form).then(res => {
        this.$q.loading.hide()
        if (res) {
          this.$q.notify({
            type: 'positive',
            message: 'Mensaje de prueba enviado correctamente'
          })
        }
      })
    }
  }
}
</script>
