<template>
  <q-page>
    <!-- <q-btn-group push>
      <q-btn color="primary" push label="Acción 1" icon="timeline" />
      <q-btn push label="Acción 2" icon="visibility" />
      <q-btn text-color="primary" push label="Acción 3" icon="update" />
    </q-btn-group> -->
    <q-card class="q-pa-md">
      <q-card-section class="bg-primary text-white row">
        <div class="col-md-2">
          <div class="text-h6">{{ title }}</div>
          <div class="text-subtitle2">{{ subtitle }}</div>
        </div>

        <div style="margin: auto" class="row items-center justify-center">
          <q-btn class="q-mr-md" outline text-color="white" label="Volver" @click="$router.go(-1)" />
          <q-btn push color="primary" label="Guardar" @click="save" glossy />
        </div>
      </q-card-section>
      <q-item class="bg-primary text-white">
        <q-item-section class="">
          <q-item-label style="margin: auto">
            <q-icon size="sm" color="white" name="store" />
            <b>DATOS EMPRESA</b>
          </q-item-label>
        </q-item-section>
      </q-item>

      <div class="row q-pa-sm">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
          <q-input color="primary" v-model="form.legal_name" label="Nombre legal" error-message="Ingrese nombre válido"
            :error="$v.form.legal_name.$error" @blur="$v.form.legal_name.$touch()" placeholder="Empresa 123 S.R.L"
            hint="Ingrese nombre válido" outlined autofocus>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-input color="primary" v-model="form.comercial_name" label="Nombre comercial" error-message="Ingrese nombre válido"
            :error="$v.form.comercial_name.$error" @blur="$v.form.comercial_name.$touch()" placeholder="Soluciones increíbles"
            hint="Ingrese nombre válido" outlined>
          </q-input>
        </div>
      </div>
      <q-item class="bg-primary text-white">
        <q-item-section class="">
          <q-item-label style="margin: auto">
            <q-icon size="sm" color="white" name="person" />
            <b>DATOS USUARIO</b>
          </q-item-label>
        </q-item-section>
      </q-item>
      <div class="row q-pa-sm">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
          <q-input type="email" color="primary" v-model="form.email" label="Correo" error-message="Ingrese correo válido"
            :error="$v.form.email.$error" @blur="$v.form.email.$touch()" placeholder="correoempresa@empresa.com"
            hint="Ingrese nombre válido" outlined>
          </q-input>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-input type="password" color="primary" v-model="form.password" label="Contraseña" error-message="Ingrese contraseña válido"
            :error="$v.form.password.$error" @blur="$v.form.password.$touch()" placeholder="Soluciones increíbles"
            hint="Ingrese contraseña válido" outlined>
          </q-input>
        </div>
      </div>
      <q-item class="bg-primary text-white">
        <q-item-section class="">
          <q-item-label style="margin: auto">
            <q-icon size="sm" color="white" name="licence" />
            <b>LICENCIA</b>
          </q-item-label>
        </q-item-section>
      </q-item>
      <div class="row q-pa-sm">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
          <q-input type="number" color="primary" v-model="form.licence_duration" label="Tiempo"
            error-message="Ingrese número válido" :error="$v.form.licence_duration.$error" @blur="$v.form.licence_duration.$touch()"
            placeholder="7" hint="Ingrese número válido" outlined>
          </q-input>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-select color="primary" v-model="form.licence_time" :options="timeOptions" label="Unidad de tiempo" emit-value map-options
            outlined hint="Seleccione una unidad de tiempo" error-message="Seleccione una unidad de tiempo"
            :error="$v.form.licence_time.$error" @blur="$v.form.licence_time.$touch()" option-label="name" option-value="id" autofocus>
          </q-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md q-pr-md">
          <q-input type="number" color="primary" v-model="form.limit_users" label="Límite de usuarios"
            error-message="Ingrese cantidad válida" :error="$v.form.limit_users.$error" @blur="$v.form.limit_users.$touch()"
            placeholder="7" hint="Ingrese cantidad válida" outlined>
          </q-input>

        </div>
      </div>
      <q-separator />

      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { required, minLength, maxLength, email } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../mixins/form'
export default {
  mixins: [FormMixin],
  components: {
  },
  data () {
    return {
      title: 'Empresas',
      subtitle: 'Nueva empresa',
      route: 'companies',
      form: {},
      timeOptions: [
        {
          id: 1,
          name: 'Días'
        },
        {
          id: 2,
          name: 'Semanas'
        }
      ]
    }
  },
  validations () {
    return {
      form: {
        legal_name: { required, minLength: minLength(6), maxLength: maxLength(60) },
        comercial_name: { required, minLength: minLength(6), maxLength: maxLength(60) },
        email: { required, email },
        password: { required, minLength: minLength(6), maxLength: maxLength(60) },
        licence_duration: { required },
        licence_time: { required },
        limit_users: { required }
      }
    }
  },
  mounted () {
    /* this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Usuarios',
        icon: 'person',
        to: '/users'
      },
      {
        label: 'Nuevo Usuario',
        icon: 'person',
        to: 'users/form'
      }
    ]) */
  },
  methods: {
  }
}
</script>
