<template>
  <q-page>
    <div>
      <!-- <listable :title="title" :buttons="buttons" :cols="cols" route="food_projections"
      :params="params" :pagination="pagination"/> -->
      <q-card flat class="text-primary">
        <q-card-section>
          <div class="row">
            <div class="col-md-9">
              <div class="text-h4"><b>{{ title }}</b></div>
            </div>
            <div class="col-md-3" style="text-align: right;">
              <q-btn class="q-ma-sm" v-if="can('2.1.1.1.29.1')" round icon="add" color="primary" size="md" :to="`${$route.path}/form`">
                <q-tooltip>
                  Nueva proyección
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ma-sm" round icon="get_app" color="primary" size="md" @click="exportTable">
                <q-tooltip>
                  Exportar
                </q-tooltip>
              </q-btn>
              <q-btn class="q-ml-sm" round  @click="$q.fullscreen.toggle()"
                :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'" color="primary" size="md">
                <q-tooltip>
                  Pantalla completa
                </q-tooltip>
              </q-btn>
            </div>
            <div class="col-sm-2 col-md-2">
              <q-input v-model="text" placeholder="Buscar" @input="filter" outlined dense>
                <template v-slot:append>
                  <q-icon v-if="text !== ''" name="close" @click="text = ''" class="cursor-pointer" />
                  <q-icon name="search" />
                </template>
              </q-input>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <div class="q-pa-sm">
        <q-card flat bordered class="my-card bg-grey-1 q-pa-md q-mt-md">
          <q-card-section class="row">
            <div class="col">
              <b class="text-grey-7">Fecha de siembra</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Días de cultivo</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Densidad</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Área</b>
            </div>
            <div class="col" style="text-align: center">
              <b class="text-grey-7">Asesor técnico</b>
            </div>
            <div class="col" style="text-align: right">
              <b class="text-grey-7">Acciones</b>
            </div>
          </q-card-section>
          <q-separator color="grey-4" />
            <q-card-section class="row" v-for="(item, index) in records" :key="index">
              <div class="col">
                <p class="text-grey-7">{{ item.seedtime }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.cultivation_days }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.density }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.pool_area }}</p>
              </div>
              <div class="col" style="text-align: center">
                <p class="text-grey-7">{{ item.technicalAdvisor ? item.technicalAdvisor.full_name : '' }}</p>
              </div>
               <div class="col" style="text-align: right">
                <q-btn v-if="can('2.1.1.1.29.2')" flat icon="remove_red_eye" size="md" color="primary"
                  :to="`food_projection/form/${item.id}`"
                  dense>
                  <q-tooltip>
                    Ver
                  </q-tooltip>
                </q-btn>
                <q-btn v-if="can('2.1.1.1.29.2')" flat icon="mail_outline" size="sm" color="primary"
                  :to="`food_projection/send_mail/${item.id}`" dense>
                  <q-tooltip>
                    Enviar Mail
                  </q-tooltip>
                </q-btn>

                <q-btn v-if="can('2.1.1.1.29.2')" flat icon="save_alt" size="sm" color="primary"
                  @click="printFood(item.id)" dense>
                  <q-tooltip>
                    Descargar
                  </q-tooltip>
                </q-btn>

                <q-btn v-if="can('2.1.1.1.29.2')" flat icon="link" size="sm" color="primary"
                  @click="generateLinkFlood(item.id)" dense>
                  <q-tooltip>
                    Enlace
                  </q-tooltip>
                </q-btn>
              </div>
            </q-card-section>
            <q-separator color="grey-4" />
          </q-card>
      </div>
    </div>
    <q-dialog v-model="showLink">
      <q-card>
        <q-card-section>
          <div class="text-h6">Enlace para compartir</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <a :href="link" target="_blank">{{ link }}</a>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn color="primary" flat @click="copyClipboard">Copiar</q-btn>
          <q-btn flat label="Cerrar" color="primary" v-close-popup/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import env from '../../../../../env'
import { exportFile, copyToClipboard } from 'quasar'

function wrapCsvValue (val, formatFn) {
  let formatted = formatFn !== undefined
    ? formatFn(val)
    : val

  formatted = formatted === undefined || formatted === null
    ? ''
    : String(formatted)

  formatted = formatted.split('"').join('""')

  return `"${formatted}"`
}
// import Listable from 'components/Listable'
import { mapGetters } from 'vuex'
export default {
  components: {},
  data () {
    return {
      title: 'Proyecciones de Alimentación',
      link: '',
      buttons: [
        {
          label: 'Nueva', icon: 'add', color: 'primary', url: `${this.$route.path}/form`, action: '', permission: '2.1.1.1.29.1'
        }
      ],
      cols: [
        { name: 'seedtime', required: true, label: 'Fecha de siembra', align: 'left', field: 'seedtime', sortable: true },
        { name: 'cultivation_days', required: true, label: 'Días de cultivo', align: 'left', field: 'cultivation_days', sortable: true },
        { name: 'density', required: true, label: 'Densidad', align: 'left', field: 'density', sortable: true },
        { name: 'actions', required: true, label: 'Acciones', align: 'left', field: 'actions' }
      ],
      customerId: this.$route.params.id,
      shrimpId: this.$route.params.shrimpsId,
      poolId: this.$route.params.poolId,
      pagination: {
        page: 1,
        rowsPerPage: 0
      },
      params: {
        pool_id: this.$route.params.poolId
      },
      records: [],
      stringRecords: [],
      text: '',
      showLink: false
    }
  },
  computed: {
    ...mapGetters('generals', ['can'])
  },
  mounted () {
    this.getRecords()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Clientes',
        icon: 'person',
        to: '/customers'
      },
      {
        label: 'Gestión Cliente',
        icon: 'person',
        to: '/customers/show/' + this.customerId
      },
      {
        label: 'Camaroneras',
        icon: 'person',
        to: '/customers/show/' + this.customerId + '/shrimps'
      },
      {
        label: 'Piscinas',
        icon: 'person',
        to: '/customers/show/' + this.customerId + '/shrimps/' + this.shrimpId
      },
      {
        label: 'Proyección de alimentación',
        icon: 'person',
        to: 'customers/show/' + this.customerId + '/shrimps/' + this.shrimpId + '/pool/' + this.poolId + '/food_projection'
      }
    ])
  },
  methods: {
    getRecords () {
      this.$api.get('food_projections', { params: this.params }).then(res => {
        if (res) {
          this.records = res
          this.stringRecords = res
        }
      })
    },
    exportTable () {
      // naive encoding to csv format
      // const columns = JSON.parse(JSON.stringify(this.cols))
      const columns = Object.create(this.cols)
      if (columns[columns.length - 1].name === 'actions') {
        columns.pop()
      }

      console.log('col', columns)
      const content = [columns.map(col => wrapCsvValue(col.label))].concat(
        this.records.map(row => columns.map(col => wrapCsvValue(
          typeof col.field === 'function'
            ? col.field(row)
            : row[col.field === undefined ? col.name : col.field],
          col.format
        )).join(','))
      ).join('\r\n')

      const status = exportFile(
        'table-export.csv',
        content,
        'text/csv'
      )

      if (status !== true) {
        this.$q.notify({
          message: 'Browser denied file download...',
          color: 'negative',
          icon: 'warning'
        })
      }
    },
    filter () {
      if (this.text === '') {
        this.records = this.stringRecords
        return
      }
      const needle = this.text.toLowerCase()
      this.records = [...this.stringRecords]
      this.records = this.stringRecords.filter(val => {
        return val.seedtime.toLowerCase().indexOf(needle) > -1 || val.cultivation_days.toString().toLowerCase().indexOf(needle) > -1 ||
        val.density.toString().toLowerCase().indexOf(needle) > -1
      })
    },
    copyClipboard () {
      console.log('copyClipboard')
      copyToClipboard(this.link).then(() => {
        console.log('bien')
      })
        .catch(() => {
          console.log('mal')
        })
    },
    printFood (id) {
      this.$api.get(`projections_print/${id}`).then(res => {
        if (res) {
          this.$api.get(`filepdf/${res}`, { responseType: 'blob' }).then(res2 => {
            const blob = new Blob([res2])
            const ext = res.split('.')
            this.ext = ext[ext.length - 1]
            const fileName = 'Proyección de Alimentos.pdf'
            this.fileName = fileName

            if (this.$q.platform.is.mobile) { // Si es teléfono
              // this.saveBlob2File(fileName, blob)
            } else { // Si es navegador
              const url = window.URL.createObjectURL(blob)
              const link = document.createElement('a')
              link.href = url
              link.setAttribute('download', fileName)
              document.body.appendChild(link)
              link.click()
            }
            this.$q.loading.hide()
          }).catch(function (error) {
            console.log('error descargando', error)
          })
        }
      })
    },
    generateLinkFlood (id) {
      this.$api.get(`projections_print/${id}`).then(res => {
        if (res) {
          this.link = `${env.apiUrl}filepdf/${res}`
          this.showLink = true
        }
      })
    }
  }
}
</script>
<style>
</style>
