<template>
  <q-page>
    <FormHeader :title="title" :subtitle="subtitle" :save="save" />
    <q-card>
      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-input color="primary" v-model="form.name" label="Categoría" @blur="$v.form.name.$touch()"
            error-message="Ingrese el nombre de una categoría" :error="$v.form.name.$error" placeholder="Categoría 1"
            hint="Ingrese el nombre de una categoría" outlined>
          </q-input>
        </div>
      </div>
      <q-separator />
      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
    <!-- <q-dialog v-model="promptAddContact" persistent>
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">Nuevo contacto</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-input color="primary" v-model="contact.last_name" label="Apellidos" error-message="Ingrese apellidos"
            :error="$v.contact.last_name.$error" @blur="$v.contact.last_name.$touch()" placeholder="López Pérez"
            hint="Ingrese apellidos" outlined autofocus>
          </q-input>
          <q-input color="primary" v-model="contact.name" label="Nombres" error-message="Ingrese nombres"
            :error="$v.contact.name.$error" @blur="$v.contact.name.$touch()" placeholder="Pedro Pablo"
            hint="Ingrese nombres" outlined>
          </q-input>
          <q-input color="primary" v-model="contact.job" label="Cargo" error-message="Ingrese cargo"
            :error="$v.contact.job.$error" @blur="$v.contact.job.$touch()" placeholder="Pedro Pablo"
            hint="Ingrese cargo" outlined>
          </q-input>
          <q-input color="primary" v-model="contact.phone" label="Teléfono" error-message="Ingrese teléfono"
            :error="$v.contact.phone.$error" @blur="$v.contact.phone.$touch()" placeholder="0000000"
            hint="Ingrese teléfono" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="add" color="primary" @click="contact.phones.push('')">
                <q-tooltip content-class="">Agregar teléfono</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-input v-for="(phone, index) in contact.phones" :key="index" color="primary" v-model="contact.phones[index]"
            :label="`Teléfono ${index + 2}`" error-message="Ingrese teléfono" :error="$v.contact.phone.$error"
            @blur="$v.contact.phone.$touch()" placeholder="0000000" hint="Ingrese teléfono" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="close" color="primary" @click="contact.phones.splice(index, 1)">
                <q-tooltip content-class="">Eliminar teléfono</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-input color="primary" v-model="contact.email" label="Correo electrónico" error-message="Ingrese correo electrónico"
            :error="$v.contact.email.$error" @blur="$v.contact.email.$touch()" placeholder="correo@example.com"
            hint="Ingrese correo electrónico" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="add" color="primary" @click="contact.emails.push('')">
                <q-tooltip content-class="">Agregar correo electrónico</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-input v-for="(email, index) in contact.emails" :key="index+1" color="primary" v-model="contact.emails[index]"
            :label="`Correo electrónico ${index + 2}`" error-message="Ingrese correo electrónico" :error="$v.contact.phone.$error"
            @blur="$v.contact.phone.$touch()" placeholder="0000000" hint="Ingrese correo electrónico" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="close" color="primary" @click="contact.emails.splice(index, 1)">
                <q-tooltip content-class="">Eliminar correo electrónico</q-tooltip>
              </q-btn>
            </template>
          </q-input>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn outline text-color="grey-7" label="Cancelar" v-close-popup/>
          <q-btn push color="primary" label="Agregar contacto" glossy @click="addContact"/>
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="promptEditContact" persistent>
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">Editar contacto</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-input color="primary" v-model="contact.last_name" label="Apellidos" error-message="Ingrese apellidos"
            :error="$v.contact.last_name.$error" @blur="$v.contact.last_name.$touch()" placeholder="López Pérez"
            hint="Ingrese apellidos" outlined autofocus>
          </q-input>
          <q-input color="primary" v-model="contact.name" label="Nombres" error-message="Ingrese nombres"
            :error="$v.contact.name.$error" @blur="$v.contact.name.$touch()" placeholder="Pedro Pablo"
            hint="Ingrese nombres" outlined>
          </q-input>
          <q-input color="primary" v-model="contact.phone" label="Teléfono" error-message="Ingrese teléfono"
            :error="$v.contact.phone.$error" @blur="$v.contact.phone.$touch()" placeholder="0000000"
            hint="Ingrese teléfono" outlined>
            <q-btn round dense flat icon="add" color="primary" @click="contact.phones.push('')">
                <q-tooltip content-class="">Agregar teléfono</q-tooltip>
              </q-btn>
          </q-input>
          <q-input v-for="(phone, index) in contact.phones" :key="index+2" color="primary" v-model="contact.phones[index]"
            :label="`Teléfono ${index + 2}`" error-message="Ingrese teléfono" :error="$v.contact.phone.$error"
            @blur="$v.contact.phone.$touch()" placeholder="0000000" hint="Ingrese teléfono" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="close" color="primary" @click="contact.phones.splice(index, 1)">
                <q-tooltip content-class="">Eliminar teléfono</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-input color="primary" v-model="contact.email" label="Correo electrónico" error-message="Ingrese correo electrónico"
            :error="$v.contact.email.$error" @blur="$v.contact.email.$touch()" placeholder="correo@example.com"
            hint="Ingrese correo electrónico" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="add" color="primary" @click="contact.emails.push('')">
                <q-tooltip content-class="">Agregar correo electrónico</q-tooltip>
              </q-btn>
            </template>
          </q-input>
          <q-input v-for="(email, index) in contact.emails" :key="index+3" color="primary" v-model="contact.emails[index]"
            :label="`Correo electrónico ${index + 2}`" error-message="Ingrese correo electrónico" :error="$v.contact.phone.$error"
            @blur="$v.contact.phone.$touch()" placeholder="0000000" hint="Ingrese correo electrónico" outlined>
            <template v-slot:append>
              <q-btn round dense flat icon="close" color="primary" @click="contact.emails.splice(index, 1)">
                <q-tooltip content-class="">Eliminar correo electrónico</q-tooltip>
              </q-btn>
            </template>
          </q-input>
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn outline text-color="grey-7" label="Cancelar" v-close-popup/>
          <q-btn push color="primary" label="Actualizar contacto" glossy @click="editContact"/>
        </q-card-actions>
      </q-card>
    </q-dialog> -->
  </q-page>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../mixins/form'
import FormHeader from 'components/FormHeader'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      title: 'Categorías de cliente',
      subtitle: this.$route.params.id ? 'Editar categoría' : 'Nueva categoría',
      route: 'categories',
      form: {
        type: 1
      },
      promptAddContact: false,
      promptEditContact: false
    }
  },
  computed: {
  },
  validations () {
    return {
      form: {
        name: { required }
      }
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Categorías de clientes',
        icon: 'person',
        to: '/customers_categories'
      },
      {
        label: this.$route.params.id ? 'Editar categoría' : 'Nueva categoría',
        icon: 'person',
        to: 'customers_categories/form'
      }
    ])
  },
  methods: {
    getCountries () {
      this.$api.get('countries').then(res => {
        this.countryOptions = res
        this.stringCountryOptions = res
      })
    },
    getStates () {
      this.$api.get('states').then(res => {
        this.stateOptions = res
        this.stringStateOptions = res
      })
    },
    getCities () {
      this.$api.get('cities').then(res => {
        this.cityOptions = res
        this.stringCityOptions = res
      })
    },
    countryfilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.countryOptions = this.stringCountryOptions

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.countryOptions = this.stringCountryOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    statefilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.stateOptions = this.stringStateOptions

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.stateOptions = this.stringStateOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    cityfilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.cityOptions = this.stringCityOptions

          // with Quasar v1.7.4+
          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.cityOptions = this.stringCityOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    copyAddress (value) {
      console.log('value', value)
      if (value) {
        this.form.deliver_address = this.form.billing_address
      }
    },
    addContact () {
      this.$v.contact.$touch()
      if (!this.$v.contact.$error) {
        this.form.contacts.push(this.contact)
        this.contact = {}
        this.promptAddContact = false
        this.$v.contact.$reset()
      }
    },
    showContactEdition (index) {
      this.promptEditContact = true
      this.currentIndex = index
      this.contact = JSON.parse(JSON.stringify(this.form.contacts[index]))
      this.currentIndex = index
    },
    editContact () {
      this.$v.contact.$touch()
      if (!this.$v.contact.$error) {
        // this.form.contacts.push(this.contact)
        this.form.contacts[this.currentIndex] = this.contact
        this.contact = {}
        this.promptEditContact = false
        this.$v.contact.$reset()
      }
    }, /* ,
    p_comprobar_ruc () {
      var ruc=p_('ruc').value
      var ruc_resultado_validacion = p_('ruc_resultado_validacion')
      var ruc_explicacion_validacion = p_('ruc_explicacion_validacion')
      ruc_explicacion_validacion.style.display = 'none'
      if (typeof(ruc) == 'string' && ruc.length == 13&&/^\d+$/.test(ruc)) {
        var digitos = ruc.split('').map(Number)
        var codigo_provincia=digitos[0]*10+digitos[1]
        var display_noveno
        var tipo_modulo
        var coeficientes
        if((codigo_provincia>=1&&codigo_provincia<=24)||codigo_provincia==30){
          if(digitos[2]!=7||digitos[2]!=8){
            tipo_modulo=(digitos[2]>5)?11:10
            if(digitos[2]==6){
              digitos=digitos.slice(0,9)
              p_('tipo_contribuyente').innerHTML='Institución Pública'
              p_('posicion_digito_verificador').innerHTML='noveno'
              p_('numero_digitos_para_calculo').innerHTML='ocho'
              display_noveno=false
              coeficientes=[3,2,7,6,5,4,3,2]
            } else {
              digitos=digitos.slice(0,10)
              p_('tipo_contribuyente').innerHTML=(digitos[2]==9)?'Persona jurídica y extranjeros sin cédula':'Persona natural'
              p_('posicion_digito_verificador').innerHTML='décimo'
              p_('numero_digitos_para_calculo').innerHTML='nueve'
              display_noveno=true
              coeficientes=(digitos[2]==9)?[4,3,2,7,6,5,4,3,2]:[2,1,2,1,2,1,2,1,2]
            }
            p_display(['x9','c9','r9','ruc_ttt9','ruc_ththth9'],display_noveno)
            var digito_verificador = digitos.pop()
            var digito_calculado = tipo_modulo - digitos.reduce(function (valorPrevio, valorActual, indice) {
              // console.log(valorActual,coeficientes[indice],valorActual*coeficientes[indice])
              var resultado = valorActual * coeficientes[indice]
              if (digitos[2]<6) {
                resultado = (resultado>9) ? resultado - 9 : resultado
              }
              return valorPrevio + resultado
            },0) % tipo_modulodigito_calculado = (digito_calculado === 11) ? 0 : digito_calculado
            console.log('digito_calculado:',digito_calculado,tipo_modulo)
            if(digito_calculado===digito_verificador){
              ruc_resultado_validacion.innerHTML='<strong>El RUC es válido</strong>'
              var sum=0
              digitos.map(function(digito,indice){
                var posicion=indice+1
                var buff=0
                p_('x'+posicion).innerHTML=digito
                p_('c'+posicion).innerHTML=coeficientes[indice]
                buff=digito*coeficientes[indice]
                p_('r'+posicion).innerHTML=buff
                if(digitos[2]<6&&buff>9) {
                  buff-=9
                  p_('r'+posicion).innerHTML+=' - 9 = '+buff
                }
                sum+=buff
              })
              p_('ruc_ttt10').innerHTML='<strong>'+(sum)+'</strong>'
              p_('ruc_tttt1').innerHTML=(sum)
              p_('ruc_tttt2').innerHTML=(sum)%tipo_modulo
              p_('ruc_tipo_modulo1').innerHTML=tipo_modulo
              p_('ruc_tipo_modulo2').innerHTML=tipo_modulo
              p_('ruc_ttttt1').innerHTML=(sum)%tipo_modulo
              p_('ruc_ttttt2').innerHTML=tipo_modulo-(sum)%tipo_modulo
              p_('ruc_tipo_modulo3').innerHTML=tipo_modulo
              p_('ruc_tipo_modulo4').innerHTML=tipo_modulo
              if(sum%tipo_modulo===0){
                p_display('ruc_paso5especial',true)
                p_display('ruc_paso5normal',false)
              } else {
                p_display('ruc_paso5especial',false)
                p_display('ruc_paso5normal',true)
              }
              p_('ruc_tttttt1').innerHTML=digito_calculado
              p_('ruc_tttttt2').innerHTML=ruc
              p_('ruc_codigo_provincia').innerHTML=digitos[0]+''+digitos[1]
              p_('ruc_nombre_provincia').innerHTML=provincias[digitos[0]*10+digitos[1]]
              p_('ruc_tercer_digito').innerHTML=digitos[2]
              ruc_explicacion_validacion.style.display=''
            } else {
              ruc_resultado_validacion.innerHTML='No coincide el dígito verificador'
            }
          } else {
            ruc_resultado_validacion.innerHTML='El tercer dígito no debe ser 7 o 8'
            }
          } else {
            ruc_resultado_validacion.innerHTML='Los dos primeros dígitos deben estar entre 01 y 24, o 30 para ecuatorianos registrados en el exterior'
            }
          } else {
            ruc_resultado_validacion.innerHTML='No son 13 dígitos'
          }
          return false
    } */
    verifyCedula (cedula) {
      console.log('verify', cedula)
      var response = false
      if (typeof (cedula) === 'string' && cedula.length === 10 && /^\d+$/.test(cedula)) {
        var digitos = cedula.split('').map(Number)
        var codigoProvincia = digitos[0] * 10 + digitos[1]

        // if (codigoProvincia >= 1 && (codigoProvincia <= 24 || codigoProvincia == 30) && digitos[2] < 6) {

        if (codigoProvincia >= 1 && (codigoProvincia <= 24 || codigoProvincia === 30)) {
          var digitoVerificador = digitos.pop()

          var digitoCalculado = digitos.reduce(
            function (valorPrevio, valorActual, indice) {
              return valorPrevio - (valorActual * (2 - indice % 2)) % 9 - (valorActual === 9) * 9
            }, 1000) % 10
          response = digitoCalculado === digitoVerificador
          // return
        }
      }
      console.log('res', response)
      return response
    },
    checkIdentification (documentNumber) {
      console.log('checkIdentification', documentNumber)
      if (this.form.document_type === 1) { // Si es RUC verificar RUC
        return true
      } else if (this.form.document_type === 2) { // Si es cédula verificar cédula
        return this.verifyCedula(documentNumber)
      }
      return true
    },
    showPromptAddContact () {
      this.promptAddContact = true
      this.contact = {
        phones: [],
        emails: []
      }
    },
    getCategories () {
      this.$api.get('categories', { params: { type: 1 } }).then(res => {
        this.categoryOptions = res
        this.stringCategoryOptions = res
      })
    },
    categoryfilterFn (val, update) {
      if (val === '') {
        update(() => {
          this.categoryOptions = this.stringCategoryOptions
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.categoryOptions = this.stringCategoryOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    }
  }
}
</script>
