<template>
  <q-page>
    <q-card class="q-pa-sm">
      <q-card class="text-primary">
        <q-card-section>
          <div class="row q-pa-md">
            <div class="col-10">
              <div class="text-h4"><b>{{ title }}</b></div>
              <!-- <div class="text-subtitle1"><b>{{ subtitle }}</b></div> -->
            </div>
            <div class="col-2">
              <q-btn v-if="can('2.1.1.1.11')" label="guardar" rounded color="primary" size="md" @click="save">
                <q-tooltip>
                  Guardar análisis
                </q-tooltip>
              </q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
      <q-card-section class="q-pa-sm row">
        <q-card flat class="q-pa-sm row" style="width: 100%;">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 q-pb-md q-pr-md">
            <!-- <q-input v-model="shrimp.name" label="Camaronera" outlined readonly /> -->
            <q-select v-model="form.shrimp_id" label="Camaronera" outlined :readonly="shrimpReadOnly" :options="shrimps"
            emit-value map-options option-label="name" option-value="id">
            </q-select>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 q-pb-md q-pr-md">
              <q-input color="primary" label="Zona" outlined :value="zoneName" readonly/>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 q-pb-md q-pr-md">
            <q-select v-model="form.applicant_id" color="primary" label="Solicitante" outlined
              error-message="Seleccione solicitante" :error="$v.form.applicant_id.$error"
              @blur="$v.form.applicant_id.$touch()" :options="applicants" emit-value map-options option-label="full_name"
              option-value="id"/>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="date" v-model="form.analysis_date" label="Fecha de análisis" outlined
              error-message="Ingrese fecha de análisis" stack-label
              :error="$v.form.analysis_date.$error" @blur="$v.form.analysis_date.$touch()">
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="date" v-model="form.delivery_date" label="Fecha de entrega" outlined
              error-message="Ingrese fecha de entrega válida" stack-label
              :error="$v.form.delivery_date.$error" @blur="$v.form.delivery_date.$touch()">
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="textarea" v-model="form.observations" label="Observaciones" outlined stack-label
              :error-message="`Ingrese observaciones de hasta 1000 caracteres. ${form.observations ? form.observations.length : 0} caracteres ingresados.`"
              :error="$v.form.observations.$error" @blur="$v.form.observations.$touch()" autogrow
              >
                <template v-slot:hint>
                  {{ form.observations ? form.observations.length : 0 }}/1000 caracteres
                </template>
            </q-input>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 q-pb-md q-pr-md">
            <q-input type="textarea" v-model="form.recommendations" label="Recomendaciones" outlined stack-label
              :error-message="`Ingrese observaciones de hasta 1000 caracteres. ${form.recommendations ? form.recommendations.length : 0} caracteres ingresados.`"
              :error="$v.form.recommendations.$error" @blur="$v.form.recommendations.$touch()" autogrow
              >
                <template v-slot:hint>
                  {{ form.recommendations ? form.recommendations.length : 0 }}/1000 caracteres
                </template>
            </q-input>
          </div>
        </q-card>
        <q-card v-show="canAddPool" class="q-pa-sm row" style="width: 100%" :bordered="false" flat>
          <div class="col-md-12 col-sm-12" style="text-align: end">
            <q-btn-dropdown v-if="can('2.1.1.1.11')" color="primary" icon="add" label="Añadir nueva piscina" rounded>
              <q-list>
                <q-item v-for="(pool, index) in pools" clickable v-close-popup :key="index"
                :disable="pool.disable" @click="addPool(pool)">
                  <q-item-section>
                    <q-item-label>{{ pool.description }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
        </q-card>
        <q-card class="q-pa-sm col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <q-tabs v-model="tab" dense class="text-grey" active-color="primary" indicator-color="primary"
            align="justify" narrow-indicator>
            <q-tab v-for="(pool, index) in form.pools" :key="pool.pool_id" :name="pool.pool_id" :label="pool.description" v-touch-hold.mouse="showPoolOptions(index)"/>
          </q-tabs>

          <q-separator />

          <q-tab-panels v-model="tab" animated>
          <q-tab-panel v-for="(pool, index) in form.pools" :key="pool.pool_id" :name="pool.pool_id">
            <div class="row">
              <div class="col-sm-8">
                <h6 class="text-grey">Nombre de piscina {{ pool.description }} Área: {{ pool.area }}</h6>
                <q-btn round color="primary" icon="help" @click="showHint = !showHint"/>
              </div>
              <div v-if="showHint" class="col-sm-4">
                <q-card flat bordered class="my-card">
                <q-card-section>
                  <div class="text-h6">Nivel de presencia patógenos</div>
                </q-card-section>

                <q-card-section class="q-pt-none">
                  <table>
                            <tr>
                              <td>{{table[0]}}</td>
                              <td>{{table[1]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[2]}}</td>
                              <td>{{table[3]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[4]}}</td>
                              <td>{{table[5]}}</td>
                            </tr>
                            <tr>
                              <td>{{table[6]}}</td>
                              <td>{{table[7]}}</td>
                            </tr>
                  </table>
                </q-card-section>
              </q-card>
              </div>
            </div>

            <q-tabs v-model="tab2" dense class="text-grey" active-color="primary" indicator-color="primary"
              align="justify" narrow-indicator>
              <q-tab name="pools" label="Piscinas" />
              <q-tab name="gills" label="Branquias" />
              <q-tab name="intestine" label="Intestino" />
              <q-tab name="Hepatopancreas" label="Hepatopáncreas" />
              <!-- <q-tab name="observations" label="Observaciones" /> -->
              <q-tab name="images" label="Imágenes" />
            </q-tabs>

          <q-separator />

          <q-tab-panels v-model="tab2" animated>
            <q-tab-panel name="pools">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-input color="primary" type="number" v-model.number="pool.average_weight_pool"
                    label="Peso Promedio g." outlined stack-label
                    error-message="Ingrese Peso Promedio g."
                    :error="$v.form.pools.$each[index].average_weight_pool.$error"
                    @blur="$v.form.pools.$each[index].average_weight_pool.$touch()"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-input color="primary" type="number" v-model.number="pool.flaccidity"
                    label="Flacidez %" outlined stack-label
                    error-message="Ingrese Flacidez %"
                    :error="$v.form.pools.$each[index].flaccidity.$error"
                    @blur="$v.form.pools.$each[index].flaccidity.$touch()"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-input color="primary" type="number" v-model.number="pool.inflameduropods_pool"
                    label="Urópodos Inflamados %" outlined stack-label
                    error-message="Ingrese Urópodos Inflamados %"
                    :error="$v.form.pools.$each[index].inflameduropods_pool.$error"
                    @blur="$v.form.pools.$each[index].inflameduropods_pool.$touch()"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-input color="primary" type="number" v-model.number="pool.necrosis"
                    label="Necrosis %" outlined stack-label
                    error-message="Ingrese Necrosis %"
                    :error="$v.form.pools.$each[index].necrosis.$error"
                    @blur="$v.form.pools.$each[index].necrosis.$touch()"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-input color="primary" type="number" v-model.number="pool.rough_antennas_pool"
                    label="Antenas Rugosas %" outlined stack-label
                    error-message="Ingrese Antenas Rugosas %"
                    :error="$v.form.pools.$each[index].rough_antennas_pool.$error"
                    @blur="$v.form.pools.$each[index].rough_antennas_pool.$touch()"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-input color="primary" type="number" v-model.number="pool.misshapen_dwarfs"
                    label="Deformes-enanos %" outlined stack-label
                    error-message="Ingrese Deformes-enanos %"
                    :error="$v.form.pools.$each[index].misshapen_dwarfs.$error"
                    @blur="$v.form.pools.$each[index].misshapen_dwarfs.$touch()"
                  />
                </div>
              </div>
            </q-tab-panel>
            <q-tab-panel name="gills">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="pool.dirty" label="Sucias(detritus)" outlined stack-label
                    error-message="Ingrese Sucias(detritus)" :options="plusOptions"
                    :error="$v.form.pools.$each[index].dirty.$error" map-options emit-value option-label="label"
                    option-value="id" @blur="$v.form.pools.$each[index].dirty.$touch()">
                  </q-select>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" map-options emit-value :options="plusOptions" v-model="pool.algae"
                    label="Algas" outlined stack-label error-message="Ingrese Algas"
                    :error="$v.form.pools.$each[index].algae.$error"
                    @blur="$v.form.pools.$each[index].algae.$touch()" option-label="label" option-value="id"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" map-options emit-value
                    :options="plusOptions" v-model="pool.epistylis" label="Epistylis" outlined stack-label
                    error-message="Ingrese Epistylis"
                    :error="$v.form.pools.$each[index].epistylis.$error"
                    @blur="$v.form.pools.$each[index].epistylis.$touch()" option-label="label"
                    option-value="id"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" map-options emit-value
                    :options="plusOptions" v-model="pool.vortex" label="Vorticela" outlined stack-label
                    error-message="Ingrese Vorticela"
                    :error="$v.form.pools.$each[index].vortex.$error"
                    @blur="$v.form.pools.$each[index].vortex.$touch()" option-label="label"
                    option-value="id"
                  />
                </div>

                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="pool.zoothamnium" label="Zoothamnium" outlined stack-label
                    error-message="Ingrese Zoothamnium" map-options emit-value
                    :options="plusOptions" :error="$v.form.pools.$each[index].zoothamnium.$error"
                    @blur="$v.form.pools.$each[index].zoothamnium.$touch()" option-label="label"
                    option-value="id"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary"
                    map-options emit-value
                    :options="plusOptions" v-model="pool.acineta" label="Acineta" outlined stack-label
                    error-message="Ingrese Acineta"
                    :error="$v.form.pools.$each[index].acineta.$error"
                    @blur="$v.form.pools.$each[index].acineta.$touch()" option-label="label"
                    option-value="id"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" map-options emit-value
                    :options="plusOptions" v-model="pool.ciliated_apostome"
                    label="Ciliado Apostome" outlined stack-label
                    error-message="Ingrese Ciliado Apostome"
                    :error="$v.form.pools.$each[index].ciliated_apostome.$error"
                    @blur="$v.form.pools.$each[index].ciliated_apostome.$touch()" option-label="label"
                    option-value="id"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-input color="primary" v-model.number="pool.others" label="Otros" outlined stack-label
                    :error="$v.form.pools.$each[index].others.$error"
                    @blur="$v.form.pools.$each[index].others.$touch()"
                  />
                  </div>
                <!-- <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary"
                    map-options emit-value
                    :options="plusOptions" v-model="pool.chromatophores" label="Cromatoforos" outlined stack-label
                    error-message="Ingrese Cromatoforos"
                    :error="$v.form.pools.$each[index].chromatophores.$error"
                    @blur="$v.form.pools.$each[index].chromatophores.$touch()" option-label="label"
                    option-value="id"
                  />
                </div> -->
              </div>
            </q-tab-panel>

            <q-tab-panel name="intestine">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="pool.gregarious"
                    label="Gregarinas" outlined stack-label map-options emit-value
                    option-label="label" option-value="id" :options="plusOptions"
                    error-message="Ingrese gregarinas"
                    :error="$v.form.pools.$each[index].gregarious.$error"
                    @blur="$v.form.pools.$each[index].gregarious.$touch()"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="pool.nemamotods" label="Nemátodos" outlined stack-label
                    error-message="Ingrese Nemátodos" map-options emit-value
                    option-label="label" option-value="id" :options="plusOptions"
                    :error="$v.form.pools.$each[index].nemamotods.$error"
                    @blur="$v.form.pools.$each[index].nemamotods.$touch()"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="pool.intestine_algae" label="Algas" outlined stack-label
                    error-message="Ingrese algas" map-options emit-value
                    option-label="label" option-value="id" :options="plusOptions"
                    :error="$v.form.pools.$each[index].intestine_algae.$error"
                    @blur="$v.form.pools.$each[index].intestine_algae.$touch()"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="pool.debris" label="Detritos" outlined stack-label
                    error-message="Ingrese detritos" map-options emit-value
                    option-label="label" option-value="id" :options="plusOptions"
                    :error="$v.form.pools.$each[index].debris.$error"
                    @blur="$v.form.pools.$each[index].debris.$touch()"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="pool.balanced" label="Balanceado" outlined stack-label
                    error-message="Ingrese balanceado" map-options emit-value
                    option-label="label" option-value="id" :options="plusOptions"
                    :error="$v.form.pools.$each[index].balanced.$error"
                    @blur="$v.form.pools.$each[index].balanced.$touch()"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="pool.gregarine_eggs" label="Huevos de gregarinas" outlined stack-label
                    error-message="Ingrese Huevos de gregarinas" map-options emit-value
                    option-label="label" option-value="id" :options="plusOptions"
                    :error="$v.form.pools.$each[index].gregarine_eggs.$error"
                    @blur="$v.form.pools.$each[index].gregarine_eggs.$touch()"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="pool.crustacean_remains" label="Restos crustáceos" outlined stack-label
                    error-message="Ingrese restos crustáceos" map-options emit-value
                    option-label="label" option-value="id" :options="plusOptions"
                    :error="$v.form.pools.$each[index].crustacean_remains.$error"
                    @blur="$v.form.pools.$each[index].crustacean_remains.$touch()"
                  />
                </div>
              </div>
            </q-tab-panel>

            <q-tab-panel name="Hepatopancreas">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="pool.lipids" label="Lípidos" outlined stack-label
                    error-message="Ingrese Lípidos" map-options emit-value option-label="label"
                    option-value="id" :options="plusOptions"
                    :error="$v.form.pools.$each[index].lipids.$error"
                    @blur="$v.form.pools.$each[index].lipids.$touch()"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="pool.thickening" map-options emit-value option-label="label"
                    option-value="id" :options="plusOptions" label="Engrosamiento" outlined stack-label
                    error-message="Ingrese Engrosamiento"
                    :error="$v.form.pools.$each[index].thickening.$error"
                    @blur="$v.form.pools.$each[index].thickening.$touch()"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="pool.deformity" label="Deformidad" outlined stack-label
                    error-message="Ingrese Deformidad" map-options emit-value option-label="label"
                    option-value="id" :options="plusOptions"
                    :error="$v.form.pools.$each[index].deformity.$error"
                    @blur="$v.form.pools.$each[index].deformity.$touch()"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="pool.constriction" label="Estrangulamiento" outlined stack-label
                    error-message="Ingrese Estrangulamiento"
                    :error="$v.form.pools.$each[index].constriction.$error" map-options emit-value option-label="label"
                    option-value="id" :options="plusOptions"
                    @blur="$v.form.pools.$each[index].constriction.$touch()"
                  />
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <!-- <q-input color="primary" type="number" v-model.number="pool.necrosis_in_tubules" label="Necrosis en tubulos de hp" outlined stack-label
                    error-message="Ingrese Necrosis en tubulos de hp"
                    :error="$v.form.pools.$each[index].necrosis_in_tubules.$error"
                    @blur="$v.form.pools.$each[index].necrosis_in_tubules.$touch()"
                  /> -->
                  <q-select color="primary" v-model="pool.necrosis_in_tubules" label="Necrosis" outlined stack-label
                    error-message="Ingrese Necrosis"
                    :error="$v.form.pools.$each[index].necrosis_in_tubules.$error" map-options emit-value option-label="label"
                    option-value="id" :options="plusOptions"
                    @blur="$v.form.pools.$each[index].necrosis_in_tubules.$touch()"
                  />

                  <q-select color="primary" v-model="pool.vermiform_bodies" label="Cuerpos vermiformes" outlined stack-label
                    error-message="Ingrese Cuerpos vermiformes"
                    :error="$v.form.pools.$each[index].vermiform_bodies.$error" map-options emit-value option-label="label"
                    option-value="id" :options="plusOptions"
                    @blur="$v.form.pools.$each[index].vermiform_bodies.$touch()"
                  />
                  <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-select color="primary" v-model="pool.baculovirus" label="Baculovirus" outlined stack-label
                    error-message="Ingrese baculovirus" map-options emit-value
                    option-label="label" option-value="id" :options="plusOptions"
                    :error="$v.form.pools.$each[index].baculovirus.$error"
                    @blur="$v.form.pools.$each[index].baculovirus.$touch()"
                  />
                </div>
                </div>
              </div>
            </q-tab-panel>
            <!-- <q-tab-panel name="observations">
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-input type="textarea" v-model="pool.observations" label="Observaciones" outlined stack-label
                      :error-message="`Ingrese observaciones de hasta 1000 caracteres. ${pool.observations ? pool.observations.length : 0} caracteres ingresados.`"
                      :error="$v.form.pools.$each[index].observations.$error"
                      @blur="$v.form.pools.$each[index].observations.$touch()" autogrow
                    >
                      <template v-slot:hint>
                        {{ pool.observations ? pool.observations.length : 0 }}/1000 caracteres
                      </template>
                    </q-input>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-12 col-lg-12 q-pb-md q-pr-md">
                  <q-input type="textarea" v-model="pool.recommendations" label="Recomendaciones" outlined stack-label
                      :error-message="`Ingrese recomendaciones de hasta 1000 caracteres. ${pool.recommendations ? pool.recommendations.length : 0} caracteres ingresados.`"
                      :error="$v.form.pools.$each[index].recommendations.$error"
                      @blur="$v.form.pools.$each[index].recommendations.$touch()" autogrow
                    >
                      <template v-slot:hint>
                        {{ pool.recommendations ? pool.recommendations.length : 0 }}/1000 caracteres
                      </template>
                  </q-input>
                </div>
              </div>
            </q-tab-panel> -->
            <q-tab-panel name="images">
              <div class="row">
                <q-card v-for="(img, imageIndex) in pool.images" :key="imageIndex" class="col-sm-6">
                  <q-img v-if="img.dir" :src="`${apiUrl}fileImg/${img.dir}`" native-context-menu :ratio="16/12">
                    <q-icon v-if="can('2.1.1.1.11')" class="absolute all-pointer-events" size="32px" name="close" color="red" style="top: 8px; right: 8px"
                      @click="deleteImage(imageIndex, img.dir, img, index)">
                    </q-icon>
                    <div class="absolute-bottom-right text-subtitle2">
                      {{ formatDate(img.date) }}
                      <br>
                      {{ img.description }}
                    </div>
                  </q-img>
                  <q-btn v-if="!img.dir" icon="add" color="primary" round @click="modalAddImage = true; currentImage = imageIndex"></q-btn>
                  <div class="row" style="width: 100%" v-if="img.dir">
                    <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: end">
                      <q-btn flat round color="primary" icon="edit" @click="showModalEditImage(img, imageIndex, index)">
                      </q-btn>
                      <q-btn flat round color="primary" icon="fullscreen" @click="zoomImage(img)">
                      </q-btn>
                    </div>
                  </div>
                </q-card>
                <q-card class="my-card q-ma-sm column items-center justify-center" flat>
                  <q-btn v-if="can('2.1.1.1.11')" icon="add" color="primary" round @click="showModalAddImage(index)"></q-btn>
                </q-card>
              </div>
            </q-tab-panel>
          </q-tab-panels>

          </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </q-card-section>
    </q-card>
    <div class="row q-pa-md">
      <q-dialog v-model="modalAddImage">
        <q-card class="modal text-primary" style="border-radius: 10px;">
          <q-card-section class="row q-pb-none">
            <div class="text-h6"><b>Agregar nueva imagen</b></div>
            <q-space />
            <q-btn color="negative" icon="close" flat round dense v-close-popup />
          </q-card-section>
          <q-card-section>
            <q-input class="col-md-12" standout bottom-slots filled v-model="image.date" type="date" label="Fecha" stack-label
              :error="$v.image.date.$error" @blur="$v.image.date.$touch()" bg-color="#F2F2F2"
              error-message="Ingrese fecha de la imagen" label-color="grey-7" color="grey-7">
            </q-input>
            <q-input class="col-md-12" standout filled v-model="image.description" label="Descripción" stack-label
              error-message="Ingrese descripción de la imagen" :error="$v.image.description.$error" bg-color="#F2F2F2"
              @blur="$v.image.description.$touch()" label-color="grey-7" color="grey-7"></q-input>
            <!-- <q-file standout filled class="col-md-12" v-model="image.file" error-message="Seleccione archivo"
              :error="$v.image.file.$error" @blur="$v.image.file.$touch()" bg-color="#F2F2F2"
              label-color="grey-7" color="grey-7" label="Seleccione una imagen"></q-file> -->
              <q-input standout filled class="col-md-12" type="file" v-model="image.file" error-message="Seleccione archivo"
              :error="$v.image.file.$error" @blur="$v.image.file.$touch()" bg-color="#F2F2F2"
              label-color="grey-7" color="grey-7"></q-input>
              <div class="row" style="text-align: right">
                <div class="col-md-12">
                  <q-btn color="primary" rounded label="Agregar" @click="uploadImage"></q-btn>
                </div>
              </div>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog v-model="modalEditImage">
        <q-card class="modal text-primary" style="border-radius: 10px;">
          <q-card-section class="row q-pb-none">
            <div class="text-h6"><b>Editar imagen</b></div>
            <q-space />
            <q-btn color="negative" icon="close" flat round dense v-close-popup />
          </q-card-section>
          <q-card-section>
            <q-input class="col-md-12" standout bottom-slots filled v-model="image.date" type="date" label="Fecha" stack-label
              :error="$v.image.date.$error" @blur="$v.image.date.$touch()" bg-color="#F2F2F2"
              error-message="Ingrese fecha de la imagen" label-color="grey-7" color="grey-7">
            </q-input>
            <q-input class="col-md-12" standout filled v-model="image.description" label="Descripción" stack-label
              error-message="Ingrese descripción de la imagen" :error="$v.image.description.$error" bg-color="#F2F2F2"
              @blur="$v.image.description.$touch()" label-color="grey-7" color="grey-7"></q-input>
            <!-- <q-file standout filled class="col-md-12" v-model="image.file" error-message="Seleccione archivo"
              :error="$v.image.file.$error" @blur="$v.image.file.$touch()" bg-color="#F2F2F2" label="Seleccione una imagen"
              label-color="grey-7" color="grey-7" hint="Seleccione archivo solo si desea reemplazar el actual"></q-file> -->
              <q-input standout filled class="col-md-12" type="file" v-model="image.file" error-message="Seleccione archivo"
              :error="$v.image.file.$error" @blur="$v.image.file.$touch()" bg-color="#F2F2F2"
              label-color="grey-7" color="grey-7" hint="Seleccione archivo solo si desea reemplazar el actual"></q-input>
              <div class="q-pt-md row" style="text-align: right">
                <div class="col-md-12">
                  <q-btn color="primary" rounded label="Editar" @click="uploadImage"></q-btn>
                </div>
              </div>
          </q-card-section>
        </q-card>
      </q-dialog>
      <q-dialog v-model="showZoomImage">
        <q-img :src="`${apiUrl}fileImg/${zoomFilename}`" native-context-menu>
        <q-icon class="absolute all-pointer-events" size="32px" name="close" color="red" style="top: 8px; right: 8px" v-close-popup>
          <q-tooltip>Cerrar</q-tooltip>
        </q-icon>
        </q-img>
      </q-dialog>
    </div>
  </q-page>
</template>
<script>
import { required, requiredIf, maxLength } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../mixins/form'
import { FileMixin } from '../../../mixins/file'
import { date } from 'quasar'
import { mapGetters } from 'vuex'
export default {
  mixins: [FormMixin, FileMixin],
  components: {
  },
  data () {
    return {
      customerID: this.$route.params.id,
      shrimpId: this.$route.params.shrimpId !== 'undefined' ? this.$route.params.shrimpId : undefined,
      analisys_id: this.$route.params.id_analysis,
      title: 'Análisis patológico de camarón',
      subtitle: this.insert ? 'Nuevo análisis' : 'Ver análisis',
      route: 'patologies_analisys',
      form: {
        pools: []
      },
      image: {},
      images: [],
      apiUrl: process.env.apiUrl,
      modalAddImage: false,
      currentImage: 0,
      zoomFilename: '',
      showZoomImage: false,
      modalEditImage: false,
      customer: {},
      table: [
        '+ Bajo',
        '(1-25% afectación)',
        '++ Medio',
        '(26-50% afectación)',
        '+++ Alto',
        '(51-75% afectación)',
        '++++ Muy Alto',
        '(76-100% afectación)'
      ],
      plusOptions: [
        {
          label: '',
          id: null
        },
        {
          label: '+',
          id: 1
        },
        {
          label: '++',
          id: 2
        },
        {
          label: '+++',
          id: 3
        },
        {
          label: '++++',
          id: 4
        }
      ],
      shrimp: {
        zone: {}
      },
      poolIndex: null,
      shrimps: [],
      shrimpReadOnly: false,
      tab: '',
      tab2: 'pools',
      showHint: false,
      localStorageKeyImages: 'pathologies_images_to_upload' // Se va llenar con los nombres de las imágenes en modo offline
    }
  },
  computed: {
    ...mapGetters('generals', ['can']),
    canAddPool () {
      const pools = this.form.shrimp_id && this.shrimps.length ? (this.shrimps.find(val => val.id === parseInt(this.form.shrimp_id))).pools : []
      return this.form.pools.length < pools.length
    },
    zoneName () {
      return this.form.shrimp_id && this.shrimps.length ? this.shrimps.find(val => val.id === this.form.shrimp_id).zone.name : ''
    },
    applicants () {
      return this.form.shrimp_id && this.shrimps.length ? this.shrimps.find(val => val.id === this.form.shrimp_id).contacts : []
    },
    pools () {
      // Obtengo las piscinas de la camaronera seleccionada
      const pools = this.form.shrimp_id && this.shrimps.length ? (this.shrimps.find(val => val.id === parseInt(this.form.shrimp_id))).pools : []
      const added = []
      this.form.pools.forEach(element => {
        pools.forEach(element2 => {
          if (element.pool_id === element2.id) {
            added.push(element.pool_id)
          }
        })
      })
      // Retorno las piscinas disponibles
      return pools.filter(val => added.indexOf(val.id) === -1)
    }
  },
  validations () {
    return {
      form: {
        zone_id: { },
        applicant_id: { required },
        analysis_date: { required },
        delivery_date: {
          required,
          minValue: (value) => {
            return value >= this.form.analysis_date
          }
        },
        observations: { maxLength: maxLength(1000) },
        recommendations: { maxLength: maxLength(1000) },
        pools: {
          required,
          $each: {
            pool_id: { required },
            average_weight_pool: {},
            flaccidity: {},
            inflameduropods_pool: {},
            rough_antennas_pool: {},
            misshapen_dwarfs: {},
            dirty: {},
            necrosis: {},
            algae: {},
            epistylis: {},
            vortex: {},
            zoothamnium: {},
            acineta: {},
            ciliated_apostome: {},
            chromatophores: {},
            lipids: {},
            thickening: {},
            deformity: {},
            constriction: {},
            necrosis_in_tubules: {},
            average_intestine_weight: {},
            inflamed_neuropods_intestine: {},
            rough_antennas_intestine: {},
            pool_intestine_id: { },
            baculovirus: {},
            gregarious: {},
            nemamotods: {},
            intestine_algae: {},
            debris: {},
            balanced: {},
            crustacean_remains: {},
            others: {},
            vermiform_bodies: {},
            gregarine_eggs: {}
          }
        }
      },
      image: {
        date: { required },
        description: { required },
        file: {
          required: requiredIf(function (model) {
            return this.modalAddImage
          })
        }
      }
    }
  },
  async mounted () {
    // this.getCustomer()
    this.getShrimp()
  },
  methods: {
    /* getCustomer () {
      this.$api.get(`customers/${this.customerID}`).then(res => {
        if (res) {
          this.customer = res
          const shrimpPools = (this.customer.shrimps.find(val => val.id === parseInt(this.shrimpId))).pools
          this.pools = shrimpPools
          this.setAvailablePools()
        }
      })
    }, */
    /* setAvailablePools () {
      const pools = this.pools

      pools.forEach(element => {
        element.disable = false
      })

      this.form.pools.forEach(element => {
        pools.forEach(element2 => {
          // delete element2.disable
          if (element.pool_id === element2.id) {
            element2.disable = true
          } else {
          }
        })
      })
      this.pools = pools
      console.log(this.form, 'form')
    }, */
    beforeValidate () {
      if (!this.form.pools.length) {
        this.$q.notify({
          type: 'warning',
          message: 'Debes añadir al menos una piscina'
        })
      }
    },
    afterGetRecord () {
      // this.setAvailablePools()
      this.tab = this.form.pools.length ? this.form.pools[0].pool_id : ''
    },
    afterSave (response = undefined) {
      if (response) {
        this.$api.get(`pathology_analysis_print/${response.id}`).then(res => {})
      }
      // Agregar aqui las fotos del analisis
      /*  this.images.forEach(element => {
        element.analisys_id = response.id
        element.dir = element.filename
        if (element.description) {
          this.$api.post('SendImg', element).then(res => {})
        }
      }) */
    },
    async getShrimp () {
      /* this.$api.get(`shrimps/${this.shrimpId}`).then(res => {
        if (res) {
          this.shrimp = res
          this.applicants = res.contacts
        }
      }) */
      this.shrimps = await this.$api.getData('shrimps')
      if (this.shrimpId) {
        this.$set(this.form, 'shrimp_id', parseInt(this.shrimpId))
        this.shrimpReadOnly = true // Si se recibió la camaronera para el análisis colocar el campo de solo lectura
      }
    },
    addPool (pool) {
      this.form.pools.unshift({
        pool_id: pool.id,
        description: pool.description,
        expanded: true,
        area: pool.area
      })
      this.tab = pool.id
      // this.setAvailablePools()
    },
    deleteImage (index, fileName, img, poolIndex) {
      /* if (this.analisys_id) {
        this.$api.post('Img/' + this.analisys_id, img).then(res => {})
      } */
      // La reactividad de Vue enloquece cuando se modifican o reasignan elementos de un array anidado o de objetos. En este caso con splice
      // Con el método $set después de hacer modificaciones al array lo convierto en reactivo
      this.form.pools[poolIndex].images.splice(index, 1)
      this.$set(this.form.pools, poolIndex, this.form.pools[poolIndex])
    },
    zoomImage (img) {
      this.showZoomImage = true
      this.zoomFilename = img.dir
    },
    showModalEditImage (image, index, poolIndex) {
      this.image = JSON.parse(JSON.stringify(image))
      this.modalEditImage = true
      this.currentImage = index
      this.poolIndex = poolIndex
    },
    uploadImage () {
      this.$v.image.$touch()
      if (!this.$v.image.$error) {
        this.$q.loading.show()
        if (this.modalAddImage || (this.modalEditImage && this.image.file)) { // Si se está añadiendo una nueva imagen, tanto inserción como edición
          const formData = new FormData()
          console.log('ana', this.analisys_id)
          formData.append('analisys_id', this.analisys_id)
          formData.append('file', this.image.file[0])
          this.$api.post('analisis_image', formData, {
            headers: {
              'Content-Type': undefined
            }
          }).then(res => {
            console.log('res', res)
            if (res) {
              if (this.form.pools[this.poolIndex].images && this.form.pools[this.poolIndex].images.length) { // Si hay imágenes en la piscina se inserta la nueva
                if (this.modalAddImage) { // Si es inserción
                  this.form.pools[this.poolIndex].images.push({
                    date: this.image.date,
                    description: this.image.description,
                    dir: res
                  })
                } else {
                  this.form.pools[this.poolIndex].images[this.currentImage] = {
                    date: this.image.date,
                    description: this.image.description,
                    dir: res
                  }
                }
              } else { // Si no hay imágenes en la piscina se crea el array
                this.form.pools[this.poolIndex].images = [{
                  date: this.image.date,
                  description: this.image.description,
                  dir: res
                }]
              }

              this.image.dir = res
              this.image = {}
              // console.log(this.images)
              this.modalAddImage = false
              this.modalEditImage = false
            } else { // Si no hay conexión
              alert('No hay conexión, imagen se guardará localment. Es posible que no tengas vista previa de tus imágenes hasta que haya conexión')
              let fileName = this.image.file[0].name.replace(/\s/g, '')
              fileName = fileName.split('-').join('')
              this.saveBlob2File(fileName, this.image.file[0], { analisys_id: this.analisys_id, fileName }, this.localStorageKeyImages)
              if (this.form.pools[this.poolIndex].images && this.form.pools[this.poolIndex].images.length) { // Si hay imágenes en la piscina se inserta la nueva
                if (this.modalAddImage) { // Si es inserción
                  this.form.pools[this.poolIndex].images.push({
                    date: this.image.date,
                    description: this.image.description,
                    dir: fileName
                  })
                } else {
                  this.form.pools[this.poolIndex].images[this.currentImage] = {
                    date: this.image.date,
                    description: this.image.description,
                    dir: fileName
                  }
                }
              } else { // Si no hay imágenes en la piscina se crea el array
                this.form.pools[this.poolIndex].images = [{
                  date: this.image.date,
                  description: this.image.description,
                  dir: fileName
                }]
              }

              this.image = {}
              // console.log(this.images)
              this.modalAddImage = false
              this.modalEditImage = false
            }
            this.$q.loading.hide()
          })
        } else {
          this.form.pools[this.poolIndex].images[this.currentImage].date = this.image.date
          this.form.pools[this.poolIndex].images[this.currentImage].description = this.image.description
          /* this.images[this.currentImage].date = this.image.date
          this.images[this.currentImage].description = this.image.description */

          this.image = {}
          this.$v.image.$reset()
          this.modalEditImage = false
          this.$q.loading.hide()
        }
      }
    },
    formatDate (imageDate) {
      return date.formatDate(date.addToDate(imageDate, { days: 1 }), 'DD-MM-YYYY')
    },
    showModalAddImage (poolIndex) {
      this.$v.image.$reset()
      this.image = {}
      this.modalAddImage = true
      this.poolIndex = poolIndex
    },
    showPoolOptions (index) {
      const vm = this
      return function (props) {
        vm.$q.bottomSheet({
          message: 'Acciones sobre piscina',
          actions: [
            {
              color: 'primary',
              label: 'Eliminar',
              icon: 'delete',
              id: 'deletePool'
            }
          ]
        }).onOk(action => {
          console.log('Action chosen:', action.id)
          vm[action.id](index)
        })
      }
    },
    deletePool (index) {
      this.$q.dialog({
        title: 'Confirmar',
        message: '¿Realmente desea eliminar la piscina del análisis?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.form.pools.splice(index, 1)
      })
    },
    async showAPi () {
      console.log(await this.$api.post('analisis_image'))
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 250px
  max-width: 250px
.modal
  width: 320px
</style>
