<template>
  <q-page>
     <q-card class="q-pa-md">
      <div class="row col-9">
      <div class="text-h4 text-primary"><b>Enviar Análisis de patologías #{{ id }}</b></div>
    </div>
    <div class="col-3" style="text-align: right;">
      <q-btn class="q-ma-sm" rounded label="Enviar correo" color="primary" size="md"
      @click="save">
      </q-btn>
    </div>
      <br>
       <div class="row q-pa-sm">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-select v-model="form.to" multiple outlined label="Para"
            hint="Debe Ingresar por lo menos un correo" :options="options_to"
            error-message="Seleccione por lo menos un correo para el envio" :error="$v.form.to.$error"
            @blur="$v.form.to.$touch()" new-value-mode="add-unique"
          >
            <template v-slot:after>
              <q-btn round dense class="q-mr-sm" icon="add" color="positive" @click="dialog_add_email = true" />
            </template>
          </q-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 q-pb-md">
          <q-input v-model="form.cc" outlined label="Email Cliente" autogrow
            :error="$v.form.cc.$error" error-message="Email de cliente invalido" @blur="$v.form.cc.$touch()"
            readonly
          />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 q-pb-md">
          <q-input v-model="form.content" outlined label="Redacte su Correo Aqui" autogrow
            hint="Redacte su correo" :error="$v.form.content.$error"
            error-message="Redacte el Correo" @blur="$v.form.content.$touch()"
          />
        </div>
       </div>
       <q-dialog v-model="dialog_add_email">
          <q-card style="width:350px">
            <q-card-section>
              <div class="text-h6 text-primary">Agregar Email</div>
              <q-separator class="q-mb-md" />
              <q-input v-model="email_add" error-message="Ingrese un Email Valido" outlined dense
                :error="$v.email_add.$error" @blur="$v.email_add.$touch()" label="Email" autofocus type="email"
              />
            </q-card-section>
            <q-card-actions align="right">
              <q-btn label="Volver" color="grey-7" outline v-close-popup />
              <q-btn push glossy label="Agregar" color="primary" @click="add_email()" />
            </q-card-actions>
          </q-card>
       </q-dialog>
      <!-- <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Enviar" @click="save" glossy />
      </q-card-actions> -->
     </q-card>
  </q-page>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
export default {
  data () {
    return {
      form: {
        to: []
      },
      title: 'Enviar Correo',
      subtitle: 'Nuevo Correo',
      route: '',
      field: '',
      options_to: [],
      dialog_add_email: false,
      email_add: '',
      id: this.$route.params.id,
      shrimpId: this.$route.params.shrimp_id,
      idPathology: this.$route.params.id
    }
  },
  validations () {
    return {
      form: {
        to: { required },
        content: { required },
        cc: { required, email }
      },
      email_add: { email }
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Clientes',
        icon: 'person',
        to: '/customers'
      },
      {
        label: 'Gestión Cliente',
        icon: 'person',
        to: '/customers/show/' + this.id
      },
      {
        label: 'Camaroneras',
        icon: 'person',
        to: `/customers/show/${this.id}/shrimps`
      },
      {
        label: 'Patologias',
        icon: 'person',
        to: `/customers/show/${this.id}/shrimps/${this.shrimpId}/pathologies`
      },
      {
        label: 'Enviar correo',
        icon: 'person',
        to: `/customers/show/${this.id}/shrimps/${this.shrimpId}/pathologies/send_mail/${this.idPathology}`
      }
    ])
    console.log(this.$route.params, 'route')
    this.getRecord()
  },
  methods: {
    save () {
      this.$v.form.$touch()
      if (!this.$v.form.$error) {
        this.$q.loading.show()
        this.$api.post('pathologies_send_mail/' + this.idPathology, this.form).then(res => {
          this.$q.loading.hide()
          if (res) {
            this.$q.notify({
              type: 'positive',
              message: 'Procesado Correctamente'
            })
            this.$router.go(-1)
          }
        })
      }
    },
    add_email () {
      this.$v.email_add.$touch()
      const result = this.form.to.find(v => v === this.email_add)
      if (!this.$v.email_add.$error && !result) {
        this.form.to.push(this.email_add)
        this.options_to.push(this.email_add)
        this.dialog_add_email = false
        this.email_add = ''
      } else if (result) {
        console.log('ya existe el email')
      }
    },
    async getRecord () {
      /* this.$api.get(`pathologies_send_mail_info/${this.idPathology}`).then(res => {
        this.form.to = [res.to]
        this.options_to = [...res.contacts_email]
        this.form.cc = res.email_customer
      }) */
      const res = await this.$api.getData(`pathologies_send_mail_info/${this.idPathology}`)
      this.form.to = [res.to]
      this.options_to = [...res.contacts_email]
      this.form.cc = res.email_customer
    }
  }
}
</script>

<style>

</style>
