<template>
  <q-page>
    <!-- <q-btn-group push>
      <q-btn color="primary" push label="Acción 1" icon="timeline" />
      <q-btn push label="Acción 2" icon="visibility" />
      <q-btn text-color="primary" push label="Acción 3" icon="update" />
    </q-btn-group> -->
    <q-card class="q-pa-md">
     <q-card-section class="bg-primary text-white row">
        <div class="col-md-2">
          <div class="text-h6">{{ title }}</div>
          <div class="text-subtitle2">{{ subtitle }}</div>
        </div>
        <div style="margin: auto" class="row items-center justify-center">
          <q-btn class="q-mr-md" outline text-color="white" label="Volver" @click="$router.go(-1)" />
          <q-btn push color="primary" label="Guardar" @click="save" glossy />
        </div>
      </q-card-section>

      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-select color="primary" v-model="form.area_id" :options="areas" label="Área" emit-value map-options
            outlined hint="Seleccione un área" error-message="Seleccione un área"
            :error="$v.form.area_id.$error" @blur="$v.form.area_id.$touch()" option-label="description" option-value="id" autofocus>
          </q-select>
        </div>
      </div>

      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-select color="primary" v-model="form.department_id" :options="departments" label="Departamento" emit-value map-options
            outlined hint="Seleccione un área" error-message="Seleccione un área"
            :error="$v.form.department_id.$error" @blur="$v.form.department_id.$touch()" option-label="name" option-value="id" autofocus>
          </q-select>
        </div>
      </div>

      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-input color="primary" v-model="form.description" label="Nombre" error-message="Ingrese nombre de sección válido"
            :error="$v.form.description.$error" @blur="$v.form.description.$touch()" placeholder="Sección 1"
            hint="Ingrese nombre de sección válido" outlined autofocus>
          </q-input>
        </div>
      </div>
      <q-separator />

      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../mixins/form'
export default {
  mixins: [FormMixin],
  components: {
  },
  data () {
    return {
      title: 'Secciones',
      subtitle: 'Nueva sección',
      route: 'sections',
      form: {
      },
      areas: [],
      departments: []
    }
  },
  validations () {
    return {
      form: {
        area_id: { required },
        department_id: { required },
        description: { required, minLength: minLength(6), maxLength: maxLength(60) }
      }
    }
  },
  mounted () {
    console.log(this.$q)
    this.getAreas()
    this.getDepartments()
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Secciones',
        icon: 'person',
        to: '/sections'
      },
      {
        label: 'Nueva sección',
        icon: 'person',
        to: 'sections/form'
      }
    ])
  },
  methods: {
    getAreas () {
      this.$api.get('areas').then(res => {
        if (res) {
          this.areas = res
        }
      })
    },
    getDepartments () {
      this.$api.get('departments').then(res => {
        if (res) {
          this.departments = res
        }
      })
    }
  }
}
</script>
