<template>
  <q-page>
    <!-- <q-btn-group push>
      <q-btn color="primary" push label="Acción 1" icon="timeline" />
      <q-btn push label="Acción 2" icon="visibility" />
      <q-btn text-color="primary" push label="Acción 3" icon="update" />
    </q-btn-group> -->
    <q-card class="q-pa-md">
     <!-- <q-card-section class="bg-primary text-white row">
        <div class="col-md-2">
          <div class="text-h6">{{ title }}</div>
          <div class="text-subtitle2">{{ subtitle }}</div>
        </div>
        <div style="margin: auto" class="row items-center justify-center">
          <q-btn class="q-mr-md" outline text-color="white" label="Volver" @click="$router.go(-1)" />
          <q-btn push color="primary" label="Guardar" @click="save" glossy />
        </div>
      </q-card-section> -->
      <FormHeader :title="title" :subtitle="subtitle" :save="save" />

      <div class="row q-pa-sm">
        <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2">
          <q-input color="primary" v-model="form.description" label="Nombre" error-message="Ingrese nombre de área válido"
            :error="$v.form.description.$error" @blur="$v.form.description.$touch()" placeholder="Área 1"
            hint="Ingrese nombre de área válido" outlined autofocus>
          </q-input>
        </div>
      </div>
      <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-5 col-lg-2 q-pt-md">
        <q-card flat bordered>
          <div style="cursor: pointer" class="q-pa-lg">
            <q-btn class="float-right" round color="primary" icon="add" @click="addDepartment"/>
          </div>
          <q-card-section class="">
            <div class="text-subtitle2" :style="$v.form.departments.$error ? 'color: red' : 'color: black'">Departamentos
              <small>Seleccione al menos un departamento</small>
            </div>
          </q-card-section>
          <q-list>
            <q-item tag="label" v-ripple v-for="(department, index) in departments" :key="index">
              <q-item-section avatar>
                <q-checkbox v-model="form.departments" :val="department.id" color="primary" />
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ department.name }}</q-item-label>
                <q-item-label caption>{{ department.description }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card>
      </div>
      <q-separator />

      <q-card-actions align="center">
        <q-btn outline text-color="grey-7" label="Volver" @click="$router.go(-1)" />
        <q-btn push color="primary" label="Guardar" @click="save" glossy />
      </q-card-actions>
    </q-card>
  </q-page>
</template>
<script>
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import { FormMixin } from '../../../../mixins/form'
import FormHeader from 'components/FormHeader'
export default {
  mixins: [FormMixin],
  components: {
    FormHeader
  },
  data () {
    return {
      title: 'Áreas',
      subtitle: 'Nueva área',
      route: 'areas',
      form: {
        departments: []
      },
      departments: []
    }
  },
  validations () {
    return {
      form: {
        description: { required, minLength: minLength(6), maxLength: maxLength(60) },
        departments: { required }
      }
    }
  },
  mounted () {
    this.$emit('setBreadcrumb', [
      {
        label: 'Home',
        icon: 'home',
        to: '/menu'
      },
      {
        label: 'Áreas',
        icon: 'person',
        to: '/areas'
      },
      {
        label: 'Nueva área',
        icon: 'person',
        to: 'areas/form'
      }
    ])
  },
  methods: {
    getDepartments () {
      this.$api.get('departments', { params: { notAssigned: true } }).then(res => {
        if (res) {
          if (this.insert) {
            this.departments = res
          } else {
            this.departments = this.form.departments.concat(res)
            this.form.departments = this.form.departmentIds
          }
        }
      })
    },
    afterMounted () {
      this.getDepartments()
    },
    addDepartment () {
      this.$q.dialog({
        title: 'Nuevo departamento',
        message: 'Nombre del departamento',
        prompt: {
          model: '',
          isValid: val => val.length > 2,
          type: 'text' // optional
        },
        cancel: true,
        persistent: true
      }).onOk(data => {
        this.$api.post('departments', { name: data }).then(res => {
          this.getDepartments()
        })
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    }
  }
}
</script>
