<template>
  <div>
    <shrimp v-for="shrimp in shrimps" :key="shrimp.id" :shrimp="shrimp"/>
  </div>
</template>
<script>
import Shrimp from 'components/Shrimp'
export default {
  components: {
    Shrimp
  },
  data () {
    return {
      shrimps: []
    }
  },
  mounted () {
    this.getShrimps()
  },
  methods: {
    async getShrimps () {
      this.shrimps = await this.$api.getData('shrimps')
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 250px
</style>
